[2015-09-13 14:53] benhaynes commented on #1027
The thumbnail generated is one optimized (dimensions/quality/filesize) for the CMS itself. I assume you are looking for thumbnails to be used by your application? In version 5 there was an auto thumb generator for application use, but it was removed. We've used external scripts that check for a thumbs existence and if present it's returned... if not, it's generated (based on parameters) and return

[2015-09-13 15:10] Roakart commented on #1027
Yes I am.
I would like to change thumbnails size on my website without modify their quality, but the size of the thumbnail is 200px so I cannot.

[2015-09-13 15:13] benhaynes commented on #1027
Makes sense – we'll try to expedite that feature (https://github.com/RNGR/Directus/issues/1028), but are in the middle of some big schema tickets that came up during our last marketing push. In the meantime I would recommend looking into an external (on-the-fly) thumb generator. We appreciate your feedback, if I can dig up the script we use (outside of Directus) I'll send it over...

[2015-09-13 15:13] #1027 closed

[2015-09-13 15:14] Roakart commented on #1027
Thanks ;)

[2015-09-16 01:45] benhaynes opened #1030 "Add "tour" overlay for first-time users"
Very simple. An overlay that shows where things are and what names mean.

Should be skippable

[2015-09-16 19:02] WellingGuzman opened #1031 "Set UI "default" option values at creation"
Make the default UI values works, when you add a UI for the first time, without editing the options it wont make use of its default values.

Ex: I found this while creating multiple_files UI, by default you should be able to add files by adding new ones or browse the files you already had uploaded. but as there's not option _yet_ saved on the database it won't let me do it, until I go to settings

[2015-09-17 14:11] benhaynes commented on #1031
@WellingGuzman Yeah, I mentioned exactly this... not sure if there's a ticket though. Basically defaults need to be gone through to ensure they are the UI default, not only the settings default... since settings aren't entered in the database until you save the first time.

[2015-09-22 18:05] sonyarianto opened #1038 "Server error occurred! on login"
Sorry ask this again since I can't find good answer for this. I am trying install Directus on my VPS CentOS 6.5 using virtualmin, everything OK during installation and all requirements are OK, but when I login I got "Server error occured".
I checked on log and found below:
[code]
how to make it work? I already follow to add overrideAllow All but it failed.

[2015-09-25 10:55] Mahjouba91 opened #1042 "Blocking Error when trying to update my group profile"
Hi,

I'm the owner of the website, I installed Directus with sample data and it works well.

I got an error when I'm trying to update my group profile. First, this field was blank, So I decided to put it in "Administrator" Group. But it fails, it says that I didn't chose any group. By the way, when I am trying to leave it blank, it fails too.

![users](https://cloud.githubusercontent.com/assets/86

[2015-09-25 11:01] Mahjouba91 commented on #1000
@WellingGuzman I got this error when I'm trying to upload an avatar :
Fatal error: Class 'finfo' not found in C:\xampp\htdocs\Directus\api\core\Directus\Files\Storage\Adapter\Adapter.php on line 108

Don't know if it's a matter of php extension or if it's related to this issue.

[2015-09-25 12:34] WellingGuzman commented on #1042
Thanks @Mahjouba91 I'm taking care of this issue right now.

[2015-09-25 12:53] #1042 closed

[2015-09-28 17:26] DionTimmermann opened #1044 "Every api call redirected to /api/api.php?run_api_router=1"
I have a fresh install and successfully set up the DB. When trying to log in, I get the message "Server error occurred!".

mod_rewrite is enabled. It seems as if every api call (e.g.  www.myserver.com/path/to/directus/api/1/auth/login ) gets redirected to www.myserver.com/path/to/directus/api/api.php?run_api_router=1 , which then shows a 404 error. I had to remove the line "Options +FollowSymlinks

[2015-09-30 14:14] benhaynes commented on #1044
Hey @DionTimmermann – we're checking this out and will report back with a fix shortly. Thanks for bringing this to our attention!

[2015-10-01 10:34] Mahjouba91 opened #1045 "Error Message when clicking on a Bookmark entry"
Hello,

I tried to create a bookmark, So I entered a name, and when I click on this new bookmark in the menu, I got this error message :

[code]

[2015-10-01 10:39] Mahjouba91 opened #1046 "Add new user group Call to action button doesn't work"
In the URL path : www.mywebsite.com/settings/permissions

When I click on the call to action button "Add new user group", nothing happen whereas when I click on the green "+" button, it works.

[2015-10-01 10:43] Mahjouba91 opened #1047 "Error Message when trying to create a new User Group"
When I try to add a new User Group, after entering the User group name, I got this error message :

[code]

By the way, The page display the loader spinner without a stop.

When I try to reload the page, the user group is created

[2015-10-01 10:52] Mahjouba91 commented on #1047
Is it possible that a git pull of your project to have your last commits corrupt the database ?

I tried some things on my personnal user, and since this moment I can't see any user in the user table, even when I created a new one. It's strange.

[2015-10-02 00:49] WellingGuzman commented on #1047
@Mahjouba91 This is certainly strange, thanks for letting us knows, we are taking care of this right now.

It also seems relatad with #1045 and #1046

Thanks

[2015-10-02 01:23] WellingGuzman commented on #1046
@Mahjouba91 We are aware that this button is not working, but I think we thought on removing it. @benhaynes do you remember what was the final decision on this button?

[2015-10-05 14:01] benhaynes commented on #1046
@WellingGuzman – Let's keep the top (green) button in the header. We can remove the lower one. Then we can come up with a better admin system for when we need two primary buttons (edit fields page).

[2015-10-07 02:10] benhaynes commented on #1038
@WellingGuzman any thoughts on this?

[2015-10-07 02:43] WellingGuzman commented on #1038
@sonyarianto Apologies for a late response, but some hosting service do not allow `FollowSymlinks` option for security reason, and can expose other users files/directory.

A solution to this is using `SymLinksIfOwnerMatch` instead which only will follow the directory if the owner are the same.

So try to change `FollowSymlinks` with `SymLinksIfOwnerMatch` and see if it helps.

We are probably goin

[2015-10-07 03:00] sonyarianto commented on #1038
No problem, but for beginner user will have difficulties if there is "advanced" requirement like this and will reduced the adoption of Directus to wider audiences. I imagine Diretus should be simple (think like Adminer) but with current feature, so everybody can install/deploy easily in any server (shared hosting, VPS, dedicated etc etc).

[2015-10-07 03:45] WellingGuzman commented on #1038
@sonyarianto Thank you very much for you suggestion, but to be honest we're not aware that some hosting forbid this option, now we are going to discuss the idea of changing `FollowSymlinks` with `SymLinksIfOwnerMatch` by default.

[2015-10-07 10:47] romainhe opened #1052 "Restricted access - table alter access forbidden on table"
Hi,
When I try to add new field on my new table this error appear...

![capture](https://cloud.githubusercontent.com/assets/1837829/10311013/2a3ed966-6c45-11e5-9a88-73b991fda570.PNG)

[2015-10-07 13:38] benhaynes commented on #1052
@WellingGuzman shouldn't any tables added into Directus get `alter` by default?

[2015-10-07 19:52] WellingGuzman commented on #1052
@romainhe are you using the current version (there has been some changes in the database schema as well)? This was discussed and fixed #998 #1014

If you are using the current version (with current schema) and still happen, I'd take a look at this again.

[2015-10-08 07:29] romainhe commented on #1052
Actually I'm running 6.0.3 (displayed on the login page)
Downloaded last week directly on github

Thx for help

[2015-10-10 02:43] WellingGuzman commented on #805
## TODO's
- [ ] Multiple Adapter configuration
- [ ] Better object wrapper structure
- [ ] Easy way to add more adapter with little code

[2015-10-10 15:04] WellingGuzman opened #1056 "Loading overlay on smaller resolution"
@benhaynes on smaller screen the page loading blocker get just a part of the screen.

![screen shot 2015-10-09 at 8 06 32 pm](https://cloud.githubusercontent.com/assets/1531291/10411746/158e9e88-6f3e-11e5-8b07-91f12d52a957.jpg)

[2015-10-10 15:22] WellingGuzman commented on #862
This is done, but pending on merging the two UI together. @benhaynes should we open a new ticket for merging?

I'm closing it.

[2015-10-10 15:22] #862 closed

[2015-10-10 15:25] benhaynes opened #1057 "Merge all date/date time/time/year UIs"
We'll consolidate all these UIs into one, for cleaner and more manageable code.

[2015-10-10 15:51] WellingGuzman opened #1058 "Organizing Migrations"
We have been adding functionality, fixing bugs and schema changes that are not backward compatible, so updating to new version has been not as smooth as I thought, so I'm opening a ticket as a reminder or a better organization of the Migrations.

So This is how I look at it.
[code]

`latest` would be the current migrations "configuration".
Inside `upgrades` would be a directory with a version upgr

[2015-10-10 23:56] benhaynes commented on #1058
@WellingGuzman
Yeah, this sounds great. I've had 1 or 2 people come to me with issues doing big upgrades because of schema changes... so this will definitely help!

[2015-10-10 23:57] benhaynes commented on #862
(nice, I opened one)

[2015-10-10 23:57] benhaynes commented on #1056
Thanks for finding this @WellingGuzman ! I'll fix this asap...

[2015-10-12 02:33] #1046 closed

[2015-10-17 17:34] #1038 closed

[2015-10-20 08:01] beevelop commented on #1052
I can reproduce this bug using the **build** branch as the mentioned changes doesn't seem to be merged there yet. The issue is resolved in the **master** or **development** branch.

[2015-10-24 18:03] zetalevel opened #1062 "Uncaught exception on installation"
Fatal error: Uncaught exception 'PDOException' with message 'SQLSTATE[HY000] [1045] Access denied for user 'zsaint'@'localhost' (using password: YES)' in /opt/lampp/htdocs/Directus-build/api/vendor/zendframework/zend-db/Zend/Db/Adapter/Driver/Pdo/Connection.php:281 Stack trace: #0 /opt/lampp/htdocs/Directus-build/api/vendor/zendframework/zend-db/Zend/Db/Adapter/Driver/Pdo/Connection.php(281): PDO-

[2015-10-24 18:34] WellingGuzman commented on #1062
Thanks @zetalevel I'm going to work on this.

[2015-10-29 16:44] WellingGuzman commented on #1062
Hey @zetalevel to make everything sure that this is not happen could also tell me what did you do to this to happen?

[2015-11-05 02:36] benhaynes opened #1065 "Show sample data on install"
On installation, if you choose to add "Sample Data" it adds tables into the database but you can't see the table (ui_gallery) in the sidebar. It should add in the extra settings/data needed to show the actual table in the UI.

![screen shot 2015-11-04 at 9 33 06 pm](https://cloud.githubusercontent.com/assets/522079/10958424/cd3a5746-833b-11e5-857c-ccf98a24dc2d.png)

[2015-11-05 02:39] benhaynes opened #1066 "Show gravatar by default (on install)"
When installing, you create your master admin account. Once in Directus that user should have a default avatar (we should use gravatar if they don't have a file selected).

![screen shot 2015-11-04 at 9 38 16 pm](https://cloud.githubusercontent.com/assets/522079/10958481/74849ba6-833c-11e5-836b-7e1bc0b96216.png)

[2015-11-11 01:41] benhaynes opened #1067 "Adding tables within settings should update list"
When adding a table within settings (/settings/tables) using the green plus button... once you click OK it is added into the sidebar, but NOT the table listing on that page. It should add to both.

[2015-11-11 01:45] benhaynes opened #1068 "Adding an existing table under settings"
If you have added a table into the database, and then add it through Directus /settings/tables... if you add one table it works, but if you add a second (without refreshing the page) then you get a "This table already exists" error. This is related to https://github.com/RNGR/Directus/issues/1067

![screen shot 2015-11-10 at 8 42 54 pm](https://cloud.githubusercontent.com/assets/522079/11081586/e57

[2015-11-11 01:47] benhaynes commented on #1068
@WellingGuzman Also, is there a reason we can't find any tables in the DB (not added to Directus) and show them in the Settings/Tables list... even if we gray them out and put a "Add" button next to them? That would be easier for importing tables that you already have in the database. Thoughts?

[2015-11-12 00:42] benhaynes opened #1069 "Changing UI to Single File is not saving relational settings in directus_columns"
In the screenshot below, you can see that the demo table (ui_gallery) has the appropriate relational settings, but the column that I changed to be a "Single File" does not.

I added this table/column in the database directly, then added the table into directus on `/settings/tables` and then went in and changed the UI type to Single File. It _should_ set all the needed `directus_columns` data so th

[2015-11-13 00:29] benhaynes opened #1070 "System table defaults for directus_tables.user_create_column"
During installation the system tables should have default values for `directus_tables.user_create_column`. This defines the "owner" of the records of each... which is used in by directus_privileges (allow_view, etc):

* `directus_users => id`
* `directus_media => user`
* `directus_bookmarks => user`
* `directus_preferences => user`

[2015-11-13 03:35] benhaynes opened #1071 "Error empty "Group" field when editing User"
Not sure why this is happening, but when I try to save my user it's saying I need to fill in a group... but it already is filled in.

![screen shot 2015-11-12 at 7 12 23 pm](https://cloud.githubusercontent.com/assets/522079/11138218/9d27349a-898d-11e5-9368-11083e49f927.png)

[2015-11-13 03:38] benhaynes opened #1072 "Error uploading file to Files page (drag and drop)"
I deleted the directus_storage_adapters table from my database, it seems like there's still code that uses it.

![screen shot 2015-11-12 at 10 36 34 pm](https://cloud.githubusercontent.com/assets/522079/11138247/099f4b62-898e-11e5-8774-011c34828b99.png)

[2015-11-13 03:41] benhaynes commented on #1072
This might be related, but selecting an image within an overlay also throws an error:

![screen shot 2015-11-12 at 10 39 25 pm](https://cloud.githubusercontent.com/assets/522079/11138293/71834512-898e-11e5-9cdb-9f544941d9f7.png)

[2015-11-13 04:15] benhaynes opened #1073 "Hitting "enter" on field settings page throws error"
Every time you hit enter I get:
"Error: This table already exists"

![screen shot 2015-11-12 at 11 13 44 pm](https://cloud.githubusercontent.com/assets/522079/11138658/1f19fe92-8993-11e5-995f-a577687dc7e1.png)

[2015-11-13 04:28] benhaynes opened #1074 "Random error trying to save"
In the demo schema, trying to save an item in the projects table.

![screen shot 2015-11-12 at 11 26 29 pm](https://cloud.githubusercontent.com/assets/522079/11138792/e53b95f8-8994-11e5-88be-90662cb5c1e5.png)

[2015-11-13 04:31] benhaynes opened #1075 "Error accessing data after adjusting one of its UI options"
After updating a UI option ("rows" under `projects.client`) and then trying to view that table... I get the following SQL error:

![screen shot 2015-11-12 at 11 29 20 pm](https://cloud.githubusercontent.com/assets/522079/11138827/6ab1946c-8995-11e5-9217-a3902de1debe.png)

[2015-11-13 05:00] benhaynes opened #1076 "Problem reordering on Listing view (happened on second reorder)"
In the demo schema, when reordering items on the listing page (offices) – I'm getting the following error:

![screen shot 2015-11-12 at 11 57 38 pm](https://cloud.githubusercontent.com/assets/522079/11139113/3f30d4ac-8999-11e5-87aa-2e078e229ee1.png)

[2015-11-13 05:02] benhaynes commented on #1076
If you turn on reordering and drag the first item it works. Any items you drag after that throw an error. If you toggle the reorder off then on, it works the first time again.

[2015-11-13 05:18] benhaynes opened #1077 "Incorrect filtering after Bookmark"
Using the demo schema:

1. Click "Magazine Awards" and it shows View All Title="magazine" (3 items)
2. Click "Global" (or any table other than Awards)
3. Click "Awards" – it only shows 3 items instead of all of them. It needs to do a fresh pull of data and reset the View dropdown and filters

[2015-11-13 05:24] benhaynes opened #1078 "Friendly alert when you have a field starting with a number"
This will throw an error, we need to make sure field names are valid and throw friendly errors.

[2015-11-13 05:43] benhaynes commented on #1074
This was due to a number at the beginning of a field name (`3d_image`). Close as a duplicate of this new ticket: https://github.com/RNGR/Directus/issues/1078

[2015-11-13 05:43] #1074 closed

[2015-11-13 05:44] benhaynes commented on #1071
Looks good!

[2015-11-13 05:44] #1071 closed

[2015-11-13 05:46] benhaynes commented on #1072
To clarify, this is when you drag and drop an image to the Files PAGE not the UI...

It seems to still be looking for the temp folder... I'm moving this down to major since you can upload other ways. But let's try to get it fixed soon.

[2015-11-13 18:49] benhaynes opened #1079 "Similar table names aren't selected properly"
In the demo database there are two tables: "team" and "team_extended", in the screenshot below, we are actually on the "team_extended" but the nav says we're on "team". I assume this is because they start with the same string and it's stopping as soon as it has the (partial) match.

![screen shot 2015-11-13 at 1 47 34 pm](https://cloud.githubusercontent.com/assets/522079/11154446/5e2a4964-8a0d-11e

[2015-11-16 15:17] richjenks opened #1080 "Install build: Composer Dependencies Installed failing"
- Followed steps at https://github.com/RNGR/Directus/wiki/1.-Installation-&-Configuration#installation
- Downloaded zip of build branch (https://github.com/RNGR/Directus/tree/build)
- At Confirmation page, Composer Dependencies Installed is failing

Clicking Install just reloads the Confirmation page. There isn't a composer.json in `/api/`, which is presumably desirable as it's a build branch, but

[2015-11-16 15:42] WellingGuzman commented on #981
@benhaynes As we talking about, **not** having a primary key is it problematic, as it would be not having in any scenario out Directus. not having and primary key could end up being a table that can only insert, or we can ask for create a primary key.

are we going to disable "Primary" on table settings as we said we were going to, because it represents the "main" field rather than primary field/k

[2015-11-16 15:50] WellingGuzman commented on #1025
This issue was happening after we implement phpmailer library, and were having some issues with it, I'm going to try this again.

@benhaynes there's a huge bug I'd say huge but just medium large? anyway, a bug when resetting password, it would reset without asking the user (by email) if he/she wants to actually reset the password.

[2015-11-16 15:59] WellingGuzman commented on #1031
I'm going to add `In-Progress` I'm working on this one, it does work on listview, but I found out it's not working on the UIView itself, neither on UI settings.

[2015-11-16 16:09] WellingGuzman commented on #1044
@DionTimmermann we switched to `SymLinksIfOwnerMatch` this probably should've fixed your issue.

@benhaynes Although I was thinking to delete this whole line anyways, but maybe not. I'm closing this issue.

[2015-11-16 16:09] #1044 closed

[2015-11-16 16:15] WellingGuzman commented on #1062
Still can't replicate this issue, maybe it was the `build` branch, I'd make sure to keep build up to date, and try it again, if not, we should closed until it happens again. what do you think @benhaynes ?

[2015-11-16 16:22] WellingGuzman commented on #1080
Thanks @richjenks for let us know, I'd looking at this one, yeah it actually missing the dependencies on the build branch.

[2015-11-16 16:25] WellingGuzman commented on #1069
@benhaynes there's not screenshot below :smile:

Is this happening on all relational column? I'd take a look and get back at you.

[2015-11-16 16:27] benhaynes commented on #981
@WellingGuzman I think we need to pull the primary key from the schema (maybe it's `id` or maybe something else). But Directus *needs* a primary key, so if the table doesn't have one (or it's a compound key), when you go to the table you would see an alert telling you to set one.

For the "primary field" that is within tables now, we should either change the name to the "Reference" field or remove

[2015-11-16 16:33] benhaynes commented on #1025
Ahh, that is a big issue. Here's what it should be doing:

1. Password reset request
2. Saves `reset_token` and `reset_expiration` in `directus_users`
3. Email goes to user to confirm with URL to reset
4. If the user clicks that link (with the token) before the reset_expiration time then the framework resets the salt/password

This is how it was working previously, @WellingGuzman could you look in

[2015-11-16 16:34] benhaynes commented on #1031
OK, thanks!

[2015-11-16 16:36] benhaynes commented on #1062
Yeah, let's get the dev branch merged into master and get the build up to date. We can close this ticket and reopen if it happens again.

[2015-11-16 16:36] #1062 closed

[2015-11-16 16:38] benhaynes commented on #1080
Thanks for finding this @richjenks

@WellingGuzman – all the more reason to get the `build` branch up to date today!

[2015-11-16 16:40] benhaynes commented on #1069
@WellingGuzman
Whoops! Here's another screenshot. I can test on other relational columns, but it's definitely happening on Single File. If you *change* a UI type to be relational... it needs to create the right `directus_column` data for the relationship.

![screen shot 2015-11-16 at 11 38 49 am](https://cloud.githubusercontent.com/assets/522079/11187969/ac08cf34-8c56-11e5-9e9e-f3b5e9afd117.png)

[2015-11-16 16:47] benhaynes commented on #1045
I haven't been able to reproduce this one, but my guess is that the Bookmark name was rejected. I think I remember an issue where bookmarks names couldn't start with numbers, or have special characters. Although I just tested this and had no errors. I'll close this as "can not reproduce" – anyone can re-open if it occurs again.

[2015-11-16 16:47] #1045 closed

[2015-11-16 16:49] benhaynes opened #1081 "Can't delete Bookmarks with special characters"
When testing another issue, I noticed that while you can create Bookmarks with weird characters you can not *delete* them:

Try making/deleting a Bookmark with the title: `*(*%26YJKLLKJH%20h%20ks7987`

```Delete the bookmark "*(*%26YJKLLKJH%20h%20ks7987"?```

[2015-11-16 16:50] benhaynes commented on #1045
I was just informed that this was most likely due to the Primary Key work being performed at the time of this error. We have since wrapped up this refactor and the issue should be resolved. Let us know if it persists.

[2015-11-16 17:01] richjenks commented on #1080
Hi @benhaynes & @WellingGuzman  no probs, happy to help! Looking forward to getting Directus working because it looks pretty sweet.

[2015-11-16 19:51] WellingGuzman opened #1082 "Remove "No Items Found" after drag-drop file into Files page"
Having a empty Files page (no files entries) and drag-drop a file into the "Files page" upload a file but the message "No Items Found" still there until you refresh the page.

[2015-11-16 19:53] WellingGuzman opened #1083 "Put loading files first on the list (Drag-Drop Files page)"
To make the upload "cooler" I think should be better to any files being uploaded to be first on the list while it uploads.

[2015-11-17 02:13] #1072 closed

[2015-11-17 02:13] #1080 closed

[2015-11-17 09:56] richjenks commented on #1080
Confirmed fix, cheers guys!

[2015-11-19 03:49] WellingGuzman commented on #1076
Fixed in d36ead5234e378f4189a66cc3c757521ae4c5413

[2015-11-19 03:49] #1076 closed

[2015-11-19 03:54] WellingGuzman opened #1084 "Creating User - Generating new password, hide it after input lost focus."
Don't know if this is how we wanted to happen, but at least if we do, we don't need the blocker to show up.

Any thoughts @benhaynes ?

![screen shot 2015-11-18 at 11 54 10 pm](https://cloud.githubusercontent.com/assets/1531291/11261926/ae57df28-8e4f-11e5-905a-151df0e4e779.png)

[2015-11-19 20:58] benhaynes opened #1085 "Update api/configuration.php root path"
It seems that we need to change the default root path variable in the api/configuration.php file:

Within the filesystem array:
[code]

[2015-11-19 21:25] benhaynes opened #1086 "Deleting a bookmark: text"
When deleting a bookmark, the alert shows:

`Delete the bookmark "Magazine%20Awards"?`

The %20 should be a space... all text should be formatted properly.

[2015-11-19 21:26] benhaynes opened #1087 "Bookmarks aren't deleting"
When trying to delete a bookmark, the alert comes up but after saying "Confirm" the bookmark is NOT deleted.

[2015-11-19 21:34] benhaynes opened #1088 "Problem toggling the "View" permission for the first time"
When toggling the "view" permission for the first time it seems to also make the "add" permission active too. Is this on purpose @WellingGuzman ?

[2015-11-20 06:04] WellingGuzman commented on #1085
@benhaynes Oh by default we have the media directory on the root. so it should be this the correct way:
[code]

What we need to specify is that `BASE_PATH` is the base/root directory of Directus, and it doesn't have trailing slash .

We need to move this to the documentation.

Any thoughts?

[2015-11-20 17:41] benhaynes opened #1089 "Drag and Drop images isn't working for Multiple Files UI"
Choose and manual upload seem to work, but not drag and drop.

[2015-11-22 19:02] benhaynes opened #1090 "More information for system fields (Settings > tables & Inputs)"
See the image below.
System fields should better describe their function, with links to the applicable docs. The ID row could have a dropdown to select the Primary-Key (if not `ID`).

**ID** – System Field: (Required) Unique Primary-Key for each item [Learn More](https://github.com/directus/docs/)
**Active** – System Field: Allows drafts and "soft-delete". [Learn More](https://github.com/directus/

[2015-11-22 19:38] benhaynes opened #1091 "Incomplete fields when managing relationship details"
This looks good for many-to-**one** but is missing some fields for many-to-**many**:

* Junction Table
* Key Left
* Key Right

![screen shot 2015-11-22 at 2 35 30 pm](https://cloud.githubusercontent.com/assets/522079/11325839/75563ca4-9126-11e5-821f-7b8b2a89cf1d.png)

[2015-11-22 20:43] benhaynes opened #1092 "Abstract the config files?"
@WellingGuzman What do you think about abstracting the configuration files. Currently, they are in the API directory as PHP files – but couldn't we make them JSON files in the root so they are not tied to the server-side language? Does that seem like a good idea or overkill?

Also, would it make sense to have a decoupled directory structure like this:

[code]

Instead of this (currently):
[code]

[2015-11-22 20:59] benhaynes commented on #829
As for an interface, on the `Settings > Tables & Inputs` there should be a "Add New Grouping Label".
Clicking that adds a row where the user can type a label.

@benhaynes to design

[2015-11-23 04:26] benhaynes commented on #1005
@WellingGuzman – How hard is it to include the option to authenticate your email address with Google/Facebook/Github? I'm curious how long it would take to code this since these libraries are so common.

[2015-11-24 18:44] benhaynes opened #1093 "Deleting on the item detail should be instant"
Currently you have to fill in all required fields... if you're deleting something then you wouldn't care what's in each field... it should be a button, not a radio select. Ben to provide a design.

[2015-11-25 09:55] alketii opened #1094 "Next release prediction ?"
Hi, I know this isn't an issue, but do you have an ETA for the next release ?
Thanks.

[2015-11-25 14:36] benhaynes opened #1095 "Embeds aren't storing all values"
`date_uploaded`
`title`
`size` (might be working?) should be the number of seconds in the video

[2015-11-25 18:07] benhaynes commented on #1094
Hey @alketii – the next full/major release (v7) is probably a ways off... we're moving to smaller, more  incremental updates now. 6.1 will be mostly bug fixes and optimizations – then we have a whole backlog of other features that will be added in. Is there a specific feature you're looking for or a reason for asking?

Things have been progressing a bit slower the past three months due to somethin

[2015-11-25 18:07] #1094 closed

[2015-11-25 23:27] WellingGuzman opened #1096 "Working with media base on its type rather than extension"
As the title says, there's can be an image serve via an .php extension.

This image `http://php.net/images/logo.php` is not actually a php file, but rather a svg, this should be treat as an image/svg rather than a php file, which in the end will via upload and show its xml content.

This will include better SVG support, and support for different type of extensions.

[2015-11-29 22:28] benhaynes commented on #1090
@jel-massih Thanks again, you're keeping us under 100 issues! ;)

[2015-11-29 22:28] #1090 closed

[2015-11-29 22:54] benhaynes commented on #1095
Thanks @jel-massih !!! I just pulled and added an API key but am getting a *Server Error* (Vimeo upload is working). Any ideas?:

https://www.youtube.com/watch?v=uxpDa-c-4Mc

![screen shot 2015-11-29 at 5 46 47 pm](https://cloud.githubusercontent.com/assets/522079/11460809/23a86804-96c2-11e5-8276-a535fbc80230.png)

[2015-11-29 22:57] benhaynes commented on #1084
@WellingGuzman
The user types in their password and then on focus Directus salts/hashes (encrypts) it before saving. The whole thing is blocked (••••••), but I think that's OK.

Do you think the password and hash should be plaintext?

[2015-11-30 00:01] WellingGuzman commented on #1084
@benhaynes Looking back I didn't explain myself well, so the thing is, when you write your password it's all good and how it works it's all good, but my concern is when is "encrypting" the page set itself as "loading data" (showing the moving square bottom right).

Plus: When you click "Reveal Password" it just reveal the hashed password.

Just feel that that second of "loading" makes it feel slow

[2015-11-30 00:13] WellingGuzman commented on #1095
@benhaynes I tried and it worked, pulling the title, description, tag and size (time) as well.

maybe that's what you get for using a drake video haha. jk.

[2015-11-30 00:16] benhaynes commented on #1095
Haha, Hotline Bling is (unfortunately) stuck in my head...

Hmm, maybe it's my local setup or API key? Let me try testing again

[2015-11-30 00:45] benhaynes commented on #1095
Welp – it helps if you enable the YouTube API v3 for that key!

Looks good and works great!! The only thing (which I found out the hard way) is that if you have a bad API key it just says "Server error". Is it possible to give a "Error: Bad YouTube API Key"?

[2015-11-30 01:34] jel-massih commented on #1095
Yeah, in PR 1099

[2015-11-30 04:40] jel-massih commented on #1091
Unable to replicate this? Do you see this in dev branch (Or @WellingGuzman have you already fixed this)?

[2015-11-30 04:51] WellingGuzman commented on #1091
@jel-massih I haven't fixed this yet.
If I'm correct, the issue (_what's missing_) here, it is that many-to-many doesn't have the option to edit relationship (after it has been created), there's not **junction table**, or **left/right** key field.

If you go to any table with a many-to-many field, and click on the relationship icon, can you see the "Junction Table" field?

[2015-11-30 04:51] jel-massih commented on #1089
Cant replicate. What browser are you using and still occurring in development branch?

[2015-11-30 05:02] benhaynes commented on #1089
This is working for me too now – @WellingGuzman is this one that you fixed the other day?

[2015-11-30 05:03] WellingGuzman commented on #1089
@jel-massih I found out that I've fixed this but I've not push it :-1:
@benhaynes the issue was when the junction table didn't have `sort` field.

pushing now... :muscle:

[2015-11-30 05:09] WellingGuzman commented on #1089
Fixed by 40c800fd2675670401dee8c57f2e9284513a58e5

@benhaynes by the way, not, this wasn't the one I fixed the other day.

Closing it.

[2015-11-30 05:09] #1089 closed

[2015-11-30 05:12] WellingGuzman commented on #1095
@benhaynes did you test @jel-massih PR?

[2015-11-30 05:14] jel-massih commented on #1095
Sorry, PR = Pull Request

[2015-11-30 05:19] benhaynes commented on #1095
Yes, just tested now and this is working perfectly. The only questions I have (I can open in a new ticket if the answers here warrant it) are about a few unused fields:

* `url` versus `embed_id` columns. It seems that `embed_id` is not being used.
* `user` doesn't seem to be getting filled in (mine says "0" for all)
* `charset` isn't being filled in for embeds, is that correct?
* what does `needs

[2015-11-30 05:25] WellingGuzman commented on #1095
@jel-massih I got you. :fist:

Good question. Nothing! :no_good:

if @jel-massih you are not going to work on this one, I can take it now.

[2015-11-30 06:23] WellingGuzman commented on #1095
@benhaynes

`type` is the one used to specify is a embedded file.

`embed_id` is not being used, url store the id of the embedded url, the UIs are expecting a url, and to make things easy, the id it's kept on the url instead of the embed_id.

We should talk about this table structure, will be better to just drop `embed_id` or make things clear and use the `embed_id` instead of the url?

[2015-11-30 09:29] WellingGuzman commented on #1095
Adding user_id done here: d1d801445b9b112d459332633db171aff5ac7354

[2015-11-30 13:14] richjenks opened #1100 "Error on pressing Enter"
Press Enter anywhere

1. Error "This table already exists!" shows twice
1. Current form isn't submitted (but escape does cancel)
1. If there are no entries on current page, additional error "Uncaught TypeError: Cannot read property 'privileges' of undefined File: http://scotchbox/assets/js/directus.min.js?bust=ojne2cd1mn3doendcti69q13d5 Line:15"

[2015-11-30 13:15] richjenks opened #1101 "Save dropdown (e.g. "Save and Stay") is in serif"

[2015-11-30 13:19] richjenks commented on #1080
@benhaynes @WellingGuzman I've reported 2 issues I've found (#1100 & #1101) but also have 2 issues that might just be me being silly rather than a software issue:

1. How do you delete or rename a table from the admin area?
1. How do you define relationships? Many-to-many and Many-to-one responses are a bit confusing (e.g. selecting one still shows options for tinyint datatype) and it's unclear ho

[2015-11-30 15:26] benhaynes commented on #1084
@WellingGuzman
The "loading data" is really fast (for me) so it doesn't bother me. And the reveal password shows that we don't have access to their original/plaintext password. We could add UI options to disable the "reveal" button – or an option to not encrypt passwords (store them in plaintext).

[2015-11-30 16:39] benhaynes commented on #1080
Hey @richjenks – this is a perfectly good way to submit issues like this... and is much appreciated!

1. By design, there is no way to rename or delete a table (or field) from within Directus. We (currently) see this as a risky feature to have since you could easily lose a lot of data or break connections to existing applications. We're looking into building a stand-alone extension for these DB ad

[2015-11-30 16:46] benhaynes commented on #1101
This one seems odd – the "Save and Stay" dropdown should be a system input... so we don't actually style it. Could you sent a screenshot and browser/OS details?

Thanks!

[2015-11-30 17:08] benhaynes opened #1102 "Make relational setup less confusing"
* Each UI parameter/option should have a clear title and description
* Look into better ways to visualize the relationships
* Show examples and placeholder text
* Ensure nothing is missing/broken (see other tickets)

[2015-11-30 19:00] benhaynes commented on #1100
Hey @richjenks – is this happening on a specific page?

[2015-11-30 19:16] WellingGuzman commented on #1084
@benhaynes oh, but then it doesn't "reveal" you the password, I was expecting at least while, it's not saved, to get the value in plaintext, maybe I'm wrong but that's what I was expecting to work. because seeing the hash doesn't do much for me. but maybe it's just me. but we can have the option to disable the "reveal" though.

[2015-11-30 19:23] benhaynes commented on #1085
@WellingGuzman
By default we have the media path in the root of Directus? Oh, I thought it was one directory "above" Directus.

Can we add a quick comment in the code explaining this? Also, if you add a quick note in the Docs I will clean it up.

[2015-11-30 19:25] benhaynes commented on #1084
I see what you mean. If you haven't saved then it makes sense to reveal the password you typed. Let's add a quick UI option for disabling/hiding the reveal button (default = no reveal button).

[2015-11-30 19:26] WellingGuzman commented on #1100
@richjenks I think there's a ticket open for this issue, but I found right now that's happening on `Settings > Tables`.

@benhaynes if you go to `Settings > Tables & Fields` and click on any table, and hit enter, it will throw the "This table already exists!".

[2015-11-30 19:27] WellingGuzman commented on #1100
Plus: it's happening on listing page, go to any listing page and hit enter.

[2015-11-30 19:28] benhaynes commented on #1100
Maybe this is only in the `build` branch? I am not seeing this on any of the mentioned pages...

[2015-12-01 12:24] richjenks commented on #1101
![image](https://cloud.githubusercontent.com/assets/1795615/11500671/6fa8626c-9826-11e5-8a25-eef3fd644a61.png)

Looks like it's `inherit`ing the font "Directus" and set to green from `.header1 .primary-row .tools .select-and-circle label.icon-triangle-down`.

[2015-12-01 12:45] richjenks commented on #1100
Update: It's not a fixed message, rather it shows every error that has been shown since the page was reloaded:

1. Control case: Load Directus and press Enter > nothing happens
1. Settings > Tables > New
1. Leave name empty and press Enter > shows error "Empty Table Name"
1. When returned to Settings page, press Enter again to see "Empty Table Name"
1. Repeat to show multiple errors on pressing En

[2015-12-01 13:16] richjenks commented on #1100
I've also had errors shown a few steps after submitting via pressing Enter. For example, on a fresh install create a group with no permissions and then create a table:

![image](https://cloud.githubusercontent.com/assets/1795615/11501553/fdbfb82e-982c-11e5-928a-cc9893346abb.png)

I'd hypothesise that Directus is saving things in the database when save/submit buttons are clicked but not when Enter

[2015-12-01 15:22] benhaynes opened #1103 "New WYSIWYG UI"
Love the simplicity of this – it'd be great to have a second WYSIWYG UI option. We'll have to remember this for the **UI Challenge**

https://imperavi.com/redactor/

[2015-12-01 17:37] WellingGuzman commented on #1101
@richjenks what Operating System are you using?

[2015-12-01 17:41] WellingGuzman commented on #1100
@richjenks don't have to be sorry, this is great what you are doing, this helps us and we appreciate it, Thanks.

I'll look into it.

[2015-12-01 19:17] WellingGuzman commented on #1100
@richjenks Regarding the second issue, it seems you are using PHP 5.6.x, and `$HTTP_RAW_POST_DATA` is deprecated, but the weird part is not that is deprecated is that we are not using it, and it's a php bug [bug#66763](https://bugs.php.net/bug.php?id=66763)

To solve this add/use/update this on your php.ini
[code]

Let me know if that works for you.

[2015-12-02 07:03] WellingGuzman commented on #1073
Duplicated: #1100

Closing it.

[2015-12-02 07:03] #1073 closed

[2015-12-02 19:29] benhaynes opened #1104 "Multivariate Testing UI Support"
Gives alternate (M2M) options for fields that also store/show impressions versus clicks. This would allow A/B testing titles, etc.

[2015-12-03 20:39] bobmulder commented on #1019
Hi guys,

I am looking for a smooth way to add directus to my docker-containerized application... Is there any progress or source I can use?

Greetz

Bob

[2015-12-03 21:44] WellingGuzman commented on #1019
Hey @bobmulder we are planning on turning Directus into a docker container, but we have nothing yet, I'll get back to you after it's done to let you know.

[2015-12-03 21:53] bobmulder commented on #1019
Great to hear! Maybe I can help you guys? I am at gitter: gitter.im/bobmulder if you need me ;)

Good luck!

[2015-12-04 06:26] WellingGuzman opened #1105 "Organize the API"
Right now all our API code resides in on single file, making it a large file with a lots of code, which makes it harder to look at it, and look for a specific endpoint.

Slim now supports class as callable, which we can do something like this:

[code]

Instead of:

[code]

we can also take the advantage of grouping to group endpoints:

[code]

We can expand the discussing into this, but this is th

[2015-12-04 07:02] WellingGuzman opened #1106 "Email configuration"
This is a mistake and right now all email are being sent by `noreply@getdirectus.com` we should be able to configure different options.

[2015-12-06 15:11] benhaynes commented on #1105
The API will now be a huge focus of our attention – this is amazing and I can't wait to see it reorganized. We should also look at any endpoints we're missing, and how best to structure params and other options.

[2015-12-06 21:51] benhaynes commented on #1069
It works!

Although it's odd – it's saving "ui" in the `directus_columns.junction_key_right` field... I *think* it is supposed to save the column name. @WellingGuzman thoughts?

[2015-12-06 22:01] benhaynes commented on #1031
@WellingGuzman
Does it save the defaults into `directus_ui` or does it just fallback within the UI code? I just created a new TEXT column in the database, then saved it as a WYSIWYG in directus... and it didn't save any options within `directus_ui`.

[2015-12-06 22:03] benhaynes commented on #1025
@WellingGuzman
This is marked as resolved – is it working? I just tested locally and I never got an email. Do I need to set something specific up?

[2015-12-06 22:04] benhaynes commented on #1087
Looks good! Thanks Welling!!

[2015-12-06 22:04] #1087 closed

[2015-12-06 22:05] benhaynes commented on #1086
Good formatting!

[2015-12-06 22:05] #1086 closed

[2015-12-06 22:27] benhaynes commented on #1085
Looks good! I cleaned up the comments

[2015-12-06 22:27] #1085 closed

[2015-12-06 22:35] benhaynes commented on #1100
OK – assuming this is a fix for the issue. I have added this into the FAQ section of the NEW docs.

[2015-12-06 22:35] #1100 closed

[2015-12-06 22:54] benhaynes commented on #1081
All set.

[2015-12-06 22:54] #1081 closed

[2015-12-06 22:57] benhaynes commented on #1021
@WellingGuzman is this a big change? (would it take a while to implement?)

[2015-12-06 23:25] benhaynes commented on #1084
Did you hide it or make a UI option to hide it? Either way... this is good.

[2015-12-06 23:25] #1084 closed

[2015-12-09 02:51] WellingGuzman opened #1107 "Message notification being sent multiple times."

[2015-12-09 03:38] WellingGuzman commented on #1084
I just hide it. (Commented out)

[2015-12-09 10:38] crashtainer opened #1108 "installation stopped"
hi ,
while installing directus, i filled all required data, when i press install, it refresh the same page without any error, all configuration are fine except the following:

Composer Dependencies Installed (../api/composer.json) 	No
Imagick PHP Extension For TIFF, PSD, and PDF thumbnails 	No

 PS.directus is installed locally using xampp 3.2.1

thank you in advance

[2015-12-09 16:41] jel-massih commented on #1108
Composer Dependencies are required to install Directus. Try running
`curl -s https://getcomposer.org/installer | php`
`php composer.phar install`

within the /api directory

[2015-12-10 03:58] WellingGuzman commented on #1108
@crashtainer you can also use the build branch instead which already has all the dependencies. https://github.com/directus/directus/tree/build

You can download the zip [here](https://github.com/directus/directus/archive/build.zip)

[2015-12-14 21:39] beevelop commented on #1019
@bobmulder I'm currently playing around with a [dockerized version of Directus](https://github.com/beevelop/docker-directus) and got a first version running. It might suit your needs, but is still WIP.
@benhaynes Is there a way to fix Directus' version? Is there some kind of versioning available at all (as you don't seem to use tags)? I'd like to version the Dockerfile accordingly.

[2015-12-14 23:52] bobmulder commented on #1019
@beevelop I will take a look at it as soon as possible!

[2015-12-15 18:30] WellingGuzman commented on #1019
hey @beevelop, actually there's not version at all in term of git tags, we had talked about this, and how I did not push any tags before, so for the next release we are going to publish releases.

Right now what I can do is create a tag with the current version, let me know if that helps.

[2015-12-15 18:36] bobmulder commented on #1019
I think that would be helpfull using version tags in docker. However @WellingGuzman, what do you think about sticking our heads together to make the container of @beevelop up and running? We could have a chat via gitter together...

[2015-12-21 05:21] WellingGuzman commented on #1075
@benhaynes we should define what `primary_column` means, does it means _*primary_key_column*_ OR _*primary_table_representation_column*_?

[2015-12-21 08:48] richjenks commented on #1101
Sorry for delayed reply, it's Chrome 47.0.2526.106 m on Windows 10

[2015-12-21 15:55] benhaynes commented on #1075
Good question @WellingGuzman

But first off, let's verify we still need this. Where is `primary_column` used? I remember it was mostly in `activity` and `messages`. Is there anywhere else? Also, sometimes you need to represent the row with more than one column (`first_name last_name`) – so maybe there's a better way to choose columns.

Other than that, I think that, since it's within `directus_tab

[2015-12-21 22:36] benhaynes commented on #1075
Working!

For `primary_column` – it looks like you've removed this from the interface (good!) where is this value referenced in the system?

[2015-12-21 22:36] #1075 closed

[2015-12-21 22:40] benhaynes commented on #1067
I'm getting:

`Server Error
array_merge(): Argument #1 is not an array`

`GET http://local.directus.com:8888/api/1/tables/test_table 500 (Internal Server Error)`

when I try to add a table now. Is there a schema change I need to apply?

[2015-12-21 22:41] benhaynes commented on #1079
Looks good!

[2015-12-21 22:41] #1079 closed

[2015-12-21 22:46] benhaynes commented on #1070
Working!

[2015-12-21 22:46] #1070 closed

[2015-12-21 22:49] benhaynes commented on #1066
Looks good! I wonder if we should add `first_name` and `last_name` to the installation – or fill in a default. Those are required fields for users, and currently the default user is nameless. I'll open a ticket.

[2015-12-21 22:49] #1066 closed

[2015-12-21 22:52] benhaynes opened #1109 "Add First/Last name to root user on install"
Since `first_name` and `last_name` are required, but empty for the first user, we should add in a default value when installing:

First Name: *Admin*
Last Name: *User*

What do you think @WellingGuzman ?

[2015-12-21 22:54] benhaynes commented on #1082
Looks good!

[2015-12-21 22:54] #1082 closed

[2015-12-21 22:57] benhaynes commented on #1065
Good! But can we not show the `ui_files` and `ui_users` tables? They are junction tables and wouldn't be editable. We should clean up this demo table so it's really useful...

[2015-12-21 22:58] benhaynes commented on #1067
I tried on a fresh install and it worked!

[2015-12-21 22:58] #1067 closed

[2015-12-21 23:18] WellingGuzman commented on #1065
@benhaynes [this commit](f76ea7d9cce7e1516e12955998087d0bb7208cab) hides `ui_files` and `ui_users` tables.

[2015-12-21 23:21] benhaynes commented on #1065
Perfect!

[2015-12-21 23:21] #1065 closed

[2015-12-21 23:39] #1083 closed

[2015-12-21 23:39] #442 closed

[2015-12-21 23:39] #1031 closed

[2015-12-21 23:39] #1069 closed

[2015-12-21 23:39] #1095 closed

[2015-12-21 23:57] benhaynes commented on #1108
It seems that this is caused by not installing the composer dependencies – installing these (as @jel-massih mentioned), or using the build branch (as @WellingGuzman mentioned) will resolve this.

If you have further issues, reopen this or submit a new ticket.

[2015-12-21 23:57] #1108 closed

[2015-12-22 00:16] benhaynes commented on #983
It seems that this doesn't really apply to Directus since it's not Node/JS based. There are other more efficient ways to install Directus: CLI, clone the repo, upload the build version, etc

[2015-12-22 00:16] #983 closed

[2015-12-22 00:23] WellingGuzman commented on #1109
@benhaynes This is perfect, I think the same, and it turns kind of annoying at first, when it keep asking for an empty fields that was empty at first place. :+1: :100:

[2015-12-22 00:48] benhaynes commented on #1047
This has been resolved – it was due to an issue with the implementation of custom primary key. Please let us know if you continue to have problem with this.

[2015-12-22 00:48] #1047 closed

[2015-12-22 01:06] benhaynes commented on #789
We've adjusted our approach to this problem – now we're using "allow_" prefixed permissions.

[2015-12-22 01:06] #789 closed

[2015-12-23 16:21] benhaynes opened #1110 "New text for emails"
## New Directus Instance
**Subject:** `Your New Directus Instance: My Project`

**Body:**
Your new Instance of Directus is ready to go! You can access it using the following credentials:

http://my-directus-install.com/admin/

**Main Configuration**
Project Name: My Project
Admin Email: ben@rngr.org
Admin Password: ***
Installed Version: 6.03

**Database Configuration**
Host Name: localhost
Userna

[2015-12-25 03:01] WellingGuzman commented on #1068
@benhaynes we can add an option on Directus to users can enable or disable weather or not they want to Directus to get all tables from the database, and it will be enabled by default. __*But*__ all these tables will be listed without any permission, so at the end users won't be able to perform any task on none of these tables.

It can be in the same list but grayed out, or (What I prefer) being al

[2015-12-28 21:58] TJProgrammer opened #1111 "Server Error: Undefined index"
Hello!
When I tried save the table "Bookmarks" I got the error in the image bellow:

![image](https://cloud.githubusercontent.com/assets/7900361/12026124/dd5252c2-adad-11e5-9a25-9968231ed66d.png)

[2015-12-29 05:27] WellingGuzman commented on #1111
Hi @TJProgrammer thanks for letting us know, I'm going to take a look at this.

[2015-12-29 15:39] benhaynes commented on #1068
I think that's perfect – but they should be listed in gray (with an "Add" button) only on the Settings>Tables page... not in the actual user interface. Clicking the add button would insert the privileges needed to manage the tables.

I like it!

[2015-12-29 17:28] WellingGuzman commented on #1068
Exactly it will only be visible on Settings>Tables page, but what do you think about having the tables in a separate list (of inactive or not in directus) under the main/active list, same as we do with inactive users in Users?

[2015-12-29 18:29] benhaynes commented on #1068
I think that's a great idea... keep them separate so it's less confusing!

[2016-01-02 22:50] benhaynes opened #1112 "Look into Installers"
Users can install it globally and do this `directus-installer create project-name`, and it downloads directus and copy it in the current directory

[2016-01-03 21:01] benhaynes commented on #1068
@WellingGuzman what do you think time-wise for this?

[2016-01-03 22:11] benhaynes opened #1113 "Settings>Group Permissions: Clicking the table name should toggle all permissions on/off"
when editing permissions, clicking the table name should toggle all permissions for that table on/off. If some values are already on, they would first **all** be turned on.

[2016-01-03 23:18] benhaynes commented on #1102
First, I'm wondering why we're not using the actual "relationships" in MySQL to store these relationships?

### `directus_tables.is_junction_table`
Let's remove `directus_tables.is_junction_table` and all references to it in the framework. The only place it was used (I think) was when setting up a new relationship... it only showed junction tables. Now we can show all tables in this dropdown.

###

[2016-01-03 23:24] benhaynes opened #1114 "Add "Copy Permissions" button to Group Permissions page"
A dropdown at the top that let's you pull in the permissions from a different user group. This will make it MUCH faster to setup new user groups. We need a rough design for this.

[2016-01-03 23:52] benhaynes opened #1115 "Cleanup directus_bookmarks"
Could we remove `directus_bookmarks.icon_class` and any references to it?

Are we using the `directus_bookmarks.active` field? If not, can we remove it?

Are we using the `directus_bookmarks.section` field? If not, can we remove it?

Should we add a `directus_bookmarks.preference_id` field? It seems like it's currently matching the bookmark preference based on the `directus_preferences.title` fiel

[2016-01-03 23:58] benhaynes opened #1116 "Fix directus_groups.restrict_to_ip_whitelist"
Since we removed the `directus_ip_whitelist` table, we still need a way to limit IP addresses. My thinking is that we would use the existing field as a CSV of IPs to limit the user group to. If it's NULL, then there's no limitation.

[2016-01-04 00:32] benhaynes opened #1117 "Status Customization per Table"
Currently the whole install is managed by a single Status setup in the config/configuration files. Could we move this into the `directus_tables` so it could be customized per table?
### Current Config File

[code]
### Current Configuration File

[code]
### Propose: Add `directus_tables.status_column`

Would define the status column per table: `active`
### Propose: Add `directus_tables.status_mappi

[2016-01-04 02:13] WellingGuzman commented on #1115
Aren't we using `icon_class` to let the user customize with any icon they desired? aren't we going to bring back the icons?

Not in used (_Or it has always seems like it, never found anything related to this field_), let's removed.

This is the category on where the bookmark, is going to be displayed under, **other** are system item such as Users and files, **search** are bookmarks and tables, are

[2016-01-04 02:15] WellingGuzman opened #1118 "Hard to see "Nothing to see here""
@benhaynes Is it me or this text "Nothing to see here" is hard to differentiate from the background?

![screen shot 2016-01-03 at 9 59 54 pm](https://cloud.githubusercontent.com/assets/1531291/12082325/4ffc32bc-b267-11e5-8714-926a942a5d5e.png)

[2016-01-04 02:19] benhaynes commented on #1118
Darkened!

[2016-01-04 02:19] #1118 closed

[2016-01-04 02:39] WellingGuzman commented on #1118
@benhaynes Thanks :+1:

[2016-01-04 04:48] benhaynes commented on #1111
It seems like `directus_columns.relationship_type` for that table/column has a bad value... based on using the Single File UI it *should* be: `MANYTOONE`

@TJProgrammer – How did you create that `file` field? Directly in the DB or through Directus?

@WellingGuzman can we look at why this didn't save?

[2016-01-04 05:03] WellingGuzman commented on #1111
@benhaynes I believe the problem there it has to be with `Folder` field. I can't find it now, but I think I open a ticket about this, right now not all UIs have the relationship type set, but rather guessed on the server.

We need to implement this in a way that the UIs itself provide their relationship type, rather than the server to guess it.

[2016-01-04 15:12] TJProgrammer commented on #1111
I created the ```file``` field through Directus.

[2016-01-06 03:21] benhaynes commented on #1115
The problem with the icons is that they take up a lot of width in the nav... and the tables/bookmarks are already cut-off. Also, it's unclear if we would add an icon for all first level nav items (Files, Users... *and* also each table).

Great!! Maybe one last search though ;)

Yeah, the table says "directus_bookmarks"... I think it'd be good to remove the system ones and have it only be for bookm

[2016-01-06 08:22] WellingGuzman commented on #1115
It's true, I also think what you said about taking up the space, and I'm talking about all first level item.

Just to make everything sure.

This is a good thing to do, we also need to change bookmarks to referencing the sidebar nav, everything is not a bookmarks, that's what makes confusing, what is bookmarks, and what's not, when table list is stored in bookmarks (sidebar).

I need to make it un

[2016-01-08 15:13] benhaynes opened #1119 "Add boilerplate SQL dropdown to installation"
We should add a dropdown on the installation page that pulls from a repo of SQL files (and JSON for meta data). Each SQL file represents a starter-schema (boilerplate) for different types of projects. Each would have to be thoroughly tested since we can't roll-back Table Creation.

[2016-01-10 16:22] beevelop commented on #1019
Hey @WellingGuzman, @bobmulder and @benhaynes
sorry for the late reply. It took me some time to get a version running that features a completely automated installation (and afterwards realising you already provide an *undocumented (?)* solution to install via CLI through `bin/directus`).

To give it a shot you can run it with [docker-compose](https://docs.docker.com/compose/) (this simplifies link

[2016-01-11 08:05] WellingGuzman commented on #1019
Thank you so much @beevelop.

I'm trying to run this docker container, but after several tries I couldn't.

First I tried this:

[code]

it seemed to work, I logged into the VM, but Directus didn't get installed, and I didn't know how to access this with the default virtual host or any host I put. What am I doing wrong? with vagrant when I run the box (which could be similar to the container) it l

[2016-01-11 08:51] beevelop commented on #1019
@WellingGuzman seems like your docker-compose installation is kinda broken.

You can launch the containers manually too:
[code]

You should the be able to access your installation on Port **8080** (change `-p 8080:80` if the port is already in use). Replace `-d` with `-it` to watch the logs flowing.

[2016-01-11 17:16] BraydenGirard opened #1120 "Server Error When Trying To Upload Images"
Hello, I am getting the following error when trying to upload images.

![screen shot 2016-01-11 at 12 05 13 pm](https://cloud.githubusercontent.com/assets/3247657/12240729/180aaf36-b85d-11e5-9945-f5b330b60a25.png)

[2016-01-12 05:11] WellingGuzman commented on #1120
@BraydenGirard Thanks for letting us know, I fixed the issue, tomorrow I'm going to merge it with master/build branch tomorrow.

[2016-01-12 13:54] BraydenGirard commented on #1120
Thank you for the quick fix.

[2016-01-12 13:54] #1120 closed

[2016-01-13 03:14] #1109 closed

[2016-01-13 03:14] #1113 closed

[2016-01-13 03:49] WellingGuzman commented on #1031
It does fallback within the UI default variables. let me know if this works for you.

[2016-01-14 10:06] cantstopthi commented on #1108
I have the same error. I  tried the build zip and i tried to install composer via the provided exe, still not working.

[2016-01-15 03:01] WellingGuzman commented on #1108
@cantstopthi can you open a new ticket with more details? such as the Operative System, and what version of Directus you are using and what are the errors? So I can understand your problem better.

Thanks

[2016-01-15 04:39] WellingGuzman opened #1121 "API requesting visible columns"
![screen shot 2016-01-15 at 12 32 40 am](https://cloud.githubusercontent.com/assets/1531291/12345524/44e4beaa-bb20-11e5-8900-af7b27dcd8d5.jpg)

It would be better if we use on parameter and separate each column by comma

[code]

[2016-01-18 03:27] WellingGuzman opened #1122 "Sign Out/Settings button are transparents"
@benhaynes I opened the devtools and notice the Sign Out and settings button are transparent and you can see the text on the sidebar underneath.

![screen shot 2016-01-17 at 11 25 17 pm](https://cloud.githubusercontent.com/assets/1531291/12382559/a216b832-bd71-11e5-89ac-3fd5daebeabc.png)

[2016-01-19 16:41] neyric opened #1123 "directus.min.css missing ?"
Hi,

I've installed Directus using the following guide : https://github.com/directus/directus/wiki/1.-Installation-&-Configuration

Installation worked fine (except many undocumented steps, which I might try to document later), but a file is missing in : https://github.com/directus/directus/tree/build/assets/css

/assets/css/directus.min.css?bust=1bq92ispnkkte7o4adnsskfqv4

Any idea ?

[2016-01-19 18:54] beevelop commented on #1019
@WellingGuzman Sorry to bother you again. Unfortunately v6.0.6 is broken for Docker due to the bug you fixed in 26801855580d9bea757d9650cbc11682fd83e52b. So you need to pull the **v6.0.5** explicitly.

[2016-01-19 23:32] WellingGuzman commented on #1123
hey @neyric, that should be a problem with the gulp build task, I'd take a look.

And we would be glad if you step in and document what's missing we will appreciate.

Thanks.

[2016-01-20 02:29] WellingGuzman commented on #1123
I've fixed the problem you get pull the recent version or use the build branch.

Thanks for letting us know.

If you bump into any problem let us know.

[2016-01-20 02:29] #1123 closed

[2016-01-20 09:45] neyric commented on #1123
It works, thanks !

[2016-01-21 03:04] benhaynes commented on #1122
All set!

[2016-01-21 03:04] #1122 closed

[2016-01-21 03:23] benhaynes commented on #1093
Actually, because the statuses can be adjusted by the admin, it would be difficult to know how to handle this.

I think what we should do it make a `enforce_validation` flag for each status. That way, you can set whether each status should enforce validation.

active: `enforce_validation` = *true*
draft: `enforce_validation` = *false*
delete: `enforce_validation` = *false*

What do you think @Well

[2016-01-21 03:45] benhaynes commented on #1056
Not quite asap ;)

[2016-01-21 03:45] #1056 closed

[2016-01-21 04:08] benhaynes opened #1124 "Token UI only visible by admins"
Using `directus_privileges.read_field_blacklist` to hide it by default for non-admin groups.

[2016-01-21 06:44] WellingGuzman commented on #1124
@benhaynes the issue here is that we are trying to select * (all) the fields most of the time (_to not say always_) and this violates the `read_field_blacklist`. same with updating violating the `write_field_blacklist`.

I recommends we just stripe out the blacklisted fields before perform an action. That will be the job of the API not letting this field to get into the selects or updates.

If `di

[2016-01-21 14:09] WellingGuzman commented on #1122
@benhaynes I found out the avatar is transparent on hover so, don't know if this should be result or is it the same problem.

![screen shot 2016-01-21 at 10 08 03 am](https://cloud.githubusercontent.com/assets/1531291/12482612/fe7f1314-c026-11e5-8463-82e4be11364a.png)

[2016-01-21 14:32] benhaynes commented on #1122
Yeah, this was part of the fix, thanks for checking though!

![screen shot 2016-01-21 at 9 31 26 am](https://cloud.githubusercontent.com/assets/522079/12483243/d385a34e-c021-11e5-9edd-88b2b07f80c7.png)

[2016-01-21 19:10] WellingGuzman commented on #1122
Perfect, didn't know why it was not working for me. :+1:

[2016-01-25 01:19] benhaynes commented on #1124
That works for me. As long as normal users don't see that field (only admins). I thought it would be nice to use the Directus feature to hide it... but I understand that might not work for this. Thanks!

[2016-01-25 01:22] benhaynes commented on #1019
Hey @beevelop – we're wrapping up some new and exciting features for Directus (more info to come) so we're all a bit swamped right now. @WellingGuzman and I will try to get this resolved when we can, but that may be a week or two.

Apologies about the delay... let us know if you have any luck getting this working (pull-request) and we'll review and merge.

Thanks!

[2016-01-25 02:06] WellingGuzman commented on #1124
All I said it was that it can work within Directus feature, but we need to update how we force to NOT Select blacklisted fields from a table. (a good behavior) So here is the question:

if we blacklisted `directus_users.token`, and a user request "all" fields from `directus_users`, should we a) remove the blacklisted field (what I'm proposing), or b) throw an error because you are requesting a bla

[2016-02-05 18:57] benhaynes opened #1125 "Show tables after adding permissions"
1. Add table directly to DB
2. Add Settings > Permissions for that table in directus
3. Go to Settings > Tables & Inputs...

At this point you don't see the table in the listing (Settings > Tables & Inputs) unless you refresh the page. They should be there without a refresh.

[2016-02-05 19:07] benhaynes commented on #694
I think this is only used for filling in the "junction table" input when creating new M2M fields. We can instead just show all tables in that dropdown and remove this junction table param.

But maybe we do a quick check to see if it's used anywhere else first.

[2016-02-06 11:43] liegeandlief commented on #712
Is this demo site being created? Love the idea of Directus and would love to be able to test it without the hassle of setting up the environment.

[2016-02-07 22:57] benhaynes commented on #712
Hey @liegeandlief – we've been working on an exciting new Directus platform, but will wrap up a demo site soon (just finalizing a good schema that showcases all the features). I'll follow up here when it's complete.

[2016-02-10 20:29] liegeandlief commented on #712
Thanks @benhaynes - can't wait to see the new platform!

[2016-02-24 04:53] benhaynes opened #1126 "Delete Table/Field within Directus"
This will be required for certain platforms that don't have direct access to the DB. I think we just need an "X" on the tables on the Settings page with 2-3 confirmations. I'll have to look into a design for this.

[2016-02-25 20:18] benhaynes opened #1127 "Public vs Private files"
We'll need a way to set the privacy of files (public or private).

[2016-03-06 17:47] benhaynes commented on #694
I have commented out the toggle on the `Settings > Tables & Inputs` page... so we need to get this one wrapped up

[2016-03-06 20:37] benhaynes commented on #1126
The interfaces for these have been added to `Settings > Tables & Inputs` and `Settings > Tables & Inputs > Table`. Let's have them delete on click after 2-3 directus style confirmations.

[2016-03-06 22:38] benhaynes opened #1128 "Ability to change the default status for tables"
We need to add a dropdown (system) on the "active/status" area of `Settings > Tables & Inputs > Table` so that users can change the default value of this column. It would update the actual DEFAULT variable for the `table.active`.

It's values would be the available status options (currently global) which should be switched to a per-table basis: #1117

![screen shot 2016-03-06 at 5 34 13 pm](https:

[2016-03-09 06:33] talbet opened #1129 "API requests without authentication?"
Is there any way to make a GET request without being logged in? Or alternately, is there any way to generate a persistant API key that can be used for read access to specific tables?

It's not clear from the docs how a front-end would consume the API if you were using Directus as a CMS.

[2016-03-09 07:12] WellingGuzman commented on #1129
Hey @talbet, we were aware of that recently and what you can do if you are using [6.1.0](https://github.com/directus/directus/releases/tag/6.1.0) or above is after log into directus, go to users and in any users you would like to authenticated as, is to generate or type any string you like to be the your API key. (see image below)

![screen shot 2016-03-09 at 3 00 29 am](https://cloud.githubuserco

[2016-03-09 08:52] WellingGuzman opened #1130 "All errors should be in json format"
All errors should be in json (_or any supported output format_). I'm looking at you 404 html response.

[2016-03-09 23:31] talbet commented on #1129
@WellingGuzman Thanks for your assistance, that works.

[2016-03-09 23:31] #1129 closed

[2016-03-11 03:00] benhaynes commented on #1126
Looks good! Two comments:

Can we throw an alert if the user types the wrong column/table name when trying to delete? Right now it just closes and says nothing.

And can we add the column/table name at the top of the second alert so they can see what to type? The overlay blocks the name below...

[2016-03-11 03:09] WellingGuzman commented on #1126
Sure thing. how do you want the second alerted to styled or showed the column/table name?

_**Note:** I was testing the reaction thing. I've never saw that before._

[2016-03-11 03:14] benhaynes commented on #1126
`This cannot be undone. To confirm, please type the name of the table ("table_name") to delete.`

[2016-03-11 03:15] benhaynes commented on #1126
Actually:
`This cannot be undone. To confirm, please type the name of the table to delete: (table_name)`

[2016-03-11 03:21] WellingGuzman commented on #1126
seems about right. and without changing much. I like it.

[2016-03-12 18:45] benhaynes commented on #1126
This looks great!

[2016-03-12 18:45] #1126 closed

[2016-03-13 21:08] benhaynes opened #1131 "Multi-lingual Support: Create language files"
We need to create a simple system for creating language files to decouple the English in the framework. Once we have the system in place it should be easy to get many translations. @WellingGuzman thoughts?

[2016-03-13 22:52] benhaynes commented on #1131
https://webtranslateit.com/en/docs/file_formats/json

[2016-03-14 00:19] WellingGuzman opened #1132 "Installation: add Directus path to media url"
When Directus is installed on a subdirectory, we should add that path into the default media url.

[2016-03-14 01:55] webbakery opened #1133 "enhancement: Column Name & Table Name should be lowercase only"
the table or column name always has a capital in the application. I always want to start typing with a capital letter but that's gonna mess up my database. Also it's possible to add spaces which will break the application.
I think it will be better only allowing lowercase characters and underscore.

[2016-03-14 02:20] benhaynes opened #1134 "Many-to-one won't add properly"
When adding a many-to-one column through directus it doesn't add a `relationship_type`. It saves NULL, but it should be `MANYTOONE`. I do mine directly in the database so I didn't notice this. Thanks @webbakery !

[2016-03-14 03:00] benhaynes commented on #693
Let's disable the footer for now – it needs to be column-level (not table-level) which is why we're running into issues with this.

[2016-03-28 20:46] WellingGuzman commented on #1133
Didn't quite understand what you mean by capital letter. If you are talking about that Directus display the columns and table name with capital letter and underscore as spaces, it's kind of a "beautifier" if this is what you talking about we can have an option to display the actual name without "beautifying" the names.

And we can't stop the user from creating names with spaces, because the databa

[2016-03-28 20:55] webbakery commented on #1133
Yes, I think the easiest way would be not allowing a space (or auto change to "_" in the input field when creating a field within Directus (expanding database). And I would personally don't capitalize the field. So the overview within Directus has exactly the same name as the field within the database.

Example:
If I want to expand Directus and I see all the current fields have capital letters, I

[2016-03-28 21:18] WellingGuzman opened #1137 "Add a List of Hooks"
Add a list of hooks describing when it's called and where can it be useful.

[2016-03-29 00:22] benhaynes commented on #1137
This would be a great addition to the `docs`. Nice thinking!

[2016-03-29 00:31] benhaynes commented on #1133
I agree, I think we add some simple input limits/formatting when adding columns/tables (only lower-case, spaces turn to underscores, no special chars). We can also add placeholder text to the inputs with: `eg: related_work`. If admins want to use a different naming convention that's not the Directus style, then they can do that directly in the database. That way all tables/columns made within dire

[2016-03-30 20:48] iamamused opened #1138 "RuntimeException on fresh installation"
Trying to install and get

This query failed: SELECT `directus_tables`.* FROM `directus_tables`

after configuration is complete. The config step has everything as "yes".

Here's the actual output

{
"code":0,
"class":"RuntimeException",
"message":"This query failed: SELECT `directus_tables`.* FROM `directus_tables`",
"file":"\/Users\/jsambells\/Documents\/Projects\/test\/directus\/api\/core\/Dire

[2016-03-31 01:12] WellingGuzman commented on #1138
hey @iamamused how did you install directus? did you use the master, development or build branch? I tested on master, development and build branch. is there something else I should know to replicate the issues besides the log?

are the `directus_` tables created on your MySQL database?

[2016-04-05 17:01] iamamused commented on #1138
Ultimately it was a configuration in my mysql server. Directus didn't like the default sql_mode that was set. In api/api.php I added a set sql_mode query and then things started working correctly.

[code]

[2016-04-05 17:12] iamamused opened #1139 "Extension Routing not working"
Trying to create a new extension and can't get it to load the page. To test i simply renamed the `_example` folder to `example` and had the same error. The extension shows in the navigation but when I tap it I get "You do not have permission to view that page or it doesn't exist". I'm logged in as admin and seem to have permissions to everything.

Is there some additional configuration required? O

[2016-04-05 17:54] WellingGuzman commented on #1139
Hey @iamamused,

I see the problem here, is actually a issue with the routing path, right now there's a encode "/" at the end of the route, I'll take a look into this in a moment. If you go to `yourdirectus.com/example_extension` you should be seeing the extension.

The error `You do not have permission to view that page or it doesn't exist` has nothing to do with permission actually, but rather t

[2016-04-05 17:59] WellingGuzman commented on #1138
@iamamused perhaps this mode was `STRICT_TRANS_TABLES`? we have another issue with this mysql mode in here https://github.com/directus/directus/issues/395.

I want to know if we have issue with that or another mysql mode.

Thanks.

[2016-04-05 22:25] iamamused opened #1140 "Ability to add custom widgets (to listing page header)"
Is there an easy way in the framework for an extension to add a button to the left tor right navigation on the table pages? For example, I'd like to add an "export" button next to the filter button which would run a script in my extension for that particular table. I see the buttons are based on widgets but there doesn't seem to be a way to include additional widgets from an extension.

[2016-04-06 03:29] benhaynes commented on #1115
Another option for Bookmarks being assigned to individual users:

Each record is either assigned to a specific user (store `id`) or is global (`NULL`) for the `user` column.

Would this be easier than trying to do all three of these?
* User Bookmarks
* Group Bookmarks
* Global Bookmarks

[2016-04-06 03:45] benhaynes commented on #1140
Yes, there are multiple ways to adjust the left nav bar, but it to get total control you can use this:

https://github.com/directus/docs/blob/master/04-developer/03-configuration.md#customizing-the-sidebar-navigation-for-user-groups

*You can also add them individually for users (working on a global option for this):*

**Table:** `directus_bookmarks`
This table stores all of the left-nav bookmarks

[2016-04-06 03:53] benhaynes commented on #1140
Reading through your comment again, I see you're asking about adding it to the nav on the Item Listing page. I don't know if there's an easy way to do this, but one way to look into would be creating a custom Item Listing view template (using the default as a boilerplate):

https://github.com/directus/docs/blob/master/04-developer/07-folder-and-file-guide.md#listviews

This is overkill, but should

[2016-04-06 16:00] benhaynes opened #1141 "Install config.php"
The text to copy manual config details is empty – and the `Config Writable (../api/config.php)` is showing NO despite being writable (777).

![screen shot 2016-04-06 at 11 59 08 am](https://cloud.githubusercontent.com/assets/522079/14323610/2a6c3264-fbef-11e5-85aa-cf26addd419e.png)

[2016-04-06 16:03] benhaynes commented on #1141
I finished and it wrote the the file fine, even though it said it didn't have write permission on this page

[2016-04-06 16:50] WellingGuzman commented on #1141
@benhaynes Which server specifications were you on? and which brand/version did you use?

[2016-04-06 16:58] benhaynes commented on #1141
To install, I ran: `git clone https://github.com/directus/directus.git directus`

Server:
2 GB Memory / 40 GB Disk / NYC3 - Ubuntu 14.04.4 x64

[2016-04-06 18:04] WellingGuzman commented on #1141
@benhaynes what user owns `directus` directory? this maybe happening because the owner could be different from the web server user.

can you tell what are the user owner by running this: _Second and third column_

[code]

[2016-04-06 18:48] benhaynes commented on #1141
[code]

and ...

[code]

[2016-04-09 15:35] benhaynes opened #1142 "Hide "Directus" tables in Settings>Privileges by default"
We should have a toggle for all Directus tables... which is off by default. This will simplify this page a lot – but still give access to adjust the Directus table privileges.

[2016-04-14 18:23] vhexs opened #1143 "RuntimeException - This query failed: SELECT `directus_tables`.* FROM `directus_tables`"
## Version Info
  - Directus version: [11889d1](https://github.com/directus/directus/commit/11889d14d3da97d77c4aaaf0366a3769da804c60)
  - PHP version: 5.6.15
  - MySQL version: 5.7.9
  - Web server: Apache 2.4.17
  - OS name and version: Windows 7 32bit

## Expected Behavior
Loading home page after installation

## Actual Behavior
Get the following on my page (not in a log):

[code]

## Steps to R

[2016-04-18 15:43] WellingGuzman commented on #1143
Hi @vhexs I've tried to reproduce this issue using almost your setup except windows 7 64bit, and I couldn't replicate.

So I have some questions:
- Which tables did Directus created?
- What's your `api/config.php` file like?
- Are you using Directus under a subdirectory in your host/virtual host?

I'd like to help you resolve this.

[2016-04-18 20:16] benhaynes opened #1144 "Proper Error for "File Too Large""
Getting an error when uploading a large file to Directus. It SHOULD go through (but take a while) ... but if it is going to fail, the error should not be formatted like this:

![screen shot 2016-04-18 at 4 14 32 pm](https://cloud.githubusercontent.com/assets/522079/14618503/d9f4f744-0580-11e6-91b9-0302072e1202.png)

[2016-04-18 21:52] WellingGuzman commented on #1143
Another question, is `NO_ZERO_DATE` or `NO_ZERO_IN_DATE` enabled in MySQL modes?

You can check by execute one of these query:
[code]

Or perhaps in your mysql config file (**my.ini**).

[2016-04-20 00:17] WellingGuzman commented on #1112
Let's look into [Symfony Installer](https://github.com/symfony/symfony-installer) as well.

[code]

[2016-04-21 20:13] benhaynes commented on #1106
@WellingGuzman – Did we just fix this for Hosted?

[2016-04-21 21:48] WellingGuzman commented on #1106
I forgot we had this ticket, yes, this was solved by: https://github.com/directus/directus/commit/b8176078ae8d77f7bebf38c79c7c02445143635e

[2016-04-21 22:27] WellingGuzman commented on #1131
we should take a look at this: http://symfony.com/doc/current/components/translation/usage.html

[2016-04-21 22:28] WellingGuzman commented on #1131
oh wait. we need one for the front end :) anyway it's something to look at.

[2016-04-22 00:00] WellingGuzman opened #1146 "Change all zero dates to null to support all modes"
See: #1143, #1138

[2016-04-22 00:13] WellingGuzman commented on #1141
is there a way that I can replicate this? I'm thinking php is running with `www-data` user which doesn't have permission over `root` files.

[2016-04-22 13:53] benhaynes commented on #1141
When you install, do you get the `copy config text` text area?

[2016-04-22 13:53] benhaynes commented on #1106
Great!

[2016-04-22 13:53] #1106 closed

[2016-04-22 14:01] WellingGuzman commented on #1141
yes, I always get that text, so I'm concern about how didn't you get it.

[2016-04-22 14:33] vhexs commented on #1143
@WellingGuzman Sorry for my late reply, my GitHub notifications are full of things I need to stop watching.

Directus created the following tables:

- directus_activity
- directus_bookmarks
- directus_columns
- directus_files
- directus_groups
- directus_schema_migrations

I ended up deleting Directus from my project directory, so I'll quickly reinstall it and see if anything's changed (and so I c

[2016-04-22 14:50] vhexs commented on #1138
@iamamused What line did you add that code on? I'm experiencing the same issue ( #1143 ) on my installation.

[2016-04-22 15:46] WellingGuzman commented on #1138
@iamamused maybe it was here: https://github.com/directus/directus/blob/master/api/api.php#L120

[2016-04-22 16:31] #1146 closed

[2016-04-22 16:32] #1143 closed

[2016-04-22 16:46] WellingGuzman commented on #1143
@vhexs What happened here is that if mysql has `ZERO_IN_DATE` enabled it doesn't allow zeros in dates.

It was fixed by https://github.com/directus/directus/commit/62176ac6a68764153201193f65b8668e6fe09b26 and https://github.com/directus/directus/commit/0b25ca1ef5f0061856aedb9338aa73820e8cedcf

[2016-04-22 16:51] WellingGuzman commented on #23
@benhaynes can you give more details into this one?

[2016-04-22 17:00] WellingGuzman commented on #61
we can forgot about that jquery plugn and use some native solutions such as: https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia

[2016-04-22 17:02] WellingGuzman commented on #72
@benhaynes I moved this into the current release. any thoughts?

[2016-04-22 17:04] WellingGuzman commented on #109
@benhaynes we've made something roughly that does this so far, should we keep this open until we optimize it or close it? or didn't it work as expected?

[2016-04-22 17:07] WellingGuzman commented on #154
@benhaynes this got me thinking, not all columns/fields are actual columns, so right now you can drop a column but what if the column is not real? we should delete the references, even though the column doesn't exists.

[2016-04-22 17:25] benhaynes commented on #23
Sure! It's on the wishlist milestone, so not a priority, but here's the details:

* The ability to archive messages
* Tab navigation for viewing:
    * Inbox messages
    * Messages you've sent
    * Messages you've archived
* Messages that are unread are shown as Bold/Green on the listing page
* Comments (messages attached to Items) are shown here with an icon (arrow) that links to the item detai

[2016-04-22 17:26] benhaynes commented on #61
Perfect – much better! Also, we should focus on making the *existing* UIs better. So I don't think we should make this a NEW UI... but an option within the `Single File` UI

[2016-04-22 17:27] benhaynes commented on #72
Yeah, I like that... this will help the app be more accurate when on the same page for a while. Also, it shouldn't be too difficult.

[2016-04-22 17:29] benhaynes commented on #109
I'd say this one is done! What we have works well... if there are issues we can open a new ticket.

[2016-04-22 17:29] #109 closed

[2016-04-22 17:30] benhaynes commented on #154
Exactly. Now that we have column delete this should be easier, right @WellingGuzman ?

[2016-04-22 17:33] benhaynes commented on #1141
Yeah, I NEVER get the config text in that text area. Are you using `build`? I am using the default branch (developer?)

[2016-04-22 17:48] WellingGuzman commented on #395
The issue here is far from Directus, PDO converts the number into string so it can store large number in php. one solution could be casting the string into numeric values, BUT the catch here is that the value is bigger than php can store it will be chopped, so that will be a worst result.

[2016-04-22 17:57] WellingGuzman commented on #753
@benhaynes Do we want to delete users from the listing? or this is too much?

[2016-04-22 18:03] benhaynes commented on #753
No need to do it on the listing page (yet)... but we can still delete them from the detail page. Right? If that's working then we can probably close this.

[2016-04-22 18:18] WellingGuzman commented on #712
@benhaynes Hey, are we still on with this one? or should we close this?

[2016-04-22 18:20] WellingGuzman commented on #729
Should we close this one and keep an eye #154 ?

[2016-04-22 18:22] benhaynes commented on #712
Now that we have a free online trial we don't need a demo. But we should add a more complete example schema into the install.

[2016-04-22 18:22] #712 closed

[2016-04-22 18:24] WellingGuzman commented on #805
We need to first clean all the remaining reference to the old `directus_adapter_storage` table.

[2016-04-22 18:28] benhaynes commented on #729
Yeah, we have delete functionality now... we just need to add support for aliases.

[2016-04-22 18:28] #729 closed

[2016-04-22 18:32] WellingGuzman commented on #889
I don't recall if we get to solve this issue before. @gavinappleby did you solve your problem?

@benhaynes let's close this ticket we have been fixing lots of tickets since, so the problem still happening please open a new ticket or comment here.

[2016-04-22 18:40] WellingGuzman commented on #981
This is related to #938.

What we can do at first is just do not allow anything but insert and view if the table doesn't have primary key.

How are we going to let the user create their own primary key name? by specify the default name on settings? or primary key name per table? or both?

[2016-04-22 18:44] benhaynes commented on #889
Sounds good.

[2016-04-22 18:46] WellingGuzman commented on #989
This also are going to be part of https://github.com/directus/directus-php-sdk

[2016-04-22 18:55] WellingGuzman commented on #1005
We should rewrite the authentication code, so we can be extensible and we can add more services easily. but with current authentication library will not be easy to do.

[2016-04-22 18:58] WellingGuzman commented on #1021
this is not a big change, but we should clean the installation process.

[2016-04-22 19:00] benhaynes commented on #981
I say let's require a primary key for all tables. No need to make it more complex by allowing view/insert.

To SET the primary key, we should pull the key from the table schema. We can show it as a radio button in the table settings so admins can set it manually if they want.

Tables created within Directus should have an `id` column by default.

[2016-04-22 19:04] benhaynes commented on #989
Should we remove it from here then? Maybe open a ticket specifically for the SDK?

[2016-04-22 19:04] WellingGuzman commented on #1025
I lost track of this issue, @benhaynes what happen if we are testing locally, and email doesn't work? what possible solutions should implement? one good one is to add a script that change the password, like this:

[code]

[2016-04-22 19:06] benhaynes commented on #1005
OK, well then a total rewrite will be hard, but good.

[2016-04-22 19:06] WellingGuzman commented on #1052
@romainhe did you solve the problem? what @beevelop says resolved your problem? if it does it should be fixed by now.

[2016-04-22 19:07] benhaynes commented on #1021
Cool, good to see it with the ready tag!

[2016-04-22 19:13] benhaynes commented on #1025
Hopefully now that admins can set up email through mandrill or php this should be less of an issue. But yes, a command to change the password on the server would be good to add! We can close this once that script is available.

[2016-04-22 19:17] benhaynes commented on #1052
If it was an issue with the `build` branch but working on master, then this should be good to go now. I'll close it and we can reopen if someone is experiencing this problem still.

[2016-04-22 19:17] #1052 closed

[2016-04-23 15:44] benhaynes opened #1147 "Markdown UI – JS not loaded on listing page"
@javiercf @WellingGuzman

The new Markdown UI works properly on the edit page (where it loads the `marked.js` file), however on the item listing page, that JS file is not loaded but the marked function is still referenced:

https://github.com/directus/directus/blob/development/app/core-ui/markdown.js#L107

This therefore throws the error:

[code]

We either need to load this marked js file on list

[2016-04-23 16:22] benhaynes opened #1148 "Shift column "Footer" to UI option"
Currently certain column datatypes (eg: INT) show a footer on the Item Listing page with useful info, such as: Min, Max, Avg, Sum

However since we removed the global option to toggle this feature in Settings it shows up at times when it is not needed/wanted. Instead, we need to move this logic into the UI options of the applicable UIs/datatypes (eg: numeric)

**In the meantime, let's comment out

[2016-04-23 16:24] benhaynes commented on #1148
Better yet, we could compartmentalize this logic/code so that it can be added to and new Item Listing page features could be developed.

[2016-04-23 20:47] vhexs commented on #1143
@WellingGuzman Thanks for fixing it! I'll update to the new version now :+1:

[2016-04-24 13:53] anotherwebstorm commented on #1138
Hello,
Just downloaded your build to check it out.
To me it happens the same thing that happened to @iamamused 25 days ago.
I also tried his solution of adding SQL MODE to Traditional but no avail.

I am running:

OS El Capitan 10.11.3
PHP version: 5.6.10
MySQL version: 5.5.42
with all the requirements you need.

[2016-04-24 14:15] benhaynes commented on #1138
Looking into this a bit further...

[2016-04-24 15:39] WellingGuzman commented on #1138
hey @anotherwebstorm, could you tell us which tables did create and what MySQL modes do you have enabled?

[2016-04-24 16:08] anotherwebstorm commented on #1138
Sure.
**These are the created tables:**

directus_bookmarks
directus_columns
directus_files
directus_groups
directus_schema_migrations

**About MySQL modes**

I don't exactly what you mean with this but if you could help me to know how to check them?

FYI I'm now only testing on a MAMP (latest version) Environment.

Thanks

[2016-04-24 16:19] anotherwebstorm commented on #1138
I also forgot to mention that I have (probably this is what you would like also to know):

mcrypt support v2.5.8
PDO Driver for MySQL v5.0.11-dev - 20120503
GD Support bundled (2.1.0 compatible)

They are all enabled.

[2016-04-24 17:00] WellingGuzman commented on #1138
@anotherwebstorm Thanks, I found the issue, it's an unsupported default `CURRENT_TIMESTAMP` default value in the migrations library.

I will let you know as soon as that's fixed.

[2016-04-24 17:03] anotherwebstorm commented on #1138
That's awesome.
Thanks a lot.

[2016-04-24 18:00] benhaynes opened #1150 "Directus User emails should be unique"
Currently you can add multiple users with the same email address... this should be checked during validation of the User/New form and within the database itself.

[2016-04-24 18:18] WellingGuzman commented on #1138
@anotherwebstorm I updated the build branch, can you confirm that it fixes the issue for you too?

[2016-04-24 19:21] anotherwebstorm commented on #1138
Excelent Work.
Downloaded your master branch and it works.
Thanks.

[2016-04-24 20:35] benhaynes commented on #1138
Great! Thanks for reporting the issue @anotherwebstorm

Good job @WellingGuzman!!

[2016-04-24 20:35] #1138 closed

[2016-04-25 15:38] benhaynes opened #1152 "All datetime ago values in Firefox say "a few seconds ago""
In Firefox *all* timeago values on the platform are printing as `a few seconds ago`

[2016-04-25 23:24] #1022 closed

[2016-04-25 23:25] WellingGuzman commented on #1022
Closed by: https://github.com/directus/directus/commit/96279371fbcd9cdd09d967c290e17836b3aab71e

[2016-04-27 00:03] WellingGuzman commented on #1152
Hey @benhaynes can you describe or show me some screenshots and/or logs? most recent version all timeago are working as expected.

[2016-04-27 00:19] WellingGuzman opened #1153 "Related and Junctions Tables should ignore current table"
When creating creating a field that needs a junction table or related table, the current table where the field is being created should be ignore.

[2016-04-27 00:41] benhaynes commented on #1152
It's happening locally, and also on Hosted Instances

![screen shot 2016-04-26 at 8 37 19 pm](https://cloud.githubusercontent.com/assets/522079/14838398/ddff67ba-0bee-11e6-9f9b-b2d4f5b9d298.png)

[2016-04-29 16:54] WellingGuzman opened #1154 "Add custom embedded files links"
Directus should support customs embedded files links. right now Directus only expects links to be from YouTube or Vimeo.

Ex:
What if I want to embed SoundCloud links? A developer should be able to extend this by adding new supports.

[2016-05-01 14:13] benhaynes commented on #1154
I'm curious what the best way to implement this would be. Would/could/should this code exist within the file UI, or should we add it into the core so all UIs can use it? Also, we should agree on a good way to handle dependencies – some UIs will require other libraries and we want to make it easy to include those as needed.

[2016-05-04 00:04] benhaynes commented on #596
I'm seeing this issue again... can we check to see if the previous fix is still working?

[2016-05-04 15:42] benhaynes commented on #596
OK, fixed!

[2016-05-04 15:42] #596 closed

[2016-05-07 05:46] davidbwaters opened #1155 "Error on first login attempt"
## Version Info
  - Directus version: 6.2.4
  - PHP version: 5.5.34
  - MySQL version: 5.7.12
  - Web server: Apache
  - OS name and version: OS X latest

Error after first login attempt.

Hey, I have an error that seems to be related to the 2 latest critical issues.  Here's my output.  I've tried all fixes from closed issues, triple checked Apache config, and passed all pre-install tests. I get a

[2016-05-07 06:05] WellingGuzman commented on #1155
hey @davidbwaters thanks for reporting this, according to the error, you have `only_full_group_by` sql mode enabled, and there's a query not obeying this rule.

I will work on it. but if you want to solve this quick for the moment you can turn `only_full_group_by` mode off.

[2016-05-07 09:21] WellingGuzman commented on #1155
@davidbwaters on development branch right now I pushed what should fix the problem using `only_full_group_by`. this is going to be soon in a release soon.

Let me know if this works for you.

[2016-05-12 02:59] WellingGuzman opened #1156 "Allow tables with spaces"
Wrap all tables names to prevent error.

[2016-05-13 13:30] rmercader opened #1157 "Javascript error in Settings > Group Permissions"
To help us resolve your issue more quickly, please use the following template:

For feature requests please chat with us through [getdirectus.com](http://getdirectus.com).

## Version Info
  - Directus version: (Or commit hash) 3.0, Commit hash perhaps d4c5f7a
  - PHP version: 5.6.17
  - MySQL version: 5.7.9
  - Web server: (Ex. Apache, nginx or IIS?) WAMPSERVER, Apache 2.4.17
  - OS name and vers

[2016-05-13 13:56] benhaynes commented on #1157
@WellingGuzman this seems similar to the issue you just resolved – could it be the same problem? That was caused by empty strings in the `directus_tables.primary column` instead of `NULL`, right?

[2016-05-16 22:18] WellingGuzman commented on #1157
@benhaynes I'm not sure, and I don't think so.

@rmercader thanks for reporting this I'm trying to replicate the issue.

[2016-05-19 17:45] WellingGuzman opened #1159 "Changing permissions should toggle table from sidebar"
Changing permission to view a table should toggle the table visibility on the sidebar.

[2016-05-26 23:17] WellingGuzman commented on #72
any element that has a `.contextual-date-updater` class and `data-date` attribute including the date, a date that `moment.js` can understand, should update that element every 60 seconds.

Although it should be a little bit smart, and update gradually, for example dates that are above 1hour it should update hourly. what about not including elements that are hidden or not visibles?

[2016-05-28 10:00] maximivanov opened #1160 "[bug] Save file fails with db error"
## Version Info
  - Directus version: build (59c5fe39b)
  - PHP version: 5.6.21
  - MySQL version: 5.7.12
  - Web server: nginx 1.8.1
  - OS name and version: OS X El Capitan 10.11.5

## Expected Behavior
Upload and save new file (jpg image)

## Actual Behavior
Server error:

[code]

## Steps to Reproduce
 1. After fresh install go to Files -> Upload new file, pick a file and hit (+) to save.

##

[2016-05-28 19:32] WellingGuzman commented on #1160
Hi @maximivanov thanks for reporting this. I will on a fix.

For future reference, I have one question, do you have any MySQL modes enabled? on Strict mode I get a different error.  `1264 Out of range value for column 'date_uploaded'` So I wonder which one do you have that gives you that error.

Thanks.

[2016-05-28 19:38] maximivanov commented on #1160
Sure.

[code]

[2016-05-31 19:25] benhaynes commented on #72
@WellingGuzman Excellent – is there a branch where I can test this?

[2016-05-31 19:26] WellingGuzman commented on #72
@benhaynes development branch, read my previous message on how it works. and let me know how it turns out.

[2016-06-06 07:30] KailZhang opened #1161 "Wrong validation failure for required field of INT datatype Select UI"
As this is my first day trying directus, I found some problems, below is one

## Version Info
  - Directus version: (Or commit hash)
6.2.5
  - PHP version:
5.5.21
  - MySQL version:
5.6.2
  - Web server: (Ex. Apache, nginx or IIS?)
Apache
  - OS name and version:
OSX 10.11.2

## Expected Behavior
Pass validation without required message shown

## Actual Behavior
Validation failure message pops up,

[2016-06-06 17:11] WellingGuzman commented on #1161
Hi @KailZhang I couldn't replicate your issue, what errors pops up? "field is required"? your MySQL server has modes enabled?

you can check them by executing one of these:

[code]

Are you leaving the field empty or pick an option from it? What's the structure of that field?

[2016-06-06 17:47] WellingGuzman opened #1162 "Use ISO 8601 on dates"
We must stop from adding UTC to the dates values, instead we can remove UTC and start using ISO 8601 dates format.

https://en.wikipedia.org/wiki/ISO_8601

Examples
[code]

So this is my idea, all dates should be stored as UTC dates (removing the UTC) and can be converted to any timezone we should let the user configure it to. (default to new york timezone).

All API response will include the date

[2016-06-06 17:48] #1160 closed

[2016-06-06 18:37] #1152 closed

[2016-06-06 18:37] WellingGuzman commented on #1152
@benhaynes I fixed this issue on firefox. can you confirm?

[2016-06-06 19:41] benhaynes commented on #1152
Can confirm – this is fixed on `master`

Thanks @WellingGuzman

[2016-06-06 19:49] benhaynes commented on #1162
This sounds good. But is this for Directus Core data only? Should the date/time UI allow different formats for user content?

Would the user pick a timezone for all of Directus – or per user? If the CMS has users in different timezones, would that still work properly?

[2016-06-06 19:55] WellingGuzman commented on #1162
Forgot to mentioned that, yes, Directus core data only, user can format their date as their wish.

Didn't think through this enough, but good catch, per user will be a even better solution, user can pick their timezone on the editing page. and it will be default to New York Timezone and can be override to whatever the user configure Directus to be.

[code]

[2016-06-06 19:57] benhaynes commented on #1162
OK, great!

Maybe we can request the user's location (in browser) to get/save their timezone for accurate date saving.

[2016-06-06 23:03] WellingGuzman commented on #1160
@maximivanov this https://github.com/directus/directus/commit/2c835d97b194ccc1e0f0a35143508fd940dc6ada should have fixed the problem, and it will be release on v6.2.6

[2016-06-07 01:41] KailZhang commented on #1161
Error: "The field is required"
I don't know how mysql's mode is related to this. I set sql_mode to NO_ENGINE_SUBSTITUTION.
But the problem is still there

![2016-06-07 9 37 06](https://cloud.githubusercontent.com/assets/799942/15843331/fb09a36e-2c93-11e6-9b6d-0b828ee5574c.png)
![2015-07-21 11 19 01](https://cloud.githubusercontent.com/assets/799942/15843332/fbd125a6-2c93-11e6-815e-c9f4f0e50338.png

[2016-06-08 22:43] #1161 closed

[2016-06-08 22:50] WellingGuzman commented on #1161
@KailZhang now I know it doesn't have to do with that, I was asking as you didn't specified the correct error messages I was trying to get this out of the way, as some issues come from mysql modes.

Checking if a number is empty using `_.isEmpty`, it will always going to return false. that was causing the problem.

Thanks for reporting this and let us know if that works for you.

[2016-06-09 17:33] WellingGuzman opened #1163 "Fetch table privilege in a given group"
Fetch a table privilege in a given group.

We already have a endpoint to fetch an all privileges by a given group id, we need to add the ability to fetch a single table privileges by a given group id.

`/api/1/privileges/:groupID/:tableName`

[code]

[code]

[2016-06-13 17:24] christophemarois commented on #1131
+1

[2016-06-13 17:26] benhaynes commented on #1131
@christophemarois working on this update over the next few days. Should have it up soon!

[2016-06-13 22:07] incraigulous commented on #1141
This exact same thing is happening to me as well. It says config isn't writable and the box is empty.

[2016-06-13 22:51] WellingGuzman commented on #1141
@incraigulous can you help me replicate the issue, I've tried different things so far without any luck.

What Directus version and OS are you using?

[2016-06-13 23:08] WellingGuzman commented on #1141
@incraigulous does the web-server user has permissions to read/write the Directus directory?

[2016-06-13 23:16] incraigulous commented on #1141
Looks like that was the issue. I know not to do this in production, but since I’m just taking it for a test drive on my standing server, I set the whole project to 777. It worked!

Craig

[2016-06-13 23:20] WellingGuzman commented on #1141
@incraigulous setting to 775 should works too. avoid using 777 on production.

What OS is your production server? if you are using a linux, you can change permissions using `chmod` command and change owner using `chown` command.

[2016-06-14 00:49] incraigulous commented on #1141
Great thx. Ill make note of that. It's AWS CentOs.

Sent from my iPhone

[2016-06-17 10:11] laszlokorte opened #1164 "Wrong Time in list"
## Version Info
  - Directus version: 6.2.8 / ad3636de
  - PHP version: PHP 5.5.10 (built: Mar 14 2014 12:31:02)
  - MySQL version: 5.1.73
  - Web server: Apache
  - OS name and version: Linux 2.6.32

## Expected Behavior

I have created two time fields. I enter an AM time into the one field and a PM time into the other field.

When now looking at the record in the list view:

* am/pm seems to be

[2016-06-17 10:16] nicoonee opened #1165 "Cant edit tables content"
To help us resolve your issue more quickly, please use the following template:

For feature requests please chat with us through [getdirectus.com](http://getdirectus.com).

## Version Info
Commercial SaaS version tested on Safari and Chrome on OSX

## Expected Behavior
edit table should show me edit page where i can edit table attributes

## Actual Behavior
it redirects me to tables list

## Steps

[2016-06-17 13:06] laszlokorte opened #1166 "Error Uploading SVG Files"
## Version Info
  - Directus version: 6.2.8 / ad3636de
  - PHP version: PHP 5.5.10 (built: Mar 14 2014 12:31:02)
  - MySQL version: 5.1.73
  - Web server: Apache
  - OS name and version: Linux 2.6.32

## Expected Behavior

SVG files should be uploadable.

## Actual Behavior

uploading svg files causes a server error because `imagecreatefromstring` does not support svg.

## Issue

I guess it is cau

[2016-06-17 15:31] WellingGuzman commented on #1165
Hi @nicoonee I'm sorry to hear this but thanks for reporting this.

Does the table has spaces or any special character? I could replicate this issue on a table with spaces and only If I click them on the sidebar, it this also your case?

[2016-06-17 17:55] WellingGuzman commented on #1164
@laszlokorte You are correct, those are the two exact issue. you are welcome to open PR with fixes like this.

[2016-06-17 21:16] #1164 closed

[2016-06-17 22:00] WellingGuzman commented on #1166
Hi @laszlokorte we were aware we had this issue before, I tried to upload a svg and it works. no error, no nothing. just no thumbnail, but no thumbnail missing, it says, "plain". I wonder what was your error exactly? Just to refresh my mind.

Either way I will take a look at this.

[2016-06-17 22:38] WellingGuzman commented on #1166
Okay, so I found something related, when the svg has a xml header, it will cause an error, but when it's not presented it will not. (note to self)

[2016-06-18 01:33] laszlokorte commented on #1166
Yeah that's because
[code]
guesses the mime type by looking at the buffer. If it does not start with the xml header it's not valid xml => not valid svg => finfo can not know that it's svg so it just says `text/plain`.

[2016-06-18 03:01] WellingGuzman commented on #1166
Would be relying on the file extension to determine their mime type a better option? creating a table of extension and their mime types could be a good reason, although it may not be real.

it will never be perfect, though, as an example we have an svg and by it's content `finfo` doesn't know what it is.

What about using `finfo` and a mime type tables and if they mismatch, use the mime type table

[2016-06-18 12:15] laszlokorte commented on #1166
[code]
I think that is not the core problem here. SVG files should always have the correct header to be valid and thus would be detected by finfo correctly.

The problem is that you only check for the media type of the mime type to be image before calling `imagecreatefromstring` but Php does only support JPEG, PNG, GIF, WBMP, and GD2d (http://php.net/manual/de/function.imagecreatefromstring.php) w

[2016-06-18 13:33] laszlokorte opened #1167 "Installation form fields color"
- Directus version: e86379523
  - PHP version: 5.6
  - MySQL version: -
  - Web server: Apache
  - OS name and version: Linux

## Expected Behavior

Some form fields of the installation page have placeholder text set. Usually placeholder text is colored lighter than the actual value of a form field in order to emphasize that it's just a placeholder and not the actual field's value.

## Actual Beha

[2016-06-18 14:32] laszlokorte opened #1168 "This query failed... after fresh install"
I am not sure if it makes sense to report bugs for the development branch. Is it stable enough to expect that cloning and installing it should work?

## Version Info
  - Directus version: e86379523e
  - PHP version: PHP 5.6.14-1+deb.sury.org~trusty+1
  - MySQL version: 5.5.46-0ubuntu0.14.04.2
  - Web server: Apache/2.4.16 (Ubuntu)
  - OS name and version: Ubuntu 14.04.3 LTS

## Expected Behavior

[2016-06-18 15:40] WellingGuzman commented on #1168
hey @laszlokorte, we are continuing working on `development` branch, it very possible everything has lots of unfinished works.

So Thanks for reporting this I will take a look later, but development branch is not meant to be ready right now.

[2016-06-18 15:42] laszlokorte commented on #1168
Ok, that's what I thought. I just wanted to try working on a PR regarding the SVG upload and thought it would be best to base it on the development branch.

[2016-06-18 15:49] WellingGuzman commented on #1166
Okay so we are having different issues here, I haven't replicate the issue where I get an svg mime type (`image/svg+xml`) correct instead of always text/plain. what I'm saying here is that apparently svg has not default content. as it will dependent from where it was created. some got xml at the headers some don't. As I never got any svg I have upload to get me the correct svg, so this make it pos

[2016-06-18 15:51] WellingGuzman commented on #1168
@laszlokorte the best branch you could use is the master, as development branch is all crazy in there right now. I would leave it open until it's fixed on the development branch, so I can remember this is an actual issue before release it.

[2016-06-18 16:00] laszlokorte commented on #1168
Ok, slightly off topic question: Do you have some kind of public roadmap? Currently the documentation seems to be incomplete and there seems to be some dead code in both the php code and the db schema.

For example this list of image formats in the AclAwareTableGateway:
https://github.com/directus/directus/blob/master/api/core/Directus/Db/TableGateway/AclAwareTableGateway.php#L39 (https://github.c

[2016-06-18 16:16] laszlokorte commented on #1166
I was wrong about SVG files having to start with `<?xml` (https://www.w3.org/TR/xml/#sec-prolog-dtd). It's just a `should`.

So you are right: Additionally checking the file's extension is needed to achieve proper mimetype recognition.

[2016-06-18 16:32] WellingGuzman commented on #1168
We are working hard on bringing an up to date and complete documentation, while we clean and make Directus and its code better.

The state of development is live and in continuing development, expect much more, we are not going anywhere yet.

About the "dead code" and "not quite obvious" comment, we have been working into that, so in couple of weeks this are going to be all fixed and well document

[2016-06-18 17:01] christophemarois opened #1169 "Table info API endpoint throws confusing exception when fetching a table that doesn't exist"
## Version Info
  - Directus version: 6.2.8 installed on official directus Vagrant box

## Behavior

When fetching table info:

[code]

I get an exception:
[code]

On line 1182 of `api/api.php`, ` $response = TableSchema::getTable($table);` seems to soft-fail and return `false`, so when it is passed as an argument to `JsonView::render`, it throws an exception.

**EDIT:** It seems that I was fetchi

[2016-06-18 22:23] laszlokorte opened #1170 "New Field "junction table" dropdown"
## Version Info
  - Directus version: d2128abec

## Expected Behavior

When creating a new many-to-many field you need to select a "Junction Table". After selecting the a table from the dropdown the dropdown's value does not change. After selecting the same table twice the dropdown's value finally changes.

## Actual Behavior

The dropdown's value should change on the first attempt.

## Steps to R

[2016-06-18 22:31] laszlokorte opened #1171 "Checkbox UI, not null => check required"
## Version Info
  - Directus version: d2128abec

## Expected Behavior

I have a table with a tinyint(1) column which is not allowed to be NULL but must be 0 or 1. I create a field with the checkbox UI for this column.

I expect the column to be set to 1 if the checkbox is checked and to 0 otherwise.

## Actual Behavior

The validator forces me to check the checkbox because it interprets the NOT NU

[2016-06-18 22:40] laszlokorte opened #1172 "One to Many, Remove Button missing"
To help us resolve your issue more quickly, please use the following template:

For feature requests please chat with us through [getdirectus.com](http://getdirectus.com).

## Version Info
  - Directus version: d2128abec

## Expected Behavior

I have created a one-to-many field to manage child records. In my case the parent is a hotel, the children are the offers.

In the field's settings I have e

[2016-06-18 23:10] laszlokorte opened #1173 "One to Many, Many to Many sometimes not working"
## Version Info
  - Directus version: d2128abec

## Expected Behavior

I am not yet able to reproduce this behavior but during the last two days of testing it occurred several times that child records added via a (one|many)-to-many field were not saved correctly.

The first case:

1. click on the "Add ... items" button of a OTM field
2. fill out the child record's form
3. click the child's "save"

[2016-06-18 23:22] laszlokorte opened #1174 "One to Many, junction column"
## Version Info
  - Directus version: d2128abec

## Actual Behavior

In the list of the OTM fields the right most column is always the one stating the parent record.

In the screenshot you can see me editing a hotel. A hotel has multiple offers. The last column shows "Dorint Hotel" multiple times. I would argue that this column is unnecessary because it's always the same value as that's the very s

[2016-06-19 01:55] #1169 closed

[2016-06-19 02:13] benhaynes commented on #1164
Good catch @laszlokorte – looks like a lot of little issues have made it through the cracks while we worked through the Hosted platform. Thanks for all these comments/tickets!

[2016-06-19 02:35] benhaynes commented on #1167
@laszlokorte – very true! I removed that vendor-specific property so that the autocomplete text is lighter than the actual input text. I also added "eg:" to the two inputs with placeholder text to avoid mistaking them for actual values.

This is on the `development` branch, which will be merged into master in a few weeks (big update).

Thanks for opening this ticket!!

[2016-06-19 02:35] #1167 closed

[2016-06-19 02:42] benhaynes commented on #1166
It's a bummer to rely on extensions, but maybe that's our best fallback.

I do agree that it might be best to copy the full SVG file as the thumb (instead of trying to generate a bitmap version). @WellingGuzman is that something we can do under this ticket?

Thanks @laszlokorte – really appreciate all these tickets!

[2016-06-19 02:46] WellingGuzman commented on #1169
@christophemarois I hope this hot fix works for you, while we work on the API responses we think will be best.

[2016-06-19 03:04] benhaynes commented on #1168
Thanks @laszlokorte – yeah, in the future we'll have these major updates on feature branches instead of `development`. Right now we have about 8 sprints getting wrapped up on dev and are waiting to merge them with `master` (in a few weeks).

Dead code removal, performance/optimizations, UI/UX, SDK/API, example code, docs, vestigial schema names/columns, etc... are what we're focusing on now. We wa

[2016-06-19 03:15] benhaynes commented on #1169
Thanks @christophemarois – this is super useful! We've actually been talking quite a bit about standardizing table/column names, what's best, and what should be supported. For instance, should spaces be allowed in table/column names (as of now we've decided that creating them _within_ Directus would remove spaces... but that Core would support them when created within the database directly. The sa

[2016-06-19 03:28] benhaynes commented on #1169
Also, I've updated the docs with notes reminding users of the API that the table/column names are case sensitive. Very important to have in there until we figure out about downcasing, etc.

[2016-06-19 03:41] benhaynes commented on #1170
Good catch! Field creation (especially relational) is something we're trying to refine and polish. This testing is invaluable – and I think @WellingGuzman is about to push a hotfix for this one.

Thanks again, @laszlokorte !

[2016-06-19 03:50] benhaynes commented on #1171
Hey @laszlokorte – I remember this came up a while ago (a few years). I forget what the reasoning was for this logic but agree with your recommendation.

@WellingGuzman do you see any reason why we can't allow unchecking the "required" option (currently disabled) for TINYINT() that do not ALLOW NULL? Having a required checkbox seems a bit weird – and it definitely shouldn't be required...

[2016-06-19 03:54] benhaynes commented on #1172
@laszlokorte Did you hover over the options in that UI? The "X" appears at the far-right on hover of the item row. If you're not seeing it this is definitely a bug.

If you ARE seeing it then we might need to look at the UI to make sure it's intuitive enough how to delete.

Let us know!

[2016-06-19 03:59] benhaynes commented on #1173
Hmm, yeah. The relational UIs are easily the most complex part of Directus Core – and can be very tricky to troubleshoot/fix. Intermittent issues like this are the worst – but we'll also test on our side to try and find a process for reproducing.

 Anyone else experiencing this issue should comment any additional insight here.

Thank you for the heads up @laszlokorte!

[2016-06-19 04:21] WellingGuzman commented on #1170
@laszlokorte I fixed this issue with this commit https://github.com/directus/directus/commit/b863e1029968a1aba26f00bf45a9e0b7712f0b71.

Let us know if all good in your side.

Thanks for reporting this one.

[2016-06-19 04:29] WellingGuzman commented on #1171
I bumped into this the other day as well, so wasn't sure what was it, so I let it slide.

checkbox shouldn't be require at all, there's not good reason for that. I mean, if it's checked it will be **1** and if it's not well, it's **0** so it will always have value.

I work around here to keep the "mandatory check", will be to add an option, in case this is something useful in some situation that I

[2016-06-19 04:42] #1171 closed

[2016-06-19 05:03] WellingGuzman commented on #1171
This one https://github.com/directus/directus/commit/bf5235156a3d1918ae8c5f4f7b58120e4a130321 should do the trick.

[2016-06-19 10:05] laszlokorte commented on #1171
Thank you for your quick responses

[2016-06-19 10:09] laszlokorte commented on #1172
I am not seeing it. It also not in the markup (devtools).

I just noticed that I am not seeing a delete button in global list views of the tables either.

[2016-06-19 10:18] laszlokorte opened #1176 "OTM field, edit before save fails"
## Version Info
  - Directus version: bf52351

## Expected Behavior

When creating a new child record via OTM field and then clicking that new record again for editing it before the parent has been saved) I would expect to be able to edit this child.

## Actual Behavior

When clicking the child I get an error message (see screenshot).
Interestingly I even get this error after having the parent sav

[2016-06-19 10:26] laszlokorte opened #1177 "Wrong checkbox value in OTM list before save"
To help us resolve your issue more quickly, please use the following template:

For feature requests please chat with us through [getdirectus.com](http://getdirectus.com).

## Version Info
  - Directus version: bf52351

## Expected Behavior

The checkbox should be displayed correctly in the list of an OTM field.

## Actual Behavior

The checkbox is always displayed as checked

## Steps to Reproduc

[2016-06-19 10:31] laszlokorte opened #1179 "Re-editing OTM entry before saving discards previous edit"
## Version Info
  - Directus version: bf52351

## Expected Behavior

Temporary changes should not be lost.

## Actual Behavior

Changes are lost.

## Steps to Reproduce
 1. Edit an existing child record via OTM field
 2. change some values
 3. click "Save" for the child to get back to the parent
 4. do not save the parent yet
 5. click on the child in the OTM field again to do some further adjustm

[2016-06-19 11:38] laszlokorte opened #1180 "Add new field does not create a directus_columns entry"
## Version Info
  - Directus version: bf523515

## Expected Behavior

When creating an a new field, a corresponding directus_columns record should be created to save the corresponding settings, eg the field's UI.

## Actual Behavior

When creating an "instruction" or a "slider" field (I guess any non-relational field) the corresponding the entry in the `directus_columns` is not created. This leads

[2016-06-19 12:08] laszlokorte opened #1181 "UI settings always required?"
## Version Info
  - Directus version: bf5235156a

## Expected Behavior

When editing the UI settings of a field all options have an asterisk (*) next to them marking them as required. In a way that makes sense because often it is conceptual required to set those values (eg the min and max of a slider). On the other hand it's confusing because it does not get validated. Especially for the "Allow Nu

[2016-06-19 12:16] laszlokorte opened #1182 "Creating a single_file field, then changing it back to Numeric"
## Version Info
  - Directus version: bf5235156

## Expected Behavior

The `relationship_type` and `table_related` columns in `directus_columns` should be reset to null.

## Actual Behavior

The columns stay set to MANYTOONE and directus_files.

This leads to the Relationship settings of the field to be visible even though the field is just a numeric field.

## Steps to Reproduce
 1. create a sing

[2016-06-19 12:24] laszlokorte opened #1183 "checkbox UI for MTM"
It would be nice to have an additional, simplified UI for handle MTM fields: simple checkboxes.

Let's say I have a `People` table and a `Roles` table which are related MTM.

Now when editing an user instead of having a list of roles of this users to which I can add or remove items it would be nice to have just a few checkboxes like

[x] Administrator  -   [ ] Editor  -   [x] QA

which I can check

[2016-06-19 12:34] laszlokorte opened #1184 ""Allow Null" does not alter table"
## Version Info
  - Directus version: bf5235156

## Expected Behavior

Setting the "Allow Null" setting should alter the table's column. Otherwise what is the difference between the "Allow Null" and "Required" setting of a field?

## Actual Behavior

It's not clear what the "Allow null" does for a numeric field

/edit: same for `select` field

[2016-06-19 12:42] laszlokorte opened #1185 "Select UI, INT column"
## Version Info
  - Directus version: bf52351

## Expected Behavior

When editing a record a select box field should have the currently saved value selected initially.

## Actual Behavior

The selectbox does not have the current value selected

## Steps to Reproduce
 1. Create a select field of type INT
 2. Edit the UI settings and provide `{"10": "X", "20": "Y"}` as json for the selectbox options

[2016-06-19 12:45] laszlokorte opened #1186 "Select UI, INT column, Required not validated"
To help us resolve your issue more quickly, please use the following template:

## Version Info
  - Directus version: bf52351

## Expected Behavior

When setting "required" for a select field it should be validated that something from the selectbox is selected.

## Actual Behavior

The selectbox is marked with an asterisk (*) but the even when selecting the empty option no error is reported.

[2016-06-19 12:46] laszlokorte commented on #1186
This slightly relates to #1184.

Unchecking "Allow Null" for the select ui settings should also alter the table's column and force the "required" checkbox to be checked.

[2016-06-19 12:50] laszlokorte opened #1187 "Validate JSON"
## Version Info
  - Directus version: bf52351

## Expected Behavior

When UI settings accept JSON as input, that JSON should be validated while editing the setting.

## Actual Behavior

Currently when inputting invalid json it get's just saved and then causes Directus to crash when editing a record because the UI tries to parse/use the invalid JSON.

## Steps to Reproduce
 1. Create a select UI fi

[2016-06-19 13:02] laszlokorte commented on #1183
Another cool feature would be allowing the Tag UI to be used with MTM relationships and

[2016-06-19 13:03] laszlokorte commented on #1183
And using the Checkbox UI with the SET column type

[2016-06-19 13:04] laszlokorte commented on #1183
And using the Radiobuttons UI for MTO relationships

[2016-06-19 13:18] laszlokorte opened #1188 "Visible column strip whitespace"
## Version Info
  - Directus version: bf52351

## Expected Behavior

The "Visible Column" fields (eg in the MTO ui settings) accepts a CSV of column names. It's convenient to type those name with additional space after the comma. like `title, foo, bar`.

This should work.

## Actual Behavior

It causes an error that the column ` foo` (with leading space) can not be found.

IMO the whitespace shoul

[2016-06-19 13:27] laszlokorte opened #1189 "MTO Typeahead settings not clear"
## Version Info
  - Directus version: bf52351

## Expected Behavior

It's not quite clear what the "Template" setting and the "Include inactive" settings for the Typeahead UI are supposed todo.

First I thought the template is for formatting the autocomplete dropdown of the input field but that's not the case. The autocomplete field just contains all "Visible Column"s concatenated.

As you can see

[2016-06-19 13:28] laszlokorte commented on #1189
You can also see on the screenshot above that the text of the input field is misaligned.

[2016-06-19 13:34] laszlokorte opened #1190 "WYSIWYG readonly not working"
## Version Info
  - Directus version:bf52351

## Expected Behavior

The WYSIWYG UI provides a readonly setting. Setting it to true does not affect the editor. It's still possible to edit the text.

Not sure if "readonly" makes sense for a wysiwyg. Either the option should be removed or it should work.

## Actual Behavior

"Read only" has no effect.

[2016-06-19 13:54] benhaynes commented on #1183
@laszlokorte Exactly. We actually had this in Directus 5 for relational UIs but they didn't get migrated in. The M2M fields could be displayed as a re-orderable list (how it is now), array of checkboxes, or multi-select list. Then, M2O had display options for dropdown or radio-buttons.

I think we should add these as options in the existing M2M and M2O core UIs – and they template get adjusted. @W

[2016-06-19 13:56] laszlokorte commented on #1183
yes

[2016-06-19 14:21] laszlokorte opened #1191 "consistent schema (ids, unsigned)"
## Version Info
  - Directus version: bf52351

## Suggestion

It's not a real problem but I think it would be nice if the db schema (both the directus tables and the custom ones) would be set up a bit more consistent:

* currently some ìd`columns are `INT(10)` some are `INT(11)`
* some ìd` columns are unsigned, some are not
* the `active` column of a new table allows NULL values. I think `NOT NULL

[2016-06-19 14:45] laszlokorte opened #1192 "permission issues"
## Version Info
  - Directus version: bf5235156

**First:** when editing fields permissions it's not obvious when the changes are saved. When clicking on the "Edit field level permissions" button of a table and then clicking on another link (eg a table in the sidebar) you get a warning that the changes may get lost. (Even if you did not change anything)

The correct way to confirm all changes seem

[2016-06-19 14:50] laszlokorte commented on #1192
The "Draft only" status filter for tables when editing a permission group is confusing because the "draft" concept makes no sense for tables

[2016-06-19 15:23] #1177 closed

[2016-06-20 01:06] paragonie-scott opened #1193 "One of these things is not like the other"
![directus_ad](https://cloud.githubusercontent.com/assets/11591518/16180965/545c2d20-3661-11e6-88a1-0f64c51c62f1.png)

https://github.com/directus/directus/blob/bb359ebfdf68477056ca82972ffa7dbc8bd80025/api/core/Directus/Auth/Provider.php#L212-L215

Not only are you not following best practices for user authentication, that particular arrangement (`sha1(salt || password)`) is a classic setup for a

[2016-06-20 03:31] WellingGuzman commented on #1184
Hi @laszlokorte apparently it does nothing. so, it's going to be removed.

[2016-06-20 03:42] WellingGuzman commented on #1184
@laszlokorte oh by the way on `select` it basically just let you choose an empty string as value. not modifying your table structure in no way. UI settings isn't not suppose to be to altering the table schema. or maybe not yet.

[2016-06-20 03:43] #1184 closed

[2016-06-20 03:46] WellingGuzman commented on #1193
Hi @paragonie-scott thanks for the recommendation we help us make Directus more secure.

To be honest we've been aware of the use of `uniqid()` and we happen to address all this soon, we have been working on a lot of stuff and bug fixing right now.

We will take some time to work on security issues, which is also important.

[2016-06-20 04:02] WellingGuzman commented on #1190
@laszlokorte apparently there's an issue with the wysiwyg library, but the thing the library allowed us to disable the editor, but it doesn't seem to be working.

[2016-06-20 04:39] WellingGuzman commented on #1187
This is related to this one #1181, that one should be also implemented in order to fix this one.

We are not actually validating the UI settings. on step closer to that.

[2016-06-20 04:50] WellingGuzman commented on #1186
@laszlokorte when you said "required" you mean checking "Allow Null"? if that was I got the issue.

[2016-06-20 04:51] #1186 closed

[2016-06-20 05:02] WellingGuzman commented on #1185
Hi @laszlokorte I couldn't replicate the issue I followed all your step and it did work as expected.

on a side note  `{'10': "X", '20': "Y"}` is a malformed JSON, I used double quote. just letting know. it's has nothing to do though.

[2016-06-20 05:06] WellingGuzman commented on #1183
@laszlokorte right! this will be great.

[2016-06-20 10:59] laszlokorte commented on #1185
Right, the single quotes are of course wrong. Anyway the problem for me persists.

The problem seems to be that `selectedValue` here:
https://github.com/directus/directus/blob/master/app/core-ui/select.js#L36

not the selected value but some other object:
![bildschirmfoto 2016-06-20 um 12 56 29](https://cloud.githubusercontent.com/assets/26493/16191847/863803ca-36e6-11e6-82ba-c7428814f1df.png)
so

[2016-06-20 11:08] laszlokorte commented on #1186
@WellingGuzman I think I was actually talking about the "required" checkbox on the field in the field list of the table.

But it's actually working now anyway. Thanks.

[2016-06-20 11:14] laszlokorte commented on #1184
Thanks. Now that you have fixed #1186 I can see how the option works for the select ui.

Maybe it would be more clear to rename the "Allow Null" UI option to "Allow Empty" or "Include Empty Option". Because "allow null" sounds like a technical database related term.

[2016-06-20 13:34] timbuckingham opened #1194 "Incorrect Composer Dependencies Help Link"
## Version Info
  - Directus version: 8638bf1df78eeb9075731005bd562a0b08404513
  - PHP version: 7.0.0
  - MySQL version: 5.5.42
  - Web server: Apache
  - OS name and version: OS X 10.11

## Expected Behavior

Linking to a help page about which composer dependencies need to be installed.

## Actual Behavior

Links to https://github.com/directus/directus/wiki/6.-Development-Build#step-4-install-dep

[2016-06-20 15:12] paragonie-scott commented on #1193
I can sympathize with having all your spare time accounted for with bug fixing, etc.

As a security researcher, however, I do take issue with products claiming to adhere to best practices and then, it turns out, actually don't. Security is hard. Cryptography is one of the more annoying aspects of security, where things like "comparing strings" can lead to [disastrous results](http://blog.ircmaxell

[2016-06-20 20:37] benhaynes commented on #1193
@paragonie-scott – Absolutely, we 100% agree. We've been chatting with a few folks adept in security (always looking for more!) and are moving into big security update/push over the next few weeks. Security audits/experts aren't cheap and being open-source we're always looking for community specialists who are interested in assessing/contributing to our framework.

If you have any interest in prov

[2016-06-21 05:05] WellingGuzman commented on #1168
hey @laszlokorte I think the issue here may be the composer/vendor packages.

Try this:

1. Remove the vendor directory (`api/vendor`)
2. Update the `development` branch with the latest (at least https://github.com/directus/directus/commit/bee32e3a3d9a31d233bfb37f856252a3c5d2cf23 when I pushed an update `composer.lock` file)
3. run `composer install` again

This step should fix this issue.

There'

[2016-06-22 22:47] WellingGuzman commented on #1194
hey @timbuckingham Thanks for reporting this I will take a look at this later today.

[2016-06-22 22:50] WellingGuzman opened #1196 "Bower implementation"
Quick reminder that we should manage all the front-end libraries using Bower, or similar.

[2016-06-23 03:20] benhaynes opened #1197 "Directory/File Organization"
- [x] Move composer to root
- [x] `ui`, `listviews` and `extensions` to reside inside `custom`
- [x] `media` becomes `storage` with all subdirectories (including `adapters`)

[2016-06-23 12:24] laszlokorte opened #1198 "Configurable field layout"
From a frontend layout perspective this is probably a rather big feature but it would be nice anyway:

It would be great if we could assign widths to each field of a table to achieve a multi column layout for the table's editing page. [In kirby (an document based cms) this is possible for example](https://getkirby.com/docs/panel/blueprints/form-fields).

The editing page
![bildschirmfoto 2016-06-2

[2016-06-23 13:00] benhaynes commented on #1198
Thanks @laszlokorte – been thinking about this one for _years_! Especially useful for things like lat/lon or address inputs. I'd love to figure this out, but here are a few things we'd need to consider before moving forward with this update:

* **UIs:** Which UIs can support this? All of them? They could responsively adjust to less width – but some are more conducive to the smaller horizontal spac

[2016-06-23 13:13] laszlokorte commented on #1198
uis: which UIs would be bigger?

design: If two neighboring UIs have different heights in kirby the smaller one just has spacing below it:
![gaps](https://cloud.githubusercontent.com/assets/26493/16304242/d05d7b22-3954-11e6-9022-b3810f6870ae.png)
I think that's fine.

Labels: I agree, that's probably one of the strongest problems

Widths: In kirby multiples of 1/2, 1/3, 1/4 or 1/5 are supported. I

[2016-06-28 15:42] chrisys opened #1199 "List view column headings do not obey hidden settings by default"
## Version Info
  - Directus version: cc524c6

## Expected Behavior
When a column within a table is marked as hidden, it should no longer appear in the list views for any user groups.

## Actual Behavior
When a column is marked hidden, it does display in list views for all users until the list view is customised. The hidden column is visible until the columns visible are customised using the cog o

[2016-06-28 16:53] WellingGuzman commented on #1199
@chrisys Thanks for reporting this I will take a look at this one.

[2016-06-29 01:28] #154 closed

[2016-06-29 01:28] #805 closed

[2016-06-29 01:28] #1021 closed

[2016-06-29 01:28] #1132 closed

[2016-06-29 01:28] #1199 closed

[2016-06-29 03:33] WellingGuzman commented on #1199
hey @chrisys on Table Settings now you will see `Hide List` and `Hide Input` which are two separate things, `Hide List` will hide the field from being listed (ex. at the table listing) and `Hide Input` will hide it from being displayed on the editing page.

I hope this helps, and let me know if you have any question.

[2016-06-29 13:23] chrisys commented on #1199
@WellingGuzman Nice one! Will pull and give it a go shortly.

[2016-06-29 15:16] melfnt opened #1200 "user insert fails on fresh install"
## Version Info
  - Directus version: 6.2.8
  - PHP version: PHP 7.0.4-7ubuntu2.1 (cli) ( NTS )
  - MySQL version: mysql  Ver 14.14 Distrib 5.7.12, for Linux (x86_64) using  EditLine wrapper
  - Web server: Apache2
  - OS name and version: Ubuntu 16.04 x86_64

## Expected Behavior
User is correctly inserted after clicking the add button

## Actual Behavior
An error message shows up stating "query

[2016-06-29 16:19] WellingGuzman commented on #1200
Hey @melfnt Is there by any change STRICT mode enabled in your MySQL server? This is an issue we are having, there's nothing we can do right now, but ask you if it's possible to disable strict mode, it has been reported before #395.

We will see what we can do about this as this is an issue that's being reported so many times.

[2016-06-29 17:13] melfnt commented on #1200
Thank you, @WellingGuzman that solved my problem.
But can you please release a version of directus that can be used without disabling the STRICT mode?

[2016-07-06 07:34] WellingGuzman commented on #72
this was done. closing it.

[2016-07-06 07:34] #72 closed

[2016-07-06 07:45] WellingGuzman commented on #1141
So I will call it permission issue. solution worked for @incraigulous

If this still happening to someone let us know and I will open this ticket again.

[2016-07-06 07:45] #1141 closed

[2016-07-06 08:11] WellingGuzman commented on #1153
Tables CAN relate to themselves. closing this.

[2016-07-06 08:11] #1153 closed

[2016-07-06 18:13] #1163 closed

[2016-07-06 18:14] WellingGuzman commented on #1163
Going to be push to the site after the next release.

[2016-07-06 21:48] WellingGuzman commented on #1168
I'm closing this. unless @laszlokorte reports that the previous comment didn't fix it for him.

[2016-07-06 21:48] #1168 closed

[2016-07-06 21:53] WellingGuzman commented on #1134
This was fixed already in [here](https://github.com/directus/directus/commit/137a3b46f37db6dba4876839433efa3a4ef8b9cb)

[2016-07-06 21:53] #1134 closed

[2016-07-06 22:45] WellingGuzman commented on #1111
I couldn't replicate this before, so we went through a different fixes and hotfixes for relationship fields, so this might be fixed along the way.

I'm closing this one, but if @TJProgrammer still experience this issue, I will open this again and take care of that again.

[2016-07-06 22:45] #1111 closed

[2016-07-06 23:53] #1193 closed

[2016-07-07 14:36] WellingGuzman commented on #1165
This was already fixed on hosted.

[2016-07-07 14:36] #1165 closed

[2016-07-07 16:12] #1194 closed

[2016-07-07 16:13] WellingGuzman commented on #1194
Sorry @timbuckingham I took too long to push this fix.

[2016-07-07 16:29] #1180 closed

[2016-07-07 17:08] #1190 closed

[2016-07-07 17:56] WellingGuzman commented on #1187
https://github.com/directus/directus/commit/9868a82646cc33f4927373894a72c07eaa19eae2 is not the solution but it will prevent from crashing the app.

The validation will be taken care of in this ticket. #1023

[2016-07-07 17:56] #1187 closed

[2016-07-07 18:03] WellingGuzman commented on #1181
This was partially solved, as none settings are required. The rest will be addressed in this ticket #1023

[2016-07-07 18:03] #1181 closed

[2016-07-08 04:07] WellingGuzman commented on #1185
@laszlokorte I've been trying to replicate this again after the recents changes but I can't replicate the selection failing.

Can you check and let me know if still happening?

[2016-07-08 10:46] laszlokorte commented on #1185
should I try the dev or the master branch?

[2016-07-09 00:57] lukasumlandt opened #1201 "Table creation issue"
## Version Info
  - Directus version: directus-6.2.8
  - PHP version: 7.0.8
  - MySQL version: mysqlnd 5.0.12-dev (10.1.13-MariaDB)
  - Web server: Apache/2.4.18
  - OS: Windows 10 Pro 64bit / Ubuntu Server 32bit (same issue)

## Expected Behavior
Table should show up and be editable (and no backend freeze of course)

## Actual Behavior
Creating table (it shows up in phpmyadmin), freezing and not

[2016-07-09 03:35] WellingGuzman commented on #1185
@laszlokorte master branch, and let us know.

[2016-07-09 04:06] WellingGuzman commented on #1201
Hi @lukasumlandt Thanks for reporting this, but what did you mean by "_set another backend url than productive-page url_"?

I'm sorry I do not understand the step to reproduce the issue.

[2016-07-09 11:26] lukasumlandt commented on #1201
Hey @WellingGuzman Sorry for the bad description, i meant to set the url of the backend (directus itself) to "http://directus.dev" and the global setting to "http://frontend.dev".

I just tried to manage the page from another domain and not from a "/cms"-subdirectory.

[2016-07-09 23:18] WellingGuzman commented on #1200
Hi @melfnt we will be work on that, I'll close this ticket so this will be solve in #395

[2016-07-09 23:18] #1200 closed

[2016-07-09 23:21] WellingGuzman commented on #1201
If I understood correctly what you are trying to do is have the Directus admin in one domain and having your frontend site in another domain.

Directus doesn't have any "frontend" part. any frontend solutions should be code by yourself.

The global settings `project name` it's just a quick way to jump into your site whatever that could be, which is it's not attached to Directus in anyway.

Am I mi

[2016-07-09 23:52] WellingGuzman commented on #1191
Hi @laszlokorte we are aware of this, so we have no plan to work on this right now, but I will open a new ticket with this information into Directus Wishlist.

Thanks,

[2016-07-09 23:52] #1191 closed

[2016-07-09 23:54] WellingGuzman opened #1202 "Relate column with the same type"
Only make table related by column with the same type (and length when is required).

[2016-07-10 11:11] #1201 closed

[2016-07-10 17:58] WellingGuzman commented on #1197
@benhaynes should we leave this open until we change the `media` directory into `storage`? or wait to a future version?

[2016-07-10 18:57] WellingGuzman commented on #1166
We can't crop a svg, can we? we should create an image as svg thumbnail, as it may be used as a preview, and most likely to be supported without much hassle.

Are we really want an svg file to represents itself as thumbnail? we can do that and I see the point, that will add a new level of, this is a svg render itself it's not, look for the thumbnail.

maybe I'm wrong, but let's do testing here.

[2016-07-10 23:33] WellingGuzman commented on #1150
Closed by https://github.com/directus/directus/commit/e243db06017a71f8000bfce38724a8b017b4b8e9

[2016-07-10 23:35] WellingGuzman commented on #1155
Still no problem after the wrong query group fix.

@davidbwaters if you find yourself having trouble with this let us know

[2016-07-10 23:35] #1155 closed

[2016-07-11 00:20] WellingGuzman commented on #1088
@benhaynes that's because the default values of the other fields are used.

should we default everything to 0?

[2016-07-11 01:08] #1088 closed

[2016-07-11 01:10] WellingGuzman commented on #989
Should we close this and open the ticket on the SDK? or should we keep it here as we are updating the Directus DB package?

[2016-07-11 01:24] #1174 closed

[2016-07-11 01:25] WellingGuzman commented on #1174
hey @laszlokorte this https://github.com/directus/directus/commit/6a584235b22d6c94819dcd2b1f8ab11fd5ef8d7c should fix this issue.

[2016-07-11 01:30] WellingGuzman commented on #1176
Hey @laszlokorte I'm late on replying but now I'm focusing on the UIs.

After I coulnd't replicate this issue, I want to check with you if after all these fixes lately are you still having this issue?

why is the error on `many_to_one` UI? is there a M2M UI in that table?

[2016-07-11 13:44] benhaynes commented on #1176
Just to add to this – there is a O2M and a different M2O UI... so it's good to clarify which we're talking about.

[2016-07-11 14:13] benhaynes commented on #989
We can move it to the SDK repo, but I'm worried it will be overlooked there. If we need to update Directus Core for this then we should leave it here until that's done. Thoughts?

[2016-07-11 14:29] benhaynes commented on #1150
This is a good database change –  but the interface isn't super clear still. When saving an email address with a duplicate value you get:

[code]
*Notice*
The "email" field must be unique – "ben@rngr.org" already exists within this table.
[code]

[2016-07-11 14:31] benhaynes commented on #1166
Within Directus, we probably want to maintain all thumbnails as bitmap (JPG). Let's try to create a JPG of the SVG in the `thumbs` folder. If we can't do that, we can make a copy of the SVG in the `thumbs` directory.

@WellingGuzman is there a supported way to get a JPG thumb of the SVG with our required libraries?

[2016-07-11 14:35] benhaynes commented on #1197
We couldn't change the `media` directory because it breaks Hosted? Or backwards compatibility? Or was it just too much work for now?

It'd be good to get that directory renamed/reorganized earlier – so I don't want to push it off too far if we don't have to.

[2016-07-11 15:25] WellingGuzman commented on #989
I've been thinking about it, staying here will be best as it will be in Directus Core anyway, and will be used by the SDK.

[2016-07-11 16:12] WellingGuzman commented on #1166
@benhaynes apparently GD library doesn't support SVG but Imagick does, but all this library requires to be installed.

I will do some research about this, but what can be sure it's that Directus upload the svg with no problem, the thumbnail is what we need to look for a solution.

Copying the same file twice wouldn't be a good idea though. Although we can do it's replace the thumbnail with the sam

[2016-07-11 17:13] benhaynes opened #1203 "Language Translations"
Directus now has multilingual support – and we're looking for anyone interested in helping translate our [English default language file](https://github.com/directus/directus/blob/master/api/locales/en.json) into other languages. It's as easy as copying that `en.json` file and changing the values!

PR any translations into [this Directory](https://github.com/directus/directus/tree/master/api/locale

[2016-07-12 15:04] benhaynes commented on #1172
Hey @laszlokorte – so I've added a O2M through Directus (dev branch) and it seems to be working for me. With multiple/many fields it does get pushed far to the right (off screen for smaller viewports) – but I can see it when I expand the browser... so it should still be in dev tools.

Maybe give it a try on the dev branch (master should also work since we just merged). Maybe this was resolved with

[2016-07-12 15:06] benhaynes commented on #1172
Do you mean for the Item listing page? This page doesn't have a delete button, it uses the status feature (clicking on the left check boxes for items). Also, this feature works when a status field is included (default: `active`) or you have permission for a hard delete on that table.

Let me know if this helps!

[2016-07-12 15:19] benhaynes opened #1205 "Automatically navigate to UI Options after creation"
Directly after creating a new field/column, Directus should navigate the user to the UI Settings to complete the setup. This may only be needed for certain UIs – so we could add a flag (`requires_option_setup`)... relational UIs definitely need this feature.

[2016-07-12 15:22] WellingGuzman commented on #1205
are we talking about `visible_columns`? :)

This is needed along with #1023 (Validating UI)

[2016-07-12 16:05] benhaynes commented on #1205
yeah! It would be easy to miss these settings... so we should navigate to them after field creation. Do you agree? We could make that a UI option if not all UI types will have required options.

[2016-07-12 22:50] WellingGuzman commented on #1162
We can open a new ticket for user timezone.

Wouldn't be too much asking for location, I always feel too skeptical from site requesting my location, or is it just me? @benhaynes

[2016-07-13 01:40] benhaynes opened #1206 "User timezone setting (directus_users.timezone)"
To allow for users in different timezones, we should add a new `directus_users` column called `timezone`. Then each user can have the detailed timestamps show in their time.

[2016-07-13 01:41] benhaynes commented on #1162
We don't need it to use the browser check... just a dropdown on each user detail page instead of the config: https://github.com/directus/directus/issues/1206

Is this one good to close?

[2016-07-13 01:43] WellingGuzman commented on #1162
yes, and It will auto-close when we merge it into master, thanks to magic ✨ ✨ ✨

[2016-07-13 17:17] benhaynes opened #1207 "Missing "Logged out" message"
When a user is logged out for being idle, the message is no longer displayed below the login box:

http://local.directus.com/login.php?inactive=1

[2016-07-13 17:24] #1207 closed

[2016-07-13 19:12] WellingGuzman commented on #1025
A better solution will be using a Directus CLI.

Something like this:

[code]

[2016-07-13 21:02] benhaynes commented on #1025
Even better – how difficult is this to implement?

@mrwho – any experience with CLI?

[2016-07-13 21:12] Wedjaa commented on #1025
@benhaynes Will look into it - I havent' used the PHP CLI in a while, but I was already looking into the `directus`  command line for the configuration part of the Docker.

[2016-07-13 21:14] WellingGuzman commented on #1025
we definitely needs to write the Directus CLI to accept different commands, we can write ourself a simple one or look for simple php cli library.

right now directus cli is basically a way to install directus with three built-in command.

[2016-07-14 03:35] WellingGuzman opened #1208 "Email template not being copy in Build"
Email template directory are not being copy in Build

[2016-07-14 04:13] benhaynes opened #1209 "Force `related_table` for Multiple Files UI"
The `related_table` for the Multiple Files UI should *always* be `directus_files`

[2016-07-14 17:15] #1208 closed

[2016-07-14 23:10] benhaynes opened #1211 "Rename `directus_files.url` and add full path column"
Currently `url` is used to store related IDs for Vimeo and Youtube... so we should rename this to `external_id` or something similar and update the migrations file.

Also, we should have a column that saves the full URL to the image... and should probably call this column `url` ;)

Even though the file server might change (and therefore the path/URL) it would be good to return the full file URL in

[2016-07-15 19:40] katywings commented on #1203
I could help with the german translation and am at your disposal :)

[2016-07-15 19:44] WellingGuzman commented on #1203
Amazing @katywings that would be a huge help.

You can duplicate the [English Translation file](https://github.com/directus/directus/blob/master/app/locales/en.json) into `de.json` and start translating.

_Danke schön_ :)

[2016-07-15 19:58] katywings commented on #1203
You're welcome. However there is something to talk about before I begin xD, do you prefer formal or personal pronunciation? ([Wiki](https://en.wikipedia.org/wiki/T–V_distinction#German)

"Du oder Sie?"

It will take some time anyway - I will work on it while setting up a new backend ;)

[2016-07-15 20:14] WellingGuzman commented on #1203
Good question, I believe formal will be best.

Now that you brought this to topic we should be considering this for all translation.

Any thoughts @benhaynes?

[2016-07-17 11:11] RabbitMC opened #1212 "Nothing there after installation"
![screen shot 2016-07-17 at 13 01 50](https://cloud.githubusercontent.com/assets/1866374/16900254/e2c8493a-4c1f-11e6-8a50-b138ad897767.png)
![screen shot 2016-07-17 at 13 02 01](https://cloud.githubusercontent.com/assets/1866374/16900259/fe33e760-4c1f-11e6-8ff3-fa3a1039e10b.png)

![screen shot 2016-07-17 at 13 03 07](https://cloud.githubusercontent.com/assets/1866374/16900255/e2cba756-4c1f-11e6-93

[2016-07-17 11:11] RabbitMC commented on #1212
![screen shot 2016-07-17 at 13 02 01](https://cloud.githubusercontent.com/assets/1866374/16900256/f458bd6a-4c1f-11e6-95c9-d92973b15e00.png)

[2016-07-17 19:57] WellingGuzman commented on #1212
Hello @RabbitMC,

Can you give us more information to replicate the issue? Server OS, Directus version/branch/commit, etc.

You can read our [issue report template](https://github.com/directus/directus/blob/master/.github/ISSUE_TEMPLATE.md)

[2016-07-17 20:15] RabbitMC commented on #1212
I found out, that its working, but on Safari (9.1.1) it not working. Firefox and Chrome for OS X (10.11) works fine.

Version Info:

Directus version: #cbbd2a8
PHP version: 5.4.0
Web server: Apache 2
OS name and version: Ubuntu 14.04

[2016-07-17 20:21] WellingGuzman commented on #1212
Thanks @RabbitMC I'm going to work on this one.

[2016-07-17 20:46] #1212 closed

[2016-07-17 20:49] WellingGuzman commented on #1212
@RabbitMC I pushed a fix that will solve this problem.

[2016-07-18 10:58] RabbitMC commented on #1212
@WellingGuzman tested! works! thanks! 👍

[2016-07-18 14:57] benhaynes commented on #1203
Sorry for the late response – I agree that formal is probably better. It would be nice for Directus to be more approachable and casual, but I think clarity and professionalism is better for corporte end-clients.

Thanks you so much for your help @katywings – we're really excited to get more translations in the platform!

[2016-07-18 18:07] benhaynes commented on #1025
@Wedjaa
Just out of curiosity (since I haven't used it yet) – does/will the CLI install ask for setup options (individua prompts) like the GUI install page? (eg: host, port, example content)

[2016-07-18 18:08] Wedjaa commented on #1025
Not currently -- but it could be easily implemented.

[2016-07-18 18:14] benhaynes commented on #1025
Excellent! I'll try it out in a few days when I spin up a new client server. This is super exciting, I like how extensible this is becoming...

[2016-07-19 06:26] WellingGuzman commented on #1205
I will review all the UI to see which one requires to be set before work.

[2016-07-19 10:01] chrisys opened #1214 "Custom logo display"
## Version Info
  - Directus version: 6a5c0d0

## Expected Behavior
170x100px CMS logo displays in full

## Actual Behavior
Bottom 20px of custom is cut off because parent container #sidebar #mainLogoBox, height: 100px  is overridden by statement in .logo-container, height: 60px !important.
https://github.com/directus/directus/commit/40038b26be3aa9f44fcf509c7017552c8143cf39#diff-9325b5dd3c775ee7e0

[2016-07-21 01:20] WellingGuzman commented on #1137
This was closed by https://github.com/directus/docs/commit/88eef3b1e4bab44d3ff2d530ffb84daf52f58b4f

[2016-07-21 01:20] #1137 closed

[2016-07-21 05:06] WellingGuzman commented on #1157
This issue was fixed by https://github.com/directus/directus/commit/b0fcc75ceb753f86b44a52cdf83f7d59f71c01dc and https://github.com/directus/directus/commit/cbbd2a8f57863c1cbd272b2ba528528452b5267c.

If this is not the case I will re-open the ticket.

[2016-07-21 05:06] #1157 closed

[2016-07-21 05:27] WellingGuzman commented on #1000
We have been fixing lots of bugs with uploading files so I assume this was fixed along the way.

@Mahjouba91 About Class 'finfo' not found, was odd to me, but I found this extension is disabled by some hosting and/or php installation. I added a requirement check on installation this may help a bit.

Thanks, I will close this, if this a issue that still persist I will open it up again.

[2016-07-21 05:27] #1000 closed

[2016-07-21 14:02] adrianozappacosta opened #1215 "Two translation fields"
## Version Info
  - Directus version: (Or commit hash)
  - PHP version:
  - MySQL version:
  - Web server: (Ex. Apache, nginx or IIS?)
  - OS name and version:

## Expected Behavior
I added two translation fields on one table, as I do have the translated content distributed on two related tables. I expect to have one translation section in the backend that contains all fields of the two related ta

[2016-07-22 08:29] RabbitMC opened #1216 "Error: TypeError: undefined is not a constructor"
## Version Info
  - Directus version: #6e9feb1
  - PHP version: 5.4.0
  - MySQL version:
  - Web server: Apache 2
  - OS name and version: Ubuntu 14.04

## Expected Behaviour
Getting image from Directus Files should work

## Actual Behaviour
If I choose
Upload, URL Import it works

If I choose 'Directus Files' as option for an Image of a entry the an error notification occurs

## Steps to Reproduc

[2016-07-22 08:37] RabbitMC opened #1217 "As Admin I can not see entries"
## Version Info
  - Directus version: #6e9feb1
  - PHP version: 5.4.0
  - Web server: Apache 2
  - OS name and version: Ubuntu 14.04

## Expected Behaviour
As an Admin with all userrights and permissions I can see all available entries of a table. I can also manipulating them.

## Actual Behavior
As an Admin with all userrights and permissions I can **not** see all available entries of a table. I

[2016-07-22 15:59] #1216 closed

[2016-07-22 16:01] WellingGuzman commented on #1216
Hello @RabbitMC,

Thanks for reporting this, I couldn;t replicate this in any other major browser but on Safari, was it same to you?

The commit 6c7fd21 should have fixed this.

[2016-07-22 17:17] WellingGuzman commented on #1217
I've spent some time trying to replicate this issue with no luck, I follow the steps and I get the expected behavior and the icon on the top right corner also works.

Am I missing something? that's not part of the steps described above?

[2016-07-23 16:18] RabbitMC commented on #1217
I will do a clean install and try it again. Will give feedback after that. :)

[2016-07-23 19:12] niseku opened #1218 "Replace empty DATETIME values with NULL on update"
## Version Info
  - Directus version: Commit: 6c7fd21815c5e24f798884af006eefcd95104c9e
  - PHP version: 7
  - MySQL version: 5.7
  - Web server: Apache
  - OS name and version:

## Error
On updating a user the following message is shown:
[code]

it's because `reset_expiration` is an empty string and not `NULL`.
Here is the MySql error message:
[code]

## Fix
Here is my Hotfix for that:
add the fol

[2016-07-23 19:15] WellingGuzman commented on #1218
Thanks @niseku, remember you can always send a Pull Requests with fixes like this.

I will take a look at this, thanks again for reporting this

[2016-07-23 19:31] niseku opened #1219 "The hidden Toggle in the Settings > Tables & Inputs seems not working"
## Version Info
  - Directus version: Commit: 6c7fd21815c5e24f798884af006eefcd95104c9e
  - PHP version: 7
  - MySQL version: 5.7
  - Web server: Apache
  - OS name and version:

## Expected Behavior
Show/Hide a Table in the left Nav after toggling the hidden Toggle in Settings > Tables & Inputs for a Table.

## Actual Behavior
On toggling the hidden Toggle nothing happens (the `nav_listed` field i

[2016-07-23 19:39] niseku opened #1220 "Hidden inputs are shown when the viewport width is smaller than 800px"
## Version Info
  - Directus version: Commit: 6c7fd21815c5e24f798884af006eefcd95104c9e
  - PHP version: 7
  - MySQL version: 5.7
  - Web server: Apache
  - OS name and version:

## Actual Behavior
Hidden Inputs are shown when the viewport width is smaller than 800px in the settings for a user

## Steps to Reproduce
 1. go to Users
 2. Click on New User
 3. Resize the window tho a viewport smaller

[2016-07-23 19:59] WellingGuzman commented on #1220
@niseku Thanks for reporting this, this should fix the problem.  https://github.com/directus/directus/commit/5902327389cf094d00cba2df280347772a10fb99

[2016-07-24 09:18] RabbitMC commented on #1217
testet. Can not reproduce.

[2016-07-24 09:18] #1217 closed

[2016-07-24 14:53] WellingGuzman commented on #1217
Thanks @RabbitMC, if you happened to bump into it, or something else let us know.

[2016-07-24 15:04] benhaynes opened #1221 "Click to open/edit item: M2O Typeahead UI"
The Many to One Typeahead UI is working, but it would be nice to be able to click the selected item to view/edit it in an overlay modal (like other relational UIs).

[2016-07-24 15:24] WellingGuzman commented on #1130
404 not found response shouldn't be a json response rather an 404 error page.

The rest, should.

[2016-07-24 16:27] benhaynes commented on #1189
Hey @laszlokorte – here is what we're updated:

* We updated the notes for each field to be more specific.
* Small, Medium, Large adjusts the size of the input field and the dropdown width is auto.
* TODO: `Include Inactive` is going to be `visible_status_ids` (same as M2O proper) ... @WellingGuzman  is working on making this a set of checkboxes instead of a text input to reduce mistakes.
* The en

[2016-07-24 16:56] benhaynes commented on #1189
Also, this is on the `development` branch still, not merged into `master` or `build` yet

[2016-07-24 18:23] WellingGuzman commented on #1189
This will be done in a new UI or Options right now will be done in a Text Input, so this can be closed, and focus on the Checkboxes in a new ticket. @laszlokorte @benhaynes agree?

[2016-07-24 18:25] benhaynes commented on #1189
Yeah, we can improve that UI option later... At least it's the same option interface now.

[2016-07-24 19:17] WellingGuzman commented on #1219
Hi @niseku, `nav_listed` is not used by the web app right now.

I fixed the toggling issue, it's only on `development` branch.

[2016-07-24 21:01] WellingGuzman commented on #1218
I fix have been commited here https://github.com/directus/directus/commit/28fc43c321548175de7c56333dee80d3cdeda636 and it's available on the `development` branch.

[2016-07-25 19:53] niseku opened #1222 "Can't upload a file via the `Single File` field"
## Version Info
  - Directus version: 6c7fd21815c5e24f798884af006eefcd95104c9e
  - PHP version: 7
  - MySQL version: 5.7
  - Web server: Apache

## Expected Behavior
Uploading a File via a `Single File` field and save the item

## Actual Behavior
Can't save the item. MySQL throws the following error:
[code]
## Steps to Reproduce
 1. create a table and a field of type `Single File` in it
 2. naviga

[2016-07-26 17:33] #1222 closed

[2016-07-26 17:33] WellingGuzman commented on #1222
Hi @niseku thanks for reporting this. The issue should've be fixed by 95f0f24

[2016-07-26 19:14] benhaynes commented on #1196
@jel-massih Have you used Bower? This might be a good (easier) ticket to refamiliarize with.

[2016-07-26 19:28] benhaynes commented on #1192
@WellingGuzman Do you think we should have the Permissions update with a "Save" button instead of asynchronously saving? Is that a lot of work? It is currently inconsistent, but I don't think this is a priority.

@jel-massih did you work on the "Saving for specific statuses" (the dropdown at the top-right of the permissions page)? I want to make sure that's all working as expected.

@laszlokorte –

[2016-07-26 19:31] benhaynes commented on #1156
Did we finish the new inputs for checking/validating new field/table names?

If someone adds a table with a space directly in the database, does that work yet?

[2016-07-26 20:59] benhaynes commented on #23
**[Migrated to FeatHub](http://feathub.com/directus/directus/+1)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 20:59] #23 closed

[2016-07-26 21:04] benhaynes commented on #61
**[Migrated to FeatHub](http://feathub.com/directus/directus/+2)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 21:04] #61 closed

[2016-07-26 21:11] benhaynes commented on #163
**[Migrated to FeatHub](http://feathub.com/directus/directus/+3)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 21:11] #163 closed

[2016-07-26 21:15] benhaynes commented on #394
**[Migrated to FeatHub](http://feathub.com/directus/directus/+4)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 21:15] #394 closed

[2016-07-26 21:18] benhaynes commented on #402
**[Migrated to FeatHub](http://feathub.com/directus/directus/+5)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 21:18] #402 closed

[2016-07-26 21:21] benhaynes commented on #404
**[Migrated to FeatHub](http://feathub.com/directus/directus/+6)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 21:21] #404 closed

[2016-07-26 21:23] benhaynes commented on #436
Relates to: https://github.com/directus/directus/issues/1215

[2016-07-26 21:25] benhaynes commented on #453
**[Migrated to FeatHub](http://feathub.com/directus/directus/+7)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 21:25] #453 closed

[2016-07-26 21:27] benhaynes commented on #457
**[Migrated to FeatHub](http://feathub.com/directus/directus/+8)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 21:27] #457 closed

[2016-07-26 21:29] benhaynes commented on #458
**[Migrated to FeatHub](http://feathub.com/directus/directus/+9)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 21:29] #458 closed

[2016-07-26 21:34] benhaynes commented on #514
**[Migrated to FeatHub](http://feathub.com/directus/directus/+10)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 21:34] #514 closed

[2016-07-26 21:37] benhaynes commented on #548
**[Migrated to FeatHub](http://feathub.com/directus/directus/+11)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 21:37] #548 closed

[2016-07-26 21:43] benhaynes commented on #682
**[Migrated to FeatHub](http://feathub.com/directus/directus/+12)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 21:43] #682 closed

[2016-07-26 21:49] benhaynes commented on #694
The toggle is gone, and the settings dropdown no longer limits options to "junction tables".

@WellingGuzman Now we need to remove all references to this in the schema/code.

[2016-07-26 21:51] benhaynes commented on #624
**[Migrated to FeatHub](http://feathub.com/directus/directus/+13)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 21:51] #624 closed

[2016-07-26 21:52] benhaynes commented on #648
**[Migrated to FeatHub](http://feathub.com/directus/directus/+14)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 21:52] #648 closed

[2016-07-26 21:55] benhaynes commented on #696
**[Migrated to FeatHub](http://feathub.com/directus/directus/+15)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 21:55] #696 closed

[2016-07-26 21:57] benhaynes commented on #750
**[Migrated to FeatHub](http://feathub.com/directus/directus/+16)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 21:57] #750 closed

[2016-07-26 22:50] benhaynes commented on #753
Currently admins can view/delete any users... however, the status column is also available to normal users for their OWN account. This means that a non-admin user can draft or delete their own account. This should be disabled.

Also, users should be able to see (view only) other user detail pages.

[2016-07-26 22:52] benhaynes commented on #929
**[Migrated to FeatHub](http://feathub.com/directus/directus/+17)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 22:52] #929 closed

[2016-07-26 22:54] benhaynes commented on #829
**[Migrated to FeatHub](http://feathub.com/directus/directus/+18)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 22:54] #829 closed

[2016-07-26 22:56] benhaynes commented on #930
**[Migrated to FeatHub](http://feathub.com/directus/directus/+19)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 22:56] #930 closed

[2016-07-26 22:57] benhaynes commented on #932
**[Migrated to FeatHub](http://feathub.com/directus/directus/+20)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 22:57] #932 closed

[2016-07-26 22:59] benhaynes commented on #938
**[Migrated to FeatHub](http://feathub.com/directus/directus/+21)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 22:59] #938 closed

[2016-07-26 23:02] benhaynes commented on #982
**[Migrated to FeatHub](http://feathub.com/directus/directus/+22)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

@hrwebasst – feel free to vote this one to the top over on FeatHub!

[2016-07-26 23:02] #982 closed

[2016-07-26 23:04] benhaynes commented on #1101
**[Migrated to FeatHub](http://feathub.com/directus/directus/+23)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 23:04] #1101 closed

[2016-07-26 23:06] benhaynes commented on #1104
**[Migrated to FeatHub](http://feathub.com/directus/directus/+24)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 23:06] #1104 closed

[2016-07-26 23:10] benhaynes commented on #1198
**[Migrated to FeatHub](http://feathub.com/directus/directus/+25)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 23:10] #1198 closed

[2016-07-26 23:13] benhaynes commented on #1140
**[Migrated to FeatHub](http://feathub.com/directus/directus/+26)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 23:13] #1140 closed

[2016-07-26 23:18] benhaynes commented on #1092
**[Migrated to FeatHub](http://feathub.com/directus/directus/+27)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 23:18] #1092 closed

[2016-07-26 23:19] benhaynes commented on #1221
**[Migrated to FeatHub](http://feathub.com/directus/directus/+28)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 23:19] #1221 closed

[2016-07-26 23:21] benhaynes commented on #1114
**[Migrated to FeatHub](http://feathub.com/directus/directus/+29)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 23:21] #1114 closed

[2016-07-26 23:22] benhaynes commented on #1103
**[Migrated to FeatHub](http://feathub.com/directus/directus/+30)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 23:22] #1103 closed

[2016-07-26 23:28] benhaynes commented on #984
**[Migrated to FeatHub](http://feathub.com/directus/directus/+31)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 23:28] #984 closed

[2016-07-26 23:32] benhaynes commented on #1202
**[Migrated to FeatHub](http://feathub.com/directus/directus/+32)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 23:32] #1202 closed

[2016-07-26 23:34] benhaynes commented on #951
**[Migrated to FeatHub](http://feathub.com/directus/directus/+33)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 23:34] #951 closed

[2016-07-26 23:35] benhaynes commented on #903
**[Migrated to FeatHub](http://feathub.com/directus/directus/+34)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 23:35] #903 closed

[2016-07-26 23:38] benhaynes commented on #831
**[Migrated to FeatHub](http://feathub.com/directus/directus/+35)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 23:38] #831 closed

[2016-07-26 23:40] benhaynes commented on #1018
**[Migrated to FeatHub](http://feathub.com/directus/directus/+36)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 23:40] #1018 closed

[2016-07-26 23:42] benhaynes commented on #813
**[Migrated to FeatHub](http://feathub.com/directus/directus/+37)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 23:42] #813 closed

[2016-07-26 23:51] benhaynes commented on #1011
As an update, Directus now allows for the the deleting of tables/fields as follows:

User must be logged in as an admin, navigate to the Settings > Tables page, Click the delete button beside the table/field, click a confirm modal (`Are you sure? This table, its columns, and all of its content will be permanently removed from the system!`), and then type the exact name of the table/field into _ano

[2016-07-26 23:52] benhaynes commented on #1011
**[Migrated to FeatHub](http://feathub.com/directus/directus/+38)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-26 23:52] #1011 closed

[2016-07-26 23:57] benhaynes commented on #1110
Directus Core Framework should use the same HTML templates as Hosted.

[2016-07-27 00:01] benhaynes commented on #623
**[Migrated to FeatHub](http://feathub.com/directus/directus/+39)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-07-27 00:01] #623 closed

[2016-07-27 03:38] benhaynes commented on #1183
@laszlokorte – we're still plowing through a huge pile of tickets, are you interested in trying your hand at coding this UI? Not sure how familiar you are with Backbone, but I see this as a display option within the existing M2M and/or O2M UIs.

Any interest?

[2016-07-27 03:41] benhaynes commented on #1166
That works. Not sure if it's better to generate a bitmap thumbnail (when possible) or copy an SVG thumbnail (as a fallback perhaps?)... but either way works for me as long as it represents the uploaded image.

[2016-07-27 03:42] benhaynes commented on #1185
@laszlokorte any luck replicating?

[2016-07-27 03:44] benhaynes commented on #1203
@katywings – Any luck with the translation? Let us know if you run into any problems so we can help resolve them. Thanks again!

[2016-07-27 04:02] benhaynes commented on #1093
This would also solve the following Feature Request:
http://feathub.com/directus/directus/+15

[2016-07-27 04:22] benhaynes commented on #1147
@WellingGuzman you said you fixed this one?

[2016-07-27 07:37] katywings commented on #1203
@benhaynes I am working on it, but as it isn't my primary task I will need some time - also I had a large project the last few days, therefore I neeed to move this tasks priority a little bit down, but it looks like a can work more on it in the next weeks ;)

[2016-07-27 08:28] RabbitMC commented on #1203
Is it possible that I help you? Let me :)

[2016-07-27 08:49] RabbitMC commented on #1203
where can I find the current state? Is there a branch?

[2016-07-27 11:39] katywings commented on #1203
Hmm not in a public repo, i started working on it in a private environment, but I can copy it into a public directus clone if you need it somehow :)

[2016-07-27 16:06] WellingGuzman commented on #753
@benhaynes any user users regardless of group? I believe it will be best too only see your current group users details. what do you think?

[2016-07-27 16:20] benhaynes commented on #753
I see the users listing and detail pages as a corporate directory – so I like the idea of people having view access to all users. We should hide certain fields for non-admins though (token, pass, email_messages, etc)... basically it's a profile page.

This will also help with this feature when we're ready to add it:
http://feathub.com/directus/directus/+5

[2016-07-27 16:32] WellingGuzman commented on #753
@benhaynes now that's better Idea, maybe we should do that by default. I have more ideas to bring to this, but I wont think much so we don't get sidetracked.

---

In case I forgot, in case you want to open a Group that doesn't need to know there are more groups or who are in the other groups. A group that can see other group information too.

[2016-07-27 17:03] #693 closed

[2016-07-28 04:16] benhaynes commented on #1203
Thank you @RabbitMC and @katywings – no rush, I was just curious how things were going. If there's anything I can do to help just let me know!

[2016-07-28 15:27] benhaynes commented on #1124
Yes, we would remove the field if they request all (*) fields. Perfect!

[2016-07-28 18:29] #1220 closed

[2016-07-28 18:29] #1219 closed

[2016-07-28 18:29] #1218 closed

[2016-07-28 18:29] #1214 closed

[2016-07-28 18:29] #1211 closed

[2016-07-28 18:29] #1206 closed

[2016-07-28 18:29] #1058 closed

[2016-07-28 18:29] #1159 closed

[2016-07-28 18:29] #1154 closed

[2016-07-28 18:29] #1147 closed

[2016-07-28 18:29] #1142 closed

[2016-07-28 18:30] #1139 closed

[2016-07-28 18:30] #1197 closed

[2016-07-28 18:30] #1131 closed

[2016-07-28 18:30] #1130 closed

[2016-07-28 18:30] #1148 closed

[2016-07-28 18:30] #1125 closed

[2016-07-28 18:30] #1068 closed

[2016-07-28 18:30] #1209 closed

[2016-07-28 18:30] #1205 closed

[2016-07-28 18:30] #694 closed

[2016-07-28 18:30] #651 closed

[2016-07-28 18:30] #485 closed

[2016-07-28 18:30] #1162 closed

[2016-07-28 19:27] WellingGuzman commented on #1147
@benhaynes yes, it's fixed.

[2016-07-28 19:33] katywings commented on #1203
So I wanted to give you a quick update about the translation into german. Please have a look at the following pull request: #1223

While working on it, i saw some special cases which probably need your attention:

- "Activity": Is this word used for singular or plural cases? In german often times we speak about "Aktivitäten" which is plural - while in english it is used as "Activity" and not "Acti

[2016-07-28 20:31] WellingGuzman commented on #1119
Closed by https://github.com/directus/directus/commit/9094275250c5d69f428e270c5f41d2ca19a87c68

[2016-07-28 20:31] #1119 closed

[2016-07-28 20:48] WellingGuzman commented on #1107
Cannot replicate this issue no more.

The issue is/was that if you had 2 unread messages and get a new notification the notification will be received 3 times.

If manage to replicate this once again, I will re-open this ticket.

[2016-07-28 20:48] #1107 closed

[2016-07-29 22:11] WellingGuzman commented on #751
And I forgot to update this later on, and i forget what I was talking about.

@benhaynes remember any of this?

I will look into it.

[2016-07-29 23:13] WellingGuzman commented on #1192
when editing an existing record which has the field already set can not be saved because "error: field is required"

I can't replicate this one, but maybe it was fixed along some fixes that was done today. did you get that error?

So, the catch here was that only blacklisted fields were enforce when the user do not have "big" edit permission. I'm working on it to be enforce no matter what.

Hmmm,

[2016-07-30 23:34] WellingGuzman commented on #1110
Closed by https://github.com/directus/directus/commit/2e3245b0edad13c006ce80d0b6ffee92d6e67196

[2016-07-30 23:34] #1110 closed

[2016-07-30 23:35] WellingGuzman commented on #1124
Closed by https://github.com/directus/directus/commit/5db94e18d4003a6355b901abb4c5c96409d35458 and https://github.com/directus/directus/commit/ebff39aa992c433acaff3ee831e0f59e58b51481

[2016-07-30 23:35] #1124 closed

[2016-07-30 23:36] WellingGuzman commented on #1116
Closed by https://github.com/directus/directus/commit/6cb5614f7538159b98fdff5edfb69208d0b3c2d7 and https://github.com/directus/directus/commit/826fb2b335daebe0f03f7b3cd976ad39dcff8c47

[2016-07-30 23:36] #1116 closed

[2016-07-30 23:37] WellingGuzman commented on #753
Closed by https://github.com/directus/directus/commit/4d6915cf894d11a67c96da0cc8e3d297e314cd4e and https://github.com/directus/directus/commit/9a9e04ea4974e7515219745a5474dcae4536d436

[2016-07-30 23:37] #753 closed

[2016-07-30 23:58] WellingGuzman commented on #1025
I made a hotfix for this issue, hopefully this will better done by @Wedjaa PR.

Closed by https://github.com/directus/directus/commit/d8f1bbd0d057ceb8da9f90e4b3690d3dd745daf4

[2016-07-30 23:58] #1025 closed

[2016-07-31 06:07] WellingGuzman commented on #730
This issue is not happening anymore to me, can you check it was fixed to you along the way, or maybe can you remember which version were you using?

[2016-07-31 07:12] WellingGuzman commented on #1156
@benhaynes Yes, that's done.

[2016-08-01 19:16] benhaynes commented on #1203
Hey @katywings – sorry for the late reply...

* **Activity**: It is for all Activity (things that happen) within Directus. So _not_ "Activities"
* **Visit Project**: Directus is written to manage any type of database-driven project, not just sites. That's why we used that word. BUT, since that field only links to a URL, what you said _does_ make more sense. Why don't we use "Visit Project Website"

[2016-08-01 19:21] benhaynes commented on #1127
All files are public now, right @WellingGuzman? What would we need to do to allow for making some files private (only accessible through Directus or authenticated API)?

[2016-08-01 19:23] benhaynes commented on #1057
@WellingGuzman Didn't you already do this during our sprints a few weeks ago?

[2016-08-01 19:25] benhaynes commented on #990
Any thoughts on this? If we did an API sprint for a week is this something we could incorporate?

[2016-08-01 19:28] benhaynes commented on #881
**Added this extra bit of functionality to this [FeatHub](http://feathub.com/directus/directus/+1) ticket.**

[2016-08-01 19:28] #881 closed

[2016-08-01 22:18] benhaynes commented on #1093
In terms of UI:

* User clicks on `delete` for an item
* It would show a Directus notification confirmation (`Are you sure you would like to permanently delete this item? Yes, Cancel`
* The item is deleted and the user is returned to the listing page.

[2016-08-01 22:21] benhaynes commented on #1005
**[Migrated to FeatHub](http://feathub.com/directus/directus/+43)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-08-01 22:21] #1005 closed

[2016-08-02 06:48] WellingGuzman commented on #1192
Field permissions are saved when you click the switches, I made a fix to not ask _if you don't want to lose any data_.

[2016-08-02 10:16] TigerHix commented on #1203
I can help with Chinese translation.

People here need to start using headless CMS like this one. As far as I have seen, they _love_ to reinvent the wheel and always come up with a "CMS" that bugs are everywhere and no one wants / knows how to fix.

[2016-08-02 12:00] TigerHix opened #1224 "Title, location, caption are not saved upon file creation"
## Version Info
  - Directus version: commit #2b20044
  - PHP version: 5.6.4
  - MySQL version: 5.6.25
  - Web server: Apache 2.4.10
  - OS name and version: Ubuntu 15.04

## Expected Behavior
After uploading the file and filling in title, caption, etc. the file should be saved upon clicking "save item".

## Actual Behavior
Title, location, caption are not saved. Whatever has been filled in, they

[2016-08-02 12:38] michaelnagy commented on #1203
I can help with Brazilian Portuguese translation.

[2016-08-02 16:43] benhaynes commented on #1112
**[Migrated to FeatHub](http://feathub.com/directus/directus/+44)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-08-02 16:43] #1112 closed

[2016-08-02 16:44] benhaynes commented on #1224
Thanks @TigerHix – we'll look into this today. Appreciate the bug reporting!

[2016-08-02 16:45] benhaynes commented on #1196
**[Migrated to FeatHub](http://feathub.com/directus/directus/+45)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-08-02 16:45] #1196 closed

[2016-08-02 16:57] benhaynes commented on #1183
**[Migrated to FeatHub](http://feathub.com/directus/directus/+46)**
**[Migrated to FeatHub](http://feathub.com/directus/directus/+47)**
**[Migrated to FeatHub](http://feathub.com/directus/directus/+48)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-08-02 16:57] #1183 closed

[2016-08-02 16:59] benhaynes commented on #1030
**[Migrated to FeatHub](http://feathub.com/directus/directus/+49)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-08-02 16:59] #1030 closed

[2016-08-02 17:03] benhaynes commented on #1203
Thank you @TigerHix and @michaelnagy – that would be awesome! The first comment of this ticket gives an explanation of how to create the new language files. If you have any questions just let us know!

[2016-08-02 17:54] benhaynes commented on #1166
@WellingGuzman – I know we were trying to find the best way to handle thumbnails... but is the error when uploading SVGs resolved?

[2016-08-02 17:58] benhaynes commented on #1172
Hey @laszlokorte – we're consistently seeing the remove button over here... let us know if you have time to test again on your side. If the problem persists we'll re-open this, but for now it seems to not be an issue.

Based on the UI design in the screenshots you might have had an outdated version... but it's hard to say if that was the cause.

[2016-08-02 18:01] benhaynes commented on #1173
@WellingGuzman do you think the commit you referenced above may have fixed this issue? Unable to duplicate, but it would be nice to know what might have been happening.

I agree that it seems like a difference between how `directus_columns` records are created. Any thoughts on this before I close?

[2016-08-02 18:05] benhaynes commented on #1176
Hey @WellingGuzman – did you try to replicate with the `one-to-many` UI (not the `many-to-one`)?

[2016-08-02 18:07] WellingGuzman commented on #1166
it hasn't been resolved yet. Until we figure it out how to do that, let's open a feature ticket for handling SVG thumbnail.

In other hand, I will fix the uploading issue, as this is the main issue.

[2016-08-02 18:08] benhaynes commented on #1179
@WellingGuzman It seems that we're loading the child (fresh from db) instead of loading the edited one (cached in app, not db). Again, for the O2M, not the M2O...

[2016-08-02 18:12] WellingGuzman commented on #1127
In order to serve private files we have to serve it through PHP, so only through the API and Web app can be accessible.

[2016-08-02 18:15] benhaynes commented on #1166
Perfect. Let's leave this open to fix the error... the thumbnail is now in FeatHub:

**[Migrated to FeatHub](http://feathub.com/directus/directus/+50) (Thumbnail Creation Only)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-08-02 18:17] benhaynes commented on #1127
Gotcha. Sounds like a fun and exciting NEW feature...

**[Migrated to FeatHub](http://feathub.com/directus/directus/+51)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-08-02 18:17] #1127 closed

[2016-08-02 18:26] benhaynes commented on #1028
**[Migrated to FeatHub](http://feathub.com/directus/directus/+52)**

Please use the [Directus FeatHub](http://feathub.com/directus/directus) to vote for features or make new request. Accepted feature requests will be added to GitHub Issues.

[2016-08-02 18:26] #1028 closed

[2016-08-02 18:53] WellingGuzman commented on #1176
I've not had luck replicating the issue, everything works as expected, BUT, maybe how we have been fixing issues on this UI probably it fixed along the way too. (Now that I tested with M2O instead of O2M)

[2016-08-02 19:05] WellingGuzman commented on #1173
I don't know if that's one of the issues he was experiencing, but that one fixed the only one I could replicate.

What's a concern it's how `directus_columns` records are updated, more than anything, and we had related tickets to this issue: https://github.com/directus/directus/issues/1102 and https://github.com/directus/directus/issues/1091

[2016-08-02 20:07] benhaynes commented on #1091
Any ideas on this one? It seems like it would be pretty straightforward to add in these fields again... but let me know @WellingGuzman

[2016-08-03 01:19] laszlokorte commented on #1172
I just did a fresh install of the master branch. I am still not seeing a delete button in the OTM field table.

It's a completely fresh install and I created all my table just through the directus UI.

![bildschirmfoto 2016-08-03 um 03 14 37](https://cloud.githubusercontent.com/assets/26493/17350651/d2cb81f8-5928-11e6-8313-d78fdb10f462.png)

[2016-08-03 01:27] laszlokorte commented on #1188
I just tried it again on the master branch. Now I am not getting an error anymore but if I type the column names with spaces ultimatley the MTO field table is not correctly displayed (columns are missing). If I remove the spaces the table is display correctly.

I assume the fix has only been applied to the validation but not to the place where the setting is used.

[2016-08-03 01:41] laszlokorte commented on #1172
Now I tracked down the error: I set the foreign key column of the child table to NOT NULL.
So this check is returning false:
https://github.com/directus/directus/blob/master/app/core-ui/one_to_many.js#L178

But I do not understand why that check is there in the first place. I would expect the child record to be just deleted and not to set it's parent_id column to NULL.

[2016-08-03 01:54] WellingGuzman commented on #1078
We end up not throwing any alert but allow leading number exists and fix the issue that it brought.

[2016-08-03 01:54] #1078 closed

[2016-08-03 02:01] WellingGuzman commented on #1133
All tables and columns name are now being converted to lowercase and spaces and symbols to underscores.

[2016-08-03 02:01] #1133 closed

[2016-08-03 02:02] #1224 closed

[2016-08-03 02:02] #1156 closed

[2016-08-03 02:25] laszlokorte opened #1226 "numeric allow null list view"
If a numeric column is allowed to be null and a record is created with no value entered for that column the in the list view the value `0` gets displayed.

I would expect the column in the list view to be empty if the record has no value at all.

[2016-08-03 02:27] WellingGuzman commented on #1188
Hey @laszlokorte,

Good point, I fixed it on one to many before, instead of M2O.

Validating in the setting page will be addressed with this ticket https://github.com/directus/directus/issues/1023

[2016-08-03 02:30] laszlokorte commented on #1176
I just tried again with a fresh install from the master branch. Now I get the following behavior:

1. edit a record that has a OTM field
2. create a child record via OTM field
3. click the "Save" button of the child to get back to the parent
Now the child does not appear in the OTM table of the parent at all. (so it can not be clicked for editing again) But if the parent is saved the child is crea

[2016-08-03 02:42] laszlokorte opened #1227 "OTM add child before parent is saved"
I have a parent table(hotels) and a child table(hotel_offers). The parent has an OTM field.
The hotel_id column of the hotel_offers table is mandatory.

Now I create a new parent record but I do not save it yet (so the parent does not have an ID yet).
I then click on the "Add Child" button of the OTM field to add a child record. When clicking the chid form's save button to get back to the (not yet

[2016-08-03 02:48] WellingGuzman commented on #1226
Good point, thanks.

[2016-08-03 02:48] laszlokorte opened #1228 "checkbox required asterisk (*)"
I created a checkbox/TINYINT column and set it to NOT NULL in the database. The column should be 0 if the checkbox is not checked and 1 if it's checked. That is working.

But the NOT NULL constraint get's interpreted as the column being "required" and the checkbox field in the form get's marked with an asterisk (*). That's confusing because checking the checkbox is not actually required.

[2016-08-03 02:51] #1226 closed

[2016-08-03 03:28] laszlokorte opened #1229 "Inconsistent "Visible Status IDs""
The MTO Field has the "Visible Status IDs" option for filtering the visible records but the MTO Typeahead has a checkbox called "Include Inactive".

I guess the goal of both settings is the same but it's confusing that they work differently.

[2016-08-03 03:52] WellingGuzman commented on #1229
Hi @laszlokorte,

Thanks for reporting this, but we've already fixed this in the development branch. https://github.com/directus/directus/commit/c9e6fe5edb09850dc9db30b1ee9d1f8d44ddfbe9

[2016-08-03 03:52] #1229 closed

[2016-08-03 03:59] WellingGuzman commented on #1176
Hello, @laszlokorte

Most of this have been fixed on development (here https://github.com/directus/directus/commit/9ef64764a3c7f057984ef168bccc44338d18f71e), it hasn't been merged into master yet.

There has been some different bugs fixed with relational UI.

[2016-08-03 04:01] laszlokorte commented on #1176
Oh cool. I tried to checkout the development branch but the installation failed due to "schema template '' does not exist".

[2016-08-03 04:08] WellingGuzman commented on #1176
@laszlokorte oh, that's not good. I'm on it.

[2016-08-03 04:12] WellingGuzman commented on #1176
@laszlokorte you can now pull the last commit. it should work.

[2016-08-03 11:47] laszlokorte commented on #1191
It just occurred to me that the length  option `x` for mysql integer `INT(x)`, `TINYINT(x)` does not really effect the storage capacity but only the output padding if ZEROFILL is set for the column.

Since ZEROFILL can not be set via directus UI I think the interface could be simplified by not providing the length option for INT/TINYINT/CHAR fields at all.

[2016-08-03 12:29] laszlokorte opened #1230 "MTO typeahead footer"
development branch (e05c46c93)

The MTO Typehead UI has a "Footer" checkbox in the settings.

1. why? I do not think it makes sense?
2. the footer is displayed even if the checkbox is not checked and shows "NaN" values

[2016-08-03 12:35] laszlokorte commented on #1185
Its working now

[2016-08-03 12:55] laszlokorte commented on #1230
Well I just noticed that the footer option is added to all UIs. The NaN value seems to be because the `visible column` I have set for the typeahead is not numeric. It would be cool if that case could be caught but I guess it's not that dramatic.

Still there is the the wrong behavior of the footer being displayed regardless if the "footer" checkbox is checked or not.
The reason is this check:
http

[2016-08-03 13:34] laszlokorte commented on #1179
I just tested this in the dev branch.
It's working now for the simplest case of one OTM field.

But If I have the following:

Sessions -OTM-> Talks -OTM-> Speaker

And I edit a session, then edit a talk through OTM field, then edit a speaker through OTM field, click save twice to get back to the session, then edit the talk again, the talk's speakers are refetched and the changes are lost.

[2016-08-03 13:38] laszlokorte opened #1231 "MTM choose existing error"
development branch e05ce6

When clicking the "choose existing" button of a MTM field I get an JS error that

`view.model` is undefined on this line: https://github.com/directus/directus/blob/development/app/router.js#L194

[2016-08-03 14:35] WellingGuzman commented on #1191
That's correct, you're right. There's not actual meaning but for padding, but still has meaning.

What I believe this needs to be optional parameter. I'm going to make it optional so the API doesn't required length for numeric types.

Although ZEROFILL can not be set, we plan on doing that, accepting fields options such as ZEROFILL and UNSIGNED.

Thanks @laszlokorte