[2017-07-03 16:56] #1648 closed

[2017-07-03 17:23] benhaynes commented on #1648
So how does it work now, @WellingGuzman?

[2017-07-03 17:24] WellingGuzman commented on #1648
Whoops! I meant to say **We are now forcing hard delete on files...**

[2017-07-03 17:35] WellingGuzman commented on #1643
can you join us on [Slack](https://slack.getdirectus.com/)? I'd like to know more about your hosting/server provider.

We've had some weird issue happening on Directus on specific servers due to some modules they have installed by default that didn't play well with Directus.

[2017-07-03 17:38] WellingGuzman commented on #1643
Does the apache user has permission to write files to the logs (api/logs)?

[2017-07-03 17:44] WellingGuzman commented on #1613
@krishnam09 are you still experiencing this error, did you increase your php memory and upload limits?

I will close this ticket as highly due to php configuration, otherwise I will re-open the ticket.

[2017-07-03 17:44] #1613 closed

[2017-07-03 18:04] WellingGuzman commented on #1642
Thanks @peremp, issue reproduced, I'm working on a fix.

[2017-07-03 18:11] WellingGuzman commented on #1642
Fixed by https://github.com/directus/directus/commit/cbc839435cec3c7f97ade674504ee79309e29b86

[2017-07-03 18:11] #1642 closed

[2017-07-03 18:28] WellingGuzman commented on #1625
System columns are not longer hidden from the visible columns list anymore.

Although this will enforce the `hidden_list` and `hidden_input` attributes, if both are `true` the column will be hidden.

[2017-07-03 19:01] WellingGuzman commented on #1611
This was solved before by setting the comment directly, I just localize the text with the fixed text.

[2017-07-03 19:01] #1611 closed

[2017-07-03 19:35] WellingGuzman commented on #1636
There we go :) thanks @wittwerch!

[2017-07-03 19:37] WellingGuzman commented on #1618
Exactly! (change `o2m` to `m2o`) pick one user or pick multiple users.

[2017-07-03 19:38] WellingGuzman commented on #1595
What extensions were missing @nathanaelphilip, that's even weird now to me, getting an missing `Twig` class due to a missing php extension, I would like to know more about this.

OR all the extensions in the list were the missing one, I've never used nanobox.

[2017-07-03 19:39] nathanaelphilip commented on #1595
@WellingGuzman the missing extensions were preventing composer from installing certain packages. I’m not sure why, but that’s what was happening.

[2017-07-03 19:40] WellingGuzman commented on #1595
Oh gotcha! probably those extensions were required by composers.

Thanks for the information, it will be helpful to someone else having this same issue.

[2017-07-03 23:26] #1641 closed

[2017-07-03 23:26] #1631 closed

[2017-07-04 06:09] nithinga opened #1651 "Unable to upload file using "Import URL""
## Version Info
 - Directus version and branch: version/6.4 - 1ae426fdcfa3fb8ecad94d6f23d74936e117d473
 - PHP version: 7.1
 - MySQL version: 5.7
 - Web server: Apache
 - OS name and version: Docker ( Ubuntu )

## Expected Behavior
"Import URL" button in file upload should work

## Actual Behavior
"Import URL" button in file upload gives the following error.
![screenshot from 2017-07-04 11 12 28](h

[2017-07-04 07:30] wittwerch opened #1652 "Mentioned user not rendered in preview"
## Version Info
  - Directus version and branch: 1ae426fdcfa3fb8ecad94d6f23d74936e117d473
  - PHP version: 7.1
  - MySQL version: 5.7
  - Web server: Apache
  - OS name and version: Docker

## Expected Behavior
The mentioned username should be rendered in the preview column on the left.
![screen shot 2017-07-04 at 09 26 58](https://user-images.githubusercontent.com/1575445/27819580-3a6e9550-609b-1

[2017-07-04 07:38] peremp commented on #1625
I think that the changes are not correct:
[code]

Right now the column will be visible only if both (`hidden_list` and `hidden_input`) are 'false'.
I think that the correct filter should only take `hidden_list` into account:

[code]

Anyway, in directus 6.4.0 you can't change the `hidden_list` value (or at least I can't find the option). Right now I'm changing this value directly on the DB.

[2017-07-04 08:35] wittwerch opened #1653 "Adding a new group is broken"
## Version Info
  - Directus version and branch: 1ae426fdcfa3fb8ecad94d6f23d74936e117d473
  - PHP version: 7.1
  - MySQL version: 5.7
  - Web server: Apache
  - OS name and version: Docker

## Expected Behavior
Add a new group

## Actual Behavior
![screen shot 2017-07-04 at 10 31 58](https://user-images.githubusercontent.com/1575445/27821939-475f9e9a-60a4-11e7-8c62-47e7c62f1556.png)

## Steps to R

[2017-07-04 08:46] wittwerch opened #1654 "Non-admin user can't read messages"
## Version Info
  - Directus version and branch: 1ae426fdcfa3fb8ecad94d6f23d74936e117d473
  - PHP version: 7.1
  - MySQL version: 5.7
  - Web server: Apache
  - OS name and version: Docker

## Expected Behavior
As a non-admin user I can read messages that are sent to me

## Actual Behavior
The messages are not shown in the backend

## Steps to Reproduce
 1. Create a group with no table permissions

[2017-07-04 08:49] wittwerch opened #1655 "Non-admin user can't view his own profile"
## Version Info
  - Directus version and branch: 1ae426fdcfa3fb8ecad94d6f23d74936e117d473
  - PHP version: 7.1
  - MySQL version: 5.7
  - Web server: Apache
  - OS name and version: Docker

## Expected Behavior
I can view my profile and update settings

## Actual Behavior
View is broken

## Steps to Reproduce
 1. Create a group with no table permissions
![group](https://user-images.githubuserconte

[2017-07-04 15:14] WellingGuzman commented on #1655
That's an expected behavior if the user doesn't have any permission to `directus_users` table.

[2017-07-04 15:36] #1653 closed

[2017-07-04 15:46] #1651 closed

[2017-07-05 01:17] WellingGuzman commented on #1625
That's true, we have been dealing with these attributes since we started working on 6.4.x.

We only change `hidden_input`, we are thinking on removing `hidden_list` and use the `columns_visible` instead.

I'm glad you brought this up, let's see what @benhaynes and @rijkvanzanten has to say about this.

I'm on board but let's see if no one is planning on adding that button back.

[2017-07-05 08:46] wittwerch commented on #1655
Ok, once we add permissions the view loads.

![screen shot 2017-07-05 at 10 45 14](https://user-images.githubusercontent.com/1575445/27856681-19fb8e16-616f-11e7-9057-6ccf6abf8bd2.png)

As a non-admin user I can try to give myself admin permissions. That ends in an error:

![screen shot 2017-07-05 at 10 46 07](https://user-images.githubusercontent.com/1575445/27856725-39fe59a0-616f-11e7-8b28-df3302

[2017-07-05 10:24] nithinga opened #1658 "Error while updating records with relations and group permissions"
## Version Info
 - Directus version and branch: version/6.4 - c6fb4336732530c8db58b76124262e027e191175
 -  PHP version: 7.1
 - MySQL version: 5.7
 - Web server: Apache
 - OS name and version: Docker ( Ubuntu )

## Expected Behavior
When adding the record with relations, it should be added properly.

## Actual Behavior
When adding the record with relations, it gives the given error in screenshot.

[2017-07-05 12:59] nithinga commented on #1655
@WellingGuzman is it necessary to set permission so to block their own profile ?

[2017-07-05 13:06] eimhin opened #1659 "500 error after login"
## Version Info
  - Directus version and branch: 6.3.9
  - PHP version: 7.0.18
  - MySQL version: 5.7.18
  - Web server: Apache 2.4.18
  - OS name and version: Ubuntu 16.04

## Expected Behavior

After installing Directus, meeting all the requirements, I login for the first time with the default username and password and expect to be directed to the first admin page.

## Actual Behavior

After log

[2017-07-05 13:28] eimhin commented on #1659
My apologies, I was missing the curl php extension. Feel free to close this issue.

[2017-07-05 15:11] WellingGuzman commented on #1655
@nithinga we don't want to assume anything, by default if you create a group from Directus it gives the basic permission so all the users can read their own information.

[2017-07-05 15:24] benhaynes commented on #1625
A great point! The main question is how do we interact with this? Assuming it's global (and not per group as a permission) then it should be managed within Settings>Tables & Inputs.

We can add another icon column here to toggle the setting. But this will add visual noise and probably isn't a feature too many people will use. Also, what icon would we use to show this?

We could make the current vi

[2017-07-05 17:10] #1659 closed

[2017-07-05 17:11] WellingGuzman commented on #1659
These changes were made into 6.4

[2017-07-05 17:12] WellingGuzman commented on #1659
Also glad you figure it out @eimhin, in 6.4 we are making errors more clear bit by bit.

[2017-07-05 17:19] WellingGuzman commented on #1655
Hey @wittwerch, what do you mean by:

[2017-07-05 17:40] WellingGuzman commented on #1654
Hey @wittwerch, even though they are allow to send message they should also has permission to `directus_messages` and `directus_messages_recipients` tables.

I think if this happen we should force basic permission to messages.

What do you think @benhaynes? we have to give the user 3 permission (toggle, and two tables) in order to read/sent messages

[2017-07-05 18:40] wittwerch commented on #1655
@WellingGuzman: Let's say I'm in the group "Editor" which has some basic permissions. If I go to my profile the group dropdown appears and I can "try" to assigne the "Admin" group to myself. That ends in the error you see in the screenshot above.

[2017-07-05 19:02] benhaynes opened #1661 "Encryption Interface"
The interface needs a way to encrypt strings based on different hash options. So the backend needs a endpoint to encrypt strings for the frontend.

Maybe this `encrypted` interface should be separate from the Password interface... it might be used for many different purposes

[2017-07-05 19:56] rijkvanzanten commented on #1571
Hi all! I wrote a little article on how to get started with custom extensions! Let me know if this helps you out 😊

https://medium.com/directus/how-to-setup-a-custom-extension-770d6ea48551

[2017-07-05 20:04] benhaynes commented on #1571
Having read this awesome article, I'm confident it answers all/most questions on setting up Custom Extensions. I'll close this unless there are other, more specific, questions.

Thanks @rijkvanzanten!!

[2017-07-05 20:04] #1571 closed

[2017-07-06 09:07] peremp commented on #1625
The only problem I see on removing the hidden_list and having hidden_input for both... i for M2M columns.
Because having a M2M column available in the filters makes no sense.

So, despite adding visual noise... I vote for adding another icon column.

[2017-07-06 10:31] rijkvanzanten commented on #1661
Do you want the interface to encrypt on change or encrypt on save?

[2017-07-06 11:04] martinfojtik opened #1664 "Bookmarks don't work"
## Version Info
  - Directus version and branch: version/6.4 (e1f5002)
  - PHP version: 7.1.5
  - MySQL version: 5.7.18
  - Web server: Apache
  - OS name and version: Windows 10

## Expected Behavior

## Actual Behavior
This error `You don't have permission to view that page or it doesn't exist` is displayed after clicking on bookmark

## Steps to Reproduce
 1. create bookmark
 2. click on bookma

[2017-07-06 12:09] benhaynes commented on #1661
Hmm... Good question. I think on change, that way if they don't have the string masked (eg password) then they can see the hash

[2017-07-06 15:26] WellingGuzman commented on #1650
Closed by #1662

[2017-07-06 15:26] #1650 closed

[2017-07-06 15:52] WellingGuzman commented on #1661
I think they hash has to be on server side (on save) otherwise we have to create the algorithm function on both client and server side, UNLESS we request a encrypted value on every change.

[2017-07-06 16:05] benhaynes commented on #1661
I think it would be better to have access to this on the client-side... other Interfaces might use it differently and need to encrypt before save.

As for this interface, I think we can either encrypt on keypress/blur and have it display below the input. Then when you save it saves the hashed value... so if you go back to edit the item later the plaintext value is gone.

[2017-07-06 16:07] WellingGuzman commented on #1664
Fixed by https://github.com/directus/directus/commit/551e92fc910b42173e52ade9208f7e052e1deb99

[2017-07-06 16:07] #1664 closed

[2017-07-06 16:10] rijkvanzanten commented on #1661
@WellingGuzman I meant send of the request to hash on change of the interface. We won't hash client-side

[2017-07-06 16:13] WellingGuzman commented on #1661
@benhaynes Having and endpoint means all interfaces can use it.

[2017-07-06 16:20] benhaynes commented on #1661
I get it.

1. User adds plaintext string to input
2. On keypress, gets encrypted hash from backend
3. Interface displays hash below input
4. User saves item/page
5. Hash is saved in column value
6. User views page – sees hash in the input

[2017-07-06 16:26] benhaynes opened #1665 "Error adding new user"
Settings>Permissions>Users [Add New User]

Adds correctly, but when I hit save on the page I get this:
[code]

[2017-07-06 16:30] rijkvanzanten commented on #1661
Does the `encryption` endpoint also support checking a hashed value @WellingGuzman? Or is there going to be a separate `check-hashed`-style endpoint?

[2017-07-06 16:31] WellingGuzman commented on #1661
I don't see point on hashing on keypress, unless there's a good reason for it.

We keep calling the server on each keypress, which I think is unnecessary.

2. On keypress, gets encrypted hash from backend
2.1. On second keypress what value do we send to the server we already have the plaintext hashed?
2.2. Then we need to keep keep a plain value stored, then we should send those instead
2.3. If th

[2017-07-06 16:32] WellingGuzman commented on #1661
@rijkvanzanten I was thinking on having a the plain text stored for those case, and calling the server endpoint every x ms after stop typing? @benhaynes

[2017-07-06 16:33] rijkvanzanten commented on #1661
We will add in a debounce on the input of course, so it will only hash after `400ms` or so inactivity. We keep the plaintext version client-side as long as the user is editing the item. When the user saves the item, we only save the hashed value.

[2017-07-06 16:33] benhaynes commented on #1661
Exactly. Not on keypress, 500ms after keypress will avoid most calls.

[2017-07-06 16:34] WellingGuzman commented on #1661
Awesome! no more question your honor!

[2017-07-06 16:34] WellingGuzman commented on #1655
Thanks @wittwerch, the issue here is that the `dropdown` should be disabled too.

We are working on it.

[2017-07-06 21:14] WellingGuzman commented on #1655
@wittwerch I disable the select input not to be changeable.

Would this solve the issues with this ticket?

[2017-07-07 07:20] wittwerch commented on #1655
Yes that would be good!

[2017-07-07 07:33] nithinga opened #1667 "Unable to filter search based on Many to one field dropdown"
## Version Info
 - Directus version and branch: version/6.4 - 7654959ddc6193aebac11750b0e50e3f60e2662e
 -  PHP version: 7.1
 - MySQL version: 5.7
 - Web server: Apache
 - OS name and version: Docker ( Ubuntu )

## Expected Behavior
When searching based on many to one field it should return results.

## Actual Behavior
When searching based on many to one field it returns an error.

## Steps to Repr

[2017-07-07 14:22] martinfojtik opened #1668 "Missing Thumbnail size field in settings page"
## Version Info
  - Directus version and branch: 6.4
  - PHP version: 7.1
  - MySQL version: 5.7
  - Web server: Apache
  - OS name and version: Windows 10

## Expected Behavior
It should be possible change thumbnail size through settings page

[2017-07-07 15:46] WellingGuzman commented on #1655
Awesome @wittwerch.

[2017-07-07 15:46] #1655 closed

[2017-07-07 20:53] benhaynes commented on #1614
This has been updated in 6.4 – 6.3.9 will be fixed by the PR above

[2017-07-07 20:53] #1614 closed

[2017-07-07 21:08] benhaynes commented on #1643
This was caused by this user's server config – we discussed on Slack.

[2017-07-07 21:08] #1643 closed

[2017-07-07 21:14] benhaynes commented on #1570
After testing this same process in `6.4`, everything seems to be working as expected (add multiple images without saving in between). Since we are releasing `6.4` in a few hours we will only be hotfixing previous versions if it's a critical/easy update.

Upgrading to `6.4` will resolve this issue in the new WYSIWYG editor.

[2017-07-07 21:14] #1570 closed

[2017-07-07 21:27] benhaynes commented on #1665
This seems to be fixed now... 👻

[2017-07-07 21:27] #1665 closed

[2017-07-07 21:41] benhaynes commented on #1661
This interface has been added into `6.4`. You can choose your hashing algorithm and if you want the value masked.

[2017-07-07 21:41] #1661 closed

[2017-07-07 21:46] benhaynes commented on #1647
Hey @canyousayyes – we've closed the issue with forced strict naming through the API. We can't replicate the database defaulting to `latin1`... if you can help us reproduce this we'll re-open and resolve!

[2017-07-07 21:46] #1647 closed

[2017-07-07 21:53] benhaynes commented on #1654
I think we should add a comment to the `Allow Messaging` switch that says:

[code]

[2017-07-07 22:14] benhaynes commented on #1658
This is a interesting point @nithinga. In your example, which way are you creating a new Book?

`Topics > Edit Topic > Create New Book`
`Books > New Book`

[2017-07-07 22:17] benhaynes commented on #1654
Though this is a fix, not a solution (thanks @rijkvanzanten). We should edit all of these features in ONE place (not two), so I recommend having the permissions determine if Messages will exist/function for a user group.

For example: if you have VIEW for `directus_messages` then you can see messages. If you have CREATE then you can send messages. The only concern here is that you would ALSO need

[2017-07-07 23:09] WellingGuzman commented on #1652
Closed by https://github.com/directus/directus/commit/12c6955fb296caaab80f86e0b89dd92aa1b02dd4

[2017-07-07 23:09] #1652 closed

[2017-07-08 21:31] trk opened #1669 "schema.sql file installation error"
When i want to try install directus schema.sql file getting error.

## Version Info
  - Directus version and branch: 6.4 master
  - PHP version: 7.1.5
  - MySQL version: 5.6.35
  - Web server: Apache
  - OS name and version: MacOs Sierra

## Expected Behavior
Success database installation

## Actual Behavior
Getting error

## Steps to Reproduce
- phpMyAdmin .sql file import
- database application

[2017-07-09 00:49] #1669 closed

[2017-07-09 14:44] valgussev opened #1670 "Invalid argument supplied for foreach when accessing table entry"
## Version Info
  - Directus version and branch: 6.4.0-20170708214029
  - PHP version: 5.6
  - MySQL version: 5.7.13
  - Web server: (Ex. Apache, nginx or IIS?) nginx
  - OS name and version: Mac Os X El Capitan

## Expected Behavior
After creating default table the Table page should show entries.

## Actual Behavior
[code]

## Steps to Reproduce
Empty instalation with default table

## Logs or Sc

[2017-07-09 17:19] WellingGuzman commented on #1670
Hey @valgussev thanks for reporting this,

How did you install Directus?
How did you create the `testing` table?
Did you update the global status mapping in `api/configuration.php`?
Did you update the table status mapping?

[2017-07-09 17:35] valgussev commented on #1670
Hi @WellingGuzman ,

1. I've tried on both build and src 6.4.0 versions. The only difference in installation is a composer run.
- download
- unpack
- cp api/config_sample.php api/config.php with only username/password change
- curl -sS https://getcomposer.org/installer | php
- php composer.phar install
- mysql -h localhost -p -u root directus < api/schema.sql

I've also tried to install Directus u

[2017-07-09 17:37] WellingGuzman commented on #1670
Hey @valgussev, so are you missing `api/configuration.php` file in `api/` directory?

[2017-07-09 17:46] valgussev commented on #1670
Yes, it seems adding the file has fixed the error but only if to go first through the root link and then point to /tables/test . But if to reload the page with the link /tables/test the following error occures:

[code]

[2017-07-09 17:59] WellingGuzman commented on #1670
Thanks @valgussev,

Did you add navigation override to your group? can you share the group record information in `directus_groups`?

[2017-07-09 18:24] valgussev commented on #1670
@WellingGuzman , nope, why?

The group record information below:
[code]

[2017-07-09 18:27] valgussev commented on #1670
BTW seems all the links besides root resolve in an error above on page reload

[2017-07-09 18:43] WellingGuzman commented on #1670
Odd, can you update to the latest build? I fixed two error in the building script, and see if those fixes that problem.

[2017-07-09 19:05] valgussev commented on #1670
That helps, thank you.

Furthermore, if to create table testing with the following fields:
[code]
On record create (http://localhost:8080/tables/testing/new) I receive:
[code]
If to run mentioned query directly through mysql I receive:
[code]
If to remove the sort column from the testing table and insert record:
[code]

I can close this issue and open another one if you wish.

[2017-07-09 19:17] WellingGuzman commented on #1670
Thanks for all these information, creating another ticket won't be necessary unless this get bigger than I expect.

How did you delete the `sort` column? it seems Directus still getting the `sort` column information and using to `sort` the values.

[2017-07-09 19:23] valgussev commented on #1670
@WellingGuzman , I've deleted the 'sort' column through the web interface, right after click on http://localhost:8080/tables/testing I'm getting an error in the right corner:
[code]
the table now is looking like this:
[code]

[2017-07-09 19:28] WellingGuzman commented on #1670
Hey @valgussev, going to `directus_preferences` and update the `sort` column for `testing` table to `id` would this fixes? if it does, I will work on a fix for a non-existing column name as sorting column.

[2017-07-09 19:35] valgussev commented on #1670
@WellingGuzman , yes, the update is fixing the select issue, but not the insert issue with empty sort column, i.e.
[code]
[code]

[2017-07-09 22:52] lunacye opened #1671 "Can't install Directus, error on final step"
## Version Info
  - Directus version and branch: (Or commit hash) directus-build-6.4.0-20170709143459
  - PHP version: 5.6.30
  - MySQL version: 5.5.55-cll
  - Web server: (Ex. Apache, nginx or IIS?)  Apache 2.2.32 on MediaTemple VPN
  - OS name and version: linux or unix, not sure exact version

## Expected Behavior

Followed installation guide at https://docs.getdirectus.com/6.4.0/#Simple_Instal

[2017-07-09 23:19] benhaynes commented on #1671
If it's a new install, I would just delete the existing tables in the database. Directus won't install over an existing version to avoid overwriting any of your previous system.

It looks like you did delete the tables, but you probably need to delete the generated config and configuration files within `/api`.

Either way we're looking into this now! Thank you so much for reporting the problem!

[2017-07-10 03:40] lunacye commented on #1671
Hi Ben, thanks for getting back to me!

Yep, I tried deleting tables and reinstalling, no avail, same results.

I also did a clean install each time, deleting all files and uploading fresh ones, so no configs should have been artifacts.

[2017-07-10 05:24] lunacye commented on #1671
It works like a charm! Thank you for the help @WellingGuzman and @benhaynes!

You guys are making kickass software here, excited to have it in our stack now 👍

[2017-07-10 05:28] WellingGuzman commented on #1671
Awesome!  glad it worked it out.

Thanks for the kind words. please let us know how it went! :)

[2017-07-10 05:28] #1671 closed

[2017-07-10 06:55] valgussev commented on #1670
Furthermore,

When I'm trying to upload an image to the table column, for the following request
[code]
I receive 404 Not Found
(data field value was cut by me for the comment characters limit purpose)

[code]

[2017-07-10 08:32] peremp commented on #1612
I will do this. I was thinking on keeping the "loading" overlay (class="loading blocking") but with some transparency on the background.

Is it ok for you?

[2017-07-10 13:48] benhaynes commented on #1668
Assuming you are talking about `directus_settings.thumbnail_size`, I don't think we'll be changing this. That size (`200`) is the system thumbnail, and shouldn't really change. We *may* keep the quality option since that can be adjusted to alter the filesize on certain systems.

The main reason this is isn't a priority is because we have a full-featured thumbnail system in the works which should b

[2017-07-10 13:48] #1668 closed

[2017-07-10 13:55] benhaynes commented on #1612
That sounds perfect! Re-using that loading pane seems like the best option.

Thanks @peremp!

[2017-07-10 14:34] trk opened #1672 "Missing file : /assets/img/directus-logo-flat.svg"
This file : **``/assets/img/directus-logo-flat.svg``** in use on **``api\api.php``** file line [527](https://github.com/directus/directus/blob/master/api/api.php#L527) and on **``api\core\functions.php``** file line [1309](https://github.com/directus/directus/blob/master/api/core/functions.php#L1309).

[2017-07-10 14:57] WellingGuzman commented on #1672
Thanks @trk, we will fix this asap.

[2017-07-10 14:58] WellingGuzman commented on #1670
Hey @valgussev,

can you share your logs in `api/logs`? does your http server user has write permission to `storage/*`?

[2017-07-10 15:15] WellingGuzman commented on #1667
Hey @nithinga,

I tried and I couldn't replicated, can you try to update to the latest commit, and see if still happens?

[2017-07-10 15:52] #1672 closed

[2017-07-10 17:50] WellingGuzman commented on #1667
I managed to replicate the issue. It's not working when it sets to `dropdown`.

We are working on this ticket right now.

[2017-07-10 17:54] valgussev commented on #1670
you will find log file attached
[2017-07-10.log.tar.gz](https://github.com/directus/directus/files/1136547/2017-07-10.log.tar.gz)

yes, write permissions are 755 for the http server user
drwxr-xr-x    3 valgussev  staff      102 Jul  9 21:49 storage

attached is the nginx.conf file
[nginx.conf.tar.gz](https://github.com/directus/directus/files/1136553/nginx.conf.tar.gz)

[2017-07-10 20:03] WellingGuzman commented on #1670
Hey @valgussev,

I didn't any issues in the configuration or logs. Getting a 404 page seems to be more related to nginx or our server routing.

Are you using MAMP? If you try creating the same item without trying to upload a file, does it work?

`GET http://localhost:8080/api/1.1/tables/testing/rows` works?

[2017-07-10 20:16] valgussev commented on #1670
If I understood correctly what MAMP is, no I installed packages separately using homebrew. Without file uploading no error occurs and item is placed into table correctly.

[2017-07-10 20:18] WellingGuzman commented on #1670
MAMP is a software (stack: MacOS, Apache+Nginx, MySQL, PHP).

How are you trying to upload the files, via WebApp, SDK or Terminal?

[2017-07-10 20:24] valgussev commented on #1670
I've been trying to upload using WebApp. Since the file to upload has been transformed into base64 form correctly it seems there is no problem with upload itself, but with the POST request.

[2017-07-10 20:28] WellingGuzman commented on #1670
I really can't tell what's going on, what's the output of the 404 page? Is Directus or any other service throwing the 404?

[2017-07-10 20:28] WellingGuzman commented on #1670
Also on what's stack is Directus running in your server?

[2017-07-10 20:34] valgussev commented on #1670
That is a standard nginx 404 page
[code]
There is also nothing interesting in headers
Response headers:
[code]

Request headers:
[code]

You can find my stack in the issue description.

[2017-07-10 20:49] WellingGuzman commented on #1670
Just making sure, you install each package independently yourself or used some popular stack or something.

I believe there's something on your NGINX configuration or setup, because it's not even getting into Directus.

I will try to replicate this myself on our servers and see what we can get from it.

If you have any information that can helps us reproduce this issue is greatly appreciated.

[2017-07-10 23:56] benhaynes opened #1673 "Getting ghost right sidebar after editing user"
The right sidebar is "open" on the User Listing page after editing a user. You can't see it, obviously, but it pushes content over.

[2017-07-10 23:57] benhaynes opened #1674 "Auto-generate token for new users"
When creating a new user, it should auto-generate a new token for them. Right now I have to click "generate" to get one each time.

[2017-07-11 00:10] WellingGuzman commented on #1674
I thought we decided it should be optional and generated only if the admin decided to.

[2017-07-11 00:37] benhaynes commented on #1674
Maybe I'm just OCD and want each user to have one. OK, that works. We'll keep it how it is. It's another security feature since not everyone gets a token by default.

We should also add a check sometime to make sure users can't accidentally add "a" to the field (or something equally simple) since then the API auth would be too easy to hack.

[2017-07-11 00:37] #1674 closed

[2017-07-11 10:12] peXed opened #1676 "Uncaught TypeError: t is not a constructor"
## Version Info
  - Directus version and branch: (Or commit hash)
  - PHP version: 7.1.6
  - MySQL version: MariaDB 10.1.24
  - Web server: XAMPP v3.2.2 (Apache)
  - OS name and version: Windows 10

## Expected Behavior
WYSIWYG Editor is working

## Actual Behavior
Error message is showing (javascript errror):

Error: Uncaught TypeError: t is not a constructor
File: http://localhost/directus/asset

[2017-07-11 10:37] peremp opened #1677 "Infinite scroll not working (post 6.4.0 release)"
## Version Info
  - version: Master latest. This is **not** happening on the release version.

Looks like the table model no longer has the following attributes:
- Deleted
- Draft
- Published

So the method "getTotalCount" (collection.js) returns 0 for each visible state, and therefore no more items are loaded.

[2017-07-11 11:57] benhaynes opened #1678 ""Save and stay" throwing error"
When choosing "save and stay" I am getting the following error. I can provide a schema to replicate.

[code]

[2017-07-11 11:58] benhaynes commented on #1677
Thanks for reporting this one @peremp – we'll get this one fixed asap!

[2017-07-11 12:04] benhaynes commented on #1413
Hey @krupper – we've recently released version `6.4` where we resolved a similar issue. Could you test on the new version?

Unfortunately, because of our small team (and no real funding) we can only support our most recent version, so we won't be hotfixing 6.3.x any more. Instead we recommend that users upgrade to the newest version.

I'll close this because the API seems to be returning the corre

[2017-07-11 12:04] #1413 closed

[2017-07-11 12:07] benhaynes commented on #1458
Hey @studiovlijmscherp – we're released 6.4 and the API seems to be returning values correctly now. We're seeing complete relational objects nested within the returned JSON. The depth parameter does seem to have an issue though, so I'll open a new ticket for that now.

I'll close this ticket, please upgrade to `6.4` and let us know if your issue is now resolved.

[2017-07-11 12:07] #1458 closed

[2017-07-11 12:09] benhaynes opened #1679 "API "depth" param not changing results"
Changing the depth param is not changing the results, it should adjust the number of relational children to fetch.

This *may* not be a priority if we add in dot-notation for the API.

[2017-07-11 12:12] benhaynes commented on #1452
Hey @ajshortt – let us know if the example Welling provided fixes your issue. It's been a few months with no response, and we've released a new version (`6.4`), so I'll close this since the example code provided works.

[2017-07-11 12:12] #1452 closed

[2017-07-11 12:16] benhaynes commented on #1358
@ricricucit – thanks for the update. We're talking about the `nav_listed` versus permissions over on this ticket too: https://github.com/directus/directus/issues/1625

I would like to have the permissions control everything, but in some instances it's good to have a global option (so you don't have to change something for every group). I'd love to get your thoughts on all this!

[2017-07-11 12:26] benhaynes commented on #1496
This is a great find @lehha! We will make sure that all columns are fully qualified in `v6.4` and make sure this isn't happening any more.

[2017-07-11 12:35] rijkvanzanten opened #1680 ""Project Path is required" Error during installation"
##
  - Directus version and branch: 6.4
  - PHP version: 7.1.0
  - Web server: MAMP
  - OS name and version: Mac OS X Sierra

## Expected Behavior
Installation proceeds as expected

## Actual Behavior
Installation throws `Project Path is required` error

## Steps to Reproduce
1. Clone Directus from master branch
2. Install composer dependencies
3. Start installation process

## Logs or Screenshots

[2017-07-11 12:38] benhaynes commented on #1563
Can someone test to see if this is still happening on `6.4`?

[2017-07-11 13:13] rijkvanzanten commented on #1680
This problem didn't occur again after restarting my machine, so it was probably a bug in caches. (Still very weird nonetheless). I'll close this for now

[2017-07-11 13:13] #1680 closed

[2017-07-11 13:16] rijkvanzanten commented on #1676
I'm not able to reproduce this on `master`. @WellingGuzman I think the build bundle is missing (or breaking) TinyMCE somehow?

[2017-07-11 13:39] dsivokhin opened #1681 "Extra delimiters when storing the value for the checkboxes"
## Version Info
  - Directus version and branch: 6.4 master
  - PHP version: 7.0
  - MySQL version: Mysql 5.6
  - Web server: nginx
  - OS name and version: Ubuntu 16.04

## Expected Behavior
In my table column  `value1, value2, ... value{n}` - without first and last delimetr

## Actual Behavior
UI checkboxes save values in my table column like: `,value1, value2, ... value{n},`

[2017-07-11 13:49] benhaynes commented on #1681
Hey @dsivokhin – this is by design. Though we can add an interface option to disable this. Here is the reasoning:

Let's say this is managing tags (or something similar). If you need to query for a specific tag:

`SELECT * FROM vehicles WHERE tag = '%car%'`
**This will return results with car, cart, carriage, etc...**

`SELECT * FROM vehicles WHERE tag = '%,car,%'`
**This will only return results

[2017-07-11 13:56] JREAM opened #1682 "Messaging w/Groups Possible Bug"
## Version Info
  - Directus version and branch: master (6.4)
  - PHP version: 7.0
  - MySQL version:  Percona 5.7 (strict mode disabled)
  - Web server: (Ex. Apache, nginx or IIS?)  Apache
  - OS name and version: Ubuntu 16.04 x64

## Expected Behavior
- Message to Send to all users in a Group (If this was intended)
- Message to archive (works) but not have additional errors.

## Actual Behavior

[2017-07-11 13:59] peremp commented on #1677
I found the bug on: a55b114

[2017-07-11 13:59] JREAM opened #1683 "Bookmarks from Admin Panel Issue"
## Version Info
  - Directus version and branch: master (6.4)
  - PHP version: 7.0
  - MySQL version:  Percona 5.7 (strict mode disabled)
  - Web server: (Ex. Apache, nginx or IIS?)  Apache
  - OS name and version: Ubuntu 16.04 x64

## Expected Behavior
- Take me to the correct Bookmark
- Do not popup missing page, I am the Admin.

## Actual Behavior
- **Part 1 Below** - Bookmark returns one to th

[2017-07-11 14:24] rijkvanzanten commented on #1681
Hey @dsivokhin! I've made the extra delimiters optional in https://github.com/directus/directus/commit/453f1470a805fa7e2c3c72b169dc87fc4fe8e1d4. This will be merged into master soon, but you could use [the develop branch](https://github.com/directus/directus/tree/develop) if you need this option now.

[2017-07-11 16:52] valgussev commented on #1670
nope, every package have been installed separately using homebrew. On this weekend I will try to reinstall the stack if that helps I will let you know.

[2017-07-11 17:46] WellingGuzman commented on #1670
Which nginx version are you using? we recently had an issue, with Apache, that on PATCH throws an 403 error by some apache modules installed. So I'm thinking this could be happening here, because it is not even hitting Directus, but as GET works, I suppose this is a NGINX level issue, and not related to nginx locations.

[2017-07-11 17:58] WellingGuzman commented on #1683
Hey @JREAM, when you say "Admin Settings > Users" you mean `/users` page?

[2017-07-11 17:59] WellingGuzman commented on #1681
Wouldn't this break the filtering? we should find a way to filter the values OR warn the filter won't work as expected.

[2017-07-11 18:00] WellingGuzman commented on #1677
Thanks @peremp, We will work on it as soon as possible

[2017-07-11 18:03] WellingGuzman commented on #1678
Please send me those through slack.

[2017-07-11 18:10] WellingGuzman commented on #1676
@rijkvanzanten It's highly what's happening, I will review this on the build branch and include TinyMCE or whatever is missing here.

Thanks for reporting this @peXed

[2017-07-11 19:08] valgussev commented on #1670
That was nginx/1.8.0 and I've updated it to the latest 1.12.0, but unfortunately still the same error

[2017-07-11 19:10] WellingGuzman commented on #1670
hey @valgussev, have you try uploading a small file?

[2017-07-11 19:30] rijkvanzanten commented on #1681
Filtering should still work, but it will also show items which match the pattern next to only this with full word. This is different behavior than "normal", but could be very useful in certain situations nonetheless.

[2017-07-11 19:44] WellingGuzman commented on #1681
yeah, that what I meant, and this is an optional option. so we should be good.

[2017-07-11 21:18] #1677 closed

[2017-07-12 04:02] benhaynes commented on #1621
I should have referenced it here, but I have finished the style and functionality of the comment submit button. This should be all set now on `master`!

[2017-07-12 04:02] #1621 closed

[2017-07-12 06:08] wittwerch commented on #1621
Awesome, thanks!

[2017-07-12 10:29] valgussev commented on #1670
That is an interesting guess. I can successfully upload and insert files up to smth about 10kb.

I've looked into corresponding configuration parameters, but all of them looks right.
php.ini:
[code]

nginx.conf
`client_max_body_size 100m;`

Am I missing something?

[2017-07-12 13:32] benhaynes commented on #1678
The first issue if fixed, but the relational fields are not showing data after saving:

![screen shot 2017-07-12 at 9 32 28 am](https://user-images.githubusercontent.com/522079/28120091-0ace15d2-66e5-11e7-881e-6b02a5d374dc.png)

[2017-07-12 23:31] jdblack opened #1685 "Unable to get to installation page"
## Version Info
  - Directus version and branch: Github tag 6.4.0
  - PHP version:  libapache2-mod-php7.0             7.0.18-0ubuntu0.16.04.1
  - Web server: apache2           2.4.18-2ubuntu3.3
  - OS name and version:  Ubuntu 16.04

## Expected Behavior
I expect  to be able to get to the login page

## Actual Behavior
I get a 404 that redirects me to   /s/hashyuuid/
==> DirectUS-error.log <==

cu

[2017-07-13 07:22] nithinga commented on #1658
@benhaynes Books > New Book

[2017-07-13 11:28] denno020 opened #1686 "Unable to install Directus"
## Version Info
  - Directus version and branch: 45357c7bd491687a87777784e4e06c335dfefa6f
  - PHP version: 5.6.25
  - MySQL version: 5.7.14
  - Web server: Apache 2.4.23
  - OS name and version: Windows 10

## Expected Behavior
Directus would proceed with installing, and (I assume) show me some configuration options

## Actual Behavior
Navigating to the index page (in root directory), it correctly

[2017-07-13 17:16] WellingGuzman commented on #1685
Hey @jdblack, I have fix how we get the real Directus root path. please get the latest code from the `master` branch, and let us know if that patch fixes the problem you were having.

[2017-07-13 17:32] WellingGuzman commented on #1686
Hey @denno020,

I do not have a Windows machine now to test this, but on mac and linux it's working, so I assume it may be something related to windows.

If you go to `directus/api/core/Directus` directory isn't there a `Bootstrap.php` file?

[2017-07-13 22:22] WellingGuzman commented on #1612
Closed by https://github.com/directus/directus/commit/0e9d14ee91cdb324a05fea5bd13f61180ca1c02b (PR #1675)

[2017-07-13 22:22] #1612 closed

[2017-07-13 22:32] denno020 commented on #1686
Yep the Bootstrap file definitely exists.. Damn Windows, always making things difficult

[2017-07-13 22:38] WellingGuzman commented on #1686
I'm trying to get a windows virtual machine to test this. I'm guessing this must be a windows + composer issue that we aren't manage to figure it out, because we all having MacOS or Ubuntu machines.

I will get back to you as soon as I get my hands on a Windows machine.

In the meantime, If you find what's causing this we would love any help, no pressure.

[2017-07-13 22:49] benhaynes commented on #1679
Operator error. This was working the whole time – my mistake!

[2017-07-13 22:49] #1679 closed

[2017-07-13 23:59] WellingGuzman commented on #1600
Closed by https://github.com/directus/directus/commit/3987e81e55a7655fb62205f58439962eea306044

[2017-07-14 00:01] WellingGuzman commented on #1673
Misunderstood the issue, working on it now.

[2017-07-14 00:08] #1673 closed

[2017-07-14 00:09] #1600 closed

[2017-07-14 00:37] #1535 closed

[2017-07-14 02:04] #1676 closed

[2017-07-14 02:14] WellingGuzman commented on #1676
The error still happen on the build branch, I'm going to update it soon.

What was fixed was the script that was causing the missing files.

[2017-07-14 02:30] WellingGuzman commented on #1670
Yeah, this is something to do with this, maybe the "post data" is bigger than 8MB, so you get to about 10KB free for uploading.

Try to increase it to the values in php.ini to something like:
[code]

And see if this should solve the problem.

As this are configuration problem from nginx and php, and won't be solve within Directus I will close this, unless there's a related issues.

[2017-07-14 02:32] WellingGuzman commented on #615
Closed by https://github.com/directus/directus/commit/12c6955fb296caaab80f86e0b89dd92aa1b02dd4

[2017-07-14 02:32] #615 closed

[2017-07-14 02:49] benhaynes commented on #1670
Let's add a quick note in the FAQ section of the docs about this – then we can close it. Later, we can organize all these into the knowledgebase.

[2017-07-14 02:51] benhaynes commented on #615
Two years later!! Finally squashed – nice!

[2017-07-14 05:01] WellingGuzman commented on #1470
Values are being remembered now. another issue that seems to be similar to this one but it actually isn't is https://github.com/directus/directus/issues/1637, which looks like it's one form and saving one will save both, but those are two independent form.

The fix will be make it work like one, no matter which tap are enable/open when you click save.

Closing this as the values are remember when

[2017-07-14 05:01] #1470 closed

[2017-07-14 07:15] valgussev commented on #1670
Hm, I still get the same issue on the same file sizes with the suggested configuration:
[code]
[code]

`404 Not Found`

[2017-07-14 07:22] denno020 commented on #1686
So this isn't going to be helpful at all, but it seems to be working now.. I have been working from home all day and hadn't had time to look into this issue until now. I navigated to the directory, and I saw the correct set up form! I was able to go all through way through the set up process (well until I got to creating a database, where I reached an error due to MySQL Strict mode).

I have been

[2017-07-14 07:29] renjith341 opened #1687 "Previous comments not showing to non admin users"
## Version Info
  - Directus version and branch: 6.4
  - PHP version: 7.0.10
  - MySQL version: 5.7.14
  - Web server: Apache
  - OS name and version: Windows 7

## Expected Behavior
Users who has got permission to view messages and 'can comment' has to view previous comments on table content edit page.

## Actual Behavior
On table content edit page no previous comments are shown. When user adds a

[2017-07-14 14:09] benhaynes commented on #1686
That's OK – the intermittent bugs are the worst, but hopefully this was properly fixed by a commit or it was just some strange caching issue. We are still working on getting a Windows machine setup for testing – but will close this in the meantime since it's resolved.

Please reopen this ticket if it happens again or new information arises. Thank you!

[2017-07-14 14:09] #1686 closed

[2017-07-14 17:45] jdblack opened #1688 "Latest master fails to install due to DIRECTUS_ENV missing"
## Version Info
  - Directus version and branch: master 72e3956bb4141cdbddc4e9b34b78c6c2e48bb4ba
  - PHP version: 7.0.18
  - MySQL version:  n/a
  - Web server: Apache 2.4
  - OS name and version:  ubuntu 16.04

## Expected Behavior
To be able to get to login page

## Actual Behavior
Upon a clean install, trying to browse to Directus for the first time results in the following:
[code]

## Steps to

[2017-07-14 18:38] rijkvanzanten opened #1689 "JSON editor error on empty value"
## Version Info
  - Directus version and branch: 6.3 latest (from `6.3.x`)
  - PHP version: 7.1.0
  - MySQL version: 5.6.34
  - Web server: MAMP
  - OS name and version: Mac OS X Sierra

## Expected Behavior
Creating a new item opens edit view and shows JSON editor

## Actual Behavior
JSON editor throws error on no value

## Steps to Reproduce
 1. Create table with one or more JSON editors
 2. Cre

[2017-07-14 18:38] #1689 closed

[2017-07-14 18:44] rijkvanzanten commented on #1385
Lets create a `hidden` interface, which allows people to create columns that have a read-only output in the admin. That way, someone could create optional hidden interfaces for the different parts of an address to save to different columns.

[2017-07-14 18:46] rijkvanzanten commented on #1385
Options:

`hidden` interface:
- [ ] `show_value`  shows `read_only` textinput with the set value

`map` interface:
- [ ] `save_as_json` save address values as JSON (toggle)
- [ ] `column_mapping` (JSON) map address parts to user columns (optional)
- [ ] `google_maps_api_key` (textinput) (required)

[2017-07-15 15:16] tmikaeld commented on #1373
@benhaynes Thanks for the clarification, I understand that white-label is quite different and usually companies offer sub-licensing for such things and charge a fee to use it. But that is not allowed in this case due to GNU 3 licensing.

[2017-07-16 03:19] #1687 closed

[2017-07-16 03:20] WellingGuzman commented on #1687
Hey @renjith341,

This commit (https://github.com/directus/directus/commit/fd508cd8d11c7bb0169ed446862b5ff447d6f506) should've fixed the issue. please confirm either way.

[2017-07-16 04:19] WellingGuzman commented on #1678
This commit (https://github.com/directus/directus/commit/8fc347d9639218efaf1e04f77598f6dc7ee2a57f) should've fix this issue.

[2017-07-16 04:22] WellingGuzman commented on #1688
Hey @jdblack does Directus redirects you to the install page? when this error happens? as soon as you go to the directus host url?

[2017-07-16 05:19] WellingGuzman commented on #1606
This issue should've been fixed by https://github.com/directus/directus/commit/7b3f5470eed1418b4883ad6defacfd14a00f27af

[2017-07-16 05:20] WellingGuzman commented on #1688
Also do you have a config file generated at `api/config.php`? Did https://github.com/directus/directus/issues/1685 was solved or still happening?

[2017-07-16 19:32] WellingGuzman commented on #1331
@jhyle is this issue still happening to you, we did a clean up and it should working fine in 6.4 and probably on the development version of 6.3, I want to make sure this is fixed to prepare the patch release for 6.3.x.

[2017-07-16 20:58] WellingGuzman commented on #1682
Hey @JREAM, I've fixed some issues with messages including:

- Sending messages to an empty group
- Removing a message that was already empty and sent to no one
- Archive threads now archive ALL responses too

Please confirm this patch fixes all the issues mentioned above to you too.

[2017-07-16 21:19] mkleywegt opened #1690 "UI: In tiles view, clicking a tile does not navigate to the row / record"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests please use the [Directus FeatHub](http://feathub.com/directus/directus) to make a new request or vote for existing ones, or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be

[2017-07-16 21:30] JREAM commented on #1682
Will check soon!

[2017-07-17 13:44] dsivokhin opened #1691 "Searching items using national chars"
## Version Info
  - Directus version and branch: 6.4 master
  - PHP version: 7.0
  - MySQL version: 5.7
  - Web server: nginx
  - OS name and version: Ubuntu 16.04 LTS

## Expected Behavior
Filtering for tables rows work with cyrrilic or another national chars

## Actual Behavior
If table have fields type 'DATE' or 'DATETIME', searhing rows using cyrrilic chars has error `Error Code: 1271. Illegal

[2017-07-17 14:35] peremp commented on #1563
It's not

[2017-07-17 14:44] peremp commented on #1603
Do you have an ETA for this? this is a big issue for our editors :-(

I can try to fix it, but some guidance would be nice so I do not waste too much time just looking for the root of the problem.

[2017-07-17 16:25] WellingGuzman commented on #1690
Hey @mkleywegt, this issue was fixed by https://github.com/directus/directus/commit/74f4a13445676e0b61dea3e5a2d7201e51386fdd

[2017-07-17 16:25] #1690 closed

[2017-07-17 16:46] jdblack commented on #1688
This issue went away over the weekend.  I suspect that cookies and/or session ids got tangled up as installed directus up repeatedly.  The previous issue did clear up when I switched from the 6.4.0 tag to master!

Background: I'm installing directus via chef. I was originally using chef deploy resource, which  manages rolling releases of a project by creating a symlink farm between certain key  lo

[2017-07-17 19:23] WellingGuzman commented on #1691
Hey @dsivokhin,

We are now only searching on numeric and string columns which will prevent the issue with date types.

If there's a reason to include blob or date time, we are open to discuss.

Fixed by https://github.com/directus/directus/commit/80c64fa6613f6b4f561f1b31376798577b9aeb87

[2017-07-17 19:23] #1691 closed

[2017-07-17 19:26] WellingGuzman commented on #1670
Hey @valgussev, can you increase the php `memory_limit` value to at least the `post_max_size` value? I see if still happening.

[2017-07-17 19:39] benhaynes commented on #1601
This is a new feature/interface – so we'll follow our usual workflow process of submitting it for community review before integration. Therefore I've moved this over to FeatHub:

http://feathub.com/directus/directus/+113

[2017-07-17 19:39] #1601 closed

[2017-07-17 20:44] benhaynes commented on #1563
Ahh, I should have read your comment above. OK, well we could/should get this fixed for legacy versions, but due to our core team being SO small I think we're going to have to close this since the new release fixes it.

If anyone wants to find the offending code and submit a PR to 6.3.x we will gladly merge it! Otherwise, the official "fix" for this is to upgrade to the latest release (6.4).

[2017-07-17 20:44] #1563 closed

[2017-07-17 20:46] benhaynes commented on #1682
Thanks @JREAM – we'd love to close this if it's resolved, so let us know!

[2017-07-18 00:44] benhaynes commented on #1625
OK, so I think we should remove `hidden_list` and use `hidden_input` for both.

I think that _some_ M2M interfaces could be useful on the listing page: such as "relational tags" that show up. BUT, we need to add a way for the INTERFACE to force the columns not to be visible on listing.

So if you had an Interface that shouldn't be on listing (eg: a new M2M seating chart) then it can be disabled. T

[2017-07-18 01:03] benhaynes commented on #1606
Works!

But the status checkboxes in the dropdown are NOT working still. No matter what you choose, all users are visible.

Also, we should update this table (`directus_users`) and the other system tables to use `status` instead of `active`.

[2017-07-18 01:08] benhaynes commented on #1385
This is an awesome idea @rijkvanzanten! A great solution.

I question the `show_value` option for a `hidden` interface... but I get why it's useful.

For the `map` interface options, maybe we can have a fallback (or duplicate this interface) so it doesn't *need* an API key? Is there an open-source map that does geocoding for addresses?

[2017-07-18 02:17] benhaynes commented on #1620
The style has been updated, but we should remove the ability to mention groups and simplify the syntax to: `@[1 Ben Haynes]`

[2017-07-18 05:07] nithinga commented on #1687
@WellingGuzman Solved

[2017-07-18 05:11] WellingGuzman commented on #1687
Thanks for the confirmation!

[2017-07-18 05:20] WellingGuzman commented on #1603
Hey @peremp, this issue was fixed by https://github.com/directus/directus/commit/567eadd77e4a64fd00a5db972caa9477ca4ed42f

Please confirm.

[2017-07-18 06:38] walkwizus opened #1692 "Folders in File module and disabled modules"
Hi,

I've seen this issue : #682 and I would like know if this feature are implemented because I see it on your demo but not in 6.4.4 version. There are a mention in documentation too : [https://docs.getdirectus.com/6.4.0/#File_Library](https://docs.getdirectus.com/6.4.0/#File_Library)

Other question, the three modules (Activity Log, Server Details and Version & Updates) are disabled, is it norma

[2017-07-18 06:42] peremp commented on #1603
It works :)

[2017-07-18 06:46] WellingGuzman commented on #1603
Awesome! I will close it, if happens in a again or a similar issue I will reopen, hopefully this will solve it, but we never know.

[2017-07-18 06:46] #1603 closed

[2017-07-18 06:49] peremp opened #1693 "Changing the status on an overlayed item modifies the main item status"
## Version Info
  - Directus version and branch: Directus Develop latest

## Steps to Reproduce
 1. Edit or create an item with some M2M column
 2. Click on "Add new item" on the M2M field.
 3. Create the item and click on "published"

## Expected Behavior
The item that I'm creating through the overlay should change its status to "published".

## Actual Behavior
The status of the item that I'm cre

[2017-07-18 06:52] WellingGuzman commented on #1692
Hello @walkwizus,

Folders in Files was moved to http://feathub.com/directus/directus/+12 as Feature requests (wishlist), we haven't implement it yet, and we did have it on the demo, as the demo was our wishlist of 6.4, some feature like folders were opt out of the way for 6.4.0, but it will be include in a future version for 6.4.

Once again these are feature we will implement soon, we just leave

[2017-07-18 06:52] #1692 closed

[2017-07-18 06:53] WellingGuzman commented on #1693
Hey @peremp, I was just working with this one, I just noticed couple of hours ago.

Thanks for the report!

[2017-07-18 07:35] WellingGuzman commented on #1693
This should've fixed the issue (https://github.com/directus/directus/commit/62ceaf4cff174368fc41b49bc25a57e1231d87ac) please confirm.

[2017-07-18 08:13] peremp commented on #1693
Fixed. Thx!

[2017-07-18 08:14] #1693 closed

[2017-07-18 08:30] WellingGuzman commented on #1359
This is working, it should've been fixed in 6.4. I will close this. Unless this is a issue that still exists on 6.3 and there's an schema or a way we can reproduce  it.

[2017-07-18 08:30] #1359 closed

[2017-07-18 09:51] WellingGuzman commented on #1637
Hey @nithinga,

This commit should fix this issue, or better word: implement a improved saving, avoiding the confusion (https://github.com/directus/directus/commit/70af164c9505284c2bc7df99906c8efd469d345b)

[2017-07-18 09:51] #1637 closed

[2017-07-18 18:18] joshas opened #1695 "Select element issues on Firefox"
## Version Info
  - Directus version and branch: master fd508cd8d11c7bb0169ed446862b5ff447d6f506
  - PHP version: 5.6.18
  - MySQL version: 5.7.11
  - Web server: Apache
  - OS name and version: Windows 7

## Expected Behavior
Chromium 59
![select-chromium-59](https://user-images.githubusercontent.com/79141/28332664-465c0280-6bfe-11e7-81f0-9f65d48e98be.png)

## Actual Behavior
Firefox 54
Note that

[2017-07-18 18:33] rijkvanzanten commented on #1695
Good catch!

[2017-07-18 18:33] joshas opened #1696 "Intallation check - mod_rewrite detect fail"
## Version Info
  - Directus version and branch: master fd508cd8d11c7bb0169ed446862b5ff447d6f506
  - PHP version: 5.6.18
  - MySQL version: 5.7.11
  - Web server: Apache
  - OS name and version: Windows 7

## Expected Behavior
Pre-installation check displays "Mod_Rewrite Enabled: Yes"

## Actual Behavior
Pre-installation check displays "Mod_Rewrite Enabled: No"

## Steps to Reproduce
Start Directu

[2017-07-18 19:03] WellingGuzman commented on #1696
Fixed by https://github.com/directus/directus/commit/2a8381ac674a29456fc579e038d722c72f1e59aa. (`develop` branch)

It will be merge at most at the end of the week to master.

[2017-07-18 19:03] #1696 closed

[2017-07-18 19:37] joshas opened #1697 "WYSIWYG formatting controls cover editable text"
## Version Info
  - Directus version and branch: master fd508cd8d11c7bb0169ed446862b5ff447d6f506
  - PHP version: 5.6.18
  - MySQL version: 5.7.11
  - Web server: Apache
  - OS name and version: Windows 7

## Expected Behavior
WYSIWYG formatting controls hover above text.

## Actual Behavior
WYSIWYG formatting controls cover editable text, if that text is on first line of textarea.

## Steps to Re

[2017-07-18 20:14] valgussev commented on #1670
@WellingGuzman , memory_limit is already 128M while post_max_size is 100M

[2017-07-18 20:28] WellingGuzman commented on #1670
Someone reported a similar issue last night, but it was giving him 502 instead of 404, and also on NGINX.

I couldn't have being able to reproduce it. what about `upload_max_filesize`?

can it be possible to teach us how you installed your environment, we haven't had any luck with our servers.

[2017-07-19 04:32] cesasol commented on #1685
@WellingGuzman I have the same issue under shared hosting. In my case redirects to a truncated parent directory `http://api.dinamo.mx/amo.mx/html/installation/index.php?step=0`
the filesystem path is `/home/XXX/domains/api.dinamo.mx` and the symlink is `/home/XXXX/users/.home/domains/api.dinamo.mx`.

PHP version:
PHP 5.6.21 (cli) (built: May 23 2016 18:42:48)

I already tried with the master branc

[2017-07-19 09:41] lapa182 commented on #1203
Hey there, I can help with the BR/PT translation. Searched for the json file in the folder, but I didn't see anything.

[2017-07-19 10:19] walkwizus opened #1698 "Error with translation field"
Hi,

## Version Info
  - Directus version and branch: 6.4.4
  - PHP version: 5.6.30
  - MySQL version: 5.7.18
  - Web server: (Ex. Apache, nginx or IIS?) Apache
  - OS name and version: Docker for mac with apache, php, mysql

## Expected Behavior

Add a field with possibility to translate

## Actual Behavior

An error when I try to add an entry in my table which contain a translation's field

## S

[2017-07-19 12:08] benhaynes commented on #1203
That would be great @lapa182 – BR/PT would be a huge addition to the locales!

Thank you!

[2017-07-19 12:11] benhaynes commented on #1685
Hey @jdblack – if you have time, could you post a quick comment about this ticket's resolution? Especially given that @cesasol seems to be having a similar issue still.

[2017-07-19 14:35] cesasol commented on #1685
Strange that the issue went away from last night attemp. Maybe my host was keeping some sort of cache

[2017-07-19 14:50] aaronaustin opened #1700 "Many to Many Input not sorting properly"
## Version Info
  - Directus 6.4.0
  - PHP version: 7.0.15
  - MySQL version: 5.6.35
  - Web server: Apache
  - OS name and version: Running via MAMP 4.1.1 on OSX

## Expected Behavior
When sorting items in Many to Many input, items should reorder and save.  I would expect only the chosen items in the M2M field to update sort values in the table.

## Actual Behavior
Sorting items in Many to Many i

[2017-07-19 16:28] jdblack commented on #1685
This issue went away from me when I switched from the 4.6.0 branch to  the master branch as per wellingguzman's  comment.

[2017-07-19 16:29] lehha opened #1701 "Javascript error in Firefox"
## Version Info
  - Directus version and branch: 6.4.0
  - PHP version: 5.6.25
  - MySQL version: 5.1.73
  - Web server: Apache + nginx
  - OS name and version: centos 6.9

## Expected Behavior
Normal work ))

## Actual Behavior
After installing and login into admin, got JavaScript Error in Browser:

Error: TypeError: depth0 is undefined
File: http://hostname/assets/js/directus.min.js?bust=tks4t49

[2017-07-19 18:57] benhaynes commented on #1692
We could comment those panels out for now... but I'd rather leave them in as a reminder of what's coming soon (eg: marketplace). Once we have critical bugs resolved we can slowly start turning these features on.

[2017-07-19 19:06] benhaynes commented on #1658
That is odd. So you have:

`topics` table
`books` table with a M2O interface to assign each book to a topic

When creating/editing a book you will save the primary key (eg: ID) from a topic into `books.topic`. The group permissions for this should be:

`topics` VIEW
`books` CREATE, VIEW, EDIT, DELETE

The only issue I can imagine is because the M2O interface can have an optional "Add New Item" but

[2017-07-19 19:55] rijkvanzanten commented on #1697
Hi @joshas! This has been fixed in commit https://github.com/directus/directus/commit/c3e74f4d7ef1d5c537f27badd495b390f6212a71 which will be merged into master soon 👍

[2017-07-19 19:55] #1697 closed

[2017-07-19 20:18] HauntedSmores commented on #1020
Im looking to use Directus with Heroku and this would be incredible. Just my 2 cents, thanks!

[2017-07-19 20:21] rijkvanzanten commented on #1695
This has been fixed in https://github.com/directus/directus/commit/55cce00ec101d1cbabb38149401ac77998ad2f37 and https://github.com/directus/directus/commit/9d4ed0bedb9aed7d72845a944b29698863646101 and will be added in master soon.

[2017-07-19 20:21] #1695 closed

[2017-07-19 22:20] benhaynes commented on #1020
For those looking to upvote the new feature (Postgres support):

http://feathub.com/directus/directus/+99

Or, let us know if someone wants to help add this to the codebase! We sure do love PRs! 😄

[2017-07-19 23:18] WellingGuzman commented on #1692
I believe if we have a badge that says "soon" will make easier to think is not "disable" but under development.

[2017-07-20 00:29] WellingGuzman commented on #1701
Hey @lehha, I've not being able to reproduce this issue, can you share more output from the server on dev tools mainly the `.html` files, it seems one probably be corrupted.

What hosting service are you using? What's the server stack + extension or module installed. any security or cache installed?

[2017-07-20 01:19] WellingGuzman commented on #1700
Hey @aaronaustin, I haven't any luck reproducing this issue, would you care to provide a schema that I can use to reproduce this issue?

[2017-07-20 02:02] WellingGuzman commented on #1698
This issue has been fixed by https://github.com/directus/directus/commit/ce83e853d0459be5be2337aeaf6b84870d180362, although translations doesn't work properly still doesn't throw any error.

I will close this as this is a separate issue we have been working on.

If this still happen I will reopen.

[2017-07-20 02:20] WellingGuzman commented on #1658
I was thinking into this issue but, don't see to get what's the problem. If the user doesn't have permission to edit, well, it because it doesn't.

Can you share a schema of these tables and the permission that you gave each group? that would help us to reproduce this issue or better yet to understand it (in my case).

[2017-07-20 02:21] WellingGuzman commented on #1203
Hey @lapa182, you can find the json here https://github.com/directus/directus/blob/develop/api/locales/en.json (English)

[2017-07-20 02:22] WellingGuzman commented on #1203
I think I misinterpreted what you said @lapa182, it's all good! 👍

[2017-07-20 02:27] WellingGuzman commented on #1358
Is this issue marked `wontfix` for 6.3? @ricricucit is this still happening to you in 6.4?

[2017-07-20 03:42] benhaynes commented on #1683
I think he means `/settings/permissions/1` ... i get the error too

[2017-07-20 09:06] walkwizus commented on #1698
Hi,

Thanks for this fix !

There are other issues,
- I can't put publish status, when you click on publish button it does not matter.
- The description fields was not saved
- When I change the language there are an error.

![capture d ecran 2017-07-20 a 11 05 04](https://user-images.githubusercontent.com/8866329/28409630-740f4b68-6d3b-11e7-99fd-0eb7107afb78.png)
![capture d ecran 2017-07-20 a 11

[2017-07-20 10:24] nithinga opened #1702 "Unable to make M2O field required in UI"
## Version Info
 - Directus version and branch: version/6.4 - da6d751afa1d454b8efefa6ec1b06647eecaefdd
 - PHP version: 7.1
 - MySQL version: 5.7
 - Web server: Apache
 - OS name and version: Docker ( Ubuntu )

## Expected Behavior
Provision for validating the dropdown field in UI. Eg: I need to make a dropdown mandatory.

## Actual Behavior
There is no UI for validation for relational dropdown fie

[2017-07-20 11:36] jacobzeng opened #1703 "Seems like didn't create the tables by install step"
## Version Info
  - directus-build-6.4.0-20170710010648.tar.gz
  - PHP version: PHP 7.0.7 (cli) (built: Jun 10 2016 02:48:02) ( NTS )
  - MySQL version: MySQL 5.5
  - Web server: Apache
  - OS name and version: Ubuntu 14.04

## Expected Behavior

Install successful

## Actual Behavior

Got error when install step 4,  there is no any tables in database

## Logs or Screenshots

[code]

[2017-07-20 11:48] dsivokhin commented on #1681
@rijkvanzanten, Thank you, when saving item it's work, but when displaying on the page, not all checkboxes are correctly marked

[2017-07-20 13:07] rijkvanzanten commented on #1681
Hi @dsivokhin, that definitely shouldn't happen. I'll check it out!

[2017-07-20 13:38] wittwerch opened #1704 "Feature request: Let a user be in multiple groups"
In Directus a user can be assigned to one group. For simple use cases this fits well, but as soon as you start to build a larger system you have the need to assigne multiple roles (aka groups) to a user.

## Proposal
We therefore propose extend Directus to support multiple groups per user.

Multi group select
Introduce a new join table _directus_users_groups_ and replace the dropdown with a multi

[2017-07-20 14:38] dsivokhin commented on #1658
Hello @WellingGuzman, @benhaynes. I have same problem.
First there was an error
[code]
Then I add column `user`(UI system User created) into `Book`, and value `user ` in column `user_create_column` for table `Book`.
Now I have error permitions for group like in this issue.

Group have the rights for `Books`(view, add, edit, delete), `Books `have M2O `Topic `(group rights - view only), error only w

[2017-07-20 16:10] WellingGuzman commented on #1698
Thanks @walkwizus, as I mention those error were happening still after the fix, I closed the ticket as the actual issue was fixed but still presenting other issue in translations as the issue were different and I have an internal ticket ongoing working on this issue, I won't get confused.

But glad for the bullet points issue you are having I will work on it today.

[2017-07-20 16:11] WellingGuzman commented on #1702
Validation or required? You can make the column required, and it should make the dropdown mandatory if that's what you are looking for.

[2017-07-20 16:31] WellingGuzman commented on #1658
Hey @dsivokhin, thanks for the information I understand a bit more the issue I will give it a shot. I will get back as soon as I get something or didn't get something.

[2017-07-20 17:26] aaronaustin commented on #1700
Thanks for looking at this.  Maybe I'm just overlooking something important.  Here's the sql for these three tables: Posts, Mailings, and Mailings_junc.  The Mailings table has the M2M field where you can choose from the Posts table.

[many_to_many.sql.zip](https://github.com/directus/directus/files/1163186/many_to_many.sql.zip)

[2017-07-20 17:28] WellingGuzman commented on #1700
Thanks for the schemas. Can you please share these tables and tables' columns information in `directus_tables` (if any) and `directus_columns`?

[2017-07-20 17:31] aaronaustin commented on #1700
Sorry about that.  Here you go...
[many_to_many_v2.sql.zip](https://github.com/directus/directus/files/1163198/many_to_many_v2.sql.zip)

[2017-07-20 17:38] WellingGuzman commented on #1700
Thanks @aaronaustin, testing now!

[2017-07-20 18:19] WellingGuzman commented on #1700
Hey @aaronaustin, this commit (https://github.com/directus/directus/commit/645ed69dd61f4401fc503defb42a1430085c4062) should've fixed the issue, please confirm this is working as expected to you too.

Also nice looking form you got on those tables :)

[2017-07-20 18:33] aaronaustin commented on #1700
@WellingGuzman , thanks! That was fast.  It's working great now.

[2017-07-20 18:33] WellingGuzman commented on #1700
Awesome, glad to hear!

[2017-07-20 18:33] #1700 closed

[2017-07-20 18:38] benhaynes commented on #1698
I know you would NEVER forget, Welling, but I'll reopen until those other points has fixes pushed. 😉

[2017-07-20 18:43] WellingGuzman commented on #1698
2 Weeks later...

![Whoa](https://user-images.githubusercontent.com/1531291/28433450-af34d1b8-6d59-11e7-99d9-f016a6187906.gif)

What translation issue?

[2017-07-20 20:28] WellingGuzman commented on #1703
Hey @jacobzeng, thanks for the report.  this issue was fixed by https://github.com/directus/directus/commit/dc547af4868b53b50f45d9ceb24126309b445e50

[2017-07-21 01:08] jacobzeng commented on #1703
Hey @WellingGuzman ,thanks for  you reply,.
I update the newest code(develop branch), and still got the error.

[code]

[2017-07-21 01:59] WellingGuzman commented on #1703
Hey @jacobzeng, what are the tables the installer created? Did you clear all the previous table created?

[2017-07-21 06:00] nithinga commented on #1702
@WellingGuzman How can we make the given coloum required ?
![screenshot from 2017-07-21 11 09 40](https://user-images.githubusercontent.com/18306604/28450916-f660cbc4-6e07-11e7-867d-b817344bb2d7.png)

![screenshot from 2017-07-21 11 09 53](https://user-images.githubusercontent.com/18306604/28450924-fc916a80-6e07-11e7-8edb-d1975e568d90.png)

[2017-07-21 06:05] WellingGuzman commented on #1702
The stars in the columns list

<img width="383" alt="screen shot 2017-07-21 at 2 05 01 am" src="https://user-images.githubusercontent.com/1531291/28451043-0de2bbda-6db9-11e7-904d-e2f74a22f141.png">

[2017-07-21 06:21] nithinga commented on #1702
@WellingGuzman It is not working for dropdown.

[2017-07-21 06:23] WellingGuzman commented on #1702
@nithinga it must be an interface issue, Which dropdown interface are you using and what's the information on that column, allow null? has default value?

[2017-07-21 06:26] WellingGuzman commented on #1702
I see you that you have `allow_null` to false, which mean you have a value selected by default. which won't bring the required value warning as you already _probably_ have a value selected which will pass the validation.

Can you please elaborate more about this issue?

[2017-07-21 06:28] nithinga commented on #1702
@WellingGuzman yes..... M2O interface It is allow null = true ( allow null then only the option "select from below" comes ) Sorry for the wrong screenshot... messed it when playing around with it.

[2017-07-21 06:40] WellingGuzman commented on #1702
It's all good, I will give it a look now and fix it asap

[2017-07-21 06:56] WellingGuzman commented on #1702
Hey @nithinga, this commit (https://github.com/directus/directus/commit/3fefadd83d79e033ae1e93752e4d6c2ab8dafa9c) should fix the missing validation.

Please confirm.

[2017-07-21 07:23] nithinga commented on #1702
@WellingGuzman Thank you... This solves the issue in M2O field.

[2017-07-21 07:24] WellingGuzman commented on #1702
Awesome, @nithinga is this happening to you in other fields? or should I close it?

[2017-07-21 07:27] jacobzeng commented on #1703
I just create a new database for test, there is no any tables created by install steps, so weird!
For now, i created the tables by execute `api/schema.sql` manually.

BTW, thanks to your guys for share the cool tool.

[2017-07-21 08:48] WellingGuzman commented on #1698
Hey @walkwizus, this commit (https://github.com/directus/directus/commit/ed1014d5373cb054a31106815dd98ace93c67a7b) should've fixed all the issues mentioned.

Please let us know if it worked for you.

[2017-07-21 08:53] WellingGuzman commented on #1703
Hey @jacobzeng, are you using the `develop` branch or the tar file?

It seems it's throwing a different error, now.

If you go to `installation/bootstrap.php` and comment out these lines:

[code]

And try again, what error do you see when you click install?

[2017-07-21 10:24] nithinga opened #1705 "Date field not getting read only"
## Version Info
 - Directus version and branch: version/6.4 - da6d751afa1d454b8efefa6ec1b06647eecaefdd
 - PHP version: 7.1
 - MySQL version: 5.7
 - Web server: Apache
 - OS name and version: Docker ( Ubuntu )

## Expected Behavior
When setting the date type field to readonly, it should be readonly

## Actual Behavior
When setting the date type field to readonly, it is not readonly, we can edit it

[2017-07-21 10:31] WellingGuzman commented on #1705
Would be nice that you mention that you are going to open a PR, so we don't have too start fixing the issue just to find minutes later a PR.

We do love PRs though, just a reminder.

[2017-07-21 10:35] WellingGuzman commented on #1705
Closed by https://github.com/directus/directus/commit/ba31626721d1cdc494b4ce29f594e9e4f0f290ab

[2017-07-21 10:35] #1705 closed

[2017-07-21 11:04] WellingGuzman commented on #1554
Closed by https://github.com/directus/directus/commit/90089656915e4db5d8ed5cdf7fd008658a5e0191

[2017-07-21 11:04] #1554 closed

[2017-07-21 11:04] WellingGuzman commented on #1606
Closed by https://github.com/directus/directus/commit/6a73fc7204b820436fc43033c781c0a9f5e9f93d

[2017-07-21 11:04] #1606 closed

[2017-07-21 11:28] WellingGuzman commented on #1702
@nithinga I assumed there's nothing else. please let us know if there's interface not validating.

[2017-07-21 11:28] #1702 closed

[2017-07-21 11:42] WellingGuzman commented on #1681
Hey @dsivokhin, does this commit (https://github.com/directus/directus/commit/54a2390b934d7d2636028bb3c454a1782a57cc26) fixes the problem you are experiencing.

@rijkvanzanten I took the change as I just experienced this issue (or similar) myself.

[2017-07-21 16:10] WellingGuzman commented on #1701
Hey @lehha, which version of Firefox are you using on what OS?

[2017-07-21 16:44] WellingGuzman commented on #1567
Where are we on this? I never could reproduce this issue. what browser were you using @peremp? stills happening now on the latest commit from `develop`?

[2017-07-21 17:31] benhaynes commented on #1626
* Junction tables should be hidden by default
* `children` table should be fake person names, or be called `countries`

What is the difference between `items` and `children`? Curious why we need both.

Could we add field comments describing each interface?

It takes a LONG time to load the Interface Listing view even though almost all the visible columns are non-relational. Shouldn't it only fetch

[2017-07-21 17:37] benhaynes commented on #1678
Yeehaw!

[2017-07-21 17:37] #1678 closed

[2017-07-21 17:55] benhaynes commented on #1626
Also, the `slug` should be directly under the text-input so it's clear how that pulls from the other column.

[2017-07-21 18:04] benhaynes commented on #1626
All section break interfaces should have the same text: "Section Break"

[2017-07-21 18:16] benhaynes commented on #1626
We can remove `single_image` since it's the same as `single_file`

We can remove `multiple_image` since it's the same as `multiple_file`

[2017-07-21 18:23] benhaynes commented on #1626
Fields should be named after their interfaces (eg: Many to One):

`Items`
`Item`
`Item Typeahead`

[2017-07-21 18:47] valgussev commented on #1670
Hi @WellingGuzman , there is actually not much to tell about my configuration - mysql, nginx and php all have been installed using homebrew package manager for mac os. Here are my php.ini and nginx.conf files. upload_max_filesize is set to 64M. Here are versions:
php - 5.5.36
mysql - 5.7.13
nginx - 1.12.0

[cfg.tar.gz](https://github.com/directus/directus/files/1166442/cfg.tar.gz)

[2017-07-21 23:00] WellingGuzman commented on #1626
I just called it children because I didn't know what else should have been called, these are interfaces record "children", if you got better naming and example for O2M records, please shoot! I'm all ears.

`children` are O2M entries and `items` are for M2O and M2M entries, as I said couldn't figure it out a good example, so I just created random names, then we can rename it to whatever it's best n

[2017-07-22 12:12] benhaynes commented on #1704
Thank you for drafting this up @wittwerch – everything but the nav override makes sense to me. Is this just a general feature request or is this something that you are interested in submitting a PR for? I see this change as an improvement – but one that would likely take some time and would almost certainly introduce many tangential changes/bugs.

_I'll try to start compiling a list of Group relat

[2017-07-24 07:54] peremp opened #1708 "Cache problems"
## Version Info
  - Directus version and branch: 6.4.0

There are various problems related with the cache.

**schema**:
tables: `problems`, `solutions`, `use_cases` tables.
columns: `problems` and `solutions` have a M2M relation using `use_cases` as junction table.

## Example 1:
Imagine that we have a `problem` with some related `solutions`. The `use_cases` are in DRAFT, so when I am editing the

[2017-07-24 11:55] piupiupiu commented on #1703
I have exactly the same issue. Removing the code you suggested throws a 500 error.

[2017-07-24 18:33] WellingGuzman commented on #1703
@piupiupiu exactly what I was expecting to see, but any good information about that 500 error? any backtrace?

[2017-07-25 00:46] benhaynes commented on #1626
Let's just call the tables: `countries` and `items`.

Once this and the other changes are made we can close this one.

[2017-07-25 03:03] benhaynes commented on #1698
Hey @walkwizus – if you have a chance to test this commit that would be very helpful. I'd like to close this if it's resolved.

Thanks!

[2017-07-25 03:07] benhaynes commented on #1476
There are a few interfaces (or pages) where I *always* get this message – even with no changes made. Let's come up with a solution to avoid this so we can mark this as complete.

ATTN @WellingGuzman @rijkvanzanten

[2017-07-25 03:08] benhaynes commented on #1567
Hey @peremp – if you have time, could you please check to see if this is still happening for you? We've been updating a lot over the past month so I want to either get this fixed or close it if it's no longer an issue.

Thank you!

[2017-07-25 03:09] benhaynes commented on #1575
@WellingGuzman – could this be related to the Interface Gallery taking so long to load the listing page?

[2017-07-25 03:14] benhaynes commented on #1585
So, are these the options?

1. Both are considered `delete` but they come with a flag for soft/hard
2. Soft Delete = `remove` & Hard Delete = `delete`

[2017-07-25 03:21] WellingGuzman commented on #1575
@benhaynes it's related in a way with the long fix (fetching all columns issue) could have some effect, which now will take less to load, but still need to figure it out where `flatKey` helper is taking long to process. I will try tomorrow.

@jroxendal can you confirm if the request is taking a less time to load now after some fixes we did recently?

[2017-07-25 03:28] benhaynes commented on #811
@WellingGuzman can't we do this by pushing a history state?

[2017-07-25 03:29] benhaynes commented on #1311
@WellingGuzman What is the state of this? I know we merged in a PR...

[2017-07-25 03:33] benhaynes commented on #1358
@WellingGuzman Can you give this an *hour* of research and testing to see if it's an issue or resolved? If we can't replicate, let's close since it's been a few months with no response.

[2017-07-25 03:36] benhaynes commented on #1574
@WellingGuzman – let's resolve these three front-end dates and look for any others. Most of our dates/times are contextual (3 days ago) or within interfaces (which should already have a way to change display formatting, right @rijkvanzanten?).

I can only think of this Calendar Listing View that shows actual dates/times... so let's localize them into the correct format based on the `current_user.l

[2017-07-25 03:40] WellingGuzman commented on #1585
Having `delete` and `remove` could be confusing, at least to me. Is there a word that represent the "soft delete"? probably will trigger both with a flag?

[code]

An option, in case we don't find a good two word, or if everyone agree those two words can be used without any confusion, I'm all on board.

[2017-07-25 03:40] benhaynes commented on #1654
OK, so I still think this needs to be based on the permissions. Let's REMOVE `allow_messages` and change to:

If you have VIEW for both:`directus_messages` && `directus_message_recipients` then you have access to Messages. But you need CREATE to send new messages, and EDIT to archive them. Let's spend the time to make this use the Permissions system properly.

[2017-07-25 03:49] benhaynes commented on #1585
I like the flag approach – that seems cleaner. I think we should have a `soft` flag... no need to call it `soft_delete` because we're already in the delete event.

[2017-07-25 03:51] WellingGuzman commented on #1585
So it will end up like these:

[code]

[2017-07-25 03:52] benhaynes commented on #1585
Perfect. Let's do this!

[2017-07-25 08:03] rijkvanzanten commented on #1574
It would be nice if we had a global flag somewhere where we can read out the preferred formatting and format the interfaces based on that. Having settings for each individual interface seems like a bit much.

[2017-07-25 08:16] walkwizus commented on #1698
Hi @benhaynes, I'm in holiday so I still could not test this commit :(. I will try tomorrow !

Thanks!

[2017-07-25 08:23] wittwerch commented on #1574
I think you only need to include the https://momentjs.com/ and set the locale.

@rijkvanzanten there are some pre-defined formats in moment.js which could be used.
[code]
for english (US) =>  /07/25/2017
for german (Switzerland) => 25.07.2017

[2017-07-25 08:36] piupiupiu commented on #1703
@WellingGuzman,

Here is the stack trace:

https://pastebin.com/8cwgmw9k

I'm not sure if it is helpful. I found somewhere the following advice:

replaced with

It produced another bunch of errors but directus was actually installed.

[2017-07-25 08:41] piupiupiu opened #1709 "Unable to create decimal field"
## Version Info
  - Directus version and branch: master branch, latest commit #da6d751
  - PHP version: 7.0 fpm
  - MySQL version: 5.7
  - Web server: (Ex. Apache, nginx or IIS?) nginx
  - OS name and version: ubuntu 16.04

## Expected Behavior
A new column is created.

## Actual Behavior
Column is not created. An sql error is showing.

## Steps to Reproduce
 1. Add new field
 2. Select numeric da

[2017-07-25 15:21] WellingGuzman commented on #1703
@piupiupiu are the errors above thrown when you replace `Exception` with `Throwable` or when you remove those lines from `bootstrap.php`? it seems to be chopped though.

Whatever it is it seems it's an Fatal Error, but can't see of any logs that has been share with us what was the actual error message.

[2017-07-25 17:20] benhaynes commented on #1574
I agree – no interfaces preferences (for now). Let's focus on having the user's locale determine the formatting.

[2017-07-26 02:09] WellingGuzman commented on #1476
The interfaces having problem with unsaved changes were fixed by https://github.com/directus/directus/commit/6d39af7acfe02413ade3c5141cc11e3dc2d0d254

[2017-07-26 02:30] WellingGuzman commented on #1709
Thanks for reporting this @piupiupiu. This has been fixed by https://github.com/directus/directus/commit/e65b4ef028fbf761386826f90a6c240e596aaff8

Please confirm.

[2017-07-26 06:53] peremp commented on #1567
I had no luck reproducing it. But an editor told me just yesterday that this still happens.
I've been thinking, and maybe is related to the "cache" problem I reported here https://github.com/directus/directus/issues/1708

What I mean is, maybe the changes are saved, but they are not able to see them. But again, not 100% sure. I'll try to find the exact way to reproduce it.

[2017-07-26 07:29] peremp commented on #1708
Seems that this is happening more often than expected.

Another easy example that is happening to us:
- Open any item from any table.
- Edit any text/varchar field (or any WYSIWYG).
- Save (Directus send you back to table list)
- Enter the item you edited

**Expected:**
The item is modified.

**Current:**
The item is modified BUT you still see the old information until you `disable` the cache usin

[2017-07-26 09:45] peremp opened #1710 "Filters reset not working properly"
## Version Info
  - Directus version and branch: 6.4.0 devel

## Steps to Reproduce
 1. Enter to a table list:

![1](https://user-images.githubusercontent.com/20085260/28614671-ec39115e-71f6-11e7-95ce-8462a1d376b3.png)

 2. Write something to filter. The filter is applied and the table list updated correctly:

![2](https://user-images.githubusercontent.com/20085260/28614795-4a67eb6a-71f7-11e7-8a5a

[2017-07-26 10:29] daddykom commented on #1676
When this problem will be solved in the build?

[2017-07-26 10:45] jroxendal commented on #1575
I'm on a European-style long vacation right now, I'll have to get back to you mid August or so!

[2017-07-26 11:32] wittwerch opened #1711 "composer.lock removed from repository"
I noticed that the composer.lock was removed from the repository (e732c931f6a7dadc1713e215786f0bbac263ff42, 1634a22aa3384d7d15028cb43f1e7dc528c7ef13). Can you please explain why?

https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control

[2017-07-26 14:03] martinfojtik opened #1712 "Bad URL in reset password email"
## Version Info
  - Directus version and branch: develop
  - PHP version: 7
  - MySQL version:
  - Web server: (Ex. Apache, nginx or IIS?)
  - OS name and version:

## Expected Behavior

After I click on the link in reset password email, I am redirected to error 404 page. URL in email is `http://example.com/api/1/auth/reset-password/XXXreset_tokenXXX`

## Actual Behavior

I think URL should be `ht

[2017-07-26 15:05] WellingGuzman commented on #1712
Thanks for reporting this @martinfojtik. It has been fixed by https://github.com/directus/directus/commit/adc5685383d1819435e05b368ca50b8679b0002b

[2017-07-26 15:05] #1712 closed

[2017-07-26 15:18] WellingGuzman commented on #1711
Some developers were having some issue where they have to regenerated the `composer.lock` to their php version, mainly from php 5 (Generated by us) to php 7 (generated by them).

it was difficult to find out the issue or why some package were missing or an error was showing up to some but not to others. This way people will have a fresh vendor from their php version, which we (Contributors and Dev

[2017-07-26 16:32] benhaynes commented on #1710
Hey @peremp – no one here is able to reproduce this one.

Can you send over more detailed steps? Are you clicking the "X" to clear the filter or deleting the text manually? Do you have a schema we can try with?

Also, when you get the incorrectly filtered listing, could you check your user's `directus_preferences` for that table and paste it here? I wonder if this is actually a bug in the code or

[2017-07-26 23:16] Zilus opened #1713 "User group can't edit own profile"
## Version Info
  - Directus version and branch: 6.4
  - PHP version: 7.1
  - MySQL version: 5.6
  - Web server: apache
  - OS name and version: Ubuntu 14.04

## Expected Behavior
I created a user group, with the ability to edit their own profiles.

## Actual Behavior
I Cant edit my own profile (as a user from that group)

## Steps to Reproduce
 1. Log as admin
 2. Create user group
 3. Leave "All

[2017-07-27 09:05] wittwerch commented on #1711
Ok, I was not aware of these problems. I think removing `composer.lock` will introduce a whole bunch of potential new problems. You loose track of what exact versions were used to develop a feature. Also during the deployment you potentially end up with different versions on test and production environments.

However I'm going to add a `composer.lock` to our forked Directus project. Thanks for the

[2017-07-27 10:40] dsivokhin commented on #1713
Hello, I have the same problem, I will add to this issue error message
`Error
Error: Uncaught TypeError: this.get(...).get is not a function
File: https://directus.qnap.ru/app/modules/users/UsersModel.js?bust=798e08c391723309a7c18943477c056b388f393a
Line:72`

[2017-07-28 03:13] WellingGuzman commented on #1711
Thanks @wittwerch, we were aware of the benefits you mentioned, but we are going to let users do it by themselves and see how it goes, depends on it we can bring it back or find better way to handle these issues. we are always welcome to discuss anything that bring improvements to Directus.

Thanks for pointing this out

[2017-07-28 03:13] #1711 closed

[2017-07-28 15:30] Yanlaz opened #1714 "Extension - subpage is possible ?"
I try to create a extension. It's work fine but i need a lot a page for this extension and i don't want to create one extension per page.  It's possible to create some subpage for extension ? I don't find the way.

I manage to create 2 pages for one extension but not to add this in sidebar. I try to include a partial template menu in my template but it doesn't work too.

I don't find docs for exte

[2017-07-29 16:20] piupiupiu commented on #1709
@WellingGuzman, I've made the checkout, but the issue still persists. Conditions and the behavior is exactly the same.

[2017-07-30 18:33] Keyes commented on #1703
Got the same error:

- PHP 7.0.15-1
- nginx/1.11.3
- MySQL 5.5.56-MariaDB
- Ubuntu 14.04.5 LTS
- directus checked out via git master

Two tables were created when the error occurs: directus_groups, directus_schema_migrations

[2017-07-31 13:09] WellingGuzman commented on #811
@benhaynes I believe this could be solve like that, when we open a overlay we should push a history state, silently, we can see if we can push the same, OR pushing a fake one but without reflecting the url, or using hash.

Hopefully this would solve this request/issue?

[2017-07-31 13:12] WellingGuzman commented on #1311
Did we merge the PR? I don't think so, the PR wasn't full solution to this one, as this is heavily on the frontend. the PR solved the problem on the server.

The state of this is IDLE.

[2017-07-31 15:07] LiamMartens opened #1715 "directus_files table incomplete after installation"
## Version Info
  - Directus version and branch: 6.40
  - PHP version: 7.0
  - MySQL version: MariaDB 15.1
  - Web server: Caddy 0.10.6
  - OS name and version: Alpine3.5.0 in Docker

## Expected Behavior
Should create the columns `url`, `thumbnail_url`, `old_thumbnail_url` and `html`

## Actual Behavior
They aren't being created causing the Many-To-Many file relation to fail.

## Steps to Reprodu

[2017-07-31 18:02] benhaynes commented on #811
Yeah, I think that should do it!

[2017-08-01 08:08] dsivokhin commented on #1691
Hello @WellingGuzman,
It's work by many tables, but if table have M2O (Single file), I have this error

``Server Error
This query failed: SELECT `packages`.`id` AS `id`, `packages`.`active` AS `active`, `packages`.`name` AS `name`, `packages`.`photo` AS `photo` FROM `packages` WHERE (`packages`.`id` LIKE '%Сете%' OR `packages`.`active` LIKE '%Сете%' OR `packages`.`name` LIKE '%Сете%' OR `photo` IN

[2017-08-01 08:47] Yanlaz opened #1716 "core/extensions missing in build version"
## Version Info
- Directus build

It miss core/extensions in app.min.js

[2017-08-01 14:48] trk opened #1717 "Request: Valet Driver for Directus"
If someone have [Laravel Valet](https://laravel.com/docs/5.4/valethttps://laravel.com/docs/5.4/valet) Driver for Directus, is it possible to share it with us ?

[2017-08-01 15:10] WellingGuzman commented on #1716
What do you mean @Yanlaz? can you please elaborate what warning/error messages you were receiving and when?

[2017-08-01 15:11] WellingGuzman commented on #1715
Hey @LiamMartens can you test this on `develop` branch?, I believe this was reported before and fixed, not yet released, it will be on 6.4.1.

[2017-08-01 15:12] WellingGuzman commented on #1715
Also the columns `url`, `thumbnail_url`, `old_thumbnail_url` and `html` are just helpers, never meant to be actual columns (created).

[2017-08-01 19:47] rgvy opened #1718 "Empty table listing when adding from existing database"
## Version Info
  - Directus version and branch: 6.4.0
  - PHP version: 7.1.1
  - MySQL version: 5.6.35
  - Web server: Apache (MAMP)
  - OS name and version: macOS 10.12.6

## Expected Behavior
A listing showing all my rows including ones added via Directus UI

## Actual Behavior
"Nothing to see here..."

## Steps to Reproduce
 1. Create database with table below and seed with data
 2. Install di

[2017-08-01 19:49] rgvy commented on #1718
I'll note that I was able to use Directus UI to add a table and rows to that table without any problem.

[2017-08-01 19:51] rgvy commented on #1718
Furthermore, the only log entries are:
[code]
And they only occur when launching Directus UI initially

[2017-08-01 21:36] WellingGuzman commented on #1718
Hey @rgvy Did you gave the user group permission to read data from that table?

[2017-08-01 21:41] rgvy commented on #1718
Thanks for the suggestion. I was the administrator, so I assumed it was unnecessary. I'll try that tomorrow and report back.

[2017-08-01 21:43] WellingGuzman commented on #1567
This has been fixed by severals commit.

Reference:
- https://github.com/directus/directus/commit/47275a00b62265774243b38a7b2b3f1977c1badc
- https://github.com/directus/directus/commit/063a55579d96087f5b04d26636c245d317cf1902
- https://github.com/directus/directus/commit/30c06c3ca0b60b779f962d21d3c5e4916e0cb0bb

If someone still experiencing this on `develop` branch please let us know and some ste

[2017-08-01 21:45] WellingGuzman commented on #1718
Great @rgvy, please let us know.

Note: By default only the tables you create from Directus are automatically managed by directus (admin has permission to it), if you create a table via other way, it won't be visible unless you go to `Settings > Tables` and click "manage" which give the admin group permission to manage and view the table data

[2017-08-01 21:46] WellingGuzman commented on #1714
Yes, it is possible. we are going to update our example extensions to support multiple view and a internal extension menu.

[2017-08-01 21:47] WellingGuzman commented on #1714
Also to give you a hint or the way to do it, you can add more routes in the Router object (https://github.com/directus/directus/blob/master/customs/extensions/_example/main.js#L55)

[2017-08-01 21:48] rgvy commented on #1718
Hmmm, I tried that actually. What I have yet to try is tinkering with ``` settings > group permissions```

At first I thought that my issue was caused by foreign keys to/from tables I hadn't chosen to manage. But then I was able to create the bug by duplicating my users table...

[2017-08-01 22:04] WellingGuzman commented on #1718
I didn't quite get what you were saying... did you perform what I recommend and it didn't work? As Admin you can see any table that you want to manage within directus.

Anyway I will try to reproduce this myself with your steps, because I'm thinking this could be something else.

[2017-08-01 22:08] WellingGuzman commented on #1718
hey @rgvy I see you that mentioned it about managing the table, I'm sorry I just didn't notice what it meant.

[2017-08-01 22:10] rgvy commented on #1718
Sorry if I wasn't clear. I have more information.

Yes, I have already tried it as you recommend: by clicking "manage" in ```settings > tables```. The table appears in the left sidebar, but there is no data shown while my database has hundreds of rows. However, I CAN add new rows to the managed table, and they do show up in the database. But the table list view shows none.

Furthermore, I tried ad

[2017-08-01 22:14] WellingGuzman commented on #1718
Hey @rgvy, Thanks for all the information, I finally found what was causing the trouble, Directus is treating the `status` column as if it were a Status Interface column, and because the value is 0, and the default value for deleted is 0, the records are hidden.

We are discussing this behavior, and will come up with a solution soon.

[2017-08-01 22:20] rgvy commented on #1718
I see. Funny, it was only the tables with a ```status``` column that I tried using while evaluating Directus.

May I ask, if I simply change the name of this column, will that fix everything? Besides ```id``` are there any other "magic names" to be aware of?

Thanks!

[2017-08-01 22:23] benhaynes commented on #1718
Today USED to be magic, along with `sort` for drag and drop, and `id` for the primary key. NOW (in 6.4) all these columns are dictated by their chosen interface. One of the hardcoded values must have been overlooked.

We're on it! 😉

[2017-08-02 00:07] benhaynes commented on #1717
Hey @trk – you'd probably have better luck asking around our [Slack](https://slack.getdirectus.com) for something like this. Our next marketing site will have a community page and we'll consider adding in a public forum there too.

GitHub issues are reserved for bugs so I'm going to close this one.

[2017-08-02 00:07] #1717 closed

[2017-08-02 08:22] xunra opened #1719 "Many-to-one field not saving"
## Version Info
  - Directus version and branch: 6.4 master on commit 228bc94
  - PHP version: 7.0.18
  - MySQL version:  5.7.19
  - Web server: Apache
  - OS name and version: Ubuntu 16.04

## Expected Behavior

After chaning a many to one field the new value is saved. If it's a field with "allow null" selected the value can be null or not selected.

## Actual Behavior

After the initial save or

[2017-08-02 14:20] Yanlaz commented on #1716
I have this javascript error :
`
directus.min.js?bust=gmn53c4jnc72d5j27sn89hvui1:2 Uncaught Error: Script error
http://requirejs.org/docs/errors.html#scripterror
    at makeError (directus.min.js?bust=gmn53c4jnc72d5j27sn89hvui1:2)
    at HTMLScriptElement.onScriptError (directus.min.js?bust=gmn53c4jnc72d5j27sn89hvui1:2)`

I resolve it to add core/extensions from master (based on app/core/extension

[2017-08-02 16:33] WellingGuzman commented on #1713
Hey @Zilus are you experiencing the same error @dsivokhin is having?

[2017-08-02 17:30] WellingGuzman commented on #1691
Hey @dsivokhin,

This patch (https://github.com/directus/directus/commit/9e1d4572613f618373298121da7582cf5edf4d1c) should have fix this issue. please let us know if it worked for you too.

[2017-08-02 17:53] WellingGuzman commented on #1719
Hey @xunra,

Does the value get saved on the database?

[2017-08-02 18:11] WellingGuzman commented on #1703
Hey @Keyes, Thanks for the information.

did you try the `develop` branch? We are trying to reproduce this error. It was suppose to be fixed by https://github.com/directus/directus/commit/dc547af4868b53b50f45d9ceb24126309b445e50

We are still trying to check that configuration is triggering this issue.

[2017-08-02 18:44] WellingGuzman commented on #1718
Hey @rgvy this commit (https://github.com/directus/directus/commit/c166d3592b2d1694f00c16f7f3c856c86224bde8) should fix the issue not showing up any data into the `users2` table.

Please let us know if it did the job.

[2017-08-02 19:38] xunra commented on #1719
Hey @WellingGuzman

No, no value gets saved.

[2017-08-02 21:19] WellingGuzman commented on #1719
@xunra does it work on `develop`? can you share a schema so we can reproduce with your same data? I tried on both and it was working as expected.

[2017-08-02 23:35] #1620 closed

[2017-08-02 23:38] WellingGuzman commented on #1585
I was thinking about this now, what happens with older developers that has this set for `hard-delete` okay I will recommend creating a new name for it `remove` and we pass it whether is soft delete or not. so we don't break old/current codes.

[2017-08-03 02:46] rgvy commented on #1718
I can't confirm if that commit fixed, since I don't know how to use the dev branch. I'm just using the 6.4.0 distro

I can, however, confirm that avoiding or renaming ```status``` columns totally fixes my issues.

Thanks for the response to this bug! I'm very much looking forward to using Directus!

[2017-08-03 03:14] WellingGuzman commented on #1625
`hidden_list` removed and use `hidden_input` instead. Closed by https://github.com/directus/directus/commit/8edf1be6bd7fa4a892497ca9c4c04938cf318b4a

[2017-08-03 03:16] WellingGuzman commented on #1625
@benhaynes should we force the M2M/O2M relationship to be hidden? I was thinking one possible way to use it, it is showing the count of related items.

[2017-08-03 04:00] WellingGuzman commented on #1713
Hey @Zilus + @dsivokhin, does this commit (https://github.com/directus/directus/commit/26968b0c121cf6ab77fa85512e0aed38610538e5) fixes the issue you've experiencing?

[2017-08-03 06:45] xunra commented on #1719
@WellingGuzman

While I can save it once, it still has issues when I try to change the option after saving and a javascript error when I try to select the first option - "Select from below" to null it.
Also the select options have no texts.

[code]

Schema

[code]

[2017-08-03 07:58] dsivokhin commented on #1713
Hi @WellingGuzman, thanks, it works, users can edit own profiles now. But I see another issue, I can't change group for any users. I am admin, go to edit user page, changing group and save, but new value not save in database and no error on screen. This problem was before this commit.

[2017-08-03 08:04] dsivokhin commented on #1691
Hi @WellingGuzman, thank you it works.

[2017-08-03 08:37] walkwizus commented on #1698
Hi,

So sorry for the late response !

I've test the fix but unfortunately, does not works. The description field in brands table was not saved.

There another thing, when I add an item in brands table, there are two published / draft status (the second does not work).

If I save a new item and I go to edit it, there are one published / draft status.

Now, I can change the language without issue.

[2017-08-03 14:37] WellingGuzman commented on #1713
This may be related to https://github.com/directus/directus/issues/1719.

I will give it a spin.

[2017-08-03 14:38] WellingGuzman commented on #1719
@xunra does the user has permission to read data from `parent`?

Thanks for the schema, I will test and see if I can replicate.

[2017-08-03 14:40] WellingGuzman commented on #1698
It seems you are not on the right branch, those are the issue we recently fix on translation.

What branch are you on?

[2017-08-03 15:13] xunra commented on #1719
Yes it does.

For now I have switched back to 6.3.x and everything works great.

[2017-08-03 15:15] WellingGuzman commented on #1719
@xunra can you share the schema for that table? and why the visible_column option is `Parent` is that a table name on `parent` table?

[2017-08-03 15:27] walkwizus commented on #1698
I'm on master branch, I've simply download this commit to fix : https://github.com/directus/directus/commit/ed1014d5373cb054a31106815dd98ace93c67a7b

[2017-08-03 15:58] benhaynes commented on #1625
No, we shouldn't hide it (unless the input is hidden). I think the best fallback/default is to show the count:

`21 Items` (general)
`3 Files` (if this is a file interface, or related table is `directus_files`)

We should be able to override this in the interface with a specific view though...

[2017-08-03 18:37] WellingGuzman commented on #1718
@rgvy awesome, I can confirm with works on my end. I will re-open if this still happen in some other way.

[2017-08-03 18:37] #1718 closed

[2017-08-03 18:48] WellingGuzman commented on #1719
I noticed that you make a many to one, to the same table? is that the behavior you want to accomplish related one record from `test` to another record from `test`?

[2017-08-03 18:50] WellingGuzman commented on #1719
I've been trying to reproduce this without any luck, and it seems to be working perfectly.

Can you clear your browser cache and see if that solves it?

[2017-08-03 19:54] WellingGuzman commented on #1716
Closed by https://github.com/directus/directus/commit/a33017485c135b1290f12fb176e33618750a6dad.

Next build release will include this missing file.

[2017-08-03 19:54] #1716 closed

[2017-08-03 20:06] WellingGuzman commented on #1713
Hey @dsivokhin, check this patch (https://github.com/directus/directus/commit/443e4449d7fe9a4991257f5f9deb8c92ee915286) and let me know if it fixes the other issue.

[2017-08-03 20:06] WellingGuzman commented on #1719
Hey @xunra, can you test with this commit (https://github.com/directus/directus/commit/443e4449d7fe9a4991257f5f9deb8c92ee915286) on `develop` branch?

[2017-08-03 20:20] WellingGuzman commented on #1709
can you explain what you did @piupiupiu as this potentially may have fixed the issue? can you share the logs on api/logs?

[2017-08-03 20:37] WellingGuzman commented on #1708
Hey @peremp, now I'm realizing this probably is one issue that has been reported before.

If you go to your `GET` requests of the data, does it says "from cache" in the dev tools network tab?

Do you have an specific configuration to cache http requests?

We are thinking on forcing getting new entries by appending some param on the url, so we get a new data no matter the cache the server/browser h

[2017-08-03 23:04] WellingGuzman commented on #1358
Okay, I checked on 6.4, it actually toggle the visibility of any table on any group to the admin group (which is the only group allowed to edit permissions).

I removed the syncing part, which will avoid this problem.  It didn't actually change the permission on the group's privilege on the database.

It won't be fixed on 6.3.

Closed by https://github.com/directus/directus/commit/696bbdfcee4a56ff

[2017-08-03 23:04] #1358 closed

[2017-08-04 01:24] benhaynes commented on #1698
Hey @walkwizus – so that commit fixes the issue? Are all the problems within this ticket now resolved on your side?

Thanks for the help!

[2017-08-04 06:18] WellingGuzman commented on #1476
Closed by https://github.com/directus/directus/commit/2bf7fced7537a103c4c432ba4efcb160803aa95a

We still need to keep an eye on updated/new interfaces to make sure we make unsaved changes in the correct way.

[2017-08-04 06:18] #1476 closed

[2017-08-04 06:21] WellingGuzman commented on #1681
I will call this closed. no responses in days, but more importantly fixed by https://github.com/directus/directus/commit/54a2390b934d7d2636028bb3c454a1782a57cc26

[2017-08-04 06:21] #1681 closed

[2017-08-04 07:02] jacobzeng opened #1720 "There is no total count for pagination view when list items by api"
# Version Info

- Directus version and branch: 6.4 master on commit 228bc94
- PHP version: 7.0.18
- MySQL version: 5.7.19
- Web server: Apache
- OS name and version: Ubuntu 16.04
## Expected Behavior

I need a attribute of meta to show the total count of current query, not the total of table.

## Actual Behavior
For example, the query api like /domain/api/1.1/tables/fang_todo/rows?filters[content]

[2017-08-04 07:11] dsivokhin commented on #1713
Hi @WellingGuzman , yes, it works.

[2017-08-04 07:34] dsivokhin opened #1721 "Sort columns in tables"
## Version Info
  - Directus version and branch: 6.4 develop
  - PHP version: 7.0
  - MySQL version: 5.7
  - Web server: nginx
  - OS name and version: Ubuntu 16.04

## Actual Behavior

Error when sort columns

`Server Error
This query failed: UPDATE `directus_columns` SET `null` = '0' WHERE `table_name` = 'products' AND `column_name` = 'id'`

## Schema Dump, Logs, or Screenshots
![3](https://user

[2017-08-04 10:31] walkwizus commented on #1698
Hi @benhaynes No this fix don't work.. As stated above, I've downloaded the three files of the commit but the issue persist.

[2017-08-04 13:36] benhaynes commented on #1331
It's been months with no follow-up. This should be working fine in `6.4` so we'll close this ticket. If anyone can replicate this issue in the latest version we can re-open – but we can't replicate it as of now.

[2017-08-04 13:36] #1331 closed

[2017-08-04 13:43] benhaynes commented on #1704
Hey @wittwerch – just checking in on this. Would this be something you would be interested in submitting a PR for? If not, we'll want to close this and move it to FeatHub since it's a feature request and not a bug.

Let me know, and thanks for drafting this change!

[2017-08-04 13:56] benhaynes commented on #1720
Hey @jacobzeng – could you explain this a bit more?

`total_entries` is the total number of items for the whole table, no filters
`total` is the count of items returned by the request

What is the attribute you are looking for? when you talk about `10` vs `14`... is `10` limited or capped by pagination? If you could explain that difference we can look into this.

[2017-08-04 14:03] WellingGuzman commented on #1713
Great @dsivokhin, thanks for letting us know.

Any feedback @Zilus?

We are decided to remove `Allow Profile Editing` and only let the user edit their profile based on their group's permission. (Small edit = can only edit their profile, Big edit = can edit any user profile)

[2017-08-04 14:14] benhaynes commented on #1721
Thank you @dsivokhin for reporting this! We've resolved this issue in the commit above. We'll be pushing a patch release this evening to `build`... in the meantime you can pull that commit to fix the problem.

[2017-08-04 14:14] #1721 closed

[2017-08-04 19:06] benhaynes commented on #1715
Hey @LiamMartens – if you have a chance, we'd love for you to test/confirm this fix on the `develop` branch. We believe this has already been fixed and would love to get the issue closed if that's the case.

Either way, thanks for reporting this!

[2017-08-04 20:35] WellingGuzman commented on #1683
Closed by https://github.com/directus/directus/commit/457e0a28fd4561fefc004f876adbe7ebadd09b89

[2017-08-04 22:45] WellingGuzman commented on #1625
We are displaying the count on O2M and M2M on listing page (https://github.com/directus/directus/commit/d1b593f11e1b404be9037156ba8518f9be8982ba)

This last commit implement the last thing we discussed.

[2017-08-04 22:45] #1625 closed

[2017-08-04 23:03] benhaynes commented on #1704
Hey @wittwerch – let me know if you're thinking of creating a PR. In the meantime, I have migrated this to FeatHub so the community can vote for it alongside the other requests.

http://feathub.com/directus/directus/+115

[2017-08-04 23:03] #1704 closed

[2017-08-04 23:31] benhaynes commented on #1720
If I am correct, and you are sending a request with a `LIMIT` (or Pagination) and want the total results returned without the limit... I don't know if this is something we will implement.

I realize it could be quite useful in some situations, but since Directus passes through these as actual SQL commands (including the limit), we would have to either change the core Directus logic (don't pass thr

[2017-08-04 23:31] #1720 closed

[2017-08-04 23:53] benhaynes commented on #1542
A new issue that has come to my attention: when we expand the rows (one for each status) then there are two columns that don't apply:

`add` (soon to be create) and `nav_listed`... because they don't depend on `status`. So we'll need a new interface.

[2017-08-05 08:15] jacobzeng commented on #1720
Yes, you are right, it's what i want, the attribute will help me to know how to display the page index without get total result.

BTW, thanks for your response.

[2017-08-05 16:42] benhaynes commented on #1509
OK – @WellingGuzman and I decided to NOT remove the `nav_blacklist` because of a complexity in the upcoming "workflow permissions" and because we need to control more than just Tables (also: extensions, User Directory, File Library, Activity Dashboard, etc).

So we need to do make sure the current `nav_blacklist` can allow for toggling the following:

* Tables: eg `any_table_name` (*Working*)
* Ex

[2017-08-05 16:48] benhaynes opened #1722 "Settings > Users Interface"
**1. REMOVE "X"** – We should remove this "X" because you can't remove a user from a group (then can only be shifted to a NEW group) otherwise they would not have a group assigned.

**2. Add these columns:**

* Avatar
* Name
* Last Login
* Last IP

**3. Make each clickable to open the User Modal**

[2017-08-05 16:49] benhaynes commented on #1682
Any update @JREAM?

[2017-08-05 16:52] benhaynes commented on #1722
Just for reference – the new one is not 100% (shouldn't have "X", but I thought this would help):

![screen shot 2017-08-05 at 12 44 10 pm](https://user-images.githubusercontent.com/522079/28997200-d6d0e510-79dc-11e7-97d6-31e42bdc02a5.png)

![screen shot 2017-08-05 at 12 44 19 pm](https://user-images.githubusercontent.com/522079/28997199-d0e8f94e-79dc-11e7-9e25-16098255e7cd.png)

[2017-08-05 19:16] WellingGuzman commented on #1654
We removed the `show_messages` column labeled as `Allow Messaging` and you group must have permission to add `directus_messages` and `directus_message_recipients` to allow them to messaging.

Closed by https://github.com/directus/directus/commit/fda63e4e93f6152fe943fe66505fc28b0ab6beea

[2017-08-05 19:16] #1654 closed

[2017-08-05 19:20] WellingGuzman commented on #1713
We removed `show_users` column from `directus_groups` (labeled as `Allow Profile Editing` on groups editing page) to allow any group to edit their own profile must have Small edit and to edit any profile must have big edit permission.

Closed by https://github.com/directus/directus/commit/fda63e4e93f6152fe943fe66505fc28b0ab6beea

[2017-08-05 19:20] #1713 closed

[2017-08-06 05:11] WellingGuzman commented on #1509
@benhaynes the new `nav_blacklist` was implement by https://github.com/directus/directus/commit/5423c8b8269a07eb9d32a0a8863d6627df834c10

[2017-08-06 05:11] #1509 closed

[2017-08-06 05:12] WellingGuzman commented on #1496
Closed by https://github.com/directus/directus/commit/cb63e4ba212d8f5adec05306fb2252c63a614c8a

[2017-08-06 05:12] #1496 closed

[2017-08-06 15:09] benhaynes commented on #1710
If anyone is experiencing this issue please let us know (exact commit and steps to reproduce) – it should be easy to fix but we are unable to replicate the problem.

In the meantime, we're closing this because it's been a few weeks with no confirmation.

[2017-08-06 15:10] benhaynes commented on #1701
It's been a few weeks and we are still unable to reproduce this issue. If anyone encounters it, please send us your server details, commit hash, and exact steps to reproduce.

[2017-08-06 15:14] benhaynes commented on #1709
Hey @piupiupiu – we've been testing this one and are able to successfully create the DECIMAL column every time. Perhaps it's something to do with your configuration or server/sql setup? Any detailed logs or other info would be greatly appreciated.

In the meantime, we're going to close this one since it is working for multiple people following your exact steps. Please re-open if you submit more de

[2017-08-06 15:14] #1709 closed

[2017-08-06 20:13] WellingGuzman commented on #1722
Closed by https://github.com/directus/directus/commit/7d9f19fece4bcb3165a9a90035ae6a7d603877c1

[2017-08-06 20:13] #1722 closed

[2017-08-06 22:09] WellingGuzman commented on #1714
Closed by https://github.com/directus/directus/commit/68c907264ee9035dc7d3c6e1689ea8e208e1fdfd

[2017-08-06 22:09] #1714 closed

[2017-08-07 13:55] dsivokhin commented on #1719
Hi @WellingGuzman, I update all commits, but I have same problem, M2O field to the same table, not saving, if change select option and save, notice - `Warning
Nothing changed, nothing saved`, if change somthing else and save, value M2O not save in database.

And field type 'M2O Typeahead' have bad styles, dropdown list not white.

And another problem if value selected, and try set emty value, from

[2017-08-07 14:51] dsivokhin opened #1723 "If empty relations, in display no-value in M2M"
## Version Info
  - Directus version and branch: 6.4 develop
  - PHP version: 7.0
  - MySQL version: 5.7
  - Web server: nginx
  - OS name and version: Ubuntu 16.04

## Actual Behavior
If item no relations values, display no-value in M2M fields

## Schema Dump, Logs, or Screenshots
![1](https://user-images.githubusercontent.com/4669992/29031995-a436592e-7b98-11e7-96d7-26b860d59895.PNG)

![2](https

[2017-08-07 15:47] WellingGuzman commented on #1719
We are aware of the dropdown being without any style, we should be working on it soon.

If the issue still persists let us know, please share a reproducible step and we will re-open it.

This ticket has been closed by https://github.com/directus/directus/commit/2ea2b8e4d0f5ce09ce8c486f18d0da6c3c7314a6

[2017-08-07 15:47] #1719 closed

[2017-08-07 15:51] WellingGuzman commented on #1723
Hey @dsivokhin can be please be more specific what's the issue is all about and steps on how to replicate or an example schema?

[2017-08-07 17:08] WellingGuzman commented on #1626
Closed by https://github.com/directus/schemas-boilerplate/commit/ba5404a06f871af53d2d63ba8c812771c91f0e2b

[2017-08-07 17:08] #1626 closed

[2017-08-07 17:34] #1703 closed

[2017-08-07 19:41] LiamMartens commented on #1715
@benhaynes Sorry for the delay, tested on `develop` branch and seems the Many To Many files relationship appears to be fixed indeed.

[2017-08-07 19:41] #1715 closed

[2017-08-08 08:06] dsivokhin commented on #1723
Sorry for small info. It's easy to reproduce. I attached the shema.
1. Open table 'products'
2. Open first item 'TestProduct-1'

'TestProduct-1' has not relations for 'photos' and 'catalogs' but them display as empty values.

![1](https://user-images.githubusercontent.com/4669992/29062117-1351f53a-7c29-11e7-9933-ca794cb9b70f.PNG)

[test_directus.zip](https://github.com/directus/directus/files/1207

[2017-08-08 13:56] benhaynes commented on #1698
That would be great @walkwizus – you can send a full SQL dump and we'll recreate here, or access to the instance could work too. We really appreciate you taking the time to help us find/resolve this issue!

[2017-08-08 14:26] NextrekNet opened #1724 "directus 6.4.0 migration from older version. Problem on eye button"
## Expected Behavior
able to edit field after reactivate it.

## Actual Behavior
unable to edit field after clicking two times (not visible / visible) on eye button. if we perform and reload of main page it works well

## Step to reproduce
1. edit table and edit column clicking on eye button to not visible colum
2. edit again column clicking on eye button to show visible column
3. click on field n

[2017-08-08 19:42] WellingGuzman commented on #1698
I apologies, I didn't mean to close it, it was automatically closed by the commit messages. (because it worked for me so I labeled it)

[2017-08-08 21:48] NextrekNet opened #1725 "Internal server error 500"
## Expected Behavior
Directus should work correctly

## Actual Behavior
same column name on different table produce the issue. Internal server error 500

![capture](https://user-images.githubusercontent.com/22654128/29096148-01ce0ae0-7c94-11e7-8f71-d415bf743320.PNG)
![capture2](https://user-images.githubusercontent.com/22654128/29096147-01ca0436-7c94-11e7-817d-438836d6bde7.PNG)

## Steps to Reprod

[2017-08-09 00:58] WellingGuzman commented on #1725
Hey @NextrekNet, can you please share your logs in `api/logs`?

Thanks

[2017-08-09 05:37] WellingGuzman commented on #1724
Hey @NextrekNet, are you trying to say that clicking the icon couple of times stop working?

[2017-08-09 06:18] #1723 closed

[2017-08-09 06:19] WellingGuzman commented on #1723
Thanks for the information and the schema @dsivokhin.

It has been fixed by https://github.com/directus/directus/commit/dd871139b740a99af17f4cadcd779f0287613df4

[2017-08-09 08:31] walkwizus commented on #1698
Hi,
 No probs ! If you are disponible today, we can speak on Slack and I'll give an access to my local instance.

[2017-08-09 08:58] riartem opened #1726 "Crytical error in 6.4.1"
## Version Info
  - Directus version and branch: 6.4.1
  - PHP version: 5.6.28
  - MySQL version: 5.6.34
  - Web server: Apache

After updating from 6.4.0 I have infinite loading and console errors:
![image](https://user-images.githubusercontent.com/987517/29113538-f0e2f23e-7cf9-11e7-98bd-8d7bb72c75a3.png)

![image](https://user-images.githubusercontent.com/987517/29113513-e34a62b0-7cf9-11e7-9c45-

[2017-08-09 10:51] riartem commented on #1726
Update:
Not working if directus installed in sub directory, like: /htdocs/directus/
It's a serious bug. Looks like /customs/interfaces/rating/component.js is hard-coded.

[2017-08-09 12:16] Keyes commented on #1703
Error with current (pulled 5 Minutes ago) develop branch:

[2017-08-09 14:21] WellingGuzman commented on #1726
Hey @riartem, thanks for reporting this, meanwhile you can rename `customs/interfaces/rating` to `customs/interfaces/_rating` to stop the interface from loading.

I will take a look asap

[2017-08-09 14:46] benhaynes commented on #1724
He means: click the visibility "eye" icon two times, then try to edit the interface (open the modal) and he gets an error. He has a video on Slack that he can share.

[2017-08-09 15:23] WellingGuzman commented on #1726
Can you also try to clear the cache from the browser just in case is a browser cache issue?

[2017-08-09 15:26] WellingGuzman commented on #1724
I understand clearly, thanks @benhaynes. it helps to show errors screenshot.

Working on it.

[2017-08-09 15:29] riartem commented on #1726
@WellingGuzman of course, I am cleaned browser cache.
Case description:
File exists here: /**directus**/customs/interfaces/rating/component.js
But system is ignoring that it is in a subdirectory and looking for that file in path /customs/interfaces/rating/component.js

[2017-08-09 15:32] WellingGuzman commented on #1726
Thanks @riartem! I will be working on it asap, one more question, where did you download the directus files from? zip, tar, git, GitHub zip?

[2017-08-09 16:38] #1724 closed

[2017-08-09 16:38] WellingGuzman commented on #1724
Hey @NextrekNet, I have fixed this issue on https://github.com/directus/directus/commit/afe76be8ccfac0f10759a0da2ceba7cefea24922

Please confirm, otherwise I will re-open.

[2017-08-09 19:48] benhaynes commented on #1725
@NextrekNet – we'll also need a little more detail. Could you tell us what page you go to to get the error? Do you have a schema (SQL dump) you can share? We have tables with the same name working fine on our side so we'll need more insight to get this fixed.

Thanks!

[2017-08-09 21:55] benhaynes commented on #1708
Hey @peremp – do you have time to give this a quick test?

[2017-08-10 14:58] vkrementzoff commented on #1726
I wanted to try 6.4.1 with a clean install ; I cloned the repo, made a composer install and created a clean database, I have an error that stops installation.

Here is the detail of the errors:

Fatal error: Uncaught PDOException: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'directus.directus_tables' doesn't exist in /home/directus/vendor/zendframework/zend-db/src/Adapter/Driver/Pdo/

[2017-08-10 15:51] dieguezz opened #1727 "Errors on createFile"
## Version Info
  - Directus version and branch: build
  - PHP version: 5.6
  - MySQL version: 5.7.18
  - Web server: (Ex. Apache, nginx or IIS?) Apache 2.4.27
  - OS name and version: CentOs 2.62.32

## Expected Behavior
When uploading a file should not return 500 error

## Actual Behavior
Returns 500

## Steps to Reproduce
This his happening using the js-sdk and using just axios.
Request:
![capt

[2017-08-10 16:07] benhaynes opened #1728 "Error creating new table"
Creating a new table within Directus:

[code]

It DOES create the table – but throws the error.

[2017-08-10 16:55] benhaynes opened #1729 "Navigate back after "no changes""
When saving an item, sometimes it says there were "no changes" (see below) – but then it keeps you on the same page. Within `Settings>Tables&Inputs>Table` when you change interface options and then save the page it tells you this because interface options are saved immediately... but it's annoying because it doesn't take you back to the parent page.

*When you get this message we should still navi

[2017-08-10 17:04] benhaynes opened #1730 "Interface Options opening wrong modal"
After creating several new columns/interfaces – clicking on the most recent column's interface options opens a modal with the incorrect options.

Clicking on the URL options (Notice the interfaces used by URL and Publish Date below):
![screen shot 2017-08-10 at 12 58 25 pm](https://user-images.githubusercontent.com/522079/29182298-5716f65e-7dcc-11e7-9bbb-4b40f1a56957.png)

Opens this modal:
![scre

[2017-08-10 18:23] benhaynes opened #1731 "Don't show right sidebar for New Items"
The INFO icon in the header is disabled, but the empty sidebar still shows up when creating new items. It should *not* be visible at any screen width.

![screen shot 2017-08-10 at 2 22 38 pm](https://user-images.githubusercontent.com/522079/29185507-65f51d6c-7dd7-11e7-813e-d8348470150c.png)

[2017-08-10 18:34] benhaynes opened #1732 "Order for new columns"
When creating new columns within a table, they seem to order properly at first – but the column order is saved in `directus_columns.sort` as `9999`. This means that the order is different when you come back because they are all set to `9999`.

What we should do: as you add a column, it should save `directus_columns.sort` as the column count... so that it is ordered at the end.

Example:
Save first

[2017-08-10 19:57] benhaynes opened #1733 "Single File Relationship"
When you setup a new Single File interface it auto-generates the relationship. However it doesn't include the `directus_files.id` column in the relationship setup – and it's there is no option to select it. Maybe this is because `directus_files.id` isn't set up as a PK interface in the static schema?

![screen shot 2017-08-10 at 3 55 13 pm](https://user-images.githubusercontent.com/522079/29189448

[2017-08-11 05:10] WellingGuzman commented on #1732
Hey @benhaynes, I implement in this commit https://github.com/directus/directus/commit/f55d50d22efe3cbd1bc0166bf315074fec58fcbd incrementing by one the last column sort value to the new one.

[2017-08-11 05:17] WellingGuzman commented on #1731
Closed by https://github.com/directus/directus/commit/9041a44f1d810be2cfc5c35f04f969896b2fc628

[2017-08-11 05:18] WellingGuzman commented on #1728
Did you clear the cache? this should have been fixed by https://github.com/directus/directus/commit/88adb7abfbc7fe2a7e6e491869f27ff6b809c097

[2017-08-11 06:01] WellingGuzman commented on #1730
Closed by https://github.com/directus/directus/commit/ab4c9551e665e7700c10fca14bb4c187efa9c4a5

[2017-08-11 06:01] #1730 closed

[2017-08-11 06:08] WellingGuzman commented on #1729
Closed by https://github.com/directus/directus/commit/effdb8666e1cc3fdee74e20acd7bb0de5424fb04

[2017-08-11 06:08] #1729 closed

[2017-08-11 06:09] WellingGuzman commented on #1729
Notice: these three view will be merge/shared code soon.

[2017-08-11 06:12] WellingGuzman commented on #1733
This is not happening in my end, also we change the fixed information? I hate to keep asking this, but I know it always our issue, cache. did you clear the cache?

[2017-08-11 06:14] WellingGuzman commented on #1726
@vkrementzoff what MySQL version are you using? and what sql mode do you have enabled?

Did composer install nothing?

[2017-08-11 06:16] WellingGuzman commented on #1726
Also @riartem, I reproduced this issue and I've been working on it. we have an alias that map "customs/interfaces" to "interfaces" which don't place nice on subdirectories. I'm hopping to get this done soon. Thanks for the report!

[2017-08-11 06:49] WellingGuzman commented on #1727
Hello @dieguezz,

This is a both API and Docs issue related, you must provide the `name` and the `type` (mime type) of the upload.

for example `name=image.jpg` and `type=image/jpeg` (mime type).

The upload should work with those two required information. I will make sure this is clear in the documentation.

Thanks for reporting this.

[2017-08-11 06:51] WellingGuzman commented on #1727
Closed by https://github.com/directus/directus/commit/6cfabd4c0810163df8b8da022222089347d7c1f2

[2017-08-11 06:51] #1727 closed

[2017-08-11 11:39] vkrementzoff commented on #1726
@WellingGuzman
Hello Welling. Thank you for replying so quickly, as usual :)

I use 10.1.25-MariaDB. Works fine with Directus 6.3.8. Composer seems to have installed everything from the beginning.

What do you mean by sql mode ?

[2017-08-11 13:06] textoo opened #1734 "WYSIWYG Full not saving changes"
## Version Info
  - Directus version and branch: 6.4.1 master
  - PHP version: 7.1.7
  - MySQL version: percona 5.7.18
  - Web server: Apache
  - OS name and version:  Debian Jessie (x86_64)

## Expected Behavior

In Chrome 60.0.3112.90

Hitting save in an entry form with a WYSIWYG Full textarea with new content in it  should save new content in database

## Actual Behavior

In Chrome 60.0.3112.90

[2017-08-11 13:19] benhaynes opened #1735 "Unmanaged Tables Should Not be Present"
A table that is *not* managed by Directus should not appear anywhere within Directus and should not be accessible by the API/SDK.

A table that is not managed:
![screen shot 2017-08-11 at 9 16 59 am](https://user-images.githubusercontent.com/522079/29214616-0b19388e-7e76-11e7-9e83-644679151d40.png)

Should not be in permissions options:
![screen shot 2017-08-11 at 9 17 16 am](https://user-images.g

[2017-08-11 13:28] benhaynes commented on #1728
Weird – I had cleared my cache many times, but now it's gone. Must have been _sneaky_ cache!

[2017-08-11 13:28] #1728 closed

[2017-08-11 13:30] benhaynes commented on #1731
Is it possible to not include the sidebar HTML for new items? Or to find a way to avoid the flicker?

Flicker: When you load the page you see the sidebar on the right for a moment as it slides off the page. This is distracting and makes it seem like there's something over there you should be able to use/see.

[2017-08-11 13:35] benhaynes commented on #1732
Almost! Right now it increments from the max value in the whole `directus_columns` table... but it should _only_ find the max from THIS table.

Example:
**Projects**
id = `0`
title = `1`
image = `2`
date = `3`

**Articles**
id = `0`
title = `9999`
url = `9999`

If I add a new column to Projects then it gets the sort order: `10000`, but it _should_ be `4`

[2017-08-11 13:57] rijkvanzanten commented on #1734
Hi @textoo, thanks for the report. I have just installed a fresh copy of Directus from the master branch and can't seem to reproduce this issue (also on Chrome 60)...

Does this issue also happen on other interfaces or just `wysiwyg_full`? Lets try to specify the issue some more :)

[2017-08-11 14:00] rijkvanzanten commented on #1728
Gotta love those sneaky caches

![sneaky](https://media.giphy.com/media/V1NxC1YoNEHBe/giphy.gif)

[2017-08-11 14:23] WellingGuzman commented on #1732
That's because the table last column already have `9999`, that values will reset after you reset by sorting the columns.

Or Am I missing the problem?

[2017-08-11 14:33] benhaynes commented on #1732
Hmm – I guess it will always "work" hahah. No one looks at the sort values so I guess this is fine.

[2017-08-11 14:33] #1732 closed

[2017-08-11 14:41] WellingGuzman commented on #1732
I set the new columns value set to `0, 1, 2` (https://github.com/directus/directus/commit/8f549e4c563b457fae17e2fc858646f27635ab70)

[2017-08-11 17:09] WellingGuzman commented on #1734
The issue was happening when you edit an existing record, no on new records.

Closed by https://github.com/directus/directus/commit/32f14a4809e200be044e75ccb4ca06e97715a6b4

[2017-08-11 17:09] #1734 closed

[2017-08-11 17:38] WellingGuzman commented on #1733
Primary column information was set to the fixed schema objects.

Closed by https://github.com/directus/directus/commit/bd41318182f33977a2980d866f6aa878cc9da22a

[2017-08-11 17:38] #1733 closed

[2017-08-11 18:54] WellingGuzman commented on #1726
@vkrementzoff the mode your database is running on.

One way you can get the sql mode is by running the query below:

[code]

Or you can check your database config file. Probably it can be found in `/etc/mysql/my.cnf`.

[2017-08-11 18:54] vkrementzoff commented on #1726
@WellingGuzman

I found the problem : for some reasons, ownership of mysql (mariaDb) files was broken, so mariaDb couldn't write in its own files. Now it works.

Have a nice day!

[2017-08-11 19:00] WellingGuzman commented on #1726
Hey @vkrementzoff, can you please explain this a bit more so someone else having this issue could know how to fix it?

[2017-08-11 19:13] vkrementzoff commented on #1726
Sure @WellingGuzman ;

MariaDb or MySQL (they work the same way) is made of files containing data (the actual database) ; usually it's located in the /var/lib/mysql directory, sometimes (like in our case) it can be located elsewhere .

To find where it's located, you can have a look at the /etc/mysql/my.cnf file, the _datadir_ variable.

For some reason, the owner of the /var/lib/mysql directory w

[2017-08-12 01:07] WellingGuzman commented on #1735
Admin can see any table from the API, but on permissions, table not managed can't be listed on the permission table.

Closed by https://github.com/directus/directus/commit/0ba22ba67d69a7eb990714a3194c406401acff5f

[2017-08-12 01:07] #1735 closed

[2017-08-12 01:54] #1726 closed

[2017-08-12 02:21] WellingGuzman commented on #1726
Hey @riartem, the missing interface component was fixed by https://github.com/directus/directus/commit/b9aabbf807fdc547070ae6ada3efc5bb21831e7b

I've rebuilt the build zip/tar. Please confirm if this has been fixed or not.

[2017-08-12 04:32] selfagency opened #1736 "schema import errors"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests please use the [Directus FeatHub](http://feathub.com/directus/directus) to make a new request or vote for existing ones, or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be

[2017-08-12 04:58] selfagency commented on #1736
I'm not sure whether or not it's related, but I just tried doing the install with the installer, and after it successfully completed, I was unable to login and got "Server error occurred" messages instead.

[2017-08-12 05:02] WellingGuzman commented on #1736
Hey @selfagency, thanks for the report.

Can you check and share the Directus logs in `api/logs`?

[2017-08-12 05:03] selfagency commented on #1736
this is all that's there other than the coverage folder

[code]

[2017-08-12 05:09] WellingGuzman commented on #1736
Can you please check on dev tools, what that request (throwing server error) has a response data? can you share some screenshots of those requests output.

[2017-08-12 05:10] selfagency commented on #1736
``
jquery-1.11.0.js:9666 POST http://jsteamworks.dev/directus/api/1.1/auth/login 404 (Not Found)
send @ jquery-1.11.0.js:9666
ajax @ jquery-1.11.0.js:9211
(anonymous) @ login.php:168
dispatch @ jquery-1.11.0.js:4624
r.handle @ jquery-1.11.0.js:4292
[code]

[2017-08-12 05:12] WellingGuzman commented on #1736
How your NGINX configuration looks like? it seems the url rewriting is not working.

If you do `GET http://jsteamworks.dev/directus/api/1.1/ping` do you get `pong`?

[2017-08-12 05:16] selfagency commented on #1736
no, i get a 404.

`try_files $uri $uri/ /index.php?$args;`

[2017-08-12 05:26] WellingGuzman commented on #1736
@selfagency if you are using nginx you have to update your configuration to match these locations block like this: https://github.com/directus/directus-vagrant/blob/master/config/nginx/default

[2017-08-12 05:56] WellingGuzman commented on #1736
This issue was closed by https://github.com/directus/directus/commit/fabd5479836c0b06a0ef20f5916b92e5a06e8987

You can go over our slack or I will leave this thread unlocked so we can still discussing how to set the nginx configuration to make Directus API works.

[2017-08-12 05:56] #1736 closed

[2017-08-12 14:32] selfagency commented on #1736
this segment is preventing nginx from starting:

[code]

*error:*

[code]

[2017-08-12 14:33] selfagency commented on #1736
ah it's missing a semicolon on the second to last line

[2017-08-12 14:51] WellingGuzman commented on #1736
Hey @selfagency,

That last location needs to be removed, because MAMP automatically generated one.

Here a screenshot of my MAMP NGINX configuration (below):

<img width="542" alt="screen shot 2017-08-12 at 10 47 04 am" src="https://user-images.githubusercontent.com/1531291/29241636-a0e13b84-7f4b-11e7-8174-32cb266f997e.png">

On "Additional parameters for <server> directives*:" I have this:

[cod

[2017-08-12 14:58] selfagency commented on #1736
still getting the 404 with that exact configuration

[2017-08-12 16:09] selfagency commented on #1736
here's my full nginx.conf for reference

[code]

[2017-08-12 19:40] WellingGuzman commented on #1115
We have removed all references of `active` and `icon_class` from `directus_bookmarks` table.

We didn't force deletion of these columns, only new install will install without it.

[2017-08-12 19:47] WellingGuzman commented on #1115
This will be a new feature.

Closed by https://github.com/directus/directus/commit/63be46defebe95a2f51be426be9f0cd15521561c

Feathub http://feathub.com/directus/directus/+117

[2017-08-12 19:47] #1115 closed

[2017-08-13 05:18] WellingGuzman commented on #1731
Right pane flickering stopped by https://github.com/directus/directus/commit/dbc1d8c42b6a561cbf3c6c46396586e2d975eda4

[2017-08-13 05:18] #1731 closed

[2017-08-13 16:44] hybridvision commented on #1717
@trk - I was trying to get this to work too and in the end I found it simpler to add a custom Nginx configuration file to Valet. You can do so by adding the .conf file to your `~/.valet/Nginx/` directory (in the Valet setup, Nginx will load all configuration files from this directory).

In my case, I called it `~/.valet/Nginx/directus.conf`. Here's a sample with a few notes if it helps:

[code]

Y

[2017-08-13 16:47] hybridvision commented on #1379
For anyone finding this, I was able to get Directus 6.4.1 working with Laravel Valet by adding a custom Nginx configuration (it was easier than trying to make a driver). More details here: https://github.com/directus/directus/issues/1717#issuecomment-322052712

[2017-08-13 17:25] WellingGuzman commented on #1717
Thanks @hybridvision! if someone else can confirm this also work for them would be awesome!

[2017-08-14 02:44] selfagency commented on #1736
figured it out. i needed to make the directus folder my document root for the virtual host.

[2017-08-14 13:24] trk commented on #1717
Not working on my side, only i can see login screen like before and when i try to login getting **Server error occured** error.

I am using macOS Sierra + PHP 7.1.8 with Valet

[2017-08-14 14:10] hybridvision commented on #1717
That's what I was getting before I made the custom Nginx configuration. The problem is with the URL rewriting and redirects. Did you make sure you followed all the steps and restarted Valet? Maybe it isn't using your new configuration because of an error.

You can make sure your Nginx configuration is ok by running: `sudo nginx -t`

Another thing to try: run the Directus installer again and see if

[2017-08-14 14:58] rtm516 opened #1737 "Many to One: Selection/Placeholder"
## Version Info
  - Directus version and branch: master (fabd5479836c0b06a0ef20f5916b92e5a06e8987)
  - PHP version: 5.6.14
  - MySQL version: 5.6.21
  - Web server: (Ex. Apache, nginx or IIS?) Apache 2.4.17
  - OS name and version: Windows Server 2012 R2

## Expected Behavior
The form adds the item with no errors.

## Actual Behavior
The form thinks you haven't selected a value for the dropdown ev

[2017-08-14 16:11] WellingGuzman commented on #1736
Hey @selfagency, glad you figure it out!

Let us know how it goes from here, feedback are always welcome!

[2017-08-14 16:12] WellingGuzman commented on #1717
@trk what's on your `api/logs` directory? any error being logged?

[2017-08-14 20:15] benhaynes commented on #1698
Hey @walkwizus – I'm sorry about the late response!

We would LOVE to discuss on Slack. A schema ( you can PM it to @WellingGuzman on Slack) would be super helpful in replicating and debugging the issue. Thanks again for the help with this!

[2017-08-15 10:46] hybridvision commented on #1683
@WellingGuzman: Thanks for the fix but I don't think it is fully working - after upgrading I can bookmark some settings pages but if I try to bookmark `/settings` with the name of `Admin` for example, the link doesn't work - it takes me to a table view.

Strangely, if I bookmark `settings/permissions`, it works but if I bookmark `settings/tables`, it doesn't work.

I've also noticed that the `acti

[2017-08-15 11:10] trk commented on #1717
Tried again, result is same on my side (not working).
**Steps**
<img width="1918" alt="ekran resmi 2017-08-15 14 07 16" src="https://user-images.githubusercontent.com/455983/29313552-53c9e128-81c3-11e7-820f-0e6f061bb8a4.png">
**Logs**
<img width="751" alt="ekran resmi 2017-08-15 14 08 32" src="https://user-images.githubusercontent.com/455983/29313553-53ef613c-81c3-11e7-970a-75b651d876f7.png">

I w

[2017-08-15 11:40] hybridvision commented on #1717
@trk: I think I see the problem: line 30 of your `directus.conf` file needs to be edited to have the correct path of your `valet.sock` file. In the example I gave I put `<username>` and I meant for you to replace that with your own username.

Try updating that and restarting Valet and then hopefully it will work.

You can test if the API rewrites are working by going to http://directus/api/1.1/pin

[2017-08-15 11:48] hybridvision commented on #1683
I did some more testing and it seems that when I have a space in the bookmark name, it doesn't work correctly: eg. `Tables Admin` for `settings/tables` fails but `Tables_Admin`as the name makes the link work.

For the `active` class being applied incorrectly, it seems to be when you have multiple bookmark references under the same path - eg. `settings/tables`and `settings/permissions`.

[2017-08-15 11:51] trk commented on #1717
Thanks @hybridvision Its worked, after fix **valet.sock** path.

Did you try to write a valet driver for directus ?

[2017-08-15 15:05] hybridvision commented on #1717
Great, I'm glad it worked :)

I did try writing a driver for Valet but trying to translate the Nginx rewrites was making my head hurt so I opted for this approach instead. It would be cleaner to have a driver but for my purposes, this is a reasonable compromise.

[2017-08-15 15:19] ngirardhg opened #1740 "Problem while trying to refresh any page"
## Version Info
  - Directus version and branch: 6.4.1 (Ruby rabbit)
  - PHP version: 5.6.30
  - MySQL version: 5.0.11
  - Web server: Apache (XAMPP)
  - OS name and version: Windows 7 pro service pack 1

## Expected Behavior
Refreshing any pages should refresh the page and display it again
(exemple, refreshing : http://localhost:8888/_clients/cch/directus/ecole-de-pilotage/tables)

## Actual Beha

[2017-08-15 15:33] benhaynes commented on #1740
Hey @ngirardhg – I know you mentioned that the install went smoothly, but our devs seem to think this is a mod_rewrite issue. Could you confirm that this is working?

[2017-08-15 15:43] ngirardhg commented on #1740
I just uploaded a new screenshot showing my phpinfo(). I can see mod_rewrite as a loaded module so it seems to be activated.

[2017-08-15 15:54] WellingGuzman commented on #1740
Hey @ngirardhg if you go to `http://localhost:8888/_clients/cch/directus/ecole-de-pilotage/tables` directly doesn't work, or is it only on refresh?

Also can you please share your apache virtual host?

[2017-08-15 16:38] hybridvision commented on #1708
I'm not sure if this is directly related but when I re-order the fields and then go to edit or add a record in that table, the old field order is used until I do a full refresh.

I have also seen some odd behaviour while testing where it looks like data I enter into the admin settings for field interface options (eg. placeholder text and options JSON) is not recorded. It appears to save normally b

[2017-08-15 17:15] hybridvision opened #1741 "Value of text input is set to "NULL" when no data present"
## Version Info
  - Directus version and branch: 095dcee9efb61ca4674b805474b48bdcc0c9ab58 (latest develop)
  - PHP version: 7.0.13
  - MySQL version: MariaDB 10.2.7
  - Web server: Nginx
  - OS name and version: OS X 10.9.5

## Expected Behavior
When managing a simple VARCHAR field that has a default value of NULL, the text field should be empty when it has no value (or show the placeholder if set

[2017-08-15 17:15] ngirardhg commented on #1740
It's not only on refresh, if I go directly to [http://localhost:8888/_clients/cch/directus/ecole-de-pilotage/tables](url) I still get a 404. The only way I can access the app normaly is by going to [http://localhost:8888/_clients/cch/directus/ecole-de-pilotage/](url)

As for the virtual host, I haven't changed the default value. The (httpd-vhosts.conf) file of apache is commented, which is the def

[2017-08-15 17:19] ngirardhg commented on #1740
Here is my detailed configuration :

λ httpd.exe -S

VirtualHost configuration:
*:443                  www.example.com (C:/xampp/apache/conf/extra/httpd-ssl.conf:121)
ServerRoot: "C:/xampp/apache"
Main DocumentRoot: "C:/xampp/htdocs"
Main ErrorLog: "C:/xampp/apache/logs/error.log"
Mutex ssl-stapling-refresh: using_defaults
Mutex rewrite-map: using_defaults
Mutex ssl-stapling: using_defaults
Mutex

[2017-08-15 17:39] ngirardhg opened #1742 "Table with a wysiwyg full gives error message"
## Version Info
  - Directus version and branch: 6.4.1 (Ruby rabbit)
  - PHP version: 5.6.30
  - MySQL version: 5.0.11
  - Web server: Apache (XAMPP)
  - OS name and version: Windows 7 pro service pack 1

## Expected Behavior
Adding a wysiwyng full to a table and trying to display the page of the table should display the page and the wysiwyg full

## Actual Behavior
Displaying the page with a wysi

[2017-08-15 17:44] WellingGuzman commented on #1740
I would like to see how you set up the virtualhost that point to `localhost:8888`

[2017-08-15 17:57] ngirardhg commented on #1740
Here is the only line of setup I have changed to point to localhost:8888, which is located in httpd.conf file.
![httpdconfserverhost](https://user-images.githubusercontent.com/31041083/29328624-2f4a10b8-81c1-11e7-87fb-d49af17839d7.png)

Here is the httpd-vhosts.conf file that would be set up if I made any changes in the vhosts settings.
![virtualhosts](https://user-images.githubusercontent.com/310

[2017-08-15 18:35] rijkvanzanten commented on #1742
@WellingGuzman Could you verify if the TinyMCE is correctly bundled in the minified app bundle?

[2017-08-15 19:35] WellingGuzman commented on #1741
Hey @hybridvision did you type the word `NULL` into the default? or was this a column created in the database directly?

I can't reproduce this issue

[2017-08-15 21:59] benhaynes commented on #1741
Just to clarify:

Leave default value untouched: `NULL` (true NULL)
Change the default and then type "NULL" results in the string "NULL"

We can do one of two things:

1. Make "NULL" always equal `NULL`... even if typed by the user. The only problem here is that "NULL" (string) can never be the default.
2. Add a checkbox beside the Default label to explicitly set it to `NULL`

Any thoughts?

[2017-08-15 22:03] WellingGuzman commented on #1683
Hey @hybridvision can you share your schema? it works for me with or without space.

What I am working on is the active part, which always enabled the first one if they start with the same path.

[2017-08-15 22:56] hybridvision commented on #1741
Hi @WellingGuzman - no, I never typed the word `NULL`anywhere. I just went to the table, clicked "Add New Column" and then filled out the field name and hit save like so:

![image](https://user-images.githubusercontent.com/11492432/29339705-b418ffe8-821b-11e7-856b-deee59d31c6f.png)

You will notice in this screenshot above that the default value field is actually empty and there is just the placeh

[2017-08-15 23:07] WellingGuzman commented on #1741
Hey @hybridvision out of curiosity what browser are you using? maybe doesn't play nice with placeholder attribute.

[2017-08-16 00:02] Sirjoseph94 opened #1743 "Error using Directus in live server but works smoothly on local server"
## Version Info
  - Directus version and branch:  6.4.1 (Ruby rabbit)
  - PHP version: 7.1
  - MySQL version: 10.1.24-MariaDB-cll-lve
  - Web server:  Apache, 2.2.31
  - OS name and version: linux

## Expected Behavior
After login in, I should be able to create new tables and records as well as modify settings

## Actual Behavior
Nothing works. almost any action i try to carry out is followed by a

[2017-08-16 00:04] benhaynes commented on #1743
Hey @Sirjoseph94 – this is definitely just a configuration issue. How did you install? The `build` branch?

[2017-08-16 00:06] Sirjoseph94 commented on #1743
i downloaded it from the release

[2017-08-16 01:45] benhaynes commented on #1743
Are you using a caching service, such as CloudFlare? This would minify the templates, thereby breaking them.

[2017-08-16 01:57] benhaynes commented on #1743
I'm not sure what the specific issue/difference is with your setup, but if you disable the caching it should work.

If you're using CloudFlare try this:

[2017-08-16 07:46] hybridvision commented on #1741
Hi @WellingGuzman, I'm using Chrome 59.0.3071.115 so I don't think there's any problem with the placeholder. When I inspect the element, the value is being set to "NULL":

![image](https://user-images.githubusercontent.com/11492432/29352609-b02b06c8-8267-11e7-9998-680c819646dc.png)

[2017-08-16 08:03] Sirjoseph94 commented on #1743
I have created the pagerule but still get same errors
`Error
Error: Uncaught Error: Parse error on line 1:
...l">{{/if}}
-----------------------^
Expecting 'OPEN_ENDBLOCK', got 'EOF'
File: https://www.glimng.org/admin/app/directus.min.js?bust=hgqqronnfcl68qv312ouv8su26
Line:1`

[2017-08-16 08:04] Sirjoseph94 commented on #1743
I even turned off rocket loader

[2017-08-16 15:31] benhaynes commented on #1743
We'll keep this open for a bit (for exposure) but unless we can duplicate it we'll close it. Since it's (most likely) not a Directus issue, I would recommend submitting something on StackOverflow for config/server help:

https://stackoverflow.com/search?q=directus

[2017-08-17 00:07] WellingGuzman commented on #1743
@Sirjoseph94 do you have anything that could be removing spaces from the `.html` files? maybe we should remove the `.html` extension and use `.hbs` instead so we avoid this issue in the future, as most service/extension/etc just look for `.html`.

What do you all think about this?

[2017-08-17 04:08] Sirjoseph94 commented on #1743
![screencapture-server189-web-hosting-2083-cpsess9300672089-frontend-paper_lantern-home-status-html-1502942773546](https://user-images.githubusercontent.com/21038634/29395602-db77e97a-8309-11e7-936b-47772cb3a687.png)

My cloudflare auto minifies html. but i have removed it from the directus folder

[2017-08-17 04:11] Sirjoseph94 commented on #1743
i also noticed when ever i first attempt to login, it first shows `server error` then it login successfully when i try it again

[2017-08-17 05:08] Sirjoseph94 commented on #1743
i changed my browser and its working. i think it was a cache issue(though i cleared my cache on google chrome.

but now am getting 500 error code when i try to access the main code

<?php
define("BASE_URL", "/");
define("ROOT_PATH", $_SERVER{"DOCUMENT_ROOT"}. "/");

include __DIR__ . '/../vendor/autoload.php';

$client = \Directus\SDK\ClientFactory::create('pjcfACZwOf38e5PDuz3bepdkIrFjE2y9', [

[2017-08-17 06:35] WellingGuzman commented on #1743
Hey @Sirjoseph94, what's your current issue? getting 500 internal issue every time you access the site?

Is there any errors log (api/logs):

[2017-08-17 13:08] prudolph81 opened #1744 "TinyMCE and other JS not working after upgrade from v6.3.9 to v6.4.1"
## Version Info
  - Directus version and branch: v6.4.1
  - PHP version: 5.6
  - MySQL version: 5.6
  - Web server: Apache
  - OS name and version:  Linux

## Error Description
After upgrade to v6.4.1 TinyMce (an other JS) is not working anymore. Tries to load e.g. example.org/app/themes/modern/theme.min.js instead of example.org/assets/js/themes/modern/theme.min.js (where the file is located)

[2017-08-17 13:42] Sirjoseph94 commented on #1743
yes i keep getting 500 internal Server Error each time i access the site

[2017-08-17 13:52] aaronaustin opened #1745 "Directus CLI error when upgrading"
## Version Info
  - Directus version and branch: 4886be3
  - PHP version: 7.0.15
  - MySQL version: 5.6.35
  - Web server: Apache
  - OS name and version: OSX 10.12.5

I'm trying to upgrade the db after downloading the newest build.  I checked the api/config.php file and the db is configured,  but I'm getting this error:

`Warning: mysqli::mysqli(): (HY000/2002): No such file or directory in /Appl

[2017-08-17 13:56] hybridvision commented on #1741
An update on this: I tried on a different system with a similar setup but newer OS (MacOS 10.12.6) and with a fresh Directus install, this behaviour is not there.

I then went back to the original system and did a fresh Git clone, composer install, created a blank database and installed Directus again. On this system (OS X 10.9.5), the "NULL" behaviour reported in this ticket remains... I even tri

[2017-08-17 14:09] hybridvision commented on #1683
Hi @WellingGuzman, sorry I missing your message earlier. My schema is the default from a fresh install of Directus into an empty database. I don't have access to that computer at the moment but I can try to share it when I get back.

I'm wondering if it is somehow related to OS/DB server version because I don't see these bookmark problems here on a newer OS (but older DB server version). It's simi

[2017-08-17 14:14] Sirjoseph94 commented on #1743
Thanks for the hint. I checked the error log and i have been able resolve it. Everything is working now. Thanks for the surport

[2017-08-17 14:26] WellingGuzman commented on #1744
Thanks @prudolph81, I will close this as this issue is duplicated.

Follow up here: https://github.com/directus/directus/issues/1742

[2017-08-17 14:26] #1744 closed

[2017-08-17 14:32] WellingGuzman commented on #1741
hey @hybridvision The database can potentially influence this as we get default, using MariaDB 10.1.16 throws the "NULL" string issue?

[2017-08-17 14:33] WellingGuzman commented on #1743
@Sirjoseph94 What was the issue? does that close the ticket?

[2017-08-17 14:34] WellingGuzman commented on #1745
Hey @aaronaustin thanks for reporting this, do you have `mysqli` installed?

[2017-08-17 14:53] aaronaustin commented on #1745
Yep.  Here's my phpinfo from the mysqli section:

<img width="643" alt="screen shot 2017-08-17 at 10 52 32 am" src="https://user-images.githubusercontent.com/9779077/29418457-5337123a-833a-11e7-8112-997361b31025.png">

[2017-08-17 15:04] #1743 closed

[2017-08-17 15:25] hybridvision commented on #1741
Ah I see - no, it's MariaDB 10.2.7 that has the problem so it seems to be a change that was introduced in the newer 10.2 version. More info here if you're interested: https://mariadb.com/kb/en/mariadb/what-is-mariadb-102/

I've never had issues with MairaDB for development on other projects but I guess officially it's not supported by Directus?

[2017-08-17 15:40] WellingGuzman commented on #1741
We never tested it on MariaDB but we assume it could have some minor issues, and we probably finally found one. we directly support Percona and MySQL which are the one we actively use.

I will install MariaDB and test. (Thanks for the 10.2 changelog)

[2017-08-17 16:37] Sirjoseph94 commented on #1743
After checking the error log, I discovered the vendor folder was not properly uploaded. After uploading it again the autoload.php was able to run successfully.

Yes it can be closed now. Thanks

[2017-08-17 17:15] WellingGuzman commented on #1745
Thanks for the information. so you are actually able to log in, but can't upgrade?

[2017-08-17 17:41] ngirardhg opened #1746 "Display problems with table containing a translation"
## Version Info
  - Directus version and branch: 6.4.1 (Ruby rabbit)
  - PHP version: 5.6.30
  - MySQL version: 5.0.11
  - Web server: Apache (XAMPP)
  - OS name and version: Windows 7 pro service pack 1

## Expected Behavior
A table contains a translation. The translation table contains a field which has a many-to-many relationship. If I go into the table containing the translation (the uppermost

[2017-08-17 18:04] aaronaustin commented on #1745
Yes.  I can login, though there is usually an error on the first attempt now.  But after that things work mostly fine.  When I attempt to upgrade the db via the cli, that's when I get the error.  I'm wondering if the few errors I'm getting in the cms are due to not upgrading the db or other changes that are making my custom interfaces fail.

[2017-08-17 18:44] WellingGuzman commented on #1745
wait. I think what could it be, what's the configuration of your php cli? version and see if it has `mysqli` installed.

Also about the first attempt error, probably is because you have an old database schema. do the `directus_users` table has a column named `active` instead of `status`?

[2017-08-17 19:35] aaronaustin commented on #1745
When I check the PHP version in the terminal it's 5.6.30, so I must be using the local version rather than the MAMP version.  I didn't even think about that.  I checked the modules loaded in the terminal and it says mysqli is loaded.  In the users table, there's an active column.

[2017-08-17 19:44] WellingGuzman commented on #1745
so using the `mamp` php cli does work? Actually the error seems to the connection not missing the `mysqli`, sorry for the confusion, what's your php cli version?

That's the issue with the first time login error, as soon as you can run the directus cli (load mysql)

[2017-08-17 19:48] aaronaustin commented on #1745
I added the path for MAMP's PHP and things are working now.  Everything updated just fine. Login went smooth and it looks like the other errors are gone too. Sorry to bother you with this issue. Thanks so much for your help!

[2017-08-17 19:50] WellingGuzman commented on #1745
All good @aaronaustin, we appreciate these type of reports (issues) because we get to know how directus behave with different environments.

Thanks, anything else please let us know!

[2017-08-17 19:50] #1745 closed

[2017-08-17 20:48] hybridvision commented on #1741
Thanks @WellingGuzman! If you have time to do some tests with MariaDB, that would be great because it does seem a bit buggy with Directus. Maybe I'll have to use MySQL in the end...

By the way, I don't know which system you use but if you're on a Mac, it's easy to use Homebrew to install MariaDB - the current is 10.2 but you can install 10.1 by specifying `mariadb@10.1`.

[2017-08-17 21:20] miked63017 opened #1747 "Bookmarks API issue"
## Version Info
  - directus.io
  - reference docs https://directus.io/api/overview/endpoints

## Expected Behavior
  - Querying ```/bookmarks``` should show your bookmarks
  - Querying ```/bookmarks/1``` should return user 1's bookmarks as per docs

## Actual Behavior
  - Best guess is that querying ```/bookmarks``` should only return the current user's bookmarks, either way it returns null
  - q

[2017-08-18 15:52] ngirardhg opened #1748 "Can't create a new user"
## Version Info
  - Directus version and branch: 6.4.1 (Ruby rabbit)
  - PHP version: 5.6.30
  - MySQL version: 5.0.11
  - Web server: Apache (XAMPP)
  - OS name and version: Windows 7 pro service pack 1

## Expected Behavior
Trying to create a new user should create a new user

## Actual Behavior
Try to create a new user gives an error which says : "Group : this field is required". This error com

[2017-08-18 17:23] rijkvanzanten commented on #1748
Hi @ngirardhg. Thanks for the info!

We believe this is related to https://github.com/directus/directus/issues/1737 which will hopefully be fixed in https://github.com/directus/directus/pull/1738. We'll keep you up to date on the progress here!

[2017-08-18 18:14] WellingGuzman commented on #1747
Hey @miked63017,

I've updated the docs for the confusion about `bookmarks/<id>` the `id` is the bookmarks `id`, if that bookmarks belong to the authenticated user it will be displayed. (Ref https://github.com/directus/api-docs/commit/cfeefeb0eeefb857831558441877f7d286d63ebb)

The bookmarks endpoint (`/bookmarks`) was fixed and it returns all the bookmarks for the current authenticated user. (Ref

[2017-08-18 18:14] #1747 closed

[2017-08-18 19:19] WellingGuzman commented on #1746
Hey @ngirardhg, sorry for the delay, can you provide the schema so it's easier for us to reproduce the issue and fix it? Thanks!

Also are you using 6.4.1 from the release version or a branch?

[2017-08-18 20:05] ngirardhg commented on #1746
@WellingGuzman Here is the schema for the database.
[schema.zip](https://github.com/directus/directus/files/1235532/schema.zip)

I am using 6.4.1 from the release versions.

[2017-08-18 20:23] ngirardhg opened #1749 "Can not delete a column of type many-to-many"
## Version Info
  - Directus version and branch: 6.4.1 (Ruby rabbit)
  - PHP version: 5.6.30
  - MySQL version: 5.0.11
  - Web server: Apache (XAMPP)
  - OS name and version: Windows 7 pro service pack 1

## Expected Behavior
Trying to delete a column of type many-to-many should delete the column

## Actual Behavior
Trying to delete a column of type many-to-many does not delete the column. Instead

[2017-08-18 21:26] WellingGuzman commented on #1749
Thanks @ngirardhg, I'm working on it

[2017-08-18 21:26] WellingGuzman commented on #1746
Thanks for the schema this would be really helpful!

[2017-08-19 01:35] WellingGuzman commented on #1749
Closed by https://github.com/directus/directus/commit/7001c121f811c147aecefd3ccb15330a34322353

This will be included in Directus next version (6.4.2)

[2017-08-19 01:35] #1749 closed

[2017-08-19 04:32] WellingGuzman commented on #1748
Hey @ngirardhg, I've made a fix for this specific issue while other issue related to this one will be resolved by #1738.

Closed by https://github.com/directus/directus/commit/d6e22883c1ad61ff04c125b0d06d75d224327592

[2017-08-19 04:32] #1748 closed

[2017-08-19 06:08] WellingGuzman commented on #1746
Closed by https://github.com/directus/directus/commit/1338670bfde673a0bc5a4a0d0c3497a84dd28d2f

This will be included in the next Directus version 6.4.2

@ngirardhg you can always cherry pick this commit

[2017-08-19 06:08] #1746 closed

[2017-08-19 06:23] WellingGuzman commented on #1740
Hey @ngirardhg, sorry for the delay, does this still happening to you?

[2017-08-19 06:25] WellingGuzman commented on #1698
Hey @walkwizus, let me know when you have time to test this with me, I'm almost all day on slack. or you can send us a schema that we can use to test this.

[2017-08-19 07:48] WellingGuzman commented on #1725
I see MariaDB in the error, maybe is only related to MariaDB, I will be installing MariaDB tomorrow and see if I can reproduce this issue.

That kind of information need to be specified so we know what environment you are on.

I will give you an update as soon as I get this running!

[2017-08-19 11:26] michlschmitt commented on #1742
Same issue here.

`Error
Error: TypeError: t is not a constructor
File: http://localhost:8888.com/assets/js/directus.min.js?bust=2c40adb22af1449ffe6acc6150422a71
Line:38`

[2017-08-19 14:15] benhaynes opened #1750 "Error creating M2O"
Creating a new M2O column/interface (in this case called `assign_to`) to the `directus_users` table (related with `directus_users.id`).  When clicking save you get the following error:

[code]

It does not open up the interface options (it looks like it tries to though).

[2017-08-19 14:18] benhaynes commented on #1750
When I manually try to save the M2O options, I get this:

[code]

[2017-08-19 14:37] benhaynes commented on #1750
OK, it seems to create columns with the newest changes pulled – but saving options shows "incomplete" icon even when complete:

![screen shot 2017-08-19 at 10 34 19 am](https://user-images.githubusercontent.com/522079/29487617-538eef1e-84ca-11e7-909a-00a332ce0a39.png)

But it is gone when you refresh the page (until you edit again)

[2017-08-19 18:56] WellingGuzman commented on #1750
Closed by https://github.com/directus/directus/commit/536fc997368d81f9e6472f22fea642a72b4e1b18

[2017-08-19 18:56] #1750 closed

[2017-08-20 22:10] WellingGuzman commented on #1741
Hey @hybridvision I have fixed this issue, please confirm.

Closed byhttps://github.com/directus/directus/commit/98cfd46edc0a40342cff5a47ee2a2734e1eec029

[2017-08-20 22:10] #1741 closed

[2017-08-20 22:22] WellingGuzman commented on #1725
Due to lack of information and inactivity this ticket will be closed until a steps to reproduce this is provided.

[2017-08-20 22:22] #1725 closed

[2017-08-20 23:20] WellingGuzman commented on #1740
You are missing the `.htaccess` file on the root directus directory, that's why you are getting 404 when you go to `http://localhost:8888/_clients/cch/directus/ecole-de-pilotage/tables` and not when you go to `http://localhost:8888/_clients/cch/directus/ecole-de-pilotage`

Please make sure the `.htaccess` (hidden files) exists.

[2017-08-20 23:20] #1740 closed

[2017-08-20 23:39] benhaynes commented on #1740
We should add this to our "Installation FAQs"!

[2017-08-20 23:40] benhaynes commented on #1725
@WellingGuzman – Were you able to test on Maria?

[2017-08-21 03:53] WellingGuzman commented on #1725
Yes, I did test it on MariaDB 10.1 10.2 (Ubuntu 14.04 LEMP), I don't know which http server or OS @NextrekNet was using.

[2017-08-21 06:42] peremp commented on #1708
Hello!

I was on vacation :)! I'll test this as soon as possible @benhaynes @WellingGuzman

[2017-08-21 12:12] ngirardhg commented on #1746
@WellingGuzman Good job, Thanks !

[2017-08-21 12:31] ngirardhg commented on #1740
@WellingGuzman @benhaynes Thanks for your support, problem solved !

[2017-08-21 15:02] peremp opened #1752 "Server error when editing an item from a M2M overlay"
## Version Info
  - Directus version and branch: Devel latest.

## Steps to Reproduce
 1. Edit an item that has a M2M column.
 2. Click on a related item to edit it.
 3. Edit the item (overlay).
 4. Save (overlay)
 5. Save (main item)

## Expected Behavior
Item is saved. You are redirected to the /table/xxxx list view.

## Actual Behavior
Item is saved. You are not redirected, and the following er

[2017-08-21 15:06] peremp commented on #1708
[code]

[2017-08-21 15:15] peremp commented on #1710
Hey, just tested it on develop latest (98cfd46), and still happening to me.
Sorry for the delay, I was on vacation.

[2017-08-21 16:22] hybridvision commented on #1741
Thanks @WellingGuzman - it works perfectly now! :)

[2017-08-21 16:47] WellingGuzman commented on #1737
Hey @rtm516, this has been fixed in the latest commit from `develop` branch.

Closed by https://github.com/directus/directus/commit/2748f5b825be9bb008a1fe4d012329868d19145f

[2017-08-21 16:47] #1737 closed

[2017-08-21 17:34] WellingGuzman commented on #1752
Hey @peremp,

How does your related (m2m) table looks like? does it have relational column? can you share an schema that help us reproduce this issue?

[2017-08-21 19:40] aaronaustin opened #1753 "Custom interfaces not found on page refresh"
## Version Info
  - Directus version and branch: 4886be3
  - PHP version: 7.0.22-0ubuntu0.16.04.1
  - MySQL version: 5.7.19-0ubuntu0.16.04.1
  - Web server: Apache
  - OS name and version: Ubuntu 16.04

## Expected Behavior
Custom interfaces should load and be available even after refresh.

## Actual Behavior
Custom interfaces load after cache is cleared.  Upon refreshing the page, the following e

[2017-08-21 20:12] benhaynes commented on #1710
Hey @peremp – thanks for checking back in! We've had several issues persist due to cache... even after it's been cleared. Could you give it a try in a different browser or incognito just to be sure?

Appreciate the help!

[2017-08-21 20:16] WellingGuzman commented on #1708
Hey @peremp, are you using apache? I would love to know if you have some sort of cache configuration in your server, I will try to add a new param on each requests so we make sure the cache is not being made.

[2017-08-21 20:52] WellingGuzman commented on #1708
Hey @peremp, I've added a new query param with different value for each `GET` request this will potentially prevent the browser from catching the results.

Let us know if this fixes the problem. We will implement a proper cache solution server and client side.

This probably also fix the issue #1710.

[2017-08-21 20:53] WellingGuzman commented on #1741
@hybridvision awesome!

[2017-08-21 21:58] WellingGuzman commented on #1740
I added some information about 404 page into the FAQ doc page. https://github.com/directus/docs/commit/be52bb96ad3e08ff178ee8f9deff35679bf3ecb4

[2017-08-22 07:53] peremp commented on #1708
Looks like it's working on the edit page. Still happens on the table list:

[code]

Also, not sure if this is related to this changes, but the list of related items (M2M interface) is always empty, even if you relate some items.

[2017-08-22 07:57] peremp commented on #1710
Still happens. Tested on Firefox and Chrome.

I think that this issue is not related to https://github.com/directus/directus/issues/1708, because this happens even if I disable the cache.

I'll try to create an schema to reproduce this issue.

[2017-08-22 09:38] peremp commented on #1752
I'll send you the schema via Slack

[2017-08-22 10:07] textoo commented on #1742
similar issue here,

Error: Uncaught SyntaxError: Unexpected token <
File: http://mywebsite.com/app/plugins/hr/plugin.min.js
Line:1

as this file is not existing, a html file is returned so a javascript error apply

it appears that this error is fired multiple times, with a different missing file:

/app/plugins/table/plugin.min.js
/app/plugins/hr/plugin.min.js
/app/plugins/image/plugin.min.js
/app

[2017-08-22 11:54] rijkvanzanten commented on #1742
@michlschmitt @textoo are these happening on the bundled download?

[2017-08-22 12:03] WellingGuzman commented on #1708
Hey @peremp, did you clear you cache, or what branch are you using? Almost request now (including listing table and editing entry) now has a new query string param to prevent caching and the URL you used as example doesn't have that param included.

Same with the M2M being empty was fixed on develop branch. Let us know if it doesn't work in develop branch and we can take care of it.

[2017-08-22 12:45] peremp commented on #1708
Version: develop bed51a7
Tested on incognito window and on a normal window clearing and disabling the cache.

Same result: The M2M list is empty, and the param is not included when loading a table list.

[2017-08-22 13:35] hybridvision commented on #1708
@WellingGuzman / @peremp: I'm on the same latest version and I see the `reqid` parameter but only for viewing specific records. For example:

![image](https://user-images.githubusercontent.com/11492432/29567912-ecadfbaa-874e-11e7-985c-3c40c3dcda7b.png)

None of the other API requests seem to include this parameter...

Also, I noticed that there's a constant polling of the messages table. I guess t

[2017-08-22 16:19] michlschmitt commented on #1742
@rijkvanzanten yes, I use the bundled version.

[2017-08-23 06:12] WellingGuzman commented on #1753
Closed by https://github.com/directus/directus/commit/743590035352c0094f6d03815af1ed5b81c0f703

Please confirm this worked for you too.

We've also updated the build branch.

[2017-08-23 06:12] #1753 closed

[2017-08-23 06:13] WellingGuzman commented on #1742
Closed by https://github.com/directus/directus/commit/743590035352c0094f6d03815af1ed5b81c0f703

If it doesn't work let us know and we are going to re-open the ticket.

Make sure to update the branch (build)

[2017-08-23 06:13] #1742 closed

[2017-08-23 07:36] textoo commented on #1742
@WellingGuzman works like a charm now, thanks, second time i post an issue, second time it's fixed in less than 24h. you rocks.

[2017-08-23 11:31] aaronaustin commented on #1753
Works great!  Thanks!

[2017-08-23 12:04] Zaelot commented on #1708
Encountered another cache related problem when we upgraded to the latest version: Got stuck in a loading screen for /tables after logging in, on Chrome. Solution was to clear the cache (also deleted Directus cookie.)

Console log from the situation:
![image](https://user-images.githubusercontent.com/2608781/29614815-58e46a0a-8814-11e7-8346-aa0fb3472ee2.png)

[2017-08-23 12:18] Zaelot opened #1754 "Temporary revocation of admin rights"
## Version Info
  - Directus version and branch: 6.4.1
  - PHP version: PHP 7.1.8
  - MySQL version: MariaDB 10.1
  - Web server: Apache
  - OS: Debian Jessie

## Expected Behavior
Changing Group permission description and saving the settings returns to the **Admin Settings** screen.

## Actual Behavior
Gives error message "You don't have permission to view that page or it doesn't exist." and thro

[2017-08-23 13:08] Radiergummi opened #1755 "Question - How to show notifications on hook error"
## Version Info
  - Directus version and branch: 6.3.9
  - PHP version: 7.0.8
  - MySQL version: 5.5.55
  - Web server: nginx
  - OS name and version: Debian 8

I'm using Directus as a CMS for a static site. As soon as a table is changed, my hook starts gulp in a shell_exec that rebuilds the site and pushes the files to the webserver.
That is all well, but of course, there could be situations wher

[2017-08-23 15:55] dsivokhin opened #1756 "Displaying relations M2M was lost"
## Version Info
  - Directus version and branch: 6.4.2 master
  - PHP version: 7.0
  - MySQL version: 5.7
  - Web server: nginx
  - OS name and version: ubuntu 16.04

## Actual Behavior
after update to 6.4.2 version, displaying relations M2M was lost. I'm clear cache, but nothing displaying.

## Schema Dump, Logs, or Screenshots

![1](https://user-images.githubusercontent.com/4669992/29625284-f156

[2017-08-23 16:01] benhaynes commented on #1756
Thanks Dmitry – @WellingGuzman is aware of this and in the process of releasing a hotfix.

[2017-08-23 16:12] Zaelot commented on #591
Sorting seems to still have some issues. For example, in M2O if you start with `{{id}}` in _Visible Column Template_ it'll sort the dropdown values disregarding the numerical value (first everything starting with 0, then with 1, then with 2 and so on).
(Would also be nice to be able to sort the values by a non-visible column.)

![image](https://user-images.githubusercontent.com/2608781/29625938-dd

[2017-08-23 17:01] WellingGuzman commented on #1756
Hey @dsivokhin,

can you give it another try on `develop` branch?

This was closed by https://github.com/directus/directus/commit/3d7225c1ff05dd3ff1d0acd83515a0f71ccf2841

[2017-08-23 17:32] #1756 closed

[2017-08-23 18:00] dsivokhin commented on #1756
Hello @WellingGuzman, thank you, it's works for M2M. But the same problem with M2O Dropdown. Value isset in DB, but not checked in selector, displaying 'Please select an option'

[2017-08-23 20:06] diegogurpegui commented on #1701
Hey @benhaynes ,
I just found the exact same problem in my environment. Same steps for reproducing and same javascript stack (based on the screenshot provided by @lehha ).

I have the latest version so far:
Revision: 42ce2f23863da0073a59b0e6878d8cf65472e773
Author: Welling Guzman
Date: 2017-08-23 04:03:43

Server:
64bit Amazon Linux 2016.09 v2.3.3 running PHP 7.0

Browser:
55.0.2 (32-bit)

This er

[2017-08-23 20:09] benhaynes commented on #1701
Very interesting @diegogurpegui – is your full schema private or would you be able to share it with our developers via Slack? We haven't been able to replicate this issue as of yet so anything would help.

Also, was this a fresh install, or have you upgraded/migrated from an existing version?

[2017-08-23 20:15] diegogurpegui commented on #1701
I can't share data but I would be able to share schema (structure) if you want.

It was a fresh install. Actually, it happened first when we upgraded from a 6.3.* version. Then we did a fresh install just in case (because we had several other problems) but this specific error continued.

[2017-08-23 21:07] diegogurpegui opened #1757 "Get row with "Single File" field by API only returns the file id instead of file data"
Not sure if this should be considered as a new feature, or an issue (since it worked in API v1.1).

## Version Info
  - Directus version and branch: 42ce2f23863da0073a59b0e6878d8cf65472e773
  - PHP version: 7.1
  - MySQL version: 5.6+
  - Web server: Apache
  - OS name and version: 64bit Amazon Linux 2016.09 v2.3.3 running PHP 7.0

## Expected Behavior
When a row data is returned from the API, the

[2017-08-23 21:41] awbranch opened #1758 "Toggles not displaying in list views"
## Version Info
  - Directus version and branch: 6.4.2 - 3d7225c
  - PHP version: 5.6.30-12
  - MySQL version: 5.7.19
  - Web server: Apache 2.4.18
  - OS name and version: Ubuntu 16.04.2

## Expected Behavior
When I add a column of type toggle to the table list view I would expect to see some representation of its value.

## Actual Behavior
There is no indication of the checkbox. It looks like a

[2017-08-23 22:06] MarcinKuder opened #1759 "WYSIWYG Full editor size issue"
## Version Info
  - Directus version and branch: (Or commit hash)
directus-build-6.4.2.20170823180744.tar.gz
  - OS name and version:
Windows 10, Chrome, Firefox

## Actual Behavior
The WYSIWYG Full editor has only 300px width and 150px height (which is not resizeable, regardless of the max height settings)
Simple WYSIWG on the other hand, fills the whole width and looks fine.

Additional question

[2017-08-23 22:29] awbranch opened #1760 "Text input size widths are ignored"
## Version Info
  - Directus version and branch: 6.4.2 - 3d7225c
  - PHP version: 5.6.30-12
  - MySQL version: 5.7.19
  - Web server: Apache 2.4.18
  - OS name and version: Ubuntu 16.04.2
  - Browser: Chrome  60.0.3112.90

## Expected Behavior
  When setting a Text Input columns interface options "Size": field you can select "Small", "Medium" or "Large". I expect that when the field is displayed i

[2017-08-23 22:41] benhaynes commented on #1760
Good catch! We've been overhauling the interfaces and this must have been missed.

@rijkvanzanten these sizes should be standardized across all interfaces so that small/medium/large represents the same max-width values and interfaces still align vertically. Some CSS edge-cases may be required for "visual alignment" if there is a more complex interface.

[2017-08-23 22:59] awbranch opened #1761 "Column order not maintained after editing 2nd column"
## Version Info
- Directus version and branch: 6.4.2 - 3d7225c
- PHP version: 5.6.30-12
- MySQL version: 5.7.19
- Web server: Apache 2.4.18
- OS name and version: Ubuntu 16.04.2
- Browser: Chrome 60.0.3112.90

## Expected Behavior
When editing column attributes I would expect the ordering of the columns to be maintained.

## Actual Behavior
If I edit just one column the order doesn't change, but i

[2017-08-23 23:08] benhaynes commented on #1761
Thank you for these steps @awbranch – we were experiencing this before and @WellingGuzman had submitted a fix that resolved it... but it seems you've found a new way to find this issue.

We're on it!

[2017-08-24 03:26] WellingGuzman commented on #1761
Closed by https://github.com/directus/directus/commit/11d35eb78bc2244aa7e75f09819f480bb1bab49a

[2017-08-24 03:26] #1761 closed

[2017-08-24 03:29] WellingGuzman commented on #1761
Hey @awbranch thanks for reporting this bug, please let us know if that commit fixes the issues for you too.

[2017-08-24 03:32] WellingGuzman commented on #1756
Hey @dsivokhin can you provide a schema so we can test this with? I tried with the latest code (6.4.2) and it seems to be working.

Thanks!

[2017-08-24 03:39] WellingGuzman commented on #1757
Hey @diegogurpegui, by default you are getting the first "level" of nested data.

How Directus work now, is that you can say how many levels of related data you want to fetch, by default the `depth=1` which means any related data on the requested table (first level) will be included.

So updating `depth` to match the how many levels you want to include, if that's what wrong, this is a documentatio

[2017-08-24 03:43] WellingGuzman commented on #1755
Do you want to throw errors on Directus? you can throw exception using php and the webapp will catch it.

for example:

[code]

Let me know if this is something it works for you, and we will document it for future usage.

[2017-08-24 03:50] WellingGuzman commented on #1754
Hey @Zaelot, this issue has been closed by https://github.com/directus/directus/commit/0bcc86bdd85c846ab60b4a12bc8a8e5a84e1446f

Please confirm us it does works for you.

[2017-08-24 03:50] #1754 closed

[2017-08-24 05:40] WellingGuzman commented on #1683
Hey @hybridvision, I tried with MariaDB 10.2 on Ubuntu 14.04 x64, and it's working as expected.

Do you have any specific steps to reproduce this or an exact OS/DB to reproduce this issue?

[2017-08-24 06:42] WellingGuzman commented on #1708
@Zaelot the browser was caching the old files, this has been an continuous issue that I'd have to find a "force" solution when upgrading.

@hybridvision can you tell us what request doesn't get included?

@peremp I've added a `no-cache,no-store` header on all `GET` request, give it a try and let me know if that works, this is a hotfix, until we find a proper way to manage all these browser caching

[2017-08-24 06:45] WellingGuzman commented on #591
Hey @Zaelot Where is the sorting happening? on the interface or table or api?

[2017-08-24 07:11] dsivokhin commented on #1756
@WellingGuzman, sorry, it's not error, i understood. In M2O Dropdown only 50 `option` load by api limit, in my DB table 150 items, not all `option` load. It's bug or feature ?

[2017-08-24 07:35] Zaelot commented on #591
Hi @WellingGuzman! In the interface. I tested with the API and it works correctly there, with sorting affecting the actual order. It seems that in the interface it sorts them by the string, and that doesn't check whether the number continues. (Noticed at first when the dropdown contents were sorted by alphabetical order, then tried to include both Id and Sorting in front, but as you can see, that

[2017-08-24 09:15] rijkvanzanten commented on #1760
Ah yes! Missed this.. This might also a great moment to add in the `auto` option which used the value of `length` to set the width @benhaynes

[2017-08-24 09:18] rijkvanzanten commented on #1759
Hmm, this seems to be a Windows specific issue, as I have not been able to replicate this in Chrome/Firefox on MacOS Sierra.

[2017-08-24 09:19] rijkvanzanten commented on #1759
@MarcinKuder It isn't possible to select from your uploaded files to include them _yet_. It's on the roadmap however.

[2017-08-24 09:21] prudolph81 commented on #1759
Same issue here, I added
`div.mce-edit-area iframe {
        width: 100%;
    }`
to app/core/interfaces/wysiwyg_full/input.html to solve this.

[2017-08-24 09:28] rijkvanzanten commented on #1759
@MarcinKuder Do you have some more specific info on which versions this is happening on?
I've just tested the latest from the `develop` branch on Chrome 60 and Firefox 55 on Windows 10  and Chrome 56 on Windows 8, but haven't been able to replicate this issue.

[2017-08-24 09:29] rijkvanzanten commented on #1759
Thanks for the info @prudolph81!

[2017-08-24 09:32] rijkvanzanten commented on #1759
I've added @prudolph81's fix in https://github.com/directus/directus/commit/548d5d5142d6803ef6a37b00f11c471549b81472. Please let me know if this commit fixes the issue on your end as well @MarcinKuder

[2017-08-24 10:08] rijkvanzanten commented on #1758
Hey @awbranch, thanks for the heads up. I have fixed the issue in https://github.com/directus/directus/commit/9f19567dade2bc8f25eca79caa5ad1e745e0237e on the ![develop](https://github.com/directus/directus/tree/develop) branch. It will be merged into master soon.

[2017-08-24 10:08] #1758 closed

[2017-08-24 13:11] diegogurpegui commented on #1757
Thanks @WellingGuzman !
We didn't know about the "depth" query parameter, I personally didn't see it documented anywhere.

We just tried it and seems to be working as expected. It's exactly how I would expect this to be solved, in a very flexible way.
We'll start using it more and get back here if we find anything.

Thanks

[2017-08-24 15:33] awbranch commented on #1758
Tested and working on the develop branch.

[2017-08-24 16:44] WellingGuzman commented on #1757
Awesome @diegogurpegui, we are going to implement in a dot notation feature so you can pick what columns you want to pick, more in #1419.

[2017-08-24 16:44] #1757 closed

[2017-08-24 16:51] diegogurpegui commented on #1757
That sounds awesome @WellingGuzman

[2017-08-24 17:17] awbranch opened #1763 "Unnecessary "This field is required" warnings on required Date, Dropdown and Toggles columns"
## Version Info
  - Directus version and branch: 6.4.2 - 3d7225c
  - PHP version: 5.6.30-12
  - MySQL version: 5.7.19
  - Web server: Apache 2.4.18
  - OS name and version: Ubuntu 16.04.2
  - Browser: Chrome 60.0.3112.90

## Expected Behavior
When creating a new record with columns such as Dates, Dropdowns or Toggles the fields are populated with default values such as the current date, the first

[2017-08-24 19:14] rijkvanzanten opened #1764 "Primary Key doesn't support text-based datatypes"
## Version Info
  - Directus version and branch: develop 9f19567dade2bc8f25eca79caa5ad1e745e0237e
  - PHP version: 7.1.6
  - MySQL version: 5.6.35
  - Web server: MAMP Pro
  - OS name and version: MacOS Sierra

## Expected Behavior
Supporting text-based values for the Primary Key of a table can be achieved by changing the datatype of the Primary Key interface to a text-one like `VARCHAR` or `CHAR`

[2017-08-24 19:42] MarcinKuder commented on #1759
@rijkvanzanten I confirm that the width issue is gone after the fix.
Height can also be set in the same place but I assume that the control shall be resizable? At least this is what the 'Max Height' setting in Interface option suggests. The resize is not working for me.  But it is not a big deal.

And thanks for clarifying the uloaded file chooser question.

[2017-08-24 19:43] awbranch opened #1765 "Server Error Undefined index: name when attempting to attach a file to a record using "Choose Existing" button on 2nd attempts"
## Version Info
 - Directus version and branch: 6.4.2 - 3d7225c
 - PHP version: 5.6.30-12
 - MySQL version: 5.7.19
 - Web server: Apache 2.4.18
 - OS name and version: Ubuntu 16.04.2
 - Browser: Chrome 60.0.3112.90

## Expected Behavior
I have a table with a column with UI: Single File, named "image" that has a related table of "directus_files".

I would like to create multiple records in this tab

[2017-08-24 19:49] rijkvanzanten commented on #1759
The idea is that the editor changes height to accommodate the height of the content. The `max-height` option allows you to set the max-height it's allowed to grow, to prevent the page being completely covered by a huge editor.

[2017-08-25 07:38] MarcinKuder commented on #1759
Thanks explanation but my wysiwyg full does not change the height regardless of the content.

[2017-08-25 14:18] magbeat opened #1766 "Translations not persisting in Database (when using the Translation (O2M))"
Hi there,

## Version Info
  - Directus version and branch: 6.4.2 (current master as the time of writing (3d7225c)
  - PHP version: 5.6.31
  - MySQL version: 10.1-MariaDB
  - Web server: Apache
  - OS name and version: unknown (Hoster)

## Expected Behavior

Store translated field when saving.

## Actual Behavior

Not storing translated field when saving

## Steps to Reproduce
 1. Setup translatio

[2017-08-25 17:23] WellingGuzman commented on #591
The problem still that it will translate to a string so it won't be sorted properly as you should expect, We are going to check this issue and get it resolved in some way or another.

can you provide a steps on that ticket, or create a new one specifying all the steps logs, screenshot, etc.

Thanks

[2017-08-25 17:39] WellingGuzman commented on #1765
Hey @awbranch thanks for all the information, I have an extra question, do you have any hooks set?

[2017-08-25 17:55] WellingGuzman commented on #1766
Thanks @magbeat, I will be working on it as soon as possible!

[2017-08-25 18:25] WellingGuzman commented on #1755
this wasn't an issue I'm going to close it! but we can still discuss how to implement this, if the above didn't work.

[2017-08-25 18:25] #1755 closed

[2017-08-25 18:49] awbranch commented on #1765
Just this default in configuration.php

[code]

[2017-08-25 19:25] benhaynes commented on #1759
@MarcinKuder – could you provide a screenshot of your interface options?

@rijkvanzanten – any idea why this wouldn't be working?

[2017-08-25 19:42] MarcinKuder commented on #1759
Screenshots below.
Please note that I have already added
`div.mce-edit-area iframe {width: 100%; } `
to fix the width issue but the height is still 150px.

I think that 300x150 is just a fallback to defaults for iframe - see https://www.w3.org/TR/CSS2/visudet.html#inline-replaced-height

![image](https://user-images.githubusercontent.com/1597894/29729747-bb14cdbc-89dd-11e7-9c6a-0a2327b07891.png)
!

[2017-08-25 19:42] WellingGuzman commented on #1766
Closed by https://github.com/directus/directus/commit/3c4fbd6dc8df6af8ec6f56dd18d9b626b0d59997

Please @magbeat confirm, and i will re-open otherwise.

[2017-08-25 19:42] #1766 closed

[2017-08-25 19:45] benhaynes commented on #1710
Any luck with a schema @peremp? It'd be great to squash this bug...

[2017-08-25 19:55] WellingGuzman commented on #1765
Can you share a schema that we can use to reproduce this?

It seems that fetching those files are failing in the API, also can you please share the request it's being made to `directus_files` when you click "choose existing"?

Thanks!

[2017-08-25 19:56] WellingGuzman commented on #1698
Closed by https://github.com/directus/directus/commit/3c4fbd6dc8df6af8ec6f56dd18d9b626b0d59997

[2017-08-25 19:56] #1698 closed

[2017-08-25 20:42] awbranch commented on #1765
Sure.
[dump.sql.zip](https://github.com/directus/directus/files/1252949/dump.sql.zip)

Also, if it helps, here are the files from storage/
[storage.zip](https://github.com/directus/directus/files/1252956/storage.zip)

I did some logging. I can see that when it reaches this line in Bootstrap.php that 'name' doesn't exist in the array:

`$thumbnailFilenameParts = explode('.', $row['name']);`

Here's

[2017-08-25 21:13] awbranch commented on #1765
Hey - I figured it out!!!

The problem was that directus_preferences had the following entry for the columns_visible for my user:
`item,title,location,caption`

I changed it to the following and it works:
`name,title,location,caption`

item doesn't exist in directus_files. I suppose 'item' was left over from the 5.x version?

[2017-08-25 21:42] WellingGuzman commented on #1763
Closed by https://github.com/directus/directus/commit/1d6fb81e13483ae7ae031487edc585476ccd8c5b

Please @awbranch confirm this patch, otherwise I will re-open the ticket.

[2017-08-25 21:42] #1763 closed

[2017-08-26 05:52] magbeat commented on #1766
@WellingGuzman I can confirm that it works. Thanks a lot!

[2017-08-26 08:43] WellingGuzman commented on #1765
Thanks @awbranch for all these information on how to solve this issue, we have managed to find a solution were we force the `name` to be query, but it will be not returned if the user didn't add it as visible column.

Closed by https://github.com/directus/directus/commit/76e7262b2918817f40fe2a96b9acae754ff7f697

[2017-08-26 08:43] #1765 closed

[2017-08-26 10:58] m-pire opened #1768 "Update to 6.4.2"
# Version Info
  - Directus version and branch: v6.4.2 (Ruby Rabbit)
  - PHP version: 7.0.19
  - MySQL version: MariaDB 10.1.23
  - Web server: Apache 2.2
  - OS name and version: Debian 9
  - Directus 6.3.9 is running well without any problems

## Expected Behavior
Update from Directus 6.3.9 (with PHP SDK 1.0) to 6.4.2 (with PHP SDK 2.0)

## Actual Behavior
Update not possible - I think that ther

[2017-08-26 22:55] WellingGuzman commented on #1768
Hey @m-pire, thanks for the report, but why are you trying to add the SDK to Directus?

What are you trying to accomplish? so far the SDK was meant to be used outside the Directus repo, most code from the SDK already exits on Directus code.

[2017-08-26 22:55] #1768 closed

[2017-08-27 05:50] WellingGuzman commented on #1585
Closed by https://github.com/directus/directus/commit/1f190e59160f29b9fd64c1667db4ed75619a8173

[2017-08-27 05:50] #1585 closed

[2017-08-27 08:39] WellingGuzman commented on #395
Has anyone experienced errors when using Directus with strict mode enabled?

It has been a long way trying to solve this issue, we have improved and reduce all the errors this mode bring, hopefully finding the rest of the bugs will allow us to finally close this ticket for good.

[2017-08-27 13:59] rijkvanzanten commented on #1760
This has been fixed/implemented in #1762 on the [develop](https://github.com/directus/directus/tree/develop) branch and will hit master/release soon.

[2017-08-27 13:59] #1760 closed

[2017-08-27 14:01] rijkvanzanten commented on #1759
Okay, just a wild guess here, what happens if you add `height: 100%` to the iframe as well? It might just limit the bounding box size..

[2017-08-27 14:04] rijkvanzanten commented on #1701
It seems like this particular error (`depth0 is undefined`) is a Handlebars error which is thrown when it is passed invalid JSON (https://stackoverflow.com/questions/12704697/handlebars-what-is-depth0-is-undefined#comment25584307_12704697).

As it uses the same data across browsers, this doesn't really explain why this happens only in Firefox.

[2017-08-27 19:48] magbeat commented on #1709
Hey @benhaynes. The column is indeed created successfully in the database. But the UI seems not handle it correctly. I cannot store a decimal number:

![image](https://user-images.githubusercontent.com/1089410/29753412-36c0ffd2-8b71-11e7-9710-41fa4ec0570a.png)

![image](https://user-images.githubusercontent.com/1089410/29753415-3f92bcf4-8b71-11e7-8046-5e52f596ed61.png)

And in the overview the col

[2017-08-27 19:51] WellingGuzman commented on #1709
Hey @magbeat, I just bumped into that issue last night.

---

@rijkvanzanten the reason is that the input value is empty when the browser `checkValidity` function try to valides its value.

[2017-08-27 20:03] rijkvanzanten commented on #1709
Interesting, I'll check it out!

[2017-08-27 20:22] MarcinKuder commented on #1759
Unfortunately, it did not helped.
For now, I just set min-width: 400px; - it is not resizing but it is a least higher than 150.
Thanks.

[2017-08-28 05:12] WellingGuzman commented on #1105
We could reduce the code in the `api.php` file, but the API is not organized into a separate files.

I'm going to call it organized by the terms we agreed on this ticket.

The friendly responses are going to be handled here https://github.com/directus/directus/issues/1226#issuecomment-237451877

[2017-08-28 05:12] #1105 closed

[2017-08-28 08:51] Zaelot opened #1769 "Dropdown numerical sorting in a string"
## Version Info
  - Directus version and branch: 6.4.1
  - PHP version: PHP 7.1.8
  - MySQL version: MariaDB 10.1
  - Web server: Apache
  - OS: Debian Jessie
  - Client OS: Windows 10

## Expected Behavior
Sorting by numerical values in decimal numeral system.

## Actual Behavior
Disregards the actual numerical value and sorts by char value order.
(1, 10, 11, 12, 13, ... 19, 110, 111, ... 119, 2,

[2017-08-28 12:16] jvmejias opened #1770 "Call to a member function getOptions() on null"
## Version Info
  - Directus version and branch: Build 6.4.2
  - PHP version: PHP 5.6.30
  - MySQL version:
  - Web server: Apache
  - OS name and version: Windows 7

## Expected Behavior
I'm trying to upload an image to a Multiple Files M2M column. The expected behavior is to save the image id and the article id in my junction table.
It was working fine for me in the previous version, but not aft

[2017-08-28 12:44] Zaelot opened #1771 "Dropdown Enum issues"
## Version Info
  - Directus version and branch: 6.4.1
  - PHP version: PHP 7.1.8
  - MySQL version: MariaDB 10.1
  - Web server: Apache
  - OS: Debian Jessie

## Expected Behavior
To be able to set values from the dropdown UI element. To clearly see where to input values. To be able to set default value. (To be able to modify the values.)
Bonus: To be able to reorder columns in _View Settings_.

[2017-08-28 14:04] Zaelot commented on #1771
Hmm, you can see the resetting value (ie, not actually having a value) issue by just refreshing the page. Though the enum issue remains, it seems refreshing the particular page fixes View Options issue. (Both allows to reorder the columns, and shows them in their correct place according to the sorting order.)

[2017-08-28 17:01] m-pire commented on #1768
Hey so far ;) Currently we are running Directus with the PHP SDK without problems on the same server - is there no need to do so?

In addition: Do you have any thoughts for the backend problem?

[2017-08-28 20:34] WellingGuzman commented on #1770
Hey @jvmejias, Is this a fresh install? did you update the database schema by using `bin/directus db:upgrade`?

[2017-08-29 06:18] jvmejias commented on #1770
Thank you very much Welling, that was it. I had in fact run that CLI command, but I didn't figured out I had to delete the directus_schema_migrations table before for the update to take effect.
Congrats to all the team for your hard work with this wonderful CMS!

[2017-08-29 06:18] #1770 closed

[2017-08-29 10:31] jvmejias opened #1773 "WYSIWYG Full editor modifying html"
## Version Info
  - Directus version and branch: Build 6.4.2
  - PHP version: PHP 5.6.30
  - MySQL version: MariaDB 10.1
  - Web server: Apache
  - OS name and version: Windows 7

I'm using the new WYSIWYG FULL editor and I have noticed that it automatically modifies my html before saving (adding paragraphs, changing paths, decoding html entities, etc).  I would like to preserve the html intact as