[2016-08-03 14:45] WellingGuzman commented on #1191
Okay @laszlokorte I decided to remove it as the other numerics value doesn't require it. Thanks for this one. we will implement fields options in the future versions.

[2016-08-03 15:04] WellingGuzman commented on #1231
This commit https://github.com/directus/directus/commit/09238f9a1beebcebf042ad85a91b206e7996950b should do it, let me know.

[2016-08-03 15:07] laszlokorte commented on #1231
works 👍

[2016-08-03 15:08] WellingGuzman commented on #1179
Hey @laszlokorte can you mind in sending me a schema for that, I want to try that. Either way I will try to replicate it on my own.

[2016-08-03 15:09] WellingGuzman commented on #1231
Thanks @laszlokorte, closed!

Thanks as always for all this reports, if you happen to find anything else, I know you won't hesitate 👍

[2016-08-03 15:09] #1231 closed

[2016-08-03 15:24] laszlokorte opened #1232 "MTO create fails"
And another one 😄  I just update to the latest development branch (09238f9a). I am not sure if the error is new or if I just missed it before.

Creating records for tables with an MTO field does not work anymore.

I have a "people" table and a "members" table. The members table has just two columns:
`id` and `person_id`(uniq, not null) (which is a FK to the people table).

For the `person_id` colu

[2016-08-03 15:27] WellingGuzman commented on #1230
Hey @laszlokorte, It's a bug. I'm working on it.

[2016-08-03 15:31] WellingGuzman commented on #1230
@laszlokorte care to open a PR for that?

[2016-08-03 15:32] WellingGuzman commented on #1185
Perfect, closing it.

[2016-08-03 15:32] #1185 closed

[2016-08-03 15:37] laszlokorte commented on #1230
The reason is this check:
https://github.com/directus/directus/blob/development/app/core/table/table.footerview.js#L64

For columns that are indeed numeric the problem that the footer is visible even if the checkbox is not checked still persists because '0' is saved to the DB and then by javascript evaluated to true (because non-empty string)

[2016-08-03 15:44] WellingGuzman commented on #1230
I made a hotfix for this solution, as number values are not casting constantly it can be sure when is a number or a string, so we can casting or do your solution. if you mind you could open PR for that.

Thanks,

Let me know if it fixes it for you.

[2016-08-03 17:00] laszlokorte commented on #1179
[schema-export.sql.zip](https://github.com/directus/directus/files/399981/schema-export.sql.zip)

[2016-08-03 19:19] laszlokorte commented on #1230
I am starting to work on the central typecasting.

[2016-08-03 19:20] WellingGuzman commented on #1230
Thanks, @laszlokorte.

[2016-08-03 19:30] WellingGuzman commented on #1179
Side note @laszlokorte, is it okay to this be public?, if so, this will be an awesome [Schema Template](https://github.com/directus/schemas-boilerplate).

[2016-08-03 19:36] laszlokorte commented on #1179
Yeah I think I removed all sensitive information 😄

[2016-08-03 19:37] WellingGuzman commented on #1179
Thanks 👍  Want to open a PR yourself if you feel like it, either way I can create one.

[2016-08-03 19:39] WellingGuzman commented on #1230
I will close this as the issue was solved, but you can merge your PR whenever is ready.

Thanks

[2016-08-03 19:39] #1230 closed

[2016-08-03 22:27] benhaynes commented on #1179
Awesome schema @laszlokorte – always cool to see how people structure things within Directus.

The nested relational data always get's a bit tricky... @WellingGuzman if it get's too crazy then maybe @jel-massih can help out since he did a lot of Directus relational work.

[2016-08-04 03:39] benhaynes commented on #1192
@WellingGuzman – Did you turn off that message globally or only for this page?

[2016-08-04 03:50] benhaynes commented on #1172
Interesting – there may have been a time before the status column when soft-delete was accomplished by unassigning the `id` so that the item was available as a choice with other OTM fields.

Either way, we need to decide how to handle this by default and what UI options we'll support.

* Delete Item (hard delete) – Gone... forever
* NULL ID (soft delete) – Goes back into the pool of choices
* Use

[2016-08-04 03:53] WellingGuzman commented on #1228
Commit https://github.com/directus/directus/commit/fd64d1a08b4b45e1f9a53aa31f9dc8f84c54884a didn't work as expected so it was undone by this commit: https://github.com/directus/directus/commit/610790ba9051baa864e4e48c794ee578049596fe

[2016-08-04 03:59] benhaynes commented on #1013
@WellingGuzman Is this fetching the relational data on the listing page now?

[2016-08-04 04:05] benhaynes commented on #1188
Hey @WellingGuzman – I'll reopen this until we also have this fixed on M2O...

[2016-08-04 04:10] benhaynes commented on #1227
Ahh yes, _the cart before the horse_...

I remember we were trying to figure this one out a year or two ago. Not sure how complicated it is, but the related item (`hotel_offer`) should not actually save until the parent is saved... and we would need a way to get the parent ID first... so we can save it into the related item.

@WellingGuzman does that make sense? Do you know why the related item is

[2016-08-04 04:14] benhaynes commented on #1226
@WellingGuzman Does this take `allow null` into consideration?

If the INT has `allow_null = false` and we set it to `NULL`, will it convert to `0` or throw an error?

[2016-08-04 04:34] benhaynes commented on #751
@WellingGuzman Hmm, not sure... but maybe:

When you create a column in Directus you choose a UI... and it creates a column with the correct datatype. I'm not sure how it knows which datatype to choose – but it should use the UI itself.

Since the UI lists the datatypes it works with, we should say that the FIRST datatype in that list is the best/default. So if you create a field with a certain UI

[2016-08-04 04:36] benhaynes commented on #1228
Basically we need to decide:

Can a checkbox ever be required (must be clicked)? The answer is, only if the field was marked as "required" within Directus. Not because it has "not null".

[2016-08-04 04:43] WellingGuzman commented on #1226
@benhaynes it will throw an error if you do it through the API, but the UI will enforce validation.

So this got me thinking we need an output and input formatting, because if we want to avoid the issue we will have to convert it to 0, but that wouldn't work for an API response, because the actual value is `null`. makes sense?

[2016-08-04 04:44] WellingGuzman commented on #1013
@benhaynes Yes, it's working on the listing page.

[2016-08-04 04:47] benhaynes commented on #1226
Hmm, I think it's OK for the API to throw an error if you send `NULL` to an INT column that doesn't support NULL. But it needs to respond with an error that makes sense:

`The column "xxxxx" does not support the value "NULL"`

[2016-08-04 04:47] WellingGuzman commented on #1228
I did it through the long way, and make the UI decide it. so checkbox are only required if `mandatory` option is set to true.

[2016-08-04 04:49] WellingGuzman commented on #1226
You are right, we talked about making the "Internals error" friendly. so I will think about this when we are organizing the API (#1105). what do you think?

[2016-08-04 04:49] benhaynes commented on #1228
Nice, so the only way to make it required is to set the field to "required" within Directus...

I like it. Are you still testing this one or should we close?

[2016-08-04 04:51] benhaynes commented on #1105
[Reminder to format "friendly" error responses...](https://github.com/directus/directus/issues/1226#issuecomment-237451877)

[2016-08-04 04:51] benhaynes commented on #1226
Perfect... I added a note to that other ticket.

[2016-08-04 04:53] WellingGuzman commented on #1228
I'm testing this out, I've not find any issue so far.

We can close it, and if something rises we can re-open it. @benhaynes what do you think?

[2016-08-04 04:55] WellingGuzman commented on #1188
@benhaynes it was fixed on M2O, and then I fixed it on M2O Typeahead that it was missing. https://github.com/directus/directus/commit/f9a422bed42dc11fbdda75a8dd49cb431e0c78b2

[2016-08-04 05:03] benhaynes commented on #1228
Sounds good... if you see a problem just re-open.

[2016-08-04 05:03] #1228 closed

[2016-08-04 05:04] #1188 closed

[2016-08-04 10:34] laszlokorte commented on #1227
For me it sounds like a client side validation error of the invisible MTO field of the Hotel.

[2016-08-04 10:38] laszlokorte commented on #1228
If have not tested it yet but did you consider that if NOT NULL is set in the DB the "required" checkbox is checked and disabled? In that case the checkbox should be mandatory right?

[2016-08-04 14:48] benhaynes commented on #1228
Yes, but I don't think that's how it should be. Do you?

How it _should_ work (open to suggestions) – @WellingGuzman is this what we're doing now?

**EITHER WAY (NULL OR NOT NULL)**: The UI should save with `0` or `1` and is not required (by default) unless the Directus Settings > Required is turned on.

--

As a **new feature**, if ALLOW NULL is on, then we should have a UI Option that says:
* Fa

[2016-08-04 14:49] benhaynes commented on #1227
Ahh, not actually trying to save it, but the FK is validating false? That also makes sense.

Anyon have ideas on how we can resolve this?

[2016-08-04 15:47] WellingGuzman commented on #1228
@benhaynes right, checkbox UI should save 0 or 1 and it's not required unless you set the mandatory option on.

This sounds good, @laszlokorte what do you think?

[2016-08-05 07:15] WellingGuzman commented on #1166
I tried to upload svg the one with and witout html header, and no problem uploading, updating the file info method solve this issue along the way.

If someone happen to replicate the issue again, let us know.

[2016-08-05 09:49] huyderman commented on #1166
Hi
What exactly is the fix? I pulled the latest changes from master, but still get the `imagecreatefromstring` error.

[2016-08-05 09:58] WellingGuzman commented on #1166
Hi @huyderman, it was fixed on the development branch.

You man want to use the dev branch and try it and let us know if that works for you too.

Thanks,

[2016-08-05 12:17] huyderman commented on #1166
Finally got `development` up and running. Yeah, seems like uploading SVG works now.

[2016-08-05 15:14] christophemarois opened #1234 "MySQL Strict Mode should prevent installation pre-checks from passing"
I installed Directus on a fresh Ubuntu 16.04x64 box yesterday, on top of PHP 7 and the latest version of MySQL that has - as I learned after a long time - enabled strict mode by default, breaking most legacy queries.

It took me a long time to take the "**Strict mode enabled**" warning on the installation pre-check seriously, and considering the total failure of the installation because of it, I t

[2016-08-05 20:00] WellingGuzman commented on #1166
@huyderman thanks for letting us know, this will be in master soon.

[2016-08-05 21:18] WellingGuzman commented on #1057
@benhaynes end up merging datetime and date, leaving time as a separate UI. (didn't delete date UI file though)

[2016-08-05 22:27] benhaynes commented on #1057
Why leave the time separate from datetime? Or just for now?

[2016-08-06 11:16] laszlokorte commented on #1172
@benhaynes sounds good to me.

But:

As far as I can see the OTM field does currently not provide a way to *add some existing child record by assigning it's parent_id*.

[2016-08-06 16:07] benhaynes commented on #1172
Ahh, then that is a mistake. All of the relational UIs should have a way to choose from the existing items. This specific UI should also have an option to choose from: null only, or any items (would reassign).

Are you familiar with the UI options enough to try adding that "Choose" option (and have time/interest 😉), or should I add this to FeatHub?

[2016-08-06 19:52] benhaynes opened #1235 "Use Twig for Installation"
We should switch the installation file(s) to use Twig templating for better code organization.

[2016-08-06 20:01] laszlokorte commented on #1172
Better add it to FeadHub. I do not have that much time currently.

[2016-08-06 21:07] benhaynes commented on #1172
Not a problem! [Added to FeattHub](http://feathub.com/directus/directus/+60)

[2016-08-08 15:07] WellingGuzman commented on #1232
Hey @laszlokorte, I fixed the problem the select tag was missing its name. here's the commit: https://github.com/directus/directus/commit/3cde6832cc67de2350ae11a3117f3dc9c2da612b.

This should've fixed the problem, tested and worked.

[2016-08-08 16:05] laszlokorte commented on #1232
Works for me 👍

[2016-08-08 23:42] WellingGuzman commented on #1232
Great to hear @laszlokorte.

[2016-08-09 00:46] WellingGuzman commented on #1172
The issue there still the same if the column doesn't allow NULL.

**Permission** = **Hard**: Delete Item
_**Permission** = **Soft & No Null**: Can't delete Item_
**Permission** = **Soft & Null & No Status**: NULL ID
**Permission** = **Soft & Status**: Inactive

What do you think?

[2016-08-09 01:17] benhaynes commented on #1172
This makes sense... but the second option never needs to happen. No one chooses "soft delete"... it is soft-delete **if** there is no `status` column. So the second option above would never happen.

Other than that... this looks good!

[2016-08-09 20:27] benhaynes commented on #730
This one seems to be working for me too. Must have been a browser-specific issue with an older version of FireFox. Closing...

[2016-08-09 20:27] #730 closed

[2016-08-09 21:43] benhaynes commented on #937
This is much better, thanks @WellingGuzman – it will be slow and painful to get all these schema changes made, but so much better once all naming conventions are matching.

[2016-08-09 21:43] #937 closed

[2016-08-10 00:14] benhaynes commented on #1077
This works wonderfully now... can't find any issues! Thanks @WellingGuzman

[2016-08-10 00:14] #1077 closed

[2016-08-10 00:35] benhaynes commented on #1166
It looks like there is different code for uploading by:

* Drag and drop onto Files page
* Click "New File" on Files page

Same file uploaded both ways, HTML = Drag and Drop:
![screen shot 2016-08-09 at 8 33 17 pm](https://cloud.githubusercontent.com/assets/522079/17538116/88e5a922-5e70-11e6-9fee-2bc8285f59d8.png)

Also, does it need to say `SVG+XML`? Is that important (in terms of meta data) or c

[2016-08-10 00:39] benhaynes commented on #1144
Is this the new error message?

![screen shot 2016-08-09 at 8 37 32 pm](https://cloud.githubusercontent.com/assets/522079/17538184/271efdf0-5e71-11e6-9699-12767eedb346.png)

* Can we capitalize "Error"?
* Can we use our filesize convert function to turn these bytes into something more relatable? (KB/MB/GB)
* Are we providing a link or info on how to increase this? Even if it just says "Talk to you

[2016-08-10 00:40] benhaynes commented on #1144
Also, is that the size of the file I'm uploading... or the max allowed? We need to clarify.

[2016-08-10 00:55] WellingGuzman commented on #1144
Yes, that's the new error message.

I'm aware of that, I skipped the style of it for later discussion.

That's the max allowed.

[2016-08-10 04:42] benhaynes commented on #1144
If we change the alert to this we can close it:

[code]

[2016-08-10 14:51] benhaynes commented on #1144
Perfect. I made an adjustment to the text so it fits on one line...

[2016-08-10 14:51] #1144 closed

[2016-08-10 20:02] benhaynes commented on #1172
@WellingGuzman after testing this, if the FK ALLOWS NULL and you have a status column, it should only adjust it to NULL (it should NOT also change the status). Or we need to at least set a UI option for this.

Right now, I am testing careers being assigned to offices... and when you remove the relationship it deletes the item from Directus (active = 0) and you can't reassign it or see it at all.

[2016-08-10 22:34] benhaynes commented on #1176
Both of these issues (`create>save>click` & `create>save`) are working for me... closing this unless someone else is still seeing an issue. Good work @WellingGuzman!

[2016-08-10 22:34] #1176 closed

[2016-08-10 22:40] benhaynes commented on #1227
This is working perfectly now – thanks @WellingGuzman

[2016-08-10 22:40] #1227 closed

[2016-08-10 23:17] WellingGuzman commented on #1172
@benhaynes this should do the fix: https://github.com/directus/directus/commit/93fe685a9f11cce7a9dd38d52bfd22233c989b92

[2016-08-10 23:57] benhaynes commented on #1172
This is working great now! Thanks W

[2016-08-10 23:57] #1172 closed

[2016-08-11 00:25] benhaynes commented on #1166
OK, this is working great now!

[2016-08-11 00:25] #1166 closed

[2016-08-11 04:31] benhaynes opened #1236 "Some UI elements getting cropped by edit page bounds"
On one hand it is good to limit the UIs so that they don't take over the screen (compartmentalize possible issues/ugliness) but sometimes it causes issues too. Here we have a M2O UI where the dropdown extends beyond the form/page bounds and gets cropped.

One (hacky) solution would be to pad the bottom of the UI so you can always see X results... any other ideas?

![screen shot 2016-08-11 at 12 26

[2016-08-11 04:32] benhaynes commented on #1189
This is all working now... thanks @WellingGuzman!

[2016-08-11 04:32] #1189 closed

[2016-08-11 04:35] benhaynes commented on #1232
Tested, and working!

[2016-08-11 04:35] #1232 closed

[2016-08-11 04:39] benhaynes commented on #1192
@WellingGuzman I'm not getting this "are you sure you want to leave" message any more... can you confirm it's still in there?

[2016-08-11 05:57] Gfast2 commented on #1203
I could help to translate into Chinese @benhaynes . But where is file?

[2016-08-11 07:02] TigerHix commented on #1203
@Gfast2 在 build 分支的 app/locales/ 文件夹里。我这边也在进行中，要不一起翻译？https://github.com/TigerHix/directus/commit/8e86b6ae2ff6e8e2d1bda3e0de0c6e7a1b366715

[2016-08-11 14:05] benhaynes commented on #1203
Took the words right out of my mouth @TigerHix ;)

[2016-08-11 14:06] benhaynes commented on #1203
Thanks @Gfast2! I'll let you coordinate with @TigerHix to get the chinese translation wrapped up.

[2016-08-11 14:20] TigerHix commented on #1203
@benhaynes It seems to me that some strings are not yet configurable in the locale file?

[2016-08-11 15:14] WellingGuzman commented on #1203
@TigerHix if you spot some string that aren't for the enduser, let us know.

[2016-08-11 18:54] katywings commented on #1203
Just a little update from my part: i live and didnt forget about the german translation task xD

[2016-08-12 01:54] benhaynes commented on #1203
Haha, good to know @katywings ;)

@TigerHix Did you find some text in the framework that is not in the locale file?

[2016-08-13 22:07] WellingGuzman commented on #751
I got it, on `directus_columns` the field `data_type` can be the ui name, but it should actually be the actual field `data_type`, such as `INT` or `VARCHAR`.

[2016-08-15 02:59] benhaynes opened #1237 "Friendly Errors"
All error notifications should be friendly and easy to understand, and then give a detailed/technical error message in `console.error`.

_For example, currently we get this:_

[code]

But that should be the console error (with any other help info) and the following should be the notification error:

[code]

[2016-08-15 03:35] benhaynes commented on #1013
Had to roll-back for stability. A new fix is forthcoming...

[2016-08-15 03:53] benhaynes commented on #1182
Looks good!

[2016-08-15 03:53] #1182 closed

[2016-08-15 20:53] benhaynes commented on #1173
I have been testing this one for a week or so, and have not seen either of these two issues happen. I'm going to close it and we can reopen if someone encounters it again or has steps to reproduce.

[2016-08-15 20:53] #1173 closed

[2016-08-15 21:16] benhaynes commented on #1179
@WellingGuzman Added steps to reproduce on the development server to Asana. Removed `testing` until this is fixed.

[2016-08-15 23:06] benhaynes commented on #1091
This is looking great – especially the disabled relational options for Single File and O2M. I know it's manually edited still... we can open a ticket for making this dynamic or any adjustments. Thanks @WellingGuzman

[2016-08-15 23:06] #1091 closed

[2016-08-16 00:28] benhaynes commented on #994
Works great for install... eventually we should make this work for post-install since admins may copy files/db from server to server and bypass the install process.

[2016-08-16 00:28] #994 closed

[2016-08-16 01:21] benhaynes commented on #1234
We can't test on the pre-check since we don't have DB creds yet. But the test is now blocking on the final install page (Confirm).

[2016-08-16 01:21] #1234 closed

[2016-08-16 13:08] benhaynes commented on #1192
1. Read and no write = working now, no issues with required fields
2. No read and no write = Still works as expected, but: You have to refresh the page after changing the permission when adjusting. I don't see this as an issue though since only admins can adjust permissions, and they wouldn't be adjusting for themselves. If they do, they don't even have access to the fields in Settings and need to

[2016-08-16 13:08] #1192 closed

[2016-08-16 13:10] benhaynes commented on #1057
@WellingGuzman Removed `Testing` since we need to figure out the time UI integration...

[2016-08-17 00:17] WellingGuzman commented on #1192
I turned off for model that didn't actually have unchanged attributes. (Still a work in progress)

It's not happening anymore as it's being saved after you click the switch.

[2016-08-17 01:37] benhaynes commented on #1179
Looks great – works great! Thanks @WellingGuzman

[2016-08-17 01:37] #1179 closed

[2016-08-17 04:36] benhaynes commented on #1013
This data is now shown correctly on the listing page for M2O and M2O-Typeahead

[2016-08-17 04:36] #1013 closed

[2016-08-17 06:16] benhaynes commented on #1150
This is working great – and works for `token` too...

We'll need to come back and replace the key_name with the column_name eventually...

[2016-08-17 06:16] #1150 closed

[2016-08-17 21:32] WellingGuzman commented on #1057
@benhaynes I made datetime extends from date UI, and share the same template.

[2016-08-18 01:37] benhaynes commented on #1203
@TigerHix and @Gfast2 – any update on the Chinese translation? Once we have a PR for it we'll merge it into `development`. We're planning on merging `development` into `master` in the next few days... so it'd be great to have that included.

Let me know, and thank you very much!

[2016-08-18 01:50] benhaynes commented on #1215
We've never thought about having two translation columns (for different related tables). We designed the UI to store all the data in a single table. That said, I don't know why there would be an issue with this... my guess is:

The Edit Page has some hardcoded Translation UI logic that is causing this. I believe that all translations are coded to show up at the end of the edit page... so the logic

[2016-08-18 03:29] benhaynes commented on #1057
Other than UI option defaults not showing up when created, this is all set!

[2016-08-18 03:29] #1057 closed

[2016-08-18 03:43] WellingGuzman commented on #1102
* **Look into better ways to visualize the relationships**
* Show examples and placeholder text
* Ensure nothing is missing/broken (see other tickets)

We have been working on all except a better visualization of the relationship, we can add that into the features.

----

Let's plan on adding this into future version.

Agreed, we have been removing its reference.

You meant `directus_columns` righ

[2016-08-18 04:02] benhaynes commented on #1102
Let's plan on adding this into future version.

OK, I'll add a ticket!

OK, if that's what MySQL calls them then let's leave it as is. We do need to agree on fields/columns though. Is there a preference?

Cool – let's remove `master` (and any references), and let's remove `system` and just have a conditional for `id`, `sort`, and `status`.

Is there a need to store the datatype? Don't we have that

[2016-08-18 06:33] WellingGuzman commented on #1102
The only thing I have to say, it's that when I say column, I'm thinking about a table columns, but I say field Im thinking about that form field. (which is a column anyway).

**Field** seems like a more friendly name.

[2016-08-18 08:31] TigerHix commented on #1203
Yes - Gao Su and I have translated roughly 70% of the text. I will have some free time tomorrow, so hope I will finish them as fast as I could. :)

[2016-08-18 08:34] TigerHix commented on #1203
Oh, and by the way:

I cant seem to find the string literals of those option titles.

On Thu, Aug 18, 2016 at 9:37 AM Ben <notifications@github.com> wrote:

[2016-08-18 08:36] TigerHix commented on #1203
Oops, looks like Inbox didn't have my image sent.

![img_3179](https://cloud.githubusercontent.com/assets/3406505/17767243/c66e463a-6561-11e6-9e59-be5a0daaeb54.PNG)

[2016-08-18 08:40] TigerHix commented on #1203
And just a little opinion: would we consider specifying different fonts based on the locale? That's because in my Chrome browser on Windows 10, the font "fallback" to the default font 宋体 which is not really... as elegant as Directus's appearance in English.

[2016-08-18 11:44] Kakoum opened #1238 "Fatal error at installation"
Hello guys, i want to try your CMS, but i have a problem :'(

## Version Info
  - Directus version: last github version
  - PHP version: 5.6
  - MySQL version: 5.7
  - Web server: (Ex. Apache, nginx or IIS?): Apache (wamp)
  - OS name and version: Windows 10

## Expected Behavior
Installation :o

## Actual Behavior
Fatal error

## Steps to Reproduce
 1. Simply installation

## Logs or Screenshots

[2016-08-18 14:55] benhaynes commented on #1238
Hey @Kakoum – thanks for the ticket! We will get this resolved and pushed this morning...

[2016-08-18 16:09] #1238 closed

[2016-08-18 16:14] benhaynes commented on #1238
Hey @Kakoum – it looks like this was an issue with the database being in STRICT MODE. We have fixed the issue and you should be able to install without a problem now. We're working toward better support of STRICT MODE in the next few weeks...

[2016-08-18 16:18] Kakoum commented on #1238
Thx boys ! I will try that

[2016-08-18 21:09] jbcoder opened #1239 "I'm getting a login error after installation"
## Version Info
  - Directus version and branch: (Or commit hash): Version 6.3.0RC
  - PHP version: 5.5.8
  - MySQL version: 5.6.15
  - Web server: (Ex. Apache, nginx or IIS?) Apache
  - OS name and version: Windows 10

## Expected Behavior
Install Directus as a local installation.
Login using email and password.

## Actual Behavior
Install Directus as a local installation.
Getting error when subm

[2016-08-18 21:32] WellingGuzman commented on #1239
Hello there @jbcoder,

Is apache mod_rewrite installed?

[2016-08-18 21:36] jbcoder commented on #1239
Yes, it is. All Pre-Installation Checks passed.

[2016-08-18 21:51] WellingGuzman commented on #1239
Is there something in your logs? PHP logs or Directus log (`api/logs`)?

I will try if I can replicate this issue.

[2016-08-18 21:56] jbcoder commented on #1239
The only thing I'm seeing is `development.log` which contains the following:
[code]

[2016-08-18 21:58] laszlokorte commented on #1239
Did you try setting `RewriteBase /` in your .htaccess?

[2016-08-18 22:06] jbcoder commented on #1239
@laszlokorte I just tried that. No different result.

[2016-08-18 22:09] WellingGuzman commented on #1239
Maybe it should've been `RewriteBase /api` instead.

@laszlokorte is this something required by windows servers?

[2016-08-18 22:09] laszlokorte commented on #1239
In the /api/.htaccess as well? (maybe there you need to set `RewriteBase /api`)

[2016-08-18 22:11] jbcoder commented on #1239
I just changed it in /api/.htaccess. That seemed to do the trick! Thanks!

[2016-08-18 22:12] WellingGuzman commented on #1239
Thanks @laszlokorte. Great to hear @jbcoder

I will add this into the `.htaccess` files.

[2016-08-18 22:14] laszlokorte commented on #1239
I think RewriteBase is not required in all cases and might not work in every case. It depends on how the webserver's DocumentRoot is configured.

For example if you install directus into a sub directory RewriteBase might cause an error.

[2016-08-18 22:16] jbcoder commented on #1239
If it helps, I have my dev environment set up like this:

[code]

So, right now I'm accessing the site from directus.dev.

[2016-08-18 22:19] WellingGuzman commented on #1239
Thanks @laszlokorte.
I will add this in the documentation instead.

[2016-08-18 22:21] jbcoder commented on #1239
I don't know if this is related since this is my first time playing around with Directus, but I keep getting modal popup on the main page (tables) that says "You do not have permission to view that page or it doesn't exist". I've even added tables.

[2016-08-18 22:25] laszlokorte commented on #1239
The problem is caused by your VirtualDocumentRoot configuration. When using virtual document roots, apache can not determine the rewrite base path on it's own.

http://blog.lavoie.sl/2012/07/document-root-fix-in-htaccess-when.html

[2016-08-19 02:05] benhaynes commented on #1203
Hey @TigerHix – 70% is great! Looking forward to seeing the final product. And yes, if there's a big difference in Font quality for Chinese we can look into adding conditionals for specific languages. It needs to be open-source, and ideally from the [Google Font library](https://fonts.google.com). Since I can't read Chinese I wouldn't be good at assessing the quality – would you have time to look

[2016-08-19 06:25] Gfast2 commented on #1203
Yeh, I 've suddenly also so much thing to be done for my jobs.

I'll try my best.

[2016-08-19 22:04] Kakoum opened #1240 "Table creation issue"
I have almost the same mistake than : https://github.com/directus/directus/issues/1201
This issue is close and is not the same file, so i recreate a issue :s

## Version Info
  - Directus version and branch: Last version on github, Master or Build
  - PHP version: 5.5
  - MySQL version: 5.6
  - Web server: (Ex. Apache, nginx or IIS?) Apache
  - OS name and version: Windows 10

## Expected Behavior

[2016-08-19 22:32] benhaynes commented on #1240
Hey @Kakoum – are you creating the table in Directus or PHPMyAdmin? Do you have any column in it? If you can export the SQL for the table and include it here that might help. Thanks again for reporting this!

[2016-08-19 23:18] benhaynes commented on #1102
OK, much better. Most of these changes were made – some were not because they weren't as obviously beneficial. We need to continue to add optimizations here, including Docs and column notes in the GUI... but that will happen over time.

[2016-08-19 23:18] #1102 closed

[2016-08-20 00:57] Kakoum commented on #1240
Hello !
I create the table "Articles" in Directus directly. I add two fields (textinput and wyslwyg)
This is my screenshot of phpMyAdmin : http://www.zupimages.net/up/16/33/v7iv.png (4 columns).
After create table "Articles" and add news fields (in Directus), i want click on "Articles" (under "Tables") but i have this error javascript "Cannot read property '_listenerId' of undefined File".
After t

[2016-08-20 01:02] Kakoum commented on #1240
Ok i can create table, is nice.
I can  reproduce the bug with these steps :
- Create new table
- Add field textinput + save item
- Add field wysiwyg + save item
- Save item (save table)

I think is because i create two fields following

[2016-08-20 08:57] pmichaelis commented on #1203
I could also help with the german translation. Is there an open repo with language files? @katywings : can I assist?

[2016-08-20 09:20] katywings commented on #1203
Hey @pmichaelis :D, that would be really cool! From my part the translation in the development branch is sadly my latest version. So you could go from there! @Benhaynes do you have a Discord or Slack group so we could arrange us a little better? (Without always posting into this issue and notify everyone :))

@pmichaelis: @RabbitMC is maybe also working on it!

But @RabbitMC how is it going on you

[2016-08-20 13:34] benhaynes commented on #1203
Thanks @pmichaelis – we really appreciate the help!

Hey All – @katywings had a good suggestion, adding you all to the Directus Slack channel might be easier for communicating. If you shoot me your email address I can send out invites: ben@rngr.org

See you in Slack!

[2016-08-20 13:37] pmichaelis commented on #1203
pmichaelis: pm@thedrama.de

Am 20.08.2016 15:34 schrieb Ben <notifications@github.com>:

Thanks @pmichaelis – we really appreciate the help!

Hey All – @katywings had a good suggestion, adding you all to the Directus Slack channel might be easier for communicating. If you shoot me your email address I can send out invites: ben@rngr.org

See you in Slack!

—
You are receiving this because you were

[2016-08-20 13:50] benhaynes commented on #436
Yeehaw – working now! THanks @WellingGuzman

[2016-08-20 13:50] #436 closed

[2016-08-21 00:42] benhaynes commented on #1203
Thank you all so much for these amazing contributions! We're preparing to merge everything into `master`/`build` for the `6.3` release – so I'm shifting this ticket to `6.4` so it stays alive for new language additions.

☑️ 🇺🇸
☑️ 🇩🇪
☑️ 🇨🇳
☑️ 🇫🇷
☑️ 🇪🇸

[2016-08-21 01:47] WellingGuzman commented on #1239
Thanks @laszlokorte, for helping out, it seems what you told him lead him to fix the server configuration problem.

@jbcoder I assume you have already fixed your issue, if that's not the case let us know.

[2016-08-21 01:47] #1239 closed

[2016-08-21 15:35] benhaynes commented on #1215
This UI is working really well now (two translation fields also work), thanks @WellingGuzman

[2016-08-21 15:35] #1215 closed

[2016-08-21 15:48] benhaynes commented on #1240
Hey @Kakoum – we're having trouble replicating this issue so we're going to move it to the `6.3.1` patch. We'll fix it as soon as we can find find reliable steps to reproduce. Thanks again for reporting! Let us know if you're still experiencing it after upcoming the `6.3` merge and deploy.

[2016-08-23 20:59] benhaynes opened #1242 "New WYSIWYG UI Module"
_There are several issues/limitations with the current WYSIWYG interface module, below are the requirements for the new UI:_
## Design

The style of the UI **must** conform to that of Directus Core. Intuitive, minimal, and following the same CSS styles/colors/states. Buttons should be flat and free of gradients. Iconography should not have color.
## Options

All buttons and settings within the UI

[2016-08-23 21:56] benhaynes commented on #1242
Additionally, we have opened up a **[BountySource](https://www.bountysource.com/issues/37216910-new-wysiwyg-ui-module) item for $250** to try and get a quality UI built more expeditiously.

[2016-08-23 23:09] laszlokorte commented on #1242
What to you think about markdown support? Ie converting the content to markdown before saving it to the database.

Or something like:
https://simplemde.com/

[2016-08-23 23:13] benhaynes commented on #1242
Exactly @laszlokorte – I had included that under `Optional Formatting Buttons` as I don't think it's required. I think it could be a useful UI Option... or it could be it's own UI module (since it's so useful).

The real question is how how we delineate each module. @WellingGuzman and I just discussed this at length for the `datetime`, `date`, and `time` modules... should they be combined, extende

[2016-08-24 01:04] benhaynes commented on #997
Duplicate.

[2016-08-24 01:04] #997 closed

[2016-08-24 09:26] laszlokorte opened #1243 "ENUM/SET"
## Version Info
  - Directus version and branch: d8264b3da

Creating an ENUM UI with a SET column is currently not possible because the length field is hidden but a SET column requires the options to be specified.

[2016-08-24 09:29] laszlokorte opened #1244 "Date UI auto-populate_when_hidden_and_null"
## Version Info
  - Directus version and branch: d8264b3da

The UI option to autopopulate the a date field when it's hidden and null currently has no effect.

[2016-08-24 15:04] benhaynes commented on #1244
Thanks @laszlokorte! Must have missed this in our datetime/date/time overhaul a few weeks ago.

[2016-08-24 15:05] benhaynes commented on #1243
Good catch! As always, we appreciate the testing/tickets!

[2016-08-25 20:06] kamikazechaser opened #1245 "NodeJS Server side + mongoDB support"
**This is a mongoDB port request and NodeJS server-side port request**

This is in relation to:
https://github.com/directus/directus#new-contributors

Reason:

NodeJS => Very popular server-side language hence easy to find contributors!
mongoDB=> Very popular database usually used together with a NodeJS app!

P.S I will get intouch to see if I can contribute and also bring others on board!

[2016-08-25 20:45] WellingGuzman commented on #1245
Hello @kamikazechaser, you must open request to http://feathub.com/directus/directus.
You can open both request for MongoDB and NodeJS server-side.

We have priority on nodeJS, we are polishing our PHP server side first, and making a better API design.

If you are onboard to help please let us know.

Feathub - [MongoDB Support](http://feathub.com/directus/directus/+68)
Feathub - [NodeJS API](http:

[2016-08-25 20:45] #1245 closed

[2016-08-25 20:47] benhaynes commented on #1245
Thanks for the recommendations @kamikazechaser! I agree that supporting both of those would be awesome. We have a small core team right now and are focusing on stability, the API, and Docs... but would 100% support anyone who was interested in creating a pull-request for those ports.

Thanks again!

[2016-08-26 13:18] chrisys commented on #1242
What about text alignment tools? This is something that seems to be overlooked in a lot of editors but is frequently asked for by our users.

[2016-08-26 13:37] benhaynes commented on #1242
Good thinking @chrisys – we can add those as optional buttons as well. Typically we try to keep any formatting that borders on design out of the content – but I too have had clients request this option.

[2016-08-26 17:19] benhaynes opened #1246 "User Password is not hashed when editing fields in reverse"
If you fill in the two User Password fields in the reverse order (confirm, then pass) it will not hash... which means the page won't save. The temporary fix is to go back and edit the passwords in the correct direction.

[2016-08-27 05:22] WellingGuzman commented on #1243
This [commit](https://github.com/directus/directus/commit/93be0caeef89e58f77d0c1b3a21b4c8a6c938411) should've fixed this.

The way to set the value list is by typing values separated by comma in the "length" field.

[2016-08-27 05:22] WellingGuzman commented on #1244
https://github.com/directus/directus/commit/030a2ec2f940da8520e249e8dd2206065906e9ea should fix this issue.

[2016-08-30 00:07] #1243 closed

[2016-08-30 00:07] #1244 closed

[2016-08-30 00:40] WellingGuzman commented on #1240
@Kakoum We've found the bug and fixed it.

Tables were being saved as `nav_listed = 0` that prevented the table from being listed in the navigation (sidebar).

[2016-08-30 00:40] #1240 closed

[2016-09-05 12:08] YounessTayer commented on #1025
Hi;
I never get Directus working on my linux mint local machine. I create a valid user from the phpmyadmin interface (password with SHA1encyption).

Why I get always the following error messge : Wrong username/password?

Thanks;

[2016-09-05 12:22] YounessTayer opened #1251 "Login error message : help Wrong username/password"
Hi;

The installation is well hapened, but the login is impossible( I have one user that I created from the phpmyadmin panel, I encrypted the pasword with SHA1. I still receiving this error message :
_Wrong username/password_.

Any idea to resolve this issue will be very appreciated.

Thanks,

[2016-09-05 16:57] WellingGuzman commented on #1251
Hello @YounessTayer What exactly are you trying? how are you creating the user?

Have you tried this: https://github.com/directus/docs/blob/master/04-developer/06-schema-guide.md#manually-setting-passwords

Perhaps this:

[code]

Let me know if that works for you.

[2016-09-06 14:57] niseku opened #1252 "Add-, Choose-, Remove Button is not shown when editing a M2M relationship"
## Version Info
  - Directus version and branch: v.6.3.1
  - PHP version: 7
  - MySQL version: 5.6
  - Web server: Apache

## Expected Behavior
There should be a Button for adding, removing or choosing a M2M relation.

## Actual Behavior
Just a Table with selected Items is shown (The Field Images is a M2M Relation):
![unbenannt](https://cloud.githubusercontent.com/assets/16119608/18278418/568fb77c

[2016-09-06 15:47] benhaynes commented on #1252
Thanks @niseku! We're looking into this now. Can you go back into the UI options and confirm those checkboxes are still checked?

[2016-09-06 16:06] #1252 closed

[2016-09-06 16:07] WellingGuzman commented on #1252
Thanks @niseku, I pushed a patch to the master branch that should fix this problem (7f4937b) let us know if that worked for you.

[2016-09-06 17:46] benhaynes commented on #1251
Hey @YounessTayer – thanks for reporting this! Any update on this user creation issue? It seems like you might have encrypted the user's password incorrectly, but we want to make sure your issue is resolved.

Let us know! :)

[2016-09-07 14:48] perazzi commented on #1203
I'd be happy to contribute translating to Brazilian portuguese.
I have a question though. Does directus also provide multi-language support for the content?

[2016-09-07 19:10] benhaynes commented on #1203
@perazzi – What Welling said is exactly right, Directus supports multilingual content that is stored relationally in the database – meaning you can have as many languages as you want for your project.

Also, very excited to add Brazilian Portuguese to the growing list! Thank you!!

[2016-09-08 06:17] neosign opened #1253 "Cannot add/modify field on table (PDO errors:42000 - 1064 - You have an error in your SQL syntax;)"
## Version Info
  - Directus version and branch: 6.3.2 (master)
  - PHP version: 7.0 and 5.6
  - MySQL version:  5.5.42
  - Web server: (Ex. Apache, nginx or IIS?)  : Apache 2.4 (MAMP)
  - OS name and version:  MacOS10.10.5 (MAMP)

## Expected Behavior
Add field in settings schema

## Actual Behavior
Error msg box shows
Server Error
Statement could not be executed (42000 - 1064 - You have an error

[2016-09-08 10:33] neosign commented on #1253
After spent time debugging, I found that problem is on AclAwareTableGateway.php following the picture.
![screen shot 2559-09-08 at 5 31 00 pm](https://cloud.githubusercontent.com/assets/4457571/18346425/3e32e52a-75ea-11e6-9cdb-414efd52e93a.png)

[2016-09-08 13:19] benhaynes commented on #1253
Good find @neosign! We're looking into this now... though it looks like your proposed fix is the way to go!

Thank you very much for reporting this and identifying a solution – very helpful!

[2016-09-08 14:49] #1253 closed

[2016-09-09 04:46] neosign opened #1256 ""Create New Item" on table which has relationship field not working"
## Version Info
 - Directus version and branch: 6.3.2 (master)
 - PHP version: 7.0 and 5.6
 - MySQL version: 5.5.42
 - Web server: (Ex. Apache, nginx or IIS?) : Apache 2.4 (MAMP)
 - OS name and version: MacOS10.10.5 (MAMP)

## Expected Behavior
"Create New Item" table which has relationship  must show input form.

## Actual Behavior
![bug2](https://cloud.githubusercontent.com/assets/4457571/183755

[2016-09-09 12:11] benhaynes commented on #1256
Thank you @neosign! Always some sneaky bugs after a big release. We're looking into this now and will push a fix asap.

[2016-09-09 14:36] WellingGuzman commented on #1256
Thanks again @neosign , I could replicate the issue and push a patch, hoping this would solve your problem as well.

[2016-09-09 14:40] #1256 closed

[2016-09-11 13:22] realpablodias opened #1257 "Date field validation on new items"
## Version Info
  - Directus version and branch: master (7cc303a9049a5acf725ef9bb73f25ae98c059138)
  - PHP version: 5.5.38
  - MySQL version: 5.6.28
  - Web server: Apache
  - OS name and version: Debian 4.7.2-5

## Expected Behavior
The date and date-time fields should save the selected date when inserting new items.

## Actual Behavior
After inserting a new item, the date field comes as _invalid

[2016-09-11 13:40] benhaynes commented on #1257
Good find! Thank you for reporting this @realpablodias! We'll get this resolved asap and push a fix.

Appreciate the help!

[2016-09-11 17:07] WellingGuzman commented on #1257
Hey there @realpablodias, thanks for the report.

I tried your steps and unfortunately I couldn't replicate it, is there something else I need to be aware to replicate it?

[2016-09-11 17:18] realpablodias commented on #1257
Hi folks. I really appreciate your attention.

I'll try to replicate it in a fresh new install to make sure it isnt a false alarm and let you know soon. Maybe it's  just here?

[2016-09-13 03:01] realpablodias commented on #1257
Ok, I just got a fresh new install. New project clone, new database, a simple table created from Directus, added a Date field, a Text field, made these fields required and... There's the error.

How can I help you guys with this hunt? Would you like SFTP access to this server? Maybe the database schema?

The only thing I noticed is the missing mod_rewrite during the pre install checks although eve

[2016-09-13 14:47] WellingGuzman commented on #1257
Hey @realpablodias, sorry for the delay,

I created a new fresh install as well, and I am now replicating the issue, I will fix this as soon as possible.

Thanks for all the information.

[2016-09-13 15:28] beevelop opened #1258 "CLI Installation: User setup fails (since 6.3)"
## Version Info
  - Directus version: v6.3.0
  - PHP version: 7.0
  - MySQL version: 5.5
  - Web server: Apache
  - OS name and version: Debian Jessie

## Expected Behavior
Seamless and uncomplicated setup like in the good old times. :shipit:

## Actual Behavior
[code]

## Steps to Reproduce
 1. Use [Docker-Directus](https://github.com/beevelop/docker-directus) with Docker-Compose
 2. Create `api/

[2016-09-13 15:43] beevelop opened #1259 "CLI Installation requires config.php"
## Version Info
- Directus version: v6.3.0
- PHP version: 7.0
- MySQL version: 5.5
- Web server: Apache
- OS name and version: Debian Jessie

## Expected Behavior
Installation via CLI should not require `config.php` to exist and just create it.

## Actual Behavior
[code]

[code]
## Steps to Reproduce
 1. Launch [Docker-Directus]() with Docker-Compose
 2. Be greeted by the error log from above.

##

[2016-09-13 16:04] WellingGuzman commented on #1259
Thanks @beevelop, I will push a fix as soon as possible.

[2016-09-13 16:04] WellingGuzman commented on #1258
Not good, @beevelop thanks for letting us know. Working on a fix asap.

[2016-09-13 17:05] #1259 closed

[2016-09-13 17:05] #1258 closed

[2016-09-13 17:06] WellingGuzman commented on #1258
Hey @beevelop I pushed a fix, let me know if that worked for you. see #1259

[2016-09-13 17:12] benhaynes commented on #1259
Thank you @beevelop! We really appreciate you reporting this issue! 👍

[2016-09-13 17:12] benhaynes commented on #1258
Excellent – thanks again @beevelop... this is a huge help!

[2016-09-13 17:52] #1257 closed

[2016-09-13 17:56] WellingGuzman commented on #1257
@realpablodias let me know if that fix works for you.

[2016-09-13 17:59] realpablodias commented on #1257
Works like a charm, @WellingGuzman. Many thanks! ;)

[2016-09-13 18:00] WellingGuzman commented on #1257
Excellent! Glad to hear.

@realpablodias anything else let us know :)

[2016-09-13 20:54] beevelop commented on #1258
@WellingGuzman Wow, thank you for the fast fix. By rebuilding the Docker image from master, I can confirm it to be working. I will incorporate the required changes with your next release into the Dockerfile.

[2016-09-17 16:09] luissantos opened #1261 "One-To-Many Relationship errors"
Hi every time i try to select a record from an foreign table a JS error is thrown and the foreign key is not added to the record being inserted.

`EntriesModel.js?bust=1aahfii2fk3jtvn6e4sej3o5e7:45 Uncaught TypeError: Cannot read property 'get' of undefinedget @ EntriesModel.js?bust=1aahfii2fk3jtvn6e4sej3o5e7:45(anonymous function) @ table.bodyview.js?bust=1aahfii2fk3jtvn6e4sej3o5e7:75_.each._.for

[2016-09-17 16:12] benhaynes commented on #1261
Thanks @luissantos – we're looking into this now! Appreciate you posting this...

[2016-09-17 16:30] luissantos commented on #1261
I'm trying to understand what the problem is but i'm not familiar with the code base.
If you need more information please let me know.
Let me know once you have a patch i would like to help test it.

[2016-09-17 16:37] WellingGuzman commented on #1261
Hi @luissantos,

Thanks for reporting this, I couldn't replicate the issue can you tell us more about the table schema of both table, `Table X` and the table is the `one to many` related to.

When exactly this happen? after clicking save? or when you choose the item?

[2016-09-17 17:08] luissantos commented on #1261
@WellingGuzman It happens when i choose the the item.
A Test can be associated with many products.
<img width="1713" alt="screen shot 2016-09-17 at 18 06 41" src="https://cloud.githubusercontent.com/assets/1204950/18609737/8aaf5d8e-7d01-11e6-90d2-0ece0592e469.png">
<img width="1697" alt="screen shot 2016-09-17 at 18 06 22" src="https://cloud.githubusercontent.com/assets/1204950/18609738/8ab34174-7

[2016-09-17 17:15] luissantos opened #1262 "Duplicated column name error"
I'm getting a duplicate column name error but the column isnt visible while editing the table.

Version: 6.3.3

<img width="1234" alt="screen shot 2016-09-17 at 18 12 42" src="https://cloud.githubusercontent.com/assets/1204950/18609789/851c3594-7d02-11e6-8cc8-d015f794673e.png">
<img width="1230" alt="screen shot 2016-09-17 at 18 12 15" src="https://cloud.githubusercontent.com/assets/1204950/186097

[2016-09-17 17:15] luissantos commented on #1261
Some how my column disappeared and now i can't add it again.
https://github.com/directus/directus/issues/1262

[2016-09-17 17:22] luissantos opened #1263 "Error creating table"
I got an error while creating creating the first table but the table was created successfully.

`
SchemaManager.js?bust=1aahfii2fk3jtvn6e4sej3o5e7:243 Uncaught TypeError: Cannot read property 'toJSON' of undefined
`

Version: 6.3.3
PHP Version: PHP 5.5.9-1ubuntu4.9

[2016-09-17 17:23] luissantos commented on #1263
Same thing happened while creating the second table.

[2016-09-17 17:24] luissantos commented on #1261
https://github.com/directus/directus/issues/1263
I was trying to start fresh but every time i add an table i got an error.

[2016-09-17 17:26] luissantos commented on #1261
wget https://github.com/directus/directus/archive/6.3.3.tar.gz

[2016-09-17 17:43] luissantos opened #1264 "Vagrant Box installation fails on OSX"
Vagrant box installation fails.

`==> default: /home/vagrant
==> default: PHP Warning:  mysqli::mysqli(): (28000/1045): Access denied for user 'directus'@'localhost' (using password: YES) in /var/
www/html/directus/vendor/directus/migrations/lib/Ruckusing/Adapter/MySQL/MySQLBase.php on line 1294
==> default: PHP Fatal error:  Uncaught
==> default: MySQLBase.php(1296) :
==> default:
==> default: Co

[2016-09-17 17:50] WellingGuzman commented on #1264
Thanks for reporting this @luissantos as we have a open similar ticket for vagrant  on his own repo https://github.com/directus/directus-vagrant/issues/16 I will close this and will address the problem over there.

This is a odd issue to me, I can't replicate it, I was thinking it was something to do with Windows or Vagrant version, but apparently is not.

Thanks for the detailed report. I will tr

[2016-09-17 17:50] #1264 closed

[2016-09-17 18:41] WellingGuzman commented on #1261
This is not good, I'm is your server like?

I'm working on these issues now, thanks again for reporting all this.

[2016-09-17 19:24] luissantos commented on #1261
@WellingGuzman I'm using the official vagrant box.

https://github.com/RNGR/directus-vagrant.git

Linux directusdemo 3.13.0-51-generic #84-Ubuntu SMP Wed Apr 15 12:08:34 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

Apache version:  2.4.7-1ubuntu4.4

[2016-09-18 20:14] WellingGuzman commented on #1261
Hey @luissantos we have been unable to replicate this issue.

Can you please give us the schema you are using with Directus? (You can avoid all the unrelated tables that aren't `directus_`)

Thanks

[2016-09-18 20:46] luissantos commented on #1261
I'm using the vagrant box and i'm always getting the same error.

[directus.sql.gz](https://github.com/directus/directus/files/478985/directus.sql.gz)

[2016-09-19 03:55] WellingGuzman commented on #1261
Thanks for the schema @luissantos , I'm going to try to replicate it using your schema.

[2016-09-26 17:58] benhaynes opened #1265 "Creating/Updating User Interfaces"
We're looking for new or updated interfaces for Directus. These are simple standalone javascript modules that provide ways to interface with different data types (TEXT, INT, BOOL, etc).
### Helpful Docs

[Intro to UIs](https://github.com/directus/docs/blob/master/05-custom-uis/01-Introduction.md)
[Creating a UI](https://github.com/directus/docs/blob/master/05-custom-uis/02-create-an-ui.md)
[UI Opt

[2016-09-27 02:52] Vienneww commented on #889
I am also having the same problem. When I check the loaded modules in phpinfo, mod_rewrite is in it but in pre-check step of installation in Directus appears to be like:
Mod_Rewrite Enabled (Learn More)	No

I also check the DIRECTUS_PATH in config.php, which is the same path of index.php.

[2016-09-27 03:45] WellingGuzman commented on #889
@Vienneww what OS are you using? apache or nginx? how are you trying to install Directus? From the master branch, the build branch?

[2016-09-27 03:47] WellingGuzman commented on #889
@Vienneww another question if you go and click install will it work?

[2016-09-27 04:22] Vienneww commented on #889
Im using Apache, i downloaded it from https://github.com/directus/directus/tree/build.
When I click install, I get HTTP ERROR 500.

[2016-09-27 04:31] WellingGuzman commented on #889
@Vienneww Thanks for the info. What operative system are you using?

[2016-09-27 04:38] Vienneww commented on #889
Im using amazon linux ec2.
Thanks so much for the help!

[2016-09-27 04:41] WellingGuzman commented on #889
Thanks for the info, _I checking off item from the list_, another question how your `api/config.php` looks like, you can remove any sensitive data like your server host and database user and password. and share the rest.

[2016-09-27 04:48] Vienneww commented on #889
Here is my api/config.php after clicking INSTALL. Thanks~
[config.docx](https://github.com/directus/directus/files/494590/config.docx)

[2016-09-27 04:57] WellingGuzman commented on #889
I will keep asking bunch of questions here, so I've seen so far everything have been all good.
PHP Version: ?
Apache Version: ?
Anything on php/apache logs about the HTTP 500 error?

We've been informed about this issue before, and we couldn't replicate it, it will be helpful we can help each other here to fix it.

[2016-09-27 05:13] Vienneww commented on #889
About HTTP 500 ERROR, I got this log updated
[accesslog.docx](https://github.com/directus/directus/files/494627/accesslog.docx)

[2016-09-27 05:30] WellingGuzman commented on #889
Really appreciate the help, It seems the mod_rewrite is not actually enabled, OR there's a issue creating the endpoint.

On your phpinfo what `Server API` and `Loaded Modules` says?

[2016-09-27 05:42] Vienneww commented on #889
Server API: Apache 2.0 Handler
Loaded Modules:
core mod_so http_core mod_rewrite mod_access_compat mod_actions mod_alias mod_allowmethods mod_auth_basic mod_auth_digest mod_authn_anon mod_authn_core mod_authn_dbd mod_authn_dbm mod_authn_file mod_authn_socache mod_authz_core mod_authz_dbd mod_authz_dbm mod_authz_groupfile mod_authz_host mod_authz_owner mod_authz_user mod_autoindex mod_cache mod_cac

[2016-09-27 05:49] WellingGuzman commented on #889
Thanks again, so you are good there then, you should check your apache configuration. and see if you have `AllowOverride All` under `<Directory>`?

[2016-09-27 07:14] Vienneww commented on #889
Sorry for the late. Yes, in my httpd.conf under <Directory>, it is:
<Directory />
    #AllowOverride none
    AllowOverride All
    Require all denied
</Directory>

[2016-09-27 07:39] WellingGuzman commented on #889
@Vienneww Thanks for the info, isn't there another `<Directory>` that looks like `<Directory "/var/www/html">` with a path to your public path or directus path?

Ex:
[code]

Can you do this to make sure .htaccess is working?

1. Create a new directory `test`.
2. Create a new `.htaccess` file inside `test` directory with the content below:

[code]

3. Create a new php file `mod_rewrite.php` inside

[2016-09-27 08:05] Vienneww commented on #889
In httpd.conf, now its like this:
`<Directory />`
    AllowOverride All
    Require all denied
`</Directory>`

`<Directory "/var/www">`
    AllowOverride All
    # Allow open access:
    Require all granted
`</Directory>`

`<Directory "/var/www/html">`
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
`</Directory>`

`<Directory "/var/www/cgi-bin">`
     AllowOverrid

[2016-09-27 08:56] WellingGuzman commented on #889
string(18) "/test/non-existing"

That means that `mod_rewrite` is enabled. still the installation saying "no" on mod_rewrite?

This is probably because the `api/config.php` is wrong. We are working on display better errors messages.

We are here to help. @Vienneww were you able to install Directus now?

[2016-09-27 09:05] Vienneww commented on #889
No, still cannot install, I'm still getting HTTP 500 ERROR.
But here's what it went through,
1. going to myhost.com on browser
2. filling info and in last step, Mod_Rewrite Enabled (Learn More): Yes
3. click INSTALL
5. HTTP 500 ERROR
6. going to myhost.com on browser
7. Mod_Rewrite Enabled (Learn More): No

So, is that currently the problem is my `api/config.php`?

[2016-09-27 09:08] WellingGuzman commented on #889
I do not think that the HTTP 500 ERROR problem is related to `api/config.php`, is there a log file inside `api/logs/`? or even your php/apache logs (beside access.log)?

[2016-09-27 09:15] laszlokorte opened #1266 "MTM column not created correctly"
Current dev branch.

I just tried to create an MTM column but after reloading the page it was gone again. I looked into the DB and saw that the directus_columns table contained the record but it's data_type value was set to null. Setting it manually to `MANYTOMANY` fixed the problem.

A few minutes before I had a problem that while creating a new MTO field getting an mysql syntax error. Only compl

[2016-09-27 09:18] AeonZh commented on #1203
Hello, I just want to let you know that the link to translation folder is broken, I believe the new one is under /api/locales.
And if you are interested I can work on an Italian translation.

[2016-09-27 09:19] Vienneww commented on #889
in /etc/httpd/logs:
[error_log.docx](https://github.com/directus/directus/files/495058/error_log.docx)
in api/logs:
[2016-09-27log.docx](https://github.com/directus/directus/files/495063/2016-09-27log.docx)

Thanks~

[2016-09-27 09:23] WellingGuzman commented on #889
@Vienneww it seems the user you are using doesn't have the right to `INSERT` granted.

Can you confirm and give the user the right permissions or use another user with enough privileges?

[2016-09-27 09:26] WellingGuzman commented on #1203
Thanks for letting us know. @benhaynes I edited your message to update to paths.

@AeonZh That would be awesome 👍  Go ahead! we would love to see new translations :)

[2016-09-27 09:30] WellingGuzman commented on #1266
Thanks @laszlokorte again for the report.

We've been having a hard time trying to replicate these issues related to relational UIs, it has been reported similar issues recently.

I will try one more time and see if I can replicate these.

Thanks as always.

[2016-09-27 10:23] Vienneww commented on #889
Thanks so much~ I think the major cause is the permission of the DB user, I'll report here soon when the problem is resolved. Much Appreciated!

[2016-09-27 15:51] Marco1886 opened #1267 "YYYY-MM-DD HH:mm:ss (not shown seconds on datetime ui type). User can insert date and time (HH:mm) but is not possible to set seconds (ss)"
Directus 6.3.x

[2016-09-27 15:54] Marco1886 opened #1268 "Unable to login with new user assigned to new Group"
## Steps to Reproduce
 1.  Install directus
 2. Create a new Group Permission
 3. Create new user and set to the user the new Group already create in step 2
 4. Logout
 5. Login with new user.

Actual result:
Unable to login in.
[GroupEditor.txt](https://github.com/directus/directus/files/496040/GroupEditor.txt)

[2016-09-27 17:10] benhaynes commented on #1203
Thanks @WellingGuzman.

@AeonZh we would absolutely love to add Italian to our locales – thank you so much! If you have any questions just let us know – and I appreciate you alerting us to the outdated directory.
🇮🇹

[2016-09-27 17:17] WellingGuzman commented on #1268
Thanks @Marco1886 for the report, we appreciate it.

I will take a look at the issue.

[2016-09-27 17:21] WellingGuzman commented on #889
@Vienneww thanks, we will work on checking for permissions and give the users a better error message.

[2016-09-27 17:26] WellingGuzman commented on #1267
Hey @Marco1886, What do you mean? Not showing on the listing or the input?

[2016-09-27 18:19] Marco1886 commented on #1267
please, find in attach the screenshot. The problem is that i can't set seconds in the ui. The second is setted on db always to 00, but for my project i should set seconds to 59... This is important for example if the cms used to ingest validity period of items. from 00:00:00 to 23:59:59 (24h validity)

![missing possibility to set seconds](https://cloud.githubusercontent.com/assets/22477994/188862

[2016-09-27 23:49] WellingGuzman commented on #889
I will close the ticket as the `mod_rewrite` was resolved.

[2016-09-27 23:49] #889 closed

[2016-09-28 00:17] #1267 closed

[2016-09-28 00:22] WellingGuzman commented on #1267
@Marco1886 This https://github.com/directus/directus/commit/50692320c2d28425818241c939339160028fe3b1 commit should have fix the issue.

[2016-09-28 00:24] benhaynes commented on #1267
Thanks for reporting this @Marco1886!!

[2016-09-28 00:42] WellingGuzman commented on #1268
@Marco1886 did this issue still persist? I wonder if only happened when you first try to log in? then the second time works.

[2016-09-28 01:30] KarteekM commented on #1265
Hello benhaynes,

I would like to contribute to it.
I know this query is vague..Could you let me know where would i start contributing to?

[2016-09-28 06:37] Marco1886 commented on #1267
you're welcome!! ;-)

[2016-09-28 08:12] Marco1886 commented on #1268
i'am able to login only with Administrator user. When i try to login with Editor user, the app crash and if i press F5 to refresh crash another time. The only way to do a new login is clear browser cache. Tested on chrome, same version of #1267

[2016-09-28 09:10] Vienneww commented on #889
yes, giving the db user permission solved the problem. Mod_rewrite is shown enabled in installation page now and It was installed successfully. Thanks a lot!

[2016-09-28 14:06] benhaynes commented on #1265
Hey @KarteekM – that would be amazing! You can email me at info@getdirectus.com and we'll invite you into our Slack to discuss. We'd love to have a passionate developer working on our UIs... here's where I think you could start:

**Adding a New UI Options**
You could start by cleaning up and extending one of our UIs. For example, you could add an option to the Single File UI to take a photo throug

[2016-09-28 22:49] WellingGuzman commented on #889
@Vienneww glad that the problem was solve. Anything else just let us know, we are here to help.

[2016-09-28 23:01] WellingGuzman commented on #1267
Hey @Marco1886 something to know is that, `00` seconds are not shown on Chrome.

And the numbers being disabled is another Chrome thing. BUT I'm glad you find out. I will push a patch for it asap.

Thanks

[2016-09-29 00:06] WellingGuzman commented on #1267
@Marco1886 This [commit](https://github.com/directus/directus/commit/f6c8247ad364e78ee5aeae3be1d4a40af12c5ae0) should have fix the issue.

[2016-09-29 00:20] WellingGuzman commented on #1261
Hey @luissantos I finally could replicate the issue, let me know if this [commit](https://github.com/directus/directus/commit/0e444e6a943d7054ab0686cd7390915ea2bbe542) worked for you too.

[2016-09-29 00:36] WellingGuzman commented on #1262
Can you confirm this still happening to you? I couldn't replicate it. (lil bit late) but which steps did you do to reproduce this?

Thanks, and sorry for the delay with this one.

[2016-09-29 07:08] Marco1886 commented on #1267
I confirm! fixed! Thanks!

[2016-09-29 16:09] WellingGuzman commented on #1267
@Marco1886 Great 🎉

[2016-09-29 17:44] timonmat commented on #1268
I probably the same issue.  Same exact steps anyway.
http://pastebin.com/iPqYAhMT
Not just once, but every time. clearing the session cookie, is needed to be able to log in again. Admin account continues to work fine, and the new account works via api with the token.

I'm running on docker (rancher) with beevelop/directus image, mysql 5.5 and haproxy in front.

[2016-09-29 17:57] WellingGuzman commented on #1268
Thanks @timonmat, I'm working on a fix, I could replicate the issue.

[2016-09-29 19:08] WellingGuzman commented on #1268
@Marco1886 @timonmat something to notice that I haven't told you, is that this is happening because the new group doesn't have permission to read any field from `directus_users` and this will bring a bug that will `select <empty> from any_table`

Giving the current group the right permission will solve the issue.

What I'm working on is making sure the error it's more friendly AND giving the corre

[2016-09-29 20:17] Marco1886 commented on #1268
Yes, it's correct because when i create new group i can't set these perm on this table. We wait the fix. I think that you should publish 6.3.4 build after the fix so other user can't reproduce this bug

[2016-09-29 21:38] WellingGuzman commented on #1268
@Marco1886 absolutely.

But you can give the group permission using the first user (Admin).

[2016-09-29 23:51] WellingGuzman commented on #1261
This should have been fixed by https://github.com/directus/directus/commit/0ba920ebad760dde85225cb2f6a7b1a8a4b6b126 and https://github.com/directus/directus/commit/0e444e6a943d7054ab0686cd7390915ea2bbe542.

[2016-09-30 05:58] #1261 closed

[2016-09-30 06:16] WellingGuzman commented on #1266
@laszlokorte I'm not still able to replicate it. Any help on which steps should I take to replicate it will be helpful.

Thanks.

[2016-09-30 07:23] WellingGuzman commented on #1268
This [commit](https://github.com/directus/directus/commit/263ca372df4723885c9bd45872560ab6c79000e2) and this [one](https://github.com/directus/directus/commit/e1c528358106d78c73dc4a4023d465ef74e03009) should at least avoid showing that exception and it will automatically log out the user.

Make sure that the group has the needed permission.

We still will work on permission in the next releases, a

[2016-09-30 07:23] #1268 closed

[2016-09-30 07:24] WellingGuzman commented on #1251
Hello @YounessTayer did you manage to solve the issue?

[2016-09-30 07:28] WellingGuzman commented on #1266
Another thing @laszlokorte try get the branch updated and let me know if still happen.

[2016-09-30 08:21] WellingGuzman commented on #1263
@luissantos after days I could replicate the issue: uppercase and linux. Linux is case sensitive, so `Products` and `products` is not the same.

Something to notice is that this can be change, but Directus shouldn't care much about it.

[MySQL identifier case sensitivity](http://dev.mysql.com/doc/refman/5.7/en/identifier-case-sensitivity.html)

[2016-09-30 08:22] #1263 closed

[2016-09-30 18:52] benhaynes opened #1269 "UI Options should be JSON"
Instead of saving UI options as rows within `directus_ui`, we should add a new column (`ui_options`) into `directus_columns` for storing the UIs specific settings.

[2016-10-02 18:01] rammy4real commented on #1265
hello benhaynes. good day. hope you are doing great sir. i would love to contribute to this. just to let you know my skills
     html:
     css
     javascript: basic/beginner
 really do love to be part of your team. promise to give my best and all .
thank you sir.
rammy4real@gmail.com

[2016-10-03 14:56] benhaynes commented on #1265
Hey @rammy4real – that's great to hear! Based on your skill set I would say the modular UIs are the best place to start (see info above). You can duplicate one of the existing UIs and then try to create a few of your own. Once you're happy with it just send it over as a pull-request!

I'll add you to Slack so we can chat over there too...

[2016-10-03 21:22] timonmat opened #1270 "List view filters don't work on joined fields"
I have a table (A) which has a many-to-one relation to another table (B). In the list view of A there is the option filter with dropbox or text values of the joined field. When filter is used it fails with a select error. I tried to modify the filter config in the table settings in many ways, but the error remains the same.

## Version Info
  - Directus version and branch: (master)
  - PHP version

[2016-10-03 21:24] WellingGuzman commented on #1270
Thanks for the report I will take a look at this now.

[2016-10-03 21:27] benhaynes commented on #1270
Thanks @timonmat – we really appreciate you taking the time to report this. We'll follow up here shortly with an update or fix.

[2016-10-03 21:53] #1270 closed

[2016-10-03 21:54] WellingGuzman commented on #1270
Hey @timonmat, I pushed a patch that should fix the issue.

Let us know if it worked for you too.

[2016-10-04 18:46] timonmat commented on #1270
@WellingGuzman, this is verified ok. cheers!

[2016-10-04 18:49] WellingGuzman commented on #1270
@timonmat Amazing!

[2016-10-04 19:02] timonmat opened #1271 "'active' parameter does not work in rest api calls"
the 'active' parameter does not have an effect on the rest api for 'rows'.

## Version Info
  - Directus version and branch: master
  - PHP version: 7
  - MySQL version: 5.5
  - Web server: apache
  - OS name and version: ubuntu 16.04

## Expected Behavior

the active param is according to docs a global param, and should alwasy work.

## Actual Behavior
for example https://example.com/api/1/tables

[2016-10-04 19:37] WellingGuzman commented on #1271
Hello @timonmat, Thanks for pointing this out.

This docs is outdated, we changed `active` to `status`

it should be like this now: https://example.com/api/1/tables/table/rows?status=1

[2016-10-04 20:05] WellingGuzman commented on #1271
@timonmat the documentation have been updated.

http://getdirectus.com/api/tables/rows

Closing the ticket, anything else let us know.

[2016-10-04 20:05] #1271 closed

[2016-10-04 20:08] benhaynes commented on #1271
Sorry for the inconvenience, but appreciate you finding and reporting this @timonmat – thanks!

[2016-10-05 05:47] timonmat commented on #1271
Thanks, and no worries. Found the in[field] param in the updated docs too, which would have been my next question. :)

[2016-10-05 08:20] Zaelot opened #1272 "Messaging system annoyances"
## Version Info
  - Directus version and branch: master (a2a44d9)
  - PHP version: PHP7
  - MySQL version: MySQL 5.5
  - Web server: Apache
  - OS: Debian Jessie

## Expected Behavior
One gets to open and see their own messages. Replies in a message-thread are displayed in the order they were sent.

## Actual Behavior
Sending messages gives a Server Error warning, even though messages are actually

[2016-10-05 08:26] Zaelot commented on #1272
Apparently messages threads are not marked as read if you're in one while it receives new replies. One has to actually go through Messages navigation to get it correctly marked.

Here's a message reply that still has a correct timestamp (that will get corrupted in time). At least when they're all with "Invalid Date" they appear to be in correct order.
![image](https://cloud.githubusercontent.com/a

[2016-10-05 16:25] WellingGuzman commented on #1272
Hello @Zaelot thanks for reporting this, I'm going to take at look at the issue and fix it as soon as possible.

I will add Helsinki now.

[2016-10-05 16:31] WellingGuzman commented on #1272
@Zaelot Helsinki is already on the list: https://github.com/directus/directus/blob/master/api/core/functions.php#L576

You are welcome to add more.

[2016-10-05 18:24] WellingGuzman commented on #1271
:) Great, any other question you may have do not hesitate.

PS: We are working on more filters to be implemented soon.

[2016-10-05 19:06] WellingGuzman commented on #1266
hey @laszlokorte we solved this issue with this https://github.com/directus/directus/commit/1d3dedef91680c141d995cfa1f8bfe90e2d357f5 commit

I'm closing the ticket, if you still having issue let me know and I will open the ticket again.

Thanks

[2016-10-05 19:06] #1266 closed

[2016-10-05 19:08] WellingGuzman commented on #1262
Hey @luissantos we have solved this issue already it was related to the `data_type` being set to null. (https://github.com/directus/directus/commit/1d3dedef91680c141d995cfa1f8bfe90e2d357f5)

If you still having the issue let us know, and we will open the ticket again.

[2016-10-05 19:08] #1262 closed

[2016-10-05 19:09] WellingGuzman commented on #1251
Hey @YounessTayer I assumed you solved the the issue, otherwise we will open the ticket.

[2016-10-05 19:09] #1251 closed

[2016-10-05 23:17] WellingGuzman commented on #1269
By the way MySQL supports JSON data type as for 5.7.8. https://dev.mysql.com/doc/refman/5.7/en/json.html

[2016-10-07 16:48] AeonZh commented on #1203
Hello again, thank you for the opportunity. I'm working on it during the weekends so the process may be take some time.
I'd like to know if there is a guide to have an instance of the application like TigerHix did on let say Heroku, so I can test it (and to make sure everything makes sense). I went through the documentation but as I'm pretty new I couldn't really catch the requirements on the page

[2016-10-07 21:30] RijkvanZanten commented on #1203
Hi all! I started working on the Dutch translations 🇳🇱

[2016-10-07 21:41] RijkvanZanten commented on #1203
It's quite unusual to use formal language instead of personal language on the web in Dutch. We're quite used to imperative speak and being talked to directly. Would you still like me to use formal speak @benhaynes ?

[2016-10-07 22:36] benhaynes commented on #1203
@AeonZh – excellent. No need to be overly literal, whatever you think works best. 😊

@RijkvanZanten – that's amazing! Thank you so much! You can be more informal if you think that's appropriate.

[2016-10-07 23:17] AeonZh commented on #1203
@benhaynes about setting up a personal instance? Where can I find a guide about that?

[2016-10-07 23:45] benhaynes commented on #1203
@AeonZh – almost forgot about that one! You can use these docs to get up and running:

https://github.com/directus/docs/blob/master/01-getting-started/03-installation.md

If you create a hosted account I can give you a few free months, but you can't really preview your code there so that doesn't help.

[2016-10-08 00:02] AeonZh commented on #1203
Oh really? It doesn't matter then. Thanks again.

[2016-10-10 09:16] Zaelot commented on #1272
Yes, thank you. That was indeed the issue, though the resulting behaviour was a bit quirky. :)

[2016-10-10 09:16] #1272 closed

[2016-10-10 12:38] DaveBlooman opened #1274 "Error on front end - Uncaught Type Error"
For some reason, the UI has become really buggy.  I haven't changed anything and we are seeing odd behaviour.  View viewing anything, i get the error in the screenshot below.  Also, UI elements no longer work, so hitting settings cog will append #settings to the URL but not actually redirect.

## Version Info
  - Directus version and branch: 6.3.3
  - PHP version: 5.5
  - Web server: Apache
  - OS

[2016-10-10 18:05] WellingGuzman commented on #1274
Hello @DaveBlooman Thanks for reporting this, I have two question:

1. Are you using the actual tag at 6.3.3 or an specific branch?
2. Which browser are you using?

[2016-10-10 18:07] WellingGuzman commented on #1274
This was fix here: https://github.com/directus/directus/commit/f2a06e30bcf6f53ef2b521a8943d9413dbe6651

[2016-10-10 18:20] DaveBlooman commented on #1274
I am using the 6.3.3 zip from the releases page.  It is happening in Chrome and Firefox, I haven't tried Safari.  It's odd as its just started happening today.

[2016-10-10 18:22] WellingGuzman commented on #1274
@DaveBlooman It's happening because there's a new version, and there's an error there. check the this [commit](https://github.com/directus/directus/commit/f2a06e30bcf6f53ef2b521a8943d9413dbe6651) it should fix your problem.

Update your Directus to 6.3.4

[2016-10-10 18:35] WellingGuzman commented on #1274
Let me rephrase myself, there's a new version, and we added a notification that tell user there's a new version available, so there's an error using the notification object, because it was using uppercase instead of the lowercase filename.

Hope that this solve your problem.

[2016-10-11 07:52] RabbitMC opened #1276 "Cannot Login, Error 404"
## Version Info
  - Directus version and branch: Version 6.3.4
  - PHP version: 7.0.8
  - MySQL version: Ver 14.14 Distrib 5.7.15,
  - Web server: Apache 2
  - OS name and version: Ubuntu Server 16.04.3

I have installed Let's Encrypt on my server to get a secure connection.
After that I have add a new database and a new db user.

Running 'composer install' was successful.

I navigated to my webad

[2016-10-11 09:30] DaveBlooman commented on #1274
Hi, this has solved the issue

[2016-10-11 09:30] #1274 closed

[2016-10-11 10:19] DaveBlooman opened #1277 "table.insert not firing"
Further to the issue I raised yesterday, the latest version seems to have broken my hook, it never gets invoked.

Here is the hook code

[code]
## Version Info
 - Directus version and branch: 6.3.4
 - PHP version: 5.5
 - Web server: Apache
 - OS name and version: Ubuntu

## Expected Behavior
Hook sends message

## Actual Behavior
Hook doesn't send message

## Steps to Reproduce
 1. Create new post

[2016-10-11 16:01] WellingGuzman commented on #1276
Hello @RabbitMC,

Removing the error persists if you removed or add the `RewriteBase`?

Can you try this https://github.com/directus/directus/issues/889#issuecomment-249789534?

[2016-10-11 16:01] WellingGuzman commented on #1277
Thanks for reporting this @DaveBlooman , I'm working on it.

[2016-10-11 16:38] RabbitMC commented on #1276
strange ...

I removed the lines `RewriteBase /` and `RewriteBase /api` from .htaccess files and now its working 👍

[2016-10-11 16:38] #1276 closed

[2016-10-11 16:54] mgkeen opened #1278 "active filter parameter not working for /rows endpoint"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests please use the [Directus FeatHub](http://feathub.com/directus/directus) to make a new request or vote for existing ones, or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be

[2016-10-11 16:56] WellingGuzman commented on #1277
Hello @DaveBlooman, I push a fixes for the issue here: https://github.com/directus/directus/commit/9039d68cbf2474660f88b65615c2449467306164, hope it works for you too.

It's only on development, but it will be soon release.

[2016-10-11 16:59] WellingGuzman commented on #1278
Hello @mgkeen, Thanks for reaching out, we have changed it to `status`.

Calling /api/1/tables/[table]/rows?status=1 should work, and return only the active rows.

Read here: http://getdirectus.com/api/tables/rows

[2016-10-11 16:59] #1278 closed

[2016-10-11 17:21] WellingGuzman commented on #1276
Perfect @RabbitMC, anything else let us know.

[2016-10-12 11:02] DaveBlooman commented on #1277
I haven't tested this, but I assume table.update works too, will report back once i have tried

[2016-10-13 13:13] RabbitMC opened #1279 "Can not upload a pdf to files"
## Version Info
- Directus version and branch: Version 6.3.4
- PHP version: 7.0.8
- MySQL version: Ver 14.14 Distrib 5.7.15,
- Web server: Apache 2
- OS name and version: Ubuntu Server 16.04.3
- Safari 10 on macOS 10.12.0 (Sierra)
## Expected Behavior

I can upload a simple, small pdf file
## Actual Behavior

I drag and drop a pdf file to Item field in files upload, Error Toast/Notification appear

[2016-10-13 22:58] WellingGuzman commented on #1279
Thanks for the report @RabbitMC, Working on a fix.

[2016-10-14 02:16] WellingGuzman commented on #1279
Hey @RabbitMC this commit https://github.com/directus/directus/commit/927616443b518ea3059289a9b53ecc9f2d66dc9e should fix the issue.

Thanks again for reporting this.

[2016-10-14 09:41] RabbitMC commented on #1279
Yeah! Checked it! works! awesome! 🤘

[2016-10-14 15:31] DaveBlooman commented on #1277
Fix works great.  Look forward to the next release

[2016-10-14 15:31] WellingGuzman commented on #1277
Amazing @DaveBlooman, great to hear. As always, anything else, let us know.

Closing it.

[2016-10-14 15:31] #1277 closed

[2016-10-15 17:59] timonmat opened #1280 "textinput readonly flag does not work"
hey, the readonly flag in textinput field type does not seem to have any effect. The field remains editable, and changes are saved to db.

I have a field where i trigger a UUID() in mysql on insert. I'd like it to be visible, but not editable. can't seem to make that happen.
## Version Info
- Directus version and branch: 6.3.4
- PHP version: 7
- MySQL version: Mariadb 10.1.18
- Web server: (Ex. Ap

[2016-10-15 18:09] timonmat opened #1281 "message multi-select on list does not work"
In messages list view the multi-select checkboxes don't work, but take you to the message, which means there's no way to delete messages.
## Version Info
- Directus version and branch: 6.3.4
- PHP version: php7
- MySQL version: mariadb 10.1.18
- Web server: (Ex. Apache, nginx or IIS?) apache
- OS name and version: docker /debian jessie
## Expected Behavior

checkboxes to work, and delete option to

[2016-10-15 19:49] WellingGuzman commented on #1280
Hi @timonmat, I'm working on it.

[2016-10-15 19:53] WellingGuzman commented on #1281
@timonmat thanks for reporting this, I'm going to work on it soon.

[2016-10-15 20:10] WellingGuzman commented on #1280
Hey @timonmat this commit https://github.com/directus/directus/commit/8b726d7cfd8ca2372e493abd43ddabe7c4e293b0 should fix the issue.

Let me know.

[2016-10-16 08:51] rnnyrk opened #1282 "Login server error occured"
## Version Info
- Directus version and branch: 6.3.4
- PHP version: 5.5.9-1ubuntu4.17
- MySQL version: Ver 14.14 Distrib 5.5.49
- Web server: Apache(2)
- OS name and version: macOS El Captain
## Expected Behavior

Install Directus as a local installation.
Login using email and password.
## Actual Behavior

Install Directus as a local installation.
Getting error when submitting email and password.

[2016-10-16 17:50] WellingGuzman commented on #1282
Hello @Ronnyrr,

Did you commented out `RewriteBase /`? try to comment that line and see if it works. Otherwise let us know to help you fix your issue.

[2016-10-16 18:06] Ronnyrr commented on #1282
@WellingGuzman Yes I did comment that line (13) out. Making that line a comment again doesn't solve my issue. Also commenting line 6 `RewriteBase /` in api/.htaccess in or out won't change a thing.

[2016-10-16 18:14] WellingGuzman commented on #1282
@Ronnyrr is your error 500 or 404? can you show me the message that your server throws?

You can take a look at this to test your mod_rewrite: https://github.com/directus/directus/issues/889#issuecomment-249789534

[2016-10-16 18:38] Ronnyrr commented on #1282
I do not exactly know which error status I get, where is this shown?
The log in `api/logs/2016-10-16` shows the following:

[code]

I've also tried your suggested topic. `$_SERVER['REQUEST_URI']` prints the following path: `string(21) "/test/mod_rewrite.php"`

When I'll check my `phpinfo()` the `mod_rewrite` module is loaded.

In my apache config I deleted the lines:

[code]

So my config now look

[2016-10-16 18:40] WellingGuzman commented on #1282
@Ronnyrr Oh so there's not issue with your mod_rewrite, the issue is in Directus, which version, branch are you using?

[2016-10-16 18:43] Ronnyrr commented on #1282
Version 6.3.4 mouse over shows: h9b90cosim433sd5aq7pvm58m6

[2016-10-16 18:50] WellingGuzman commented on #1282
@Ronnyrr update your master branch by using `git pull` and let me know if it works for you now.

[2016-10-16 19:15] Ronnyrr commented on #1282
I completely deleted the CMS and cloned it from github. I'd delete the database tables an did the installation process again.

Unfortunately the "Pre-installation check" says my mod_rewrite still isn't correct. [See this image.](http://oi68.tinypic.com/2nujdqu.jpg)

But when I run `a2enmod rewrite` it prints `Module rewrite already enabled` and `git pull` shows `Already up-to-date.`. Still unable

[2016-10-16 19:36] WellingGuzman commented on #1282
Click install anyway and try to log in and tell me what's the error, this means that there's still an issue with Directus. Check the logs `/api/logs`.

[2016-10-16 19:40] Ronnyrr commented on #1282
I allready did. Still unable to login.
Error log shows multiple errors. This is the **complete** error log:

[code]

There is also a development.log which contains:

[code]

[2016-10-16 19:42] WellingGuzman commented on #1282
Doesn't seem that the install creates all the tables, is your database empty? or missing some tables? show me the tables that the database has.

[2016-10-16 19:47] Ronnyrr commented on #1282
The database does contain tables:

[code]

[2016-10-16 20:05] WellingGuzman commented on #1282
Can you please give me more context of what's going on here?

I see a log that says `Statement could not be executed (42S02 - 1146 - Table 'directus.directus_tables' doesn't exist)`.

Something happens before you install? Are you making sure you are looking at the right database?

[2016-10-16 20:09] Ronnyrr commented on #1282
I would love to, but there isn't much more context to show.
I'd create a database which I install directus in. The database is called directus and the tables mentioned above are inserted in this database (so this looks like it works as expected).

Al my config settings are posted in earlier comments in this topic and I ran `curl -s https://getcomposer.org/installer | php` and `php composer.phar in

[2016-10-16 20:13] WellingGuzman commented on #1282
If possible, can you show me a screencast? I have no clue why if the table exists, zend-db (pdo) throws an error that it doesn't.

Can you also take a look at the network tab while you are installing directus?

[2016-10-19 07:09] raygers opened #1283 "Server Error This query failed: INSERT INTO `directus_activity`"
## Version Info
  - Directus version and branch: directus-6.3.4
  - PHP version: 5.6
  - MySQL version: 5.6.15
  - Web server: XAMPP
  - OS name and version: Windows 10

## Expected Behavior
When adding a new record there should be no server error.

## Actual Behavior
Saving a record produces the following error:
Server Error
This query failed: INSERT INTO `directus_activity` (`type`, `table_name`

[2016-10-19 14:11] RabbitMC opened #1285 "How To: One To One Relationship"
Hi,

what is the best practice for my following problem.

I have two tables: `item` and `event`

The user can add one event to one item, when adding a new item. What is the best FIELD for? MANY_TO_MANY, MANY_TO_ONE_TYPEAHEAD, MANY_TO_ONE, ONE_TO_MANY?

Goal is to get an "event" row in api-call response. Any ideas? Or is my design ugly?

Trying MANY_TO_MANY with a extra junction table works, but in

[2016-10-19 15:12] WellingGuzman commented on #1283
Thanks @raygers for reporting the issue I will take a look and get back to you as soon as possible.

[2016-10-19 15:20] WellingGuzman commented on #1285
Hi @RabbitMC,

Using MANY TO ONE, you can quite do a One to One or kind of One to one or none.

Are you having trouble with many to one UI? Because you can add a many to one on `item` to point to `event` and event will always be ONE TO ONE, as the `event` table will always point to only one `item` (_OR None_)

[code]

[code]

in this case an `event` will always a relationship with one item, but th

[2016-10-19 16:10] #1283 closed

[2016-10-19 16:11] WellingGuzman commented on #1283
Hey @raygers I pushed a fix for this issue, let me know if it works for you.

[2016-10-19 16:59] WellingGuzman commented on #1282
@Ronnyrr I will close this as this is not directly related to directus.

I can still help you, _if still necessary_, on setting up Mod Rewrite.

[2016-10-19 20:06] raygers commented on #1283
Thanks @WellingGuzman. I applied the latest files and the error has been resolved.

Many thanks for the quick response.

Regards
Ray

[2016-10-19 20:07] WellingGuzman commented on #1283
Glad to heard 👍 , anything else let us know.

[2016-10-19 22:38] Ronnyrr commented on #1282
Yes please. I'm still not able to get it working.
Can you tell me what I did wrong or which apache settings I'm missing?

[2016-10-20 17:09] benhaynes commented on #1282
Hey @Ronnyrr – I've invited you to our Directus Slack channel... we can help you figure this out over there. 👍

[2016-10-23 09:31] RabbitMC commented on #1285
Thanks for.
I will do it with a Many to Many relationship now, because the focus has changed.

[2016-10-23 09:31] #1285 closed

[2016-10-24 03:40] WellingGuzman commented on #1285
Great @RabbitMC, anything else, let us know.

[2016-10-24 08:50] JackNUMBER opened #1286 "Form items are broken when content is too long"
## Version Info
  - Directus version and branch: 6c1b811
  - PHP version: 5.6.25
  - MySQL version: 5.7.14
  - Web server: Apache 2
  - OS name and version: Windows 10 (WAMP)
  - Chrome / Firefox on Windows 10

## Expected Behavior
Form items should fit their content and display nicely.

## Actual Behavior
The item's width is fixed, so some content is hidden or button design broken.

## Steps to R

[2016-10-24 17:37] WellingGuzman commented on #1286
Thanks @JackNUMBER for reporting this. We will work on a fix for this soon.

[2016-10-26 15:55] benhaynes opened #1288 "allowed_filetypes option not working within Single File UI"
It looks like this option is not working, expected functionality is that providing a CSV of filetypes (extensions) would whitelist the possible file types that can be uploaded.

Eg: `jpg,gif,png`

[2016-10-28 18:49] benhaynes commented on #1286
Thank you @JackNUMBER for reporting this! We'll certainly have to go back and check for any places where longer translations break the initial design. I've resolved these two and checked for others, if any others appear let me know!

We're working on a design refresh for an upcoming version... we'll make sure this is considered for that subversion.

[2016-10-28 18:49] #1286 closed

[2016-10-31 20:44] Rsmith919 opened #1290 "exception 'ErrorException' with message 'Declaration of Directus..."
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests please use the [Directus FeatHub](http://feathub.com/directus/directus) to make a new request or vote for existing ones, or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be

[2016-10-31 20:49] WellingGuzman commented on #1290
Hello @Rsmith919, I see you are using the build version, can you please use the `development` or `master` branch?

We are releasing the a new version patching this issues.

I'm closing it as it's being fixed, but I'm aware of the problem on the build branch, and I'm going to release as soon as possible today.

Thanks for letting us know about this issue.

[2016-10-31 20:49] #1290 closed

[2016-11-01 14:00] DaveBlooman commented on #1143
@WellingGuzman I just tried a fresh install of Directus from the latest release tag and getting this issue with AWS RDS MySQL.

[2016-11-01 14:03] WellingGuzman commented on #1143
Hey @DaveBlooman, can please send me any logs, _if any_, on `api/logs`?

Are the rest of the table created? `directus_*` (What are all the tables prefixed with it)

[2016-11-01 14:11] michieltjuh11 opened #1291 "Enable CORS [setting custom headers]"
As of now I got a small hack going for me witch is quite nice ^^.
Though I want to make a nice and clean implementation of it.

Things it should do:
- [ ] Enable via settings
- [ ] Configurable via settings (add custom headers and what not)
- [ ]  Handle preflight requests

[2016-11-01 14:34] DaveBlooman commented on #1143
@WellingGuzman I resolved my issue.  For some reason, when supplying a config.php, it creates an error, but if you leave that file out, run the provisioning via the web UI, it works fine, even though the same file is output.

My use case is that I build Amazon Machine Images with code already in, this was the first time i tried the AMI with a new fresh database.  I guess there is something for the

[2016-11-01 17:09] WellingGuzman commented on #1288
This should've been fixed by now (`development` branch), otherwise we will re-open it.

[2016-11-01 17:09] #1288 closed

[2016-11-02 13:48] RijkvanZanten opened #1293 "POST API requests failing"
When doing a [post request to create a new row](http://getdirectus.com/api/tables/create-row) in a table I get the following error: `array_key_exists() expects parameter 2 to be array, null given`. This happens for the Create Table endpoint as well. Create Column fails too, but returns `Undefined index: data_type` as error.

## Version Info
  - Directus version and branch: v6.3.4 (Lapis Lepus) mas

[2016-11-02 15:23] WellingGuzman commented on #1293
Hey @RijkvanZanten,

Thanks for report this, I'm working on a fix right now, it will be pushed soon enough.

[2016-11-02 15:34] WellingGuzman commented on #1293
Hey @RijkvanZanten let me know if this commit 6b58d1c fixed the issue.

[2016-11-02 15:56] WellingGuzman commented on #1293
False alarm, I need to work with JSON as well. as it was to be expected normally.

[2016-11-02 15:58] RijkvanZanten commented on #1293
The commit fixed the initial issue.

[2016-11-02 16:05] WellingGuzman commented on #1143
Hey @DaveBlooman,

What was the actual problem, I didn't get it. So you meant that you created the `config.php` and `configuration.php` manually and it didn't work until you created Directus using the installer?

How did you create all the core tables, such as `directus_tables`?

I'd love to see what was the actual issue.

[2016-11-02 16:07] WellingGuzman commented on #1293
@RijkvanZanten Amazing. I pushed another fix for when the request body was a json.

[2016-11-02 16:07] #1293 closed

[2016-11-02 16:08] WellingGuzman commented on #1280
Hey @timonmat Closing it. let me know if I didn't work and I will reopen it and work on it.

Thanks,

[2016-11-02 16:08] #1280 closed

[2016-11-02 16:10] RijkvanZanten commented on #1293
Ah great, I didn't even know that was supported. Is that in the API docs somewhere? @WellingGuzman

[2016-11-02 16:12] WellingGuzman commented on #1293
Yes, it's supported, but I'm afraid is not in the docs. Added a ticket for it https://github.com/directus/docs/issues/11

[2016-11-02 17:08] DaveBlooman commented on #1143
I had previous done a setup of Directus in an AWS account by going through the web installer.  Once I knew what files i needed, i automated the process and bake amazon images.  I attempted to use the existing image with a new database.  This didn't work, so i assumed it must be the config.php existence causes Directus to assume a bunch of things, the DB has everything setup for example.

I guess I

[2016-11-02 17:47] benhaynes opened #1294 "Multiple files UI: Deleting File resets order"
If you reorder thumbnails within the Multiple Files UI, then delete a thumbnail... the order resets to the original saved value.

[2016-11-06 22:17] andreasotto opened #1295 "Creating Table with German Umlaut (UTF-8) results in error"
Trying to create a table with a name which contains special chars like ä ö or ü (like Ernährung) results in an erroneous table name with underscore instead of correct letters.
The underlying database is utf-8. Creating tables manually from shell using mysql cli with utf-8 letters works as expected. Are there any settings in directus which i can check? Creating table names with utf-8 is essentially

[2016-11-07 14:45] benhaynes commented on #1295
Thanks @andreasotto – a lot of users were adding table/column names that were invalid so we added a auto-formatter that is a bit too strict. We're resolving this in the next release of Directus. In the meantime you can add/rename tables/columns directly in the database.

Appreciate you taking the time to report this!

[2016-11-07 14:56] andreasotto commented on #1295
Adding such a table directly in the database results in a red warning Alert
"Server Error" without further information while trying to add an item to
the table. Though that is not a solution. Any chances for a quick
workaround?

Am 07.11.2016 3:45 nachm. schrieb "Ben" <notifications@github.com>:

[2016-11-07 15:11] WellingGuzman commented on #1295
Hello @andreasotto, that's odd, we are curious was causing you the issue, I have tried with german characters before and it works, but again, I'm more interested in your issue to it can be solved.

Is there any log file in `api/logs`? if so, can you share it?

[2016-11-07 18:57] mkly commented on #1019
I see this was changed to Ready and Testing but didn't see any images available so I ended up making one for my use. Is it available somewhere I haven't noticed?

https://github.com/mkly/directus-docker

[2016-11-07 18:59] mkly commented on #1019
Oh found it, thanks
https://github.com/directus/directus-docker

[2016-11-07 19:01] benhaynes commented on #1019
That's the one! We'd love any support or contributions to the Directus Docker repo – looks like you have some experience in the matter ;)

[2016-11-07 19:08] mkly commented on #1019
@benhaynes The supervisor usage pretty much puts it outside of my use case, but it looks great. I'm sure a lot of people will find it useful. :beer:

[2016-11-07 19:57] andreasotto commented on #1295
I just tested again, creating a table name with an umlaut:

[code]

In the api/logs directory error messages begin to scroll:

[code]

Then i went to the access rights page and enabled access for that table (view, edit, ..). In the log file the following errors occur:

[code]
and

[code]
In the same moment the following message appears in the page:

<img width="400" alt="testprojekt tast" src="htt

[2016-11-07 20:22] WellingGuzman commented on #1295
Thanks for the information.

What I can say for looking at the logs it seems you are using the build branch or the last release.

So what version/commit/branch are you using? There's s error that was fixed but isn't released yet.

Im looking at the rest.

[2016-11-07 20:26] andreasotto commented on #1295
I installed 2 days ago as zip download from github.

[2016-11-07 20:52] WellingGuzman commented on #1295
@andreasotto correct, that's one issue there the build branch has that bug in there, can you please use the development branch? we are trying to make a release as soon as possible, but we keep fixing some minor bugs.

[2016-11-07 20:53] WellingGuzman commented on #1295
@andreasotto also this is a MySQL issue, or probably a configuration issue with our connection.

[code]

Again thanks for all this info, I'm taking care of this right now and see what we can do for this release.

[2016-11-07 20:54] andreasotto commented on #1295
Great, thank you very much. I'll retry with the dev build right now and let you know.

[2016-11-07 21:21] andreasotto commented on #1295
unfortunately the development build can't be installed:

On the 4th page (`/installation/index.php?step=4`) if you click the "INSTALL" Button the following occurs in apache's error.log (http 500 error):

[code]

The MySQL database has been created new and has been empty.

Now there is only one table in the database:

[code]

Any ideas how to workaround that bug? In the build release that was worki

[2016-11-07 21:28] WellingGuzman commented on #1295
That's not good, I'm on it, it should be a fix for this bug soon enough. I will let you know.

[2016-11-07 21:39] WellingGuzman commented on #1295
Hey @andreasotto I pushed a patch for this bug with this commit https://github.com/directus/directus/commit/78b17a2ab536a3e68901f07d056c9009fb921b62

Let me know if that works for you too. make sure to delete or rename your current `config.php` and `configuration.php` if needed.

[2016-11-07 21:44] andreasotto commented on #1295
That worked 👍
(A minor thing: the self check in the last steps says `mod_rewrite No` but thats wrong, it's enabled and working well for other vhosts.)

[2016-11-07 21:46] benhaynes commented on #1295
Good to hear! The `mod_rewrite` issue has been ongoing... if you know of a better way to test/check that module we'd love to get this resolved! Thanks @andreasotto

[2016-11-07 22:01] andreasotto commented on #1295
I never wrote a routine to check that, but i could imagine that something like this could work:

in .htaccess set environment var and check later in script

[code]

then check with
`array_key_exists('HTTP_REWRITE_ENABLED', $_SERVER);`

[2016-11-07 22:04] WellingGuzman commented on #1295
The thing is that it won't work with nginx locations, although it says `mod_rewrite` it meant for any rewrite available.

If you can tell me any steps to replicate it, I will love to fix it.

We test by creating a endpoint and if the endpoint return data AND status 200 =, it means it's working, no matter if it's apache mod_rewrite or nginx locations.

We probably can add that into the conditions.

[2016-11-08 12:19] DaveBlooman commented on #1277
So, just noticed that table.update is very different in the data it gives.

[code]

This previously included post ID, status, last access, but now doesn't include post ID. I'm pretty sure that id is actually meant to be status as well.

[2016-11-08 15:32] WellingGuzman commented on #1277
Hey @DaveBlooman, that's the data the `table.update` is sending?

I'm going to take a look at this and get back to you, asap.

[2016-11-08 15:59] WellingGuzman commented on #1277
What's inside the `output` it seems to be the `directus_users` update data.

[2016-11-08 20:48] andreasotto opened #1297 "Inserting image in wysiwyg-Editor only works once"
Current development build:

Inserting an image into the text within a wysiwyg-Field only works for one time. Afterwards, tapping the insert_image or embed_video link doesn't work again.

Are there other wyswyig-Editors ready to use with directus? (as the current implementation seems to have at least some minor flaws) - or is there an easy to start skeleton for such a contribution?

[2016-11-08 20:54] benhaynes commented on #1297
Hey @andreasotto – we can look into this. And yes, you can easily create a new UI... or fix this one ;)

Here are the docs for creating or updating UIs:
https://github.com/directus/docs/tree/master/05-custom-uis

[2016-11-08 21:17] andreasotto commented on #1297
Thank you very much. Just having a look into the existing UIs. I am in need for an input for block content, for example Textlabels, Lists, Images, Blockquotes etc. and i like to approach from the Sir Trevor JS, example here:

![Example](https://github.com/madebymany/sir-trevor-js/blob/master/examples/sir-trevor.gif)

I will try to find out more and see if i'm able to set something up ...

[2016-11-08 21:43] WellingGuzman commented on #1297
Hey @andreasotto That looks amazing, any help you may need to get this done as UI, let us know to help as much as we can :)

[2016-11-08 21:47] WellingGuzman commented on #1297
This could also be a good idea for an extension for designing pages :)

[2016-11-08 22:21] benhaynes commented on #1297
@andreasotto – Yes! That would be amazing, that's exactly the type of editor we're looking to move to (but have no time yet). I imagine the only complex part would be getting it to play nicely with Directus Images (for inserting images/embeds)... but I'm sure we can figure it out.

I'd love to see what you come up with (if you have time) – very exciting!

[2016-11-08 22:23] benhaynes commented on #1297
Here's the other ticket regarding this – it has a bunch of other options for WYSIWYG libraries:

https://github.com/directus/directus/issues/1242

[2016-11-09 12:59] andreasotto opened #1298 "API auth endpoint not working?"
In current development build the API endpoint `/api/1/auth/request-token` seems not to work (404 "Sorry, this page isn't available"). How to get an auth token?

Update: It's working from a curl request with credentials (but not from a browser request while logged in)

Additionally the .svg image from the html content in the page above is missing (broken link).

[2016-11-09 15:10] cedricve opened #1299 "Homestead vagrant box"
Hey,

This is really a promising headless CMS. Unfortunately I don't get it working on the widely used vagrant box Homestead. Which is really disappointing as it's popular for developers.

I'm getting blocked with following installation errors:

1. mod_rewrite isn't found (but it's builtin in Nginx).
2. I have to disable strict mode of mysql (but I'm not able to do this).

Would like to see this s

[2016-11-09 15:48] WellingGuzman commented on #1299
Hey @cedricve,

Thanks for your interest in Directus, let's help you out as much as I can.

It's built int, but as nginx doesn't support .htaccess, you have to create the locations on your server config file. You can read mroe here: https://github.com/directus/docs/blob/master/04-developer/02-configuration-nginx.md

How are you not being able to disable it? a project requirements?

[2016-11-09 16:01] WellingGuzman commented on #1298
Hey @andreasotto, the `/api/1/auth/request-token` is a `POST` endpoint. What are you trying to do? because when you are logged in, you can use the API as expected without any authorization required.

Are you requesting directly from your browser? the [file exists on the repo](https://github.com/directus/directus/blob/master/assets/img/directus-logo-flat.svg). I'm going to take a look at it.

[2016-11-09 16:09] cedricve commented on #1299
@WellingGuzman  great support, I'm starting to like this.

1. mod_rewrite

I have this solved now by updating the nginx conf.

2. disable strict mysql on Homestead

I followed this tutorial: https://mattstauffer.co/blog/how-to-disable-mysql-strict-mode-on-laravel-forge-ubuntu. Looks like I've ended up with following config file for MySQL (/etc/mysql/my.cnf). I've just appended the sql mode attribu

[2016-11-09 16:09] #1299 closed

[2016-11-09 16:12] WellingGuzman commented on #1299
Great @cedricve, that's good news. anything else let us know.

[2016-11-09 19:22] andreasotto commented on #1298
Yes, the image is missing in the web page when the API is accessed with a
Browser. There is only a broken image sign and inspecting the object shows
a 404 for that file.

Am 09.11.2016 5:01 nachm. schrieb "Welling Guzmán" <notifications@github.com

Hey @andreasotto <https://github.com/andreasotto>, the
/api/1/auth/request-token is a POST endpoint. What are you trying to do?
because when you are lo

[2016-11-09 19:56] WellingGuzman commented on #1298
Weird, can you confirm that you have that the file exists on your filesystem? and can you show me the 404 not found requests?

[2016-11-09 23:36] andreasotto commented on #1298
Well, the file is actually there in the assets/img dir - but the installation path (subdirectory in the hosts root folder) is missing in the file's URL in the resulting webpage.

Showing the image probably will work only if directus was installed at root level, and the file will be broken if not installed at root level.

[2016-11-10 01:56] WellingGuzman commented on #1298
@andreasotto understood, it makes sense.

Also were you able to use the request token api endpoint correctly?

[2016-11-10 05:49] andreasotto commented on #1298
Yes, the request token request works. From the documentation it wasn't clear to me, that it has to be a POST request. I thought when logged in (active session) it would be possible to request the token.

[2016-11-10 07:27] cedricve opened #1300 "A few questions about directus"
Hey,

I've evaluated the CMS, and I'm feeling comfortable with it. The design is really great and it contains most of the functionality my project requires. Good job.

I have a few questions though:

* Is there any way to have public API endpoints? I will have pages or items which should be available for every visitor, authenticating those request is overkill.
* Stability: as far I've seen the sys

[2016-11-10 13:50] WellingGuzman commented on #1298
No, it's not possible, when logged in, you can go to you user page and get it from there.

I will close the ticket as the broken link was fixed and I will add a note in the documentation about the `POST` request.

[2016-11-10 13:50] #1298 closed

[2016-11-10 14:01] WellingGuzman commented on #1300
Hey @cedricve, glad that you are enjoy Directus.

You have to authenticate any requests, but we can work on something about this.

What strange errors? You can open ticket about specifics issue and we can address them, sometimes there can strange errors.

What errors? we can work on it if you detailed all of them. Yes, if you are logged in, with a new group there's some internal table that need to

[2016-11-10 14:29] benhaynes commented on #1300
Hey @cedricve – just to follow up on a few of the points @WellingGuzman made:

We're in the process of addressing some UX/UI issues in the next visual overhaul of the platform. The admin side especially should be much more intuitive.

Bookmarks are quite useful for the more complex filters:
`Active Projects from 2015 with author containing %cedric% ordered by views, descending` can be saved as "Ce

[2016-11-10 14:33] WellingGuzman commented on #1300
Oh boy haha, well yeah, thanks you replied on time..

[2016-11-10 14:35] cedricve commented on #1300
@WellingGuzman @benhaynes great to know you guys. I'll send some pull request myself, if necessary, so count me in. 👍

To be honest I'll try to use this for one of my clients, and will combo it with AngularJS. I'll keep you guys posted how it goes. If this is succesfull, and my clients is comfortable with the interface too, this will become my preferred headless CMS.

Thank you guys!

[2016-11-11 14:37] frankvolkel opened #1301 "delta stored but not displayed"
I noticed that the delta for changes are stored in the directus_activity table, but isn't displayed on the interface itself. It's also advertised on directus.com that "(a)ll activity within Directus is tracked giving system-wide accountability. With revision roll-backs".

Am I missing something?

[2016-11-11 14:59] benhaynes commented on #1301
Hey @frankvolkel – you're correct, we're storing the full item at each change, as well as the delta (with user for accountability). Activity is shown inline with comments at the bottom of the Item Detail page. And while we used to have an interface for "rolling back" we've disabled it due to unintended and far-reaching consequences of relational data.

The thinking (for now) is that the data is th

[2016-11-11 15:10] #1301 closed

[2016-11-14 21:03] airbenich opened #1303 "Error on uploading new user image"
## Version Info
  - Directus version and branch: 6.3.4 master
  - PHP version: 5.5
  - MySQL version: n/a
  - Web server: Apache
  - OS name and version: OSX 10.11

## Expected Behavior
New User-Image should be uploaded when selecting a new one and pressing save

## Actual Behavior
After selecting and pressing save an error appears:
Server Error
Invalid argument supplied for foreach()

## Steps to

[2016-11-14 22:51] WellingGuzman commented on #1303
Hey @airbenich, Thanks for reporting this issue.

if there's any log files in `api/logs`, please show me what's inside.

I tried on master branch without any luck.

[2016-11-14 23:27] WellingGuzman commented on #1300
@cedricve I will close this ticket. Any further question please join us on our Slack http://slack.getdirectus.com/

[2016-11-14 23:40] #1300 closed

[2016-11-15 18:08] airbenich commented on #1303
Here is the log-file. I deleted it before i took the steps to reproduce:

[code]

[2016-11-15 18:19] mkly commented on #1303
https://github.com/directus/directus/commit/21b00e99be734c5274f6f5b2413cb945cab80496

Looks like this might have been addressed somewhat? Maybe you need to to update to the latest master?

[2016-11-15 18:25] WellingGuzman commented on #1303
Yes that's the problem, I have been stretching the days to release the new version with this fix.

Can you please use the master branch while I work on the release?

[2016-11-15 18:36] airbenich commented on #1303
Okay, i've updated to the latest master. Error is still present.
Can you inform on this thread when the fix is released?
Thank you for your work guys! :)

[2016-11-15 18:38] WellingGuzman commented on #1303
Hey @airbenich, I'm far from a computer, please use development branch it should be fixed there.

I will inform you as soon as I fix it today and release the new version.

Thank you for using Directus :)

[2016-11-16 17:07] WellingGuzman commented on #1303
@airbenich master branch is updated and `6.3.5` was released. it should be good to go now. Otherwise let us know.

[2016-11-16 17:07] #1303 closed

[2016-11-16 17:44] airbenich commented on #1303
Still the same problem.
I replaced all files on the server with the new master branch. "6.3.5" is also mentioned in the bottom left corner on login screen. Is there a way to check if my installation works correct? I installed it on sunday using master branch 6.3.4.

[2016-11-16 17:54] WellingGuzman commented on #1303
can you share you logs (`api/logs`) again? I want to see if there's the same issue you are having or another one.

[2016-11-16 17:57] airbenich commented on #1303
shure!

[code]

[2016-11-16 17:58] airbenich commented on #1303
And:
![bildschirmfoto 2016-11-16 um 18 57 40](https://cloud.githubusercontent.com/assets/13045725/20359083/97a08cd2-ac2e-11e6-8012-ddfbf83056b0.png)

[2016-11-16 18:27] WellingGuzman commented on #1303
Hey @airbenich, looking at your logs I want to see what's on line `513` in this file `/var/www/vhosts/domain/directus/api/core/Directus/Bootstrap.php:513` I'm wondering because I do not have a foreach in there, and I want to make sure you have the latest code.

[2016-11-16 18:31] airbenich commented on #1303
![bildschirmfoto 2016-11-16 um 19 31 20](https://cloud.githubusercontent.com/assets/13045725/20360242/455a6db2-ac33-11e6-8662-0e3d64667a44.png)

[2016-11-16 18:34] airbenich commented on #1303
Mhh yep in my code there is a foreach. -> But in the master branch of directs/directus also:
https://github.com/directus/directus/blob/master/api/core/Directus/Bootstrap.php#L513

[2016-11-16 18:34] WellingGuzman commented on #1303
Thanks, I just confirmed I wasn't looking at the master branch, I apologies.

[2016-11-16 18:35] WellingGuzman commented on #1303
Hey @airbenich can you join our Slack (http://slack.getdirectus.com) so I can help you over there more personally.

I want to see what value is `$path` storing.

[2016-11-17 18:54] timonmat commented on #1280
@WellingGuzman
I can still reproduce on 6.3.5.

Text field with 'read only' flag enabled looks normal, i.e. not dimmed, and is saved when changed.

[2016-11-17 18:58] WellingGuzman commented on #1280
Hey @timonmat when you inspect the input element in devtools does it has the `readonly` attribute?

[2016-11-17 20:26] timonmat commented on #1280
@WellingGuzman No, it doesn't.

![image](https://cloud.githubusercontent.com/assets/15153521/20406170/e4540c02-ad14-11e6-9b23-a5ab4b0d6f98.png)

[2016-11-17 21:41] timonmat commented on #1280
...and now it works as expected. grade A voodoo stuff. I honestly didn't change a thing, and now the same field works as expected, and the readonly flag is in the element. It couldn't have been coming from cache, because I loaded that page first with devtools and cache disabled.

I think you can keep this closed. I'll find a better sequence if it pops up again.

[2016-11-17 21:53] benhaynes commented on #1280
Thanks for trying to replicate @timonmat – much appreciated! Not a fan of the intermittent issues... 😕  ... but either way, glad it's working for you.

[2016-11-18 19:29] lukeed commented on #1242
I've encountered this same problem with a few of personal & client projects & eventually decided to roll my own solution. So, may I (shamelessly 😇) suggest [`editor-lite`](https://github.com/lukeed/editor-lite)?

Although there are a lot of options out there, most of them include clunky UIs, without much room for customization _and_ they're usually massive libraries (60+ kb minified, some are 220!

[2016-11-18 19:33] benhaynes commented on #1242
Thanks @lukeed – any and all input is appreciated, especially on this thread as it's a big topic of contention.

I like your editor: lightweight, simple, and extensible... exactly what we're looking for.

We're working on a design and markup refresh for `v6.6` so we will start experimenting with your library soon. Thanks!

[2016-11-18 19:50] lukeed commented on #1242
@benhaynes Cool, thanks! I was planning on doing some demos next week, but maybe I'll expedite it for this weekend. 🤔

[2016-11-20 02:27] csprance commented on #1242
Quill.js is another really nice editor.
I've been integrating it as a custom ui lately.

I'll send a pr when I make more progress. Hooking up image upload now.

[2016-11-20 07:43] csprance commented on #1265
I'd be interested in contributing.
chrissprance@gmail.com

Can you throw me a slack invite. I plan to use this platform quite a bit in the future.

[2016-11-20 08:42] WellingGuzman commented on #1265
@csprance You can get a invitation here: http://slack.getdirectus.com

[2016-11-20 08:43] doughnet commented on #1242
it would be great if a new wsywig editor could use/understand oEmbed.  I didn't know what this was until I played around with postleaf.

Details: [http://oembed.com/](http://oembed.com/)

[2016-11-28 16:56] doughnet opened #1304 "Single/Multiple File fields Allowed Filetypes not accepting file types"
## Version Info
  - Directus version and branch: (Or commit hash)
  - PHP version: 5.6.x
  - Web server: LiteSpeed
  - OS name and version: Debian 8.x 64bit

## Expected Behavior
When setting the field options, you can specify the Allowed FileTypes.  I entered in: jpg, png
After saving it should allow jpg & png files.

## Actual Behavior
It gives an error when uploading jpg or png files.

[2016-11-28 17:00] WellingGuzman commented on #1304
Hey @doughnet which version are you using?

I'm taking a look now, at least it should be working on Single File UI.

[2016-11-28 17:04] doughnet commented on #1304
Howdy!

6.3.5

[2016-11-28 17:21] WellingGuzman commented on #1304
I've tested on 6.3.5, it worked, and we do not have the options for multiple files. (I will add a note for adding it)

Can you please give a step by step to replicate it?

[2016-11-28 17:22] benhaynes commented on #1304
Could it be a whitespace issue? `jpg, png` versus `jpg,png`? Or are we trimming out the whitespace after exploding the values? Also, this option supports MIME type OR extension, correct?

[2016-11-28 17:24] WellingGuzman commented on #1304
you darn right @benhaynes, Thanks 👍 working on it.

[2016-11-28 17:25] WellingGuzman commented on #1304
also it does supports MIME Type and extension.

[2016-11-28 17:32] doughnet commented on #1304
I tried it both methods though and neither work
jpg, png
jpg,png
png, jpg
png,jpg

[2016-11-28 17:33] benhaynes commented on #1304
@doughnet – that's odd... but you said that ONE extension (not a CSV) _does_ work?

[2016-11-28 17:35] doughnet commented on #1304
csv with MIME type does work

not a CSV (example just using jpg) does work

[2016-11-28 17:46] WellingGuzman commented on #1304
weird, what file are you trying to upload? I'm out of ideas what could it be.

[2016-11-28 17:50] doughnet commented on #1304
Quite sure I'm not doing anything wrong but here are images for proof/process.

![settings](https://cloud.githubusercontent.com/assets/9806529/20679499/04b744b2-b550-11e6-8925-4b148262de82.png)
![picking_jpg](https://cloud.githubusercontent.com/assets/9806529/20679497/04b54b76-b550-11e6-8a62-646175355a66.png)
![denied](https://cloud.githubusercontent.com/assets/9806529/20679498/04b661a0-b550-11e6-

[2016-11-29 07:37] jhyle opened #1305 "Cannot sort Many-To-Many entries"
When clicking on the sort-enabling button in a many-to-many list I get the following error:

Error: Uncaught TypeError: this.collection.getTotalCount is not a function File: http://cms.remap-berlin.de/app/core/table/table.view.js?bust=kj389sm0675nj89mfkqv0phkm4 Line:177

Directus v6.3.5 (Lapis Lepus)
PHP 5.6.27-0+deb8u1 (cli) (built: Oct 15 2016 15:53:28)
Copyright (c) 1997-2016 The PHP Group
Zend

[2016-11-29 09:15] WellingGuzman commented on #1305
Thanks @jhyle, I will take a look at it later today.

[2016-11-29 19:03] WellingGuzman commented on #1304
@doughnet I want to you let you know I keep trying to replicate without no luck, I will get back to you with a fix as soon as I replicate it.

[2016-11-29 19:06] doughnet commented on #1304
No problem.  Are there any additional details that could help?

[2016-12-01 16:30] tdiddi opened #1306 "/auth/request-token cannot be found"
## Version Info
  - Directus version: 6.3.5
  - PHP version: 5.5
  - Web server: (Ex. Apache, nginx or IIS?) : Apache
  - OS name and version: Centos / VestaCP hosted

## Expected Behavior
Grabbing the API Key with http://pseudo.url/api/1/auth/request-token

## Actual Behavior
Browser Output:

**Sorry, this page isn't available.**
The page you are looking for could not be found.

I re-installed 2

[2016-12-01 16:36] WellingGuzman commented on #1306
Hey @tdiddi,

To request a user token you have to perform a POST request to `http://pseudo.url/api/1/auth/request-token` with your email and password as data. (`email=myemail@mail.com&password=secret`)

Let me know if that works for you.

[2016-12-01 16:37] WellingGuzman commented on #1306
You can read a similar here using curl: http://getdirectus.com/api/overview/authentication

[2016-12-01 16:39] tdiddi commented on #1306
I feel so ashamed :D
I read the

and used GET in my application...

Now its all working with POST.

Thanks for the fast help!

[2016-12-01 16:39] #1306 closed

[2016-12-01 16:41] WellingGuzman commented on #1306
Great, we will update that part of the docs, so it's not confusing anymore.

Thanks!

[2016-12-06 05:51] PolywickStudio opened #1307 "IIS version?"
- Directus version and branch: (Or commit hash) main branch
  - PHP version: 7.1
  - MySQL version:  7.16
  - Web server: (Ex. Apache, nginx or IIS?) IIS
  - OS name and version: Windows Server 2012 standard.

## Expected Behavior
IIS installation.
Login should work, goes to /api/*

## Actual Behavior
Login doesn't work.
It needs htaccess converted to IIS WebConfig.

## Steps to Reproduce
 1. Inst

[2016-12-06 06:05] WellingGuzman commented on #1307
We do not support IIS yet, we haven't had the chance to work on a IIS Server.

@PolywickStudio Do you mind giving us a hand there? I could try to convert it to webconfig, but I will need someone to confirm it is working.

[2016-12-06 10:53] raygers commented on #1307
Hi

You need to install IIS URL Rewrite from https://www.iis.net/downloads/microsoft/url-rewrite
You can try the following url rewrite rules which were imported from the rewrite rules in the .htaccess
They need to go into the system.webServer section. On a personal note, I had a better experience running it on xampp on a windows box.

      <rewrite>
            <rules>
                <rule name=

[2016-12-07 06:29] PolywickStudio commented on #1307
It doesn't work... I've used XMPP instead

[2016-12-07 06:29] #1307 closed

[2016-12-07 06:34] PolywickStudio opened #1308 "Permissions - You lack privileges for 'XXXXX' on table create."
- Directus version and branch: (Or commit hash) - latest version./master branch
  - PHP version: 7.1
  - MySQL version: 7.16
  - Web server: (Ex. Apache, nginx or IIS?) XMP
  - OS name and version: Windows 2012 standard.

## Expected Behavior
Click create table, then click somewhere else, it then says:
You lack privileges for 'XXXXX' on table create.

## Actual Behavior
You should have default tab

[2016-12-07 07:38] mercyg commented on #1235
@benhaynes I would like to contribute to this issue. Could you please show me on how to get started?

[2016-12-07 13:33] WellingGuzman commented on #1307
I will follow what you did in a future release and try to make it work under IIS.

Any other issue you may have let us know. I myself couldn't try it as I'm not on Windows, but I will get my hands in one to try this myself soon.

Thanks.

[2016-12-07 13:51] WellingGuzman commented on #1235
Hello @mercyg,
What we want is to get all this php files into Twig templates (https://github.com/directus/directus/tree/master/installation/views)

Those views are all used here: https://github.com/directus/directus/tree/master/installation/includes/Steps

Thanks for the interest, any help we will be around.

[2016-12-07 13:56] benhaynes commented on #1235
Thanks @mercyg – that would be amazing! Welling can answer any technical questions you may have... and feel free to join us on Slack for easier communication:

slack.getdirectus.com

[2016-12-07 20:28] cedricve opened #1309 "Suggestion: direct.us"
Would be nice if you could brand and own the domain: http://direct.us

Good job guys!

[2016-12-07 20:43] WellingGuzman commented on #1308
Thanks @PolywickStudio I will on a fix today.

[2016-12-07 20:51] Ronnyrr opened #1310 "Error when adding One to Many relation"
## Version Info
  - Directus version and branch: 6.3.5 hash: 899b15f23f6f565e1c54b2b82dff708637dfabcc
  - PHP version: PHP Version 7.0.8-0ubuntu0.16.04.3
  - MySQL version: mysqlnd 5.0.12-dev
  - Web server: Apache
  - OS name and version: macOS Sierra

## Actual Behavior
When saving the post it shows the error as shown below.
You know how to fix this / what is going on?

## Steps to Reproduce
 1.

[2016-12-07 22:26] WellingGuzman commented on #1310
Hey @Ronnyrr can you please show me a screenshot of you `ONETOMANY` column relationship settings. And/Or the record on `directus_columns`.

[2016-12-08 10:04] Ronnyrr commented on #1310
Welling, the `ONETOMANY` relation is as seen below. Didn't really know what "Only Unassigned" does, but with both checked and unchecked it produces the same error.
During some permission problems on my server I can't reach my MySQL database via phpMyAdmin or CLI at the moment. I'm sure this isn't the reason it isn't working ;)

![OneToMany relation](https://s28.postimg.org/f9gacp87x/Schermafbeeldi

[2016-12-08 14:56] benhaynes commented on #1309
Thanks @cedricve – I've been eyeing that domain for a while now. Hopefully we can snag it (we'll see what they are looking for in terms of offers).

Closing this until I hear back from the owner of the domain.

[2016-12-08 14:56] #1309 closed

[2016-12-08 15:37] WellingGuzman commented on #1310
Hi @Ronnyrr, What's on your relationship options (see image below with the arrows)?

![screen shot 2016-12-08 at 11 35 45 am](https://cloud.githubusercontent.com/assets/1531291/21016083/b5b549c0-bd3a-11e6-8f15-a7326b060db1.png)

[2016-12-08 15:46] Ronnyrr commented on #1310
@WellingGuzman Oh sorry I misunderstood. But my relation is already in the first post (see image below error message).

[2016-12-08 15:57] WellingGuzman commented on #1310
I think we both are not understanding ourselves haha. I'm sorry I meant clicking on the arrows and whats the relationship values. 😃

[2016-12-08 16:15] Ronnyrr commented on #1310
Haha here you go!
![Relation](https://s24.postimg.org/o48g2ie6d/Schermafbeelding_2016_12_08_om_17_14_22.png)

[2016-12-08 16:17] WellingGuzman commented on #1310
Hey @Ronnyrr, what I thought, the `related column` field is a new column where the current table ID is going to save its ID in the related table. so you have to create a new column in categories to stores it.

Although it seems you want a `many to many` can categories be in more than just one posts? or category unique to one post alone?

[2016-12-08 22:01] WellingGuzman commented on #1308
Hey @PolywickStudio, does by any change the table you are creating has capital letter?

[2016-12-09 01:20] Alxmerino commented on #1235
I will try to take a look at this in the next couple of days as well! would love to contribute :)

[2016-12-09 14:12] benhaynes opened #1311 "Check for existing email before user creation"
When deleting a user (currently) it sets them to inactive (active=0) – however if you go to create a new user with the same unique email address it lets you but then throws a "unique" error.

`(directus_users_email_unique)`

We should check if an email already exists when trying to create a new user – and offer to TURN ON that user instead.

[2016-12-10 17:17] Ronnyrr commented on #1310
@WellingGuzman Adding a many to many solved my issue. Although I do want a `ONETOMANY` but it works this way 👍  Thanks for the help

[2016-12-10 17:18] #1310 closed

[2016-12-12 00:42] PolywickStudio commented on #1308
I'm not sure. I think they are. Is there an issue with case-sensitivity?

Can there be an option to make it all lower-case when enter into database?

[2016-12-12 00:50] WellingGuzman commented on #1308
@PolywickStudio we have being peacefully arguing this recently, but some people like using Uppercases and lowercase combine in a table name, and how the database allow it, I think we should. The issue is with MySQL though, but should've a fix for it soon enough.

You can try using lowercase and letting me know if that works for you, so I can be certainly sure the issue is with the table name (uppe

[2016-12-12 01:56] PolywickStudio commented on #1308
Is there a way how to make it like a setting?

For instance, when enter into field, the thing converts to lower-case automatically, or uppercase, then convert " "(space) to "_" (underscore). That would help to remove data entry issues.

[2016-12-13 16:18] benhaynes commented on #1308
@PolywickStudio – That's exactly what we have planned in the next version – yes. You can check out the static template preview here:

http://preview.getdirectus.com/settings/tables/new

You can see the table name at the top has a checkbox to toggle "strict naming" and if you click to create a new column the same checkbox is present.

Is this what you mean? Then we could maintain "proper" casing/fo

[2016-12-15 06:24] PolywickStudio commented on #1308
I mean, have a combobox to allow:

0) full lowercase names - this will result in full lower-case names for tables.
1) full uppercase names - this will result in full lower-case names for tables.
2) mixed case names - this will result in any-case names for tables.

default = 0.

[2016-12-15 16:51] benhaynes commented on #1308
True – but there's more potential auto-formatting that that: eg entering an Underscore vs Space vs Dash.

Might be best to have one option where WE auto-format to help keep things standard by default – or an override option where you can do anything (if you _know_ what you're doing, that is).

[2016-12-15 16:51] benhaynes commented on #1308
Going to close this since it has been addressed in the next version design. Thanks @PolywickStudio!

[2016-12-15 16:51] #1308 closed

[2016-12-15 18:26] cedricve opened #1312 "Error when trying to use the Multiple Files column"
## Version Info
  - Directus version and branch: master
  - PHP version: PHP 5.5.9
  - MySQL version:  5.5.47
  - Web server: nginx
  - OS name and version: Ubuntu

## Expected Behavior
I want to create a slider for my homepage. Therefore I've added a new field "Multiple Files" to one of my tabels.

## Actual Behavior

I can add the column, however after adding I try to open the Page, but I'm gett

[2016-12-15 20:29] WellingGuzman commented on #1312
Hey @cedricve,

Can you share the logs? (`api/logs`), also what's the `junction` table configuration? (it got chopped off in the screenshot)

[2016-12-15 20:32] WellingGuzman commented on #1291
Thanks @michieltjuh11, I assume this all set. 👍

[2016-12-15 20:32] #1291 closed

[2016-12-16 07:09] cedricve commented on #1312
I just used the default values: I've added a title for the column, selected the UI: Multiple Files, anders pressed save. The default value is directus_activity.

I can't find any log files in the api/logs folder (that's weird?)

[2016-12-16 17:09] WellingGuzman commented on #1312
There's _possibly_ your problem `The default value is directus_activity.`

You have to create a junction table, let's say `homepage_slideshow` with two column beside `id` to store the homepage table `id` and the file `id`.

You can read a bit more here: https://docs.getdirectus.com/6.3.6/#Multiple_Files_(M2M)

[2016-12-18 09:44] cedricve commented on #1312
I'll try this, thank you @WellingGuzman

[2016-12-18 09:47] cedricve opened #1313 "Feature request: order by drag and drop"
Hello Directus team,

I've been using directus for a while, and I'm very pleased with your solution. It's so intuitive.
One improvement I see is to be able to change the order of the rows (by using a simple drag and drop). Something like this: http://marceljuenemann.github.io/angular-drag-and-drop-lists/demo/#/simple.

I don't know if this is already on the roadmap?

This is very helpful for slide

[2016-12-19 19:36] WellingGuzman commented on #1313
Hey @cedricve, If I understand correctly, Directus supports sorting by dragging and dropping, the table needs to have a column named `sort (int)` and you would be able to sort.

[2016-12-19 19:59] cedricve commented on #1313
Well that's not so intuitive for basic users (the WYSIWYG principle). I understand it's difficult as you also provide filter and sorting.

[2016-12-19 22:22] WellingGuzman commented on #1313
Yeah, @cedricve, we are trying to address all this in the new redesign in the next couple of versions.

Any suggestion to make this more intuitive?

[2016-12-20 18:26] benhaynes commented on #1313
Hey @cedricve – glad you're liking Directus so far. The drag and drop reordering seems pretty intuitive to us (once you've read the docs on reordering). What about it seems unclear?

You need to add a column to store the order value, and as of now need to call that column `sort`. In the next version you can name it anything you want and "tell" Directus which column stores the value. Any other impr

[2016-12-20 18:27] #1313 closed

[2016-12-20 18:29] cedricve commented on #1313
Well from a developer point of views that's indeed intuitive (and logical), however for a user/client this can be cumbersome. Drag and drop functionality, to change the order, would be an intuitive solution for them. As you don't need to learn them to check and edit an integer to simulate the ordening.

[2016-12-20 18:40] benhaynes commented on #1313
Sorry, this seems to have been a miscommunication. By adding that column it enables drag and drop reordering on the item listing page for that table. Directus saves the appropriate integers into the column, but the user only sees items that can be dragged and dropped.

Does that make more sense? I'd that what you were looking for?

[2016-12-20 18:44] cedricve commented on #1313
Wow, sorry my bad I've didn't read the comment properly. It seems to work! Great job.

[2016-12-20 18:59] cedricve commented on #1312
@benhaynes sometimes I'm receiving server errors (e.g. when doing bulk operations). However I don't see any logs written in the api/logs folder (although it's writeable). Do you have any idea?

[2016-12-20 19:02] cedricve opened #1314 "Can't edit video properties after adding to WYSIWYG widget."
It's not possible to modify the properties of a video file, after you've added it to the WYSIWYG editor. This can be required if you want to resize it.

![screen shot 2016-12-20 at 20 00 13](https://cloud.githubusercontent.com/assets/1546779/21363984/3486c856-c6ef-11e6-857f-91d3d17e2ea6.png)

[2016-12-20 19:07] cedricve commented on #1312
Nevermind, I've recreated the directory, and it seems to work now.

[2016-12-20 19:07] #1312 closed

[2016-12-20 19:09] cedricve commented on #1313
@benhaynes when I try to sort, I get following exception. Any idea?

     ERROR - 2016-12-20T13:57:10-05:00 - exception 'Exception' with message 'Geen rijen ingevoerd' in /usr/share/nginx/www/production/zwemschooltje/api/api/api.php:741
     Stack trace:
     #0 [internal function]: {closure}('Slider')
     #1 /usr/share/nginx/www/production/zwemschooltje/api/vendor/slim/slim/Slim/Route.php(436):

[2016-12-20 19:15] WellingGuzman commented on #1313
hmm, the API seems to not be getting any rows parameter. I will take a look and see if can replicate.

Did it work at first, but now it's not working giving you that error?

[2016-12-20 19:16] cedricve commented on #1313
Well I think it never worked, so properly something went wrong during installation?

[2016-12-20 19:19] cedricve commented on #1313
FYI @WellingGuzman It looks like the rows parameter is posted correctly.
![screen shot 2016-12-20 at 20 19 18](https://cloud.githubusercontent.com/assets/1546779/21364564/a6a71e0c-c6f1-11e6-8e91-d426cd0946e5.png)

[2016-12-20 19:35] WellingGuzman commented on #1313
the request data looks correct, thanks, I'm checking the code, there's must the problem. I will get back to you asap.

[2016-12-20 21:16] WellingGuzman commented on #1313
Hey @cedricve try to pull this https://github.com/directus/directus/commit/2f77f2eb98eb3f1573ce1587ccef927cb0c25590 and let me know if it works.

[2016-12-20 21:18] WellingGuzman commented on #1314
Hey @cedricve I will see what I can do with this Editor, it has been a fight with the library.

@benhaynes is going to create a new one, using a new library that will be a better fit.

In the meantime I'll see what I can do.

[2016-12-21 13:31] Radiergummi opened #1315 "Visible column setter overflows in de-DE (CSS problem)"
## Version Info
  - Directus version and branch: 7c9e08a
  - PHP version: 7.0.8
  - MySQL version: 5.5.47
  - Web server: nginx/1.9.12
  - OS name and version: Debian 8.3

## Expected Behavior
The modal for setting the visible columns in the table view expands with the width of the `save` and `cancel` buttons.

## Actual Behavior
The modal stays fixed width, the buttons overlap the modal content a

[2016-12-22 09:45] ValonK opened #1316 "Creating File (Uploading Image) with request doesnt Work."
Hello,

im not sure if this is the right place to post my Problem, because i think that this could be a Directus bug.
I asked the on StackOverflow http://stackoverflow.com/questions/41270038/c-sharp-get-request-directus.

Basicly what im tring to do is to create a File (Base64 Image)  using a simple GET Request exactly like described in the Api Docs https://api.getdirectus.com/1.0/#Create_File. Bu

[2016-12-22 14:48] benhaynes commented on #1315
Thanks @Radiergummi – this is perfect! There are a few issues with multi-lingual text lengths, but we're looking to resolve them in the new design we're implementing now (see below). In the meantime, your CSS seems to work great, so I'm pushing that to the development branch.

Really appreciate the help!

https://preview.getdirectus.com/tables/blog

[2016-12-22 14:48] #1315 closed

[2016-12-22 14:54] benhaynes commented on #1316
Thanks @ValonK – we'll look into this today!

[2016-12-22 14:56] Radiergummi commented on #1315
Weee, the new design looks really neat! Looking forward to update 👍

[2016-12-22 14:57] ValonK commented on #1316
Thanks!! I love Directus !! keep up the great Work!

[2016-12-22 19:57] WellingGuzman commented on #1316
Hey @ValonK,

I'm working on this.

The docs is incorrect it's actually a `POST` request. thanks for pointing that out.

To upload a new file you need three provide three values:

[code]

The data content has to be in this format `data:<mime-type>;base64,<data-content>` so it will look  something like this: `data:image/png;base64,ThisIsABase64Content`

I'm working to allow just the base64 content,

[2016-12-22 20:13] ValonK commented on #1316
First let me thank you for your Time !
Ive tried your approach like this
[code]
Im getting a Exception Response Message http://pastebin.com/6JZV8BxB. I hope im doing something wrong and its not a bug on the Directus Side.

[2016-12-22 20:18] WellingGuzman commented on #1316
Yeah, that's a bug on our side, I'm about to push a fix for it on `development` branch.

But you can solve it by prefixing `data:image/jpg;base64,` to `GetBaseImageData()`

Like this: `"data", "data:image/jpg;base64," + GetBaseImageData()` (If that doesn't work on C# at least you get the idea 😄 )

[2016-12-22 20:21] ValonK commented on #1316
Allright thanks for your help! That resolved my issue ! :)

[2016-12-22 20:23] WellingGuzman commented on #1316
Great to hear! In the next version you would've to add that, but still will work if you add it. 👍

[2016-12-25 20:33] RijkvanZanten opened #1319 "API 1.1 bookmarks/self endpoint returns 500 error"
## Version Info
  - Directus 6.3.5, branch development, latest commit [fc66aca](https://github.com/directus/directus/commit/fc66acabaa63a1e3cb17a235d401a0f36e611556)
  - PHP version: 5.6.25
  - MySQL version: 5.6.28
  - Web server: Apache (using MAMP on Mac)
  - OS name and version: MacOS Sierra 10.12.2

## Expected Behavior
Return bookmarks of currently authorized user

## Actual Behavior
Returns

[2016-12-26 19:42] cedricve commented on #1313
Unfortunately still the same issue @WellingGuzman..

ERROR - 2016-12-26T14:41:01-05:00 - exception 'Exception' with message 'Geen rijen ingevoerd' in /usr/share/nginx/www/production/zwemschooltje/api/api/api.php:741
Stack trace:
#0 [internal function]: {closure}('Slider')
#1 /usr/share/nginx/www/production/zwemschooltje/api/vendor/slim/slim/Slim/Route.php(436): call_user_func_array(Object(Closure)

[2016-12-26 19:46] WellingGuzman commented on #1313
Hey @cedricve what commit are you on? what's on your `/usr/share/nginx/www/production/zwemschooltje/api/api/api.php:741`?

[2016-12-26 19:53] cedricve commented on #1313
Latest master.

![screen shot 2016-12-26 at 20 52 22](https://cloud.githubusercontent.com/assets/1546779/21486042/484b1028-cbad-11e6-8389-aa5c63f86b3c.png)

[2016-12-26 20:05] WellingGuzman commented on #1313
Can you clear your browser cache? Can make sure the commit (https://github.com/directus/directus/commit/2f77f2eb98eb3f1573ce1587ccef927cb0c25590) is applied.

[2016-12-26 20:18] cedricve commented on #1313
Clearing browser cache did it, indeed was due to caching javascript. Thank you!

Cédric

[2016-12-26 20:18] WellingGuzman commented on #1313
Glad to hear @cedricve.

[2016-12-27 14:22] cedricve opened #1320 "When 2 columns (single file) are added to a table, only first one gets saved"
@WellingGuzman sorry man, here I am again.. It looks like something else is broken now, by pulling master yesterday (fix for sorting).

It looks that when I'm trying to save a entry which contains 2 columns (single file), that only the first one is saved to database. After reopening the entry, the second one is empty. I simulated the problem by creating a new table, which contains two (single file

[2016-12-27 14:55] benhaynes commented on #1235
Thank you so much for your contribution @Alxmerino! Another ticket bites the dust...

Always thankful for PRs!

[2016-12-27 14:55] #1235 closed

[2016-12-27 21:33] WellingGuzman commented on #1319
Hey @RijkvanZanten I pushed a fix https://github.com/directus/directus/commit/14a608071579b5cfa4b5e12a04fb18d2b0865855

Let me know if that works for you.

[2016-12-27 21:33] #1319 closed

[2016-12-27 21:46] #1320 closed

[2016-12-27 21:47] WellingGuzman commented on #1320
Hey @cedricve, please pull the last commit from master, it should fix the problem, either way let me know.

[2016-12-29 21:45] pittkost commented on #1242
One suggestion - Directus is front end agnostic so the WYSIWYG should be. Let's say my CSS describing classes, not HTML tags, so I'd like to set up WYSIWYG to output something like `<h1 class="heading-1">text</h1>`, rather then raw `<h1>text</h1>` for top heading element.

[2016-12-29 21:49] benhaynes commented on #1242
An excellent point @pittkost!

I agree that this would be the ideal way to move forward and have run into this situation with my own client work. Most WYSIWYG editors have an "HTML" view toggle to accomplish this, but it's not an ideal UI/UX. We're overhauling the platform design and UIs now and will be creating a new WYSIWYG editor – we'll look into libraries that would support this customization

[2017-01-03 21:24] csprance commented on #1242
## CkEditor WYSIWYG
I'll drop this here with the understanding it's not complete but I don't really have a lot of time to polish it. The only bug I've found is that when you have two of them in one table and you saved it then edit it, the contents of one will be deleted. I am using it in production so the in the interest of open source I want to release it.

It also makes an ajax call for the cked

[2017-01-06 19:37] HauntedSmores opened #1322 "Server error uploading images"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests please use the [Directus FeatHub](http://feathub.com/directus/directus) to make a new request or vote for existing ones, or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be

[2017-01-06 20:19] HauntedSmores commented on #1322
This was a permissions error. You need recursive option, -R, when setting write permissions on storage/uploads/ directory to allow to write to Thumbs folder

[2017-01-06 20:19] #1322 closed

[2017-01-08 22:46] sanpoChew opened #1323 "auto_increment not being added to table id columns"
## Version Info
  - Directus version and branch: development
  - PHP version: 7.0.14
  - MySQL version: 5.5.53
  - Web server: nginx
  - OS name and version: Debian 8.4

## Expected Behavior
I presume that new tables should have their id column set to auto_increment

## Actual Behavior
It's not set, having to set manually with ALTER TABLE or I can't add more than 1 row to a table.

I'm assuming th

[2017-01-09 00:41] WellingGuzman commented on #1323
Hey @sanpoChew, thanks for reporting this.

It should've created the auto increment id column when you create table from the Directs admin. Is there any warning or error in your logs (`/api/logs`)?

[2017-01-09 10:25] cedricve opened #1324 "CORS not working for POST requests (create item)"
I'm trying to create an item through the API, however I get a CORS error message. It looks like for POST requests the allow-cors header is not send; it does work for GET requests.

      No 'Access-Control-Allow-Origin' header is present

![screen shot 2017-01-09 at 11 23 13](https://cloud.githubusercontent.com/assets/1546779/21763445/3fae2fde-d65e-11e6-8a61-bf781ab18da6.png)

[2017-01-09 10:31] cedricve commented on #1324
Hmm looks like this is something else, I get following error message

    Attempted to load new record post-insert with empty result. Lookup via row id

[2017-01-09 14:59] cedricve opened #1325 "Custom endpoint question"
I'm trying to acces the custom endpoint at _example.php, but I don't know how I access this through an url. Can you guide me (it's not documented)?

![screen shot 2017-01-09 at 15 57 35](https://cloud.githubusercontent.com/assets/1546779/21770668/86e15c3e-d684-11e6-847d-b97e474faa45.png)

[2017-01-09 15:07] jhyle commented on #1305
Thank you. Do already plan a new release?

[2017-01-09 16:13] sanpoChew commented on #1323
Hi,

nothing for when I create a new table or add the first item, trying to add a second item gives me this:

[code]

This is the little error that pops up in the actual CMS:

[code]

[2017-01-09 16:51] WellingGuzman commented on #1323
Thanks for the info, that's expected if there's not primary key, I will try to dig a bit more into this, but I've not been able to replicate this issue under MacOS, Apache and PHP 5.6.

I will get back to you as soon as I get something.

[2017-01-09 17:00] WellingGuzman commented on #1325
Hey @cedricve, you can get the `/example` endpoint by going to `your-host/api/example`.

I added a ticket to add documentation on how this work. https://github.com/directus/docs/issues/13

[2017-01-09 17:00] #1325 closed

[2017-01-09 17:02] cedricve commented on #1325
Do I need to do something special? Get a page not available.

![screen shot 2017-01-09 at 18 01 30](https://cloud.githubusercontent.com/assets/1546779/21775261/b30c6c02-d695-11e6-8361-d14b49d463db.png)

[2017-01-09 17:03] WellingGuzman commented on #1325
oh yeah, you have to remove the `_` from `_example` so the file is called `example.php` instead of `_example.php`. all files starting with `_` are ignored.

[2017-01-09 17:27] WellingGuzman commented on #1305
Hey @jhyle expect a release soon, probably by tomorrow.

[2017-01-09 17:29] WellingGuzman commented on #1323
Hey @sanpoChew I have pushed a fix, try and let me know if that works for you.

[2017-01-09 18:17] cedricve commented on #1324
@WellingGuzman were you able to reproduce?

[2017-01-09 18:30] WellingGuzman commented on #1324
Hey @cedricve , I've not been able to reproduce it.

What's the http request raw data? it is working for me using Postman.

[2017-01-09 18:34] cedricve commented on #1324
Hmm, tested it on another machine and it works now.. Sorry for this one. Looks good to me.

[2017-01-09 18:34] #1324 closed

[2017-01-09 18:34] WellingGuzman commented on #1324
Glad to hear, if it pops out again, let us know.

[2017-01-10 00:36] sanpoChew commented on #1323
@WellingGuzman that's fixed now, thanks a lot for the quick response!

[2017-01-10 00:37] WellingGuzman commented on #1323
@sanpoChew Thanks for the confirmation.

[2017-01-10 00:37] #1323 closed

[2017-01-11 05:50] #1305 closed

[2017-01-11 15:27] ValonK opened #1326 "Update Directus"
Hello!

I just wanted to know how I can update my Directus without losing my Data?   I couldn't find any Documentation on that topic.

Version Info

Directus: Api Version 1.0
PHP version: PHP 7.0.14-1+deb.sury.org~xenial+1
MySQL version: Ver 14.14 Distrib 5.7.16,
Web server: Apache
OS: Ubuntu 16.04.1

[2017-01-11 16:27] jhyle opened #1327 "DB errors after update to 6.3.6"
There seems to be a problem with hyphens in column names, e.g.

'Statement could not be executed (42S22 - 1054 - Unknown column 'Footer.E`-`Mail`-`Adresse' in 'field list')' in /home/www/bund/cms.remap-berlin.de/vendor/zendframework/zend-db/src/Adapter/Driver/Pdo/Statement.php:244

[2017-01-11 21:46] WellingGuzman commented on #1326
We don't have any solution for update the core files unless you are using git, if so, you can `pull` the latest commit on any branch. You can also download the latest version replacing all the core files keeping in mind that `/customs`, `/storage` `api/config.php` and `api/configuration.php` can be overwritten and those are probably all the files that are not part of the core files in your install

[2017-01-11 21:50] WellingGuzman commented on #1327
Hey @jhyle what's the name of your column `E-Mail-Adresse`?

This is an issue with Zend-Db we will try to do our best and find a solution, but feel free to report this on their repository.

[2017-01-11 23:38] sanpoChew opened #1328 "Can't drag to reorder columns in a table (Chrome)"
## Version Info
  - Directus version and branch: 6.3.6
  - PHP version: 7.0.14-2
  - MySQL version: 5.5.53
  - Web server: nginx
  - OS name and version: Arch Linux
  - Chrome Version 56.0.2924.51 beta (64-bit)

## Expected Behavior
The Ability to drag and drop columns by clicking on the = sign on the left hand side.

## Actual Behavior
When I try to drag a new tab opens and searches google with t

[2017-01-12 07:04] podlebar commented on #1271
@WellingGuzman it's also wrong written here: https://api.getdirectus.com/1.0/#API_Endpoints in the Global Parameters Sections it still says active instead of status

[2017-01-12 13:48] jhyle commented on #1327
Well, it's  `E-Mail-Adresse`.

[2017-01-12 14:54] WellingGuzman commented on #1271
Hey @podlebar thanks for pointing this out. I'm updating this asap

[2017-01-12 14:58] WellingGuzman commented on #1327
Thanks, I will have to take a Zend Db to fix this issue. I will get back to you as soon as I have a fix for this.

[2017-01-12 15:06] WellingGuzman commented on #1271
@podlebar Fixed with https://github.com/directus/api-docs/commit/3f35b746c70dff3acd244251d990ed04aacafa6e and https://github.com/directus/api-docs/commit/5470bda0233ec275b8daad5dad713425f43b7242, Thanks.

[2017-01-12 15:51] WellingGuzman commented on #1328
Thanks for reporting this, I honestly don't know what to do here, as it's probably Wayland, _even though I have never used it_, but if it's not, and there's a way to reproduce it let me know.

Either way I'm keeping an eye on it.

[2017-01-12 16:32] WellingGuzman commented on #1326
You are welcome to join our [slack channel](https://slack.getdirectus.com/) for any help upgrading Directus.

[2017-01-12 16:32] #1326 closed

[2017-01-13 15:51] HauntedSmores opened #1329 "Using Single type table with Single File field type breaks"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests please use the [Directus FeatHub](http://feathub.com/directus/directus) to make a new request or vote for existing ones, or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be

[2017-01-13 19:12] WellingGuzman commented on #1329
Hey @HauntedSmores, unfourtunatelly I couldn't replicate it. Which version/branch are you on?

You told me this happen after a column was delete? doesn't this was part of the steps to reproduce it?

You create a column with a single file and changed it to single table?

[2017-01-13 19:22] HauntedSmores commented on #1329
I was on 6.3 I believe (just pulled a new build today). I tried reinstalling directus with a fresh DB and I was still getting that error right away.

[2017-01-13 19:23] WellingGuzman commented on #1329
@HauntedSmores can you provide me which fields (UI) are on the table?

[2017-01-13 19:25] HauntedSmores commented on #1329
1 standard text, 1 textarea, 1 single file

[2017-01-13 22:16] #1329 closed

[2017-01-13 22:17] WellingGuzman commented on #1329
Hey @HauntedSmores, can you please pull the last commit from master and let me know if this commit 8d3a562 fixes it for you too.

[2017-01-15 09:07] RabbitMC commented on #1276
After 3 months, Lets Encrypt need a refresh. The Issue appeared again. Now I know how to fix the issue correctly without having trouble or changing directus files.

In /etc/apache/sites-available/default-ssl.conf check

[code]
**AllowOverride All** must be set!

With this change, I checkout current master, and everything works!

[2017-01-16 13:15] jhyle commented on #1327
There is another problem with columns with a hyphen: Saving them does not work. The named parameter gets the column name, unfortunately hyphens are not allowed in parameters.

[2017-01-16 13:16] jhyle commented on #1327
Is it possible to revert to a more stable version of Zend-Db?

[2017-01-16 17:54] Froelund opened #1330 "Can't use sorting"
Hello,

After altering my table with the sql stmt `ALTER TABLE Subjects ADD sort INT(11);`, a sorting interface appears as documented in [the documentation](https://docs.getdirectus.com/6.3.6/#Tables_&_Columns)

But when I try to use the feature, by dragging to reorder, I get a `Server Error: Rows no specified`

## Version Info
  - Directus version and branch: 6.3.6
  - PHP version: 7.1.0
  - MySQ

[2017-01-16 19:08] WellingGuzman commented on #1330
Thanks @Froelund for reporting this, I'm taking a look at this, and I will fix it as soon as possible.

[2017-01-16 19:52] WellingGuzman commented on #1330
Are sure you are on `6.3.6`?, if so, which branch are you using? This should've been fixed. Take a look here: https://github.com/directus/directus/issues/1313 and here https://github.com/directus/directus/commit/2f77f2eb98eb3f1573ce1587ccef927cb0c25590

If you just updated to the current version, please clear your Directus page browser cache.

Let me know how it went.

[2017-01-16 20:03] WellingGuzman commented on #1327
@jhyle This has been an unsolved issue  in ZendDB, so as far as I know there's never been solved.

I did a hotfix for a older version which probably can work for you: https://github.com/WellingGuzman/zend-db/tree/directus

When I got some time I will sit down and try to create a patch for this issue, for now that's the only thing I can do, I'm sorry.

[2017-01-17 04:38] Froelund commented on #1330
Thanks for the response @WellingGuzman !

I'm quite sure, I am using [beevelop/docker-directus](https://github.com/beevelop/docker-directus) and in the Dockerfile it's fetching the the 6.3.6 tarball with [this](https://github.com/beevelop/docker-directus/blob/master/Dockerfile#L26) command
[code]

[2017-01-17 10:28] jhyle commented on #1327
Thank you. I wonder why this problem shows up now, columns with hyphens did work for some time.

[2017-01-17 10:57] jhyle opened #1331 "Many-To-One field used in table list view causes wrong sql query"
I think the table `Teaser` is missing after ON:  LEFT JOIN `Artikel` ON `Teaser`.`Artikel`=`Artikel`.`id`

[2017-01-17 21:18] WellingGuzman commented on #1331
Hey @jhyle can you show me how you configure that UI relationship? (Settings > Tables & Inputs > Teaser > Click on the arrow next to the The Many to One column

Or look for the record on the `directus_columns` table.

[2017-01-17 21:20] WellingGuzman commented on #1327
@jhyle we updated to the most recent version of Zend-Db, skipping our hotfix, I will be working on a hotfix soon, so this won't happen in the meantime, until we can try and make an PR to Zend DB.

I will let you know, so you update the zend db package.

[2017-01-17 21:35] WellingGuzman commented on #1330
Thanks for letting me know I'm going to try myself and see, I will get back to you as soon as possible.

[2017-01-18 09:03] jhyle commented on #1331
![screenshot](https://cloud.githubusercontent.com/assets/5750596/22057519/491c5eca-dd65-11e6-986c-c37deeee1e2c.png)

[2017-01-19 13:24] Froelund commented on #1330
Great

[2017-01-19 17:53] WellingGuzman commented on #1330
Hello @Froelund, I couldn't run directus using that docker, so I can't tell if it's installing the right version.

Would you mind to use this docker https://github.com/directus/directus-docker and see if you have any luck, as I'm thinking that this issue you are having is because you are using an older version, if it's not, I'm having a hard time replicating.

Please try with this docker and let m

[2017-01-19 19:38] WellingGuzman commented on #1327
Hey @jhyle,

Sorry for the delay, please check this commit https://github.com/directus/directus/commit/d0ba99fe8db5d0ae6914a21c89542ccf17e0febe and update your composer to install `directus-database` with an hotfixed zend-db that will allow you to use columns with dashes and spaces.

Remember to remove the `composer.lock` file to make sure it installs the new version and not the one on `composer.l

[2017-01-19 21:37] WellingGuzman commented on #1331
Hey @jhyle, When this error is happening to you?

[2017-01-19 21:47] WellingGuzman commented on #1331
I'm not being able to reproduce this error.

[2017-01-20 07:31] jhyle commented on #1331
The error occurs on the Teaser table list page. I have version 6.3.6 with the Zend-Db from https://github.com/WellingGuzman/zend-db/tree/directus installed.

[2017-01-20 08:04] WellingGuzman commented on #1331
Hey @jhyle if you try to access it from the api `http://your-host/api/1/tables/Teaser/rows` still show you some errors?

I'm trying to replicate this issue without luck.

[2017-01-20 10:53] Froelund commented on #1330
Okay @WellingGuzman . I'll test it.

[2017-01-21 06:58] Froelund commented on #1330
Thank you for the help @WellingGuzman , it works 👍

[2017-01-21 06:58] #1330 closed

[2017-01-21 17:27] WellingGuzman commented on #1330
Amazing! Anything else let us know :)

[2017-01-22 16:37] ryanhalley opened #1334 "User Password is not hashed if you then click 'Reveal Password' 2+ times before Save Item"
## Version Info
  - Directus version and branch: 6.3.6
  - PHP version: 5.5.9
  - MySQL version: 14.4 Distrib 5.5.43
  - Web server: Apache/2.4.7 (Ubuntu)
  - OS name and version: Ubuntu 14.04.2 LTS

## Expected Behavior
Click 'Reveal Password' and it immediately reveals your password. Has no impact on how the password is saved.

## Actual Behavior
Clicking 'Reveal Password' does not immediately r

[2017-01-22 18:38] globallog opened #1335 "Redireecting Issue, Version Issue"
Hello, i installed yesterday "directus_build" on my webserver, it started correctly and i have done all the installation steps, including db connection, it was successfull, but then immideately i got the "redirect loop issue" - ive gone through the docs i found here but no cookie deleting nor a missing column in the database was the source of this redirecting loop

could anybody help please?

btw.

[2017-01-22 22:03] WellingGuzman commented on #1335
Hello @globallog,

When this happens is more likely to be a confusion with directus path value.

What's on your `DIRECTUS_PATH` on `api/config.php`? it should be `/` if you copied your Directus files in your root, otherwise the path of the sub-directory.

[2017-01-22 22:19] WellingGuzman commented on #1334
Thanks @ryanhalley for reporting this. I will fix this as soon as possible.

[2017-01-22 23:04] jhyle commented on #1331
Hi @WellingGuzman ,

this seems to be a problem with the user preferences for the list view:

`mysql> select * from directus_preferences where directus_preferences.user = 1 and directus_preferences.table_name = 'Teaser';
+----+------+------------+-------+-----------------+---------+------------+--------+---------------+
| id | user | table_name | title | columns_visible | sort    | sort_order | st

[2017-01-23 00:23] globallog commented on #1335
Hi, there is no config.php in that direcotry, just an config_example.php

and there is

 

define('DIRECTUS_PATH', '/directus/');

 

 

 

Gesendet: Sonntag, 22. Januar 2017 um 23:03 Uhr
Von: "Welling Guzmán" <notifications@github.com>
An: directus/directus <directus@noreply.github.com>
Cc: globallog <gotlife@gmx.de>, Mention <mention@noreply.github.com>
Betreff: Re: [directus/directus] Redireect

[2017-01-24 06:42] the-pinky-man opened #1337 "Question regarding filters and admins."
As per the documentation, if I do the following request:

[code]

As an administrator, the results are not filtered - I get all users. Is this intended - ie does being an admin trump the use of a filter?

Thanks.

## Version Info
  - Vagrant with 6.3

## Expected Behavior
Unsure

## Actual Behavior

## Steps to Reproduce
 n/a

## Logs or Screenshots
n/a

[2017-01-24 07:53] WellingGuzman commented on #1337
Hey @the-pinky-man, how and where are you executing this endpoint, it's working on my end.

[2017-01-24 08:15] the-pinky-man commented on #1337
Heya @WellingGuzman - it's a fresh-ish provision from the vagrant directus repo. All I have done is add a few extra users and groups. here is my endpoint:

`curl -g "http://192.168.33.6/api/1/tables/directus_users/rows?filters[email][like]=@gmail.com -u xFC3uP7M4hSaWXWTt1ooYnFTM0JXtqwL`

Let me know if you see anything wrong with that. Failing that might try a fresh VM.

Thanks
Mat.

[2017-01-24 08:37] WellingGuzman commented on #1337
@the-pinky-man you are using api version 1, you should be using `1.1`.

`http://your-host/api/1.1/tables/directus_users/rows?filters[email][like]=@gmail.com`

[2017-01-24 21:15] the-pinky-man commented on #1337
@WellingGuzman that resolved it, my bad. thanks mate.

[2017-01-24 21:15] #1337 closed

[2017-01-25 06:18] WellingGuzman commented on #1337
Glad to hear @the-pinky-man :)

[2017-01-26 18:34] AwakenTheJaken opened #1338 "API 1.1 Unable use OR Like for searches"
## Version Info
  - 6.3.6
  - PHP version: 7

First of all thank you so much for this absolutely AWESOME application! I seem to have run into a bit of a gotcha though. Maybe one of you gurus could point me in the right direction!

## Expected Behavior
Unable to search columns with OR LIKE. ie: searching blog title and blog description using a search query.
`WHERE post_title LIKE %whatever% OR desc

[2017-01-27 13:03] fabhenrich opened #1339 "Several "single file" columns in same table"
## Version Info
  - Directus version and branch: 6.3.5
  - PHP version: 5.5.38
  - MySQL version: 14.14
  - Web server: Apache
  - OS name and version: Debian 7.11

## Expected Behavior
When having a table with several "single file" columns, they are all managed in the same way (display and API)

## Actual Behavior
The first "single file" column appears as an object in the API, and if it contains

[2017-01-27 17:30] benhaynes opened #1340 "All Tables/Columns in Settings should show the "raw" name on hover"
For example:

![screen shot 2017-01-27 at 12 27 24 pm](https://cloud.githubusercontent.com/assets/522079/22380677/3bd961ee-e48c-11e6-933c-59c545d2430b.png)

All tables and columns within Settings should show the raw/actual name in the title attribute on hover (and the datatype if applicable).

[2017-01-28 00:03] rijkvanzanten commented on #1340
Could you elaborate? As your screenshot implies as well; isn't this already implemented?

[2017-01-28 04:50] benhaynes commented on #1340
That's the only place it's been done – but it's missing in all the other places within Settings.

[2017-01-28 14:11] rijkvanzanten opened #1341 "Bearer / Basic Auth Authentication failing"
## Version Info
  - Directus version and branch: 6.3.6 development f68c97f
  - PHP version: 5.6.28
  - MySQL version: 5.6.34
  - Web server: Nginx (MAMP PRO)
  - OS name and version: Mac OS Sierra

## Expected Behavior
`curl -u key123: http://local.directus/api/1.1/tables/test/` or `curl -H "Authorization: Bearer key123" http://local.directus/api/1.1/tables/test/` to return entries

## Actual Beha

[2017-01-29 10:43] PolywickStudio opened #1342 "Single-sign-on?"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests please use the [Directus FeatHub](http://feathub.com/directus/directus) to make a new request or vote for existing ones, or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be

[2017-01-30 14:39] benhaynes commented on #1342
Hey @PolywickStudio – thank you for submitting this. New features should be submitted and voted on at FeatHub. This has already been requested, so feel free to upvote!

http://feathub.com/directus/directus/+43

Also, I should mention that this feature is being added into the next release of Directus (`6.4`)! So you should be able to review this in a few weeks!

[2017-01-30 14:39] #1342 closed

[2017-01-30 18:57] WellingGuzman commented on #1341
Hey @rijkvanzanten I've tried to replicate this issue and I could get the expected results on both Bearer and Basic authentication, I've been checking what could possible go wrong, but it should only fail on failed authentication, but you got a successful authentication with `access_token`

I will see if I can find the problem and I will get back to you as soon as possible.

[2017-01-30 19:25] WellingGuzman commented on #1338
Thanks @AwakenTheJaken, I will be adding this option soon. I will let you know when it's integrate.

[2017-01-30 19:27] WellingGuzman commented on #1339
Hey @fabhenrich, this should've been fixed in 6.3.6.

Give it a try and let us know.

[2017-01-30 19:29] WellingGuzman commented on #1335
Sorry for the late response @globallog.

Is there anything in your logs `api/logs`? on the first step, what do you set `Directus Path` to?

~ Welling

[2017-01-31 11:01] fabhenrich commented on #1339
Fixed approved, thanks for your reply :)

[2017-01-31 11:01] #1339 closed

[2017-02-01 16:38] sanklamm opened #1343 "All DB tables in html source"
Don't you think it is bad practice to dump all tables from the directus-db into the html source to decide later which of them to display? All users can see all tables **including the users table with email adresses, hashed passwords and salt**!

I really have to say that I am baffled by this.

[2017-02-01 18:12] WellingGuzman commented on #1343
Really true, we have in mind to solve this in the next version.

In the next minor version we will be hiding hashed passwords and salt, and about tables it should only be seen the table the user has permission to see.

Thanks for letting us know, and we apologies for any inconveniences this may had raise.

[2017-02-01 21:45] WellingGuzman commented on #1327
I will close this, if this still happening I will re-open it.

[2017-02-01 21:45] #1327 closed

[2017-02-02 12:14] mkleywegt opened #1345 "Versioning the API vs. versioning the API endpoints"
Configuring the API version through `config.php` currently does not work as intended.

It seems the old (v1) and the new (v1.1) sets of API endpoints are both supposed to work simultaneously, but the API_VERSION constant confuses and breaks things.

Consider:
- API_VERSION set to **1**: `/api/1/<endpoint>` works (with all the new endpoints introduced in [v1.1 of the API](https://api.getdirectus.co

[2017-02-02 13:34] mkleywegt commented on #1345
Some more information:

- Whatever the API version, the admin client needs version **1** to function properly.
- Also, using any API version other than **1.1** gives you API responses from v1 (i.e. no filters are available).

[2017-02-02 16:53] WellingGuzman commented on #1345
Hey @mkleywegt, sorry for the confusion, the API versions are not intended to work together interchangeable **_YET_**, they work together.

We created the API 1.1 to improve the version 1, but we change all the responses to have the same output format, so that means it won't work changing **1** to **1.1** yet, also won't work because it will change all the current endpoints version, which in the e

[2017-02-02 16:53] #1345 closed

[2017-02-03 20:27] malindamiller commented on #1340
I would be interested in taking this.  Is it done already? If not could I get a hint about which files to start in?

[2017-02-03 20:32] benhaynes commented on #1340
Hey @malindamiller – it's not done, and we'd love the help!

Most, if not all, of these Settings templates are located here:

https://github.com/directus/directus/tree/master/app/templates/modules/settings

Thanks for the help!

[2017-02-05 15:58] hpohlmeyer opened #1346 "404 error on requests"
## Version Info
  - Directus version and branch: 2b333d5 (master)
  - PHP version: 7.0.10
  - MySQL version: 5.6.28
  - Web server: Apache
  - OS name and version: MacOS Sierra (10.12.3)

## Expected Behavior
After visiting a URL (e.g. http://my-site.dev/users) the right page should load.

## Actual Behavior
A 404 error gets returned.
It is the same for other pages and for api requests (curl).

##

[2017-02-05 16:38] WellingGuzman commented on #1346
Hey @hpohlmeyer thanks for reporting this.

No, that's no right. it should have a `.htaccess` file.

[2017-02-05 22:29] hpohlmeyer commented on #1346
Ok, thanks, I seem to have missed the .htaccess file, while copying the data.
Now everything works fine. :)

[2017-02-05 22:29] #1346 closed

[2017-02-06 17:58] Zaelot opened #1347 "API 1.1 lacking response"
## Version Info
  - Directus version and branch: 6.3.6 ( 7f3d825 )
  - PHP version: PHP7
  - MySQL version: MySQL 5.5
  - Web server: Apache
  - OS: Debian Jessie

_You're probably already aware of most of these, but thought I'd mention._

## Expected Behavior

1. /api/1.1/tables/table_name/
	- `"nullable":true`
2. /api/1.1/tables/table_name/columns/
	- List all columns
3. ~/api/1.1/privileges/gro

[2017-02-06 21:27] WellingGuzman commented on #1346
Glad to hear 👍

[2017-02-07 04:58] WellingGuzman commented on #1347
Thanks @Zaelot I will give it a look tomorrow

[2017-02-07 16:17] Zaelot commented on #1347
It seems you can scratch out 3. & 4. as the API was expecting the _group_id_ and not _group_name_ as I had mistaken.

Ran into fresh troubles though, WebGL project is returning a null response with error: **"Unknown error."**
Works fine in IDE. :/ (Tried both: passing the API token in the header, and with `?access_token=`)

[2017-02-07 18:52] WellingGuzman commented on #1347
Hey @Zaelot both 1 and 2 has been fixed. This will be release soon in 6.3.7

commits:
- https://github.com/directus/directus/commit/622672d70b8dd053cb6d2b5f7533813ed9bc0a09
- https://github.com/directus/directus/commit/c9f346070ca36911f8679e60a3180599517aa594

(on api/1.1/tables/{0}/rows/?filters[project][like]={1} )
Works fine in IDE. :/ (Tried both: passing the API token in the header, and with

[2017-02-08 11:59] Zaelot commented on #1347
We set up the Directus database that we're trying to utilize for our project. One part of the project is made with Unity 3D and there in the Unity Editor the above (GET) call to `https://ourdirectusaddress.com/api/1.1/tables/table_name/rows/?filters[column_name][like]=item_name`
works just fine without any problems, but in the WebGL build, we get a null response to the request with error message o

[2017-02-08 19:15] WellingGuzman commented on #1347
Hey @Zaelot,

I'm starting to believe this is a request from another host, because it's an OPTION request, probably you should enable `CORS` in your `configuration.php` file [/api/configuration.php](https://github.com/directus/directus/blob/f3124bba281d3f597b9343d8780b307113542020/api/configuration_sample.php#L45-L52)

Try that and let me know if that resolve the problem.

[2017-02-08 20:10] WellingGuzman commented on #1343
Hey @sanklamm I fixed this and only the current user can see they own private user info.

Thanks for pointing this out to us.

[2017-02-08 20:10] #1343 closed

[2017-02-08 20:11] WellingGuzman commented on #1347
hey @Zaelot If this keep happening, please open a new ticket for this issue.

[2017-02-08 20:11] #1347 closed

[2017-02-09 06:20] Zaelot commented on #1347
Thank you very much @WellingGuzman, that was it!

[2017-02-09 18:52] Zilus opened #1348 "Error: exception 'ErrorException' with message 'Call to a member function toArray() on null'"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests please use the [Directus FeatHub](http://feathub.com/directus/directus) to make a new request or vote for existing ones, or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be

[2017-02-11 19:05] ke207 opened #1349 "Mod_Rewrite Enabled: No"
I am using a shared hosting service and trying to install Directus in a sub-folder of a add-on domain root (http://my-add-on-domain.com/cms/). By going through the installation process to step 4, it shows that "Mod_Rewrite Enabled" is "No".

Here's the server info:
  - PHP version: 5.6.29
  - MySQL version: 5.6.32
  - Web server: Apache 2.2.31
  - Directus downloaded from https://github.com/direct

[2017-02-11 22:19] WellingGuzman commented on #1349
Hey @ke207, Thanks for reporting this.

There's a bug verifying the mod_rewrite using Directus in a subdirectory, you can continue and install without a problem.

I will work on a fix.

[2017-02-11 22:23] WellingGuzman commented on #1348
Hey @Zilus, can you update to most recent and try again?

I wasn't able to reproduce with current release, so this was probably fixed along the way. if still happening let me know and I will work on a fix for this.

[2017-02-12 17:36] ke207 commented on #1349
Thanks @WellingGuzman, I think the installation is working great now.

[2017-02-12 22:38] WellingGuzman commented on #1349
Great to hear @ke207.  I'm closing this ticket.

[2017-02-12 22:38] #1349 closed

[2017-02-15 00:22] Zilus opened #1350 "Nav Override "order""
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests please use the [Directus FeatHub](http://feathub.com/directus/directus) to make a new request or vote for existing ones, or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be

[2017-02-16 21:35] WellingGuzman commented on #1350
Thanks @Zilus, I will take a look at this in a moment.

[2017-02-17 08:52] WellingGuzman commented on #1350
It was fixed here: https://github.com/directus/directus/commit/37084ca122323323d2ff03152695aae11ec1e92e

Only fixed on `development` branch.

[2017-02-17 08:52] #1350 closed

[2017-02-19 20:33] waingro opened #1351 "Unable to edit tags/location/name of uploaded image"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests please use the [Directus FeatHub](http://feathub.com/directus/directus) to make a new request or vote for existing ones, or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be

[2017-02-19 21:20] waingro commented on #1348
At first I was getting the same error with an identical description with a fresh install. However after a few days I am now getting this for when I create a new Table and Add some new fields. My stacktrace is a bit bigger so hopefully it helps. Looking back this is the same stacktrace with the fresh install error (just with different table names).

**## Version Info**

Directus version and branch:

[2017-02-20 07:56] chrisformula opened #1352 "Installation is on mac"
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for slim/slim 2.3.2 -> satisfiable by slim/slim[2.3.2].
    - slim/slim 2.3.2 requires ext-mcrypt * -> the requested PHP extension mcrypt is missing from your system.
  Problem 2
    - slim/slim 2.3.2 requires ext-mcrypt * -> the requested PHP extension mcrypt is missing from your sys

[2017-02-20 09:51] rijkvanzanten commented on #1352
It is possible to install mcrypt on the default PHP on MacOS, but I highly recommend checking out MAMP for local PHP development.

If you're already using MAMP and still getting this issue; make sure you use php version 5.x.x instead of 7.x.x and run Composer through MAMP's php instead of the default.

[2017-02-20 13:45] Zaelot opened #1353 "Latest version API 1.1 broke Many to One retrieval"
## Version Info
  - Directus version and branch: 6.3.7 ( 10a92a0 )
  - PHP version: PHP7
  - MySQL version: MySQL 5.5
  - Web server: Apache
  - OS: Debian Jessie

## Expected Behavior

1. /api/1.1/tables/table_name/rows
	- Embedded data from ManyToOne reference

## Actual Behavior
1. `"manyToOneFieldName": 17,` (so just the index)

## Steps to Reproduce
 1. Install the a build supporting 1.1 API

[2017-02-20 16:40] #1353 closed

[2017-02-20 16:44] WellingGuzman commented on #1353
Hey @Zaelot I updated the database component, please make sure to install the `0.1.2` version of the `directus/database` component.

[2017-02-20 16:52] WellingGuzman commented on #1352
I would recommend using MAMP as well.

In other hands as there may be different way to install the extension, you can google it how to install it on Mac, or probably try using `brew` (homebrew), as I don't want to confirm any successful step by step.

Please let us know how it goes. I will close it as this is not directly related to Directus, but we can keep the conversion open :)

[2017-02-20 16:52] #1352 closed

[2017-02-20 18:52] Faey2222 opened #1354 "Get last updated (ASC/DESC)"
Is there any way to get the latest updated items? Also to get the items which haven't been updated for a long time (pretty much the same filter as described before just sorted different)?

I haven't found any out-of-the-box method or filter for this in the 1.1 API documentation.
If this isn't implemented yet wouldn't that be a nice thing to have in one of the next updates of directus?

[2017-02-20 19:05] #1351 closed

[2017-02-20 19:41] WellingGuzman commented on #1354
Hey @Faey2222,

Directus actually stores those data in `directus_activity` table. You can filter for an specific table.

Ex below:

[code]

Using the API 1.0:

[code]

Using the API 1.1:

[code]

Another way using `activity`, same filters, shorter endpoint.
[code]

There's not Interface for this option, but you can add a new record in `directus_tables` and define your desired table if doesn't exis

[2017-02-20 19:41] #1354 closed

[2017-02-20 20:31] #1348 closed

[2017-02-20 20:33] WellingGuzman commented on #1348
Hey @Zilus,

I finally understood the issue, and commit a fix to the master branch.

Let me know if that really fixes it.

[2017-02-21 07:47] chrisformula commented on #1352
Hi Welling

Ok Im a tad confused now, so I don't need to go through the composer rout to install the CMS?

[2017-02-21 17:01] WellingGuzman commented on #1352
Hello @chrisformula, when are you getting 500 error? anything on your logs (`/api/logs` directory)

[2017-02-22 06:40] chrisformula commented on #1352
I only seem to have README files in my log.

This is the exact error I get out of terminal when trying to install composer:

composer install
Loading composer repositories with package information
Installing dependencies (including require-dev) from lock file
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for slim/slim 2.3.2 -> sa

[2017-02-22 08:22] WellingGuzman commented on #1352
Oh, that means you still does not have the php extension `mcrypt` installed on your machine.

You have to install it and install the composer dependencies.

[2017-02-22 10:01] chrisformula commented on #1352
Ok so that does not install it when running composer?

[2017-02-22 10:05] chrisformula commented on #1352
And how do I install that?

[2017-02-22 10:23] chrisformula commented on #1352
Woohoo I managed to install mcrypt and its working now!, Thanks for the help guys!!!

[2017-02-22 10:50] rijkvanzanten commented on #1352
@WellingGuzman Maybe we could add local installation instructions for Mac somewhere? I've run into this problem myself as well (on two occasions..).

[2017-02-22 10:52] chrisformula commented on #1352
Yeah just to add that step, that was my only hiccup but now its running smoothly

[2017-02-22 18:04] WellingGuzman commented on #1352
@rijkvanzanten That's true, that's something that happened to me a lot. I will try to add some instruction on how to install it.

Would you mind to share how did you install it @chrisformula?

[2017-02-22 21:39] Zilus opened #1355 "Error: Uncaught TypeError: e.toJSON is not a function"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests please use the [Directus FeatHub](http://feathub.com/directus/directus) to make a new request or vote for existing ones, or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be

[2017-02-24 14:00] chrisformula commented on #1352
Sure!
These steps are based on MAMP installed on OS X El Capitan

Below are the steps that I followed to get the issue sorted:

Firstly install:

brew install rbenv ruby-build

# Add rbenv to bash so that it loads every time you open a terminal
echo 'if which rbenv > /dev/null; then eval "$(rbenv init -)"; fi' >> ~/.bash_profile
source ~/.bash_profile

# Install Ruby
rbenv install 2.4.0
rbenv glob

[2017-02-25 17:04] ricricucit opened #1357 "Multiple delete error"
## Version Info
  - Directus version and branch: v6.3.7 (Lapis Lepus)
  - PHP version: 7.0.15
  - MySQL version: 5.6.35
  - Web server: Apache
  - OS name and version: OSX 10.12.3 on MAMP

## Expected Behavior
After selecting multiple items in a table, clicking "Delete" should delete the items.

## Actual Behavior
After selecting multiple items in a table, clicking "Delete" causes unknown error (s

[2017-02-25 17:14] ricricucit commented on #1357
Duplicate (Issue #1355)

[2017-02-25 17:14] #1357 closed

[2017-02-25 17:14] ricricucit commented on #1355
Same error here.

[2017-02-25 17:27] WellingGuzman commented on #1355
Hey @Zilus + @ricricucit,

I pushed this [commit](https://github.com/directus/directus/commit/ed090e78702d4e0c6e89bc1c0cf96287c212ac29) into `development` branch, it should fix the issue.

Let me know.

[2017-02-25 17:27] #1355 closed

[2017-02-25 17:42] ricricucit commented on #1355
Thanks @WellingGuzman!
Just one question...how can I update with a simple pull?
Documentation says I should `git pull origin build` ...but that generates:

[code]

[2017-02-25 17:46] WellingGuzman commented on #1355
Well if you are using build branch, I apologize, but you have to wait when we release the next version, soon today.

What you can do in the mean time is use the development branch (if possible).

[2017-02-25 17:48] ricricucit commented on #1355
Worked, thanks.
Same applies to your fix! 💯

[2017-02-25 19:18] ricricucit opened #1358 "Updating a group permission, updates wrong group permission"
## Version Info
  - Directus version and branch: development
  - PHP version: 7.0.15
  - MySQL version: 5.6.35
  - Web server: Apache
  - OS name and version: OSX

## Expected Behavior
Changing permission to a specific group, should change the permissions to that particular group.

## Actual Behavior
Changing permission to a specific group, changes the permissions to the group that is modifying th

[2017-02-25 19:35] ricricucit commented on #1358
Now I'm getting the following, if I login with the "Editor" user (and can't fix this issue anymore, even if I try to manually change data directly in the DB):

[code]

[2017-02-25 20:41] jhyle opened #1359 "ManyToOne Typeahead shows deleted entry instead of active"
I have two relatable items with the same title, one of them is deleted. Unfortunately I see only the deleted one and cannot select the active.

[2017-02-25 22:40] ricricucit commented on #1297
Is sir-trevor being integrated?

[2017-02-25 22:42] ricricucit commented on #1242
Which wysiwyg is being added? Is it sir-trevor mentioned in issued #1297

[2017-02-26 02:33] WellingGuzman commented on #1359
Hey @jhyle, you probably has configured to only fetch `deleted` items on the UI Options.

Change `Visible Status IDs` to a list of statuses you want to use to filter the search

<img width="353" alt="screen shot 2017-02-25 at 10 33 51 pm" src="https://cloud.githubusercontent.com/assets/1531291/23336589/76a9379c-fbaa-11e6-9b79-14d018a314f6.png">

[2017-02-26 08:12] jhyle commented on #1359
I have a 1 there:

[2017-02-27 04:07] Zilus commented on #1355
Works! Thanks!

[2017-02-28 20:13] DaSchTour opened #1361 "Twig_Extension missing"
## Version Info
  - Directus version and branch: 6.3.7
  - PHP version: 5.6 and 5.5
  - MySQL version: 5.5
  - Web server: Apache
  - OS name and version: CentOS 7.3

## Expected Behavior

Installation starts

## Actual Behavior

[code]

## Steps to Reproduce
 1. Unpack directus to directory
 2. Try to access the root directory for installation
 3. See the Twig_Extension error

## Logs or Screensh

[2017-02-28 22:22] WellingGuzman commented on #1361
Hey @DaSchTour, it seems like you need to install the composer dependencies.

[2017-03-01 02:58] davidbwaters opened #1362 "Markdown: Uncaught TypeError: Cannot read property 'replace' of null"
I'm getting an error when adding a markdown field, saving the table options, and viewing the table.  The alert said report it to Marked issues, but it's the same error described in this thread, so I figured I would post it here.

Uncaught TypeError: Cannot read property 'replace' of null
https://github.com/chjj/marked/issues/678

[2017-03-01 08:01] DaSchTour commented on #1361
How? And why isn't this mentioned in the documentation?

[2017-03-01 18:31] WellingGuzman commented on #1361
Hey @DaSchTour at the documentation we point to the `build` branch which has the dependencies already installed so we omit that step in the documentation.

You would have to download and install `composer` (https://getcomposer.org/) then cd to your directus path. and run `composer install` you should get all the dependencies installed.

It has nothing to do with your setup. You can download Direct

[2017-03-01 18:40] WellingGuzman commented on #1362
Any step by step to reproduce? Unable to reproduce this issue.

[2017-03-01 20:05] WellingGuzman commented on #1359
Hey @jhyle, sorry for the delay, what request is being made to the server? only the deleted records are being shown and nothing else?

[2017-03-01 20:06] WellingGuzman commented on #1361
I will close this as this is not an actual issue. I will help you get started, either way.

[2017-03-02 00:24] davidbwaters commented on #1362
I created a new table, added a markdown field to it, saved it, and selected the table from the menu to view it.  After the table was created, I was able to add a markdown field.  I think there was an empty entry in the table after creation that could be causing it.

[2017-03-02 01:23] davidbwaters commented on #1362
Okay, sorry to be off-topic, but I believe the table-creation issue is the bug from [#1308](https://github.com/directus/directus/issues/1308) and will post my experience in that thread to try and help resolve that.

The markdown problem seems to have something to do with the empty entry in the table upon creation.  It was the first table I created and I added the fields before viewing it.   After

[2017-03-02 01:34] davidbwaters commented on #1308
Hey, I was experiencing this also.  Just to note, if an inaccessible capitalized table is created and fields are added, creating a table with the same name lowercase let's you access the original.

[2017-03-02 03:42] davidbwaters commented on #395
Hi.  I know the limitations of PDO make this one tricky and somewhat out of dev's control, but wanted to note how much the lack of hosting support for disabling strict mode could potentially limit exposure for those considering/learning/testing Directus.

Not being able to install Directus on shared hosts and cloud hosts like Heroku could be a hurdle for many.  Virtual machines and AWS still work,

[2017-03-02 03:56] WellingGuzman commented on #395
Hey @davidbwaters, did you have problem installing Directus on a shared hosting? strict mode will give you some issue working with Directus, but it should be less than when this ticket was open, can you elaborate more so we can help you install it (if possible).

[2017-03-02 08:00] DaSchTour commented on #1361
Okay, well. That was not that obvious for me, that I'm directed to a build branch. For me it was more of: "Here is the git repot you can download it". Then I go to releases and download a release and boom I get a not build release for download.

[2017-03-02 11:02] RabbitMC opened #1363 "Activate multiple inactive entries"
## Version Info
  - Directus version and branch: 6.3.8
  - PHP version: 7.1.2
  - MySQL version: 5.7
  - Web server:  Apache 2
  - OS name and version: Ubuntu 14.04

## Expected Behavior
After selecting 5 or more inactive entries, and clicking on "Active", I expect, that all the selected inactive entries turned to be active.

## Actual Behavior
Error shows up
Behavior for only 1 entry works!
Batch

[2017-03-02 12:43] davidbwaters commented on #395
Oh, awesome, I hadn't tried it yet, actually.  I have it installed locally and know the installation has warnings about it, so I assumed it would cause lots of problems.  I'd been looking into Docker hosting, which let's you configure my.cnf, but will test it out on a shared service or Heroku.,  I assume I just need make my own config file with DB credentials, etc?

I'm really glad you guys are st

[2017-03-03 19:47] KingKarrow commented on #1279
Hi! I'm seeing the same thing on 6.3.6.

[2017-03-03 19:58] WellingGuzman commented on #1279
@KingKarrow any specific error? any logs in `api/logs`?

[2017-03-03 20:57] KingKarrow commented on #1279
This one looked relevant:
[code]

[2017-03-04 06:57] WellingGuzman commented on #1361
@DaSchTour I apology for the confusion, but only the build branch, linked in the documentation has everything included.

Thanks for pointing this out, we will try to make it more clear.

Did you manage to make it work?

[2017-03-04 06:59] WellingGuzman commented on #1279
@KingKarrow can you send me a pdf that I can use to reproduce this error, I tried couple of PDFs without any problem.

It seems you have `Imagick` already installed, so we can take that out of the way.

[2017-03-04 07:05] WellingGuzman commented on #1363
Hey @RabbitMC,

I'm not able to reproduce, everything looks as expected, is there anything in particular in this table, I created a simple table with `id, active and title` as columns, and it worked.

[2017-03-04 16:23] ricricucit opened #1364 "😢 Emojis are not correctly saved"
## Version Info
  - Directus version and branch: 6.3.8
  - PHP version: 7.0.15
  - MySQL version: 5.6.35
  - Web server: Apache
  - OS name and version:

## Expected Behavior
a. Saving emoji from text inputs and areas should be working.
b. Adding them directly (manually) to the DB works.

## Actual Behavior
a. Saves `????` (4 questionmarks) instead  😢.
b. For those emojis saved manually, any UI di

[2017-03-04 17:05] WellingGuzman commented on #1364
Thanks @ricricucit for reporting this one, can you share the database, table and field charset and collation?

[2017-03-06 15:04] KingKarrow commented on #1279
I should point out that we used directus-docker to set this up. Don't know if that is relevant.
Here's a simple test PDF that threw the error:
[Output-Management-as-a-hub_Compart.pdf](https://github.com/directus/directus/files/821518/Output-Management-as-a-hub_Compart.pdf)

[2017-03-06 15:31] KingKarrow commented on #1279
Update: I've been working on my local running Docker as noted. Just tested on our development server, and it works. Though the thumbnail is just "PDF"... doesn't that mean Imagick shouldn't care about the PDF?

[2017-03-06 20:01] nmpribeiro opened #1365 "Deleted language creates translation record on translated_table"
Just figured out how to create translations (using the projects and projects_translations from O2M relationship manual on Directs Docs), but upon testing it became obvious that my first (ID=1) deleted language was being used to create a translation record. After cycling through the translations through the drop down menu on my 'projects' it seams my first language was being fetched from 'default l

[2017-03-07 09:37] ricricucit commented on #1364
Database: **utf8mb4_bin**
Table: **utf8mb4_unicode_ci**
Field: **utf8mb4_bin**

[2017-03-07 16:27] woodscreative commented on #1265
New to this great project but I'm having a hard time understanding the custom interface docs, app/core/uis only have input.html files and `define` only found in app.min.js?

[2017-03-08 12:43] woodscreative commented on #1265
The above links throw 404. This is a great project but the docs for ui are difficult to follow, also /app/core/uis only have input.html, `define` is relating to app.min.js?

[2017-03-12 19:29] rijkvanzanten opened #1366 "Required field prevents deleting item"
## Version Info
  - Directus version and branch: 6.3.8
  - PHP version: 5.6.28
  - MySQL version: 5.6.34
  - Web server: MAMP
  - OS name and version: Mac OS Sierra 10.12.3

## Expected Behavior
Selecting 'delete' and clicking 'Save item' deletes the item.

## Actual Behavior
An error message pops up reminding me that a required field hasn't been filled yet.

## Steps to Reproduce
 1. Delete an ex

[2017-03-13 16:15] woodscreative commented on #1334
Snap. Keep having issues with updating passwords generally. I get redirected at login with login.php?redirect=users with no feedback. Passwords don't get updated when I click save, sometimes you go into a user profile and the password field is just empty and so you can't update the profile without putting in their password (I'm guessing as admin this is not right) and the whole confusing process s

[2017-03-13 18:39] WellingGuzman commented on #1366
Hey @rijkvanzanten thanks for posting this, but I'm closing it.

same: https://github.com/directus/directus/issues/1093

[2017-03-13 18:39] #1366 closed

[2017-03-13 20:27] WellingGuzman commented on #1334
Hey @woodscreative, sorry for the late reply, we are aware with some issues with password, but we have never experienced the redirect issue, do you have steps to reproduce it, or is it random?

As admin you should be able to update any information without the need to add a password every time.

I apologize for any inconveniences this may cause, I will get some time to look at this issue.

[2017-03-13 20:42] WellingGuzman commented on #1365
@nmpribeiro I believe this is a good behavior, It can be confusing or seem like a bug, but I'm open to discuss this further.

[2017-03-13 20:57] #1364 closed

[2017-03-13 20:59] WellingGuzman commented on #1364
Hey @ricricucit, if you go to your `config.php` file and change `DB_CHARSET` TO `utf8mb4` emojis should work from that point on 💯

Please confirm.

[2017-03-13 21:06] WellingGuzman commented on #1279
Hey @KingKarrow, so it happens to be the other way around it was an issue creating the pdf thumbnail, so it was about having `Imagick` installed.

I'm working on a fix, get back to you when it's done.

[2017-03-13 21:17] sanpoChew opened #1367 "Users unable to edit their own details"
## Version Info
  - Directus version and branch: master (098baf15b28c61907363bc6a76caab01960f2bb6)
  - PHP version: 7.0.16-3
  - MySQL version: 5.5.54
  - Web server: nginx 1.10.3
  - OS name and version: Debian 8.7

## Expected Behavior
I'm trying to give users the ability to edit certain sections of their own details, this originally came about with a user trying to add an Avatar.

## Actual Beh

[2017-03-13 21:18] DaSchTour commented on #1361
@WellingGuzman yes I made it work, but I get MySQL Errors everywhere. After 10 Minutes I have entries that I don't see in any table cause I deleted them but I seem them in selects. And after 1 hour of working with directus I gave up. I'll try something else. Sorry.

[2017-03-13 21:37] WellingGuzman commented on #1279
Note: I have experienced another issue, apparently on Mac OS X, `Imagick` is having issue reading files binary data, while on ubuntu there's not issue at all.

[2017-03-13 21:51] Zilus opened #1368 "Single item table after save (returns to tables list)"
## Version Info
  - Directus version and branch: 6.3.8
  - PHP version: 5.6
  - MySQL version:  5.7
  - Web server: Apache
  - OS name and version: Ubuntu 14.04

## Expected Behavior
With a single item table, after save I expect to get returned to the item itself.

## Actual Behavior
I goes to "Tables" list

## Steps to Reproduce
 1.  Create a single item table
 2. Edit and save

## Logs or Screen