[2017-03-13 22:07] #1368 closed

[2017-03-13 22:08] WellingGuzman commented on #1368
Hey @Zilus, I've fixed this with https://github.com/directus/directus/commit/3d5d21713264e83602776b4fb0b4142281b201b3

Let me know if that worked for you.

[2017-03-13 22:25] Zilus commented on #1368
It works perfectly!
Thanks for the quick answer! I love **Directus** :)

[2017-03-13 22:53] Zilus opened #1369 "Select JSON doesn't map on list view"
I created a select UI, added a JSON ej.
{
    "1":"500px",
    "2":"Behance"
    ...
}
In the new and edit UI it works perfeclty, But when not in the list.
## Version Info
  - Directus version and branch: 6.3.8
  - PHP version: 5.6
  - MySQL version: 5.7
  - Web server: Apache
  - OS name and version: Ubuntu

![captura de pantalla 2017-03-13 a las 4 52 10 pm](https://cloud.githubusercontent.com/as

[2017-03-13 23:05] #1369 closed

[2017-03-13 23:07] WellingGuzman commented on #1369
Hey @Zilus, Now you can select from Select UI options if you wish to use `text` or `value` to be shown in the listing table.

<img width="358" alt="screen shot 2017-03-13 at 7 07 37 pm" src="https://cloud.githubusercontent.com/assets/1531291/23878871/3d88847c-0820-11e7-9ea5-63cd1d882c9c.png">

Let me know if that works for you.

Commit: https://github.com/directus/directus/commit/a00a734bbe7385076

[2017-03-13 23:10] Zilus commented on #1369
Awesome!!!
It works and I love the feature.

[2017-03-13 23:34] WellingGuzman commented on #1265
Hey @woodscreative,

You are using hosted, which is a "compiled" version, we merge all js into `app.min.js` but all that left are their interfaces `html` in `app/core/uis`, you can see an example here: https://github.com/directus/directus/blob/master/app/core/uis/textarea.js

We can help you get started creating a new interface, or understanding one. You are welcome to join us in our slack channel

[2017-03-14 00:04] WellingGuzman commented on #1367
Hey @sanpoChew, can you check your logs (`api/logs`) any user should be able to edit their own information, what permissions did you gave the user group those users belongs to?

[2017-03-14 12:25] ricricucit commented on #1364
Thanks @WellingGuzman.
I've added `define('DB_CHARSET', 'utf8mb4');` to my _config-php_ file, but it still doesn't work.
It either strip the emoji...or save `????`

[2017-03-14 12:59] ricricucit commented on #1364
😳 whoooops. Forgot to pull.
I've pulled and it's now working. (apart from the WYSIWYG that strips it...but I guess that's fine?)

Thanks @WellingGuzman !

[2017-03-14 14:42] sanpoChew commented on #1367
I'm getting the following error:

`ERROR - 2017-03-14T14:17:19+00:00 - ErrorException: Illegal string offset 'id' in /var/www/directus/api/core/Directus/Db/TableGateway/RelationalTableGateway.php:58
Stack trace:
#0 /var/www/directus/api/core/Directus/Db/TableGateway/RelationalTableGateway.php(58): Slim\Slim::handleErrors(2, 'Illegal string ...', '/var/www/direct...', 58, Array)
#1 /var/www/directu

[2017-03-14 14:59] woodscreative commented on #1334
Hey,
I first had issues when trying to use the password to authenticate and
retrieve a token on the API, this kept failing. So i tried resetting the
password, it appears to auto-update after you type it in, but does it save?
(I think it should only save the password when you click 'SAVE") either way
I could never get my user/pass or token to work through the API. So I
created a new account where I

[2017-03-14 15:02] woodscreative commented on #1265
I dl the latest zip from github and noticed a lot more files in their, not
sure what happened to them the first time as I only had checkbox, datetime
with .html files in no JS.

On Mon, Mar 13, 2017 at 11:34 PM, Welling Guzmán <notifications@github.com>
wrote:

--
Regards,
Paul Woods
---
+44(0) 7934 851 126
paul@woodscreativemedia.com
<paul@woodscreativemedia.com>http://www.woodscreativemedia.com

[2017-03-14 15:28] WellingGuzman commented on #1265
@woodscreative you probably downloaded from `build` branch, which has not `.js` files in `app/core/uis` only `.html`

[2017-03-14 15:31] WellingGuzman commented on #1364
Amazing! @ricricucit, you are welcome to open a new ticket for the WYSIWYG issue, I will have a look at that some time soon either way.

[2017-03-14 16:05] ricricucit opened #1370 "WYSIWYG strips emojis 😢"
## Version Info
  - Directus version and branch: latest
  - PHP version: 7
  - MySQL version: 5.6
  - Web server: (Ex. Apache, nginx or IIS?)
  - OS name and version:

## Expected Behavior
Saving an emoji in the WYSIWYG should save the emoji!

## Actual Behavior
...it doesn't.

## Steps to Reproduce
 1. add an emoji in a WYSIWYG
 2. save
 3. the emoji will be stripped.

## Logs or Screenshots
![sc

[2017-03-14 16:06] ricricucit commented on #1364
[done](https://github.com/directus/directus/issues/1370).

[2017-03-14 22:35] Zilus opened #1371 "The table `directus_messages_recipients` is missing the `user_create_column`"
When a user from a user group created after installation receives a message, gets this error:

The table `directus_messages_recipients` is missing the `user_create_column`
within `directus_tables` (BigEdit Permission Forbidden)

I fixed by adding manually the directus_messages_recipients row for each group in directus_privileges table. But it should be created when "you creaste a new group".

Mayb

[2017-03-15 00:32] WellingGuzman commented on #1364
Thanks @ricricucit

[2017-03-15 13:56] kaskajp opened #1372 "Float checkboxes in checkbox lists (Multi Select)"
## Version Info
  - Directus version and branch: build branch, commit 52d1c56
  - PHP version: 5.6.27
  - MySQL version: 5.6.27
  - Web server: Apache 2.4.23
  - OS name and version: macOS Sierra 10.12.1

## Expected Behavior
The options should float or something so they don't take up so much space.

## Actual Behavior
The options stack on top of each other.

## Steps to Reproduce
 1. Just a defau

[2017-03-15 16:00] woodscreative commented on #1265
@WellingGuzman A [screencast](https://youtu.be/CYum3xnjEBg) re: password management issues. Password disappearing and not updating at random. Failing to login under Chrome, Safari etc etc.

[2017-03-16 18:06] #1372 closed

[2017-03-16 18:10] WellingGuzman commented on #1372
Hey @kaskajp this should do it https://github.com/directus/directus/commit/64929e576e6713c0c889f839ba55b2eeae656b5e as it's a css solution I hope this works across most popular browser.

[2017-03-16 19:19] #1371 closed

[2017-03-16 19:21] WellingGuzman commented on #1371
Hey @Zilus, the table was missing a configuration, when a user only has permission to their own item the table needs to specify which table are used to who's the owner of each record.

This (https://github.com/directus/directus/commit/3038d80208cbfb681dffb4aa63ce7a1643e5c788) should do it, let me know.

[2017-03-16 19:33] Zilus commented on #1371
Works! Thanks!

[2017-03-16 19:40] Zilus commented on #1367
+1

My log:
ERROR - 2017-03-16T13:39:18-06:00 - exception 'Directus\Acl\Exception\UnauthorizedFieldWriteException' with message '[Group #2 User #3] Acceso de escritura (set) prohibido para la tabla `directus_users` indices: group' in /var/www/html/photograpress/api/core/Directus/Acl/Acl.php:160
Stack trace:
#0 /var/www/html/photograpress/api/core/Directus/Db/TableGateway/AclAwareTableGateway.php(3

[2017-03-17 12:14] tmikaeld opened #1373 "Branding"
"The framework is void of any fixed Directus branding or styling"

But there is still some branding in the system:

Here:
![screenshot_2017-03-17_01-09-27_pm](https://cloud.githubusercontent.com/assets/907195/24042607/08cd29fe-0b13-11e7-88be-05ad5b9c31f7.png)

And on a lot of files and comments in the source.

![screenshot_2017-03-17_01-12-40_pm](https://cloud.githubusercontent.com/assets/907195/2

[2017-03-17 14:17] benhaynes commented on #1373
Thank you for submitting this @tmikaeld. We'll update the "Directus Files" button to be brand agnostic asap.

As we discussed before, the code (classes and resource names) may not happen so quickly. Our goal is to create a CMS that can easily be branded to match any organization or corporate branding at the admin webapp level. At the developer level we still want to grow awareness for our platform

[2017-03-17 14:29] tmikaeld commented on #1373
Hello Ben,

It's ok if files and code take time.

Like with all OSS software we work with, we donate a lot and report a lot of issues and request features every day, that is what we hope to do with Directus as well. I hope you understand the issue with branding.

Midsized E-Commerce companies that we work with usually have employees that knows how to code basic stuff and check the source of a site

[2017-03-17 20:44] Zilus commented on #1373
You can change the "Directs Files" under "api/locales/yourlocale.json"

[2017-03-17 22:47] benhaynes opened #1374 "Add country code to Users table"
http://www.nationsonline.org/oneworld/country_code_list.htm

2-letter alpha country code should be added to Users table after `zip`. Dropdown shows country name, saves code.

[2017-03-18 22:42] the0neyouseek opened #1375 "New UI for "multi-select""
I couldn't help but notice that you use the default html select in the app. It may not be an issue for some cases but, for example, on the user account edit page, the list for choosing the timezone is excessively long and unfriendly.

To fix this you could use some oss Javascript libs like the ones below :

- [Chosen](/harvesthq/chosen)
- [Select2](/select2/select2)
- [Selectize](/selectize/select

[2017-03-20 14:12] jhyle commented on #1359
I type some keywords of the name and then I get the deleted item as proposal. Please give me more instructions how to give you more useful debugging informations.

[2017-03-20 19:07] benhaynes commented on #1375
Hey @the0neyouseek – this would be amazing!

We try to keep a version of the basic Interfaces in the Core, but are _always_ looking for new and innovative ways to interact with data... especially for more common edge-cases like this. We would absolutely love a PR if you want to create this Interface. I would recommend duplicating the current Select as a starting point – that way this is its own mo

[2017-03-20 20:07] the0neyouseek commented on #1375
Thanks for the quick reply @benhaynes !

I'll get to it and make a PR as soon as I can then 👍

[2017-03-21 19:39] WellingGuzman commented on #1367
This should at least fix the issue @Zilus is having. @sanpoChew let me know if this one fixes it for you too.

[2017-03-21 19:49] Zilus commented on #1367
It does! Works, But I can't change the user password :(

[2017-03-21 22:55] sanpoChew commented on #1367
@WellingGuzman unfortunately not, still getting the same error as above:

`ERROR - 2017-03-21T22:54:21+00:00 - ErrorException: Illegal string offset 'id' in /var/www/directus/api/core/Directus/Db/TableGateway/RelationalTableGateway.php:58
Stack trace:
#0 /var/www/directus/api/core/Directus/Db/TableGateway/RelationalTableGateway.php(58): Slim\Slim::handleErrors(2, 'Illegal string ...', '/var/www/di

[2017-03-22 08:09] Mio11 opened #1378 "After installaion I cannot login"
I see only this message

warning SERVER ERROR OCCURRED

Webserver
PHP Version 5.6.30
The extension are installered on apache mod_rewirite is loaded when I look in phpinfo. At the Installation directus sait the it is not turned on.

Directus Version 6.3.8

in Google Console it showed a 502 Error by the redircet to this adress /api/1/auth/login

[2017-03-23 13:16] tonimain opened #1379 "Installation failed with larvavel valet (nginx)"
## Version Info
  - Directus version and branch: cloned repo from actual master
  - PHP version: 7.1 with mcrypt
  - MySQL version: 5.7.17
  - Web server: NGINX
  - OS name and version: osx 10 latest

## Expected Behavior
show me install instrcuctions

## Actual Behavior
Multiple fatal errors:
[code]

## Steps to Reproduce
 1. cloned repo
 2. composer install
 3.  setup database and imported schem

[2017-03-23 23:16] marc-andrecroteau opened #1380 "Can't edit field in the table view"
## Version Info
  - Directus version and branch: (Or commit hash) 49f52f2b1249c99885c1b350fc70472c7b8e19b0 (
     Fix updating relational field when the user has not permission to - #1367
  - PHP version: 5.6.30
  - MySQL version: 5.6.35
  - Web server: (Ex. Apache, nginx or IIS?) Apache 2.4.25
  - OS name and version: Debian 8
   I'm using this kind of architecture (Bitnami LAMP on Google Cloud P

[2017-03-24 11:01] WellingGuzman commented on #1380
Hey @marc-andrecroteau,

It seems that some template files are or being served corrupted, this has been reported before, and the files some times are different.

I've not being able to reproduce this error myself to know what's the error causing it, although from what I know and saw in the previous cases the files are fine in the server but when access through HTTP are chopped or merged with anoth

[2017-03-24 11:09] WellingGuzman commented on #1379
hey @tonimain, if you are going to use the installation, you don't need to import the schema.

How your nginx config looks like? it seems that php environment variables are not set correctly, but I may be wrong.

Let me know.

[2017-03-24 11:31] gavinbkr opened #1381 "Strange Redirect Issue"
## Expected Behavior
Ability to access the directus system in a sub-directory. Issue with accessing the Directus system. Directus was downloaded and installed with no apparent issues on the 22nd March.

## Actual Behavior
After logging in to Directus, the system tires to load the main root page instead of the directus system but the url is still as per the directus system. It's quite hard to expla

[2017-03-24 12:09] WellingGuzman commented on #1381
Hey @gavinbkr, that's really strange, are you using nginx or apache? which OS are you on?

[2017-03-24 12:15] gavinbkr commented on #1381
Tired it on Mac and PC and a few different browsers.

Server is Apache as far as I am aware. Whats the easiest way to find out I have shell access.

It is very strange indeed.

[2017-03-24 12:22] WellingGuzman commented on #1381
So if you didn't configure anything, so you are on Apache, does you main directory has a `.htaccess` files, it seems like the parent directory or the virtual host configuration has effect in the subdirectory `.htaccess` configuration.

can you share those files, if any?. please make sure to remove any sensitive data.

[2017-03-24 12:25] gavinbkr commented on #1381
No .htaccess file in parent.

File structure is:
![screen shot 2017-03-24 at 12 23 09](https://cloud.githubusercontent.com/assets/26649777/24294061/b1edeb80-108c-11e7-9c6f-687d498077de.png)

.htaccess file in ticketmanger folder is:

[htaccess.txt](https://github.com/directus/directus/files/867790/htaccess.txt)

[2017-03-24 12:28] gavinbkr commented on #1381
Is you email address still hola at wellingguzman.com?

I can fire over FTP access if you like?

[2017-03-24 12:58] marc-andrecroteau commented on #1380
Hey,

thanks a lot for the quick reply! In the next couple of days, I will try to reproduce the problem on another GCP LAMP Bitnami VM and write down all the specific steps I've done.

Have a great day!

[2017-03-24 13:31] gavinbkr commented on #1381
Config file (with server bits removed) if that helps/

Been playing with .htaccess and files but nothing seems to have solved it yet :(

[config.php.zip](https://github.com/directus/directus/files/867990/config.php.zip)

[2017-03-25 14:54] the0neyouseek commented on #1375
Here's what I've got so far :

| ![](https://zippy.gfycat.com/ShorttermLinearAztecant.gif) | ![](https://zippy.gfycat.com/DeadActiveChrysomelid.gif) |
|---|---|
| Simple | With search and a placeholder <br>(Allow Null) |

If the UI is good for you I will also do the `multiple` select before commiting the changes and making the PR.

[2017-03-25 17:03] WellingGuzman commented on #1375
Hey @the0neyouseek that look really great! can wait to try it out.

[2017-03-25 17:45] the0neyouseek commented on #1375
Thanks for the response ! So, before going through with this I have some quick questions guys  😄

- Which default do you want for the select `search` feature ? enabled or not ?
- Which branch to you want me to commit to ? `version/6.4` / `development` ?
- Do you want me to make a new interface, let's say `select2` (since it's the name of the lib used), or replace the `select`, `many_to_one`, `mult

[2017-03-25 22:36] benhaynes commented on #1375
Hey @the0neyouseek – wow!! This is amazing! *Really* great job!

Here are some answers to your questions:
* I think it depends on which interfaces it replaces (see below). If it's part of the main `select` then search should be disabled by default since most people will likely have fewer items. Alternatively, we could have the option be a dropdown with: `Auto (default), On, Off` ... and for auto i

[2017-03-26 10:17] the0neyouseek commented on #1375
Hi @benhaynes,

- I've got the `Auto`/`On`/`Off` options done (I've also put the option to change the threshold for the `Auto` mode — default to 10).
- I've made the changes to `6.4`, 1/2 weeks is great 😄
- `select`
    - On mobile, with the simple dropdown you get the same thing as above. With search active, the searchbar gets focus and opens the keyboard panel (default html behavior).
Loosing th

[2017-03-27 04:52] WellingGuzman commented on #1375
@the0neyouseek Multi-select looks really great, that can be useful!

[2017-03-27 05:05] WellingGuzman commented on #1381
Hey @gavinbkr, sorry for the delay, lots going on right now.

If possible, please send me the FTP access to me email hola at wellingguzman(.)com or you can join us in slack and send me a private message there.

I will se what I can do there.

[2017-03-27 06:02] tonimain commented on #1379
will check things out, thanks for the feedback.

[2017-03-27 07:58] gavinbkr commented on #1381
Hey, not a problem at all appreciate the help.

I gave up in the end and just stuck Directus on its own sub-domain as it was working fine if I had it in the root folder.

To be honest I think I prefer it that way so will do that from now on.

I will close this and if I have the same issue in future will re-open :)

Cheers.

[2017-03-27 07:58] #1381 closed

[2017-03-27 08:21] WellingGuzman commented on #1381
Thanks @gavinbkr, and if there's anything else we can help you with, please let us know.

[2017-03-27 23:24] chrisdrackett opened #1384 "ability to set a slug to only populate on initial creation of a record"
this way even if the user changes the field linked to the slug, links will not break (if a slug is being used in links)

[2017-03-27 23:45] benhaynes commented on #1384
Better still, when and how this updates should be an Interface option.

@rijkvanzanten – any thoughts on this?

[2017-03-27 23:47] WellingGuzman commented on #1384
Hey @benhaynes I got this cover, I will work on this soon. I asked him to report this ticket so I do not forget to add the option later today.

Sorry for the confusion :)

[2017-03-27 23:47] WellingGuzman commented on #1384
Buuuuuut, if @rijkvanzanten have not problem in work with you, if I haven't by then, I'm good.

[2017-03-28 06:16] rijkvanzanten commented on #1384
Hi! Great idea!

What will be the available options?
- always editable (current default)
- read only based on other field?
- on creation editable, read only after that?

Another thing; is the slug already checked for uniqueness in the table? I don't know if this is currently the case but it definitely should (be an option).

I think @welling gets to it before I do 👍🏻

[2017-03-28 13:20] benhaynes commented on #1384
Ooh, I like the check for uniqueness @rijkvanzanten! Good thinking! I think @WellingGuzman is just going to get it working... then you can take over.

[2017-03-28 19:59] the0neyouseek commented on #1375
Do you want me to keep this issue open and switch topic to `multi-select` 😄 or can I close this ?

[2017-03-28 21:09] benhaynes commented on #1375
Hey @the0neyouseek – we have some good data here, let's keep this ticket and shift it to `multi-select`! Same things apply – we just need an option to allow for a system interface, with an upgrade to yours.

Thank you! Good progress here!

[2017-03-28 22:02] the0neyouseek commented on #1375
Hi @benhaynes ,
I'll probably work on this next week-end 👍 Keep up the great work guys !

(PS. Totally unrelated, but you should try to post your work on HackerNews/ProductHunt and [the likes…](https://github.com/mmccaff/PlacesToPostYourStartup), probably when `6.4` comes out, the project could gain some attention, and contributors 😉 , from this )

[2017-03-28 22:08] benhaynes opened #1385 "Address Interface Concepting"
Currently if you want to have an address in Directus we show several fields sequentially, like this:
[code]

This is functional, but certainly could be optimized from a UX perspective. It's also a common field-set making this improvement a "big deal". Ideally we would want something like this in a single Interface:

[code]

But the problem is that Directus has a 1:1 mapping with the database – so

[2017-03-28 22:26] benhaynes commented on #1385
Here's my two cents:

`address` Interface is an ALIAS datatype (meaning it's not attached to a specific column) and we have the following options:
* Address Column Mapping (Dropdown of columns in this table)
* Address 2 Column Mapping
* City Column Mapping
* State Column Mapping
* etc...

After that, I feel like there are two possible high-level directions:

## Option 1: Submit Multiple Values fro

[2017-03-28 22:33] benhaynes commented on #1375
That's great @the0neyouseek – we really appreciate all the help!

And yes, I've been getting ready to post on Reddit/PH once we're super stable within `6.4`... it will be a big rush, so I want to make sure everyone is done with normal fixes/updates so we have "all hands on deck" available.

Thank you for the PlacesToPost, hadn't seen this! We can ramp up with some of the smaller ones. We were tren

[2017-03-28 22:44] the0neyouseek commented on #1375
(About that... Full disclosure, it was me :P , I couldn't find you anywhere on websites I go to regularly that I thought would enjoy this projet as much as I, so I posted about you - [Link here](https://www.designernews.co/stories/81737-directus--beautiful-cms-and-api) - Figured later I should probably have waited for `6.4` to come out first, that's why I brought it up now, hope you don't mind..)

[2017-03-28 22:59] benhaynes commented on #1375
Haha, amazing! I absolutely don't mind – as I said, it's good to ramp up with the marketing so we can anticipate traffic (etc). Also, there are always more bugs after a new release with lots of changes... so I'm sure everyone saw a more stable version. Thank you so much for doing that – we can use all the exposure we can get!

[2017-03-29 22:15] WellingGuzman commented on #1384
well, well, well, guess who's here and hasn't done anything yet.

Agreed, I can do what I promised then @rijkvanzanten can jump in.

[2017-03-29 23:08] WellingGuzman commented on #1384
Would it help to add button to refresh the slug when the slug are only populate on creation, then there's quick option to update the slug. thoughts?

[2017-03-30 00:29] WellingGuzman commented on #1384
New option added here: https://github.com/directus/directus/commit/2bac1328ced4c243da72c6f2c74d08d2959ee9b8

[2017-03-30 02:07] szepeviktor opened #1386 "WordPress"
Hello!

Are there presets (settings templates) for existing CMS-s like WordPress?

[2017-03-30 13:48] benhaynes commented on #1386
No, Directus is a "headless" CMS, which means it only manages content/data and tries to avoid anything presumptuous about how you might use that data (website, native app, kiosk, etc). So there are no templates built-in. However we do have an example of how you could setup a website (with templating): https://github.com/directus/webapp-example

[2017-03-30 13:48] #1386 closed

[2017-03-30 15:28] szepeviktor commented on #1386
Thanks.

I was trying to edit an existing WP database as an experiment.

[2017-03-30 18:20] rijkvanzanten commented on #1386
@szepeviktor WordPress databases are notoriously hard to convert to a 'clean' database without all the WordPress 'junk' polluting the data. Please let me / us know if you find an easy way :smh

[2017-03-31 13:48] johhansantana opened #1387 "Can't install composer dependencies"
Loading composer repositories with package information
Installing dependencies (including require-dev) from lock file
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for slim/slim 2.3.2 -> satisfiable by slim/slim[2.3.2].
    - slim/slim 2.3.2 requires ext-mcrypt * -> the requested PHP extension mcrypt is missing from your system.

[2017-03-31 14:01] rijkvanzanten commented on #1387
I believe this is a duplicate of #1352

[2017-03-31 14:02] rijkvanzanten commented on #1387
Could you try adding the following to your `.bash_profile / .zshrc`?

[code]

Also, make sure that you use PHP >= 5 and not PHP 7+

[2017-03-31 16:26] johhansantana commented on #1387
Hi @rijkvanzanten I'm using XAMPP

I was able to install mcrypt

After that doing `composer install` gives me new errors of php version

[code]

where my `php -v` outputs different result = `PHP 5.6.28 (cli) (built: Dec  6 2016 12:38:54) `

[2017-03-31 19:55] johhansantana commented on #1387
After fighting with my mac I had a bunch of conflicts with php versions so I got https://github.com/wilmoore/php-version installed which helps you switch between php versions currently installed then just with Homebrew installed the php version of choice.

[2017-03-31 19:55] #1387 closed

[2017-03-31 19:57] WellingGuzman commented on #1387
Hey @johhansantana glad it solve your problem, and thanks for letting us know about that repo, it can come handy for other users! 👍

[2017-03-31 20:02] WellingGuzman commented on #1374
Closed by https://github.com/directus/directus/commit/35b9b1adcf8923779cda9037c324dc7321c961eb

[2017-03-31 20:02] #1374 closed

[2017-03-31 20:03] WellingGuzman commented on #1384
I'm going to close as it solve the problem in this ticket, we can keep the conversation about the new features suggested by @rijkvanzanten

[2017-03-31 20:03] #1384 closed

[2017-04-02 22:52] lesaff commented on #1379
@tonimain, would you mind sharing your valet driver?

[2017-04-02 22:57] xorander00 commented on #1379
I'm seeing the same issue.  I raised the PHP memory limit to 512M.  It looks like a memory leak somewhere.

Fatal error: Allowed memory size of 536870912 bytes exhausted (tried to allocate 20480 bytes) in /usr/home/directus/app/current/api/core/Directus/Auth/Provider.php on line 53

[2017-04-02 23:08] xorander00 commented on #1379
Looks like api/core/Directus/Auth/Provider.php:prependSessionKey is being called in an unterminated loop somewhere.  I see that it's referenced from setSessionKey as well, but that's only called once?

I've never looked at any source for this project, so I'm unfamiliar with it.  I'm assuming that a caller somewhere for prependSessionKey needs to be fixed?

[2017-04-02 23:45] xorander00 commented on #1379
Fixed it.  configuration.php wasn't created, and so the session prefix wasn't be found.  Bootstrap::get was returning an empty array.

I removed config.php and re-installed.  Looks like it worked ok, so far.

[2017-04-03 10:02] tonimain commented on #1379
will test this out and feedback if it solves my problem too. thanks for the input

[2017-04-03 11:48] tonimain commented on #1379
hmmm always getting the same erro :(

[2017-04-03 22:10] johhansantana opened #1389 "A way to bypass authentication for GET requests?"
Is there a way to bypass the authentication for GET requests for certain endpoints? I want to make a web app that just gets the data from the database and show it.

[2017-04-03 22:18] benhaynes commented on #1389
Hey @johhansantana – we're adding a "public" user group for just this purpose in the next version (`6.4`). It should be available for beta in about a week.

[2017-04-03 22:21] johhansantana commented on #1389
awesome! how would I be able to get the beta?

[2017-04-03 22:23] benhaynes commented on #1389
It will be a branch (or maybe a beta release tag) like this:

https://github.com/directus/directus/tree/version/6.4

[2017-04-03 22:26] johhansantana commented on #1389
Coo!, thank you @benhaynes

[2017-04-03 22:26] #1389 closed

[2017-04-04 18:42] eli-oat commented on #1378
I'm running into this same issue. @Mio11, did you find a solution?

[2017-04-04 23:02] johhansantana opened #1390 "[QUESTION] Does directus have a max file size upload limit?"
I'm trying to see if directus accept video uploads (mp4) but I get a weird error when trying to upload any file larger than ~10mb

<img width="304" alt="screen shot 2017-04-04 at 7 01 43 pm" src="https://cloud.githubusercontent.com/assets/9933887/24682721/2e2447b4-1969-11e7-8c78-5d3bf90fe05f.png">

[2017-04-04 23:37] WellingGuzman commented on #1390
hey @johhansantana that seems like a php error, check your server settings.

[2017-04-05 00:03] johhansantana commented on #1390
Hi @WellingGuzman I'm using apache locally, I've edited my `php.ini` `upload_max_filesize` `post_max_size` and `memory_limit` to be `100M` but still gives me the same error.

[2017-04-05 00:27] WellingGuzman commented on #1390
yeah, that's possible. you can confirm by using `phpinfo();` and see the values set.

[2017-04-05 00:27] #1390 closed

[2017-04-05 00:50] johhansantana commented on #1390
Got the error was in `.htaccess` at the end of the file

[code]

[2017-04-05 00:53] WellingGuzman commented on #1390
glad you find the problem, I'm going to remove those lines from the `.htaccess`

Thanks @johhansantana

[2017-04-05 02:43] Mio11 commented on #1378
No I didn't find a solution. I've chosen another CMS.

[2017-04-05 02:50] WellingGuzman commented on #1378
Hey @Mio11 sorry, I somehow missed this ticket.

@eli-oat is there something in your logs (`/api/logs` directory) ?

[2017-04-06 17:07] vasiliysmirnov commented on #1378
@eli-oat had the same issue.
The problem was in nginx server configuration, then i find [this](https://github.com/directus/directus-vagrant/blob/master/config/nginx/default) and add some missing lines.
Then i reinstall directus into root directory of my server and it runs perfect.

But i have a question, @WellingGuzman can i install directus in to some folder, "admin" for example?

[2017-04-06 17:09] WellingGuzman commented on #1378
@vasiliysmirnov Yes, you can, just make sure to change the `DIRECTUS_PATH` in `api/config.php` to `/admin/`

[2017-04-06 17:12] vasiliysmirnov commented on #1378
Strange, last time it didn't work. Okay, I'll try again, thanks!

[2017-04-06 17:13] WellingGuzman commented on #1378
@vasiliysmirnov let us know how it goes!

[2017-04-07 07:41] vasiliysmirnov commented on #1378
@WellingGuzman well, something is wrong.
I can log in, but then i can't do anything, errors, errors and more errors. None of the buttons works.
Here, a screenshot of errors:
![errors](https://cloud.githubusercontent.com/assets/13482625/24790167/bab177c6-1b7e-11e7-8b1f-75eaf1bd7a03.png)

[2017-04-07 18:35] benhaynes commented on #1375
Hey @the0neyouseek – just found a pretty big issue with the current SELECT interface:

If you open the select dropdown and then scroll, the menu stays fixed on the page (not attached to the interface). Also, once you lose that menu, the whole page stops being clickable (weird). We'll need to get this resolved or roll-back to the system dropdown unfortunately.

Let me know what you think!

[2017-04-07 19:44] the0neyouseek commented on #1375
Hi @benhaynes , sry I didn't have time to work on this last week-end. I'll get it done tomorrow (hopefully 😉 ).

I think I figured out why the bug is happening and it seems to be because `select2` doesn't like to be positioned in absolute element (why…, that I don't know). In this case, this bit of `.scss` here :

[code]

found in `_page.scss` is what causes the issue.

I'll try to fix this tomorr

[2017-04-07 20:50] benhaynes commented on #1375
Not problem @the0neyouseek – thanks for looking into this! Yeah, it's probably listening to page scroll instead of `.page` scroll... something odd like that would be my guess.

[2017-04-08 11:22] MarcinKuder opened #1392 "API returns null for files"
I have a simple test table with a 'name' column and 'image' column that is of a single file type.
The record is created using a GUI, name and image are added. The problem is that the API does not return the image/file reference. Query for all files return empty data collection See 'actual behavior' below.
The database contains valid ID of the file.

## Version Info
  - Directus version and branch:

[2017-04-10 06:27] imknight commented on #1379
Hi, @tonimain and @xorander00 can you 2 share the valet driver for directus ? really appreciate it.

[2017-04-11 18:01] mpiontek opened #1395 "Slug : Unique ?"
Hey Guys,

i read about directus a few days ago on t3n.de

For a new project i like to give it a try :) seems to be very flexible, but the incomplete docs make it difficult for me to understand everything. So please bear this in mind, if my questions are a little bit foolish :)

The Slug field doesn't seem to check for unique values. I read about this problem and there was a link to a solution (?

[2017-04-11 19:12] mpiontek opened #1396 "Auto-Update Date"
Hey Guys - it would be great to make a datetime field "read only" plus give it the ability to update on every save of the row. This would be very helpful for example for "last modification".

I think best way for me to do this now would be by creating a hook, am i right?

Best regards
Martin

[2017-04-13 14:46] benhaynes commented on #1396
Hey @mpiontek – sorry about the late reply! We're actually releasing this feature in the next version of Directus (`6.4`) which will be in beta tomorrow! It is an accountability option under Settings that lets you choose columns for `date_created`, `user_created`, `date_modified`, and `user_modified`. We'll continue to optimize this functionality – but it's a big step forward!

Thank you for posti

[2017-04-13 14:46] #1396 closed

[2017-04-13 15:00] benhaynes commented on #1395
Hey @mpiontek – our interface lead (@rijkvanzanten) said he likes this idea, and plans to add it into the new Slug interface for version `6.4`. The beta for that is coming tomorrow, but the new interface option may take a little bit longer as we cleanup the new release.

As for Docs, we've been trying to keep adding more and more info, but are a small team and have been busy with this new release

[2017-04-13 18:18] mpiontek commented on #1395
When it comes to me, the ultimative thing would be, if it checks, that the slug is unique over all the different tables (maybe optional?) and adds something, if not. So i could for example root all my 'blogposts' and 'special offers' to mydomain.com/slug . Thinking of SEO it's a better way than mydomain.com/blog/slug, mydomain.com/specialoffer/slug i think - or isn't it?

[2017-04-17 09:19] xorander00 commented on #1379
No problem.  What exactly do you need?  I'm not familiar with Directus.

[2017-04-17 09:25] imknight commented on #1379
did you use Laravel valet to run Directus ? if yes can you share valet driver for Directus ?

[2017-04-17 17:16] rijkvanzanten commented on #1385
I absolutely love this idea @ricricucit! 😄

The map / address interface could very well be the same thing in my opinion.

[2017-04-18 20:23] benhaynes commented on #1385
This is great @ricricucit! I agree, we should make the Interface save as standard lat/lon in the managed column. The Interface can *also* have options for mapping the geocoded values to other columns.

If the other column inputs are hidden then we can display it exactly as you have it sketched out here. Otherwise we can simply add values into the other inputs automatically (based on the mapping in

[2017-04-19 13:51] chrisformula commented on #1282
How did you solve this?

[2017-04-19 15:42] podlebar opened #1410 "Many Files"
Hi..

somehow i'm struggling with adding a Multiple Files field..
i got it that i have to add a junction table.. so i added a table called relationship with id, active, id_a,id_b fields.

than i configured the multiple files field to use this table.
but when i add multiple images to that field i get this error:
`Error: Uncaught SyntaxError: Unexpected end of JSON input
File: https://cms.******.com

[2017-04-19 15:58] Ronnyrr commented on #1282
I was able to fix it, but I don't know anymore how I did it, sorry. I ran into lately again, but chose to use another CMS because I didn't had time to figure it out again.

[2017-04-19 17:17] WellingGuzman commented on #1282
hey @chrisformula any logs in `api/logs`? try to do the steps in this [comment](https://github.com/directus/directus/issues/889#issuecomment-249789534)

[2017-04-19 18:07] WellingGuzman commented on #1410
Hey @podlebar, can you share the stack trace of that error? or is that the whole error? The relationship seems to be correctly set.

[2017-04-19 18:34] podlebar commented on #1410
@WellingGuzman
sorry.. i just found the logs folder..
there was a permission error... sorry for that.

but one question? i need to create a relations table for each multiple files input.. correct? even when i use two multiple files fields in one table.

btw.. here https://docs.getdirectus.com/6.3.6/#Versions_&_Updating the "Read how to" link points to a 404 site.

[2017-04-19 18:34] #1410 closed

[2017-04-19 21:06] WellingGuzman commented on #1410
Glad that you found the solutions,

Yes, each should have their own relations table, as they will be the same entries if you are using the same relations (junction) table.

Thanks for pointing it out.

[2017-04-20 06:00] chrisformula commented on #1282
Hey @WellingGuzman

This is all that is in my log file:
Apr 19 10:44:07 [info] CREATE TABLE `directus_schema_migrations` (
`version` varchar(255))  ENGINE=InnoDB  DEFAULT CHARSET=utf8;
Apr 19 10:44:07 [info] CREATE UNIQUE INDEX `idx_directus_schema_migrations_version` ON `directus_schema_migrations`(`version`)
Apr 19 10:44:09 [info] SELECT version FROM directus_schema_migrations
Apr 19 10:44:09 [i

[2017-04-20 08:55] iamlinkus opened #1412 "Filename extension of an uploaded pdf is always jpg, if naming is set to file id."
Version of directus used: v6.3.9 (Lapis Lepus)

## Expected Behavior
If file naming is set to *file id*, the file name should have the extension of the uploaded file.

## Actual Behavior
If a PDF is uploaded to directus, the filename set in the database has an extension of JPG (when file naming is set to *file id*).

Is this a known bug?

[2017-04-20 19:54] #1412 closed

[2017-04-21 09:35] krupper opened #1413 "Deleted Items from one table of a M2M table set are still visible"
## Version Info
  - Directus version and branch: 6.3.8 master
  - PHP version: 7.1.4
  - MySQL version: 5.5.52-MariaDB
  - Web server: Apache

## Expected Behavior
The deleted items should be hidden.

## Actual Behavior
The deleted items are visible.

## Steps to Reproduce
 1. create a M2M table set via the ui (example: offers and categories with a bridge table)
 2. delete an item from one table (

[2017-04-21 18:02] mpiontek commented on #1395
Where do i find the new version? And is there a version number in my backend anywhere?

[2017-04-21 18:30] WellingGuzman commented on #1395
Hey @mpiontek, that could be beyond what we want to accomplish, and this scenario seems to be more specified to your needs, so in your case, you can add a hook to verify that in the API.

Either way, this should be accomplished with a customized solution.

here are the releases: https://github.com/directus/directus/releases

[2017-04-21 18:34] WellingGuzman commented on #1413
Hey @krupper does your table has `active` field? does the record has `active=0`?

Either way it's a bug ;)

[2017-04-21 20:06] mpiontek commented on #1395
Thank you for your advise.

There is a problem in the documentation:
https://docs.getdirectus.com/6.3.6/#Versions_&_Updating

There is said "Run the migration script to update your database/schema" - then there is a link to a instruction how to do this. But this link is not working :(

[2017-04-21 20:28] WellingGuzman commented on #1395
Hey @mpiontek,

Thanks for pointing it out, in the mean time here the actual link: https://docs.getdirectus.com/6.3.6/#Database_Module

Source here: https://github.com/directus/docs/blob/master/developer-guide/cli.md#database-module

[2017-04-21 20:30] mpiontek commented on #1395
Ok. I am sorry for my questions, but sometimes i am a little bit insecure.
The documentation also does not say, if i just have to replace the existing folders and files OR if i have to upload all the files (including install directory, test directory, etc.). I swear that this is my last question for today :D

[2017-04-21 20:37] WellingGuzman commented on #1395
Hey @mpiontek, ask as many as you want, If you want to discuss and ask and talk remember you can join us in our slack (https://slack.getdirectus.com)

Back to your question, if you are upgrading the database, you only have to backup your database. About upgrading the files, we recommend `git` as it do the job for you, but if you are not using `git` you can replace all the files, except this:

- `c

[2017-04-22 20:51] jimborogers opened #1414 "6.4.0-beta - new install - Zend error - "Unknown column 'DT.allowed_listing_views'""
## Version Info
  - Directus version and branch: 6.4.0-beta
  - PHP version: 5.6.25
  - MySQL version: 5.7.14
  - Web server: Apache 2.4.23
  - OS name and version: Windows Server 2012 R2

## Expected Behavior
Checkout 6.4.0-beta, install, use.

## Actual Behavior
Having following the installation steps at https://docs.getdirectus.com/6.3.6/#Installation, upon requesting the homepage, the attached

[2017-04-22 21:05] WellingGuzman commented on #1414
Hey @jimborogers, I'm not able to reproduce this error.

Can you share the schema the installation created?

try running `bin/directus db:upgrade` it seems the schema installed is outdated.

[2017-04-23 07:44] krupper commented on #1413
Hi @WellingGuzman,  yes the m2m, offers and categories table have an active field. Something else catch my attention: all entries in the m2m table are automatically set to draft.

Thank you for your great software. I really like it! :)

[2017-04-23 13:34] jimborogers commented on #1414
Hi @WellingGuzman ,

Here is the schema created:

[directus.txt](https://github.com/directus/directus/files/949743/directus.txt)

I have just tried running `bin/directus db:upgrade` and got the following error:

`db:setup - directus_schema_migrations table created
db:migrate - InsertSystemTableUserColumn - Error executing 'query' with:
INSERT INTO `directus_tables` (`table_name`,`hidden`,`single`,

[2017-04-23 17:31] WellingGuzman commented on #1414
I pushed a fix for the migration upgrade.

Although, based on your schema, it seems you installed directs using 6.3.x schema instead of 6.4.x, the table `directus_ui` was deprecated in 6.4.x but your schema has it.

Can you use you the upgrade again, or reinstall accordingly using the 6.4-beta branch?

[2017-04-24 16:46] jimborogers commented on #1414
@WellingGuzman , I created the database schema by running api/schema.sql (https://github.com/directus/directus/blob/version/6.4/api/schema.sql)

This script still includes the `directus_ui` table. Should I be creating my database schema by a different means? Thanks.

[2017-04-25 09:30] justkidding96 opened #1418 "Filters (hooks) not working in configuration.php"
## Version Info
  - Directus version and branch: 6.3.9
  - PHP version: 7.1.1
  - MySQL version: 5.6.35
  - Web server: Apache
  - OS name and version: Mac OSX El Captian

## Expected Behavior
The before hook/filter is triggered and custom data is added to the data array.

## Actual Behavior
The before hook/filter is not triggered at all. Also the documentation about this is not correct.
**$data['

[2017-04-25 13:17] studiovlijmscherp opened #1419 "Feature request: Add dot-notation to access 'related' table fields"
As mentioned at the Slack channel:

@WellingGuzman [19 hours ago]
hey @vlijmscherp, right now we do not support nested solution, please open a ticket so I do not forget this, and I will work into a solution for this one, using dots should be a good solution right? `filters[country.code][in]=NL`

[2017-04-25 13:36] WellingGuzman commented on #1418
hey @justkidding96,

Are you creating and loading a new class named `\App\Events\AfterInsert`.

I know it's not clear in the documentation, but that means the class you should've created yourself and the namespace should be loaded by yourself.

[2017-04-25 17:11] ajshortt opened #1420 "New Slim environment extend causing `mod_rewrite` looking errors"
## Version Info
  - Directus version and branch: (Or commit hash)
  - PHP version: 5.6.25
  - MySQL version: 14.14
  - Web server: Apache
  - OS name and version: macOS 10.12.4

## Expected Behaviour
Install and login successfully

## Actual Behaviour
On install, the `mod_rewrite` status fails.
I still install but the login is unsuccessful. This issue is similar to all the rewrite issues
but the o

[2017-04-25 18:03] WellingGuzman commented on #1420
Hey @ajshortt whats the file where you commented out those lines?

[2017-04-25 18:15] #1420 closed

[2017-04-26 07:32] justkidding96 commented on #1418
@WellingGuzman The AfterInsert trigger is perfectly working!! I am talking about the filters array which is not working as expected.

According to the docs: if u want to make adjustments **before** saving to the database u need to add this code to configuration.php
[code]
But in my original issue I was mentioning that this is not working. Also the docs uses the wrong PHP syntax which is causing a

[2017-04-26 07:54] ajshortt commented on #1420
👍 Cheers pal

[2017-04-26 08:25] studiovlijmscherp opened #1422 "UI Filtering on related table returns error: undefined index: table_name"
## Version Info
  - Directus version and branch: 6.3.9
  - PHP version: 7.1.0
  - MySQL version: 5.6.34
  - Web server: Apache
  - OS name and version: macOS Sierra 10.12.4

## Expected Behavior
Filter a list in the UI based on a related table

## Actual Behavior
Filtering returns an error:
undefined index: table_name

## Steps to Reproduce
I have a 'place'.
This place (Hotel Four Roses, Camping P

[2017-04-26 09:37] GeeWizWow opened #1423 "Retrieving current userdata without exposing password & salt"
## Version Info
  - Directus version and branch: Directus-docker 6.3

## Issue

Unless I'm missing anything the only way to retrieve the current user's data is to query `/api/1/tables/directus_users/rows` which exposes password & salt:

`{
      "id": 4,
     ...
      "password": "$2y$12$LCaZfKAp.STXwhfsdfdsWfwxLiiuybN47hnfsdfQWv1M2.DHHOKUf/RNdfDJ.jS",
      "salt": "53219005ddsf5f12305",
      .

[2017-04-26 09:53] peremp commented on #1418
Looks like the problem is located at "api/core/Directus/Db/TableGateway/BaseTableGateway.php" file.

At line 253:
`253: $recordData = $this->applyHook('table.insert:before', [$tableName, $recordData]);`
`254: // @TODO: All hook payload are going to be an object to prevent confusion`
`255: // $recordData = $this->applyHook('table.insert.' . $tableName . '.:before', [$recordData]);`

If you comment

[2017-04-26 10:20] studiovlijmscherp opened #1424 "DOCU typo: Sequal-Pro -> should be Sequel-Pro"
https://docs.getdirectus.com/6.3.6/#When_to_Use_Directus

"Experimental Projects"
Sequal-Pro -> should be **Sequel-Pro**

[2017-04-26 12:05] ajshortt opened #1425 "Many-to-one dropdown issue"
## Version Info
  - Directus version and branch: `master` `7052909c9`
  - PHP version: 5.6.25
  - MySQL version: 14.14
  - Web server: Apache
  - OS name and version: macOS 10.12.4

## Expected Behavior
I created two tables `client` and `project` where one `client` has many `project`s.
In the `project` table, I created a many-to-one column that refers to the `client` table.

When I come to add a p

[2017-04-26 13:21] benhaynes commented on #1424
Thanks @studiovlijmscherp – good catch! I've updated the repo, it will push to the site shortly.

In the future, report these to the issues section of the Docs repo (or better yet, send us a PR 😉 ):

https://github.com/directus/docs

[2017-04-26 13:21] #1424 closed

[2017-04-26 17:34] WellingGuzman commented on #1425
Hey @ajshortt,

You can solve this problem by going to the M2O column options `Settings > Tables & Inputs > Project` and type (comma separate) the name of the columns name, by default no columns are selected.

I will work on a quickfix to at least show the first non-system column (if any) as visible on M2O Interface.

[2017-04-26 18:12] #1425 closed

[2017-04-26 19:13] PaulPoot commented on #1392
Any updates on this issue? I've got the same problem with a similar setup to OP's, only difference being the database version.

[2017-04-26 20:07] MarcinKuder commented on #1392
I've moved to another hosting provider and no issues there. Must have been some configuration problem but I haven't figured out what exactly.

[2017-04-27 00:07] xorander00 commented on #1414
Running into the same issue.  Looking for the right schema.sql to use, but the most recent one seems to be in version/6.4 branch?

[2017-04-27 00:11] WellingGuzman commented on #1414
Hey. @jimborogers and @xorander00, I forgot to update the `schema.sql` file, please meanwhile install using the installation wizard, or, the CLI (https://docs.getdirectus.com/6.3.6/#Directus_CLI)

I will update the `schema.sql` later today!

[2017-04-27 08:00] jimborogers commented on #1414
Hi @WellingGuzman , using the CLI commands to install the database worked. Please update this issue when schema.sql has been updated and I will happily close it. Many thanks for your help.

[2017-04-27 13:53] jokmontoya opened #1429 "Notifications of messages don't stop"
## Version Info
  - Directus version and branch: (Or commit hash)
aa26545cf9c2609c0aafeb5cfbd5b008d42fae82
branch 'build' of https://github.com/directus/directus
Buid
  - PHP version: PHP 7.1.1
  - MySQL version: MariaDb 10.2.3
  - Web server: Nginx
  - OS name and version:  CentOs 7
Tested on Firefox and Chrome
## Expected Behavior

Shows a single notification to the recipient on login if there a

[2017-04-27 21:10] jokmontoya commented on #1429
I think I have solved the problem, it was in the Nginx configuration for Directus.  I have detected some problems in the examples that are in the docs, and my initial solution had caused the loss of the query string from the api calls.

Later, when I get some sleep I'll submit a pull request to the docs.

[2017-04-27 21:10] #1429 closed

[2017-04-28 02:17] xorander00 commented on #1414
Got it working with the CLI, thanks!  I'm still getting 404s, but I can tackle that later.  I got a 404 on the previous version when logging in because it would redirect to /user.  However, if I manually chopped that off, it would load fine.  I suspect it might be something in the nginx config, but not sure.  I think it's the same as the sample config in the repo.

The new version isn't loading af

[2017-04-28 02:24] xorander00 commented on #1414
Heads up, figured out what the 404 issue is.  It's a case-sensitivity issue.

The front-end requests: /app/core/modal.js?bust={cache_busting_random_uuid}

The actual file on the server is: /app/core/Modal.js

Adding ~* to the config didn't fix it because it's caught with the main location block (location / { try_files ... }).  For now I'm going to just find -exec it to lower case, but should have

[2017-04-28 13:00] PaulPoot commented on #1392
Thanks for your reply. I've found out what caused the issue on my side.

I was trying to get the data using the token of a user that belongs to a custom permission group. For files to be returned, you need to check the permissions of the Directus tables. They were all disabled for me, and enabling the files table did the trick.

Perhaps an exception to this rule could be made for files linked to a

[2017-04-28 18:59] WellingGuzman commented on #1418
Hey @justkidding96,

I know what's the issue is, thanks to @peremp. The issue is around there, I was trying hard not to make this change, but it better sooner than later.

In the mean time what you can do is this:

[code]

This will be changed to something like this:

[code]

_Everyone would be warned about those not backward compatibility changes._

[2017-04-28 19:11] WellingGuzman commented on #1423
Hey @GeeWizWow,

The authenticated user can always see all their information, you can select the columns you want to see by adding `columns=id,email,etc` into the url.

I don't know if that works for you.

[2017-04-28 20:15] #1422 closed

[2017-04-28 20:16] WellingGuzman commented on #1422
Hey @studiovlijmscherp,

I just pushed a [patch](https://github.com/directus/directus/commit/60c7bd70c8040460e4207964afce7f102186e8f7) for this issue, I hope it resolves the issue, let us know if it worked out.

[2017-04-28 20:16] benhaynes commented on #1429
Thanks @jokmontoya – glad you figured it out... we appreciate the PR!!

[2017-04-28 20:44] studiovlijmscherp commented on #1422
@WellingGuzman - filtering works. Great!

[2017-04-28 21:07] WellingGuzman commented on #1392
Sorry for the late response, after you all solved the problem, but glad that's all resolved.

This is something that would need discussion, we would include private files in a future release, but about permission for specific record, that's something that need to be figured it out first, if you have any suggestion how this may work, please let us know.

I'm closing this ticket as it has been resol

[2017-04-28 21:07] #1392 closed

[2017-04-29 09:57] GeeWizWow commented on #1423
@WellingGuzman

I'd missed `colums` param, thanks for pointing it out. It'll do. Cheers

[2017-04-29 09:57] #1423 closed

[2017-04-30 06:44] WellingGuzman commented on #1418
Hey, so I update the hooks behavior, instead of passing multiple parameters, it uses a `Payload` object which represents the data and has attributes such as the table name.

It ended up working this way: (_I'm still open to suggestion_)

[code]

An object is pass around to make a little better when multiple filters are going to alter the data.

Let me know how it worked it out.

[2017-04-30 07:11] WellingGuzman commented on #1414
Hey @xorander00, let me know if this [commit](https://github.com/directus/directus/commit/0c0d3ed7989bdd5c21cce87985256db7d720ee49) fixes it for you?

Also @jimborogers, I updated the `schema.sql`

[2017-04-30 07:11] #1414 closed

[2017-05-01 09:53] justkidding96 opened #1432 "API thrown 500 error when posting to API with custom user permissions"
## Version Info
  - Directus version and branch: master
  - PHP version: 7.1.1
  - MySQL version: 5,6
  - Web server: Apache
  - OS name and version: Mac OSX El Capitan

## Expected Behavior
Give user (group) different read/write access to fields inside table.

## Actual Behavior
When I give the user (group) different read write permission I can't store through the API.

#### Screenshot which is c

[2017-05-01 16:31] WellingGuzman commented on #1432
Hey @justkidding96,

Thanks for reporting this error, late-night mistake here from my part. I'm going to work on a fix later today. 🔨

[2017-05-03 05:23] WellingGuzman commented on #1379
As far I know this is not a issue directly with Directus, I will close the ticket, but you can still keep the conversation on how to run it under Laravel valet.

[2017-05-03 05:23] #1379 closed

[2017-05-03 05:24] WellingGuzman commented on #1367
Hey @sanpoChew, this was solved before, I will close this ticket, if you still experiencing this problem, let me know I will reopen and fix it as soon as possible.

[2017-05-03 05:24] #1367 closed

[2017-05-03 05:27] WellingGuzman commented on #1378
Hey @vasiliysmirnov,

Are you still having this issue? I'd like to solve this issue, It seems to be a mal-configuration though.

I will close this ticket as this may have been solved, otherwise let me know I will reopen and work on its soon as possible.

[2017-05-03 05:27] #1378 closed

[2017-05-03 05:35] #1362 closed

[2017-05-03 05:36] WellingGuzman commented on #1362
Hey @davidbwaters,

I've push a [fix](https://github.com/directus/directus/commit/3f053b39ad87bacfa1b193aba21263c2766c2d98) for this issue, sorry for the delay, but I wasn't able to reproduce it until now.

[2017-05-03 05:38] WellingGuzman commented on #1363
Hey @RabbitMC,

I'm closing this ticket as it seems to be working as expected, otherwise if you are still experiencing this issue please let us know.

[2017-05-03 05:38] #1363 closed

[2017-05-03 05:56] WellingGuzman commented on #1432
Hey @justkidding96,

Please, update the database package in composer to `0.1.5` to fix this issue.

[2017-05-03 05:56] #1432 closed

[2017-05-03 06:18] WellingGuzman commented on #1341
Hey @rijkvanzanten, could you help me reproduce this issue?

[2017-05-03 10:21] rijkvanzanten commented on #1341
Sure! What would you like to know? It happened to me on a clean install of Directus 6.3.6. I'll check if the error is still there on the latest master and 6.4. I'll let you know

[2017-05-03 12:44] justkidding96 commented on #1418
@WellingGuzman @benhaynes This issue is still a problem. When I wanted to use a class which implements the HookInterface class instead of your solution the data won't store anymore because it is not returning the correct instance.

**I think the best approach would be:**
The system looks for any active dynamic hooks classes inside the events folder inside the root directory. For example, below a e

[2017-05-03 15:22] WellingGuzman commented on #1418
hey @justkidding96,

Are you talking about the example not working, or when you use HookInterface is not working?

I didn't understood the problem, please can you try to elaborate it a bit more.

[2017-05-03 15:29] WellingGuzman commented on #1418
I re-read it again, did you mean you want the classes to auto load and enable?

[2017-05-03 16:09] WellingGuzman commented on #1413
Hey @krupper, it seems to be deleting when has `active` column, did you update the status value in your configuration?

About the draft as default, it's because it uses the column default value, which is 2 by default.

[2017-05-03 16:20] WellingGuzman commented on #1281
The soon about this was to implement it on `6.4.x` I will close this ticket as we didn't mean to include it in `6.3.x`.

I'm sorry about not adding it in the recent minor version. I've hide the checkbox in 6.3.x to avoid confusion.

[2017-05-03 16:20] #1281 closed

[2017-05-03 16:21] WellingGuzman commented on #1269
UI Options are stored as json in `directus_columns` in 6.4.x

[2017-05-03 16:21] #1269 closed

[2017-05-03 16:28] WellingGuzman commented on #1295
About the `mod_rewrite` check, we need to update that title, because it doesn't actually check for whether the module is enable or not, but rather it checks for whether the routing is working.

In 6.3.x Directus doesn't allow to create table with special characters, by special anything out of alphanumerics, but Directus is going to support it in 6.4.x.

Although you are able to create the table in

[2017-05-03 16:28] #1295 closed

[2017-05-03 16:30] WellingGuzman commented on #1246
This wasn't solved but was changed in 6.4, where the interface in users not longer hash the input value in the client side.

[2017-05-03 16:30] #1246 closed

[2017-05-03 16:32] WellingGuzman commented on #1242
We added a new WYSIWYG Interface https://github.com/directus/directus/pull/1430, similar to Medium, thanks to @rijkvanzanten

[2017-05-03 16:33] WellingGuzman commented on #1242
Still missing some features, but are on the way, to a more clean less buggy solution.

[2017-05-03 21:02] WellingGuzman commented on #1341
how I can produce it, I was working as expected to me, so I would like to know how are you trying to use it that it failed.

[2017-05-03 21:19] WellingGuzman commented on #1370
To solve this issue make sure your connection, table and column are encoded with `utf8mb4`

Change your connection charset in `api/config.php` `define('DB_CHARSET', 'utf8mb4');`

Otherwise we can do more, as this library are going to be replaced with another one.

[2017-05-03 21:19] #1370 closed

[2017-05-03 21:40] WellingGuzman commented on #1297
This interface will replace the current wysiwyg library, which means it's not worth trying to fix it.

I'm sorry I'm closing this, because as soon as we change to the new interface, this may be not an issue, or this still an issue that we are not longer trying to solve as the library itself has some issue that we are not willing to take time to solve it, but to switch to a new library.

[2017-05-03 21:40] #1297 closed

[2017-05-03 21:50] WellingGuzman commented on #1314
We apologies, but we are removing this library used in the interface. So we are not longer trying to solve any issues this library may have, which can take up much time trying to see why is broken, which wasn't developed by us.

Please go #1242, where are talking about the new interface.

[2017-05-03 21:50] #1314 closed

[2017-05-03 21:57] WellingGuzman commented on #1128
This was implemented in `6.4.x`, you can change the columns default values.

[2017-05-03 21:57] #1128 closed

[2017-05-03 21:59] WellingGuzman commented on #1117
This solution was implemented in 6.4.x, any table can override the default  status mapping.

[2017-05-03 21:59] #1117 closed

[2017-05-03 22:05] WellingGuzman commented on #751
Soooo, this is also done, all column stored their data type, except alias should stored `ALIAS`.

[2017-05-03 22:05] #751 closed

[2017-05-03 22:43] benhaynes commented on #1242
We'll have two: Simple (medium style inline WYSIWYG) and Full-Featured (typical editor, with a million buttons options). Most likely using:

https://www.froala.com/wysiwyg-editor

[2017-05-04 04:02] WellingGuzman commented on #1295
We update how we check for "routing" what we are still calling `mod_rewrite` check.

We actually check for the the routing if it's working by trying to ping the API.

About using umlaut (UTF8) now it's possible by changing the `charset` in your `api/config.php` file to `utf8mb4`.

[2017-05-04 04:07] WellingGuzman commented on #1019
We already have docker container https://github.com/directus/directus-docker

[2017-05-04 04:07] #1019 closed

[2017-05-04 04:08] WellingGuzman commented on #989
we already have a [php-sdk](https://github.com/directus/directus-sdk-php) and a [node-sdk](https://github.com/directus/directus-sdk-javascript), which can be used as library to access the database

[2017-05-04 04:08] #989 closed

[2017-05-04 05:17] #1093 closed

[2017-05-04 05:19] WellingGuzman commented on #1093
It actually delete the item if is a delete value.

Maybe we should add the new options `enforce_validation` into 6.4?

[2017-05-04 05:41] WellingGuzman commented on #981
We made it possible to use custom primary key table name in `6.4.x`, what's missing is how to treat table without it, it's not a easy task, as there's not way to reference a record.

Maybe we create a internal id either way, but that's a different topic, but let's enforce a primary key.

[2017-05-04 05:41] #981 closed

[2017-05-04 05:58] #1334 closed

[2017-05-04 05:59] WellingGuzman commented on #1334
Hey @woodscreative, can you confirm this still happening? I wasn't able to reproduce some of the redirects.

Do you mean the token updating itself? or fail when you try to use them?

[2017-05-04 06:06] justkidding96 commented on #1418
@WellingGuzman I want to use classes inside the **configuration.php** and not a function kind of way.

In your the first solution u was saying you are open for any suggestions. The example above is one of my suggestion. To look automatically for any active hooks.

[2017-05-04 06:10] WellingGuzman commented on #1418
Hey @justkidding96,

I'm so embarrassed, I don't know where was my head at that time while I was reading it, I see what you mean, that's a great idea though.

I will work on it next week, thanks for the suggestion is a really good one, and sorry for my misunderstood.

[2017-05-04 06:26] #1121 closed

[2017-05-04 06:29] WellingGuzman commented on #1304
@doughnet This has been a long way since we were discussing this problem, I'm not still able to reproduce it, and probably a long the way was fixed for you too. can you confirm this?

[2017-05-04 13:15] davidpanaho opened #1440 "Error using Slug Core UI"
## Version Info
  - Directus version and branch: Latest build (2017-05-04)
  - PHP version: 7.1.1
  - MySQL version: 10.1.21-MariaDB
  - Web server: Apache (XAMPP)
  - OS name and version: Windows 7

## Expected Behavior
Saving (or exiting from) an item with a slug core interface that doesn't have a mirrored field

## Actual Behavior
Unexpected error when leaving the item.

## Steps to Reproduce

[2017-05-05 09:34] ajshortt opened #1452 "Extending the hooks to a custom class"
## Version Info
Directus version and branch: 6.3.9
PHP version: 5.6.25
MySQL version: 14.14
Web server: Apache
OS name and version: macOS 10.12.4

## Expected Behavior
I want to perform tasks after a `table.insert` has fired.
Instead of having these within `configuration.php`, I want
to include and instance an object to perform my tasks like so:
[code]
## Actual Behavior
I'm getting errors with th

[2017-05-05 14:35] dalbinaco commented on #1378
I managed to solve this issue fixing the path on `api/config.php`, line 32.

The Directus installation set this line mixing slashes and backslashes, like `define('DIRECTUS_PATH', '/labs/directus/');`

So I just changed everything to normal slashes, like `define('DIRECTUS_PATH', '/labs/directus/');` and it worked.

[2017-05-05 19:57] WellingGuzman commented on #1452
Hey @ajshortt, what kind of errors are you getting?

You can use classes, here is a [example](https://github.com/directus/docs/blob/3c78439710ddff69215d5cecbd09538954ba0b82/developer-guide/hooks.md#using-a-class-implementing-__invoke)

[2017-05-09 12:43] studiovlijmscherp opened #1458 "Related data not fetched correct"
## Version Info
  - Directus version and branch: 6.3
  - PHP version: 7.1.0
  - MySQL version: 5.6.34
  - Web server: MAMP / Apache
  - OS name and version: macOS 10.12.4

## Expected Behavior
Fetch or display all related (table) data like the first node in the JSON output

## Actual Behavior
Only the first node of the JSON output contains als related (table) data

## Steps to Reproduce
I have 4 t

[2017-05-09 15:49] benhaynes commented on #1380
Any updates @marc-andrecroteau?

[2017-05-09 15:51] benhaynes commented on #1375
Hey @the0neyouseek – any updates on this?

[2017-05-09 15:55] benhaynes commented on #1335
Hey @globallog – this seems like a `DIRECTUS_PATH` issue with your config. We;ll close this ticket since it's been a few months without a response. Let us know if the issue persists and we'll re-open!

[2017-05-09 15:55] #1335 closed

[2017-05-09 15:56] benhaynes commented on #1341
Pinging @rijkvanzanten 🔔

[2017-05-09 16:05] the0neyouseek commented on #1375
Yeah, so sorry Ben ! 🙏
I've been working a lot this past few weeks and didn't have time to give it a look…
I'll make a pull request Saturday 😉

[2017-05-09 16:06] benhaynes commented on #1358
Het @ricricucit – part of this is a bug, yes. To answer your question, there is a `nav_listed` toggle that allows you to keep `view` enabled (eg: inside relational interfaces) but removes the table from the left nav. You can also use the group's nav_blacklist to accomplish something similar.

@WellingGuzman – When adjusting group permissions, it should only immediately update the GUI (eg: hide the

[2017-05-09 16:08] benhaynes commented on #1375
No problem – busy times all around! Looking forward to the PR! :)

[2017-05-09 16:15] benhaynes commented on #1365
Hey @nmpribeiro – I think I understand this issue. You're saying that you have multiple language options – and even though you have the first (id=1) set as the default, you think it should bypass that one because you've deleted it? Instead showing the next active item?

I actually agree with Welling here. Directus makes no assumptions about your architecture – including status/workflow. If you set

[2017-05-09 16:15] #1365 closed

[2017-05-09 16:30] rijkvanzanten commented on #1341
✋ It is still a problem:
[code]

This is on a clean installation of the [latest `6.3` from the `master` branch](https://github.com/directus/directus/commit/2890e9d473a8cd9bb99a9782265b29f28627718b).

## Steps to reproduce
1. Clone the repo
2. Create MAMP host w/ PHP `5.6.28`
3. Install Composer dependencies
4. Go to the url in the browser (in my case `http://6.3.directus.com`)
5. Go through the in

[2017-05-09 17:45] benhaynes opened #1459 "Prompt to "Update Bookmark""
Bookmarks need to *prompt* before saving changes: `Would you like to update your bookmark with this change?`

Yes = save, and stay in bookmark (keeps nav on bookmark)
No = apply changes, move to normal page (nav switches to table)

[2017-05-09 17:49] benhaynes opened #1460 "Reset header after filter (inaccessible checkbox)"
We need to reset the header and item checkboxes after changing status (item listing). Right now if you have View == Published Only and you check an item and make it Draft... it disappears but is still checked (hidden) so you can't change the header filter

[2017-05-09 17:51] benhaynes opened #1461 "Can't batch edit from bookmarks"
Throws a permission error

[2017-05-09 17:52] benhaynes opened #1462 "Batch Edit: Save button not accessible after some edits"
When batch editing, I am changing a datetime input using the "Now" button... but the page's SAVE button stays disabled (I need to change the actual input to make it work)

[2017-05-09 17:53] benhaynes opened #1463 "View Mode: Three dots won't open sidebar"
If you go from Calendar View to Table View, the "three dots" button in the table header no longer works

[2017-05-09 17:58] benhaynes opened #1464 "Not getting warning about missing PK Interface"
I changed the PK interface to Numeric and I am not getting the warning about "No PK Interface". I assume this is because it is there's still a PK in the database, but we need the warning even if you don't have the interface set.

Also, the PK Interface is NOT visible in the dropdown, so there's no way to set one. PK, Sort, and Status Interfaces should be visible in the dropdown IF ONE DOESN'T EXIS

[2017-05-10 01:08] #1464 closed

[2017-05-10 01:10] WellingGuzman commented on #1464
Also closed by this https://github.com/directus/directus/commit/3dbe01a8c0d33003b02c76e61111da4b5706f900

[2017-05-10 01:10] WellingGuzman commented on #1463
Closed by https://github.com/directus/directus/commit/faed31654faad1127e4d97cf067f57f72e194931

[2017-05-10 01:10] #1463 closed

[2017-05-10 01:11] WellingGuzman commented on #1462
This is closed by: https://github.com/directus/directus/commit/0cf487370a40e7d12773a73f43122f9b054d7eca

[2017-05-10 01:11] #1462 closed

[2017-05-10 01:13] WellingGuzman commented on #1459
Closed by: https://github.com/directus/directus/commit/3623b135476bda0ec8dc5018b64cc21c18dfc2ae

[2017-05-10 01:14] WellingGuzman commented on #1460
Closed by: https://github.com/directus/directus/commit/c62abf614710515ab67bf99937c97339eee2e535 and https://github.com/directus/directus/commit/7a6f2a52d0527c8f8a989529961f0141a8059025

[2017-05-10 01:14] #1460 closed

[2017-05-10 01:24] WellingGuzman commented on #1461
Closed by: https://github.com/directus/directus/commit/a24b5b4a3472ea248a749bdf5b85e617156cd4fb

[2017-05-10 01:24] #1461 closed

[2017-05-10 03:54] benhaynes opened #1465 ""Nothing to see" on filter"
When changing filters, if you get no results it should show "Nothing to see here"

Example:

1. Viewing Published Only (item listing)
2. Check all items and make draft
3. You will see no results, but still have a table header and no "Nothing to see here"

[2017-05-10 19:35] benhaynes commented on #1328
Hey @sanpoChew – we have not been able to reproduce this, and the drag-and-drop for Item Listings is refactored in the new version (6.4). Let us know if you're still getting this and we'll get it sorted!

[2017-05-10 19:35] #1328 closed

[2017-05-10 19:43] benhaynes commented on #990
Not pursuing this...

[2017-05-10 19:43] #990 closed

[2017-05-10 19:45] benhaynes commented on #1020
This will happen, but it's not an issue – moving this to the roadmap instead (will be published on the repo's wiki soon)

[2017-05-10 19:45] #1020 closed

[2017-05-10 22:45] #1465 closed

[2017-05-11 02:59] WellingGuzman commented on #1341
This will need some serious debugging, I still not able to reproduce it. I will review all the alternatives why this could happen.

[2017-05-11 03:00] WellingGuzman commented on #1304
I will close this, Assuming this was fixed in some way as it seems to be working. (I can't reproduce this error) Please let us know if still happening to you.

[2017-05-11 03:00] #1304 closed

[2017-05-11 03:09] WellingGuzman commented on #1380
Now that I read this again and noticed that @marc-andrecroteau mentioned `bitnami` which the server probably has PageSpeed enabled by default, causing this type of error.

This issue was solved by: https://github.com/directus/directus/commit/8cc6961486874cedbfa4169cd27f9835800d23e1 in 6.4 and https://github.com/directus/directus/commit/8cc6961486874cedbfa4169cd27f9835800d23e1 in 6.3

[2017-05-11 03:09] #1380 closed

[2017-05-12 11:44] raymonschouwenaar opened #1469 "Too many redirects in Safari (before installation)"
I've uploaded the all the files for Directus (v6.3.9) to my webhosting.

When I tried to visit the url, the is an error in Safari with Too many redirects occurred trying to open url: "http://rexmagazine.magr.digital/directus/login.php?redirect=login.php?redirect=login.php?redirect=login.php?redirect=login.php?redirect=login.php?redirect=login.php?redirect=login.php?redirect=login.php?redirect=logi

[2017-05-12 13:24] raymonschouwenaar commented on #1469
I found the solution for me!

I uploaded the application in the main directory, but my DIRECTUS_PATH was: `define('DIRECTUS_PATH', '/directus/');` , but had to be `define('DIRECTUS_PATH', '/');`

Hopefully this will help others :-)

[2017-05-12 14:40] #1440 closed

[2017-05-12 14:42] WellingGuzman commented on #1469
Hey @raymonschouwenaar, I assume you copied an paste the config examples? Just curious.

I'm going to change the default `DIRECTUS_PATH` value to `/`

Thanks for the info.

[2017-05-12 14:43] #1469 closed

[2017-05-12 14:49] WellingGuzman commented on #1395
We solve the uniqueness that we want to implement, but having a global implementation of slug is not something we want to pursuit now, and the user can implement their own global validation using hooks, not so pretty, but it will do the trick.

If this is something that somehow can be really useful, we will hear what you all have to say.

Closing it!

[2017-05-12 14:49] #1395 closed

[2017-05-12 22:56] Ronnyrr opened #1470 "Values not remembered after switching tabs in modal"
## Version Info
  - 6.4 (beta)

## Expected Behavior
You want the interface tab to save the values after you switch between tabs. This happens with all modals.

## Actual Behavior
When switching to “Column setup” without saving, returned to “Interface options” and all fields where empty / resetted. Small overlay usability tweak.

## Logs or Screenshots
<img width="619" alt="schermafbeelding 2017-0

[2017-05-13 02:41] WellingGuzman commented on #1378
what was the change you made @dalbinaco ? what do you mean by normal slashes?

[2017-05-13 21:29] #1341 closed

[2017-05-13 23:53] benhaynes opened #1471 "Update all emails to use new template"
Use general template style from Hosted

[2017-05-13 23:55] benhaynes opened #1472 "Welcome Modal Issues"
* Inputs should only have checks when the value is valid/matching
* Password isn't editable (only admins?)
* Edit Avatar button doesn't do anything
    * Should open up "global" file uploader/chooser
    * Or, open system upload dialog
    * Or, hide pencil icon for now

[2017-05-13 23:57] benhaynes opened #1473 "Don't auto-change datatype when changing interface"
When changing an Interface (column already exists) it should **not** change the datatype to the default (it should stay what it is until the user changes it manually)

[2017-05-13 23:58] benhaynes opened #1474 "Show required options when creating/changing interface"
When creating/changing an interface, if it has REQUIRED options, then show options tab after saving interface

[2017-05-14 00:00] benhaynes opened #1475 "PreventDefault on Interface Option Textareas"
Hitting enter in a textarea (or other input) while editing the interface options saves the options modal instead of inserting "enter"

[2017-05-14 00:02] benhaynes opened #1476 "Warn users when leaving page with unsaved changes"
This used to work, but has been disabled/broken in 6.4

Should work on all edit pages, including modals

[2017-05-14 00:04] benhaynes opened #1477 "Hide Options Tab when changing Interface"
When changing an interface, it should HIDE the Interface options (not show the options for the current/previous interface).

[2017-05-14 22:26] benhaynes opened #1484 "Escape quotes in column comments"
Adding double quotes into the column comment/note throws an error... all chars should be escaped.

[2017-05-15 02:53] WellingGuzman commented on #1484
Closed by https://github.com/directus/directus/commit/30a50840822c19e814ad2a59c6c6c0e330afa1ac

[2017-05-15 02:53] #1484 closed

[2017-05-15 02:54] WellingGuzman commented on #1459
Closed by https://github.com/directus/directus/commit/23894c92dc7f4abf1973778406f61518959a6cf2

[2017-05-15 03:22] #1473 closed

[2017-05-15 03:26] benhaynes opened #1485 "Medium Editors are not being destroyed"
When the framework creates the `medium-editor` (WYSIWYG Interface) they are not destroyed when not in use and they build up in the DOM... causing layout/scroll issues:

![screen shot 2017-05-14 at 11 23 33 pm](https://cloud.githubusercontent.com/assets/522079/26041671/ae4c03e8-38fc-11e7-8f14-1e006e433ec1.png)

[2017-05-15 03:32] benhaynes commented on #1477
This change ALWAYS hides the tab... it should only be hidden when the user CHANGES the Interface dropdown.

[2017-05-15 03:36] benhaynes opened #1486 "One-to-Many Interface: Choose Existing Items"
Ideally we want this to pull all items, and have the items already added to be checked/selected

[2017-05-15 04:19] WellingGuzman commented on #1477
It's working as expected to me, can you show me the steps you are doing?

Mine:
1. Click any column (Options Visible)
2. Change Interface (Options hidden)
3. Change back to the original Interface (Options Visible)

[2017-05-15 04:52] WellingGuzman commented on #1485
Closed by https://github.com/directus/directus/commit/af80926635c05ba42535329b4cdf0b3c41f09633

[2017-05-15 04:52] #1485 closed

[2017-05-15 05:01] WellingGuzman commented on #1477
Never mind, one file wasn't committed. (Closed by https://github.com/directus/directus/commit/694c4bc97a1074f859d670f69a8eb31501762443)

[2017-05-15 05:01] #1477 closed

[2017-05-15 11:51] dalbinaco commented on #1378
@WellingGuzman Sorry, I previously pasted the same two lines on the above comment, just edited now with the differences.

I meant `/` and `\`.

[2017-05-15 17:02] WellingGuzman commented on #1378
Hey @dalbinaco, what's your stack? I assume the server was running on Windows?

[2017-05-15 17:57] dalbinaco commented on #1378
@WellingGuzman That's correct.

Apache 2.4.23
PHP 7.0.10
MySQL 5.7.14

[2017-05-15 22:43] benhaynes opened #1491 "Strict Naming JS is breaking cursor/arrows"
There's no way to go back with arrows to make corrections in these inputs because the text cursor/caret is ALWAYS at the end of the text.

**Possible solution:**
http://stackoverflow.com/questions/14508707/updating-an-inputs-value-without-losing-cursor-position

[2017-05-15 23:01] benhaynes opened #1492 "Update after saving required interface options"
If you have the warning about missing interface options (yellow triangle) and then CORRECT those issues, when you save it should remove the warning triangle

[2017-05-15 23:26] benhaynes opened #1493 "Some JS events stop working randomly"
**STILL NEED STEPS TO REPRODUCE**

After navigating the user system, sometimes when going to Admin settings I can no longer click on Add New Column or the Interface option modals... it seems like all JS stops, but there are no console errors.

I will try to find a way to reproduce.

[2017-05-16 03:04] WellingGuzman commented on #1491
The link did the job, please confirm in your end to close it.

[2017-05-16 12:39] rijkvanzanten commented on #1493
I have noticed this myself as well. I'll post it here if I'm able to reproduce it

[2017-05-16 20:28] WellingGuzman commented on #1471
@benhaynes I've added the logo from `directus.io` url, and the design of the footer has too much spacing, take a look and see what you think it's best.

About the logo, should we use the svg from `assets` directory and fallback to any logo the user use? This follow another question should the logo background be customizable in case the logo and the background don't play well?

[2017-05-17 02:47] WellingGuzman commented on #1472
- [x] Inputs should only have checks when the value is valid/matching
Issue on password; check overlaps due to being wrapped into the same element
- [x] Password isn't editable (only admins?)
Only when it's empty
- [x] Edit Avatar button doesn't do anything
It opens system upload dialog

[2017-05-17 08:24] rijkvanzanten opened #1495 "Modal buttons (a11y)"
[BETA] The cancel / save buttons as well as the tabs have no visual indication of the focus state. Navigating the modal with the keyboard results in unexpected behavior

[2017-05-17 09:01] lehha opened #1496 "Column in where clause is ambiguous"
Broken SQL query on filter if it have a Multi-to-One link: column name same in both tables.

Message was:
[code]

Table class_call_status have that:
id, active, status (varchar)

  - Directus version and branch: 6.3.9
  - PHP version: 5.6
  - MySQL version: 5.1.73
  - Web server: Apache
  - OS name and version: CentOS 6.9

## Expected Behavior
in Where statement must be fully qualify: ... AND `cal

[2017-05-17 13:22] benhaynes commented on #1495
Yes, this is important to have. We _could_ use the outline property – or  look into a more styled approach. Do you have a preference Rijk?

[2017-05-17 13:39] benhaynes opened #1499 "Getting error on Messages"
Probably due to the Interface refactor, we'll need to re-connect `directus_messages_recipients`

[code]

[2017-05-17 13:42] benhaynes commented on #1491
Perfect!

[2017-05-17 13:42] #1491 closed

[2017-05-17 13:46] benhaynes commented on #1472
I'm testing the Welcome Message modal. I created a new user in the DB and logged in... some things seem to be working but I got this error:

[code]

[2017-05-17 13:50] benhaynes commented on #1475
Looking good!

[2017-05-17 13:50] #1475 closed

[2017-05-17 13:52] benhaynes commented on #1492
Yeehaw!

[2017-05-17 13:52] #1492 closed

[2017-05-17 14:31] benhaynes commented on #1486
Error re-adding:

1. If you have saved relational items
2. You delete one (don't save)
3. You Choose Existing and add it back again
4. It will not show up in the listing or save

[2017-05-17 14:46] benhaynes opened #1500 "Column resizing is not happening on Item Listing"
We've disabled this on relational interface tables, but it's no longer working on the Item Listing:

**Should** resize columns on Item listing table:
![screen shot 2017-05-17 at 10 44 46 am](https://cloud.githubusercontent.com/assets/522079/26160006/0efa9bc6-3aee-11e7-80bb-8e6f16d5e705.png)

Should **not** resize columns on interface tables:
![screen shot 2017-05-17 at 10 45 19 am](https://cloud.g

[2017-05-17 17:01] benhaynes commented on #1500
Looks good!

[2017-05-17 17:01] #1500 closed

[2017-05-17 17:25] WellingGuzman commented on #1472
what values had the user when you created in the DB?

I going to update this, it only worked when the user didn't have any password, now will work like this:

1. User has password and Input is not empty: Change password
2. User has not password set and Input is empty: Validation Warning
3. User has password set and Input is empty: Pass, keep current password

[2017-05-17 18:15] rijkvanzanten commented on #1495
Ben, an outline is the most recognizable focus style, but also quite an "ugly" one style wise. I recommend a double box-shadow (one bg color, one primary blue) which creates the ring effect but in style

[2017-05-17 18:43] benhaynes commented on #1378
@WellingGuzman – is there anything else we can update in the Docs or code comments to make sure this is clear (including for windows)?

[2017-05-17 19:44] jroxendal opened #1501 "Guide on how to add CORS headers to Directus API response"
From what I can see the feature is there, but I can't find documentation on how to use it, any pointers?

[2017-05-17 21:41] benhaynes commented on #1495
Ahh, I like that! I haven't used double-box-shadows but will give that a try!

[2017-05-17 22:14] benhaynes opened #1502 "Tabbing through messages page throws errors"
If you tab through the blank Messages page you get the following errors:
[code]

[code]

[2017-05-17 22:23] benhaynes commented on #1495
Added! I also updated some of the interfaces to use `<buttons>` instead of divs with a `.button` class... we'll want to update all of them in the interfaces though (and give tab-indexes to important non-buttons)

[2017-05-17 22:23] #1495 closed

[2017-05-17 22:46] benhaynes opened #1503 "Close messages button"
There is a new CLOSE (X) button for messages. It should close the right pane (new/current message) when clicked.

[2017-05-17 22:59] benhaynes commented on #1472
Still getting this error when submitting:

[code]

This is what the user looks like before:
```INSERT INTO `directus_users` (`id`, `active`, `first_name`, `last_name`, `email`, `password`, `salt`, `token`, `access_token`, `reset_token`, `reset_expiration`, `position`, `email_messages`, `last_login`, `last_access`, `last_page`, `ip`, `group`, `avatar`, `avatar_file_id`, `location`, `phone`, `addres

[2017-05-17 23:06] WellingGuzman commented on #1472
can you share how you create Mr. Bogus user in the first place?

[2017-05-17 23:07] benhaynes commented on #1472
The SQL in the last comment... (added directly into database)

[2017-05-17 23:07] WellingGuzman commented on #1472
With an existing password? I thought it was the result. testing now.

[2017-05-17 23:14] benhaynes commented on #1471
Getting close!

Can we update that "Change your preferences" link to point to THEIR user detail page? Directus will redirect them there after login.

For emails sent from Directus Messages... can we include the name of the sender below?

And can these email subject lines have ` [Directus: Project Name]` at the end?

It doesn't like that logo for some reason:
![screen shot 2017-05-17 at 7 07 59 pm]

[2017-05-18 00:15] benhaynes commented on #1502
Nice!

[2017-05-18 00:15] #1502 closed

[2017-05-18 00:42] WellingGuzman commented on #1501
Hey @jroxendal, you can read the configuration.php and see the options https://github.com/directus/directus/blob/master/api/configuration_sample.php#L45-L52

Change the `enabled` option to `true`.

We are going to improve the documentation after we release Directus 6.4

[2017-05-18 00:42] #1501 closed

[2017-05-18 10:28] rijkvanzanten commented on #1495
(For later reference) It was fixed in this commit: 72391d470f19e00969e49b951d4e95d5cd3adab6

[2017-05-18 15:23] benhaynes commented on #1472
The second password check should only be blue if the passwords *match*.

Don't allow the modal to be closed (and no close button in top-right).

I added a "Go Back" button to the bottom of the last pane, let's get that working.

[2017-05-18 15:33] benhaynes commented on #1471
Also, we should use the Project Logo (image) in the header – if it doesn't exist then we use the Directus logo (from their instance, not directus.io)

[2017-05-18 15:46] benhaynes commented on #1459
When you choose "No" on the update modal, it does not take you to the same exact page you requested.

If you're on a bookmark and change the status to also show DRAFT, then it asks you if you want to update your bookmark (you say "no"), then it should show you the normal Listing page and SHOW DRAFT (like you requested).

[2017-05-18 17:36] WellingGuzman commented on #1459
I thought we agreed that's how it should work.

If the user didn't want to apply the changes in the modal, that changes will replace the original table preferences and redirect to the actual table.

[2017-05-18 17:41] WellingGuzman commented on #1471
The `directus.io` was just for placeholder, the one in directus is a svg, so I need your help on make it work using the svg, in the other hand I will make it work using the project logo (image).

[2017-05-18 19:32] benhaynes commented on #1459
Exactly. But right now the NEW change (that caused the modal) is not moving over. Example:

Normal: `published`
Bookmark: `draft`

User is viewing bookmark, and ADDS `published` but does NOT save/update the bookmark. It should navigate to Normal:

Normal: `published`, `draft`
Bookmark: `draft`

but instead it just goes to:

Normal: `draft`
Bookmark: `draft`

[2017-05-18 21:20] benhaynes commented on #1471
OK, SVG Directus logo is not good for email, I just pushed a PNG into the repo... let's use that as a fallback to the Project Image.

[2017-05-18 21:21] benhaynes commented on #1499
No more error!

[2017-05-18 21:21] #1499 closed

[2017-05-19 02:36] benhaynes commented on #1472
Whew – finally done! Awesome job Welling...

[2017-05-19 02:36] #1472 closed

[2017-05-19 02:45] benhaynes commented on #1503
OK, this is now closing!

[2017-05-19 02:45] #1503 closed

[2017-05-19 22:15] benhaynes commented on #1486
Working.

[2017-05-19 23:34] benhaynes commented on #1486
If you go from an empty interface and add one or more items, the table header does not appear. The whole table should be hidden if there are no results, and should show the entire table (header and body) when there are ANY new results.

[2017-05-20 03:11] benhaynes commented on #1471
[code]

[2017-05-20 03:24] benhaynes commented on #1459
OK, this looks good now

[2017-05-20 03:24] #1459 closed

[2017-05-20 14:30] benhaynes commented on #1471
@WellingGuzman – I am receiving multiple (3-4) copies of emails (notifications of new Directus Messages) from the SENDER. Maybe it is sending one for each reply? Either way, it should only send ONE.

[2017-05-20 14:33] benhaynes commented on #1471
We need a route to open messages. Same page, but should open the message in the right pane:

`http://local.directus.com/messages/new`
`http://local.directus.com/messages/12` (opens message id:`12`)

[2017-05-20 15:02] benhaynes commented on #1471
@WellingGuzman The only problem with using the project log (and project directus logo) is that it won't work on local (not a HUGE deal, but too bad). If we can TEST for local somehow, we can serve the directus.io logo in those cases.

[2017-05-20 15:22] benhaynes opened #1504 "Can't invite new users"
[code]

[2017-05-20 15:24] benhaynes opened #1505 "Double checkboxes for Add Existing Users"
The good news is that this SEEMS to pre-check all the current users... but it has TWO columns of checkboxes :/

![screen shot 2017-05-20 at 11 23 19 am](https://cloud.githubusercontent.com/assets/522079/26276872/d087fb14-3d4e-11e7-989b-a19f19308be6.png)

[2017-05-20 15:25] benhaynes commented on #1505
That's the active column... 😬

Can we remove the active column from this listing view?

[2017-05-20 15:31] benhaynes opened #1506 "Clicking Settings>Group>Permissions>Status"
Settings>Group>Permissions>Status

@WellingGuzman – Clicking on Status cells (even for disabled rows) changes the status to "deleted". Clicking that should not do anything.

[2017-05-20 15:33] benhaynes opened #1507 "All/None Permissions"
Settings>Group>Permissions

Clicking on ALL/NONE next to the table name should toggle ALL statuses. If you have the "workflow" open (so you can see all status) it only toggles ONE status:

![screen shot 2017-05-20 at 11 33 28 am](https://cloud.githubusercontent.com/assets/522079/26276944/2c5eede8-3d50-11e7-9c8c-1ac2c3236672.png)

[2017-05-20 15:55] benhaynes opened #1508 "Settings>Groups>Users"
Settings>Groups>Users is not showing any users listed (for admin)

[2017-05-20 16:11] benhaynes opened #1509 "Nav Blacklist"
Should not be case-dependent: `Faq`, `FAQ`, `faq`... should all work

Should trim spaces from split values: `this, that, those` should work (right now only this work: `this,that,those`)

Settings interface should have this comment/note:
`A CSV of table names that should be hidden from the default navigation list`

---------

**OR, if this is cleaner:**
We already have `directus_privileges.nav_list

[2017-05-20 16:15] benhaynes opened #1510 "Settings>Groups>Show Files"
Settings>Groups>Show Files is not working

If unchecked it should hide the "File Library" from the user navigation and not allow users to go to the "Files" page.

[2017-05-20 16:17] benhaynes opened #1511 "Settings>Groups>Allow Messaging"
Settings>Groups>Allow Messaging not working

This should toggle the ability to SEND MESSAGES. They can still go to the messages page, but can not SEND any messages or replies.

[2017-05-20 16:35] benhaynes opened #1512 "Editing User is not working"
For normal user groups, I am getting this when trying to save:
[code]

The admin group is not showing the token column sometimes (not sure how to reproduce this)

[2017-05-20 16:38] benhaynes opened #1513 "Settings>Groups>Allow Profile Editing"
Settings>Groups>Allow Profile Editing is not working.

This should disable the ability for these users to edit their user page. We can remove the save button from that user edit/detail page. Ideally all interfaces on their user detail page should be disabled too.

[2017-05-20 16:47] benhaynes opened #1514 "Settings>Groups>Nav Override"
Settings>Groups>Nav Override seems to override something, but is showing weird results. The link is not working and items are not indenting.

Let's add this as placeholder (adjusted if this is the wrong syntax):
[code]

Let's add a note/comment:
`JSON to override the primary navigation, see the placeholder example`

[2017-05-20 17:15] benhaynes opened #1515 "Settings>Groups>Admin"
Hide these columns for the Admin group:
`Show Files`
`Allow Messaging`
`Allow Profile Editing`

[2017-05-20 17:21] benhaynes opened #1516 "Error on new messages"
[code]

[2017-05-20 18:19] benhaynes commented on #1516
Fixed

[2017-05-20 18:19] #1516 closed

[2017-05-20 19:34] benhaynes commented on #1471
OK, moved "link to messages" to FeatHub... the rest looks good!

[2017-05-20 19:34] #1471 closed

[2017-05-20 20:01] benhaynes commented on #1504
Working

[2017-05-20 20:01] #1504 closed

[2017-05-20 20:26] WellingGuzman commented on #1470
Closed by https://github.com/directus/directus/commit/66fc638b3bf6dcb182960297a0f7747bd509d0db

[2017-05-20 20:45] benhaynes commented on #1508
Tested – working...

[2017-05-20 20:45] #1508 closed

[2017-05-20 21:40] benhaynes commented on #1505
Instead of removing this column we're going to create a `directus_status` interface that shows the status more elegantly (eg: blue circle). This interface should use the status mapping colors/names.

[2017-05-21 04:14] WellingGuzman commented on #1510
@benhaynes Would this reflect into permissions as well?

[2017-05-21 04:20] benhaynes commented on #1510
It's currently called `show files`, but it SHOULD be `allows_uploads`.
Since that's not controlled by permissions...

On May 21, 2017 12:14 AM, "W.R. Guzmán" <notifications@github.com> wrote:

[2017-05-21 15:31] benhaynes commented on #1515
Looking good

[2017-05-21 15:31] #1515 closed

[2017-05-21 15:41] benhaynes commented on #1513
If "Allow Profile Editing" is off, does it still update the info at login? Eg: `last_access`, `last_page`, `last_page`, `ip`

[2017-05-21 15:42] benhaynes opened #1517 "Users IP"
Is `directus_users.ip` being stored/used? We should update this to `last_ip` and update it whenever the user logs in

[2017-05-21 15:45] benhaynes commented on #1512
Working now!

[2017-05-21 15:45] #1512 closed

[2017-05-21 15:47] benhaynes commented on #1470
Not working for interface options – but we'll get to this after release

[2017-05-21 19:58] WellingGuzman commented on #1509
We already have `directus_privileges.nav_listed` under the group's table permissions but I don't know if we're using it. We could remove the `nav_blacklisted` interface and just add `nav_listed` checkboxes to the permissions interface.

This is a good solution, I will implement this in the second batch for the next minor version. what do you think @benhaynes ?

[2017-05-21 20:00] benhaynes commented on #1509
Perfect! We can update the ticket to reflect that

[2017-05-21 20:41] WellingGuzman commented on #1513
it wasn't possible, but now it's bypassed. done here: https://github.com/directus/directus/commit/75771bde1e43956942f1502eef76b98f104547ef

[2017-05-21 20:42] #1517 closed

[2017-05-21 20:43] #1513 closed

[2017-05-22 00:10] benhaynes commented on #1506
Clicking on status should NEVER do anything.

[2017-05-22 00:15] benhaynes commented on #1514
Needs the placeholder text (use the example above)

[2017-05-22 00:29] WellingGuzman commented on #1506
Closed by: https://github.com/directus/directus/commit/d85ff38ebbef00754e6a4e2c197c59c90a7b5d58

[2017-05-22 00:42] benhaynes commented on #1506
Done

[2017-05-22 00:42] #1506 closed

[2017-05-22 00:43] benhaynes commented on #1507
This is working, but in WORKFLOW mode it's blinking/saving about 10 times (which seems weird)

[2017-05-22 00:43] #1507 closed

[2017-05-22 00:44] benhaynes commented on #1514
Yeehaw...

[2017-05-22 00:44] #1514 closed

[2017-05-22 01:39] benhaynes opened #1518 "Admin can't edit user"
I am an admin and I am not able to edit another user's detail page – I should be able to

[2017-05-22 02:58] #1511 closed

[2017-05-22 03:05] #1518 closed

[2017-05-22 03:11] benhaynes commented on #1505
With the checkboxes now disabled, this is OK for now. In the future we should plan on creating a custom interface.

[2017-05-22 03:11] #1505 closed

[2017-05-22 12:05] stevepatter commented on #1338
What about something more generic than or_like?

Judging from other frameworks, it'd be good to have some kind of bracketing/subqueries/nested queries so query elements are joined together in the right priority, I'm thinking of query syntax roughly like this:

[code]
to make   `WHERE (to = 1 OR from = 1)`

[2017-05-22 13:18] benhaynes commented on #1338
Just adding these ideas here in case they inspire someone, but the structure is different so this would have to be for v1.2 or be a NEW filter param that sits alongside the current one (so it doesn't break backwards compatibility):

[code]

[code]

[2017-05-22 18:12] WellingGuzman commented on #1338
Hey @AwakenTheJaken, @stevepatter made a PR that implements logical and/or works (https://github.com/directus/directus/pull/1519)

Maybe there could be a cleaner way, I don't like the `'before' => '(',` and `'after' => ')'` parts.

I can't think of any now, but a way to group the conditions/filters without explicitly saying how to group it should be the best bet.

We can keep the conversation, or

[2017-05-22 18:12] #1338 closed

[2017-05-22 19:00] WellingGuzman commented on #1470
Correction: Not working for some interfaces, mainly non-native inputs.

[2017-05-22 20:01] #1510 closed

[2017-05-23 08:27] WellingGuzman commented on #1458
Hey @studiovlijmscherp, I will be working on this, sorry it took me weeks to reply, but I wonder were you using API 1.1 or 1.0?

A minimal schema to replicate this issue would be helpful.

[2017-05-23 16:23] stevepatter opened #1520 "Unable to upload .docx files (API 1.1 or web interface)"
The type field in directus_files is too short for .docx files. These files report as 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' (72 characters) but the type field is only 50 characters and cause database-insertion errors due to the field length

Directus master, commit hash 2890e9d473a8cd9bb99a9782265b29f28627718b
Ubuntu, Apache with PHP 5.6

Tested both through the

[2017-05-23 21:25] benhaynes commented on #1520
Interesting. This will also cause issues in the GUI since we sometimes show this as the file-type (when in reality we'd want to see `docx`). @WellingGuzman any thoughts on how to resolve this? Obviously we can increase the length of that column, but should we try to parse/simplify that document type of leave it as its default?

[2017-05-23 21:38] WellingGuzman commented on #1520
@benhaynes I talked to @stevepatter and the problem here (not tested) it's that the `type` column only allows 50 characters, but the mime type for docx is 71 characters. After reading the RFC, mime types allow up to 255 characters.

To get this fixed, we will have to set the length to 255 to play it safe

[2017-05-23 21:42] benhaynes commented on #1520
Perfect. Let's push this change to 6.4. We can also hotfix it to 6.3.x if needed... but 6.4 should be released within a week or so.

[2017-05-23 22:30] benhaynes commented on #1474
When changing an interface, the options for the PREVIOUS interface are shown after saving.

[2017-05-24 01:41] WellingGuzman commented on #1520
Something to notice is that the error is only thrown by mysql when strict mode is enabled, otherwise mysql will automatically truncate the string to fit 50 characters.

[2017-05-24 01:42] #1520 closed

[2017-05-24 02:08] benhaynes commented on #1474
Looks good!

[2017-05-24 02:08] #1474 closed

[2017-05-24 02:08] benhaynes opened #1521 "Error creating Slug interface"
Maybe due to the required options pane?

[code]

[2017-05-24 02:09] benhaynes opened #1522 "Can't switch away from M2O"
If I have a M2O, the edit modal doesn't let me change the interface to anything else... but it's an INT so I should have many options. Maybe because it's relational?

[2017-05-24 07:28] studiovlijmscherp commented on #1458
Hi, no problem. Using api v1.1

This more usefull?
![schermafbeelding-2017-05-24-om-09 23 14](https://cloud.githubusercontent.com/assets/3353713/26391510/5c3f567c-4063-11e7-8291-857d071220ea.jpg)

[2017-05-24 17:43] WellingGuzman commented on #1458
@studiovlijmscherp Yeah, that would do. I want to ask you this; did you change the `depth` level param? that's the way we pick how many level deep to fetch more data.

[2017-05-24 18:16] WellingGuzman commented on #1418
After long discussion and testing the suggestion of getting the name of a event from the class name is almost impossible, to not say impossible. If someone got an idea, it's welcome.

What we are going to implement now is autoloading classes in `customs/hooks` so it's easy to do this `'event-name' => '\Directus\Customs\Hooks\Class'` without autoloading the class yourselves.

We were also thinking

[2017-05-24 20:51] #1418 closed

[2017-05-25 16:50] benhaynes commented on #1522
Perfection...

[2017-05-25 16:50] #1522 closed

[2017-05-25 16:52] benhaynes commented on #1521
Lookin good!

[2017-05-25 16:52] #1521 closed

[2017-05-25 21:34] rijkvanzanten opened #1524 "Wrong selection on multiple multi-selects with same values"
## Version Info
  - Directus version and branch: BETA

## Expected Behavior
Selecting option in second multi-select instance selects value

## Actual Behavior
Selection option in second multi-select instance selects first-multi-select instance's value with the same name

[2017-05-28 11:09] rijkvanzanten opened #1527 "Saving admin user causes error"
## Version Info
  - Directus version and branch: 6.4 RC https://github.com/directus/directus/commit/5558cd2ab3acf14abe0ab2f0420a97353bde0b12

## Expected Behavior
Clicking save on the admin user profile saves the data.

## Actual Behavior
UI Throws JS error (see logs)

## Steps to Reproduce
 1. Edit admin user
 2. Hit save

## Logs or Screenshots
[code]

It fails in the `isAdmin` check on line 66

[2017-05-28 15:28] rijkvanzanten opened #1528 "Add file-too-large-to-upload error message"
## Version info
  - Directus version and branch: BETA 6.4-rc https://github.com/directus/directus/commit/5558cd2ab3acf14abe0ab2f0420a97353bde0b12

## Expected Behavior
Saving item with semi-large (5+ MB) image throws "image too big" error.

## Actual Behavior
Admin throws Error `Unexpected token < in JSON` error

## Steps to Reproduce
 1. Create an item with a single-file interface
 2. Select a la

[2017-05-29 11:16] twoSeats opened #1529 "Directus 6.4RC1 being too opinionated about the schema for table primary keys"
## Version Info
  - Directus version and branch: 6.4 RC1
  - PHP version: 7.1.4
  - MySQL version: 10.0.29-MariaDB
  - Web server: Caddy
  - OS name and version: Ubuntu 16.04.1

The following is regarding preexisting tables not created by directus:

## Expected Behavior
as happens in 6.3.6
If a table has an integer type id primary key column it is assigned a primary key interface by Directus witho

[2017-05-29 17:31] WellingGuzman commented on #1529
Hey @twoSeats,

Thanks for the well explained ticket, I will be working on this today.

What should happen here is that the primary key interface should be set by default when you create the table yourself, and be able to change any numeric field to primary key interface.

Although upgrading the database on automatically create the desired interfaces for the primary key.

[2017-05-29 20:40] WellingGuzman commented on #1527
These types of problem keep happening this would be fully solved the moment we implement the double binding to check the new data to save.

This https://github.com/directus/directus/commit/a5afc8e88c0b4999d12491dc7774d9bb5d9011d7 commit should fix it

[2017-05-29 22:05] WellingGuzman commented on #1528
After trying different things, it seems be difficult to add a proper message when the error is about memory limit exhausted, which means you almost can't use any more memory to change the message, or are not able to strictly remove memory to use in other way.

[2017-05-29 22:19] WellingGuzman commented on #1529
Hey @twoSeats,

In the first case, how is the relationship of the table looks like? do you have an schema that we can use to reproduce the issue?

[2017-05-30 01:09] WellingGuzman commented on #1529
Hey @twoSeats, can you share what constraints does your primary have?

the second case should be fixed now.

[2017-05-30 16:15] twoSeats commented on #1529
Hi @WellingGuzman; apologies, I was offline for a bit. I'll get you that info soon as I have a chance.

[2017-05-30 17:14] WellingGuzman commented on #1529
@twoSeats no a problem, let us know when you got the chance

[2017-05-31 01:01] #1527 closed

[2017-05-31 01:02] #1524 closed

[2017-05-31 02:09] WellingGuzman commented on #1476
Another thing to discuss here is, what happens if there unsaved changes and the user goes inactive for x minutes and the cms tries to log it out? should stay or force the log out?

[2017-05-31 03:38] benhaynes commented on #1476
Force logout. There used to be a notification that came up with 1 minute remaining... Let's make sure we have that still.

Eventually this issue will be solved by the "save progress" feature...

[2017-05-31 07:16] GeeWizWow opened #1530 "Swiftmailer validation refuses RFC 2822 compliant e-mails"
## Version Info
  - Directus docker 6.3
  - PHP version: 7.1.2

## Steps to Reproduce
 1.  Run a directus docker instance
 2.  (Optional: Create a new user)
 3.  Log out
 4. Press the reset password button
 5. Observe the network call to /forgot-password fail with an error 500

## Logs or Screenshots

`{
  "code": 0,
  "class": "Swift_RfcComplianceException",
  "message": "Address in mailbox given

[2017-05-31 07:35] WellingGuzman commented on #1530
Hey @GeeWizWow, apparently there's an issue with the docker image no providing a default email on installation. note the `{{directus_email}}` that's a placeholder that needs to be replaced.

[2017-05-31 07:36] WellingGuzman commented on #1530
This is indeed a directus docker image issue rather than a directus issue.

[2017-05-31 07:44] WellingGuzman commented on #1530
Moved to docker repository https://github.com/directus/directus-docker/issues/15

[2017-05-31 07:44] #1530 closed

[2017-05-31 15:26] Hainesy opened #1531 "Update item through API succeeds but throws UnauthorizedTableBigEditException due to user not having permissions to directus_activity table"
## Version Info
  - Directus version and branch: 6.4.0-rc.1 (I *think*)
  - PHP version: 7
  - MySQL version: 5.7.18
  - Web server: Apache
  - OS name and version: Linux mint 18

## Expected Behavior
JSON response with meta & data.

## Actual Behavior
Response contains UnauthorizedTableBigEditException, saying access is forbidden on directus_activity.

## Steps to Reproduce
 1. Set up a user with

[2017-05-31 17:31] benhaynes commented on #1524
@rijkvanzanten – can you confirm this is good-to-go?

[2017-05-31 17:33] benhaynes commented on #1528
@WellingGuzman – Can't we compare the server max upload size with the upload size for the current file? Then we could check if a file is too big BEFORE uploading and still have memory to show a proper error notification.

@rijkvanzanten – any other ideas?

[2017-05-31 17:36] WellingGuzman commented on #1528
We do compare it, but the end result can becomes "too big" and hit memory limit.

I can look for an alternative solution though.

[2017-05-31 18:54] WellingGuzman commented on #1531
Hey @Hainesy each user group must have permission to update and add information to activity table.

This is something we will fix soon, as this is a system level process that shouldn't be requiring the user group permission to perform it.

If giving the user group permission to add/update entries in `directus_activity` doesn't fix the problem, let us know.

[2017-05-31 22:07] twoSeats commented on #1529
@WellingGuzman here we go, the database I was using for my tests is in this gist: https://gist.github.com/twoSeats/3c50ec3a20b9fc8ef720466f1036cf40

It was just to test the error i was getting; otherwise all the primary keys should be unsigned & auto incrementing. You'll see that some tables are and some are not; this was intentional for my tests.

[2017-06-01 03:01] WellingGuzman opened #1532 "Skip ACL on system level interactions"
System level insert/update/delete shouldn't be based on the authenticated user permissions.

Such as record activity into `directus_activity` table, having or not having permission to write to the table.

Although working with the table directly via the API should check for permissions.

[2017-06-01 03:02] WellingGuzman commented on #1531
I will close this as this is an expected behavior, but we will improve this process to avoid this happening in a future.

This will be tracked here: #1532

[2017-06-01 03:02] #1531 closed

[2017-06-01 03:21] WellingGuzman commented on #1529
Hey @twoSeats,

did you try to see if the error keep showing up after these commits: https://github.com/directus/directus/commit/d57db3d91d3b225c26aa18a0d809071570376400 and  https://github.com/directus/directus/commit/325be196600d190b711e968f5d6d2fff9cc732d4?

I tried your schema, and changing the primary key numeric interface to primary key and it worked without errors.

Let me know how it goes.

[2017-06-01 13:15] benhaynes opened #1533 "Show length for Decimal datatype"
When creating a column with the `Decimal` datatype, we need to show the length input and ensure it can save `8,2` for setting decimal places successfully.

[2017-06-01 17:39] rijkvanzanten commented on #1528
Maybe we could look for alternative solutions to uploading files altogether? I've uploaded way larger images and files on this exact server using two other CMSs in the past.

[2017-06-01 17:43] WellingGuzman commented on #1528
This information could help, let's talk over slack. Last night I did some test and manage to saved 60mb of memory, while uploading a 23mb image that was giving me the memory exhausted error.

[2017-06-01 20:20] WellingGuzman commented on #1532
Closed by e8619d9242e91cd0839613195e503968f916bf50

[2017-06-01 20:20] #1532 closed

[2017-06-02 11:39] twoSeats commented on #1529
@WellingGuzman I've just tried it and things look great now! awesome work, thanks!

[2017-06-02 13:28] #1529 closed

[2017-06-02 14:03] quadriq commented on #1361
@WellingGuzman I think that the docu is very confusing... in the docu you say: "unpack and use" but in reallity its clone, run composer and then use.

I needed to install directos on a webhosting (only ftp).. so I used docker image to run directus there.. setup it and then move the hole direcotry of `/var/lib/www` to the hosting...

So you need to adjust the docu! or create a release tarball with

[2017-06-02 14:14] benhaynes opened #1534 "Ensure `perPage` param is working on API"
We've had a few reported cases of the `perPage` parameter not working on API requests. This is an alias for `limit` but we should still make sure it's functioning properly.

[2017-06-02 14:27] benhaynes commented on #1361
Hello @quadriq – we can update the docs to make all of this more clear. Apologies for any confusion!

[2017-06-02 14:29] WellingGuzman commented on #1534
Hey @benhaynes,

`perPage` works, the situation is that `limit` works alone while `perPage` always worked along side `currentPage`

What we should do is make it act as a limit? with `currentPage` default to 1?

[2017-06-02 14:30] benhaynes commented on #1534
Yeah, exactly. Let's have the `currentPage` default to one to avoid these issues. We can ALSO have perPage default to the instance default `200` I think. That way *either* param can be used alone.

[2017-06-02 14:45] WellingGuzman commented on #1534
`perPage` are not being set as `limit` takes priority and `perPage` is deprecated

So `currentPage` is definitely is going to be set to 1 by default when `perPage` is set.

[2017-06-02 14:59] WellingGuzman commented on #1361
Hey @quadriq, the documentation have a link to download release/build zip, which you should unpack and be ready to use (with composer dependencies installed)

[2017-06-02 15:09] WellingGuzman commented on #1361
Hey @quadriq, I review the documentation and I see the confusion, we do not link to the `zip` file directly but to the `build` branch, we are going to include the zip/tarball in the releases and point directly to those files.

[2017-06-02 15:16] WellingGuzman opened #1535 "Include a zip/tarball to each release"
We should start including a zip/tarball in each new release.

- ~zip/tarball with the same files as cloning the repo~
- zip/tarball compressed with composer dependencies included

Should we include any zip/tarball?

[2017-06-02 15:17] WellingGuzman commented on #1361
I will close this ticket and we should start tracking this in #1535

[2017-06-02 15:17] #1361 closed

[2017-06-02 15:19] benhaynes commented on #1535
Doesn't GitHub do this automatically?

https://github.com/directus/directus/releases

https://github.com/directus/directus/archive/6.4.0-beta.3.zip
https://github.com/directus/directus/archive/6.4.0-beta.3.tar.gz
etc...

Do we have this for the `build` branch?

[2017-06-02 15:22] WellingGuzman commented on #1535
oh right, they include the source by default, then we only have to include the `build` version in the release.

We don't do releases on `build` branch.

[2017-06-02 15:22] benhaynes commented on #1535
OK, let's add that to our release workflow!

[2017-06-02 20:11] #1534 closed

[2017-06-03 11:38] rijkvanzanten opened #1537 "create-table endpoint returns success: false when succesful"
## Version Info
  - Directus version BETA
  - PHP version 7.1

## Expected Behavior
`curl -d "name=testing" http://6.4.directus.com/api/1.1/tables -u [user-token]:` to return
[code]

## Actual Behavior
It returns
[code]

## Steps to Reproduce
 1. Create a new table through the api

_note: the table actually does get created, even when the api returns `success: false`_

[2017-06-03 18:45] rijkvanzanten opened #1538 "Default `get items` to return active only"
_Moved over from https://github.com/directus/directus-sdk-javascript/issues/8_

[2017-06-03 18:47] rijkvanzanten opened #1539 "Default sort parameter to ID"
_Moved over from https://github.com/directus/directus-sdk-javascript/issues/8_

[2017-06-04 11:43] rijkvanzanten opened #1540 "Deleting item doesn't refresh view"
## Version Info
  - Directus version and branch: v6.4.0-rc1

## Expected Behavior
Selecting an item and clicking the delete button removes item from view

## Actual Behavior
Item is deleted in DB, but view doesn't refresh. (refreshing the browser shows correct updated data)

## Steps to Reproduce
 1. Select item with the checkmark
 2. Click delete in the top right

[2017-06-04 11:45] rijkvanzanten opened #1541 "Can't delete file in multiple_files"
## Version Info
  - Directus version and branch: Directus version and branch: v6.4.0-rc1

## Expected Behavior
Clicking the ❌  in the bottom right of a photo/file removes the file from the item

## Actual Behavior
Clicking the button doesn't do anything

## Steps to Reproduce
 1. Create table w/ multiple_files interface
 2. Add multiple files to an item
 3. Save
 4. Edit item
 5. Remove one of the

[2017-06-05 23:46] #1537 closed

[2017-06-06 00:03] #1539 closed

[2017-06-06 00:31] benhaynes opened #1542 "Workflow: Not Saving Per Status"
### Saving Normally:
Working. This saves a table's permissions with `NULL` under `status_id` and is the ONLY value for the table/group.

### Saving a Workflow:
Not working. Should save table/group values for EACH status option in the statusMapping and the `NULL` record (for normal/global, see above) should be removed. When viewing the Settings>Groups>Permissions it should have the workflow open by

[2017-06-06 14:11] #1538 closed

[2017-06-06 14:15] WellingGuzman commented on #1541
@rijkvanzanten Does the junction table has status column? can you share schema of the junction table? I couldn't reproduce this issue

[2017-06-06 17:51] #1540 closed

[2017-06-06 18:10] WellingGuzman commented on #1541
I've reproduced this issue on `multiple_files_csv` interface

[2017-06-06 18:27] #1541 closed

[2017-06-07 01:20] #1533 closed

[2017-06-07 07:15] istvano opened #1543 "Users created in admin have no access to API"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests please use the [Directus FeatHub](http://feathub.com/directus/directus) to make a new request or vote for existing ones, or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be

[2017-06-07 07:19] WellingGuzman commented on #1543
Hey @istvano,

If you go to the editing page of the user you changed the token manually, does the token still the same?

Where are you getting the token that's not working from? directly from the database or the cms?

[2017-06-07 07:25] istvano commented on #1543
Hi,

- in the CMS gui the admin user has a token that is 32 chars long
- in the CMS gui when a token is generated for any users I add via the GUI they all have a token of 16 chars long.
- if I click generate token on the CMS page by clicking on generate new. The token will be 16 chars long
- If I manually in the CMS add a token that is 32 chars long I can log in using curl.

I hope I did answer al

[2017-06-07 07:52] istvano commented on #1543
Having had a look at the db it seems that it also stores the token as 16 long string. I am guessnig the bug is somewhere in the token generation code on the frontend.

ps: I have also cleaned the whole db and reinstalled the app. it is still the same.

[2017-06-07 15:00] benhaynes commented on #1528
This is done except for the friendly error, so we're closing this ticket – follow up can be tracked here: https://github.com/directus/directus/issues/1237

[2017-06-07 15:01] WellingGuzman commented on #1528
We now return a more proper way, it's a technical error, but at least it's error that will give an idea what's going on.

We have another ticket dedicated to work on more friendly errors messages here #1237

[2017-06-07 15:01] benhaynes commented on #1237
Just a note reminder that we should try to clean up the "File too large" error at some point

[2017-06-07 15:01] WellingGuzman commented on #1528
It seems @benhaynes closed at the same time I was trying to :)

[2017-06-07 15:01] #1528 closed

[2017-06-07 15:44] benhaynes opened #1544 "Global Filter not working on Item Listing page"
Not processing at all

[2017-06-07 15:48] benhaynes commented on #1544
Also, it's changing the `q` value to "true" when you perform a column filter (in the dropdown)

[2017-06-07 15:55] #1543 closed

[2017-06-07 15:55] WellingGuzman commented on #1543
Hey @istvano, thanks for the information.

I had an idea what this was, just wanted to make sure we were in the same page.

So what happens here, is that the non admin users are forbidden to see their own token, so this make the interface to generate one every time you visit that user editing page, which give the idea of that that's the actual token.

So the bugs goes beyond to everybody hiding th

[2017-06-07 16:51] benhaynes opened #1545 "New User not saving Group"
Saving a new user leaves `group` as `NULL`

[2017-06-07 16:51] benhaynes commented on #1545
And it looks like the "email messages" checkbox is showing a check even when set to `0`

[2017-06-07 17:56] benhaynes opened #1546 "Reorder columns (Item Listing) not working"
It drags (very slow and not always working) but it doesn't update the item listing order

[2017-06-07 18:04] benhaynes opened #1547 "Can't reorder item listing"
Getting this error when dragging the item order (`sort` column). Not sure why it's updating a file when I drag a table item.

[code]

This is the problem with the query:
`Incorrect datetime value: '2017-05-14T13:44:01-04:00' for column 'date_uploaded' at row 1`

BUT, that query shouldn't run on reorder anyway

[2017-06-08 01:49] benhaynes opened #1548 "Error on Settings>Global"
[code]

[2017-06-08 02:17] benhaynes commented on #1544
Yeehaw!

[2017-06-08 02:17] #1544 closed

[2017-06-08 08:20] jroxendal opened #1549 "CORS not longer working"
## Version Info

  - Directus version and branch: (Or commit hash)
a47f66d (version/6.4 branch)
  - PHP version:
  - MySQL version:
  - Web server: (Ex. Apache, nginx or IIS?)
  - OS name and version:
MacOS ElCap

## Expected Behavior
Get CORS headers from the API.

## Actual Behavior
No header: ```Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' he

[2017-06-08 11:49] adakikom opened #1550 "Fatal error: Class 'Twig_Extension' not found in \installation\includes\Extensions\DirectusTwigHelpers.php on line 13"
## Version Info
  - Directus version and branch: aa26545 (Latest version. Just downloaded from web)
  - PHP version: 5.6.25
  - MySQL version: 5.7.14
  - Web server: (Ex. Apache, nginx or IIS?) Apache 2.4.23
  - OS name and version: Windows 10

## Expected Behavior
Normal instalation

## Actual Behavior
Instalation error on first step:
http://localhost/directus/installation/index.php?step=0

## St

[2017-06-08 12:06] vasiliysmirnov commented on #1378
@benhaynes well, if you put some example or default configuration for nginx, that's will be great! :)

[2017-06-08 12:13] dalbinaco commented on #1378
@vasiliysmirnov https://docs.getdirectus.com/6.3.6/#NGINX_Configuration

[2017-06-08 12:16] vasiliysmirnov commented on #1378
@dalbinaco I apologize for my inattention, thank you!

[2017-06-08 12:42] adakikom commented on #1550
Sorry, doing instalation process as described here solved:
https://docs.getdirectus.com/6.3.6/#Installation

[2017-06-08 12:42] #1550 closed

[2017-06-08 14:00] peremp opened #1552 "Saving after"

[2017-06-08 14:00] #1552 closed

[2017-06-08 14:38] rijkvanzanten commented on #1552
Luckily this fixed itself.

[2017-06-08 16:30] WellingGuzman commented on #1549
Thanks for reporting this, I'm going to take a look and send a patch as soon as possible.

[2017-06-08 16:37] #1549 closed

[2017-06-08 16:37] WellingGuzman commented on #1549
Hey @jroxendal, that patch should fix the issue, you should be able to use CORS now.

[2017-06-08 18:04] benhaynes commented on #1548
Better!

[2017-06-08 18:04] #1548 closed

[2017-06-08 20:53] benhaynes commented on #1545
Getting this error when changing NEW user from Admin (default) to a "staff" group:

[code]

[2017-06-08 23:28] benhaynes commented on #1545
All good!

[2017-06-08 23:28] #1545 closed

[2017-06-09 10:34] peremp opened #1553 "Save & stay and M2O/M2M/O2M relationships"
## Scenario ##
Imagine that you have two tables: _cart_ and _food_.
_cart_ table has an **O2M** relationship with food table.

## Steps to Reproduce
 1. Edit an item from _cart_ (/tables/cart/ID).
 2. Add a _food_ item to the _cart_ using the O2M UI.
 3. Click "Save & stay"
 4. Add another _food_ item to the _cart_.
 5. Click "Save".
 6. Open again the _cart_ item where we added the food.

## Expe

[2017-06-09 15:27] benhaynes opened #1554 "Warn user if someone else on same page"
This used to work – not sure when it stopped.

1. User-A goes to Page-1 (Edit Item Detail)
2. User-B goes to Page-1 (same page)
3. Checks to see if any other users are:
    * ONLINE (last_access>NOW-3 minutes)
    * On same page (last_page=this page)
4. If `true`, we show a notification saying:

`Warning: {{FIRST_NAME}} {{LAST_NAME}} is also editing this page, please coordinate with them to ensure

[2017-06-09 16:40] WellingGuzman commented on #1554
This used to work on Directus 5, never on 6.

[2017-06-09 16:42] benhaynes commented on #1554
Ahh, you're right. We'll it should be an easy one for a new dev to implement :)

[2017-06-09 16:47] benhaynes commented on #1546
I can't replicate this – perhaps it was something happening to my specific machine.

[2017-06-09 16:47] #1546 closed

[2017-06-09 21:04] #1547 closed

[2017-06-09 23:16] benhaynes commented on #1553
Hello @peremp – which version of Directus are you using when you get this bug?

[2017-06-10 19:10] rijkvanzanten opened #1557 "Adding file error"
## Version Info
  - Directus version and branch: beta @ version/6.4
  - PHP version: 7.10.0

## Expected Behavior
Selecting file shows preview of the file

## Actual Behavior
Directus throws error

## Steps to Reproduce
 1. Try adding a new file at http://6.4.directus.com/files/new

## Logs or Screenshots
[code]

Also, the UI throws a `Not Found` error when opening the page. It shows `GET http://6

[2017-06-10 20:31] #1557 closed

[2017-06-11 17:31] rijkvanzanten opened #1559 "Re-arranging interfaces throws error"
## Version Info
  - Directus version and branch: beta @ version/6.4 latest
  - PHP version: 7.10.0

## Expected Behavior
Dragging an interface to change the order in `settings/tables/{tablename}` changes order of interfaces

## Actual Behavior
Directus throws `Server Error Undefined index: column`

## Steps to Reproduce
 1. Head to the settings page of a table
 2. Rearrange the interfaces by dragg

[2017-06-11 17:32] rijkvanzanten commented on #1559
Not sure if this is related, but the sort column in `directus_columns` has a value of `9999` for all interfaces

[2017-06-11 17:33] benhaynes commented on #1559
I think that is so any new columns go to the end of the list by default. They should be given an incrementing value from 1 when reordered

[2017-06-11 17:45] rijkvanzanten opened #1560 "Single Item option not being honored 'till refresh"
## Version Info
 - Directus version and branch: beta @ version/6.4 latest

## Expected Behavior
Selecting the `Single Item` option on a table, saving the settings and clicking on the table name in the left column shows the tables interfaces

## Actual Behavior
It renders the list view as if the setting wasn't set

The table works in single item mode after refreshing the page

[2017-06-11 19:05] rijkvanzanten opened #1561 "Adding custom interface breaks new item page"
## Version Info
  - Directus version and branch: beta @ version/6.4 latest

## Expected Behavior
Adding a custom interface (f.e. the rating interface) adds the interface to the item edit / new item view

## Actual Behavior
The new item won't show the page and gets stuck on the `loading data` bar

## Steps to Reproduce
 1. Add custom interface (rating)
 2. Open or refresh the new item view

[2017-06-11 19:08] rijkvanzanten opened #1562 "Alias interface not working"
## Version Info
  - Directus version and branch: beta @ version/6.4 latest

## Expected Behavior
Adding an ALIAS interface to a table does.. something

## Actual Behavior
Directus throws an SQL syntax error

## Steps to Reproduce
 1. Change the settings of a table
 2. Add ALIAS interface

## Logs or Screenshots
[code]

_Note: I have absolutely no clue what this interface is even supposed to do. I'

[2017-06-12 06:31] peremp commented on #1553
6.3.9

[2017-06-12 07:00] peremp opened #1563 "M2M and "Multiple files" fields on item creation"
## Version Info
  - Directus version and branch: 6.3.9

## Steps to Reproduce
 1. Go to any table that has an M2M or Multiple Files field.
 2. Add one or more items to the M2M/MultFiles field using the UI.
 3. Click "Save Item"

## Expected Behavior
The item is created with the items added on step 2.

## Actual Behavior
- A notification with an SQL error appears.
- You are kept in the "Creating ne

[2017-06-12 10:35] peremp opened #1564 "Write a comment inside a table (6.4.0)"
## Version Info
  - Directus version and branch: 6.4

## Steps to Reproduce
 1. Go to any table
 2. Click to edit some item.
 3. Try to leave a comment.

## Expected Behavior
 - The comment is added to the item.

## Actual Behavior
 - The error "There seems to be a problem... Messages (New)  Recipients: The field cannot be empty" appears.

The option to specify "recipients" does not exist on that

[2017-06-12 12:38] peremp commented on #1563
Looks like it is solved in directus 6.4.0. But still, this is a big issue for the 6.3.9.
If you know the reason or in what commit you solved this for 6.4.0, I could do the fix for the 6.3.9.

[2017-06-12 13:28] krishnam09 opened #1565 "O2M - Not able to select more than one related item"
## Version Info
  - Directus version and branch: 6.3.9
  - PHP version: php 7 (As per getdirectus/directus-base-layer:0.0.8)
  - MySQL version: 5.6.19-67.0
  - Web server: Apache
  - OS name and version: Debian - Jessie  (As per getdirectus/directus-base-layer:0.0.8)

## Expected Behavior
Should be able to add multiple items to a parent table

## Actual Behaviour
Part 1 - https://youtu.be/_apJZ7uH

[2017-06-12 14:03] peremp opened #1566 ""Created By" and "Last Modified By" on click error (6.4.0)"
## Version Info
  - Directus version and branch: 6.4.0 latest

## Steps to Reproduce
 1. Create an item
 2. Edit the item
 3. Click on "Unknown User" in the "options" menu (the one on the right)

## Expected Behavior
I don't really know.

## Actual Behavior
- Error: Uncaught TypeError: Cannot read property 'table' of undefined
- File: File: http://localhost/directus/app/core/entries/EntriesModel.j

[2017-06-12 14:58] peremp opened #1567 "WYSIWYG Full not working on relational edits"
## Version Info
  - Directus version and branch: 6.3.9 and 6.4.0

Imagine that we have a table _solutions_, a table _problems_, and a table _use_cases_ as junction table.
The table _solutions_ has a M2M field called "related problems".

## Steps to Reproduce
 1. Create some random problems.
 1. Create a _solution_, and in the "related problems" field choose some of the existing problems created on

[2017-06-12 15:35] peremp opened #1568 "Cannot filter when adding items through M2M/O2M UI (6.4.0)"
## Version Info
  - Directus version and branch: 6.4.0

## Steps to Reproduce
 1. Edit an item that has a M2M/O2M field.
 2. Click on "choose existing"

## Expected Behavior
A list of items appear with the filter form in the header.

## Actual Behavior
A list of items appears without the filter form.
Also if you had an active filter for that table, the list is filtered by that and you cannot remov

[2017-06-12 15:51] benhaynes commented on #1565
Hey @krishnam09 – could you comment on the reason this was closed?

[2017-06-12 15:51] #1565 closed

[2017-06-12 15:56] #1561 closed

[2017-06-12 16:04] krishnam09 commented on #1565
Was using M2M instead of O2M. My bad! Created junction table, it started working now.

[2017-06-12 16:23] #1560 closed

[2017-06-12 16:38] #1564 closed

[2017-06-12 16:39] WellingGuzman commented on #1564
Hey @peremp this [patch](https://github.com/directus/directus/commit/5f8ca101e38e2eb81479ad5eb01c6c71d81fbeeb) should fix this issue

[2017-06-12 16:56] WellingGuzman commented on #1566
Hey @peremp, this commit https://github.com/directus/directus/commit/9c24a129216231c79283ce48f7a6a645e805aab5 should've fix this issue.

Let us know.

[2017-06-12 16:56] #1566 closed

[2017-06-12 17:14] WellingGuzman commented on #1568
Hey @peremp, can you explain a little bit more the sentence below?

[2017-06-12 20:10] WellingGuzman commented on #1568
I figured it out what you meant by the filters.
By default the listing will have the table filtering, but changing this won't reflect the table filters.

[2017-06-12 20:10] #1568 closed

[2017-06-12 20:51] WellingGuzman commented on #1559
Fixed by https://github.com/directus/directus/commit/5cdaf9e93ae8a5e807451a0cc596ee81fd21552b

[2017-06-12 20:51] #1559 closed

[2017-06-13 06:48] peremp commented on #1568
perfect :+1:

[2017-06-13 12:10] JonathanKerwin opened #1570 "WYSIWYG editor add only one image"
## Version Info
  - Directus version and branch: 6.3.9
  - PHP version: 7.0.18
  - MySQL version: MariaDB 10.1.22
  - Web server: Apache 2.4.25
  - OS name and version: Windows server 2012

## Expected Behavior
Add a undefined number of images during edit

## Actual Behavior
Add only one image by edit

## Steps to Reproduce
 1. Create new item at any table with a WYSIWYG component(sql type: Text).

[2017-06-13 17:10] WellingGuzman commented on #1570
Hey @JonathanKerwin thanks for reporting this, but we have some issues working with the current WYSIWYG, so we are getting rid of it for a new one.

@rijkvanzanten do you think we could bring the WYSIWYG from 6.4 to 6.3?

[2017-06-14 02:15] WellingGuzman commented on #1567
Hey @peremp, this was working for me at 6.3.9, can you try to reproduce this issue again?

[2017-06-14 06:39] hiranya-sarma opened #1571 "How to create custom extension"
**Version Info**

Directus version and branch: 6.3.9
PHP version: 5.5.9
MySQL version: 5.5.53
Web server: Apache
OS name and version: Ubuntu 14.10 LTS

**Problem:**
Can you provide step by step guide how to create custom extension,looks like documentation is incomplete.

Also not able to find any core extensions.

[2017-06-14 06:40] peremp commented on #1567
![Image of Yaktocat](http://i.imgur.com/bLQcSnm.jpg)

As you can see in the image, I'm editing an item from a table "solutions". The solution has a M2M field called "Problems".

When I click to a problem from the M2M list, an overlay is opened to edit the problem:

![Image of Yaktocat](http://i.imgur.com/l2grXNe.jpg)

Now, take a look at the field "Description". It should be a WYSIWYG, but it isn'

[2017-06-14 07:44] rijkvanzanten commented on #1570
Yeah, I think that should be doable 🙂

[2017-06-14 07:48] rijkvanzanten commented on #1567
@WellingGuzman Is that a `wysiwyg_full` interface or a regular `wysiwyg`? The regular one is a Medium-style editor which only shows options on text-select

[2017-06-14 08:38] peremp opened #1572 "New bug created on commit "remove model.diff from X2M edit (Ref #1567)""
Looks like this commit introduced a couple of bugs for M2M fields.

## Steps to reproduce bug 1
1. Edit some item that has an M2M field.
2. Click on "Choose existing".
3. Select some items.
4. Click "Choose" button.

**Expected**: The items are added.
**Current**: Error: Uncaught TypeError: Cannot read property 'get' of undefined. File: http://localhost/directus/app/core/entries/EntriesJunctionCol

[2017-06-14 08:59] peremp opened #1573 "M2M field: Cannot save when using "Add new item" button (6.4.0)"
Directus version: 6.4.0 commit d4014f0
This can't be reproduced on last commit e98001a because of this: https://github.com/directus/directus/issues/1572

## Steps to Reproduce
 1. Edit some item that has an M2M field.
 2. Click on "Add new item".
 3. (overlay) Create the item and click "save"
 4. The new item appears on the M2M list.
 5. Click "save"

**Expected:**
The item is saved correctly.
The

[2017-06-14 09:45] wittwerch opened #1574 "User interface only translated but not localized"
## Version Info
  - Directus version and branch: version/6.4 / e98001a7f3c3365d119401eb017480f0a6eb185e
  - PHP version: 7.1.5
  - MySQL version: 5.7
  - Web server: (Ex. Apache, nginx or IIS?) Apache
  - OS name and version: Offical docker image of Directus

## Expected Behavior
Directus allows the user to change the user interface to German. In that case not only the interface is translated but

[2017-06-14 10:47] jroxendal opened #1575 "API calls running slow (~4 seconds)"
## Version Info
  - Directus version and branch: version/6.4 e98001a7
  - PHP version: 5.6.23
  - MySQL version: Ver 15.1 Distrib 10.0.23-MariaDB
  - Web server: (Ex. Apache, nginx or IIS?) Apache

## Expected Behavior
Since the underlying SQL query only takes milliseconds, I'd expect to see the resulting JSON from the `/rows` endpoint equally fast.

## Actual Behavior
`/rows` takes about 4 second

[2017-06-14 11:10] benhaynes commented on #1567
@rijkvanzanten Those screenshots are 6.3.x, so this is the legacy WYSIWYG...

[2017-06-14 11:33] rijkvanzanten commented on #1567
@benhaynes I believe @WellingGuzman's screenshot is from 6.4 (notice the grey background) ☺️

[2017-06-14 14:56] WellingGuzman commented on #1575
Hey @jroxendal,

Thanks for reporting this, can you share an example schema to reproduce this?

[2017-06-14 15:27] peremp commented on #1567
Screenshots are from 6.3.9.
But it also happens on 6.4.0 with a regular wysiwyg (Does not shows options on text-select)

[2017-06-14 16:11] #1572 closed

[2017-06-14 16:15] WellingGuzman commented on #1573
Fixed by 281c763ade97153796512b1ab3f02013761e8154

[2017-06-14 16:15] #1573 closed

[2017-06-14 16:17] WellingGuzman commented on #1574
Thanks @wittwerch, we need help to translate it to some languages.

Any help is welcome.

[2017-06-14 16:45] WellingGuzman commented on #1567
@peremp is there any logs in dev tools console?

[2017-06-14 21:51] #1553 closed

[2017-06-15 06:07] wittwerch commented on #1574
I'm not talking about translations, that is fine. It's about the locale used in the frontend. It looks like it is currently hardcoded to english?
https://github.com/directus/directus/blob/master/app/main.js#L37

Changing the locale is important because date and time is formatted really different depending on your country/language. Checkout https://momentjs.com/ and the "Multiple Locale Support" se

[2017-06-15 07:25] wittwerch opened #1576 "Sending a message fails"
## Version Info
  - Directus version and branch: 0aefd193d0316eca87412dd3c15ec113e9c1b281
  - PHP version: 7.1
  - MySQL version: 5.7
  - Web server: (Ex. Apache, nginx or IIS?) Apache
  - OS name and version: Docker

## Expected Behavior
Message is sent to administrator users

## Actual Behavior
Error is thrown

## Steps to Reproduce
 1. Go to messages
 2. File out the form
 3. Click on send

##

[2017-06-15 07:31] wittwerch opened #1577 "Editing a file throws an error"
## Version Info
  - Directus version and branch: 0aefd193d0316eca87412dd3c15ec113e9c1b281
  - PHP version: 7.1
  - MySQL version: 5.7
  - Web server: (Ex. Apache, nginx or IIS?) Apache
  - OS name and version: Docker

## Actual Behavior
Browsing an image throws an error.

Clicking on "Delete": nothing happens, no error
Clicking on "Save": error message => "Data: The field cannot be empty"

## Step

[2017-06-15 07:41] wittwerch opened #1578 "Adding a new group fails"
## Version Info
  - Directus version and branch: 0aefd193d0316eca87412dd3c15ec113e9c1b281
  - PHP version: 7.1
  - MySQL version: 5.7
  - Web server: (Ex. Apache, nginx or IIS?) Apache
  - OS name and version: Docker

## Steps to Reproduce
1. "Settings" - "Group Permissions"
1. Add a new group, enter a name
1. Click on "Ok"
1. Error message appears and group is not saved

![screen shot 2017-06-15

[2017-06-15 07:45] wittwerch opened #1579 "Updating my profile requires to set a password"
## Version Info
  - Directus version and branch: 0aefd193d0316eca87412dd3c15ec113e9c1b281
  - PHP version: 7.1
  - MySQL version: 5.7
  - Web server: (Ex. Apache, nginx or IIS?) Apache
  - OS name and version: Docker

## Expected Behavior
I would expect that I can simply change the timezone of my profile.

## Actual Behavior
I have to enter the password again.

![screen shot 2017-06-15 at 09 44 44

[2017-06-15 08:17] peremp opened #1580 "Cannot create users (6.4.0)"
## Version Info
  - Directus version and branch: 6.4 latest

## Steps to Reproduce
 1. Go to "settings/permissions" and select a group.
 2. Create a new user.
 3. Save.

## Expected Behavior
The user is created.

## Actual Behavior
The user is not created.

[2017-06-15 08:34] #1578 closed

[2017-06-15 08:34] #1579 closed

[2017-06-15 08:34] #1576 closed

[2017-06-15 08:42] WellingGuzman commented on #1577
Hey @wittwerch, also I'm curious about that error below in the screenshot? what did you click that it throws that error?

[2017-06-15 08:48] wittwerch commented on #1577
The error appeared once I navigate to the detail view: http://127.0.0.1:8020/files/1
Now upgraded to b38906b9de9b6916888938e262acf12ee7649888 and error doesn't appear anymore.

However clicking on "Save" still throws an error: "Data: The field cannot be empty".

[2017-06-15 10:09] peremp opened #1581 "Cannot reorder fields or change "required/visible" columns on settings/tables"
## Version Info
  - Directus version and branch: 6.4.0

## Steps to Reproduce (reorder)
 1. Go to 'settings/tables' and edit some table.
 2. Drag and drop a field to reorder

**Expected**
The field is reordered.

**Current**
An error appears: This query failed: INSERT INTO `directus_columns` (`id`, `column_name`, `sort`, `table_name`, `required`, `ui`, `hidden_list`, `hidden_input`, `comment`, `re

[2017-06-15 13:11] benhaynes commented on #1574
Hey @wittwerch – I believe what Welling was saying is that we are pretty swamped with updates/fixes for the upcoming release of 6.4. So for issues like this (especially if they need to be resolved soon) we would be looking for contributors to help out if possible – otherwise it may take a while for us to get to them.

Obviously a simple translation isn't enough, someone would need to get into the

[2017-06-15 16:42] benhaynes opened #1582 "Reverse Settings>Tables>Columns click"
Clicking on the Column Name should open the column settings modal

Clicking on the User Interface should open the interface options modal

Right now it's backwards

[2017-06-15 23:18] #1577 closed

[2017-06-15 23:25] benhaynes commented on #1582
Both are opening the options pane... the left (Column Name) should open the "Column Options" pane.

[2017-06-16 00:00] benhaynes commented on #1582
All set!

[2017-06-16 00:00] #1582 closed

[2017-06-16 00:09] benhaynes commented on #1567
@peremp – or you can send us a SQL dump with any private info removed. This is the best way to help us replicate it. Thank you!

[2017-06-16 00:17] JREAM opened #1583 "Suggestion: UI Improvement w/User Image"
## Version Info
  - Directus 6.4
  - PHP version: 7.0
  - MySQL version: Percona 5.7.18
  - Web server: Apache 2.4
  - OS name and version: Ubuntu 16.10 x64 w/Gnome

## Expected Behavior

## Actual Behavior

## Steps to Reproduce
 1. Add your photo (Do not Save)
 2. Click Upload (Doesn't do anything), perhaps it should be disabled until the photo is removed?
Also, Click "From Directus" with your i

[2017-06-16 00:19] benhaynes commented on #1562
We should have an alias DATATYPE... but I don't think we need an alias INTERFACE. Let's remove it and see if any havoc is caused! 🔥

[2017-06-16 00:22] WellingGuzman commented on #1562
Removed by https://github.com/directus/directus/commit/bfffd64f328b345fb79b381ef1899e232a96efb3

[2017-06-16 00:22] #1562 closed

[2017-06-16 00:33] benhaynes commented on #1583
Different version (luckily!)
We can re-open if this is a problem on 6.4 too...

[2017-06-16 00:33] #1583 closed

[2017-06-16 02:08] #1580 closed

[2017-06-16 06:26] wittwerch opened #1584 "Interface options for for WYSIWYG Full can't be saved"
## Version Info
  - Directus version and branch: ba808c0af54f3be33db01d0ed5534e36441c580b
  - PHP version: 7.1
  - MySQL version: 5.7
  - Web server: (Ex. Apache, nginx or IIS?) Apache
  - OS name and version: Docker

## Steps to Reproduce
1. Add a "WYSIWYG Full" field to a table
2. Go the the Interface Options
3. Unselect "Tables", "Image", "Insert Media"
4. Click on Save

## Logs or Screenshots

[2017-06-16 13:10] benhaynes commented on #1584
I've experienced this too – @rijkvanzanten, I know we spoke about this... what were your thoughts?

[2017-06-16 13:36] benhaynes commented on #1581
I am still getting this error when re-ordering columns within Settings:

[code]

[2017-06-16 15:32] Radiergummi opened #1585 "Update hook fired instead of delete"
## Version Info
  - Directus version and branch: (Or commit hash)
  - PHP version: 7.0.8
  - MySQL version: 14.14 5.5.54
  - Web server: nginx 1.10.3
  - OS name and version: Debian 8

## Expected Behavior
- `Table.update:after` fires when records in tables have their field values changed
- `Table.delete:after` fires when records from tables are being deleted

## Actual Behavior
- `Table.update:af

[2017-06-16 15:57] benhaynes commented on #1585
My assumption here is that you're using the status column and this is a "soft-delete"... is that correct? In that case I understand that this would _technically_ be an update... though the system should treat it as a delete.

[2017-06-16 16:06] benhaynes commented on #1581
👻  this phantom bug has somehow fixed itself. I will re-open if it's reproducible

[2017-06-16 16:06] #1581 closed

[2017-06-16 16:06] rijkvanzanten commented on #1584
It's a 🐛 which is going to 💥!

[2017-06-16 16:08] benhaynes commented on #1584
Is it for you or @WellingGuzman?

[2017-06-16 16:09] rijkvanzanten commented on #1584
I'll handle it tonight / tomorrow morning (CEST) 👍

[2017-06-16 16:31] WellingGuzman commented on #1585
Yeah, that must be a `soft-delete`, deleting a item with status column will trigger the `update`.

As ben said it should be treated as delete at least on events, but maybe with a flag that was a soft delete?

Let's discuss a proper solution for this one.

[2017-06-16 16:37] WellingGuzman commented on #1584
I can take care of @rijkvanzanten, it seems you shouldn't validate fields with `default_value`

[2017-06-16 16:40] benhaynes commented on #1458
Hey @studiovlijmscherp – apologies for the late response here. We have been _very_ busy getting ready for the release of 6.4.

Your schema printout is helpful, but could you please send the SQL you're using to help us save time? That also helps because it ensures we're seeing the same thing (no slight differences in column/interface setup).

More importantly, could you please try this same schema/

[2017-06-16 16:43] WellingGuzman commented on #1584
Hey @wittwerch, let us know if this [commit](https://github.com/directus/directus/commit/807d469c0fc1ed6ad5b27143a5ff68f1ec9cd35c) solves the problem for you too.

[2017-06-16 17:09] rijkvanzanten commented on #1584
Ah, great!

[2017-06-16 17:11] benhaynes commented on #1584
I'm getting this error after saving:

[code]

[2017-06-16 17:47] Radiergummi commented on #1585
Yep, `soft-delete`. (*On a sidenote, a big thumbs up to you guys for being so quick to answer*)

[2017-06-16 19:29] rijkvanzanten commented on #1584
@benhaynes I'm not able to reproduce this issue.. What steps did you take to get this?

The value of the select gets split on the set delimiter. If the value isn't set it defaults to an empty string (which can be split) so not sure why you are getting this.

[2017-06-16 19:32] WellingGuzman commented on #1584
I think @benhaynes may be getting a value that's not a string.

[2017-06-16 19:36] rijkvanzanten commented on #1584
@WellingGuzman How could that be possible from an `input[type="text"]`? I could implement a check nonetheless, but this issue can than also arise in other interfaces..

[2017-06-16 19:39] WellingGuzman commented on #1584
@rijkvanzanten I'm guessing, that's seem to be the only reason that it doesn't have split, and remember that `this.options.value` doesn't not come directly from `input` but rather from the model.

I know you will get it I just wanted to give some ideas :)

[2017-06-16 20:23] benhaynes commented on #1584
Haha, I have no idea how I got it... but it's gone now. I think I have a magical cache that refuses to be completely cleared despite my best efforts. Working perfectly now!

[2017-06-16 20:23] #1584 closed

[2017-06-16 20:57] WellingGuzman commented on #1493
I found out that this seems to only happening when trying to open a modal window.
Somehow the container of the modal gets removed from the DOM which prevent modals from being opened.

How this container gets removed, that's what we need to find out.

[2017-06-17 00:41] benhaynes commented on #1242
One of the major updates in 6.4 is the new WYSIWYG editors. We have an Inline version (based on Medium) and an full-featured version (TinyMCE). We are abandoning the existing custom version in favor of these new options – although it could easily be migrated to 6.4 if you want to continue using it.

We will continue to evolve these editors, but the hard part has been done.

A big thank you to @rij

[2017-06-17 00:41] #1242 closed

[2017-06-17 06:28] WellingGuzman commented on #1493
When we open a overlay page we insert another view into the main content section, which put the parent view on insert mode, which deletes every child that has been rendered and does not has the `keep` flag set to `true` every time its parent render.

[2017-06-17 06:28] #1493 closed

[2017-06-17 13:13] benhaynes commented on #1585
Thanks! I like the idea of `purge` instead of making an assumption about which event was intended for soft-delete. What do you think @WellingGuzman?

[2017-06-17 14:45] rijkvanzanten opened #1588 "Clicking save on table settings throws error"
## Version Info
  - Directus version and branch: beta latest
  - PHP version: 7.1.0

## Expected Behavior
Clicking save saves the values and returns to previous setting page

## Actual Behavior
Throws error:
[code]

## Steps to Reproduce
 1. Edit columns of a table
 2. Hit save

[2017-06-17 15:00] benhaynes commented on #1340
OK, all of these have been updated (title and datatype)... if we find more we should add them

[2017-06-17 15:00] #1340 closed

[2017-06-17 15:41] benhaynes commented on #1265
We can close this – it was more of a placeholder. The only outstanding items here are:

* `dropdown_relational`
* `multiselect_dropdown_relational`
* `multiselect_list_relational`
* `select_list_relational`

But I've added those to ToDoist for internal tracking with @rijkvanzanten

Obviously, anyone who wants to submit an Interface can still do so even though this ticket is closed!

[2017-06-17 15:41] #1265 closed

[2017-06-17 15:43] benhaynes commented on #1331
Can we test this in 6.4 to see if it's still occurring? If not we can close...

[2017-06-17 15:45] benhaynes commented on #1359
@jhyle – can you add a schema here (on PM us in Slack) so we can reproduce?

@rijkvanzanten – can you see if this is happening for you in the Interface Gallery?

[2017-06-17 19:02] #1588 closed

[2017-06-17 19:30] benhaynes opened #1590 "Missing Interface Fallback"
We need to fall back to the default for missing interface IDs (checkbox -> toggle) based on the datatype. Also, we should display a notification:

`You are missing the interface: "checkbox"`

[2017-06-17 19:59] benhaynes opened #1592 "Order not shown in Multiple Files"
It's saving correctly but not showing in the interface in the correct order

[2017-06-17 20:02] benhaynes commented on #1563
So much changed in 6.4 (code-wise) it may be difficult to find this difference. @peremp – have you been able to find any differences?

[2017-06-17 20:33] benhaynes commented on #1373
I understand the concern here, some responses/thoughts:

1. "No fixed branding or styling" – this means that the Directus framework is not heavily styled with a proprietary design. It is minimal and brand agnostic, using desaturated colors except for color callouts as needed (red = serious, yellow = important, blue = CTA, etc). Other than a very small "Powered by Directus" on the login page (that

[2017-06-17 20:33] #1373 closed

[2017-06-17 21:42] benhaynes commented on #1236
This is no longer an issue with 6.4. Edit interfaces are no longer within this (overflow:hidden) card view – now they simply exist on the page without bounds.

[2017-06-17 21:42] #1236 closed

[2017-06-17 22:20] nathanaelphilip opened #1595 "Fatal Error: Class "Twig Extension" not found"
## Version Info
  - Directus version and branch: 6.3.9 / master
  - PHP version: 7.1
  - MySQL version: 5.6
  - Web server: Apache
  - OS name and version: MacOS

## Expected Behavior
Trying to get to installation screen

## Actual Behavior
Received this: Fatal error: Class 'Twig_Extension' not found in /app/installation/includes/Extensions/DirectusTwigHelpers.php on line 12

## Steps to Reproduce

[2017-06-17 23:04] WellingGuzman commented on #1595
Hey @nathanaelphilip, you have to install the composer dependencies by running `composer install`, if you don't want or can't run `composer` use the `build` branch.

[2017-06-17 23:04] #1595 closed

[2017-06-17 23:06] WellingGuzman commented on #1595
We are going to make these steps clear on the documentation soon.

[2017-06-17 23:17] nathanaelphilip commented on #1595
hi, i did run that:

[code]

[2017-06-17 23:17] nathanaelphilip commented on #1595
I’m using my global version of composer to do the install – would that make a difference?

[2017-06-17 23:18] nathanaelphilip commented on #1595
i see the Twig directory in the `vendor` directory:

![screen shot 2017-06-17 at 7 17 59 pm](https://user-images.githubusercontent.com/380034/27256889-b431d292-5391-11e7-90a5-613d82aaea43.png)

[2017-06-17 23:21] WellingGuzman commented on #1595
And still happening? Do you have any full php logs?

[2017-06-17 23:27] nathanaelphilip commented on #1595
Yep, still happening. The logs just show the error above. I just ran `class HELLO extends Twig_Extension{}` right after the `require $vendorAutoload` in `installation/boostrap.php` and it’s still throwing the error. It’s like it’s not getting loaded at all.

i am using `nanobox.io`, which runs it in a VM, but it’s no different than using Vagrant – i believe.

[2017-06-17 23:37] WellingGuzman commented on #592
We prevent initial sorting, as the api returns the values sorted. we may need to prevent sorting from fetch. that's a topic for future release where we are really going to focus on performance.

Closing it, and this should take place in another ticket.

[2017-06-17 23:37] #592 closed

[2017-06-17 23:49] #1592 closed

[2017-06-18 00:02] benhaynes commented on #1375
Thank you for this contribution @the0neyouseek – the scroll issue is actually part of the external library (because we can't set the offset parent as a parameter). So there's no reason to keep this open – and it's not a huge bug (just weird scrolling if it's open).

I'll close this, and we can revisit if anything else comes up!

We really appreciate the help – these interfaces look great!

[2017-06-18 00:02] #1375 closed

[2017-06-18 03:03] #1294 closed

[2017-06-18 13:09] Radiergummi commented on #1585
On the other hand, I just thought it might make more sense to introduce an event called `Table.trash` for soft-deletes, preserving delete for real deletions. Would be more CRUD-like, too.

[2017-06-18 15:50] WellingGuzman commented on #1585
I do like the event name `trash`, to me makes more sense than `purge`, what do you think @benhaynes?

[2017-06-18 16:13] benhaynes commented on #1585
Hmm, Purge is more of an event/action... Trash is more of a noun. I say Purge

[2017-06-18 16:18] WellingGuzman commented on #1585
I was thinking the grammar will bite me, any word that resembles more trashing event? otherwise done deal! 🔨

[2017-06-18 16:44] Radiergummi commented on #1585
Well, according to [Urban Dictionary](http://www.urbandictionary.com/define.php?term=Thrashing), trash can be used as a verb 🙃 (Maybe the context there might be slightly different)

[2017-06-18 20:04] WellingGuzman commented on #1590
This will throw lots of interfaces warning if there's a lot missing.

Probably we should alert once per app instantiate? and flag any interface that has been warning until the page is refreshed again?

I will close this as the fallback works, otherwise we will continue discussing how this warning should be treated.

[2017-06-18 20:04] #1590 closed

[2017-06-19 04:27] WellingGuzman commented on #1595
I've never used nanobox, but I don't think this would make any difference in loading the autoloader.

What's the setup of your nanobox?

[2017-06-19 05:01] wittwerch commented on #1585
For me personally having a flag on the delete event would be the obvious option.

Soft Delete = delete
Hard Delete = purge

That would mean on a table without soft delete the events fired would be: create/read/update/purge. That's weird.. :)
So I think we either find a good verb for soft-deletion, so that we can use the _delete_ verb for hard deletes, or we should stick to a flag.

[2017-06-19 11:57] nathanaelphilip commented on #1595
here’s my boxfile.yml:

[code]

and my root directory:

![screen shot 2017-06-19 at 7 57 20 am](https://user-images.githubusercontent.com/380034/27284022-f755e48a-54c4-11e7-948a-1ecd9ad1d26a.png)

[2017-06-19 12:37] jksimoniii commented on #1595
@nathanaelphilip

Twig [1.x](https://twig.sensiolabs.org/doc/1.x/intro.html) does not claim support for PHP 7+ while Twig [2.x](https://twig.sensiolabs.org/doc/2.x/intro.html) requires PHP  >= 7.0.0.

I would suspect this as the issue.  You could bump `twig/twig` dependency in `composer.json` to `2.x` to see if it gets rid of that error.

But, it would probably be safer to not run on PHP 7 without

[2017-06-19 12:51] nathanaelphilip commented on #1595
@jksimoniii i’ll try that. thank you kind stranger.

[2017-06-19 12:54] nathanaelphilip commented on #1595
@jksimoniii i updated to 2.x and ran `composer update`, but i still get the same error. i’m going to see if other classes are able to load.

[2017-06-19 14:33] peremp opened #1598 "Undefined index status on junction tables"
- Directus version and branch: latest

## Steps to Reproduce
 1. Create a table "problems", a table "solutions" and a table "use_cases".
 2. Add a "title" field to the 3 tables.
 3. Add a "System>status" field to the 3 tables.
 4. Add "solution_id" and "problem_id" to "use_cases".
 5. Create the M2M field on both, "problems" and "solutions" using "use_cases" as junction.
 6. Create a Problem item

[2017-06-19 20:21] #1598 closed

[2017-06-19 23:40] benhaynes opened #1599 ""Nothing changed, nothing saved" Multiple Files Re-order"
Going to a edit page and and changing the order in a Multiple Files interface (and then saving) is showing:

`Warning: Nothing changed, nothing saved`

Obviously we need to track these re-orders as a change. Even if you change something else so that is doesn't give the warning... the new order is NOT saved.

[2017-06-19 23:50] WellingGuzman commented on #1599
True, I will remove that flag now, we do not have the relational changes that sophisticated, to know when the order changes, don't know if you want to close it or let it open until we manage to get this to the proper solution, or move it to unsaved changes ticket (#1476).

[2017-06-19 23:55] benhaynes opened #1600 "M2M "Choose" Overlay"
When clicking "Choose" on Multiple Files interface:

* We need the info button (disabled) for spacing
* We need to remove that right-sidebar space if the sidebar is not used/open
* Clicking the column headers to sort isn't working

<img width="1055" alt="screen shot 2017-06-19 at 7 45 59 pm" src="https://user-images.githubusercontent.com/522079/27310548-02fde382-5529-11e7-9397-adedcac42737.png">

[2017-06-20 00:03] benhaynes commented on #1599
OK, let me know when I can test re-order/save for those...

[2017-06-20 04:59] WellingGuzman commented on #1599
It should be working now!

[2017-06-20 07:21] mycaravam opened #1601 "Import existing tables with Foreign Keys"
**Problem**: I have two tables i imported into directus DB - `clientes` and `images`. There is a Constraint like `ALTER TABLE images
ADD CONSTRAINT images_ibfk_1 FOREIGN KEY (client_id) REFERENCES clients (id) ON DELETE CASCADE ON UPDATE CASCADE`

**Question**: Is there a way to display this relation with dropdowns like phpmyadmin?

![bildschirmfoto vom 2017-06-20 09 16 55](https://user-images.git

[2017-06-20 10:31] peremp opened #1603 ""Choose existing" (M2M) throws an SQL error when the related table has a gallery"
## Version Info
  - Directus version and branch: 6.4 latest

## Preparation
 1. Install Directus 6.4
 2. Import the SQL to the DB to create all the tables/relations needed to reproduce the bug: [Download SQL](https://drive.google.com/file/d/0B0sF62qJHeE5dS03QVlBcXdRT2s/view)

## Steps to Reproduce
 1.  Create a "Solution" with a Title & Image.
 2.  Create a "Problem" with a title, and use the "Cho

[2017-06-20 14:18] benhaynes opened #1604 "New Item Info Button"
We should disable the info button (in header) when creating NEW items. But we need to then show the Status column (if it exists) in the main content area (first).

[2017-06-20 14:18] benhaynes commented on #1604
We can wait until after release for this – it is NOT super important.

[2017-06-20 14:27] benhaynes commented on #1599
THIS works (though there are other issues with this interface still, in other tickets)

[2017-06-20 14:27] #1599 closed

[2017-06-20 14:28] benhaynes commented on #1601
Thanks @mycaravam – we're super busy (internally) with the 6.4 release right now but will get to this as soon as we have time!

[2017-06-20 14:40] benhaynes opened #1606 "Filtering Users"
When filtering users, the global search input loses focus after processing. We fixed this on the normal Item Listing page... but we need to fix it on Users/Files too.

This is NOT a priority.

[2017-06-20 14:42] benhaynes opened #1607 "Invite User not working"
Settings>Groups>Invite User is throwing this error:

[code]

[2017-06-20 14:47] benhaynes commented on #1600
This Right Sidebar spacing issue is also happening on Settings>Groups too... again, it's based on previous page settings. **This class (`body.right-sidebar-open-wide`) needs to be reset on EVERY page load to avoid this – the class should be added if the sidebar is open, and removed if it is closed.**

[2017-06-20 14:55] peremp opened #1608 "Can't remove M2M related items if "status" column does not exist on the junction table"
## Version Info
  - Directus version and branch: 6.4.0 latest

## Steps to Reproduce
 1. Create a table "solutions", "problems" and "use_cases"
 2. Add numeric fields "solution_id" and "problem_id" to "use_cases"
 3. Add a M2M field into solutions, using "use_cases" as junction, and "problems" as right table.
 4. Create some random problems.
 5. Create a solution and SAVE.
 6. Edit the solution an

[2017-06-20 14:55] benhaynes opened #1609 "Clicking User Interface should open correct modal tab"
This was working, now it is not.

Settings>Columns – clicking on the column name should open the column tab (correct)
Settings>Columns – clicking on the interface name should open the interface options tab (**Does not work**)

[2017-06-20 14:57] benhaynes commented on #1608
We should not require the `status` column on junction tables – in fact, we should not even use them on junction tables... we should ALWAYS plan on hard-deleting junctions to avoid confusion.

[2017-06-20 15:06] peremp opened #1610 "error with "save and stay" on item creation"
## Version Info
  - Directus version and branch: 6.4.0

## Steps to Reproduce
 1. Create a new item on any table
 2. Click on "save and stay" instead of "save"

## Expected
Item is created and user is not moved from the page.

## Current
Item is created, but the user is redirected to /tables

File: app/modules/tables/views/EditView.js
Line: 158

[code]

model.get('id') returns 'undefined' and the

[2017-06-20 15:09] peremp commented on #1608
Not agree at all... sometimes the status column is useful on junction tables

[2017-06-20 15:12] benhaynes commented on #1608
You don't think that could get extremely confusing?

**This Item**: Published
**Junction Table**: Draft
**Related Item**: Under-Review

How do we represent this in the M2M Interface? Is it `draft` or `under-review`?

[2017-06-20 15:13] peremp commented on #1567
I'll try to recreate the scenario and send you the SQL.

[2017-06-20 15:17] peremp commented on #1563
No sorry :-(!
And tbh my focus is the migration from 6.3.9 to 6.4.0

[2017-06-20 15:19] benhaynes commented on #1563
That's OK, we appreciate the testing either way! We'll get everything fixed, just might take a little time. Thanks and let us know if you run into any migration issues...

[2017-06-20 15:27] peremp commented on #1608
Imagine something like this:

**Problem** (this item): How to learn french (published)
**Solution** (related item): Duolingo (published)
**Use case** (junction table): How to learn french - Duolingo (draft)

The problem, how to learn french, can have X solutions.
The solution, Duolingo, can solve X problems.

If a web visitor suggest a new solution for the problem (a new use case), the draft statu

[2017-06-20 15:33] benhaynes commented on #1608
That use case makes sense... but the interface in Directus needs a way to show the status of TWO things then: the related item and the junction relationship. So for now this needs to be figured out at the design-level.

[2017-06-21 06:29] WellingGuzman commented on #1603
Hey @peremp pull the latest commit and see if it was solve, I was working with O2M earlier today, so probably this was fixed along the way.

[2017-06-21 06:40] WellingGuzman commented on #1604
If we disable the button and the user has a small resolution (<1200) it would hide the right pane, and unable to change the status value.

[2017-06-21 06:42] WellingGuzman commented on #1607
Fixed by https://github.com/directus/directus/commit/3aea287ba49439669a61ab6737062a7699681dd7

[2017-06-21 06:42] #1607 closed

[2017-06-21 06:52] peremp commented on #1567
Install directus, then load this SQL: https://drive.google.com/open?id=0B0sF62qJHeE5YWEzWUJSMjJNUmc

Then, do exactly this:
1. Go to problems.
2. Edit "problem 1"
3. Click on the related solution "Solution 2" to edit it through the overlay.
4. select some text on the "Solution > description" textarea to see that the WYSIWYG is not loaded.
5. Change the title to "Solution 2 mod".
6. Save (the solut

[2017-06-21 06:52] #1609 closed

[2017-06-21 07:07] #1610 closed

[2017-06-21 07:11] peremp commented on #1603
This still happens.
Note that this only happens on creation. Later on edition you can add related solutions with images and works fine.

[2017-06-21 07:20] #1608 closed

[2017-06-21 07:21] WellingGuzman commented on #1608
Can keep the conversation going 👍

[2017-06-21 07:22] WellingGuzman commented on #1603
can you drag and drop the file here or send me a PM on slack?

[2017-06-21 07:33] peremp commented on #1603
Ok, lets continue on slack :)

[2017-06-21 08:08] rijkvanzanten opened #1611 "directus_tables_delete_value_comment not localized"
## Version Info
  - Directus version and branch: 6.4.0

## Expected Behavior
Status interface settings modal shows instructions on the `Delete Value` option

## Actual Behavior
Status interface settings modal shows `directus_tables_delete_value_comment`

## Steps to Reproduce
 1. Alter the settings of the status interface in table settings

<img width="460" alt="screen shot 2017-06-21 at 10 05 01"

[2017-06-21 12:31] peremp opened #1612 "Add a "blocker" during processing times"
## Version Info
  - Directus version and branch: 6.4.0 latest

Would be nice to have a "blocker" during processing times like we have in Directus 6.3.9.

The blocker gives feedback to the users and it also prevents them from unintended actions that could cause unexpected errors (like duplicated items).

[2017-06-21 14:15] benhaynes commented on #1604
We would ONLY hide this button for NEW items. And we would force the status interface in the main content area (the sidebar would never be shown on NEW items because there is no useful info there except Status).

[2017-06-21 17:48] WellingGuzman commented on #1604
Oh sorry I completely misunderstood this, I thought you meant show it on the right pane.

All good!

[2017-06-21 20:19] #1604 closed

[2017-06-21 20:43] WellingGuzman commented on #1476
This has been implemented now, the issue now is that some interfaces mark changes incorrectly or set values by default which make it weird when you just enter into a new item and just leave the page right after.

Ex: Creating new users, the first option is set by default because it can set any null values.

Which bring to another question, should we let the user group be default to null? and let t

[2017-06-21 22:35] nathanaelphilip commented on #1595
i was missing some php extensions for my nanobox setup:
this is what I’m using, incase anyone else needs it.
[code]

[2017-06-22 06:11] krishnam09 opened #1613 "Not able to upload image - Issue with thumbnail generation"
Version Info:
Directus version and branch: 6.3.9
PHP version: php 7 (As per getdirectus/directus-base-layer:0.0.8)
MySQL version: 5.6.19-67.0
Web server: Apache
OS name and version: Debian - Jessie (As per getdirectus/directus-base-layer:0.0.8)

**Error Log below:**
[Thu Jun 22 11:34:00.718717 2017] [php7:error] [pid 2812] [client 10.14.113.40:65056] PHP Fatal error:  Allowed memory size of 134217

[2017-06-22 09:02] wittwerch opened #1614 "Redesign password lost functionality"
## Version Info
  - Directus version and branch: 1283092fde80bf9238244aa98109f63e86155804
  - PHP version: 7.1
  - MySQL version: 5.7
  - Web server: Apache
  - OS name and version: Docker

## Expected Behavior
As a user I expect a "password lost" link under the login button. Placing it under the login button is kind of a standard.

## Actual Behavior
The "password lost" link is placed inside the

[2017-06-23 07:23] peremp opened #1618 "Problems when adding a new column "Misc > User" or "System > User created""
## Version Info
  - Directus version and branch: 6.4.0 latest

## Steps to Reproduce
 1. Go to /settings/tables/_tableName_
 2. Click on "Add a new column"

## Problems
- The "User interface" dropdown has a duplicated "Misc > User":
-- The first option has set the value to "directus_user" and it throws an SQL error when trying to "save".
-- The second one has set the value to "user". It can be sav

[2017-06-23 08:32] wittwerch opened #1619 "Make token field optional for new users"
## Version Info
  - Directus version and branch: 61e0e0268f646e5879c48296b80625cc7fe3a10b
  - PHP version: 7.1
  - MySQL version: 5.7
  - Web server: Apache
  - OS name and version: Docker

## Expected Behavior
Create a user and set the firstname, lastname, email and a password

## Actual Behavior
The dialog requires you to set a token. We have a lot of users that will never use that token, si I t

[2017-06-23 08:40] wittwerch opened #1620 "Mention a user in a comment"
## Version Info
  - Directus version and branch: 61e0e0268f646e5879c48296b80625cc7fe3a10b
  - PHP version: 7.1
  - MySQL version: 5.7
  - Web server: Apache
  - OS name and version: Docker

## Expected Behavior
Typing the at-symbol to get a list of users like on Github..

## Actual Behavior
Start typing
![screen shot 2017-06-23 at 10 37 09](https://user-images.githubusercontent.com/1575445/2747358

[2017-06-23 08:44] wittwerch opened #1621 "Allow line breaks in a comment"
## Version Info
  - Directus version and branch: 61e0e0268f646e5879c48296b80625cc7fe3a10b
  - PHP version: 7.1
  - MySQL version: 5.7
  - Web server: Apache
  - OS name and version: Docker

## Expected Behavior
As a user I can enter a longer comment and structure it with link breaks for readability.

## Actual Behavior
As a user I can't enter a line break and instead accidentally submit the commen

[2017-06-23 08:49] wittwerch commented on #1621
Looking at the code I found out that you can press "Shift-Enter" to add a comment. However for most non-technical persons (marketing people) we should change that to enter and and add a button to submit.

[2017-06-24 02:12] WellingGuzman commented on #1619
Hey @wittwerch, the column is unique, what we can do is auto-generate the token value, so you don't to worried about it, does that works?

Otherwise we have to discuss what's best to do.

[2017-06-24 13:57] benhaynes commented on #1621
There is text in the comment input saying "Press enter to submit" – we could add a checkbox here so that users can toggle this functionality between:

- [x] Press enter to submit **(Shift-Enter: new line)**
- [ ] Press Enter to submit **(Shift-Enter: submits)**

[2017-06-24 14:01] benhaynes commented on #1620
1. We need to clean up the dropdown of users as you type the @mention
2. We need to resolve the `undefined undefined` issue

[2017-06-24 14:05] benhaynes commented on #1619
@WellingGuzman – We can auto-generate through Directus. Does the token _need_ to be required or could it be optional?

[2017-06-24 19:06] WellingGuzman commented on #1619
If we auto-generate the token in interface or better yet we can also auto-generate on API, which doesn't require you to do it, but if the user forgot to do it, it generates a new one for you.

@wittwerch @benhaynes do you see this as something? good solution or?

I think this would be the way to go, as that column has to be unique, thinking about whether or not the user is going or allow to use it

[2017-06-24 23:37] WellingGuzman commented on #1613
Hey @krishnam09, can you share your php memory limit and php max upload values.

[2017-06-25 21:33] WellingGuzman commented on #1620
2. Closed by https://github.com/directus/directus/commit/b49c34342f436112d895fe92a6f79df77938deec

[2017-06-26 06:54] wittwerch commented on #1621
My experience from other systems and user behaviour is, that everybody will accidentally hit enter and submit a comment to early. In combination with comments being immutable, this will lead to frustration.
Why not add a submit button?

[2017-06-26 06:55] wittwerch commented on #1619
Does unique mean it can't be null? Speaking from a user perspective I think auto-generating the value would be fine.

[2017-06-26 07:03] wittwerch commented on #1620
The selection now works. However I agree with @benhaynes that the dropdown needs a little rework.

- As you type the at-symbol, a list should pop off even when you didn't enter the next char
- The list should be smaller
- You should be able to navigate with the cursor to select an entry
- Allow the enter button to be used to select a value :)  see #1621

[2017-06-26 14:17] benhaynes commented on #1620
Agree on all points. We will be focusing in other areas of the platform over the next 2 months – perhaps you would be interested in submitting a PR with these updates, @wittwerch?

[2017-06-26 14:28] benhaynes commented on #1621
This is true – mostly the lack of a button was for visual simplicity, but that should not impede functionality. Since comments aren't editable we could switch this to a button.

Alternatively, and perhaps this is more useful, would be to have the comments _not_ be immutable. A pencil (edit) icon on the current user's comments would allow editing – which would be a great feature to add and partiall

[2017-06-26 14:33] benhaynes commented on #1612
I agree with this. Event over is important so we should make sure we finish processing before additional interaction. I'll plan on adding a blocker layer back into 6.4

[2017-06-26 19:25] benhaynes opened #1623 "Don't split Status into group"
Right now the Status interface is put in its own group if it's visible and added to the edit page... it should be in the same group as the other interfaces.

![screen shot 2017-06-26 at 3 23 06 pm](https://user-images.githubusercontent.com/522079/27556459-ad85c2de-5a83-11e7-9a4f-8e7b92c1df84.png)

[2017-06-26 19:51] #1623 closed

[2017-06-26 20:08] WellingGuzman commented on #1619
Yes, it can be null, that could work, MySQL allows unique that allows null to have multiple records with `null`.

What do you think @benhaynes ?

[2017-06-26 20:36] benhaynes commented on #1619
`NULL`/Optional or Auto-generated/Required.. either way works for me!

[2017-06-26 21:49] benhaynes opened #1624 "Add all possible params to the Status Interface Placeholder"
Currently we have this:
[code]

But this should include the background color, delete, etc... there are many options that aren't included here so it's hard to properly set the options.

[2017-06-26 22:48] benhaynes commented on #1624
OK, found it:

[code]

[2017-06-26 22:48] #1624 closed

[2017-06-27 06:59] wittwerch commented on #1619
I think Null would be the safer choice. No need to expose random generated tokens.

[2017-06-27 08:30] wittwerch commented on #1620
Given we have capacity in the next weeks we'll put up a PR!

[2017-06-27 10:57] peremp opened #1625 ""Created", "Updated" or "User" columns not available on RightSidebar"
## Version Info
  - Directus version and branch: 6.4

## Expected Behavior
When I have a Created, Updated or User column on a table, I should be able to see the column on the table view by selecting the option on the Right Sidebar.
This was possible on 6.3.9.

## Actual Behavior
The columns does not appear.

## Steps to Reproduce
 1. Create a table
 2. Add Created, Updated, and User column.
 3. Go

[2017-06-27 13:19] benhaynes opened #1626 "6.4.0 Interface Gallery"
@rijkvanzanten has the SQL generated for this, but we need to implement it in a way so that it works on install. This version will be more complex as it will showcase relational interfaces, including Translation.

[2017-06-27 22:24] benhaynes opened #1631 "Settings>Tables Reorder Column Not Working"
I try dragging a column to the end of the list and get:

[code]

`Incorrect integer value: 'active' for column 'id' at row 1`

It's trying to add the column name into the ID

[2017-06-28 13:07] nithinga opened #1632 "Unable to change the uploaded image in "Single File" upload field"
## Version Info
  - Directus version and branch: version/6.4 80b1acf048b930a63d5503eb415d98a2e61471fc
  - PHP version: 7.1
  - MySQL version: 5.7
  - Web server: Apache
  - OS name and version: Docker ( Ubuntu )

## Expected Behavior
When editing the files in record, either by deleting and uploading the file or changing it by choosing "Choose existing", it should update the image without error.

#

[2017-06-28 13:16] nithinga commented on #1613
@krishnam09 Did you give correct permission for folders such as storage/uploads etc ?

[2017-06-28 13:58] benhaynes commented on #1632
Thank you for reporting this @nithinga – which version/branch of Directus is this happening in? The screenshot looks like 6.4 – are you on the latest?

[2017-06-28 14:04] nithinga commented on #1632
@benhaynes latest 6.4 branch

[2017-06-28 14:07] benhaynes opened #1633 "Getting error changing permissions"
Changing a table's permission is throwing an error:

![screen shot 2017-06-28 at 10 06 51 am](https://user-images.githubusercontent.com/522079/27641336-8e09e1bc-5be9-11e7-982f-43cfd9824cd2.png)

[2017-06-28 14:08] benhaynes commented on #1633
Also, if you refresh the page it doesn't save this change (the red delete permission)

[2017-06-28 14:29] nithinga commented on #1633
1. After creating a new group, try to add permission by click.
2. In the first click nothing happends, no error or log error.

[2017-06-28 15:08] rijkvanzanten commented on #1633
Hi guys! I pushed a commit which should fix it. Could you please pull the latest and check it out @nithinga @benhaynes? 🙂

[2017-06-28 15:10] benhaynes commented on #1633
This is solved – if there are other issues we can re-open.

[2017-06-28 15:10] #1633 closed

[2017-06-29 08:58] wittwerch opened #1634 "Gulp build fails"
## Version Info
  - Directus version and branch: 80b1acf048b930a63d5503eb415d98a2e61471fc
  - PHP version: 7.1
  - MySQL version: 5.7
  - Web server: Apache
  - OS name and version: Docker

## Actual Behavior

[code]

[2017-06-29 09:02] nithinga opened #1635 "Unable to do multiple delete"
## Version Info
  - Directus version and branch: version/6.4 - 80b1acf048b930a63d5503eb415d98a2e61471fc
  - PHP version: 7.1
 - MySQL version: 5.7
 - Web server: Apache
 - OS name and version: Docker ( Ubuntu )

## Expected Behavior
When trying to delete multiple records through directus, it should delete records.

## Actual Behavior
When trying to delete multiple records through directus, nothing

[2017-06-29 12:18] wittwerch opened #1636 "Table name not shown in delete info message"
## Version Info
  - Directus version and branch: 80b1acf048b930a63d5503eb415d98a2e61471fc

## Actual Behavior
![screen shot 2017-06-29 at 14 16 19](https://user-images.githubusercontent.com/1575445/27687071-aec8799e-5cd5-11e7-9732-171bc6b9e98d.png)

[2017-06-29 12:44] nithinga opened #1637 "'Interface option' for status field getting reset."
## Version Info
  - Directus version and branch: version/6.4 - 80b1acf048b930a63d5503eb415d98a2e61471fc
  - PHP version: 7.1
 - MySQL version: 5.7
 - Web server: Apache
 - OS name and version: Docker ( Ubuntu )

## Expected Behavior
After saving our custom status json in "Interface option", if we switch to 'Column setup' and save , both tab values should be saved.

## Actual Behavior
After saving

[2017-06-29 13:34] nithinga opened #1638 "Add new user is broken."
## Version Info
  - Directus version and branch: version/6.4 - 80b1acf048b930a63d5503eb415d98a2e61471fc
  - PHP version: 7.1
 - MySQL version: 5.7
 - Web server: Apache
 - OS name and version: Docker ( Ubuntu )

## Logs or Screenshots
![screenshot from 2017-06-29 18 37 31](https://user-images.githubusercontent.com/18306604/27690017-bf4aae4a-5cfd-11e7-842b-30c0c0f47bd7.png)

[2017-06-29 13:35] benhaynes commented on #1638
Thanks @nithinga – we appreciate you reporting this!

@WellingGuzman (our lead developer) is away on vacation this week, but we'll catch-up on all of this in a few days when he's back.

[2017-06-29 13:49] nithinga commented on #1638
@benhaynes It was due to a recent change, it was working before d11056dc1792dc9e7bbee89e011e2838ca925f52

[2017-06-29 13:50] benhaynes commented on #1638
Ahh, thanks! We'll see if we can find the root cause – if you come across it first just send over a PR! :)

[2017-06-29 13:51] wittwerch opened #1639 "Bookmark to a deleted table throws an error"
## Version Info
  - Directus version and branch: 80b1acf048b930a63d5503eb415d98a2e61471fc
  - PHP version: 7.1
  - MySQL version: 5.7
  - Web server: Apache
  - OS name and version: Docker

## Expected Behavior
Info message is shown that the table for that bookmark doesn't exist anymore

## Actual Behavior
Info message is shown, but also an error

## Steps to Reproduce
 1. Create a table
 2. Creat

[2017-06-29 14:56] nithinga commented on #1638
@benhaynes This commit is causing issue, https://github.com/directus/directus/commit/8d7c38203965856488d75b7c98bbfd8f03d2d324

[2017-06-29 15:47] daddykom commented on #1052
I use Verion 6.3.9

When I try to add a field to a table, i get a 403 Forbidden from the Server:
POST https://directus.collins.ch/cms/api/1/tables/Testtab/columns

Adding the table works fine. adding a field to the table gives 403.

It sends the PHPSESSID Cookie, the same like in the create table call.

Can anyone tell me, where this 403 is triggered in the software?

[2017-06-29 23:41] benhaynes opened #1641 "Error reordering columns"
It is using the column name as the ID:

[code]

[2017-06-30 07:15] peremp opened #1642 ""Required" columns not working"
## Version Info
  - Directus version and branch: 6.4.0 latest

## Expected Behavior
When a column is marked as required, the user shouldn't be able to create a new item if the required field is empty.

## Actual Behavior
The user can create items without filling the required fields.

[2017-06-30 08:25] daddykom opened #1643 "403 Forbidden from the Server by adding field"
I use Verion 6.3.9

When I try to add a field to a table, i get a 403 Forbidden from the Server:
POST https://directus.collins.ch/cms/api/1/tables/Testtab/columns

Adding the table works fine. adding a field to the table gives 403.

It sends the PHPSESSID Cookie, the same like in the create table call, which works.

I do not understand, what can be the problem. GET on the same URL works fine, so i

[2017-06-30 08:46] daddykom commented on #1643
Administrator has all rights:

![screenshot at juni 30 10-45-35](https://user-images.githubusercontent.com/741199/27728097-4f132c68-5d81-11e7-812b-7c835b255a3c.png)

[2017-06-30 15:07] rijkvanzanten commented on #1643
Could you try one of the authentication methods instead of just the session and see if that works?

[2017-06-30 15:08] rijkvanzanten commented on #1642
Hi @peremp! Is this an issue with certain interfaces or does it happen with every?

[2017-06-30 15:10] rijkvanzanten commented on #1638
Thanks for the heads up @nithinga! I'll fix it asap

[2017-06-30 15:36] rijkvanzanten commented on #1638
Fixed by https://github.com/directus/directus/commit/98886594dbfce16342fda3434a9af0b2b1497764. Please re-open if this didn't solve it for you

[2017-06-30 15:36] #1638 closed

[2017-06-30 15:45] daddykom commented on #1643
How do you mean that? I give my userid and password on the login screen, navigate to settings, table & screen, and click to the fields button.
Enter a field name and click save. (then
What should i do different?

![screenshot at juni 30 17-38-00](https://user-images.githubusercontent.com/741199/27743266-af07e8c2-5dbb-11e7-8477-fe4b0671f6fb.png)

![screenshot at juni 30 17-38-50](https://user-image

[2017-06-30 16:00] rijkvanzanten commented on #1643
Ohh, excuse me. I thought you were trying to modify the columns via the API. My bad!

[2017-07-01 03:46] WellingGuzman commented on #1619
Closed by https://github.com/directus/directus/commit/4070f35b991cba41a0163a3469b03c3e1bea7939.

must upgrade the users table schema by running `bin/directus db:upgrade`

[2017-07-01 03:46] #1619 closed

[2017-07-01 03:50] WellingGuzman commented on #1642
Yes, please, provide which interfaces this behavior happens, this probably is related to some specific interfaces, if it's @rijkvanzanten would take care of it.

[2017-07-01 04:34] #1634 closed

[2017-07-01 04:40] WellingGuzman commented on #1636
I see you are using the german translation, it seems the translation is a bit outdated, I will fix it in english but this should solve the problem and it will better be solved when one of the people that has help us with the german translation step in.

[2017-07-01 04:41] #1636 closed

[2017-07-01 04:43] WellingGuzman commented on #1632
Hey @nithinga, this should've been fixed by https://github.com/directus/directus/commit/2f16e32ee1ebf7724ab56c8c1c608a98bce082dd

Try pulling the latest from 6.4 branch, otherwise we can re-open the ticket.

[2017-07-01 04:43] #1632 closed

[2017-07-01 04:45] WellingGuzman commented on #1637
This is a good request, it actually looks like one form with two tabs, but actually this is two form in one single view.

Thanks for the suggestion or pointing out my mistake whatever this is, I will be working on it soon.

[2017-07-01 04:52] WellingGuzman commented on #1643
Hey @daddykom, thanks for the steps. I tried to replicate the issue without luck.

Can you share the logs in `api/logs` directory?

[2017-07-01 06:37] daddykom commented on #1643
Hire is the content. Only these lines:

Jun 29 11:30:47 [info] CREATE TABLE `directus_schema_migrations` (
`version` varchar(255))  ENGINE=InnoDB  DEFAULT CHARSET=utf8;
Jun 29 11:30:47 [info] CREATE UNIQUE INDEX `idx_directus_schema_migrations_version` ON `directus_schema_migrations`(`version`)
Jun 29 11:30:49 [info] SELECT version FROM directus_schema_migrations
Jun 29 11:30:49 [info] SELECT vers

[2017-07-01 14:00] jorgeflores opened #1646 "It doesn´t show any error message in the login when the email is correct and the password is wrong"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests please use the [Directus FeatHub](http://feathub.com/directus/directus) to make a new request or vote for existing ones, or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be

[2017-07-01 15:00] canyousayyes opened #1647 "How to Creating new Tables with UTF8 charset?"
## Version Info
  - Directus version and branch: 6.3.9
  - PHP version: 7.1.6
  - MySQL version: 5.7
  - Web server: (Ex. Apache, nginx or IIS?) Apache 2.4.10

## Expected Behavior
I have created some new tables using the interface. It does not give the options to choose / update the charset.

When I check the charset settings in DB, it shows `latin1`.

Example query executed to create table
[code

[2017-07-01 15:25] canyousayyes commented on #1647
Hmmm, it seems Directus has default charset = latin1 when settings up the database.
After I run `ALTER DATABASE directus DEFAULT CHARACTER SET utf8;`, all tables created afterwards are now utf8.

I wonder if it's possible to set database default charset when setup?

[2017-07-02 05:59] WellingGuzman commented on #1647
What table name are you trying to create and what's the end result?

The charset should be working, give me specific example to try to replicate this issue.

It seems you are talking about running the migration, but I'm not sure, let me know.

I noticed that we still clean the names in 6.4 whether or not the "strict naming" is disabled, that's a good catch, but still we have been discussing this f

[2017-07-02 06:00] #1646 closed

[2017-07-02 06:00] WellingGuzman commented on #1646
Hey @jorgeflores thanks for the report, I believe this commit (https://github.com/directus/directus/commit/73af8df5e77ed9a298a11a3ea4dc36133bf863e9) should have fixed it.

Let us know.

[2017-07-02 07:06] WellingGuzman commented on #1643
There's no log with `datetime` as file name? Odd, I can't duplicate this issue. can you please provide us that schema, and make sure to remove all sensitive information?

[2017-07-02 10:54] daddykom commented on #1643
ls of api/logs:

drwxrwxr-x 2 collinsc collinsc 4096 Jun 29 17:30 ./
drwxrwxr-x 8 collinsc collinsc 4096 Jun 29 17:52 ../
-rw-rw-r-- 1 collinsc collinsc   54 Apr 17 01:24 README
-rw-r--r-- 1 collinsc collinsc  466 Jun 29 17:30 development.log

[2017-07-02 22:15] WellingGuzman commented on #1643
Hey @daddykom, It seems to me this is a server setup or Directus configuration issue.

What's your server stack? how does your `config.php` looks? Does your have any error on NGINX/Apache logs?

[2017-07-02 22:41] #1639 closed

[2017-07-03 00:25] WellingGuzman commented on #1618
I removed on interface and leave one, but that one it's used in users interface as internal interface to show the names of each user.

These interfaces were meant to assigned the current authenticated user to the interface. This is the same behavior as created user interface, so this is not needed anymore.

---
What we could do is create another interface specific to user: `single_user` and `multi

[2017-07-03 01:12] #1618 closed

[2017-07-03 01:52] daddykom commented on #1643
The only error which happened is: File not found [/home/[myserver]/public_html/directus/403.shtml]

Here the log file:

94.16.136.111 - - [02/Jul/2017:12:49:59 +0200] "GET / HTTP/1.1" 403 609 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5) AppleWebKit/603.2.4 (KHTML, like Gecko) Version/10.1.1 Safari/603.2.4"
94.16.136.111 - - [02/Jul/2017:12:50:00 +0200] "GET /favicon.ico HTTP/1.1" 404 618 "

[2017-07-03 01:53] WellingGuzman commented on #1635
Hey @nithinga, this issue was fixed by https://github.com/directus/directus/commit/8730016146d3ebdde322c05cf55d97f72437b2e5

[2017-07-03 01:53] #1635 closed

[2017-07-03 01:57] WellingGuzman commented on #1643
Hey @daddykom, what's your stack? it seems like your http server is trying to get a `403.shtml`.

Please send us your database schema that helps us reproduce this issue.

[2017-07-03 01:58] daddykom commented on #1643
Sorry, you asked me about config.php and not php.ini! I missunderstood.

Here the config.php:

<?php
date_default_timezone_set('America/New_York');

define('API_VERSION', 1);

/**
 * DIRECTUS_ENV - Possible values:
 *
 *   'production' => error suppression, nonce protection
 *   'development' => no error suppression, no nonce protection (allows manual viewing of API output)
 *   'staging' => no er

[2017-07-03 01:59] daddykom commented on #1643
It's a apache server with mysql on linux..

[2017-07-03 02:01] daddykom commented on #1643
What do you want to know more. I am not shure, what you mean with server stack..

[2017-07-03 02:04] daddykom commented on #1643
-- phpMyAdmin SQL Dump
-- version 4.0.10.14
-- http://www.phpmyadmin.net
--
-- Host: localhost:3306
-- Erstellungszeit: 03. Jul 2017 um 05:03
-- Server Version: 5.6.35-cll-lve
-- PHP-Version: 5.4.31

SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
SET time_zone = "+00:00";

--
-- Datenbank: 'directus'
--

-- --------------------------------------------------------

--
-- Tabellenstruktur für Tabelle 'dire

[2017-07-03 02:11] WellingGuzman commented on #1646
Also fixed a bug created by the previous fix by this commit https://github.com/directus/directus/commit/39b701fdec4c34cfc1a272b5b1d50348ec68f53b

[2017-07-03 02:28] WellingGuzman commented on #1643
Sorry If I didn't make it clear, but the most crucial parts are the data, but make sure to exclude any sensitive data, so we can work with the same data as you.

[2017-07-03 02:33] daddykom commented on #1643
SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
SET time_zone = "+00:00";

CREATE TABLE directus_activity (
  id int(11) unsigned NOT NULL AUTO_INCREMENT,
  `type` varchar(100) DEFAULT NULL,
  `action` varchar(100) NOT NULL,
  identifier varchar(100) DEFAULT NULL,
  `table_name` varchar(100) NOT NULL DEFAULT '',
  row_id int(11) unsigned DEFAULT '0',
  `user` int(11) unsigned NOT NULL DEFAULT '0',
  `data

[2017-07-03 03:01] WellingGuzman commented on #1643
Thanks for the information, a tip when sharing code try using the [code style formatting](https://guides.github.com/features/mastering-markdown/).

I tried with your schema, seems all good in my setup, I want to know some more things.

Which is your php version and what commit are you on Directus?

[2017-07-03 05:29] daddykom commented on #1643
Directus: 6.3.9
PHP Version 5.6.30

[2017-07-03 06:38] wittwerch commented on #1636
My native language is german, so I will try to translate the remaining strings.. :)

[2017-07-03 07:17] rijkvanzanten commented on #1618
That sounds like a logical step forward. This would essentially just be a o2m and a m2m for user specifically right?

[2017-07-03 07:35] daddykom commented on #1643
The call never comes to api.php!!!
I inserted a echo and exit in the head of the file.

The GET XHR https://directus.collins.ch/cms/api/1/messages/rows/, which is calling all 10 seconds, got an error, but the POST to https://directus.collins.ch/cms/api/1/tables/Testtab/columns has still a 403.

So it must be something in .htaccess or something in the apache configuration.

[2017-07-03 10:38] peremp commented on #1642
Text input, slug, textarea, numeric... Haven't tried all.

[2017-07-03 12:30] directus-git commented on #1647
Yeah, I am fine with no limitations on the API. It think it's only the
interfaces that might have users enter "friendly" names by accident.

Benjamin Haynes
*Founding Partner, Director of Technology*

RANGER Studio LLC
149 Cleveland Rd
New Haven, CT 06515

Mobile 1-224-444-9666
http://RangerStudio.com

On Sun, Jul 2, 2017 at 1:59 AM, W.R. Guzmán <notifications@github.com>
wrote:

[2017-07-03 12:31] benhaynes commented on #1618
Yeah, I agree!

[2017-07-03 12:54] nithinga opened #1648 "Deleting the file in 'File library' removes the file but not DB entry."
## Version Info
  - Directus version and branch: version/6.4 - 0f0bd5f758b60ad3b640d8634dd8c3496ddb4566
 - PHP version: 7.1
 - MySQL version: 5.7
 - Web server: Apache
 - OS name and version: Docker ( Ubuntu )

## Expected Behavior
When deleting the file it should delete the file as well as DB entry.

## Actual Behavior
When deleting the file it delete the file but not the DB Entry.

[2017-07-03 13:00] nithinga opened #1649 "'X' Close button in file preview popup is not working"
## Version Info
  - Directus version and branch: version/6.4 - 0f0bd5f758b60ad3b640d8634dd8c3496ddb4566
 - PHP version: 7.1
 - MySQL version: 5.7
 - Web server: Apache
 - OS name and version: Docker ( Ubuntu )

## Expected Behavior
Clicking the 'X' Close button in file preview, should close the preview.

## Actual Behavior
Clicking the 'X' Close button in file preview, it will not close the previe

[2017-07-03 15:19] WellingGuzman commented on #1649
Fixed by https://github.com/directus/directus/commit/95bc9e8789502a5ef3adf815c03150b97ae16a13

[2017-07-03 15:19] #1649 closed

[2017-07-03 15:24] martinfojtik opened #1650 "Can't install Directus"
## Version Info
  - Directus version and branch: version/6.4
  - PHP version: 7.0.10
  - MySQL version: 5.7.18
  - Web server: WAMP Apache
  - OS name and version: Win 10

## Expected Behavior
Show first installation step.

## Actual Behavior
I have fresh Directus in subfolder on my server, if I open `http://myweb.com/admin/` I am automatically redirected to `http://admin/installation/index.php?st

[2017-07-03 15:32] WellingGuzman commented on #1650
Thanks @martinfojtik, it looks like bug (Directus) while redirecting on windows machine, we would take a look when we have the change to use a WAMP server, in the moment try `http://myweb.com/admin/installation/index.php?step=0`

[2017-07-03 15:56] martinfojtik commented on #1650
Thanks @WellingGuzman for quick response. Can you try this fix on Linux machine?

In `api/core/functions.php` change:

[code]

to:

[code]
I am not sure if this will work on Linux.

[2017-07-03 16:06] WellingGuzman commented on #1650
@martinfojtik does that change fixed it for you? if it does, please send us a PR with those changes, in my end it didn't make any different and it shouldn't (hopefully).

[2017-07-03 16:56] WellingGuzman commented on #1648
We are not forcing hard delete on files until we implement a new option to decide whether to soft or hard delete a file.
- Hard-Delete: Deletes file and DB record.
- Soft-Delete: Keeps the file, sets the file status to `Inactive`