[2017-11-09 22:27] #1919 closed

[2017-11-09 22:29] rijkvanzanten commented on #1542
What is the status of this issue? What is the problem in the first place? What is this `add` column you're referring to? What new interface do we need?

[2017-11-09 22:41] rijkvanzanten commented on #1827
For reference: the columns `airline`, `airport_departure`, `airport_arrival`, `stopovers` are relational themselves as well

[2017-11-09 23:02] rijkvanzanten commented on #1827
We've moved this over to the [Directus feature request tool](https://request.getdirectus.com) as this is a feature request and not an actual issue with the current implementation.

https://request.getdirectus.com/r/134

[2017-11-09 23:02] #1827 closed

[2017-11-10 13:12] benhaynes commented on #1542
The status is: incomplete.

The problem is the workflow (saving permissions by status) is not working.

The `edit` column: eg, an item in draft status can not be edited. (makes sense)
The `add` column: eg, an item doesn't have a status if it hasn't been added yet. (so this needs to be removed)

The interface: when you go to permissions on the preview site, and click the "workflow" button... Notice

[2017-11-10 14:14] benhaynes commented on #1949
The issue here seems to be that you should be able to choose a default value when adding the column (just like in the actual database). Did you try adding a default when creating the new status column?

[2017-11-10 21:28] dlaprade opened #1950 "Table with 'Many-to-one' to Files, is not returning file data if limit above 204"
## Version Info
  - Directus version and branch: 6.4.3
  - PHP version: 7.1.11
  - MySQL version: MariaDB 10.1
  - Web server: Apache
  - OS name and version: Debian Jessie Linux

## Expected Behavior
I have a table that contains a 'many-to-one' relationship to files and when I search using the API I expect the related file information to be returned for all rows.

## Actual Behavior
The 'many-to-

[2017-11-10 23:51] rijkvanzanten commented on #1950
I'm wondering if the limit on 200 is a bug or a feature.. I can imagine fetching all the related items of so many records will take quite a while to finish.

Could you enlighten us with some wisdom @WellingGuzman?

[2017-11-13 15:20] benhaynes commented on #1950
Also, does this happen even when using the `limit` and `offset` params?

https://api.getdirectus.com/1.1/#Get_Files

[2017-11-13 17:44] neran commented on #1643
Having the same issue, what server config to be exact?
Thanks!

[2017-11-13 19:20] dlaprade opened #1951 "Error with Many-to-Many when primary keys are VARCHAR"
## Version Info
  - Directus version and branch: 6.4.3
  - PHP version: 7.1.11
  - MySQL version: MariaDB 10.1
  - Web server: Apache
  - OS name and version: Debian Jessie Linux

## Expected Behavior
I created a many-to-many relationship between two tables with a join table that have primary keys of type VARCHAR. The data_type of the many-to-many shows up as "ALIAS". When I am creating a new many

[2017-11-13 20:38] dlaprade commented on #1950
I have verified it still happens when using both limit and offset parameters.

[2017-11-14 08:33] neocafe opened #1952 "Permission Denied When logging in with any account other than Administrator"
## Version Info
  - Directus version and branch: 6.4.0
  - PHP version: 7.0.22
  - MySQL version: 5.7
  - Web server: Apache
  - OS name and version: Ubuntu 16.04

## Expected Behavior
Login to the CMS with read/edit option for the tables for users with non-administrator privileges.

## Actual Behavior
{
  "success":false,
  "error":{
    "message":"Permission denied"
  },
  "code":0,
  "class":"D

[2017-11-14 08:45] BennerGe commented on #1952
This issue should be fixed at the current develop branch. https://github.com/directus/directus/commit/8075e93b769e0d556c306982dc28f67e20bce435

This is the related issue:
https://github.com/directus/directus/issues/1921

[2017-11-14 09:06] cgarnier commented on #1898
Please ... document new features... it s not yet in the API doc like lot of other things

[2017-11-14 09:23] dsivokhin opened #1953 "Can't saved "Color" field withs RGB"
## Version Info
  - Directus version and branch: master
  - PHP version: 7.0

## Actual Behavior

Can't saved "Color" field withs RGB

![default](https://user-images.githubusercontent.com/4669992/32772203-37318d80-c936-11e7-8ac3-f3c9f020753f.png)

![default](https://user-images.githubusercontent.com/4669992/32772222-42453096-c936-11e7-9a33-a4c6002d2744.png)

![default](https://user-images.githubus

[2017-11-14 15:19] rijkvanzanten commented on #1952
Could you confirm it works for you on the develop branch @BennerGe?

[2017-11-14 16:58] WellingGuzman commented on #1924
Thanks for reporting this @dsivokhin, there's a bug (as you reported) with batch, and we will be working on it this week, we will try to get this done the as soon as possible.

[2017-11-14 17:00] WellingGuzman commented on #1934
This is a expected result.

You would have to use our nginx or follow our nginx configuration example here: [directus nginx config](https://github.com/directus/directus-vagrant/blob/master/config/nginx/default)

[2017-11-14 17:00] #1934 closed

[2017-11-14 17:33] flrrrhoffpauir opened #1954 "Can't update DB schema through CLI"
I am able to login to Directus locally and add/modify content, but when I try to upgrade the database schema I get an error.

## Version Info
  - Directus version and branch: 6.4.3 master
  - PHP version: 5.6.30
  - MySQL version: 5.6.35
  - Web server: (Ex. Apache, nginx or IIS?) Apache
  - OS name and version: macOS Sierra

## Expected Behavior
Upgrade the database scheme using the CLI:
`php bin

[2017-11-14 17:37] WellingGuzman commented on #1898
Thanks @cgarnier I have added users endpoint to the docs. we will continue keep the docs up to date bit by bit.

Anything missing let us know and we will get it done.

Ref: https://github.com/directus/api-docs/commit/bc97d9122a893faa8cb192e1a6d5c77e2df3cda9

[2017-11-14 17:39] WellingGuzman commented on #1935
Hey @philleepflorence, thanks for reporting this. We will get it done, as soon as possible.

note: This has been reported before, I just can't find the other ticket.

[2017-11-14 17:54] WellingGuzman commented on #1945
It seems to work, but not visually. I will fix this as soon as possible.

[2017-11-14 17:56] WellingGuzman commented on #1945
Note: If you go ahead and save it works.

[2017-11-14 17:59] WellingGuzman commented on #1944
Interesting, it should have trip those trailing and forward.

[2017-11-14 18:03] WellingGuzman commented on #1937
This is a intentional behavior, to avoid users to see other users privileges.

Authenticated user can see their own privileges here: `/auth/permissions`.

[2017-11-14 18:10] WellingGuzman commented on #1949
Exactly, what is the default value of that column?

[2017-11-14 18:10] WellingGuzman commented on #1951
Hey @dlaprade thanks for reporting this, we are going to take a look at this bug some time this week.

[2017-11-14 18:12] WellingGuzman commented on #1950
I may bet this has to do with the limit bug we "fixed" previously.
@dlaprade would it be possible for you to test this using `develop` branch? just to make sure we have gone to far without updating to 6.4.4 (which we know)

[2017-11-14 18:13] WellingGuzman commented on #1953
This was fixed by https://github.com/directus/directus/commit/4f58b39e8fc15f9bbb95db7f4f438dbf8e1d2f25

[2017-11-14 18:13] #1953 closed

[2017-11-14 18:15] tom-wmg opened #1955 "Changes being lost / stuff not getting saved"
## Version Info
  - Directus version and branch: 6.4.3
  - PHP version: 5.6.30
  - MySQL version: 5.6.36
  - Web server: Apache
  - OS name and version: OS X

## Expected Behavior

Clicking save when editing content of nested X2M relationships (at least 3 levels deep) should save content.

## Actual Behavior

Content not saved - no errors appear. But content "lost"

Welling says problem with X2M.

[2017-11-14 18:15] WellingGuzman commented on #1954
Hey @flrrrhoffpauir this issue has to do with the `mysqli` not being loaded in your php cli version.

This may help a bit: https://github.com/directus/directus/issues/1745

[2017-11-14 18:18] rijkvanzanten commented on #1949
That's the difficult question. It can't be `NULL` or it they'll be invisible, but we can't just set it to a value as well, since it's user configurable....

[2017-11-14 18:24] rijkvanzanten commented on #1937
@WellingGuzman Is this documented somewhere?

[2017-11-14 18:27] WellingGuzman commented on #1937
No that I'm aware of.

[2017-11-14 19:12] flrrrhoffpauir commented on #1954
thanks so much @WellingGuzman that did the trick. I added the MAMP version of php to my path, ran the command again and it worked

[code]

[2017-11-14 19:12] #1954 closed

[2017-11-14 19:13] WellingGuzman commented on #1954
Glad it worked out.

[2017-11-14 20:16] WebMadeGood commented on #1173
FWIW this is one of the issues I am seeing here: https://github.com/directus/directus/issues/1955

[2017-11-14 21:19] dlaprade commented on #1950
@WellingGuzman I am not able to reproduce the issue on the development branch.

[2017-11-14 21:43] tom-wmg opened #1956 "Drag and drop reordering doesn't work"
## Version Info
  - Directus version and branch: 6.4.3
  - PHP version:
  - MySQL version:
  - Web server: (Ex. Apache, nginx or IIS?)
  - OS name and version: Chrome, latest, OS X

## Expected Behavior

Drag and drop to reorder field list

## Actual Behavior

Field list doesn't change order

## Steps to Reproduce
 1. Video shows what goes wrong

## Schema Dump, Logs, or Screenshots

https://www.d

[2017-11-14 22:33] rijkvanzanten commented on #1956
This might be a duplicate of https://github.com/directus/directus/issues/1941

[2017-11-14 22:35] tom-wmg opened #1957 "Core O2M GUI functionality broken"
## Version Info
  - Directus version and branch: 6.4.3
  - PHP version:
  - MySQL version:
  - Web server: (Ex. Apache, nginx or IIS?)
  - OS name and version: Chrome, latest, OS X

## Expected Behavior

Parent/child content should be retained upon creation and save

## Actual Behavior

Content gets deleted most of the time. This is not fit for purpose.

## Steps to Reproduce
Video shows what goes

[2017-11-14 22:38] tom-wmg commented on #1956
I confirm this works on Safari, so could well be a browser bug, sorry

[2017-11-14 22:40] rijkvanzanten commented on #1956
No that's okay! Rather have multiple duplicates than no report at all 😄

I'll close this as we release 6.4.4 tomorrow including this fix 👍

[2017-11-14 22:40] #1956 closed

[2017-11-14 22:43] tom-wmg commented on #1957
ps, am I the only one? Seems hard to believe... Or do people just not use the GUI?

[2017-11-15 09:03] benhaynes commented on #1937
Needs documentation. @WellingGuzman

[2017-11-15 16:08] rijkvanzanten commented on #1957
Hi @tom-wmg

This issue hasn't been reported before and I haven't been able to reproduce this myself on a clean local install so far.

With Directus being able to be hosted and used virtually anywhere, it's very hard for maintainers and contributors to figure out what is going on without having the necessary information. Could you please update your original post with more information so we can re

[2017-11-15 22:27] rijkvanzanten commented on #1933
Hey @moritzw1! Thanks for addressing this. Could you please check (and confirm) if the keys `root_url` and `root_thumb_url` are pointing to the right paths in `/api/configuration.php`?

[code]
_`<subpath>` should be your actual subpath_

[2017-11-15 23:14] philleepflorence commented on #1935
Thank you! Will await updates...

[2017-11-16 21:22] moritzw1 commented on #1933
Hi @rijkvanzanten

yes, I can confirm this. The subpath is correct.

[2017-11-16 21:46] rijkvanzanten commented on #1933
Hmm... Have you any other information we could use to reproduce this error? I haven't been able to reproduce this error on my own install. The only issue I came across was the paths in `configuration` and `config` not matching.

Just to make sure, did you update the `DIRECTUS_PATH` key in `api/config.php` as well?

[2017-11-17 04:28] WellingGuzman commented on #1957
hey @rijkvanzanten I talked to @tom-wmg, and this issue has been resolved by https://github.com/directus/directus/commit/6af1ad6833a39c526b9021b67cec0f5e6db6bdba

Related to https://github.com/directus/directus/issues/1955

[2017-11-17 04:28] #1957 closed

[2017-11-17 04:29] WellingGuzman commented on #1955
Closed by https://github.com/directus/directus/commit/6af1ad6833a39c526b9021b67cec0f5e6db6bdba

[2017-11-17 04:29] #1955 closed

[2017-11-17 04:31] WellingGuzman commented on #1952
This issue has been fixed in `develop` branch. if still happens on develop branch, please share the schema you are using that's triggering this bug.

[2017-11-17 04:31] #1952 closed

[2017-11-17 19:11] WellingGuzman commented on #1951
Closed by https://github.com/directus/directus/commit/2488d23e95e3015ad2fbc267ee1beda64c8962f9

[2017-11-17 19:11] #1951 closed

[2017-11-18 02:24] mikeful commented on #1886
This might be same bug: setting up fields and selecting location from map in edit interface fill fields correctly via Javascript but seems like they are not marked as changed and because of it are not sent to backend for saving. I'll create proper issue if this is different than what rijkvanzanten meant.

[2017-11-18 02:43] rijkvanzanten commented on #1886
Hi @mikeful! I'm pretty sure that's the cause of this problem.

Note to self: check if `this.model.set(<column_name>, <set_value>);` gets called in the referenced other columns on change in the map. (probably not, which would explain this error)

[2017-11-18 22:03] mikeful commented on #1886
Slug field might have similar bug in some situations. Maybe check it too?

[2017-11-19 09:56] moritzw1 commented on #1933
Yes, I can confirm the path in the config.php aswell. I can recreate the issue with a local MAMP installation putting the Directus files in htdocs -> subfolder breaks the thumbnail functionality

[2017-11-19 22:13] WellingGuzman commented on #1944
Closed by https://github.com/directus/directus/commit/f70af8d12f94ddcad52b0ce9f8eac472aa5a5576

[2017-11-19 22:13] #1944 closed

[2017-11-20 03:47] vasselva opened #1958 "Not able to download directus vagrant box"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests/voting please use the [Directus Request Tool](https://request.getdirectus.com/), or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be added to GitHub Issues for assignment.

[2017-11-20 03:48] vasselva commented on #1958
Bringing machine 'default' up with 'virtualbox' provider...
==> default: Box 'directus' could not be found. Attempting to find and install...
    default: Box Provider: virtualbox
    default: Box Version: >= 0
==> default: Box file was not detected as metadata. Adding it directly...
==> default: Adding box 'directus' (v0) for provider: virtualbox
    default: Downloading: https://demo.getdirectus

[2017-11-20 14:09] magbeat opened #1959 "Many-To-One changes with VARCHAR Primary Key not Saved"
## Version Info
  - Directus version and branch: current develop branch as of 20-11-2017
  - PHP version: 5.6.32
  - MySQL version: 10.1-MariaDB
  - Web server: (Ex. Apache, nginx or IIS?) Apache
  - OS name and version: FreeBSD

## Expected Behavior

Many-to-One connection with VARCHAR Primary Keys should be saved when editing an item.

## Actual Behavior

Many-to-One connection with VARCHAR Prim

[2017-11-20 16:46] WellingGuzman commented on #1958
Hey @vasselva thanks for reporting this, this has been reported in the `directus-vagrant` repo. (Ref: https://github.com/directus/directus-vagrant/issues/25)

I will try to upload the box once again today, having some issue uploading it.

[2017-11-20 16:46] #1958 closed

[2017-11-20 17:41] WellingGuzman commented on #1959
Fixed by https://github.com/directus/directus/commit/a54043c955f0292bb1e3895ca5d9c043b2f45a96

[2017-11-20 17:41] #1959 closed

[2017-11-20 17:51] WellingGuzman commented on #1950
Thanks @dlaprade for confirming.

For future reference, this issue is fixed on `6.4.4`

[2017-11-20 21:34] magbeat commented on #1959
@WellingGuzman Thanks for the fix! I can now change the value in the database and it's shown in the list and when editing the item it is correctly marked as selected in the dropdown. However I cannot save the item and when changing the relation.

There is an error toast saying: "Server Error
Statement could not be executed (42S22 - 1054 - Unknown column 'id' in 'where clause')"

The logs in full:

[2017-11-20 22:42] benhaynes commented on #1643
I don't remember specifically what the issue was, do you @daddykom? I feel like it was an htaccess issue, but I could be mistaken...

[2017-11-20 22:56] daddykom commented on #1643
It was a problem from the security module of apache. It suppressed some AJAX access.
To solve it i removed 2 security rules in .htaccess with the following code:

<IfModule mod_security2.c>
	SecRuleRemoveById 340155
	SecRuleRemoveById 341155
</IfModule>

[2017-11-20 23:21] tom-wmg commented on #1643
Great. This seems to explain why my server threw a 403 error also when trying to make calls via the  PATCH method of HTTP. FWIW, it's worth noting that PATCH may not be supported by all firewalls (or things like mod_security if using Apache). You may be able to overwrite this in .htaccess, otherwise you may need to configure your rules manually

[2017-11-20 23:29] benhaynes commented on #1643
Thanks for the quick reply @daddykom! Hopefully this continues to help people until we get a formal article written about it.

[2017-11-21 06:58] neocafe opened #1960 "How to modify admin interface"
Hi,
I was wondering if there is any way to use a custom interface on the admin panel for particular usergroup.

For example, I want to display a custom interface when a client of mine login to the CMS but for me as an admin / manager I can use the current default interface.

Any help will be appreciated
Thanks,
Sreejith

[2017-11-21 15:27] moritzw1 commented on #1933
Hi @rijkvanzanten
with the latest update 6.4.4 this error is gone and the thumbnails working flawlessly.

Thanks for your help anyway 👍

[2017-11-21 15:27] #1933 closed

[2017-11-21 16:51] benhaynes commented on #1960
Hello – as of now there is now way to show different interfaces to different users/groups within Core. However, you could simply _extend_ your custom interface to check the current user's group/permission and show a different interface based on the value.

I've never tried that, but it seems like an interesting approach! If you decide to give it a go let us know how it turns out! If that doesn't w

[2017-11-21 16:51] #1960 closed

[2017-11-21 18:23] justindesjardins-thinkingbox opened #1961 "Continuous error accessing global settings after updating CMS logo"
After updating to Directus 6.4.4 I tried changing the CMS logo on the Global Settings screen. The logo has successfully changed, but an error popped up on the screen, and now persists every time I try to access the global settings.

The error is the following:

Uncaught TypeError: Cannot read property 'get' of undefined

## Version Info
  - Directus version and branch: 6.4.4
  - PHP version: 7.0.2

[2017-11-22 10:59] dsivokhin opened #1962 "Can't create new item with Slug field"
## Version Info
  - Directus version and branch: master

## Actual Behavior

Create new item with slug field, have error, without slug field (if change to text_input) no error.

![default](https://user-images.githubusercontent.com/4669992/33124156-435b9d6e-cf8d-11e7-8e27-bab47ead8591.png)

![default](https://user-images.githubusercontent.com/4669992/33124138-31fae782-cf8d-11e7-8a6f-a53b4a8f7337.pn

[2017-11-22 16:09] neran opened #1963 "Hebrew issues on API"
Hebrew values are messed up on API calls due to json_encode function.
Fix:
/api/core/Directus/Application/Application.php, line 140
Change
$response->setBody(json_encode($data));
To
$response->setBody(json_encode($data,JSON_UNESCAPED_UNICODE));

[2017-11-22 17:13] WellingGuzman commented on #1961
Hey @justindesjardins-thinkingbox, make sure this has been fixed in `develop`.

Closed by https://github.com/directus/directus/commit/2c1135cbb44f4157d5e919527ec7baa8b06876ee

[2017-11-22 17:13] #1961 closed

[2017-11-22 17:16] WellingGuzman commented on #1963
Hey @neran can you please show us some example that we can use to reproduce this?

[2017-11-22 17:17] WellingGuzman commented on #1963
Or better yet, if you have a way to fix it, we would love that fix in a PR.

[2017-11-22 17:36] neran commented on #1963
Sure, when I write Hebrew in a table and try to get the items by API, this is what I get:
![screenshot at nov 22 19-30-25](https://user-images.githubusercontent.com/576945/33141477-f3daa8a0-cfbb-11e7-8eef-f5d1e6405e8b.png)

After applying the fix, here's how it looks:
![screenshot at nov 22 19-31-26](https://user-images.githubusercontent.com/576945/33141502-048bf4e2-cfbc-11e7-91c9-5dc783b853eb.png

[2017-11-22 17:37] WellingGuzman commented on #1963
Thanks @neran!

[2017-11-23 15:47] grupie001 opened #1965 "no login after installation"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests/voting please use the [Directus Request Tool](https://request.getdirectus.com/), or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be added to GitHub Issues for assignment.

[2017-11-23 15:49] #1965 closed

[2017-11-24 01:26] busywiththingsalreadyforgotten opened #1966 "Navigation to extensions doesn't always work"
## Version Info
  - Directus version and branch: 607aa12 v6.4.4 (Ruby Rabbit)
  - PHP version: 5.6.31
  - MySQL version: 5.7.19
  - Web server: Apache
  - OS name and version: Windows 10

## Expected Behavior
Clicking on the extension link will navigate to the extension every time

## Actual Behavior
The first time you click on the extension link it works, subsequent attempts do not.

## Steps to

[2017-11-24 06:27] neocafe opened #1967 "Linking issue with foreign keys"
## Version Info
  - Directus version and branch: (Or commit hash)
  - PHP version:  7.1.11
  - Web server: Apache
  - OS name and version: Windows 10

## Expected Behavior
I'm not so sure if this is either a feature request or a bug, what I was looking for is something like this: I have two tables: category & subcategory. Table subcategory has a column named category_id that links category to subc

[2017-11-24 15:54] newah opened #1968 "No visual feedback when deleting M2M elements"
## Version Info
  - Directus version and branch: 6.4.2 release
  - PHP version: 7.1.6-1
  - MySQL version: 14.14
  - Web server: Apache
  - OS name and version: Ubuntu 16.04

## Expected Behavior
Visually remove elements from M2M list (i.e. have 4 speakers. Press X on one, should see effect). No errors in the console.

## Actual Behavior
Visually removed element is still there. After saving, remov

[2017-11-24 16:54] justindesjardins-thinkingbox commented on #1961
I can confirm this has fixed the issue. Thanks @WellingGuzman

[2017-11-24 19:28] WellingGuzman commented on #1963
Hey @neran, I have took you fix and push it myself.

Thanks for the report and the fix.

Closed by https://github.com/directus/directus/commit/3efe10dd8ec7ac569f97bdff8d591562db5da232

[2017-11-24 19:28] #1963 closed

[2017-11-24 20:26] WellingGuzman commented on #1962
Can you give us more information about this? I don't understand the issue.

[2017-11-24 20:28] WellingGuzman commented on #1967
This is a feature request @neocafe. We have talked about this, I don't know where we got in term of design this. @rijkvanzanten @benhaynes?

[2017-11-24 20:36] WellingGuzman commented on #1968
Hey @newah, can you try using the most recent releases? or can you share a example schema that we can use to reproduce this issue?

[2017-11-24 21:23] dsivokhin commented on #1962
Hi @WellingGuzman, steps:
1)Create table with Text input and Slug field
2)Try create new item.
3)Fill "text input" field, "Slug" fied auto input from first field
4)Try save, see error

[2017-11-25 02:15] pravk opened #1969 "ManyToOne Relationship on existing database"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests/voting please use the [Directus Request Tool](https://request.getdirectus.com/), or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be added to GitHub Issues for assignment.

[2017-11-25 14:56] RudolfFussek opened #1970 "jquery-1.11.0.js:9666 GET .... 404()"
Hey,

when I go in the table site, then I have an error:

https://imgur.com/a/lz2Xc

[2017-11-25 16:46] WellingGuzman commented on #1970
Hey @RudolfFussek, what version are you using? and can you share a schema that we can use to reproduce this issue?

Can you also verify what's the output of that request?

[2017-11-25 16:47] WellingGuzman commented on #1969
Hey @pravk would help a lot if you share the schema that we can use to reproduce this issue.

[2017-11-25 17:00] pravk commented on #1969
Please check the schema dump in the issue. I have attached schema of the two tables.

[2017-11-25 17:03] WellingGuzman commented on #1969
thanks @pravk, but I'd need to have the `directus_columns`  records for those specific tables and if any, the records on `directus_tables`, otherwise I won't get the relationship some of those columns have.

[2017-11-25 17:06] pravk commented on #1969
Please find the records in directus columns below:

`INSERT INTO `directus_columns` (`id`, `table_name`, `column_name`, `data_type`, `ui`, `relationship_type`, `related_table`, `junction_table`, `junction_key_left`, `junction_key_right`, `hidden_input`, `required`, `sort`, `comment`, `options`)
VALUES
	(42, 'ps_entity_attribute_meta', 'id_entity_attribute_meta', NULL, 'primary_key', NULL, NULL, NU

[2017-11-25 17:08] WellingGuzman commented on #1969
Thanks I will give it a shot now.

[2017-11-25 18:34] WellingGuzman commented on #1969
Hey @pravk, this issue has been fixed by https://github.com/directus/directus/commit/cea3f7563443135e93546afecdd9e966d49d4f13

Otherwise please confirm.

[2017-11-25 18:34] #1969 closed

[2017-11-25 19:00] pravk commented on #1969
@WellingGuzman thanks a lot for fixing. Confirmed working.

[2017-11-25 19:16] WellingGuzman commented on #1962
What version are you on? I'm not experiencing this in the latest version. can you try the last version `6.4.4`, If possible share a schema if still getting this issue on the latest version.

[2017-11-25 20:11] RudolfFussek commented on #1970
Hey @WellingGuzman, version 6.4.0

Hier a GIF:

http://www.giphy.com/gifs/l2RnyEwbWspXmAlva

[2017-11-26 03:31] WellingGuzman commented on #1970
can you try to upgrade to `6.4.4` and see if it still happens?

[2017-11-26 03:55] WellingGuzman commented on #1945
Closed by https://github.com/directus/directus/commit/5b1f72ba4674871df90f3628fb9dafbb83e7de28

[2017-11-26 03:55] #1945 closed

[2017-11-26 09:07] RudolfFussek commented on #1970
How can I do that? x.x

[2017-11-26 09:20] RudolfFussek commented on #1970
I have do it. Same error 😢

[2017-11-26 09:40] RudolfFussek commented on #1970
I have found the error. It was the wrong url in the settings o.O.... Sorry and thanks for your help!

#1503

[2017-11-26 09:57] RudolfFussek commented on #1970
I have another error when I will make a Dropdown ENUM.

https://imgur.com/a/hSjft

[2017-11-26 09:59] BennerGe commented on #1970
I think this issue should help you:
https://github.com/directus/directus/issues/1925

[2017-11-26 10:03] RudolfFussek commented on #1970
Thanks!

[2017-11-26 10:03] #1970 closed

[2017-11-27 07:51] dsivokhin commented on #1962
@WellingGuzman, This issue played after update 6.4.24 on master. And 6.4.4 on develop too.
my dump - [test.zip](https://github.com/directus/directus/files/1505015/test.zip)

![default](https://user-images.githubusercontent.com/4669992/33255738-0291a798-d360-11e7-8169-a36b8438ad7b.png)

![default](https://user-images.githubusercontent.com/4669992/33255787-326c4fea-d360-11e7-9810-3509ad5cee17.png)

[2017-11-27 16:23] WellingGuzman commented on #1962
Please send a schema that we can use, I've not had luck trying to reproduce this, it's working as expected in my end.

[2017-11-27 16:47] rijkvanzanten commented on #1962
@WellingGuzman There is a zip in the previous comment, isn't that what you are looking for?

[2017-11-27 22:24] WellingGuzman commented on #1962
Oh true, somehow I missed that message when I read it.

Thanks @rijkvanzanten

[2017-11-28 09:17] magbeat opened #1971 "Cannot change timezone of user to Europe/Bern"
## Version Info
  - Directus version and branch: develop branch (a54043c955f0292bb1e3895ca5d9c043b2f45a96)
  - PHP version: 5.6.31
  - MySQL version: 10.1-MariaDB
  - Web server: Apache
  - OS name and version: unknown (Hoster)

## Expected Behavior

Change the Timezone of a User. Everything works.

## Actual Behavior

If we change the timezone of a user to Bern the following error is shown in the

[2017-11-28 12:52] bratsun commented on #1891
Cannot drag'n'drop rows while editing M2M content and tables settings at /admin/settings/tables/*. Latest Chrome. Works in Safari though.

[2017-11-28 14:46] mrtopher opened #1972 "Settings bookmark not working"
## Version Info
  - Directus version and branch: 6.4.24 (latest)
  - PHP version: 7.1.8
  - MySQL version: 5.6.35
  - Web server: Apache
  - OS name and version: macOS High Sierra

## Expected Behavior
When I click on the bookmark listed on the left I expect it to take me to the Global Settings screen where I clicked the bookmark icon next to the page title.

## Actual Behavior
When I click the bo

[2017-11-28 16:03] rijkvanzanten commented on #1891
Could that specific one have been caused by https://github.com/directus/directus/issues/1941 @bratsun?

[2017-11-28 16:08] bratsun commented on #1891
@rijkvanzanten I think yes. was #1941 pushed to master or not yet?

[2017-11-28 19:24] benhaynes commented on #1967
Correct. This "conditional fields" option has been discussed for quite a while. In order to add it into our workstream we need to get it to the top of https://request.getdirectus.com/

Then we'll want to discuss the best way to standardize this type of field. In the meantime, you could always create a custom Interface that updates based on the value of a previous field. If that works well then may

[2017-11-28 19:24] #1967 closed

[2017-11-28 19:37] WellingGuzman commented on #1971
I'm checking, and there's not `Europe\Bern` timezone in php. Ref: http://php.net/manual/en/timezones.europe.php

The array timezone should be flipped, so the value is the timezone. Europe\Bern used to use `Europe\Berlin` timezone

[2017-11-28 20:15] WellingGuzman commented on #1972
I'm not able to reproduce this issue @mrtopher, would you care to share a schema?

What's the name/title of the bookmark?

[2017-11-28 20:43] rijkvanzanten opened #1973 ""Save and add" shows unsaved changes message"
## Version Info
  - Directus version and branch: 6.4.4

## Expected Behavior
Clicking save and add instead of the regular save saves the current and opens a new edit view

## Actual Behavior
Admin shows the unsaved changes warning, but saves regardless and continues execution as expected

## Steps to Reproduce
 1. Add a new row to a table
 2. Select save and stay in the top right

[2017-11-28 21:14] mrtopher commented on #1972
Hi @WellingGuzman, I have a screen recording here so you can get a better idea of what I'm seeing: http://recordit.co/PtiSPdcwME

[2017-11-29 22:00] benhaynes opened #1974 ""Breaks" shouldn't show up in column list"
I'm not sure how we would flag these, but section breaks should not be included in the sidebar on the Item Listing page. They are not data, just presentation items for the detail page.

Any thoughts @rijkvanzanten @WellingGuzman ?

![screen shot 2017-11-29 at 4 58 18 pm](https://user-images.githubusercontent.com/522079/33401267-b52aa87e-d526-11e7-9da7-0b0ca49d8ae2.png)

[2017-11-29 22:39] benhaynes opened #1975 "Can't batch update: choose existing file"
When batch updating items, if you edit a Multiple Files interface and select an existing file it SHOULD save that relational ID to all batch items. However right now you are not given the option to save (action button stays disabled)

[2017-11-30 10:46] WellingGuzman commented on #1973
Closed by https://github.com/directus/directus/commit/fc127c54e56cce5950318d977c8416c2b9f097d1

[2017-11-30 10:46] #1973 closed

[2017-11-30 10:47] WellingGuzman commented on #1972
Thanks for the video, I'm working on a fix.

[2017-11-30 12:28] WellingGuzman commented on #1972
Fixed by https://github.com/directus/directus/commit/a58a92d36f774c4ef164922b6d6d698cb008627e

[2017-11-30 12:28] #1972 closed

[2017-11-30 12:57] newah commented on #1968
@WellingGuzman wasn't able to exclude sensitive company information from the schema... But got to the bottom of this - junction tables were missing Status field ;)

[2017-11-30 12:57] #1968 closed

[2017-11-30 17:05] benhaynes opened #1976 "Single File change not counted as edit"
When I update an item (parent) with a new Single File (relational) it does not update the "Last Update" field on the Item Listing. The ID in the column changed, so this should have been updated.

![screen shot 2017-11-30 at 12 03 59 pm](https://user-images.githubusercontent.com/522079/33443853-a2028690-d5c6-11e7-8f17-08510cf9d865.png)

[2017-12-01 03:35] neocafe opened #1977 "Privilege Option not working as intended"
## Version Info
  - Directus version and branch: Latest Version
  - PHP version: 7.2
  - MySQL version: 5.10
  - Web server: Apache
  - OS name and version: Ubuntu 16.04

## Expected Behavior
When setting the privilege to view only, can view the entries but cannot modify any data which includes files also.

## Actual Behavior
Not seeing the already uploaded file but can see only an upload option.

[2017-12-01 11:08] RudolfFussek opened #1978 "Check if value exist and add +1 in slug"
Hey,

I have a problem. When I generate a article and the slug is setting by the title and I have two articles white the same title the slug don't see it?

Exaple:

Title => Hello boys!
Slug => hello-boys

Another Exaple:

Title => Hello boys!
Slug => Hello-boys-1 <= The 1 because it already gives the article with the Slug.

Is there a setting that the slug checks to see if the slug already exists

[2017-12-01 14:48] rijkvanzanten commented on #1978
Hey @RudolfFussek!

It is currently not possible to have the slug interface to check for uniqueness, but I really like the idea!

In order to add it into our workstream we need to get it to the top of https://request.getdirectus.com/

In the meantime, you could [create a custom Interface](https://medium.com/directus/how-to-create-a-custom-interface-ba8a4b7e72f4) (a copy of slug) that checks the un

[2017-12-01 14:48] #1978 closed

[2017-12-01 15:10] diegogurpegui commented on #1701
Hi everyone. Sorry for not participating that much on this lately.
I just wanted to let you know that this issue seems to no longer be present in the brand new version of Firefox.
Thanks!

[2017-12-01 18:47] WellingGuzman opened #1979 "Item Listing: item highlighting not working"
## Version Info
  - Directus version and branch: 6.4.4

## Expected Behavior
When you save a item and should take you back to the listing table and highlight the item row that was recently saved for couple of seconds. (aka flash the row)

## Actual Behavior

Doing nothing.

## Steps to Reproduce
 1. Go to any table listing
 2. Click on a item
 3. Save that item
 4. Nothing happens

## Schema Dump,

[2017-12-01 21:44] rijkvanzanten opened #1980 "Save and X button not reachable on Firefox"
## Version Info
  - Directus version and branch: 6.4.4 Develop latest
  - OS name and version: Firefox Quantum 57.0.1

## Expected Behavior
Clicking the 3 dots on the save button shows the dropdown options for "save and stay" etc

## Actual Behavior
Clicking the 3 dots saves the item and navigates away (ignores dots)

## Steps to Reproduce
 1. Try save and stay on the newest Firefox

## Schema Dum

[2017-12-03 11:28] joelkennedy opened #1981 "Undefined is not an object (evaluating 'this.structure.get')"
## Version Info
  - Directus version and branch: v6.4.4
  - PHP version: 7.0.13
  - MySQL version: 5.5.50-MariaDB
  - Web server: Apache
  - OS name and version: CentOS 7.2

## Expected Behavior
To be able to save a CMS logo image for Directus

## Actual Behavior
Error "Undefined is not an object (evaluating 'this.structure.get')" when saving the Global Settings page of Directus after inserting an

[2017-12-04 10:55] marwie commented on #1661
Hello, somehow I get an error when I try use the encrypted interface on my server: the error says: "Not found: unknown".

[2017-12-04 12:31] rijkvanzanten commented on #1661
Hey @marwie! Could you please open a new issue detailing your exact problem and server setup so we can reproduce and debug it? Thanks!

[2017-12-04 13:26] jopi2016 opened #1982 "Not possible to add new Item in Table"
Hi,
I am trying to add a new item to a table which is not possible.
What I see is the following:
![grafik](https://user-images.githubusercontent.com/17023802/33554668-f7781d4e-d8fd-11e7-8611-e0f6ce0c2cb8.png)

Firefox 52.1.1. Developer Console shows the following:
Synchrone XMLHttpRequests am Haupt-Thread sollte nicht mehr verwendet werden, weil es nachteilige Effekte für das Erlebnis der Endbenut

[2017-12-04 16:06] Geo719 opened #1983 "Creating new User with exsiting users email overrides original user"
## Version Info
  Latest Docker Image

## Expected Behavior
Creating a new user should be indipendent of any email used.

## Actual Behavior
Creating new User with exsiting users email overrides original user

## Steps to Reproduce
 1. Have Admin (A) user with email XYZ
 2. Create new (admin) user (B), also with email adress XYZ
 3. User data (A) will be updated with user data (B)

[2017-12-04 16:17] MeLlamoPablo opened #1984 "Directus crashes on PHP 7.2 because Object is a reserved keyword"
Hi! I'm getting an error 500 after doing the installation process and logging in for the first time.

## Version Info
  - Directus version and branch: [e54b1ead5c71121dc855668a36bfb20c6e1101c2](https://github.com/directus/directus/commit/e54b1ead5c71121dc855668a36bfb20c6e1101c2)
  - PHP version: `PHP 7.2.0-1+ubuntu16.04.1+deb.sury.org+1 (cli) (built: Nov 30 2017 13:58:33) ( TS )`
  - MySQL version

[2017-12-04 17:40] WellingGuzman commented on #1983
This actually an expected behavior, it may seems confusing though as it's not self explanatory or give the user any warning.

@benhaynes may enlight us a lil bit better, I don't know if this was suppose to only work for non active users or all.

[2017-12-04 17:45] WellingGuzman commented on #1984
Thanks @mellamopablo, I will give this a shot as soon as I get my hand into a ubuntu machine

[2017-12-04 17:49] WellingGuzman commented on #1982
What does the error actually means? It seems odd to me that inserting a new item you get issues with the handlebars files.

Can you share your database dump?

[2017-12-04 17:56] WellingGuzman commented on #1981
Thanks for reporting this, I can't find the commit but I'm almost sure this issue has been fixed in `develop, I'm not near a computer now to confirm it, if you can give it a shot before I do that would be great.

I will come back to either way

[2017-12-05 08:21] jopi2016 commented on #1982
for sure, please find the database dump in the following file
[sql-dump.txt](https://github.com/directus/directus/files/1530219/sql-dump.txt)

[2017-12-05 08:23] jopi2016 commented on #1982
well, the errors basically mean that something in the xml-structure is wrong:
- xml not well formed
- wrong tag, other tag expected
etc.

[2017-12-05 16:27] WellingGuzman commented on #1982
I'm not being able to reproduce this, I will guess that this has to do with your server, probably intercepting static files.

What modules have you apache install? if it's possible, can you give us a url that we can use and see this issue for ourself?

[2017-12-05 17:27] MeLlamoPablo commented on #1984
@WellingGuzman hi, thanks for your answer.

I tried again and this time I thought that I'd provide a more deterministic installation script, since I can't 100% assure that the previous commands would produce the same result. Here it is:

[code]

I deployed it on an AWS EC2 instance with `ami-bf8ecbd3`, which is Ubuntu Server 16.04 LTS. I believe there should be no difference at all with a regular

[2017-12-05 18:51] dlaprade opened #1985 "http status code 200 on runtimeException"
## Version Info
  - Directus version and branch: 6.4.3
  - PHP version: 7.1.11
  - MySQL version: MariaDB 10.1
  - Web server: Apache
  - OS name and version: Debian Jessie Linux

## Expected Behavior
If Directus throws a RuntimeException, a status code of 500 should be thrown.

## Actual Behavior
When Directus server ran out of hard drive space, a RuntimeException was thrown with a status code of

[2017-12-05 22:49] alangv opened #1986 "Api Error 404 from AngularJS"
## Version Info
  - Directus 6.4
  - PHP version: PHP/7.1.5
  - MySQL version: 5.7.18
  - Web server: Apache/2.4.25
  - OS name and version:  (Win64)

## Expected Behavior
I Expect that a response from http request from Angularjs to Directus Api 1.1

## Actual Behavior
I received "Error 404 Not Found"

## Steps to Reproduce
 return $http({
                method: 'POST',
                url: apiv1

[2017-12-05 23:01] rijkvanzanten commented on #1986
Hey @alangv! Could you log the value of `apiv1 + 'auth/request-token'`?

[2017-12-05 23:19] alangv commented on #1986
Yes sure...
apiv1 = "https://www.third.mysite.it/folder/directus/api/1.1/";

[2017-12-05 23:38] WellingGuzman commented on #1986
The url seems okay. Would it be possible to see the raw http request? All the response you get is "Error 404 Not Found"?

[2017-12-05 23:46] alangv commented on #1986
Ok, here you can find more info about the request and the response

![raw2](https://user-images.githubusercontent.com/34287914/33636940-b3e2dade-da1e-11e7-85e8-09436c25036b.PNG)
![raw](https://user-images.githubusercontent.com/34287914/33636941-b4040b1e-da1e-11e7-9ded-ae7e3fa56ba5.PNG)

[2017-12-05 23:47] rijkvanzanten commented on #1986
Could you make sure directus is installed at that location?

[2017-12-05 23:49] WellingGuzman commented on #1986
this could likely be one of two things, is running a non-POST request, or the url is incorrectly as @rijkvanzanten says.

[2017-12-05 23:55] alangv commented on #1986
Like you can see, the request is a post request. Then if I remove "api/1.1/auth/request-token" I can see the login page.
![raw3](https://user-images.githubusercontent.com/34287914/33637167-b71213a4-da1f-11e7-90b4-5c86965c5472.PNG)

[2017-12-05 23:58] WellingGuzman commented on #1986
if you request `GET <your-host>/directus/api/1.1/ping` do you get `pong` back?

[2017-12-06 00:09] alangv commented on #1986
Oh...Finally I have found the solution!
The name of the folder contained lowercase and uppercase characters.
this problem was not noticed using the browser because is not case sensitive.

Thank you very much for the support!
Directus rocks!

[2017-12-06 00:09] #1986 closed

[2017-12-06 00:10] WellingGuzman commented on #1986
Thanks @alangv, glad it was figured it out

[2017-12-06 00:32] WellingGuzman commented on #1984
Hey @MeLlamoPablo, this may be too much to ask, but would it be possible that you can send me the urls so I can try to log in and see the issue by myself? do you get any error dump into the response body? the logs you sent me are not directly from directus?

[2017-12-06 00:34] WellingGuzman commented on #1984
Do you `mod_security` installed?

[2017-12-06 03:23] WellingGuzman commented on #1981
This issue was fixed by https://github.com/directus/directus/commit/2c1135cbb44f4157d5e919527ec7baa8b06876ee

[2017-12-06 03:23] #1981 closed

[2017-12-06 03:23] WellingGuzman commented on #1981
@joelkennedy this will be included in the next version `6.4.5`, in the meantime you can cherry-pick this change or fix it in your local install if you will guiding by this commit.

[2017-12-06 04:21] WellingGuzman commented on #1977
Exactly, this is not an bug, but an actual a confusion with how to use the privileges.

Closing this, otherwise you are experiencing an issue, please be clear and we can take care of it.

Thanks for reporting this issue.

[2017-12-06 04:43] WellingGuzman commented on #1983
I will close this as this is not a bug, but a expected behavior due to email being unique for each users.

On #1237 I'm going to add a comment to make sure we add a warning that the users exists and the current data will be overwriting to the existing user.

[2017-12-06 04:44] WellingGuzman commented on #1237
Make sure to add a warning message that alerts the user when an existing email belong to another existing user when they are trying to create a new user. (Ref #1983)

[2017-12-06 05:14] WellingGuzman commented on #1962
This issue was fixed by https://github.com/directus/directus/commit/17467fd5a375c0914e80689c98d2789fe7c8e602

The user needs to install the `mbstring` php extension.
(Ref: http://php.net/manual/en/book.mbstring.php)

[2017-12-06 05:14] #1962 closed

[2017-12-06 05:21] WellingGuzman commented on #1937
Closed by https://github.com/directus/api-docs/commit/015da7b3bebae89c387d3a3d3bc4a748092d147a

[2017-12-06 05:21] #1937 closed

[2017-12-06 05:35] WellingGuzman commented on #1852
We should discuss this in a separate issue, about how we treat uploading php files and such and a way to reproduce and how avoid each possible conditions.

---

Fixed by https://github.com/directus/directus/commit/4098667afce9571c0d047be02a210b25a3d37e61

[2017-12-06 05:35] #1852 closed

[2017-12-06 06:24] neocafe commented on #1977
@WellingGuzman, I'm not sure if I could agree with.

The problem I'm facing with is that for a set of user's I gave View / Read Permission for a table which had File as one of the columns, now if a user login he / she must be able to view the file. But instead of showing the uploaded file, the user is being shown with an upload button although the upload won't work, it's not possible for the user

[2017-12-06 06:27] WellingGuzman commented on #1971
Closed by https://github.com/directus/directus/commit/039128683e4144460b1c109acb2256bd7dd62a74

[2017-12-06 06:27] #1971 closed

[2017-12-06 06:40] WellingGuzman commented on #1976
This has been already fixed on `develop` AKA `6.4.5-dev`, probably in this commit: https://github.com/directus/directus/commit/1199bcd2367b03a79d12a369f39d52990a08972c

[2017-12-06 06:40] #1976 closed

[2017-12-06 06:44] treechime opened #1987 "Calendar view removes entries with Created Date = NULL from results even after changing to another view"
## Version Info
  - Directus version and branch: (Or commit hash) 6.4.4
  - PHP version: 7.1.1
  - MySQL version: 5.5.56-MariaDB
  - Web server: (Ex. Apache, nginx or IIS?) Apache
  - OS name and version:

## Expected Behavior
Changing View Status to Calendar and then back to Table should return all entries

## Actual Behavior
Only entries with a date associated are returned after returning to Tab

[2017-12-06 06:55] WellingGuzman commented on #1987
Thanks @treechime for reporting this issue, I'm taking a look at it right now.

[2017-12-06 07:27] WellingGuzman commented on #1987
Fixed by https://github.com/directus/directus/commit/89f0fb1c6adace1880196b2af5a9eef61c121434

[2017-12-06 07:27] #1987 closed

[2017-12-06 08:19] WellingGuzman commented on #1977
This has been a discussion we have been doing for long time, but it make sense to not display related data if the user has not permission to view the related table content.

[2017-12-06 09:48] frappierer opened #1988 "Dropdown Values Empty"
## Version Info
I used the docker under: https://github.com/directus/directus-docker

## Expected Behavior
I tried the example https://www.youtube.com/watch?v=rLodHE3e7Os&list=PLD--x9rY3ZL31stRPkA4FdGC4idIM-8-d&index=2
When you come to the point to relate the photo to a user the user dropdown where you choose the "Uploader" should display all user names which were created within the user table.

#

[2017-12-06 12:28] neocafe commented on #1977
Hi @WellingGuzman Yes it makes sense to not display the related data if the user has not the permission to view related data.

But, I have a table that provides user with the read permission. Now if I provide access to the related table: directus_files I will be indirectly providing access to all files that is uploaded ( by accessing the File Library ). Or else is there any way to provide access t

[2017-12-06 12:34] neocafe commented on #1977
At the very least, I believe it would be better to not display the upload button where the uploaded file would have been. Wouldn't that confuse a user more?

[2017-12-06 12:45] airbenich opened #1989 "Thumbnailer doesn't accept uppercase file extensions"
## Version Info
  - Directus version and branch: 6.4.4 develop
  - PHP version: 7.1
  - MySQL version: n/a
  - Web server: PLESK with Apache & nginx for static data
  - OS name and version: CentOS

## Expected Behavior
Calling an image file via the thumbnailer with an uppercase file extension (.JPG) should return the processed file.

## Actual Behavior
Calling an image file via the thumbnailer wit

[2017-12-06 12:52] MeLlamoPablo commented on #1984
@WellingGuzman sure thing, go here: http://52.67.108.238/login.php

and login with

[code]

You should get:

[code]

`mod_security` is not installed. I created a phpinfo file so you can get more details: http://52.67.108.238/phpinfo.php

To random internet strangers logging in, don't troll this please. You're not gonna find anything valuable.

[2017-12-06 13:27] rijkvanzanten commented on #1983
is this really expected @benhaynes @wellingguzman? I feel like it shouldn't allow creation (POST) when it already exists.. Only updates

[2017-12-06 13:28] rijkvanzanten commented on #1962
Is that requirement documented somewhere @wellingguzman?

[2017-12-06 13:29] rijkvanzanten commented on #1852
In what issue? Did you open a new one? @wellingguzman

[2017-12-06 13:45] benhaynes commented on #1983
The reason is that disabled users are inaccessible, and if you go to recreate or invite that user again it would fail.

I think the best solution would be to warn that a user with that email already exists and that you will overwrite if you continue.

I disagree with closing this ticket and moving it to the "friendly errors" ticket. That makes these individual issues harder to track. Let's reopen

[2017-12-06 14:23] WellingGuzman commented on #1852
@rijkvanzanten I missed the pointed out we should talk what @parnas, was talking about uploading php files and the other extensions that I can run in another ticket, as it's a separate security issue. which is how we prevent future extensions.

I'm not too much concern as we can add it as they are coming up, and if they can set up weird extensions that out of hands. Again if there's a better way t

[2017-12-06 14:24] WellingGuzman commented on #1962
Yes, added by https://github.com/directus/docs/commit/39a1c8831e9a50405b7b7f6b8ca49a77ba5bbf7a

[2017-12-06 14:30] neocafe commented on #1984
@MeLlamoPablo as of PHP 7.2 Object is a reserved keyword and this is causing the problem.

Ref: http://php.net/manual/en/reserved.other-reserved-words.php

[2017-12-06 14:31] WellingGuzman commented on #1988
Hey @frappierer you have to set the visible columns.

See here: https://youtu.be/rLodHE3e7Os?t=3m7s

[2017-12-06 14:31] #1988 closed

[2017-12-06 14:34] MeLlamoPablo commented on #1984
Does Directus not support PHP 7.2? Because I couldn't find that anywhere in the docs

[2017-12-06 14:35] WellingGuzman commented on #1984
I'm currently installing php because of @neocafe said. We haven't tested it yet, but I would assume they would be trying fatal error from 7.1 to 7.2

[2017-12-06 15:12] WellingGuzman commented on #1989
Thanks for reporting this @airbenich

Fixed by https://github.com/directus/directus/commit/6465f5c22911d114d84eb6196b7ae4baa0a65adb#diff-826cf7323c9db3aaac7d76b506f70104R227

[2017-12-06 15:12] #1989 closed

[2017-12-06 15:17] benhaynes commented on #1977
OK, I think there is some confusion going on here, let me clear things up:

**Single File Interface:**
Read Blacklist= true (the user should see the image in the interface if `directus_files` are read=true)
Write Blacklist = false (the upload/choose/url/remove buttons should be hidden/disabled)

**Directus Files Table:**
Read/View = true (the user can see all files)
Create/Add = true (can upload i

[2017-12-06 15:26] WellingGuzman commented on #1977
I agree on the button, but with the rest and more confusing because @benhaynes understood something else.

Let's clear things up.

---
also ben I think it better to point out that if a user can see/read/view only their upload files as well.

Shouldn't be the other way around, if the read is not black listed?

[2017-12-06 15:30] benhaynes commented on #1977
I updated my comment, I had the blacklist values backwards

[2017-12-06 15:51] MeLlamoPablo commented on #1984
I just tried with PHP 7.1, and can confirm that it's working fine. I'll stay in 7.1 until this is fixed then.

[2017-12-06 16:00] neocafe commented on #1984
@MeLlamoPablo Maybe this will be the most laziest !dea ever :P

I was able to make it work after renaming the folder "Object" @ /var/www/html/vendor/zendframework/zend-db/src/Metadata  to "ZObject"

and then on the file at /var/www/html/vendor/zendframework/zend-db/src/Metadata/Source to
"use Zend\Db\Metadata\Object" to  "use Zend\Db\Metadata\ZObject"

Also run command "composer dump-autoload"

Th

[2017-12-06 16:03] neocafe commented on #1984
But still is getting the error
Warning: count(): Parameter must be an array or an object that implements Countable in /var/www/html/vendor/zendframework/zend-db/src/Sql/AbstractSql.php on line 244

[2017-12-06 16:05] MeLlamoPablo commented on #1984
As for the error, seems easy enoguh to fix. I believe [this](https://github.com/wellingguzman/zend-db) is the repo in question.
As for the warning, indeed that should be adressed as well.

[2017-12-06 16:45] WellingGuzman commented on #1984
Exactly, I can update in our fork version and that would do the trick.

[2017-12-07 09:30] dsivokhin opened #1990 "Browser freezes and stop working when save item with M2M"
## Version Info
  - Directus version and branch: develop
  - PHP version: 7.0
  - MySQL version: 5.7
  - Web server: nginx
  - OS name and version: Ubuntu16.04

## Actual Behavior

When many many item  in relation field M2M, when I try save, browser freezes, long time and stop working. ( Windows10, Chrome and Firefox latest version)
Can you optimization this ?

## Steps to Reproduce
 1. import my

[2017-12-07 10:26] ninjabachelor opened #1991 "Support DigitalOcean Spaces with "endpoint" attribute in S3 configuration"
Hi,
DigitalOcean Spaces uses the same API as Amazon S3.
Flysystem requires to have an "endpoint" attribute as specified [here](https://github.com/thephpleague/flysystem-aws-s3-v3/issues/127).

Is "endpoint" the equivalent of "root_url" in Directus configuration? Like:

[code]

Or would it be necessary to have an additional attribute? Like:

[code]

Thanks!
Alberto

[2017-12-07 16:03] benhaynes commented on #1990
Could this be that your server is timing out? It seems that this is a schema/architectural issue... though I agree it should still work with 100+ relational items.

Any ideas for how to optimize this save process to accommodate so many items being saved at once?

[2017-12-07 16:23] rijkvanzanten commented on #1891
I believe it is yes @bratsun

[2017-12-08 03:33] WellingGuzman commented on #1991
Closed by https://github.com/directus/directus/commit/3ae29736b09e629c6d54738bae6f4060c8969b9c

[2017-12-08 03:33] #1991 closed

[2017-12-08 08:28] GaneshKandu opened #1992 "Getting Error During Installation"
## Version Info
  - Directus version and branch: 6.4.4 master
  - PHP version: 5.5
  - MySQL version: 5.5
  - Web server: (Ex. Apache, nginx or IIS?) Apache
  - OS name and version: Centos 2.2.31

## Actual Behavior

**Fatal error**: Arrays are not allowed in class constants in **api/core/Directus/Permissions/Acl.php** on line **38**

## Steps to Reproduce
 1. install Directus 6.4.4 on php 5.5

##

[2017-12-08 08:31] GaneshKandu commented on #1992
i have installed Directus with Recursive 777 file permission
what file and folder should be writable for Directus in not checked in requirement part of installer

[2017-12-08 13:38] ttm-github opened #1993 "Server error trying to manage Address in MySQL Sakila test DB"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests/voting please use the [Directus Request Tool](https://request.getdirectus.com/), or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be added to GitHub Issues for assignment.

[2017-12-08 15:38] WellingGuzman commented on #1992
Hey @GaneshKandu, thanks for letting us know, we have changed the message. it will be reflected on 6.4.5. (Ref: https://github.com/directus/directus/commit/358f8653712154376ce4fb24144c603664080147)

After changing this can you install correctly or still having issue?

[2017-12-08 15:44] WellingGuzman commented on #1993
I'm not being able to reproduce this, can you look into your http request that returns "Server Error", and share the response body?

[2017-12-08 17:26] GaneshKandu commented on #1992
Hi @WellingGuzman  Thanks
What files and folders should be writable to run Directus?

i will let you know tomarrow

[2017-12-09 10:03] GaneshKandu commented on #1992
Thanks ! Working on PHP 5.6

[2017-12-09 10:18] GaneshKandu commented on #1992
Hi What are File permissions
![screenshot-webuzo web-2017-12-09-15-43-10](https://user-images.githubusercontent.com/12833130/33794742-d16c582e-dcf7-11e7-8174-2a56a7fcacf1.png)

Fatal error: Uncaught exception 'PDOException' with message 'SQLSTATE[42S02]: Base table or view not found: 1146 Table 'directus644.directus_tables' doesn't exist' in vendor/zendframework/zend-db/src/Adapter/Driver/Pdo/Stat

[2017-12-10 17:44] vtmx opened #1994 "Suggestion custom logo for login screen"
## Suggestion

![logo-for-login-screen-01](https://user-images.githubusercontent.com/8462885/33807606-a1b86ce8-ddc0-11e7-994d-2b53a2c30f1c.PNG)

![logo-for-login-screen-02](https://user-images.githubusercontent.com/8462885/33807608-a5b89674-ddc0-11e7-9318-c3515e2476a6.PNG)

[2017-12-10 19:52] RudolfFussek opened #1995 "Lightbox"
Is there a Lightbox option in the editor?

[2017-12-10 22:23] rijkvanzanten commented on #1995
What editor? What are you talking about?

[2017-12-10 23:23] theideaofnorth2 commented on #1950
Hello dear directus team,

I am using
- directus 6.4.4
- directus php sdk 1.0

And I am still seeing this issue when making a request from the php sdk (with the odd limit of 204 items).
However, when I request the tables from directus itself (not from the php sdk), the issue doesn't occur. Should the php sdk also be updated to have the bug fix?

Thanks,
Vincent

[2017-12-11 00:35] RudolfFussek commented on #1995
In WYSIWYG Full!

<img width="972" alt="bildschirmfoto 2017-12-11 um 01 34 45" src="https://user-images.githubusercontent.com/13014306/33811429-96119d1c-de13-11e7-90e8-6f187d62bd6b.png">

[2017-12-11 08:13] michchan opened #1996 "One-To-Many field UI does not show any item"
## Version Info
  - Directus version and branch: 6.4.4 (latest)
  - PHP version: 5.6.32
  - MySQL version: 5.7.20
  - Web server: Apache
  - OS name and version: SUSE Linux Enterprise Server 12 SP3 (x86_64)

## Expected Behavior
The One-To-Many field UI should show up a list of items.

## Actual Behavior
The **UI does not show any item**, while the API response does.

## Steps to Reproduce
 1. Cre

[2017-12-12 09:05] michchan commented on #1996
Solved, datatype mismatch problem. The “many” table’s field (xxx_id), which points to “one” table’s id, should be of datatype INT.

[2017-12-12 09:05] #1996 closed

[2017-12-12 12:18] airbenich opened #1997 "missing auto populate button for ui time"
## Version Info
  - Directus version and branch: 6.4.4 develop
  - PHP version: 7.1
  - MySQL version: n/a
  - Web server: PLESK with Apache & nginx for static data
  - OS name and version: CentOS

## Expected Behavior
The Time UI in directus should have an option to switch on and off the auto population.

## Actual Behavior
Auto-Populate is default when field ist empty / null.

[2017-12-12 14:09] RudolfFussek commented on #1995
And a button for a text color would be great!

[2017-12-12 16:21] benhaynes commented on #1995
Hey @RudolfFussek – all feature requests should happen here: https://request.getdirectus.com

If you'd like to discuss other points with the community that can happen in our slack: https://slack.getdirectus.com

[2017-12-12 16:21] #1995 closed

[2017-12-12 16:23] benhaynes commented on #1994
Thanks @vtmx – all feature requests should be submitted over here so things start organized and can be voted on by the community: https://request.getdirectus.com

Or send over a PR! 😉

[2017-12-12 16:23] #1994 closed

[2017-12-12 16:25] benhaynes commented on #1997
Thanks @airbenich – all feature requests should be submitted over here so things start organized and can be voted on by the community: https://request.getdirectus.com

Or send over a PR! 😉

[2017-12-12 16:25] #1997 closed

[2017-12-12 17:06] kjj77 opened #1998 "login stuck forever on data loading - javascript error in console"
## Version Info
  - Directus version and branch: (Or commit hash) 6.4.4
  - PHP version:  5.6.28
  - MySQL version: mysqlnd 5.0.11-dev - 20120503
  - Web server: (Ex. Apache, nginx or IIS?) Apache
  - OS name and version: Windows 10

## Expected Behavior
After using it for a day to create my tables, relationships etc., when I now try to login it's stuck forever on loading data. Tested on Chrome, C

[2017-12-12 19:05] kjj77 commented on #1998
Here it is, thanks !
[directus (3).zip](https://github.com/directus/directus/files/1552920/directus.3.zip)

[2017-12-13 04:50] vtmx commented on #1994
Thanks.

2017-12-12 14:23 GMT-02:00 Ben <notifications@github.com>:

--

   -
- *Website:* vitormelo.com.br
   - *Facebook:* facebook.com/vitormelo22
   <https://www.facebook.com/vitormelo22>
   - *Google Plus:* plus.google.com/+VitorMelo22/
   - *Linkedin:* linkedin.com/in/vitormelo

[2017-12-13 07:45] GaneshKandu commented on #1992
Hi

this following permissions are checked by Directus installer

Logs Directory Writable (../api/logs/) 	Yes
Media Directory Writable (/storage/uploads) 	Yes
Config File Writable (../api/config.php) 	Yes

i think it permissions should be

Logs Directory Writable (../api/logs/) 	Yes
Media Directory Writable (/storage/uploads) 	Yes
Config File Writable (../api/config.php) 	Yes
Config File Writable

[2017-12-13 14:42] jedimonkey opened #1999 "M2M relationships with no duplicates buggy - multiple records still created"
## Version Info
  - Directus version and branch: (Or commit hash) 6.4.4
  - PHP version: 7.1.9
  - MySQL version: 5.5
  - Web server: (Ex. Apache, nginx or IIS?) Nginx (running from docker)
  - OS name and version: Docker container

## Expected Behavior
When creating a M2M relationship, you create a junction table which tracks the relationships.  Enabling 'no duplicates' should mean that no duplic

[2017-12-14 10:50] kjj77 commented on #1998
Hi guys, just to test I completely wiped my database and directus folder, and did a clean reinstall with git + composer, and a clean db install. And I had the same problem at the login again, without ever entering Directus myself ! The only way to make it work on my machine is to actually download it from the build version (on the getdirectus.com site). That works flawlessly (until, I guess, the p

[2017-12-15 15:09] jopi2016 commented on #1982
Hi, thanks for your feedback.
According to <?php print_r(apache_get_modules()); ?> I have the following apache modules:
`Array
(
    [0] => core
    [1] => mod_win32
    [2] => mpm_winnt
    [3] => http_core
    [4] => mod_so
    [5] => mod_access_compat
    [6] => mod_actions
    [7] => mod_alias
    [8] => mod_allowmethods
    [9] => mod_asis
    [10] => mod_auth_basic
    [11] => mod_authn_core

[2017-12-15 20:57] shevaroller opened #2000 "Unable to upload a CMS Thumbnail URL"
## Version Info
  - Directus version: v6.4.4
  - PHP version: 7.1.7
  - MySQL version: 5.7
  - Web server: Apache2
  - OS name and version: Docker 17.12.0-ce-rc2
  - File system: AWS S3

## Expected Behavior
 - Choosing an existing image for the admin panel logo should work.
 - Importing an image from the url  for the admin panel logo should work.

## Actual Behavior
 - Choosing an existing image

[2017-12-16 07:04] jedimonkey commented on #1998
We had a similar sort  of issue earlier this week. I've set up a running docker instance and we have been happily using it for a couple of weeks.  But then one morning, both me and another developer were unable to log in.  Similar problem to you - just sat there loading data.  The api kept working and the db was accessible (I had a phpmyadmin talking to it fine).  I had to leave it to work on some

[2017-12-16 17:00] michlschmitt commented on #1759
I upgraded to the last bundled version (6.4.4) and I still can't resize the editor on Mac with High Sierra. Any updates on this?

[2017-12-18 06:23] WellingGuzman commented on #2000
Hello @shevaroller this issue has been fixed by https://github.com/directus/directus/commit/2c1135cbb44f4157d5e919527ec7baa8b06876ee. (maybe duplicated https://github.com/directus/directus/issues/1961?)

We will be releasing 6.4.5 tomorrow.

[2017-12-18 06:23] #2000 closed

[2017-12-18 06:24] WellingGuzman commented on #1999
Hey @jedimonkey, are the columns the exact data type? probably there's a bug in the API returning the actual type, can you confirm the API is returning the actual data type?

[2017-12-18 06:32] WellingGuzman commented on #1998
Maybe this is an issue with your "directus_path" in your `config.php`? I wonder why do you the browser is looking for a `main.js` which should be bundled into the `directus.min.js` file.

When you git clone, which branch do you use?

I'd call cache, but as you mentioned that you tested in different browser, that idea fall behind.

[2017-12-18 20:05] BennerGe opened #2004 "User can see item, although permission is set to 'only see own'"
## Version Info
  - Directus version and branch: 6.4.4

## Expected Behavior
User should only see his own table items, when permissions are set to 'only see own items'.

## Actual Behavior
User can see table items of admin (probably also from other users, not tested).

## Schema Dump, Logs, or Screenshots
These are the group permissions, seen from admin account:
![group_permission](https://user-im

[2017-12-19 15:25] CarlLindsay commented on #1982
I'm receiving the same issue, using the docker container version.

Did you find a solution or the problem @jopi2016 ?

[2017-12-20 10:32] rmNyro opened #2005 "[Feature Request] possibility to hide junction table"
Hi everyone,

I want to start by saying I like your product very much (altho I'm sad you use relational database, I think it'd be better with some noSQL or something more "fluid", but that's another topic).

I recently have seen a behavior that is to me not user friendly.
I wanted to have a many-to-many relation so I created a basic junction table like so :

| TABLE                      |
|-------

[2017-12-20 11:49] jopi2016 commented on #1982
Unfortunately I didn't find a solution to my problem.

[2017-12-20 18:54] rijkvanzanten commented on #2005
Hey @rmNyro!

Have you tried the _Hide Table_ option in the junction table's settings view? That sounds like exactly what you are looking for :) This option hides the table for every user, but still allows Directus to manage it.

![image](https://user-images.githubusercontent.com/9141017/34222234-d94dee4c-e588-11e7-945b-4b6fe14c26d0.png)

If that's too "global" for you, you could also blacklist th

[2017-12-20 18:54] #2005 closed

[2017-12-20 23:08] rijkvanzanten opened #2006 "O2M Fails silently when wrong datatype is used for related table"
## Version Info
  - Directus version and branch: 6.4.5 release

## Behavior
When the "wrong" datatype is used for the related primary key field, the O2M doesn't display the selected values. They are saved however.

For example in this table structure:

**Table A**

| column | interface | datatype |
|-------|-----|-------|
| id | primary_key    | INT |
| relation | one-to-many | ALIAS |

**Table B*

[2017-12-21 03:56] ajzozakiewicz commented on #1688
Getting Same error on multiple fresh installs. config.php was generated correctly.

stack:
- ubuntu 16.04.3 x64
- php 7.0.22
- nginx
- MySql  5.7.20

[2017-12-21 08:45] rmNyro commented on #2005
Well, I completely missed the feature. I think it'll work perfectly in my case.
But I think it's is indeed too "global".
Anyway, thanks for the tip. :)

[2017-12-21 11:41] BennerGe commented on #2004
And the other way around, users cannot edit their own items, even when permissions for ```edit``` are set to ```allow edit own items```

[2017-12-21 14:17] stoconnor opened #2007 "Field 'sort' doesn't have a default value"
## Version Info
  - Directus version and branch: master - 257a1319e1f44a212aa728c89539cfccf056a832 (19/12/17)
  - PHP version: 4.7.4
  - MySQL version: 5.7.19
  - Web server: Apache
  - OS name and version: Win 10

## Expected Behavior
When inserting to the table via the API, record is correctly inserted

## Actual Behavior
An error occurs on insert due to missing default value on the sort column.

[2017-12-21 14:43] dsivokhin opened #2008 "Sorting drag and drop problem"
## Version Info
  - Directus version and branch:  master

## Actual Behavior

After last update, try sort items in table

![default](https://user-images.githubusercontent.com/4669992/34259617-08539c5a-e674-11e7-8c98-12beef695939.png)

![default](https://user-images.githubusercontent.com/4669992/34259634-15d0af58-e674-11e7-9548-542f1d2d709d.png)

[2017-12-21 19:28] WellingGuzman commented on #2008
Hey @dsivokhin, can you please share a schema that we can use to replicate this issue?

[2017-12-21 20:27] WellingGuzman commented on #2004
Hey @BennerGe, How the table looks like? the table must have a  `user_created` interface to make sure who's the owner of the record.

[2017-12-21 20:27] #2004 closed

[2017-12-22 06:57] 1zaak opened #2010 "Msgpack support?"
Just a suggestion for Directus API. Any plans to support msgpack as an alternative to JSON?

[2017-12-22 07:54] dsivokhin commented on #2008
Hello, @WellingGuzman
[test.zip](https://github.com/directus/directus/files/1581784/test.zip)

[2017-12-22 08:25] amexperts opened #2011 "Any plans for GraphQL"
Hi there,
Just wondering if there are any plans for GraphQL in the future?

Cheers
Adam

[2017-12-22 09:32] BennerGe commented on #2004
That was the missing point, thank you. :+1:
Maybe a little hint above the permission table in the app would be helpful.

[2017-12-22 14:14] benhaynes commented on #2011
Hey Adam – as of now we plan on adding GraphQL in version 7.1, although it could bump up to 7.0 if it gets enough traction on https://request.getdirectus.com

[2017-12-22 14:14] #2011 closed

[2017-12-22 14:16] benhaynes commented on #2010
It's not on or roadmap as of now, but it could be if added and upvoted enough on https://request.getdirectus.com

Thanks for the suggestion!

[2017-12-22 14:16] #2010 closed

[2017-12-22 15:27] rijkvanzanten commented on #2004
I don't know if a permanent note is the best option, since it's not applicable to all permissions, but it should at least be documented somewhere. I should add it as a note to the medium article about permissions. @wellingguzman, could you check if it's in the regular docs?

[2017-12-23 00:45] amexperts commented on #2011
Awesome. Thanks

[2017-12-23 16:09] vkammerer commented on #1950
Hello,

Should this issue be reopened? I am still having the same issue as @theideaofnorth2

[2017-12-23 16:26] rijkvanzanten opened #2012 "Public group has options for nav override"
## Version Info
  - Directus version and branch: Directus 6 latest

The public group has options for nav override and nav blacklist in the permissions group view, but you can't login as a "public" user to begin with, so these are never being used.

[2017-12-26 05:18] WellingGuzman commented on #2010
@1zaak Also you can use the `response` filter to change the output value. But probably have to change the response content type.

Ref: https://github.com/directus/docs/blob/master/developer-guide/hooks.md

[2017-12-28 15:39] jakub-czyz commented on #1567
I am using the latest version 6.4.5 and have the exact problem as described above.
I have a table with items and elements. In the item is a WYSIWYG Full editor and junction to table with elements. If i create or edit a junction element and go back to my item, then is my WYSIWYG editor destroyed.
But that only happens if there is a field with "WYSIWYG Full" in my element.
I have already tried diffe

[2017-12-28 22:22] cjstage opened #2013 "Query Failure using Many to Many when saving an item"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests/voting please use the [Directus Request Tool](https://request.getdirectus.com/), or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be added to GitHub Issues for assignment.

[2017-12-29 19:45] tom-wmg commented on #1984
Running into the same bug on PHP 7.2 FTW ;)

[2017-12-29 20:31] 1zaak commented on #1984
Yup same issue here as well.

[2018-01-02 13:21] Nicolaidavies commented on #2013
I am facing the same issue.

Running version 6.4.2 from https://github.com/directus/directus-docker.

Happy to provide full bug report if necessary.

Logs are pretty much identical to the ones above:

Next RuntimeException: This query failed: INSERT INTO `directus_activity` (`activity`) VALUES ('3') in /var/www/html/api/core/Directus/Database/TableGateway/BaseTableGateway.php:783
Stack trace:
#0 /

[2018-01-02 22:47] NTmatter opened #2017 "IPv6 addresses incompatible with directus_activity.logged_ip"
## Version Info
  - Directus version and branch: 6.4.5+20171218214440 e330fa8dfaed4e9549b549cab250abde9738bf1b
  - PHP version: PHP 7.0.22-0ubuntu0.16.04.1
  - MySQL version: mysql  Ver 14.14 Distrib 5.7.20
  - Web server: Apache/2.4.18 (Ubuntu)
  - OS name and version: OSX 10.11.6

## Expected Behavior
IP address logged.

## Actual Behavior
Activity is not logged, error is displayed.

## Steps to

[2018-01-03 10:15] ericsonluciano opened #2018 "mod_rewrite was no even enabled it."
## Version Info
  - Directus version and branch: (Or commit hash) v6.4.5
  - PHP version: 7.0
  - MySQL version: 5.7.0
  - Web server: (Ex. Apache, nginx or IIS?)  Apache and Nginx (Yes i try both)
  - OS name and version:  Ubuntu 16.04

## Expected Behavior
from installation of directus pre-installation setup the mod_rewrite was **Yes** but the permission of config.php is not writable. then after

[2018-01-04 20:40] WellingGuzman commented on #1886
Closed by https://github.com/directus/directus/pull/2014/commits/e55a1ccbf6ca806da57485b763ecc0c21bbd48fb

[2018-01-04 20:40] #1886 closed

[2018-01-04 22:55] WellingGuzman commented on #1974
Closed by https://github.com/directus/directus/pull/2016/commits/51eba4edad70ffa4fc8e4aa7e9ef78feba1ab35c

[2018-01-04 22:55] #1974 closed

[2018-01-06 13:56] Faey2222 commented on #1685
Unfortunately I have the same issue with the current version "6.4.5-20171218214440".

PHP 5.6.32 (cli)

Linux lupus.uberspace.de 2.6.32-696.18.7.el6.x86_64 #1 SMP Thu Jan 4 17:31:22 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

[2018-01-07 14:47] mbaljeetsingh opened #2019 "Unicode Characters Displaying Issue"
I'm trying to add translations for the body in the posts table. I'm trying to add the translations for 3 languages English, Punjabi and Hindi for the body field. During Create the characters show, but when I try to edit the post, then the body for the translation field shows ???? for both Punjabi and Hindi.

## Version Info
  - Directus version and branch: (Or commit hash) 6.4.0
  - PHP version: 7

[2018-01-07 17:50] WellingGuzman commented on #2019
Hey @mbaljeetsingh, what's that field charset? when you go the database the value is saved correctly? make sure you set the charset to `utf8mb4` in Directus configuration (`api/config.php`) and your fields/table/database.

[2018-01-08 04:26] mbaljeetsingh commented on #2019
Hi @WellingGuzman, charset is set to `utfmb4` in the Directus configuration `api/config.php`. But, field charset was different, If changed it to `utf8mb4_unicode_ci` from the PHPMyAdmin interface, now it seems to be working fine.

But now the problem is, do I have to change it for every field. Can we make it default for every field from the interface?

.......................................
**Dir

[2018-01-08 04:28] WellingGuzman commented on #2019
If you change your database default charset, every new table/column will get the database charset by default.

Try doing that, changing the table or the database charset to `utf8mb4`.

[2018-01-08 04:33] WellingGuzman commented on #2019
Thanks for the information on Strapi vs Cockpit vs Directus.

Which databases does this product uses? either way I will take a look at it.

Keep in mind we are working on optimizing the API response time, any help, suggestion is really welcome. Plus enabling cache should improve the response time.

Also, adding `?meta=0` to the url should make a bit more of difference in time response. This will r

[2018-01-08 04:37] mbaljeetsingh commented on #2019
**Directus** is using **MySQL**.
**Strapi** is using **MongoDB**.
**Cockpit** is using **Sqlite**.

Tried adding `?meta=0`, there's slight increase like `5ms`

[2018-01-08 04:42] WellingGuzman commented on #2019
Thanks for the info, it makes sense the speed difference though, but we can still make it go down a little bit more too when using MySQL.

Increase? well, that should not have happened. If this is a constant issue. (trying multiple times keep getting up rather than down, please open a new ticket so we can follow up separately)

---

Closing this as the main issue has been resolved, we can still di

[2018-01-08 04:42] #2019 closed

[2018-01-08 04:53] mbaljeetsingh opened #2020 "Slow API response time"
Hey @WellingGuzman
**Directus** has all the features I need for my next project. But there's one more issue related to speed, I have created the same API with **directus**, **cockpit** and **strapi**. Also, added the same data. But, Directus is taking longer than the others to return almost the same amount of data. In that case half the data.

**Directus (via Postman)**
![directus](https://user-im

[2018-01-08 17:53] supercranky commented on #1935
Any update on this? I'm also in need of image thumbnails in the "Choose Existing" view!

[2018-01-08 17:55] WellingGuzman commented on #1935
No update @supercranky, any time this week we will bring back the missing thumbnail to the listing table.

[2018-01-08 21:37] WellingGuzman commented on #2013
Hey @cjstage, @Nicolaidavies  thanks for the report/logs, would it be possible to share the schema (mysql dump) of the database you are using, in order to us replicate this issue?

[2018-01-08 21:52] WellingGuzman commented on #2017
Thanks @NTmatter.

Closed by https://github.com/directus/directus/commit/c268ec48e90eab44f2784af3fae748ad5cbced10

[2018-01-08 21:52] #2017 closed

[2018-01-08 22:37] WellingGuzman commented on #2018
Closed by https://github.com/directus/directus/commit/77ebc0069dd67bfa4da8879b99fc4a78fa01aac4

[2018-01-08 22:37] #2018 closed

[2018-01-08 22:39] WellingGuzman commented on #2020
This ticket has been copied from https://github.com/directus/directus/issues/2019#issuecomment-355882447

[2018-01-09 08:54] Nicolaidavies commented on #2013
@WellingGuzman please find a dump here: https://www.dropbox.com/s/9hvp7ha4647d9i6/backup.sql?dl=1

[2018-01-09 17:33] supercranky commented on #1935
Fastastic! Awesome work btw!!

[2018-01-09 21:16] john-kurkowski commented on #1316
Looks like the fix was undone? Still need the workaround? [This `$type`](https://github.com/directus/directus/blob/6.4.5/api/core/Directus/Filesystem/Files.php#L239) is never initialized, unless I use the workaround format from [the previous comment](https://github.com/directus/directus/issues/1316#issuecomment-268882052).

[2018-01-09 21:25] simonking76 opened #2021 "WYSIWYG editor not appearing in translations interface"
## Version Info
  - Directus version and branch: 6.4.5 – 93ceb86f3171e7369d6bd376d2cd8c13024edd28
  - PHP version: 7.0.25
  - MySQL version: 5.5.58
  - Web server: Apache 2.4
  - OS name and version:  ubuntu 14.04

## Expected Behavior
Following the [Multilingual Content Setup](https://medium.com/directus/multilingual-content-setup-in-directus-i18n-4f243f72e554) the fields were created as describe

[2018-01-10 09:11] WellingGuzman commented on #1316
Hey @john-kurkowski, would you care to share the code you are using to trigger this issue/bug?

[2018-01-10 10:55] rmNyro opened #2022 "Repeatedly disconnected "due to inactivity" randomly after any? action"
Hi,

Long story short, I came to work today and I had that annoying bug which kicks me almost randomly "due to inactivity". I managed to check the timer but the value is `120` and changing it doesn't do a thing...
Yesterday I did some automated (~130 entry added) import through the api. Worked like a charm, no problem whatsoever.

Today I needed to check something in the interface before testing b

[2018-01-10 11:20] rmNyro commented on #2022
There's another thing.
I'm using a managed cloud based database and apparently I got a spike in RAM usage up to my quota.
The database didn't break or anything but maybe it induced the bug?
We restarted the Mariadb server but I got only a "small" improvement (not sure it is one actually), I mean I'm able to 1 or 2 actions more... xD

Could it be that directus use more RAM as the database grows?
In

[2018-01-10 15:46] philleepflorence commented on #2008
Also getting this error when sorting, any updates?

[2018-01-10 18:25] john-kurkowski commented on #1316
Sure.

[code]

[2018-01-11 11:33] iKonrad commented on #2013
I had a similar issue and it turned out that there wasn't a default value set for the 'sort' property which caused the insert query to fail. Maybe that's the case?

[2018-01-11 12:15] iKonrad opened #2023 "Uncaught TypeError: e.startTracking is not a function when trying to open a M2O field before saving the parent"
Hi all

Thanks for the amazing library, I'm stoked on how flexible and versatile this tool is.

I'm having an issue with a Many to one relationship here.

## Version Info
  - Directus version and branch: 93ceb86f3171e7369d6bd376d2cd8c13024edd28
  - PHP version: 7.1.12
  - MySQL version: mysql  Ver 14.14 Distrib 5.7.20
  - Web server: Apache
  - OS name and version: Ubuntu 16

## Expected Behavior

[2018-01-11 13:57] dfranklinAxon opened #2024 "PDF Thumbnail not shown in EditMask"
When you want to edit a row with a single file which has a PDF it does not show a thumbnail of the PDF.
![bildschirmfoto 2018-01-11 um 13 57 45](https://user-images.githubusercontent.com/35228436/34826615-913774ba-f6d7-11e7-8924-f2c5373d20a5.png)

Also if you want to edit the file you will also not see a picture of the PDF.

## Version Info
  - Directus version and branch: 6.4.5
  - Web server: Ap

[2018-01-11 14:22] rmNyro commented on #2022
The issue solved itself...
It may be due to the database and maybe you can strengthen the behavior so this wouldn't happen.
Anyway, sorry for the trouble. :)

[2018-01-11 15:52] danieljones97 opened #2025 "500 Internal Server Error when POSTing image to directus_files"
When running an ajax call to POST to the directus_files table, I get an error: 500 Internal Server Error but the image is still uploaded into my database. The error means I can't run the rest of my program after this call even though the call is successful and the image is uploaded, the error function is run instead of the success function.

[code]

## Version Info
  - Directus version and branch:

[2018-01-11 16:39] nihlton commented on #2008
I am also seeing this issue with chrome.  As a temporary work around for users - sorting appears to work in firefox.

[2018-01-11 18:03] WellingGuzman commented on #2022
Hey @rmNyro if it happens again, let us know.

[2018-01-11 18:08] WellingGuzman commented on #2008
I tried @dsivokhin, schema without any luck, I forgot to report back the status of this ticket. If any of you could share a schema that trigger this, that would be great, no having luck with the ones I have.

Something this type of issues are due to how some table are structure.

[2018-01-11 18:32] WellingGuzman commented on #2013
Thanks @Nicolaidavies. I will give it a shot later today.

@iKonrad it likely to be that as well, but the logs are different in this case, or can be both.

Ref to `sort` issue ticket: https://github.com/directus/directus/issues/2007

[2018-01-11 18:34] WellingGuzman commented on #2024
Hey @dfranklinAxon do you have `Imagick` installed in your server? that php extension is needed in order to create PDF thumbnails.

[2018-01-11 18:36] WellingGuzman commented on #2025
Hey @danieljones97 what's the `file` information in `data`?

[code]

[2018-01-11 18:37] WellingGuzman commented on #1316
Thanks for the snippet @john-kurkowski, I will be working on it, some time today.

[2018-01-11 19:35] WellingGuzman commented on #2023
Thanks for the report @iKonrad.

[2018-01-11 23:26] nihlton commented on #2008
@WellingGuzman which browser are you using?

i was able to repro using chrome, but not with firefox.

[2018-01-12 07:07] dfranklinAxon commented on #2024
Yes  I have Imagick already installed on the server.

[2018-01-12 08:27] xorander00 commented on #1688
I'm seeing the same issue.  Fresh install is throwing the following exception when loading the /installation/index.php:

`Uncaught Exception: Directus\Bootstrap#appdepends on undefined constant DIRECTUS_ENV in /usr/home/cms/app/api/core/Directus/Bootstrap.php:132 Stack trace: #0 /usr/home/cms/app/api/core/Directus/Bootstrap.php(147): Directus\Bootstrap::requireConstants(Array, 'app') #1 [internal

[2018-01-12 08:35] xorander00 commented on #1688
Nevermind, fixed it.  I had SCRIPT_FILENAME declared AFTER including fastcgi_params.  I moved it before the include and it moved past that error.  I had some missing extensions that weren't listed in the guide (e.g. session) that I had to do a install -> restart php -> f5 cycle, but it looks good now.  If possible, I'd suggest listing ALL required extensions in one place to make it easier.

Thanks

[2018-01-12 09:53] danieljones97 commented on #2025
It's image data, here is the console output of it.

data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD//gA7Q1JFQVRPUjogZ2QtanBlZyB2MS4wICh1c2luZyBJSkcgSlBFRyB2ODApLCBxdWFsaXR5ID0gOTAK/9sAQwADAgIDAgIDAwMDBAMDBAUIBQUEBAUKBwcGCAwKDAwLCgsLDQ4SEA0OEQ4LCxAWEBETFBUVFQwPFxgWFBgSFBUU/9sAQwEDBAQFBAUJBQUJFA0LDRQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQU/8AAEQgCcgJyAwEiAAIRAQMRAf/EAB8AA

[2018-01-12 11:20] danieljones97 commented on #2025
I can GET from files, I just cannot POST

[2018-01-12 19:09] WellingGuzman commented on #2024
is `Imagick` Installed and enabled in the php version you are using? if you go to your `storage/uploads/thumbs` is the pdf thumb image exists? have you tried with other PDFs?

[2018-01-12 19:52] WellingGuzman commented on #2025
Thanks @danieljones97

[2018-01-12 19:57] WellingGuzman commented on #2025
@danieljones97 using the imagedata you shared, the upload works correctly, can you check your logs to see what's the error (`api/logs`)?

[2018-01-12 23:24] jongirard opened #2026 "Vagrant user not found"
Installed using the vagrant installation option listed in the Directus docs. Installation successful but login with the provided credentials of ```admin@admin.com``` and password of ```admin``` fails with ```email not found```.

## Version Info
  - Directus version and branch: Directus Demo 0.1.1

## Steps to Reproduce
 1. Install via Vagrant
 2. Attempt to login with provided credentials in docs

[2018-01-13 20:22] WellingGuzman commented on #2026
Moved to https://github.com/directus/directus-vagrant/issues/26

[2018-01-13 20:22] #2026 closed

[2018-01-14 02:56] WellingGuzman commented on #1984
Hey, I just want to apologies, I didn't have the chance to use php 7.2 to get the issue replicate, I checked the issue and it was a problem with `zend-db`, that was already fixed (Ref: https://github.com/zendframework/zend-db/pull/287) in version 2.9.0. But was we are using a clone until they implement flexible names for column and table, we are using our fork.

To solve this issue, remove `compos

[2018-01-14 02:56] #1984 closed

[2018-01-14 03:01] WellingGuzman commented on #1685
What issue exactly are you having @jknigga? Directus or configuration issues?

[2018-01-14 03:03] WellingGuzman commented on #1688
Hey @ajzozakiewicz, what was the result of the generated `configuration.php` and `config.php`?

[2018-01-14 04:48] WellingGuzman commented on #2007
New table with `sort` are created nullable with `null` by default.

Closed by https://github.com/directus/directus/commit/d758bc5082429154eeb8ef08f48503c77b2db2ad

[2018-01-14 04:48] #2007 closed

[2018-01-14 14:28] jknigga commented on #1685
I cannot get to the installation page. I get a 404 error.

The system path is /web/groups/jakob/public_html/directus/. My web root is public_html, so my site sits at www.website.com/jakob/directus/. When I go to this page, it redirects to www.website.com/jakob/public_html/directus/installation/index.php?step=0, which doesn't exist. I have tried to manually set the path in multiple places, includin

[2018-01-14 17:54] WellingGuzman commented on #1685
how you `config.php` looks like? it seems you have the `DIRECTUS_PATH`, sets wrong, which means it has to be `/directus/`.

[2018-01-14 20:37] Nicolaidavies commented on #2013
@WellingGuzman I just noticed that I sent you the wrong mysql dump. I removed the row giving me issues from the table and took a mysql dump of that. Not particularly useful when trying to figure out what's wrong. Please find the mysql dump with the issue here: https://www.dropbox.com/s/6uclxutfv1mmb7z/backup.sql?dl=1

I apologize for the inconvenience. I hope I didn't waste your time.

Let me also

[2018-01-15 09:42] danieljones97 commented on #2025
ERROR - 2018-01-15T04:39:54-05:00 - League\Flysystem\FileExistsException: File already exists at path: thumbs/1.jpg in /var/www/public/directus/vendor/league/flysystem/src/Filesystem.php:402
Stack trace:
#0 /var/www/public/directus/vendor/league/flysystem/src/Filesystem.php(211): League\Flysystem\Filesystem->assertAbsent('thumbs/1.jpg')
#1 /var/www/public/directus/api/core/Directus/Filesystem/File

[2018-01-15 09:44] danieljones97 commented on #2025
I found that I had been storing all the images in my directus folder and only deleting them from the database, so there were duplicates and therefore clashes and exceptions

[2018-01-15 10:01] cgarnier opened #2027 "Get translations"
How i m supposed to get only the language i need for an entity?
Is there a way to filter them?

[2018-01-15 14:53] dfranklinAxon commented on #2024
![bildschirmfoto_2018-01-15_um_11 32 25](https://user-images.githubusercontent.com/35228436/34947751-62dba6b8-fa0b-11e7-9f5f-b7cf44f49280.png)
![bildschirmfoto_2018-01-15_um_11 33 42](https://user-images.githubusercontent.com/35228436/34947753-63580ff0-fa0b-11e7-848f-1db81d0992de.png)

Here are the infos you want and I checked another PDF but it doesn't show a picture

[2018-01-15 15:16] WellingGuzman commented on #2024
Are there any generated thumbnails in `storage/uploads/thumbs` for that specific image, I want to tell if this a loading, a missing data (url) or a generating issue.

[2018-01-15 15:26] dfranklinAxon commented on #2024
Yes the thumbnails are there

[2018-01-16 12:38] jknigga commented on #1685
@WellingGuzman - Doesn't the config file get generated during the install? I can't get to the install page.

[2018-01-17 23:56] dlaprade opened #2028 "Primary key value shown when not visiable"
## Version Info
  - Directus version and branch: 6.4.3
  - PHP version: 7.1.11
  - MySQL version: MariaDB 10.1
  - Web server: Nginx
  - OS name and version: Debian Jessie Linux

## Expected Behavior
I have a table defined with an INT primary key ( not visible ) with a couple of MANYTOONE relationships and when a new row is added the primary key 'id' is not shown in admin UI.

## Actual Behavior
I

[2018-01-18 00:01] WellingGuzman commented on #2028
@dlaprade can you provide a mysql dump that we can use to reproduce this issue?

[2018-01-18 08:06] dfranklinAxon commented on #2024
There are generated thumbnails in storage/uploads/thumbs but they are not show in the backend only like the example.

[2018-01-19 14:21] spawnrider commented on #1688
Same error on :

- Centos 7
- PHP 7.2
- apache 2
- Mysql 6.x

[2018-01-19 17:25] spawnrider commented on #1688
Fixed by :
1. Modifying the AllowOverride property (set to All)
2. Changing .htaccess owner from root to apache:apache, reflecting the HTTPD owner/group

[2018-01-22 23:18] kkar opened #2030 "Error [500] in AbstractSql.php"
## Version Info
  - Directus version and branch: Latest from git
  - PHP version: 7.2.1 (the one included in the latest XAMPP for windows)
  - MySQL version: (the one included in the latest XAMPP for windows)
  - Web server: Apache (the one included in the latest XAMPP for windows)
  - OS name and version: MS Windows 10 with XAMPP

## Expected Behavior
Allowing administrators view and/or add new t

[2018-01-22 23:21] WellingGuzman commented on #2030
Hey @kkar Providing a database dump and an specific version for MySQL, rather than "_the one included in the latest XAMPP for windows_" helps a lot. If you have a chance please do it, so we can reproduce this issue quickly.

[2018-01-22 23:31] kkar commented on #2030
@WellingGuzman you will need a dump too? It really doesn't have anything else except the fresh-install content. I am unable to add anything cause of the same error.

[2018-01-22 23:33] WellingGuzman commented on #2030
@kkar Thanks. When this error is thrown? is there something in your logs. Can be found in `api/logs` directory?

[2018-01-22 23:36] kkar commented on #2030
@WellingGuzman a lot of errors, but not different. All of them refer to the same line.

[2018-01-22 23:38] WellingGuzman commented on #2030
Gotcha just what I thought, Read this comment: https://github.com/directus/directus/issues/1984#issuecomment-357484829

zend-db had some bugs with 7.2, has been resolved, and you need to remove the `composer.lock` and reinstall again.

[2018-01-22 23:38] #2030 closed

[2018-01-23 00:05] kkar commented on #2030
@WellingGuzman sorry for keeping you busy, but, is the solution applies with the "simple installation" too? Thanks again!

[2018-01-23 00:49] WellingGuzman commented on #2030
@kkar Either way, the problem is with zend-db and php 7.2.x. if you switch to php 7.1 it will works, without any problem.

[2018-01-23 05:20] WellingGuzman commented on #1688
Glad you figure it out the problem @spawnrider.

Closing this again, I will reopen if given enough information to reproduce any of the previous comments.

[2018-01-23 05:20] #1688 closed

[2018-01-23 05:22] WellingGuzman commented on #2025
Glad you figure it out.

The main problem here are with thumbs, in future version we are going to stop using the ID as a thumbnail image name.

[2018-01-23 05:22] #2025 closed

[2018-01-23 10:37] dfranklinAxon commented on #2024
![bildschirmfoto 2018-01-23 um 11 19 19](https://user-images.githubusercontent.com/35228436/35270608-ffd4270e-002f-11e8-92fc-c81fa9a8589b.png)

When I add an exel document it shows the thumbnail as buggy as when I add a pdf.

[2018-01-23 11:29] michlschmitt commented on #1906
Any improvements on this? Still getting the error "TypeError: e.replace is not a function" in Firefox, Chrome, Safari, when inserting a list.

[2018-01-23 11:38] michlschmitt opened #2031 "WYSIWYG Full does not load on IE11"
## Version Info
  - Directus version and branch: 6.4.5. bundled version
  - PHP version: PHP 7.0.25
  - MySQL version: 5.5.58
  - Web server: nginx
  - OS name and version: Windows

## Expected Behavior

Write an article via WYSIWYG Full Interface.

## Actual Behavior

The WYSIWYG Full Editor does not show up on Windows and Internet Explorer 11.

![ie-wysiwyg](https://user-images.githubusercontent

[2018-01-23 12:11] kkar commented on #2030
@WellingGuzman it worked as promised!!! Thank you so much, you are the most instant and helpful contributor ever! Thanks again!

[2018-01-23 13:35] WellingGuzman commented on #2024
Hey @dfranklinAxon, I have not been able to reproduce this issue yet. How your `filesystem` configuration looks like? (in api/configuration.php)? does the thumbnail path is correct?

[2018-01-23 13:42] WellingGuzman commented on #1906
I'm sorry, there's not improvements yet, as far as I remember this happens only on the `build` version, my suggestion for now, not a good one, but use the non-build version.

I had some issue figuring out why some plugins works where other, such as  `underline`, does not work.

[2018-01-24 04:15] jjbandit commented on #2013
I just ran into the exact same issue which was solved by adding a default value to the sort on the junction table, as suggested by @iKonrad

[2018-01-24 08:36] Nicolaidavies commented on #2013
@jjbandit & @iKonrad thank you for the suggestion.

Where exactly do I need to add a sort value? Is it on the table I created (`places`), `directus_activity` or `directus_files`.

How do I add a default value to the sort? Is it through the directus UI or do I have to run some SQL?

[2018-01-24 08:47] Nicolaidavies commented on #2013
Just to clarify, I am not joining any custom tables I created.

I just want to add a 'multiple files' column to a table I created. In other words there is nothing custom, Ideally this should work out of the box as it is functionality provided by directus.

Please see a screen recording here: https://www.dropbox.com/s/4n1i73184s0c7sw/Directus_errors.mov?dl=0

As you can see from the video, I am abl

[2018-01-24 12:40] WellingGuzman commented on #2013
Hey @Nicolaidavies, when you create the multiple files column, you didn't create the correct relationship, and make directus activity as your junction table.

Read how to the m2m (or any other relationships) works on Directus, here: https://medium.com/directus/understanding-relationships-it-isnt-complicated-35e0dcf78450

[2018-01-24 14:16] dfranklinAxon commented on #2024
'filesystem' => [
'adapter' => 'local',
// By default media directory are located at the same level of directus root
// To make them a level up outsite the root directory
// use this instead
// Ex: 'root' => realpath(BASE_PATH.'/../storage/uploads'),
// Note: BASE_PATH constant doesn't end with trailing slash
'root' => BASE_PATH . '/storage/uploads',
// This is the url where all the media will be

[2018-01-24 14:18] WellingGuzman commented on #2024
When you fetch files using the API, does all the thumbnails links works if you click on them?

[2018-01-24 17:09] jjbandit commented on #2013
@Nicolaidavies You need to create a `junction table` - this is a third table that will act as a sort of glue between the `directus_files` and `places` tables you're attempting to join.

This new table, let's call it `files_places_junction`, should have two columns, one for the numeric ID of the `file` record your joining, and one for the numeric ID of the `places` record your joining.  Adding the

[2018-01-25 09:46] stoconnor opened #2032 "Deploying to Azure / IIS"
## Version Info
  - Directus version and branch: master - 257a131 (19/12/17)
  - PHP version: 5.6
  - MySQL version: 5.7
  - Web server: IIS
  - OS name and version: Azure Web App with MySQL

## Actual Behavior
Unable to Login or use the API

## Description
I've tried deploying to Azure from a previous installation. It connects to the DB ok but can't login. Originally I was getting errors on api/l

[2018-01-25 09:55] dfranklinAxon commented on #2024
![bildschirmfoto 2018-01-25 um 10 51 41](https://user-images.githubusercontent.com/35228436/35381815-c535ad0e-01bd-11e8-848a-ce2134ebe896.png)

When I clicked on it in storage/uploads/thumbs all links work and download the image and i can open the right image in the downloadfolder

[2018-01-25 12:51] rijkvanzanten commented on #2032
Hey @stoconnor! Do you get any errors or doesn’t the api get loaded in he first place?

[2018-01-25 14:23] stoconnor commented on #2032
Not sure if the API gets loaded or not, I did a clean install with a pull from GitHub to Azure with the Composer extension installed.

I added the following to my web.config to stop the errors on woff files (example: GET https://xxxx.azurewebsites.net/assets/fonts/Roboto-Regular.woff2 net::ERR_ABORTED

web.config addition:
[code]

There are no other errors apart from a GET request on normalize.css

[2018-01-25 14:27] WellingGuzman commented on #2032
can you try Requesting: `https://xxxx.azurewebsites.net/api/1.1/ping` you should get `pong` back.

Based on that you are getting 404, it seems the API is not being "recognized", did you check we have the API config in `api/.htaccess`?

You can take a look at out full nginx web config here: https://github.com/directus/server-configs-nginx/blob/6.x/directus.conf

[2018-01-25 14:32] stoconnor commented on #2032
@WellingGuzman it goes back to a redirect on /login.php?redirect=api/1.1/ping

.htaccess is not used in IIS, I think I need additional rewrite rules for the api in my web.config file. Or extract the api and run it on a separate instance with a redirect to the root of the api.

[2018-01-25 14:39] WellingGuzman commented on #2032
I know it's not used, but I'm letting you know what's the configuration we are using, so you can translate it to web.config.

It seems is missing that part, did you take a look at the nginx configuration.

[2018-01-25 14:41] stoconnor commented on #2032
I added the following web.config inside the api folder but no joy. 500 error: The requested page cannot be accessed because the related configuration data for the page is invalid.

[code]

[2018-01-25 14:46] WellingGuzman commented on #2032
@stoconnor I'm sorry I can't help you beyond that, I have no way to test this configuration.

Maybe you can try to see how to translate the solution to IIS, and if it works, let us know what the configuration was.

Someone commented a tool before: https://github.com/directus/directus/issues/1307#issuecomment-265120119, maybe it helps you.

As this seems to be a configuration issue on IIS which we

[2018-01-25 14:46] #2032 closed

[2018-01-25 14:48] stoconnor commented on #2032
That's the same web.config I'm using for the root directory. I'll have a look into a bit more and report back if I figure it out.

Thanks

[2018-01-25 14:50] WellingGuzman commented on #2032
@stoconnor remember we have to configuration, one in the root directory and another one in `api/.htaccess`. If you check the nginx web configuration, that's a complete configuration that works on nginx.

[2018-01-25 14:51] rijkvanzanten commented on #2032
The Caddy example has the redirects setup correctly, maybe that helps out in terms of figuring out the right Azure config as well :)

https://github.com/caddyserver/examples/blob/master/directus/Caddyfile#L14-L29

[2018-01-25 17:22] stoconnor commented on #2032
For reference, getting closer with this web.config but still not correct. It'll be a while before I get to look at this again.

[code]

[2018-01-25 21:50] ivansf opened #2033 "Sorting behaviour in tables"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests/voting please use the [Directus Request Tool](https://request.getdirectus.com/), or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be added to GitHub Issues for assignment.

[2018-01-26 09:08] Nicolaidavies commented on #2013
@jjbandit Thank you for your answer. I got it working.

@WellingGuzman Thank you for the continued help.

I was under the impression that the default values that were filled in after selecting "Multiple files" would create the correct relationship.

Since I got it working I'm just curious at this point: how would one setup the relationship with `directus_activity`? Is it possible to change the def

[2018-01-26 13:03] danieljones97 opened #2034 "Mandatory Field allowing null values"
When setting up a new table, I specified that the first field was mandatory, however when adding my first row to the table using Postman and the API, I could leave the first field blank and the table was still updating with the new row.

## Version Info
  - Directus version and branch: 6.4.3
  - PHP version: 5.6.0
  - MySQL version: 5.5.55
  - Web server: Apache 5.5.1
  - OS name and version: macO

[2018-01-26 13:11] danieljones97 opened #2035 "Validation Fields not enforcing rules"
On text fields you can specify validation in the form of a Regular Expression. When I tried to use this feature, the regex I used was not enforced. I set it up to only allow letters a to z, in lower case and exactly two characters. The regex I used for this was `[a-z][a-z]`
When I used Postman to hit the API endpoint for this table, I passed "abc" to test and no error was returned and the table wa

[2018-01-26 13:11] dsivokhin commented on #2008
Hi @WellingGuzman, new information, if I have this error, then I do Logout and do Login, this error not reproduce, but if I work with anouther tables, and back to my table, I have this error. Maybe cache ?

[2018-01-26 13:47] maettyhawk opened #2036 "Counting M2M relations fails"
In the table view there's this handy field showing how many M2M relations for a M2M field exist (f.e. files). This field is always showing zero, eventhough there a exisiting relations.

## Version Info
  - Directus version and branch: lastest (6.4.5)
  - PHP version: 7.1.8
  - MySQL version: 5.0.12
  - Web server: Apache (within MAMP env)
  - OS name and version: MacOS Sierra

## Expected Behavior

[2018-01-28 02:19] WellingGuzman commented on #2036
@maettyhawk thanks for reporting this issue.

[2018-01-28 02:54] WellingGuzman commented on #2036
Closed by https://github.com/directus/directus/commit/d88c2ffcb12797367186d7efda9c8cb427d82b83

[2018-01-28 02:54] #2036 closed

[2018-01-28 05:08] WellingGuzman commented on #2024
Wait, when you click the image url, it downloads the image? This seems to be a configuration issue somehow, the image exists but the doesn't show up at the web app.

[2018-01-28 07:04] WellingGuzman commented on #2035
We actually are working to make this works as described on API 2.0. We don't know if it will be worth the time to make it work for API 1.x.

I will add this to the Directus 7.0 list.

[2018-01-28 07:05] WellingGuzman commented on #2034
it will be done on 7.0 (API 2.0)
Ref: https://github.com/directus/directus/issues/2035#issuecomment-361042954

[2018-01-28 07:08] WellingGuzman commented on #1685
@jknigga yes, the config file gets generated on installation (last step). do you have the `config.php` file?

[2018-01-28 07:19] WellingGuzman commented on #2013
When you choose multiple files it automatically pick `directus_files` as related table, but you would need to create a new junction table, that will make the connections between **Places** and **Directus Files**, and that table, ex: `places_images` will have three columns at least `id`, `place_id` and `file_id`.

Let us know if this works for you.

As this is a configuration issue and not an actua

[2018-01-28 07:19] #2013 closed

[2018-01-28 07:34] WellingGuzman commented on #2008
Hey @dsivokhin, I managed to reproduce this issue.

If you go to `/tables` and go to any tables, and try to sort, you get the error, but if you go directus to `/tables/<a-table>` and try to sort, you don't get any error.

[2018-01-28 21:21] Carnewal commented on #2008
+1 Same issue here when sorting with Chrome.

[2018-01-29 10:24] danieljones97 commented on #2035
@WellingGuzman Do you have a timeframe for when this will be implemented and usable?

[2018-01-29 15:23] WellingGuzman commented on #2035
@danieljones97 Not soon, we are still developing the API and application.

A "quick" and good solution to implement this into 1.x is using hooks, and throw exception if the data being inserted/update doesn't match a validation set.

[2018-01-31 16:02] Carnewal commented on #2008
#2037

[2018-02-02 02:14] kkar opened #2041 ""Gap" in Official video and documentation?"
Hello, and thanks for this awesome project. I am new to Directus, so excuse me if i am asking "obvious to resolve" things.

By watching the intro video [here](https://www.youtube.com/watch?v=rLodHE3e7Os) especially the part where the user table is made, i can't understand how that table would be possibly create a real user that would be listed in users menu. I mean, is it even possible to use dire

[2018-02-02 04:26] rijkvanzanten commented on #2041
Hey @kkar!

This is admittedly a bit confusing in the video. The `users` group displayed in this video is in fact **different** from the main Directus Users (`directus_users`) table that stores the users that have access to Directus itself.

Creating your own `users` table can be useful if you want to implement an account system that's separate from the Directus auth system but we recommend to use

[2018-02-02 04:26] #2041 closed

[2018-02-02 04:29] rijkvanzanten commented on #2033
Hey @ivansf!

Do you have some more info for us to replicate this issue? I'm particularly interested in the specific version of Directus you're using and how you've installed it (git vs build branch).

If possible, could you provide us with a database dump where this problem is happening? That'll help us out a lot in the debugging process.

Thanks in advance!

[2018-02-02 04:32] rijkvanzanten commented on #2031
Hey @michlschmitt!

Thanks for the head up! Could you maybe provide the output in the developer console? I'm wondering if it might be related to #1906..

Thanks in advance!

[2018-02-02 04:36] rijkvanzanten commented on #2027
Hey @cgarnier!

As of right now, there is no way to filter for a specific language. The API will always return all available translations. However, we are working on a new `lang` parameter which does just this! It will be launched in the next major version of the API (2.0) which is in active development as we speak!

[2018-02-02 04:36] #2027 closed

[2018-02-02 04:39] rijkvanzanten commented on #2021
Hey @simonking76!

Thanks for the heads up. I wasn't able to reproduce this issue.. Do you have some more specific info we can use to reproduce this issue? (What browser / how did you install Directus / etc)

About the other WYSIWYG editor, it's a Medium style editor, so the 'toolbar' will only show up when you select a piece of content to edit.

[2018-02-02 04:40] rijkvanzanten commented on #2008
This is fixed by #2039 and will be released into `master` soon!

[2018-02-02 04:40] #2008 closed

[2018-02-02 04:42] rijkvanzanten commented on #1982
@WellingGuzman Is there anything we can do to fix / debug this? I haven't been able to reproduce as well..

[2018-02-02 06:20] Anthonyzou commented on #2020
I setup a little profiling with xdebug and using qcachegrind.

It seems the `trait ArraySetter` is calling the `underscoreToCamelCase` function thousands of times per request.

<img width="628" alt="screen shot 2018-02-01 at 11 20 19 pm" src="https://user-images.githubusercontent.com/1567160/35719382-80888688-07a6-11e8-837b-1090db4e719a.png">

[cachegrind.out.1095.zip](https://github.com/directus/

[2018-02-02 10:55] spawnrider commented on #1966
Same issue for me.

I think that the issue is about the relative path
The first navigation is **http://localhost:8080/ext/mobile**

Then switch to a table and go back to the extension ...
The second navigation is **http://localhost:8080/tables/ext/mobile**

[2018-02-02 14:02] kkar commented on #2041
@rijkvanzanten thanks! That feature would be super helpful!!!!!

[2018-02-02 17:44] rijkvanzanten commented on #1966
This turns out to be a way nastier bug than I had expected.. The Router actually gets the right path when clicking the link, but the main page content view doesn't update to reflect the navigation for some reason..

AFAICT:

## Steps to Reproduce
1. Navigate to the extension
2. Navigate to a table listing and/or edit view
3. Try navigating to the extension.

## Behavior
The first navigation to the

[2018-02-02 17:46] rijkvanzanten commented on #1998
This issue has been closed due to inactivity. If this error pops up again we'll re-open it.

[2018-02-02 17:46] #1998 closed

[2018-02-03 03:31] WellingGuzman opened #2042 "Create file using base64 fails"
## Version Info
  - Directus version and branch: 6.4.5

## Expected Behavior
File should be uploaded

## Actual Behavior
Fails with missing type

## Steps to Reproduce
 1. Upload a file using the API with a base64 data

## Schema Dump, Logs, or Screenshots

[2018-02-04 04:11] WellingGuzman commented on #2042
Closed by https://github.com/directus/directus/commit/f139bf3110b7d61a5e3574373a523122d86d6064

[2018-02-04 04:11] #2042 closed

[2018-02-04 04:20] WellingGuzman commented on #2012
Hey @rijkvanzanten, would you care to explain this to me, I didn't understand the issue.

[2018-02-04 13:27] artur-grzeda opened #2043 "problem with cors"
Hi,

i need help with cors I think, i have error

`GET http://##########/directus/api/1.1/tables/tasks/rows 403 (Forbidden)
directus:1 Failed to load http://###########/directus/api/1.1/tables/tasks/rows: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:3000' is therefore not allowed access. The response had HTTP status code 403.
`

In my confi

[2018-02-04 15:21] rijkvanzanten commented on #2012
@wellingguzman The field for the nav override section is available to enter for the public group. This setting has no effect whatsoever since people can’t login to directus from the public group to begin with.

[2018-02-04 16:54] WellingGuzman commented on #2012
Still don't get it, from where you can enter this information using public group credentials? as Admin in the web app? and since it has no effect where is the issue? You are talking about removing this information from the web app?

[2018-02-04 16:56] WellingGuzman commented on #2043
Hey @artur-grzeda, You need to authenticate. Ex: `http://dev.creacode.pl/directus/api/1.1/tables/tasks/rows?access_token=<MY-USER-TOKEN>`

[2018-02-04 16:56] #2043 closed

[2018-02-04 17:39] rijkvanzanten commented on #2012
In the directus admin application when you’re editing user groups you can also edit the public group. The settings you can alter here are useless, since they’re not used at all. To avoid confusion, these should be removed. Therefore, it’s a trivial optimization.

You can treat this issue as a reminder for 7.0 that we don’t make the same mistake

[2018-02-05 05:56] WellingGuzman commented on #1316
This has been fixed by https://github.com/directus/directus/commit/f139bf3110b7d61a5e3574373a523122d86d6064

[2018-02-05 05:56] #1316 closed

[2018-02-05 05:59] WellingGuzman commented on #1993
Closed due to inactivity.

We will re-open as soon as we get more info to reproduce this.

[2018-02-05 05:59] #1993 closed

[2018-02-05 09:57] michlschmitt commented on #2031
@rijkvanzanten I will provide you the console output. However, it'll take some time, because I have no IE 11 near to me...

[2018-02-05 13:28] stoconnor commented on #2032
Here is a working version of a web.config for use with IIS/Azure. NOTE: Change PHP version to whatever version you have selected in Azure App Settings.

[code]

[2018-02-05 14:38] studioscholz opened #2044 "Error: Uncaught SyntaxError: Unexpected token < in JSON at position 0"
## Version Info
  - Directus version and branch: 6.4.5 (Ruby Rabbit)
  - PHP version: 7.1
  - MySQL version: 5.6
  - Web server: Apache
  - OS name and version: Ubuntu 16.04.3 x64

## Expected Behavior

I am running a fresh installation of directus on a Digital Ocean droplet with Serverpilot.io
While I initially could create users, set up a table, upload images, I now can’t.

The following is to b

[2018-02-05 15:41] studioscholz commented on #2044
The errors were caused by a wrongly setup images column.

Here is more info regarding the setup:
https://medium.com/directus/understanding-relationships-it-isnt-complicated-35e0dcf78450

[2018-02-05 15:41] #2044 closed

[2018-02-05 16:59] studioscholz opened #2045 "Multiple files column throws error"
## Version Info
  - Directus version and branch: 6.4.5
  - PHP version: 7.1
  - MySQL version: 5.7
  - Web server: Apache
  - OS name and version: Ubuntu 16.04.3 x64

## Expected Behavior

Uploaded images can be connected to entries in different table.

## Actual Behavior

`This query failed: INSERT INTO `system_relationships` (`item_id`, `image_id`) VALUES ('2', '3')`

## Steps to Reproduce
 1. S

[2018-02-05 17:02] WellingGuzman commented on #2045
Hey @studioscholz, This bug has been fixed by https://github.com/directus/directus/commit/d758bc5082429154eeb8ef08f48503c77b2db2ad

It's going to be part of the next version (6.4.6) today, to fix this issue add a default value to your `sort` column, right now the bug is that doesn't allow null and not value is being set.

[2018-02-05 17:02] #2045 closed

[2018-02-06 06:52] udayn4 opened #2046 "Not able to install directus"
Hi All,
I am new to ubuntu platform and trying to install directus on apache2.

System info:
Ubuntu : Ubuntu 16.04.3 LTS
Apache: 2
PHP: 7.0.27-1
mySQL: 5.7.21

I am getting the following error when I try to goto install page:

Uncaught Exception: Directus\Bootstrap#appdepends on undefined constant DIRECTUS_ENV in /var/www/html/directus/api/core/Directus/Bootstrap.php:132 Stack trace: #0 /var/www/h

[2018-02-06 16:52] WellingGuzman commented on #2046
Hey @udayn4,
- What directus version are you using?
- Can you check your apache/PHP logs?

This is an error that php couldn't catch because it got another error (not fund DIRECTUS_ENV)

[2018-02-06 17:14] ivansf commented on #2033
I was using the released 6.4.4 then updated to 6.4.5, in both php 5 (locally) and php 7 (staging server). I did switch to git version at some point and the issue still existed. Also created site cache.

This happens with the Interface table that the CMS created, and no sorting is working (slugs, titles, dates). Will update to 6.4.7 and test again.

[2018-02-07 11:02] u12206050 opened #2051 "Custom group permissions can't edit users"
## Version Info
  - Directus version and branch: 1.1
  - PHP version: 7.0.27
  - MySQL version: 10.1.30-MariaDB
  - Web server: apache
  - OS name and version: CENTOS 7

## Expected Behavior
Edit all users, (possibly with the exception of administrators)

## Actual Behavior
I can view all users, but I can only edit myself.

## Steps to Reproduce
**As Admin**
 1. Create a new permissions group (eg.

[2018-02-07 15:58] u12206050 opened #2054 "User with custom permissions can't add new item to table with relation field"
## Version Info
  - Directus version and branch: 1.1
  - PHP version: 7.0.27
  - MySQL version: 10.1.30-MariaDB
  - Web server: apache
  - OS name and version: CENTOS 7

## Expected Behavior
Be able to add a new item if user has correct permissions to do so even though relationship field has permission for view-only

## Actual Behavior

Error message: [Submanager] permissions only allow you to [ed

[2018-02-08 08:21] u12206050 commented on #2004
This should definitely be more clear, as I also have been sitting with this issue for a day now.

[2018-02-12 14:41] jroxendal commented on #2033
For what it's worth we're having the same problem with latest from master. Though we found that the correct sorting is applied, because after a page refresh everything looks good.

[2018-02-12 17:42] ksraghavendra opened #2055 "Installation error"
## Version Info
  - Directus version and branch: (Or commit hash) Latest
  - PHP version: 7.1.13
  - MySQL version:  4.7.7
  - Web server: (Ex. Apache, nginx or IIS?) Apache
  - OS name and version: Debian

Getting the following errors on the final step of installer. Using google cloud lamp stack.

## Actual Behavior

mkdir(): Permission denied

Argument 3 passed to Ruckusing\RuckusingException::_

[2018-02-13 12:28] TechnicallyJoe opened #2056 "Editing config.php & configuration.php directly from the interface?"
## Version Info
Using 6.4 from https://hub.docker.com/r/getdirectus/directus/

Hi,

We're deploying a Directus server and have hit bit of a snafoo. I can't seem to find any way to edit the config.php & configuration.php settings from within the interface, and so deploying hooks and editing the files are.. troublesome.. to say the least in a docker/Rancher infrastructure.

What we need is simple we

[2018-02-13 18:06] u12206050 opened #2057 "Hooks not working"
## Version Info
Directus version and branch: 1.1
PHP version: 7.0.27
MySQL version: 10.1.30-MariaDB
Web server: apache
OS name and version: CENTOS 7

My configuration.php

[code]
customs/hooks/BeforeInsertBooking.php
[code]

## Expected Behavior
Hooks and filters should be called on inserting and updating

## Actual Behavior
Non of the defined hooks or filters are running, since I am not getting a

[2018-02-13 18:17] WellingGuzman commented on #2057
Hey @u12206050 it's only one `colon`, `table.insert.booking:before` instead of `table.insert.booking::before`.

[2018-02-13 18:17] #2057 closed

[2018-02-13 18:25] u12206050 commented on #2057
Ah thanks! Can't believe I missed that.

[2018-02-13 19:44] mjcella opened #2058 ""Nothing saved, nothing changed" occurs after inputting data for all required fields"
## Version Info
  - Directus version and branch: 6.4.4
  - PHP version: PHP 5.6.29
  - MySQL version: 5.6.27
  - Web server: Apache
  - OS name and version: OS X El Capitan

## Expected Behavior
- It should be possible to save an item into a table after inputting data for all required fields, even if the user does not touch or modify any other fields.

## Actual Behavior
- The "Nothing saved, noth

[2018-02-13 22:11] brianhyper opened #2059 "Password Field Salt not generating"
## Version Info
  - Directus version and branch: 6.4.5
  - PHP version: 7.0
  - MySQL version: 5.7
  - Web server: Apache
  - OS name and version: Linux

## Expected Behavior

Password field should generate a salt into the salt field or use the one we wrote into the salt field to hash with the password.  We should have data into the salt field and if you wrote manually a string into the salt field

[2018-02-14 00:45] philleepflorence opened #2060 "Call to a member function getCmsOwnerColumnByTable() - empty $this->acl"
## Version Info
  - Directus version and branch: build 6.4.6
  - PHP version: 7.1
  - MySQL version: 5.6
  - Web server: Apache
  - OS name and version: macOS High Sierra 10.13.3

## Expected Behavior
When using `$tableGateway->updateRecord($recordData)`, expected result is table rows get inserted or updated.

## Actual Behavior
I am getting:
`Call to a member function getCmsOwnerColumnByTable() o

[2018-02-14 01:05] philleepflorence commented on #2060
Seems this works:

[code]

Seems if you are going to insert records you must include the $acl when instantiating the RelationalTableGateway since the activity table is involved as well?

[2018-02-14 13:41] WellingGuzman commented on #2059
Thanks for this report. We will check the use of salt outside users, when we do a round of tickets or someone else got his hands into this.

We recently moved this interface to be used anywhere.

[2018-02-14 18:32] tiptronic opened #2061 "avoid text-encoding: chunked for small table"
I have a somewhat large table (not really large, but 1000 rows and 50 columns). The text-content of each row is less than 400 bytes/row.

Now when I query the table I always get a chunked response (and Error 500) - even if I just query 1 row:.

- table1 contains 6 fields
- table2 contains 50/40/30/20 (I deleted fields in batches of 10 -> when there are only 10 fields left, it starts working)

http

[2018-02-15 16:13] Tscheffrey opened #2062 "Issues with svg preview"
Directus seems to try to load a JPEG preview image from the SVG.
In the focused view, the image displays correctly but it is not centered.
![image](https://user-images.githubusercontent.com/35004675/36266708-6d916136-1272-11e8-98c2-7fd24d0a5077.png)
![image](https://user-images.githubusercontent.com/35004675/36266724-76854370-1272-11e8-9e94-bb403e294e3f.png)
![image](https://user-images.githubuser

[2018-02-15 16:36] DanielRuf commented on #2062
relevant code: https://github.com/directus/directus/blob/de567596e4fdde0ec48ef498516ddb2455dc5e0e/api/core/Directus/Filesystem/Files.php#L468-L471

[2018-02-15 16:38] DanielRuf commented on #2062
https://github.com/directus/directus/blob/5f3acb95f4cd5b8cc15de4c1afb6aa0a0f41df31/api/core/Directus/Filesystem/Thumbnail.php#L127

[2018-02-15 16:47] DanielRuf commented on #2062
We have two options:

* Directly use the original SVG but show it smaller / rescale it using CSS.
* Or generate a png file from it
[code]

Code is taken from https://stackoverflow.com/a/34001825/753676

[2018-02-16 00:47] WellingGuzman commented on #2061
Hey @tiptronic thanks for the report, do you have any logs in `api/logs`? can you share the schema you are using so we can replicate this issue?

Can you show us the chunked response? or a screenshot of the error 500?

[2018-02-16 08:37] lokers commented on #1966
I would like to upvote this as I am having exactly the same problem with my custom extension and it can be reproduced in the same way as described above.

[2018-02-16 17:45] tiptronic commented on #2061
Hi @WellingGuzman ,
thanks for your reply (and also for the hint to ```api/logs```
I finally found out what the problem is/was:
directus throws an Exception

```PDOException: SQLSTATE[42000]: Syntax error or access violation: 1064```

 if the table-structure contains 'umlaut' characters. (I know, it's not a recommended way to name it's columns, but I got the table from elsewhere).
You can easily r

[2018-02-16 19:30] tiptronic opened #2064 "Frontend Syntax Error when querying unconventional named table-field"
In one of my databases there's a table-field called 'Golf & Camping' (I know - not good, but anyway...)
When I try to restrict access to such a field, I'm getting the error below:

Error
Error: Error: Syntax error, unrecognized expression: #check_Golf & Camping
File: http://directus.test/app/directus.min.js?bust=tesr2rtaufp42qidlfjghtoukj
Line:5

[2018-02-16 19:32] tiptronic opened #2065 "FR: Add a button 'Deselect All/Select All' to white-/blacklisting colums"
I have a couple of tables containing 50+ columns.
To restrict access to some users (e.g. restful consumers), it would be very convenient to have an option to 'deselect all' (or 'select all') fields in the group's rights settings page. - For both: whitelisting and blacklisting.

[2018-02-16 20:00] tiptronic opened #2066 "Error when adding a user with duplicate email-address in the group-permission pane"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests/voting please use the [Directus Request Tool](https://request.getdirectus.com/), or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be added to GitHub Issues for assignment.

[2018-02-18 00:08] LuigiBaute opened #2068 "hello I would like to collaborate in your project as a translator to Spanish which is my native language, I'm interested in translating the README file and the license, I work for contributions of over a thousand words therefore the README file itself doesn't have enough words. let me know if interested."

[2018-02-18 00:18] WellingGuzman commented on #2068
This is not an actual bug. you can reach us on [Slack](https://slack.getdirectus.com)

Also, that's a long title.

[2018-02-18 00:18] #2068 closed

[2018-02-19 11:47] getoarll opened #2069 "How to change a name of a uploaded image when i insert a new Intern"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests/voting please use the [Directus Request Tool](https://request.getdirectus.com/), or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be added to GitHub Issues for assignment.

[2018-02-19 15:32] rijkvanzanten commented on #2069
Please fill out the provided issue template. There is no way of reproducing the issue now (or knowing what is going on in the first places). Thanks

[2018-02-19 15:32] #2069 closed

[2018-02-19 15:35] rijkvanzanten commented on #2065
Good idea! I've moved this feature request over to our feature request tool:

https://request.getdirectus.com/r/156

[2018-02-19 15:35] #2065 closed

[2018-02-19 15:37] rijkvanzanten commented on #2062
Hey @DanielRuf! Thanks for the heads up 🙂

At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

[2018-02-19 15:41] rijkvanzanten commented on #2066
Hey @tiptronic! Thanks for the heads up 🙂

At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

[2018-02-19 15:41] rijkvanzanten commented on #2064
Hey @tiptronic! Thanks for the heads up 🙂

At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

[2018-02-19 15:43] DanielRuf commented on #2062
I could provide a PR.

[2018-02-19 15:52] rijkvanzanten commented on #2056
Hey @TechnicallyJoe!

We're moving most of the configuration in those two files to `directus_settings`, which makes them editable from the admin UI 🙂

We're keeping certain API internals in those files though (like the PHP hooks). Would having http webhooks solve your issue? https://request.getdirectus.com/r/9

[2018-02-19 15:52] #2056 closed

[2018-02-19 15:53] rijkvanzanten commented on #2055
Hey @ksraghavendra! Could you make sure the PHP user has the right permissions in the Directus folders? Directus is trying to create the `storage` folder, but seemingly doesn't have the right permissions to do so on the server.

[2018-02-19 15:55] rijkvanzanten commented on #2054
Hey @u12206050! We're adding an additional option to the permissions in version 7.0 that makes this possible.

[2018-02-19 15:55] #2054 closed

[2018-02-19 15:56] rijkvanzanten commented on #2051
@WellingGuzman Is this expected behavior?

[2018-02-19 15:57] rijkvanzanten commented on #2031
At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

[2018-02-19 16:23] TechnicallyJoe commented on #2056
Hi

That woukd fix some of it, yeah.
Http webhooks with a custom header option, would satisfy our needs exactly

[2018-02-19 16:24] TechnicallyJoe commented on #2056
Any indication on, when any of the two features/changes you mentioned, will be added?

[2018-02-19 16:36] tiptronic commented on #2064
No problems... I am anyway much more curious about the Vue integration! 😊

[2018-02-19 17:53] rijkvanzanten commented on #2056
We're working full time trying to get the next major version of the platform out ASAP. We're targetting for an beta release at the end of april!

[2018-02-20 04:59] danhipke commented on #1980
@benhaynes Can I give this one a shot?

[2018-02-20 05:07] WellingGuzman commented on #1980
@danhipke go ahead!

[2018-02-20 10:10] rmNyro commented on #2022
I'm reopening this issue because I think I found a "track" on that case.
It seems a user gets disconnected if another person is connected at the same time on the same account and maybe also doing same things (like going to user directory of query similar things.
Hope it helps.

[2018-02-20 13:52] benhaynes commented on #2022
Thanks @rmNyro – that makes sense! That's an issue we're aware of (logging in as the same user twice logs the first out). This won't be a problem in the new 7.0 version... and since our devs are 100% occupied with that release we probably won't fix this on 6.x. If you (or anyone else) wants to submit a PR we'll take a look though!

[2018-02-20 13:55] benhaynes commented on #1980
Absolutely! It must be some sort of bubble / propagation issue... but our devs are completely occupied with v7 dev and don't have time to look into it. Let us know what you come up with @danhipke!

[2018-02-20 15:44] spawnrider opened #2070 "Security Issue - User token always valid even if the user was disable or deleted"
## Version Info
- Directus version and branch: Using Directus Docker last 6.4 version
- PHP version: 7.1.2
- MySQL version: 5.5
- Web server: Apache
- OS name and version: Windows 10

## Expected Behavior
When an user is disable / deleted,  his API access is revoked.

## Actual Behavior
For now, when an user is disable / deleted,  his API access is not revoked. His access token is alaways validate

[2018-02-20 18:17] danhipke commented on #1980
@benhaynes @WellingGuzman I added a fix for this and another similar bug I found. Details in the pull request.

[2018-02-20 21:49] WellingGuzman commented on #2070
Closed by https://github.com/directus/directus/commit/e76968e58305927fbd6f388a297ea80ecb0c68aa

[2018-02-20 21:49] #2070 closed

[2018-02-20 22:02] benhaynes commented on #2070
Found, fixed, and merged in only a few hours... thank you for this one @spawnrider!

[2018-02-21 03:20] treechime commented on #1700
Hey @WellingGuzman I'm getting this same error now on v6.4.6 where it's trying to UPDATE on column null and therefore breaking

[code]

[Dump20180221.zip](https://github.com/directus/directus/files/1742763/Dump20180221.zip)

Any ideas?

[2018-02-21 04:45] tchai81 opened #2073 "Many to One field type with translation"
Hello,

Thanks for the great software.

I have a question with regards to translation.

I have the following tables:-

| locations                       | districts    | districts_translations | languages     |
|---------------------------------|--------------|------------------------|---------------|
| id                              | id           | id                     | id            |
| dis

[2018-02-21 06:39] WellingGuzman commented on #2073
Hey @tchai81, I don't know what you are looking for exactly, but translations is a one to many relationships and it won't have a direct/one value relationship. Also the interface actually only fetch the first relation value, which make the value inaccesible. There's a open ticket for that. currently.

I will close it unless this result to be a bug not opened before.

We can still having this conve

[2018-02-21 06:39] #2073 closed

[2018-02-21 23:09] danhipke commented on #1966
I'll give this one a shot.

[2018-02-22 02:48] danhipke commented on #1966
Think I figured it out. The issue is in customs/extensions/_example/main.js

[code]

The problem is that `app.router.v.main.setView('#content', this.mainView);` only gets called if there's no mainView. So if you

1. Navigate to the extension
2. Navigate to a table listing and/or edit view
3. Try navigating to the extension.

this.mainView has already been initialized and `app.router.v.main.setView

[2018-02-22 03:02] rijkvanzanten commented on #1966
@danhipke You're completely right! That's the way we're designing it to be in 7.0 too. Normally, I'd say we should look into this and come up with a solid solution, but since we're already actively working on a complete rewrite of all of this in Vue, lets fix it the way you proposed so we have a fix for 6.x out there 😄

[2018-02-22 03:04] danhipke commented on #1966
@rijkvanzanten Perfect. I'll create a PR with my fix.

[2018-02-22 03:05] rijkvanzanten commented on #1966
@danhipke Much appreciated :)

[2018-02-22 03:39] danhipke commented on #1980
Created a new pull request since my old one was from the master branch and not the develop one.

[2018-02-22 03:41] danhipke commented on #1966
@rijkvanzanten Created a PR (closed the one I accidentally created from the master instead of develop branch).

[2018-02-22 13:36] rijkvanzanten commented on #1980
Awesome! Thanks @danhipke 😄

[2018-02-22 13:36] #1980 closed

[2018-02-22 13:37] rijkvanzanten commented on #1980
Ref #2076

[2018-02-22 21:01] DanielRuf commented on #2062
What approach should we choose?

[2018-02-22 21:18] WellingGuzman commented on #2062
Hey @DanielRuf I believe the ideal approach will be using the thumbnail otherwise use the placeholder text. (current logic)

Using the SVG sounds like a good option, but here lies the problem that the original file (the svg) needs to be loaded and the size varies and can take longer to load, plus may not be a squared dimension.

What do you think?

[2018-02-22 21:22] DanielRuf commented on #2062
Ehm, SVG is very small in practice. Also bitmap images with many different colors are also quite big due to the compression algorithms.

There is currently no thumbnail. Generating a bitmap image from a SVG comes with several issues and drawbacks.

An image can be easily centered and used with object-fit. Generating a squared bitmap image from a SVG might be a bit tricky.

[2018-02-22 21:27] benhaynes commented on #2062
My opinion is that we should use the raw SVG _as_ the thumbnail (not generating a bitmap version). The SVG "thumbnail" would need to be contained/centered within the thumb dimensions (eg: 200x200) and should not exceed a max filesize (to avoid overloading the page with some crazy blueprint or something).

The only issue I can think of is: do we _copy_ the original file to the thumbs folder, or wri

[2018-02-22 21:33] WellingGuzman commented on #2062
You are thinking about the web app only, having multiple files (listing page) can take up to loading all files slower, it can be small, but it can be huge, while is likely no matter how many colors or algorithm it uses the thumbnail (say jpg) are like to have a range or size.

Okay now to the point of using the svg directly, remember this is a xml file, we can't tell what's inside of it. can this

[2018-02-22 21:43] DanielRuf commented on #2062
Right.

This is my current question boiled down.

[2018-02-22 21:45] DanielRuf commented on #2062
Never saw big SVG files in the wild. Illustrator, Sketch and so on are good at compressing them when they export them for web.

SVG can contain text and other things that can not be converted to bitmap images.

[2018-02-23 07:50] ca057 opened #2077 "Help needed: Load external javascript libraries for a custom interface"
Hello!
I need some short help: My goal is to create a custom interface, where I need to load an external javascript library. Writing the actual interface is pretty straight forward, but I'm currently lacking on the best way to load and integrate my external library.

My current thoughts include:
* Is there a place in the build process where I can place my compiled (& minified for production) file

[2018-02-23 10:26] iKonrad opened #2078 "WYSIWYG FULL doesn't save any data on M2O relationship"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests/voting please use the [Directus Request Tool](https://request.getdirectus.com/), or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be added to GitHub Issues for assignment.

[2018-02-23 11:21] spawnrider commented on #1966
This is not fixing the issue.
Do you made another settings (.htaccess, Angular routing, ...) ?

I always have this issue : https://johndoe.com/ext/ext/mobile

[2018-02-23 11:22] spawnrider commented on #1966
My bad, that was an cache issue :(
I confirm it's working well now !

[2018-02-23 16:05] rijkvanzanten commented on #1966
I'll close this one as it has been fixed in #2075 😄

Thanks again @danhipke !

[2018-02-23 16:05] #1966 closed

[2018-02-23 16:11] rijkvanzanten commented on #2078
Hey @iKonrad! Thanks for the heads up. If possible, could you share an SQL dump of your schema so others can reproduce this immediately? The core team is working full time on the next major version (7.0), so if anyone feels inclined to take a swing at this, PRs are very welcome 😄

[2018-02-23 16:25] rijkvanzanten commented on #2077
Hey @ca057! It regrets me to say that there isn't a "good" way to actually do this as far as I'm concerned in 6.x. We've redesigned the way extensions / interfaces work for the upcoming 7.0 to use a `package.json` / `npm`.

The "best" way for now would be to include the dependency as a file in a `vendor` folder and adding it in your interface by importing it with `requirejs`

[2018-02-23 16:25] #2077 closed

[2018-02-23 17:14] ksraghavendra commented on #2055
Hey @rijkvanzanten the third screenshot shows the checklist where php has necessary permissions for 'storage/uploads' folder. The installation went through successfully after granting permission to 'storage' folder instead of 'storage/uploads'. It would help if this is indicated correctly in the pre-installation checklist. Thanks.

[2018-02-23 17:20] benhaynes commented on #2062
We store the filesize of all files in the DB, so if it's too big we can simply not return the SVG file and it would default to the type (`SVG`) instead of a thumbnail.

I'm not too worried about someone hacking code into an SVG... we have accountability, so if someone did this it could easily be tracked back to them. Remember, this is a closed-system CMS that is intended for invite-only access. No

[2018-02-24 20:09] danhipke commented on #1924
I'll take a look at this one.

[2018-02-24 21:49] WellingGuzman commented on #1924
Thanks @danhipke, we appreciate your contributions.

[2018-02-25 01:29] danhipke commented on #1924
@WellingGuzman Opened a PR for this issue.

The jquery serializeArray function was serializing the input of type="hidden" for the status field as an empty string, causing it to be concatenated with the draft/published status flag from the radio buttons. This created instances where the edit view data had status set to "1," or "2,", because it thought status was a multivalued field and was joining

[2018-02-25 19:45] WellingGuzman commented on #1924
This issue has been fixed by 57f2bd3

Thanks for your contribution @danhipke

[2018-02-25 19:45] #1924 closed

[2018-02-25 20:46] WellingGuzman commented on #2064
Closed by 8541c39

[2018-02-25 20:46] #2064 closed

[2018-02-25 20:53] WellingGuzman commented on #2066
Hey @tiptronic I couldn't reproduce this issue.

[2018-02-25 20:54] WellingGuzman commented on #2058
Hey @mjcella would it be possible to share a schema that we can use to reproduce this issue?

[2018-02-25 21:05] WellingGuzman commented on #2051
This is an expected behavior, but this is a mid-done feature as I can see now.

This was intended at first that the admin were the only group to edit users information, but any other group will be allowed to only edit their info.

I will take this limitation was it doesn't make sense because the group has actually permission to edit that any user information if the permission is granted.

[2018-02-25 21:16] WellingGuzman commented on #2051
Closed by https://github.com/directus/directus/commit/f3b6c17cf72be18cb8962dc76083659b5798a363

[2018-02-25 21:16] #2051 closed

[2018-02-25 22:04] WellingGuzman commented on #2061
I see, this is a "bug" with `zend-db`, I will keep this open to remind us to update it on our fork or wait on `zend-db` to fix it, whichever comes first.

[2018-02-26 02:03] WellingGuzman commented on #1685
Due to inactivity I'm going to close this ticket until we hear back about the new issue on installation page.

[2018-02-26 02:03] #1685 closed

[2018-02-26 08:53] lokers opened #2080 "When selecting an item for M2M type that has reference to another table, I would expect to see the related table field in Twig format as defined in column settings, instead it shows just an ID."
## Version Info
  - Directus version and branch: 6.4.4
  - PHP version: 7.2.2
  - MySQL version: Ver 14.14 Distrib 5.7.21, for osx10.13 (x86_64)
  - Web server: Apache
  - OS name and version: macOS High Sierra 10.13.2

## Expected Behavior
When selecting an item for M2M type that has reference to another table, I would expect to see the related table field in Twig format as defined in column sett

[2018-02-26 09:16] tiptronic commented on #2066
Hi @WellingGuzman
let me see, if I can reliably reproduce the problem. If yes, I'll let you know and provide a short video or more steps to reproduce.

[2018-02-26 11:54] WellingGuzman commented on #1834
The issue reported here was actually fixed by 67c9ea2.

It was left open due to the same issue reported here: https://github.com/directus/directus/issues/2080

I will close this ticket and continue the conversation over the same issue in a more detailed specific issue report.

[2018-02-26 11:54] #1834 closed

[2018-02-27 05:45] treechime commented on #2033
I'm also having this issue across versions 6.4.6 & 6.4.7 (build download from releases page).

Sorting doesn't seem to update the view, but correct sort is shown on refresh. Drag & drop sort also isn't working for M2M tables, but I don't think that's related.

[Dump20180227.zip](https://github.com/directus/directus/files/1761369/Dump20180227.zip)

[2018-02-27 06:49] treechime commented on #2080
It displays correctly when you edit an existing row and save as well (with or without making a change), not just adding a new row. It's happening to me with a single file interface.

[2018-02-27 10:19] pawlisiak opened #2081 "6.4.7 installation issue"
## Version Info
  - Directus version and branch: 6.4.7 / master
  - PHP version: 7.0
  - MySQL version: 5.6.35
  - Web server: Apache

## Actual Behavior
After installation there is some kind of warning on step 4 (//host/installation/index.php?step=4).

## Steps to Reproduce
 1. Clone the repo
 2. Install composer dependecies
 3. Run installation
 4. Fill all forms with valid database data

## Sch

[2018-02-27 10:22] pawlisiak opened #2082 "6.4.7 Add user issue"
## Version Info
  - Directus version and branch (Or commit hash): 6.4.7
  - PHP version: 7.0
  - MySQL version: 5.6
  - Web server: Apache

## Expected Behavior
Clear instalation (with issue from #2081) - click on "add user" button should open the window to fill user data.

## Actual Behavior
There is red notification.

## Schema Dump, Logs, or Screenshots
Error
Error: Uncaught TypeError: Cannot r

[2018-02-27 11:15] spawnrider opened #2083 "Group is not set when you disable a user"
## Version Info
- Directus version and branch: Using Directus Docker 6.4 version
- PHP version: 7.1.2
- MySQL version: 5.5
- Web server: Apache
- OS name and version: Windows 10

## Expected Behavior
Disable an specific user by :
- Select "Inactive" value
- Click "Save" button
- Return to the previous screen (user list or group screen) without any issue

## Actual Behavior
When you click on the sa

[2018-02-27 11:31] spawnrider opened #2084 "Unable to select 'User' in User Interface type after an table import"
## Version Info
- Directus version and branch: Using Directus Docker 6.4 version
- PHP version: 7.1.2
- MySQL version: 5.5
- Web server: Apache
- OS name and version: Windows 10

## Expected Behavior
I imported an table from another environment.
I want to manage it on Directus.
This table contains a column of type INT(11).
This column was of "User" User interface type on the source environment.
It

[2018-02-27 11:59] spee commented on #2081
I just had this same issue. The unexpected character seems to be introduced here: https://github.com/directus/directus/commit/a86e78eaadd7c06c13d849979035f119f1ed7a45#diff-36b0ca5a7194f4fb4cfc3cbeb6647452R31

[2018-02-27 13:37] rijkvanzanten commented on #2084
Good catch!

[2018-02-27 13:38] rijkvanzanten commented on #2084
The interface should ideally be a relational one. The user interface as is uses `INT` as datatype, so there must be some other magic going on why it's not showing up..

[2018-02-27 13:42] rijkvanzanten commented on #2083
This error comes from the API directly, meaning that we can fix it by either sending over the `group` on this save as well from the app, or using a `PATCH` request to save just the `status` change. The second is cleaner (and what we'll be doing in 7.0), but is probably way harder to implement in 6.x..

[2018-02-27 13:42] rijkvanzanten commented on #2081
Looks like Twig is trying to parse the Handlebars template..? @WellingGuzman

[2018-02-27 13:47] rijkvanzanten commented on #2033
We're rebuilding the complete sorting / view logic of Directus in version 7.0, which is in active development and scheduled for a (beta) release end of Q2. Since that's taking up most of the time of our developers, non system-critical issues will be put on the backburner..

As always, a PR is to solve this is in 6.x is very welcome!

[2018-02-27 14:40] rijkvanzanten commented on #1935
With the core developer team working full time on the next major version (7.0), non-system critical issues like this one unfortunately get put on the back burner..

If anyone feels inclined to take a swing at this issue before we get to it: as always, a PR is very welcome 😄

The overlay gets openend here: https://github.com/directus/directus/blob/master/app/core/interfaces/single_file/interface.js

[2018-02-27 14:48] WellingGuzman commented on #2081
Thanks @pawlisiak for the report and @spee for pointing it out.

It was actually a handlebars `condition` instead of a twig's.

Closed by e4b4da6

[2018-02-27 14:48] #2081 closed

[2018-02-27 14:57] spawnrider commented on #2084
**A temporary workaround  :**
I am using a many to one association with the **directus_user** table and set this for the **Visible Column Template** :
`<a href="/users/{{id}}">{{first_name}} {{last_name}} {{id}}</a>`

By doing this, you can click the item field to be redirected to the linked user but you cannot see his picture.

[2018-02-27 14:59] spawnrider commented on #2083
This is actually the case, a PATCH request is fired with `{status: 2}`
IMHO, it's not an API issue but an local validation issue because the Group is not correctly set....

[2018-02-27 15:13] rijkvanzanten commented on #2083
Oh! That opens up perspectives.. The user edit view uses a regular edit view, so either the interface that is used doesn't call the 'value changed' code or the value is set to nothing

[2018-02-27 16:51] moeomer opened #2085 "updateFile API does not upload file"
## Version Info
Directus Build 6.4.3
File adapter: S3

## Expected Behavior
Using updateFile API, one can replace a file using base64 data that is then uploaded using the file adapter.

## Current Behavior
updateFile succeeds, albeit only updating file metadata (e.g. tags) and not uploading the file

## Steps to reproduce
1. Call updateFile with base64 data

[2018-02-27 18:26] WellingGuzman commented on #2082
Thanks @pawlisiak for reporting this, it was been fixed by 51f8cbc. It will be release later today on `6.4.8`

[2018-02-27 18:26] #2082 closed

[2018-03-01 11:54] michchan opened #2087 "How to implement storage adapters other than S3"
The documentation (6.4.0) just mentioned how to implement S3
but is there any guide to implement others, say dropbox, one drive etc.?

[2018-03-01 18:58] neosin opened #2089 "AWS, installed fine but admin login = Server error occurred"
## Version Info
  - Directus version and branch:  6.4.8 3d9f609
  - PHP version: 7.2.2
  - MySQL version: 5.7.12
  - Web server: Apache 2.0
  - OS name and version: ubuntu16.04.1

## Expected Behavior
user login form should validate user/pass and enter cms

## Actual Behavior
"Server error occurred" when pressing login button
No log files generated

## Steps to Reproduce
 1.  upload unpacked files

[2018-03-01 19:51] neosin commented on #1992
@GaneshKandu thanks for this post, setting permissions on "/customs/" let me finish installation

[2018-03-01 20:43] neosin commented on #2089
ok resolved it

During installation a Ubuntu command overwrote some of the apache conf files and since apache2.conf has higher hierarchy it wasn’t applying the mod_rewrite

**aen2mod in 16.04 LTS does this**

[2018-03-01 20:47] neosin commented on #2089
this ticket can be closed

[2018-03-02 01:55] WellingGuzman commented on #2089
Glad you resolved the issue. thanks for the clarification.

[2018-03-02 01:55] #2089 closed

[2018-03-02 17:54] ninjabachelor opened #2090 "Content not saved if date field is empty, even if it's not required. Error received: 'Not a valid date'"
## Version Info
- Directus version and branch: 6.4.5
- PHP version: 7.1.13
- MySQL version: latest
- Web server: nginx
- OS name and version: Ubuntu 16

## Expected Behavior
Save content with empty date if it's not a required field.

## Actual Behavior
If the content has a not-required date field, the content is not saved. The error shown is: 'Not a valid date'.

## Steps to Reproduce
1. Create a

[2018-03-02 18:37] rijkvanzanten commented on #2090
Hey @ninjabachelor! In what browser does this happen?

[2018-03-02 21:38] ninjabachelor commented on #2090
Hi @rijkvanzanten ,
I'm using Chrome and Firefox on Mac

[2018-03-05 03:31] rajiteh opened #2091 "mysql error trying to reset the password using cli"
## Version Info
  - Directus version and branch (Or commit hash): getdirectus/directus:6.4.8 (image id: sha256:d7f0765cf2260116d373ff5410a93d3b3c2ae9bb95ec6757ae262f35b450a225)
  - PHP version: `PHP 7.1.14 (cli)`
  - MySQL version: 5.7.21

## Expected Behavior

User's password is changed to the supplied argument of the cli command.

## Actual Behavior

Command fails with a PDOException due to `sal

[2018-03-05 15:43] ca057 commented on #2077
Thanks for the help - till 7.0 is out I can do it the not so good way ;-)

[2018-03-07 15:57] jroxendal opened #2093 "Bookmarks should store table filters"
## Version Info
  - Directus version and branch (Or commit hash):
https://github.com/directus/directus/commit/62eb6d15818c7e021b836d3ad8c6f1f014210101
  - PHP version: 5.6.23
  - MySQL version: mysql  Ver 15.1 Distrib 10.0.23-MariaDB
  - Web server: (Ex. Apache, nginx or IIS?) Apache
  - OS name and version: some linux server

## Expected Behavior
When viewing a table and selecting a filter (over,

[2018-03-08 12:39] lokers commented on #2080
guys, any hint how to fix this? I can give it a go, but would be nice if someone can point me into the right direction to speed things up...

[2018-03-09 10:48] WellingGuzman commented on #2091
Thanks @rajiteh for the report.

This has been fixed by https://github.com/directus/directus/commit/74d79e609450734f116517412f2419ceae5e795c

[2018-03-09 10:48] #2091 closed

[2018-03-09 10:53] WellingGuzman commented on #2093
Hey @jroxendal I don't see to understand what's the problem, the expected behavior you are describing seems to be what bookmarks does. or am I missing something? the bookmark store a set of filter information that will reflect the listing when the items changes.

[2018-03-09 20:14] mjcella commented on #2058
[Here's](https://drive.google.com/file/d/1-jvpq58esyiGGiUbBWZcFpWX4Um9ZBvC/view?usp=sharing) the SQL commands that I think would be necessary to create the schema that's producing this issue.

After the tables are created, add some records in the offices and elections tables. Then go to /settings/tables/races_test3, create the required assocations with an office and an election, and click save. Th

[2018-03-12 08:33] jroxendal commented on #2093
I'm glad we're agreed on what the bookmarks _should_ do :) Lemme see if I can pinpoint the buggy filter behavior in a more minimal example, I'll get back to you.

[2018-03-12 19:47] Cruddy56 opened #2095 "How can I save cropped images?"
Hi, I'm developing custom Cropper Interface, based on cropperjs. Almost everything works, there are only two things left to be done. That is: to save the cropped images and to make them available throught API.

And there is a question: How can I do that?

I've tried to save/upload cropped images in similar way as in Single File Interface(this.fileModel.setFile(...)), but it didn't work, as I expec

[2018-03-13 09:11] jroxendal commented on #2093
So I started from a clean directus-docker, added a table 'table1', added a row 'thing' and created to things, 'thing1' and 'thing2'. Then:
1. add filter thing == 'thing2'. Create bookmark.
2. switch back to main (non-bookmark) table view. click 'x' to remove current filter and see both things.
3. switch back to bookmark. filter is no longer active.

The loopy-ness of the gif makes it a bit hard to

[2018-03-13 10:51] rijkvanzanten commented on #2093
@jroxendal the bookmark (including filters) should be saved to the DB. Does the bookmark contain the filters after a hard refresh?

Trying to figure out if the application state is out of sync or if maybe something goes wrong while saving the bookmark.

We’ve redesigned the data flow for directus 7.0 and I can confirm that filters persist correctly in the next version 😄

[2018-03-13 11:32] WellingGuzman commented on #2093
Hey @jroxendal, can you share a schema, I tried to reproduce this on the last commit on master branch and it is working on my tests table.

As Rijk asked before, does the bookmark record on your table has the filter column has data?

[2018-03-13 11:47] WellingGuzman commented on #2095
Are the cropped image the original image or the thumbnail of the original image?
Are you getting any error? or what exactly is not working?

As you mention `setFile` https://github.com/directus/directus/blob/2c1135cbb44f4157d5e919527ec7baa8b06876ee/app/core/interfaces/single_file/interface.js#L121
Set the data of the file, but this method expect a [File Object](https://developer.mozilla.org/en-US/

[2018-03-13 11:47] #2095 closed

[2018-03-13 14:05] jroxendal commented on #2093
Hey,

I redid the test, first making sure to update to the latest from docker hub (6.4.5), which I hope is new enough. In my soon-to-be-production setup we're at latest from master and are having the same issue, so version mismatch seems an unlikely culprit.

The results were the same, the filter data is not stored together with the bookmark, which comes out as:
(7,1,'bookmark_thing2','tables/tabl

[2018-03-13 16:22] WellingGuzman commented on #2093
Thanks for the database dump, I will give this a look as it seems to be an app bug, due to the fact that the bookmark record has an empty filter.

We will get back to you as soon as We got something.

[2018-03-13 16:29] danieljones97 opened #2096 "SVG doesn't show preview"
When uploading SVG's files, the preview does not display, giving the impression the file was unsuccessfully loaded, however when clicking on the image to get an enlarged preview, it shows that the image has in fact been successfully uploaded. See screenshot below.

## Version Info
  - Directus version: 1.1
  - PHP version: 5.6.0
  - MySQL version: 5.5.55
  - Web server (Apache): 5.5.1

## Expected

[2018-03-13 16:58] jroxendal commented on #2093
Great, thanks. I’m looking forward to version 7, keep it up!

[2018-03-13 17:07] rijkvanzanten commented on #2096
Hey @danieljones97! Thanks for the heads up. This is a duplicate of issue #2062

[2018-03-13 17:07] #2096 closed

[2018-03-14 05:33] WellingGuzman commented on #2093
Hey @jroxendal, an update:

Your bookmark are saving filters information in `directus_preferences`, I realized you were sharing the `directus_bookmarks` table records, which is just a simple table for creating links.

[code]

**thing%3Alike%3Athing2** is the filter.

I still wonder when you hit ok, on creating the bookmark, you are sent to the actual bookmark, is this something happening to you or

[2018-03-14 08:29] Cruddy56 commented on #2095
None of them. What I need to do, is to add additional versions of image for different aspect ratios(16:9, 4:3, etc.), and than when I use API to request json object (ex.: "http://example.com/directus/api/1.1/files/1"), I want to receive something like this:
[code]

[2018-03-14 09:19] jroxendal commented on #2093
Ah, yeah, you're right about the filter string appearing in directus_preferences. And I checked now, it's still there after I remove the filter in the main table view (by clicking the little 'x'). So it seems that the app isn't respecting the bookmark filter under directus_preferences.

Immediately after bookmark creation:
<details>

[code]
</details>

After clicking 'x' in main table view (`/tabl

[2018-03-14 17:50] philleepflorence commented on #1935
I was trying to tackle this, but I cannot find `/app/core/single_file/interface.js`, I can only see `/app/core/single_file/input.handlebars` in that folder.
I am using Build 6.4.8.
Please advise.

[2018-03-14 18:34] rijkvanzanten commented on #1935
@philleepflorence The build branch has all those `.js` files bundled into 1 main `directus.min.js`. You have to use the un-bundled version straight from the `master` / `develop` branch (which uses `require-js` to debug this

[2018-03-14 18:36] philleepflorence commented on #1935
Ah okay, thanks!
I will pull the develop branch later and go through.

[2018-03-16 13:23] recumbentbirder opened #2097 "Production mode for error suppression?"
## Version Info
  - Directus version and branch (Or commit hash): 6.4.3
  - PHP version: 7.0.22
  - MySQL version:
  - Web server: (Ex. Apache, nginx or IIS?) Apache/2.4.18 (Ubuntu)
  - OS name and version: Linux Ubuntu Xenial

## Expected Behavior
On setting `DIRECTUS_ENV`, I' d expect to suppress red popups in the user backend, according to docs and comments in api/config.php:

``
/**
 * DIRECTU

[2018-03-16 14:20] rijkvanzanten commented on #2097
Hey @recumbentbirder, thanks for the heads up!

In the next major version, we’re not displaying the JS errors in notifications at all, but will limit it to something more generic and user friendly. The full error with debug info will be in the dev console.

[2018-03-16 15:08] tumraja opened #2098 "How to create a custom plugin that extends the base core plugin from tinymce?"
I have been searching and reading on the documentation for the directus. The Custom Interfaces section doesn't explain how to implement custom plugin from tinymce library.

I want to add custom plugin in the WYSIWYG_FULL by extending the core plugin base WYSIWYG_FULL.

I want all my custom plugins should be located in the custom directory but still using the core infrastructure.

Would you please

[2018-03-16 16:08] rijkvanzanten commented on #2098
Hey @tumraja! What are you thinking of adding? If it's useful for everyone, we could also merge it in the main repo!

You should be able to copy the wysiwyg_full interface to the customs folder and customize it however you want.

This is what the customs folder does. The app itself doesn't differentiate between interfaces in the core folder vs the customs folder. The split is just there to make su

[2018-03-16 20:30] WellingGuzman commented on #2095
@Cruddy56 In that case:

- Create a custom endpoint that saves the file to the thumbs directory
- Add a filter hook that adds the new params: `four_three_url`, etc. every time you fetch data from files table. ([Directus Hooks](https://github.com/directus/docs/blob/master/developer-guide/hooks.md))

[2018-03-17 06:54] adbutler123 commented on #1982
@jopi2016, I feel so stupid reaching out like this but I don't know how to move forward if I don't. I'm familiar with the macbook rather than windows, if that makes any since after I finish.

How in the world did you get directus to install on windows using an *amp program in the first place? I've gotten as far as establishing the database connection, and after that, all else fails. For me, the in

[2018-03-17 07:29] adbutler123 commented on #1982
@WellingGuzman, I edited the conf-sample.php file that is in the API folder to match my database credentials. Then I go to https://demo.getdirectus.com/directus (I saved the directus folder as "directus" in htdocs), and I attempt to sign in with both my email and database credentials. Neither work. Seems like I'm missing a huge chunk of info here, and I'm working with windows so I only have Comman

[2018-03-17 07:30] adbutler123 commented on #1982
Oh, also, I did save the edited conf-sample.php file as conf.php.

[2018-03-17 07:32] adbutler123 commented on #1982
"Wrong username and/or password"

[2018-03-17 07:38] WellingGuzman commented on #1982
You need to change `config_sample.php` and `configuration_sample.php` and set `DIRECTUS_PATH` to `/directus/` in `config.php` if you set directus inside a subdirectory named `directus`.

and do these steps in your terminal/command prompt: https://github.com/directus/docs/blob/master/developer-guide/cli.md#install-module

Or forget about the renaming the config and go to `yourdirectus.local/install

[2018-03-17 10:40] tumraja commented on #2098
This is very usefull and it would be nice to be merge to the repo and have a documentation that explains how to develop a custom working plugin either as a standalone or part of the toolbar-options of wysiwyg_full.

As a developer, we are using quite alot Directus, We have to create plugin for different control, we need to have a clear path to do this.

How the custom plugin can be linked or hooke

[2018-03-17 19:38] rijkvanzanten commented on #2098
You’ll be pleased to hear that we’ve redesigned how extensions are built and distributed in the next major version (7.0)! We’re even working on a marketplace to allow developers to host and distribute these extensions in a centralized way 😄

Would you be able to provide the example for this? Thank you.

(I might understand your question wrong, but) you don’t. You copy it to the customs folder, so

[2018-03-18 21:20] WellingGuzman commented on #2097
Hey @recumbentbirder, if you are not seeing php error on the API this is working as expected.

On the web app we do not have options to suppress these notification errors yet.

I will close this unless it's a bug related directly with php displaying errors.

[2018-03-18 21:20] #2097 closed

[2018-03-18 21:34] WellingGuzman commented on #2058
I see what you mean @mjcella while this seems confusing, it was actually as expected. any change you make to the columns are saved immediately and doesn't require to click the save button unless you want to make a change to the other fields.

See the warning above the table:

<img width="395" alt="screen shot 2018-03-18 at 5 32 26 pm" src="https://user-images.githubusercontent.com/1531291/37571401

[2018-03-18 21:34] #2058 closed

[2018-03-19 12:36] Cruddy56 commented on #2095
Ok, I've created a filter hook and it almost work. All I need, is to somehow "get" a url to thumbs.

But I'm not sure how to create a custom endpoint, and how to use it to save new thumbs(16:9, 4:3, etc.).
I think that example of creating and using it in js could help me a little.

Is it possible to save multiple thumbs at once? For example by creating a collection/array of files to save?

[2018-03-19 17:58] EnricoMonese opened #2099 "Misleading message for request-token error"
When doing `/auth/request-token` for a user that has no _key_ the error message is "Email or password incorrect", but the issue is the missing token not the credentials.

Is this by design?

Somewhat related to #1619

[2018-03-19 18:10] rijkvanzanten commented on #2099
Hey @EnricoMonese!

This doesn't sound like intended behavior!

[2018-03-19 21:41] WellingGuzman commented on #2099
Thanks for the report @EnricoMonese.

This has been fixed by https://github.com/directus/directus/commit/164c09556d60bb0b4b72f4610537c54e0a0d01e6 and will be part of Directus `6.4.9`

[2018-03-19 21:41] #2099 closed

[2018-03-20 00:49] lastlink commented on #1749
I just barely cloned the latest and launched it. I tried to create a many to many and it had the same yellow triangle and was unable to delete it

[2018-03-20 12:26] rijkvanzanten commented on #1749
(Just speculating here), but could it be possible that it blocks every interaction as long as the column isn’t set up properly? That’s unexpected and unwanted behavior of course, but could be what is going on here.

[2018-03-20 12:58] lastlink opened #2102 "no clear way to register a user"
I can't seem to determine how to register users through the public group. I gave the public group access to add to the directus_users table. I am able to add users using my admin authorization token. Nowhere in the readme or docs say anything about registering users for the public. Is there some public api key in my config.php somewhere?
I guess I could try to create a anonymous user group with th

[2018-03-20 13:36] rijkvanzanten commented on #2102
@WellingGuzman @benhaynes What are your thoughts on this?

[2018-03-20 13:36] #2098 closed

[2018-03-20 13:38] rijkvanzanten commented on #2093
At the moment, all core developers are working fulltime on the next major version (7.0) of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

Ps. I can confirm this is working as expected in the re-build 7.0 😉

[2018-03-20 13:39] rijkvanzanten commented on #2046
Closed due to inactivity. If anyone else experiences the same issue, please let us know and we'll reopen the issue.

[2018-03-20 13:39] #2046 closed

[2018-03-20 13:43] rijkvanzanten commented on #2078
This is a duplicate of #1567

[2018-03-20 13:43] #2078 closed

[2018-03-20 13:43] rijkvanzanten commented on #1567
At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

[2018-03-20 13:45] rijkvanzanten commented on #1848
At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

[2018-03-20 13:47] rijkvanzanten commented on #1891
At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

[2018-03-20 13:49] rijkvanzanten commented on #1900
We're redesigning how sorting works in the next major version (7.0). We have taken this into consideration.

[2018-03-20 13:49] #1900 closed

[2018-03-20 13:50] rijkvanzanten commented on #1905
At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

Ps: This already has been implemented in the alpha version of 7.0

[2018-03-20 13:52] rijkvanzanten commented on #1906
@WellingGuzman Any updates on this? Has it been "officially" solved in later builds?

I'll close this for now as I'm not able to reproduce it on the latest version. If anyone else runs into this issue, please let us know and we'll reopen the issue

[2018-03-20 13:53] rijkvanzanten commented on #1940
At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

[2018-03-20 13:56] rijkvanzanten commented on #1949
@benhaynes We should discuss this a little more seeing that this isn't an implementation bug, but rather a design-problem. Can we / do we want to automatically default to the first status as defined in `configuration.php` (`directus_settings` in 7.0)?

[2018-03-20 13:58] rijkvanzanten commented on #1950
@WellingGuzman Can you confirm if this has been fixed in the meantime (in either the current _or_ next version of the API)?

[2018-03-20 13:59] rijkvanzanten commented on #1975
At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

Ps. this has been fixed in 7.0

[2018-03-20 14:00] rijkvanzanten commented on #1977
At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

[2018-03-20 14:08] lastlink commented on #1543
Any updates on this? It would be very useful for normal users to use the api as well.

[2018-03-20 14:09] rijkvanzanten commented on #1982
Hey @adbutler123!

Feel free to join us [over on Slack](https://slack.getdirectus.com) if you keep having troubles installing the platform or have any other questions! As we all know, trying to learn webdev & learning the ins and outs of a new platform can be quite a bumpy ride.

I'll close this issue seeing it's not a bug or issue in the platform itself. We're hard at work on a complete rewrite o

[2018-03-20 14:09] #1982 closed

[2018-03-20 14:14] rijkvanzanten commented on #1543
@lastlink Normal users can use the api! You can request a user's token by sending his/her credentials in a `POST` request to `/api/1.1/auth/request-token`: https://api.getdirectus.com/1.1/#Authentication. Once you have the user's token, you can use it to authenticate any request just like you would with an admins token 👍

[2018-03-20 14:15] rijkvanzanten commented on #1979
At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

[2018-03-20 14:17] rijkvanzanten commented on #1983
At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

[2018-03-20 14:18] rijkvanzanten commented on #1985
At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

We've reworked the exception handler in the next major version of the platform (7.0), AFIAK this problem shouldn't occur anymore in that version. @WellingGuzman could you co

[2018-03-20 14:34] benhaynes commented on #2102
I think we should 100% honor the permissions system – so if you want to enable Create access for `directus_users` for the Public group... then that should work as expected.

Also, I don't know if this matters, but perhaps it would be nice to have a specific "Register User" endpoint? Would that just be an alias helper, or would it be useful to combine the password hashing into a dedicated endpoint?

[2018-03-20 14:34] rijkvanzanten commented on #1949
Right!

[2018-03-20 14:38] rijkvanzanten commented on #1949
At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

We'll make sure this isn't a problem in 7.0, but nonetheless: if anyone wants to fix this in 6.x, a PR is welcome!

[2018-03-20 14:38] horngperng-pxs opened #2103 "Many-to-one not showing anything"
## Version Info
  - Directus version and branch (Or commit hash): #2094
  - PHP version: 7.2.3
  - MySQL version: 5.7.21
  - Web server: Apache
  - OS name and version: ubuntu0.16.04.1

I created two tables pages and subpages where one page has many subpages.
In the subpages table, I created a many-to-one column that refers to the pages table.

When I come to add a subpage, the clients input seems

[2018-03-20 14:41] rijkvanzanten commented on #2103
Hey @horngperng-pxs! Have you entered the correct values in the `visible columns` and `visible columns template` interface options?

[2018-03-20 14:45] rijkvanzanten commented on #1990
We've reworked the nested item saving in 7.0 👍

I'll close this issue due to inactivity. It's most likely that the server timed out during save.

[2018-03-20 14:45] #1990 closed

[2018-03-20 14:46] rijkvanzanten commented on #1992
Thanks for the detailed list!

[2018-03-20 14:46] #1992 closed

[2018-03-20 14:47] rijkvanzanten commented on #1999
Closed due to inactivity

[2018-03-20 14:49] rijkvanzanten commented on #2006
At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

[2018-03-20 14:52] rijkvanzanten commented on #2103
Just to make sure, could you checkout [the article I wrote on setting up relationships](https://medium.com/directus/understanding-relationships-it-isnt-complicated-35e0dcf78450) to check if it matches 🙂?

So your visible columns would be set to something like `title,id` with your visible columns template `{{ title }} ({{id}})` or something similar to render the data

[2018-03-20 14:53] rijkvanzanten commented on #2012
At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

[2018-03-20 14:54] rijkvanzanten commented on #2020
Update: I can confirm that the next version of the API (under development: [directus/api](https://github.com/directus/api)) is significantly faster. This new version of the API will be the default for Directus v7 and onwards

[2018-03-20 14:55] rijkvanzanten commented on #2021
This issue has been closed due to inactivity

[2018-03-20 14:55] #2021 closed

[2018-03-20 14:56] rijkvanzanten commented on #2022
This is confirmed working in the next major version (7.0) 🙂

[2018-03-20 14:57] horngperng-pxs commented on #2103
Thank rijk! its my own mistake, the visible columns should be title instead of Title... my bad..

[2018-03-20 14:57] rijkvanzanten commented on #2103
Glad you figured it out 😄!

[2018-03-20 14:57] #2103 closed

[2018-03-20 14:59] rijkvanzanten commented on #2024
This issue has been closed due to inactivity.

If anyone runs into the same issue, please let us know and we'll re-open the issue!

[2018-03-20 14:59] #2024 closed

[2018-03-20 15:00] rijkvanzanten commented on #2028
This issue has been closed due to inactivity

[2018-03-20 15:00] #2028 closed

[2018-03-20 15:05] vkammerer commented on #1950
I just tested it and I'm not getting the bug anymore

[2018-03-20 15:06] rijkvanzanten commented on #1950
Ah! Thanks :)

[2018-03-20 15:06] #1950 closed

[2018-03-20 15:08] rijkvanzanten commented on #2034
This is being implemented in the next major version of the API. Unfortunately, (due to the small core team size) we won't have the resources to implement this in the current version as well.

If anyone wants to take a swing at this (in 6.x) a PR is very welcome 😄

[2018-03-20 15:10] rijkvanzanten commented on #2055
You're right! The core team is currently reworking the docs for the next major version (7.0) and I'll make sure it gets added in there 👍

Glad you figured it out!

[2018-03-20 15:10] #2055 closed

[2018-03-20 15:12] rijkvanzanten commented on #2059
We've reworked the complete auth flow in the next major version of the platform (7.0), so this won't be a problem anymore.

Seeing the core team is working fulltime on this next major version, we unfortunately don't have the resources to implement this for 6.x as well. If anyone wants to take a swing at it; a PR is more than welcome 😄

[2018-03-20 15:15] rijkvanzanten commented on #2060
@WellingGuzman?

I'll close this for now, as (with my limited understanding of the backend stuff) I feel like you found the solution.

Excusi for the long wait 😬

[2018-03-20 15:15] #2060 closed

[2018-03-20 15:16] rijkvanzanten commented on #2061
@WellingGuzman Is there an open issue over at the `zend-db` repo? What is the state of this? If it's not something we're in control of, we should probably move this issue there.

[2018-03-20 15:17] rijkvanzanten commented on #2062
At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

[2018-03-20 15:17] philleepflorence commented on #2060
Oh sorry, yes this was resolved!

[2018-03-20 15:18] rijkvanzanten commented on #2080
@WellingGuzman any pointers for @lokers?

[2018-03-20 15:19] rijkvanzanten commented on #2083
At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

[2018-03-20 15:20] rijkvanzanten commented on #2084
At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

In 7.0, the user interface is being rebuild from the ground up. We'll make sure this issue doesn't happen in the new version 👍

[2018-03-20 15:21] rijkvanzanten commented on #2087
@WellingGuzman 🔔

[2018-03-20 15:22] rijkvanzanten commented on #2085
@WellingGuzman Could you confirm is this is still the case in the next major version of the API? Thanks 🙂

[2018-03-20 15:23] rijkvanzanten commented on #2090
At the moment, all core developers are working fulltime on the next major version of the platform, so I'll have to leave this open as a help-wanted. If anyone is inclined to take a swing at fixing this, a PR is very welcome 😄

This sounds like a somewhat easy fix. Accepting an empty string as a valid value (when the field isn't required) should do it.

[2018-03-20 15:32] DanielRuf commented on #2062
I might provide a PR when I find the time but it's good to add the `help wanted` badge in general as I am focusing on Foundation Sites at the moment =)

[2018-03-20 15:36] rijkvanzanten commented on #2062
Awesome @DanielRuf!

[2018-03-20 16:15] lastlink commented on #1543
I got this to work only after logging in as admin and generating an api token for the user then saving. Is there a way to have this token auto generate or do admins always have to go in and generate them for them? @WellingGuzman mentioned some 6.3 patch?

[2018-03-20 16:33] ksraghavendra opened #2104 "Unable to delete users"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests/voting please use the [Directus Request Tool](https://request.getdirectus.com/), or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be added to GitHub Issues for assignment.

[2018-03-20 17:32] lastlink commented on #1749
Well I managed to save this column w/out a name & had to access the database directly to give the column a name. Then I was able to make some changes.

[2018-03-20 17:40] lastlink commented on #2102
This would totally open up using directus for mobile apps. This seems mostly business focused now, but we need the ability to register users for customer facing apps.

I have been able to accomplish adding users (which should be registering) w/ a new public user group and a single user with only create users permissions. I was unable to assign a group to these new users & it's rather inconvenient

[2018-03-20 18:16] AteoMarcel commented on #2085
@ rijkvanzanten what major version do you mean exactly is there an update (coming) which is not yet on directus.io? In Api 1.1 (on directus.io) when I try to update a file with a put request I get no error, but instead of updating the file a new (defunct) file is uploaded.

I try it with a Put request to ".../api/1.1/files/67" (67 is the file id of the file I want to update).
I tried it both with

[2018-03-20 18:18] rijkvanzanten commented on #2102
@benhaynes we could / should write an Medium article on how to setup user management for your app using directus

[2018-03-20 18:19] rijkvanzanten commented on #2085
@AteoMarcel We're working on the next major version of the application (7.0) and api (2.0). Seeing a lot of stuff got rebuild in that upcoming version, I would like to verify if we got it fixed there already or if this issue got migrated over 🙂

[2018-03-20 18:24] rijkvanzanten commented on #2104
Hey @ksraghavendra!

I can't seem to reproduce this issue on my latest install..

Do you have some more specific information we can use to reproduce this issue? What browser / how did you install / any errors in api/logs / any errors in the devtools etc

[2018-03-20 18:55] BennerGe commented on #2102
I've got no problems to allow users to signup / register.
@lastlink Did you forget the `rows` at the end of the url?

`https://url/api/1.1/users/rows`

Have to say that i also allowed public users to view `directus_users`, don't know if this could be the problem, too.

[2018-03-20 20:40] lastlink commented on #2102
@BennerGe why would I need `user/row`? I'm not trying to list (GET) the users's, but create a new user using (POST). And that url endpoint does work w/ a user api token or authorization bearer.

[2018-03-20 20:46] BennerGe commented on #2102
Because that's how you create items:
https://api.getdirectus.com/1.1/#Create_Item

And the correct url is `https://url/api/1.1/tables/directus_users/rows`

[2018-03-21 02:55] WellingGuzman commented on #2102
@lastlink does the user get created? on 6.x we have a issue with Directus that the user must have permission to read to get the data back, otherwise the user get created/updated but the API returns a non-clear error that the user don't have permission, but what actually means is that the user doesn't have permission to read from the table.

Another thing to mention is to no confuse directus users

[2018-03-21 02:57] WellingGuzman commented on #2104
@ksraghavendra how are you trying to delete users? using the API or the web app?

[2018-03-21 04:13] treechime commented on #2033
I assume also tied this issue, is that if I try and sort by a M2M column (which doesn't work, but is applied to the database) and then refresh the page, I then get an error says `Server Error Unable to find the column [column_name]` which is correct because that column doesn't actually exist because it's an alias.

I assume this would be handled in the app sorting process that's not working.

[2018-03-21 05:40] MengdanCode opened #2105 "Nestable Folder not supported"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests/voting please use the [Directus Request Tool](https://request.getdirectus.com/), or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be added to GitHub Issues for assignment.

[2018-03-21 06:01] MengdanCode opened #2106 "Rollback Button not found in UI"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests/voting please use the [Directus Request Tool](https://request.getdirectus.com/), or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be added to GitHub Issues for assignment.

[2018-03-21 08:02] WellingGuzman commented on #2105
Hey @MengdanCode, this was planned for 6.4 but it ended up being under development for 7.x.

As this is being under development I will close this ticket.

[2018-03-21 08:02] #2105 closed

[2018-03-21 08:04] WellingGuzman commented on #2106
Hey @MengdanCode, this was initially planned for 6.4 but it didn't made the cut. This is being under development for Directus 7.0

[2018-03-21 08:04] #2106 closed

[2018-03-21 08:29] AteoMarcel commented on #2085
@rijkvanzanten ah ok thank you for the clarification!
So before the version 2.0 goes live, is there any possibility to update a file (via a put (or post) request)?
Or the possibility to delete a file via a http request?

Sorry if this question is not 100% related, to the issue, but it is something I kinda need to do now.

[2018-03-21 14:26] jedimonkey commented on #1999
Wait! this is still an issue - I've got a PR with a potential fix, but seems to not have resolution on the best solution.  I can understand that this may be a low priority bug, but I'd still like to fix it.  There is a bunch of comments on this in #2001, however no decision on if my PR can be merged.  Can someone throw some ideas at the PR?

[2018-03-21 14:42] rijkvanzanten commented on #1999
Ahh! Gotcha. I'll go through it right away!

[2018-03-21 21:20] biznlinks opened #2107 "Added items not showing in the table list screen"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests/voting please use the [Directus Request Tool](https://request.getdirectus.com/), or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be added to GitHub Issues for assignment.

[2018-03-22 01:28] alvsconcelos commented on #1203
I can do the Brazilian Portuguese translation!

[2018-03-22 03:35] WellingGuzman commented on #1203
Great @alvsconcelos! any question let us know!

[2018-03-22 03:37] WellingGuzman commented on #2102
In your example you don't set any user group, which is set to `null` (the default value)

[code]

[2018-03-22 14:46] Cruddy56 commented on #2095
Custom endpoint and filter hook work.
Did Directus somehow prevent php from saving files directly into the server?
I've tried with:
[code]
but it throws error:

so I've tried in other way:
[code]
end again it throws error:

ratios directory, and all subdirectories(free, etc.) are present.

Do you have any idea what am I doing wrong?

[2018-03-22 15:17] mdbarr73 opened #2108 "VARCHAR default "0" resets to null"
When saving a dropdown varchar column with default value of "0", the default value resets to null. Confirmed in dev tools, PUT request sends "0", response has null as default value.

## Version Info
  - Directus version and branch (Or commit hash): 6.4.7
  - PHP version: 7.1
  - MySQL version: Aurora MySQL 5.6.10a
  - Web server: Apache
  - OS name and version: Docker Directus

## Expected Behavio

[2018-03-22 16:14] benhaynes commented on #1203
Let us know how it goes @alvsconcelos – we would really appreciate you helping us add Portuguese to our supported languages! :)

I'll keep this ticket open for visibility.

[2018-03-22 16:36] honzabilek4 commented on #1203
Hi, I've started to work on Czech translation if this is helpful. I'm going to do it anyway, since we need it for a client.

[2018-03-22 16:59] benhaynes commented on #1203
Thank you @honzabilek4 ! That would be amazing! Each of these new languages opens up Directus to a whole new demographic of users, so we really appreciate it!

[2018-03-23 01:59] lastlink commented on #2102
I know I'm  figuring that out, but being able to set it is rather danger on creation b/c you could give  new user's admin abilities.

[2018-03-23 02:00] lastlink commented on #2102
@rijkvanzanten should this become a feature label instead of question?

[2018-03-23 02:18] treechime commented on #2080
I've really hackily patched this for an image field by adding `if(data.file) data.file = '<div class="media-thumb"><img src="'+ directusPath +'/storage/uploads/thumbs/'+ data.file +'.jpg" class="img landscape"></div>'; //where file is column name` to line 30 of `EntriesJunctionCollection.js`

You could do something similar for a different field by doing an ajax api call, but I'm not sure how you'd

[2018-03-23 08:50] BennerGe commented on #2102
That's the reason why I'm overwriting the group in the `table.insert.directus_users:before` filter.
But you're right, might be not the best solution.

[2018-03-23 11:57] lastlink commented on #2102
is this part of the core? how do you set filters?

[2018-03-23 13:10] konradwww opened #2110 "Import URL - not sanitised file names."
## Version Info
  - Directus version and branch (Or commit hash): 6.4.8
  - PHP version: 7.1.14
  - MySQL version: 5.7
  - Web server: Apache
  - OS name and version: Docker alpine:3.7

## Expected Behavior
If file imported from URL, the filename should not contain GET parameters.

## Actual Behavior
File imported from URL is saved with not sanitised filename.
`/9932b84ada4ac41fb8bf6734cd5dd33f.jp

[2018-03-23 13:25] rijkvanzanten commented on #2110
Thanks for the heads up @konradwww!

[2018-03-23 13:29] rijkvanzanten commented on #2102
So let me get this straight.

What we (ideally) want is the ability to create new users from the _public_ group. Eg everyone can register as a user. BUT, we want to be able to assign them to a specific group. We _don't_ want to allow the public user to set this group, as that would be a major security risk (the user can register themselves as `admin` and cause all sorts of trouble).

Does that sou

[2018-03-23 13:30] rijkvanzanten commented on #2102
Yeah! You can [add filters to do whatever you want](https://github.com/directus/directus/blob/master/api/configuration_sample.php#L121-L156) on certain events in `configuration.php`
@lastlink

[2018-03-23 13:39] rijkvanzanten commented on #2033
This has been fixed by #2109 thanks to @shevaroller and will be released to the `master` branch soon 👍

[2018-03-23 19:01] lastlink commented on #2102
ok maybe that would be easier than an extension, creating a new user create, add to default group & auto generate token. I may document my steps when I get a chance to work on it.

[2018-03-23 19:08] WellingGuzman commented on #2108
Hey @mdbarr73 does the column has `null` or `0` in the database? or is it only on displaying `NULL` on Directus?

[2018-03-23 19:09] WellingGuzman commented on #2107
Hey @biznlinks does this table has status interface? can you share the schema you are using?

[2018-03-23 19:14] WellingGuzman commented on #2102
I see this is not a bug but rather a question on how to create Directus users. what you can do is create a hook as @BennerGe says, or set the group column default value to whatever group you want, and set a default user group, or create a custom endpoint and let them create them through it.

I will close this to as this is not an actual issue, we can continue the conversation on how to implement t

[2018-03-23 19:14] #2102 closed

[2018-03-23 19:16] BennerGe commented on #2102
The upper block in my code example is only a check, if an user with the same `first_name` already exists. Want to build a community based on directus and I'm using the `first_name` field for the nickname. And I don't want users to have the same nickname.

So in your case this is probably not necessary, you only need the last part of the function.
[code]

[2018-03-24 03:18] WellingGuzman commented on #2108
Fixed by https://github.com/directus/directus/commit/e421072bbf9c48b91af56e22f97376ba32e7586b

[2018-03-24 03:18] #2108 closed

[2018-03-24 04:26] lastlink commented on #2102
As a note for this I added a [pull 36](https://github.com/directus/docs/pull/36) request linking to this issue. I didn't give the full notes on setup as they are somewhat clear here. I also was having difficulty seeing the guidelines for our doc/api documentation since the summary.md has been so radically changed from 6.3.5 to 6.4.0.

And to reiterate I was able to use

[code]

Without needing row

[2018-03-24 20:41] WellingGuzman commented on #2110
Closed by https://github.com/directus/directus/commit/54a185535e92c3d8e32306311cc9dfa4171c3dc4

[2018-03-24 20:41] #2110 closed

[2018-03-24 23:30] WellingGuzman commented on #2090
Fixed by https://github.com/directus/directus/commit/78ce1bd7042d3016578cccc9dca4b1e510cb892b

[2018-03-24 23:30] #2090 closed

[2018-03-25 21:03] biznlinks commented on #2107
@WellingGuzman  please see the attached schema.

Regards,

<img width="1458" alt="screen shot 2018-03-25 at 4 01 54 pm" src="https://user-images.githubusercontent.com/22963787/37879918-e94c6c9e-3045-11e8-8011-7e344bda0db6.png">

[2018-03-25 21:41] WellingGuzman commented on #2107
@biznlinks, is the primary key string or numeric? can you share a mysql dump that we can use to reproduce this issue?

[2018-03-26 17:48] nicolerego opened #2111 "us preview"
**For security issues, please email support@getdirectus.com directly.**

To help us resolve your issue more quickly, please use the following template:

For feature requests/voting please use the [Directus Request Tool](https://request.getdirectus.com/), or come chat with us through [getdirectus.com](http://getdirectus.com). Accepted feature requests will be added to GitHub Issues for assignment.

[2018-03-26 17:48] #2111 closed

[2018-03-29 22:12] Namide opened #2113 "Bad redirection during install"
## Version Info
  - Directus version and branch : master, build and develop
  - PHP version: 7.0.10
  - MySQL version: ---
  - Web server: (Ex. Apache, nginx or IIS?) Apache
  - OS name and version: Windows 10 (WAMPSERVER 3.0.6)

## Expected Behavior

Installation of Directus

## Actual Behavior

Bad redirection from http://localhost/inspire/back/ to http://localhost/pire/back/installation/index.p

[2018-03-30 08:58] WellingGuzman commented on #2113
Hey @Namide, can you please show us the complete apache virtualhost?

[2018-03-30 19:17] Namide commented on #2113
Hi @WellingGuzman, I've used an alias with this config:

[code]

But because you told me about virtual host I've just change my config for a virtual host and now it's success! It's working!

My new config is:
[code]

Thank's for your help